[2015-04-17 10:07] adriannatabio opened #302 "Error on creating new user using $meteor.createUser()"
`TypeError: undefined is not a function
    at angularMeteorUser.service.createUser (http://localhost:3000/packages/urigo_angular.js?de59425af905f8654e5994ef73c4dfebc1bb688e:1564:16)
    at Scope.$scope.save (http://localhost:3000/client/scripts/controllers/ManageUsers.js?556feb5b90057c45380bbe93ad2a21849402b3fe:11:13)
    at $parseFunctionCall (http://localhost:3000/packages/angularjs_angular.js?

[2015-04-17 12:38] pward123 commented on #258
Done. PR #303

[2015-04-17 14:22] barbatus commented on #299
First of all angular.copy is a deep copy which means it might be really slow.
Secondly, Angular seems to add $$hashkey when an array is used in ng-repeat only which means it's not all the time. As a result, I'd suggest to leave it as a responsibility of user to clean an object before saving.

[2015-04-17 14:39] barbatus commented on #299
As a second I thought, I had potentially even more useful idea: since in most cases objects to save will have simple structure, it makes sense to check and clean only two first levels (object itself and objects in any subarray) and only otherwise throw an exception on the collection.insert if it's somewhere deeper.

[2015-04-17 17:53] Tallyb commented on #300
Could not get that far, unfortunately. I am stuck on TypeError: The first argument of $collection must be a Meteor.Collection object.
I can share the code with you, if interested.

[2015-04-17 21:50] Urigo opened #304 "Better handle opening and closing subscriptions"
We want to help developers handle subscriptions more easily.

We have internal discussions about that and also many people from the community started coming up with interesting solutions.

I'm opening this issue so that we will move the discussion here so everyone can affect the solution.

Starting point:

Right now there are 2 general approaches with different solutions for each of them:
1. Route

[2015-04-17 22:17] Urigo commented on #300
Yes please do

[2015-04-17 22:32] Urigo commented on #302
Can you show you .meteor/versions file?
do you have the accounts packages in your project?

[2015-04-18 00:27] revov commented on #304
@Urigo, what works for me is a simple Factory that I use in my project to help me with the huge overhead of cleaning up subscriptions, collections and objects:

[code]

Note that I am using lodash to get the variadic array of arguments, but this can easily be achieved with vanilla Javascript (considering Meteor's deprecation of Underscore js). This is a really simple solution that won't fit all ne

[2015-04-18 04:00] adriannatabio commented on #302
.meteor/versions

`accounts-base@1.2.0
accounts-password@1.1.1
aldeed:collection2@2.3.3
aldeed:simple-schema@1.3.2
angularjs:angular@1.3.15
angularui:angular-ui-router@0.2.13_3
autoupdate@1.2.1
base64@1.0.3
binary-heap@1.0.3
blaze@2.1.2
blaze-tools@1.0.3
boilerplate-generator@1.0.3
callback-hook@1.0.3
check@1.0.5
dburles:mongo-collection-instances@0.3.3
ddp@1.1.0
deps@1.0.7
ejson@1.0.6
email@1.0.6

[2015-04-18 17:14] auterium commented on #299
I came across this issue myself and the problem is bigger when you are using autosave: you cannot clean the $$hashKey manually. As a quick fix I looked for the $$hashKey on the setDiff and just deleted it, but I don't think is the best approach to it.

I like @Urigo approach, but I'm also concerned abut the performance, though for my case it wouldn't be a big deal as the objects & collection are v

[2015-04-18 17:22] auterium commented on #300
@Tallyb I ran across that same error and the problem is tmeasday:publish-counts's version. The package stopped working properly on versions 0.3.5 & 0.3.6, but version 0.3.7 (latest) is properly working.

[2015-04-18 18:11] auterium commented on #304
@revov I really like your approach as it's a self-contained, non-invasive one.

I did a different approach myself, though I did it within angular-meteor project. I've created the pull request with my proposal. I added the example of using it with $state, as is the way I usually work, but it can also be used with routes or any other method.

What do you guys think of a combination?
[code]

Of cours

[2015-04-19 03:42] Tallyb commented on #300
Do I need to do anything explicit to update?

[2015-04-19 03:44] auterium commented on #300
Just execute:meteor update tmeasday:publish-counts

[2015-04-19 07:56] Tallyb commented on #300
@auterium - I do not have this package in my project. My angular meteor was updated to 0.8.4 and the error still occur.

[2015-04-19 09:58] barbatus commented on #299
@auterium If it's explicit save -- it's ok but what about autosave. How do you suppose to pass all that params to autosave? Also, how that function (3d in the list) is supposed to be used? Should it be called on failure and then collection insert will restart or before calling insert? I guess the latter - then it's the same as cleaning it before passing to save, isn't it.

[2015-04-19 12:42] auterium commented on #300
@Tallyb then you'll have to share your code to see where this is happening. I got said error thanks to that package (which is used by the tutorial) and thought you had the same one

[2015-04-19 13:06] auterium commented on #299
@barbatus sorry I didn't explained myself correctly.

I forgot to mention that those options should be passed to the $meteor.collection() or $meteor.object() methods, so when autosave is invoked, it's done so with such options.

The idea behind the cleaning function is to be used with the autosave.

[2015-04-19 13:09] Urigo commented on #302
I see, can you share more code for a reproduction?

[2015-04-19 14:16] netanelgilad commented on #304
There are a few things we need to handle when handling subscriptions.
 1. Getting the handle only from the ready promise is not good. That means that you get the handle only after the initial load of the subscription happened. What if the developer wants to stop the subscription before the initial load? That cannot be achieved right now. To solve this, I think we need to return the handle as a pro

[2015-04-19 14:58] netanelgilad commented on #299
Just a small issue. @Urigo if you remember we didn't remove the `angular.copy` because of performance (though it was also considered). We removed it because it caused problems with CollectionFS object. If you try to save a File object (like CollectionFS does) then `angular.copy` causes problems when copying a File object.
So anyway, `angular.copy` should be avoided for those situations..

[2015-04-20 15:53] smoke commented on #304
I really like @revov solution - it feels somehow complete and @netanelgilad comments are all valid - the subscribtionHandle could be of use just in case.

Also I just want to stress on a point to consider - subscriptions could be used in services, where there is no scope, so the option to subscribe should also support such cases.

[2015-04-22 03:01] keith3 opened #308 "Current user keep in the users collection search result."
There is a user manage module in my application, I added **account-base** package, search operation works well with others collection but not users collection, uses search result always contain the current user. (same code with your tutorial)

Meteor version: Meteor 1.1.0.2
Packages:
- accounts-base                          --- 1.2.0
- accounts-password                   --- 1.1.1
- angularui:angu

[2015-04-22 19:17] #258 closed

[2015-04-23 17:20] Urigo commented on #274
@Xample I've created a pull request that solves that problem:
https://github.com/Xample/Meteor-Angular-Bootstrap-Boilerplate/pull/1

It's a workaround but it looks like it's the current way to handle this situation:
https://github.com/angular/angular.js/issues/4957
https://github.com/angular-ui/ui-router/issues/679
http://stackoverflow.com/questions/25334652/stateprovider-in-angularjs-not-renderin

[2015-04-23 17:20] #274 closed

[2015-04-23 20:24] Urigo commented on #272
Throwing more thoughts here...

#### There are a few DDP clients in Javascript, here is a list:
1. Asteroid - this is a nice solution that wraps DDP but also adds Meteor functionality on top of it.
I'm not sure we need those as we wrap those already...
also, the easier way for us to connect is with an Observe API and they are not supporting that yet:
https://github.com/mondora/asteroid/issues/23
W

[2015-04-23 20:47] Urigo commented on #295
@fullhdpixel looking deeper into that, this is an Onsen UI issue.
It is a clear problem if Jquery breaks your library and here is another example of that:
https://github.com/OnsenUI/OnsenUI/issues/529

[2015-04-23 20:47] #295 closed

[2015-04-23 20:51] Urigo commented on #308
@keith3 can you share your code?

[2015-04-24 10:33] MilosStanic opened #309 "Tutorial with ControllerAs syntax"
Hi Guys,

I tried completing the tutorial with somewhat changed examples, using controllerAs syntax as proposed by John Papa's style guide.
Everything went well until the step 12. I'm stuck implementing pagination with controllerAs syntax.
The `urigo:angular-utils-pagination` doesn't seem to work well in that setup.
The directive is rendered but the pagination itself doesn't seem to be working.
La

[2015-04-24 10:36] MilosStanic commented on #309
For the sake of complete picture, here's the view:

[code]

Note: I'm using angular-material, so I'm using `md-list` instead of `ul-li`

[2015-04-24 11:45] Tallyb commented on #309
off topic - can we enahnce the tutorial with addign angular material?

[2015-04-24 12:01] MilosStanic commented on #309
I would also like to know how to modify Meteor's login/register etc. templates to use angular material. Is it possible to override the default templates?

[2015-04-27 03:28] dohomi opened #312 "depend on angular:angular"
Hi Urigo,

With the new ```angular``` group you published ```angular:angular```package. Could you update your ```package.js```to depend on the new angular group?

[2015-04-27 20:48] Urigo commented on #302
Tested again and it work for me.
There is no reproduction so I'm closing, please re-open in case it hasn't been solved for you

[2015-04-27 20:48] #302 closed

[2015-04-28 00:02] Urigo commented on #304
@revov really nice solution!
I like when it is binded to the controller.
Question - why are you closing the collections?  I haven't seen something about that in Meteor's docs?

I've took your solution and @netanelgilad notes about adding it directly to the scope.
Here is my initial suggestion: https://github.com/Urigo/angular-meteor/commit/4315a6add8ffbce2dd730764288aa7c1f4dbe37d

It's still annoy

[2015-04-28 00:08] Urigo commented on #309
@MilosStanic
1. can you share a repo of your try?  it will be easier for me to look and solve
2. About changing templates, of course!  you have all the services here that you can use: http://angularjs.meteor.com/api/auth

@MilosStanic and @Tallyb actually it will be really cool to create accounts:ui with angular-material that gives you the forms out of the box!!

Would love your help on that

[2015-04-28 02:03] Urigo commented on #312
Fixed in 0.8.5

[2015-04-28 02:03] #312 closed

[2015-04-28 06:05] smoke opened #314 "angular.element() can not be called with a selector, because angular:angular does not depend and load jQuery like angularjs:angular did"
angular.element() uses jQuery if it is loaded prior angular itself, if jQuery is not loaded first it uses jqLite.
angularjs:angular did depend on jQuery and loaded it first, but with angular:angular this is not the case.

Change to angular:angular was introduced since v0.8.5 and this commit 8b0acbe.

So the issues is that ```angular.element()``` on its turn does not support arbitrary selectors and

[2015-04-28 06:26] smoke commented on #304
This is needed to free up resources (memory, CPU, bandwidth) of objects and maintaining them when they are not needed any more. Such usage is rarely the point of tutorials, so they omit it for the sake of keeping it simple, but this is really important thing in production applications.

Let me try and explain it with an example - lets assume you have page that lists details of a Party and Users go

[2015-04-28 06:43] netanelgilad commented on #304
Just to be a bit more specific on @smoke answer, if the collection is not stopped when navigating away the app will leak observe handles (on every $meteor.collection created). It will not leak documents from the collection (that is handled when you stop a subscription).

@smoke @revov  that is a good catch that we would have forgotten about :beers:

[2015-04-28 07:12] revov commented on #304
Yes, stopping subscriptions is equally important to stopping collections and objects.

However, I don't like the solution with attaching the subscribe function to the $rootScope. What if we are in a **directive's isolate scope**? We won't be able to use this utility in such cases even though we have a valid scope object because the isolate scope does not inherit the properties of the $rootScope. T

[2015-04-28 08:53] MilosStanic commented on #309
@Urigo sorry, I deleted the thing because it went totally berserk on me. The list and details views were displayed at the same time on the same page in browser, and nothing was working as it should.
So I started the tutorial all over again without ControllerAs syntax and angular-material.

However, now at the step 12, I see another buggy behaviour: when I open up a party detail page, and click can

[2015-04-28 09:30] Tallyb commented on #309
@Urigo @MilosStanic I am opening a seperate issue for the material login ui

[2015-04-28 10:03] Tallyb opened #315 "Material Login Buttons"
Create account-ui login buttons in material design, based on angular-material.
My initial issue is how to get the angular-material package to be included in meteor.
@Urigo  can you suggest the best method?
The following repository has material login partials that we might want to use:
https://github.com/Tallyb/df-material
The relevant partials are under src/components/auth/partials

@Urigo do you

[2015-04-28 12:27] Urigo commented on #314
With weak dependency.   we did that on angularjs:angular.

@dotansimha can you publish another version with that?

[2015-04-28 12:28] netanelgilad commented on #304
@Urigo We need to use the prototype solution so the function would be available on isolate scopes as mentioned by @revov (same as getReactively).
@revov on the matter of closing the subscription - what you say is indeed correct, but the problem is that in those rare situations where you do need to close the subscription before it is loaded, you can't do it even with Meteor API, only through the su

[2015-04-28 12:48] Urigo commented on #304
@revov @netanelgilad I've update the branch so that it will use Object.prototyepOf so we will support also isolated scope:
https://github.com/Urigo/angular-meteor/commit/1be43280b35bb891e609ff989e99fa44473524ae
What do you think?

[2015-04-28 12:53] Urigo commented on #315
@Tallyb there is already a meteor-angular-material package:
https://github.com/planet-training/meteor-angular-material/

as for Login Buttons, I think this should be a community effort.
I would of course love to help but I don't think it should be an open issue....

[2015-04-28 12:53] #315 closed

[2015-04-28 12:54] Urigo commented on #315
even though you just need to write regular angular-material after adding this package, here is an example to use:
https://github.com/madvas/meteor-angular-material-todomvc

[2015-04-28 12:57] Urigo commented on #309
@MilosStanic it looks like the subscription hasn't stopped...
have you got to the section of the chapter about 'Stopping a subscription'?

[2015-04-28 13:03] Urigo commented on #308
Closing, please re-open if there is a reproduction

[2015-04-28 13:03] #308 closed

[2015-04-28 17:36] Tallyb commented on #315
Great news. This is brand new. I was looking to one couple of weeks ago. (so new - the readme does not even contain the package add...)

[2015-04-28 19:21] dotansimha commented on #314
@smoke  @Urigo
Done. published it under "1.3.15_1".

[2015-04-28 19:35] maersu commented on #273
@Urigo sorry, I was to lazy and to late, you already did it :)

[2015-04-28 20:57] #314 closed

[2015-04-28 21:52] Urigo commented on #273
;)  thanks for bringing that up

[2015-04-28 22:47] auterium commented on #304
@Urigo I like the idea of using Object.prototypeOf, but shouldn't this be a wrapper of $meteor.subscribe? The code for handling the subscription is already there, and this is just a higher level api method.

[2015-04-29 09:21] MilosStanic commented on #309
@Urigo yes, thank you, that was it. Sorry.

[2015-04-29 12:38] #309 closed

[2015-04-29 13:24] Urigo commented on #304
@auterium I agree, but I have to get the subscription handle not from the promise.
Would love your suggestions about how to do it better to minimize the code duplication

[2015-04-29 14:01] auterium commented on #304
@Urigo what about a low level subscribe method that returns the subscription directly instead of a promise?

Warning: Untested code

[code]

[code]

[2015-04-29 14:26] smoke commented on #314
@Urigo Just a small thing to confirm -adding jQuery as weak dependency solves the case completely - in other words if there is jQuery it loads it prior angular and uses it, if not it just loads angular, right?

[2015-04-29 14:27] Urigo commented on #314
exactly.
released 0.8.6 just for that

[2015-04-29 14:33] smoke commented on #314
Great!
One more thing - I am a bit confused with all the new packages around, so I would better ask - isn't angularjs:angular not needed any more and why is it in cc11ae0?
[code]

[2015-04-29 14:41] Urigo commented on #314
yes it is not need to be anymore, it is probably because you have another package that depends on that.
try meteor update and check which other package depend on that

[2015-04-29 14:44] smoke commented on #314
Sorry, I have pointed wrong commit hash - the hash is 23533b9 where you have just added angularjs:angular@1.3.15 yourself in the new release 0.8.6 :)

[2015-04-29 15:03] Urigo commented on #314
ohhh this is strange
but it's ok, it won't add it to your own app (I've checked with the tutorial but make sure as well)

[2015-04-29 17:08] #299 closed

[2015-04-29 17:42] Urigo commented on #272
@jamgold I think I misunderstood your question...
I wasn't sure you meant [this function](http://docs.meteor.com/#/full/ddp_connect).

Now that I understand, can you please describe the architecture you are trying to build?

We can support that function pretty easily, but I was to understand what are your requirements for collections and not just subscribe and methods.

Thanks

[2015-04-30 15:43] jamgold commented on #272
I want to be able to write a stripped down *client* for an existing web application. Since Meteor does not (yet) provide a fine, granular approach which assets to bundle for which platform (other than client/server/cordova), or even for a specific route.

Example: the web browser based implementation of my application has back-office functions not needed on a mobile client. I do not want the logic

[2015-05-01 09:30] Urigo commented on #300
Closing after looking at the code and seeing it's not an angular-meteor issue  (would still love to help though)

[2015-05-01 09:30] #300 closed

[2015-05-01 09:31] Urigo commented on #304
@auterium oops just saw that.
that sounds great, maybe you want to pull request???

[2015-05-01 09:36] Urigo commented on #304
now that we took care of scope subscription we still need to solve (or not) 2 other things that came up here:

1. stopping observes of $meteor.collection and $meteor.object - how would the solution look?  like $scope.subscribe?
2. Do something for routes - now that we have it on the controllers, do we still need this?

[2015-05-01 12:41] auterium commented on #304
@Urigo thinking of the $meteor.object & $meteor.collection to work similar to $scope.subscribe could create some collisions if someone would like to set params to $scope that have such names. I think the better way to declare such methods should be prefixing $meteor, as it's not part of the $scope's api, but an addon. It would then look like this:
- $scope.$meteorSubscribe
- $scope.$meteorCollecti

[2015-05-02 17:31] mikepc commented on #18
I was just curious how that's coming along? I googled angular-meteor unit test and it brought me here.

[2015-05-03 15:49] Urigo commented on #304
@auterium that's a good idea.
As I'm working on the ng-vegas talk this week, I would love so pull requests (and packages) on all of those.
The start is already there in $scope.susbcribe

[2015-05-03 18:37] sclausen commented on #223
Had the same error with a different dumb thing I fogot. Would it be possible to make the error message a bit more helpful?

[2015-05-03 20:40] auterium commented on #304
@Urigo I've been researching about having the subscriptions on the routes using the resolve property and here are my findings:
- It works as desired, but it slows down the route change as it waits until the subscription is resolved; this is even worse if you have multiple subscriptions declared on the resolve part.
- In order to do a single item resolution (i.e. display/edit page of a single doc)

[2015-05-04 04:42] auterium commented on #304
One thing worth documenting is that I used Meteor.default_connection._subscriptions to debug and check for active subscriptions while testing subscription handling.

[2015-05-04 07:22] nickjanssen commented on #270
Sorry for the delay, yes that makes sense. I'll take a look at that video you posted later about the constraint resolved, looks interesting. So for now we'd have to manually publish every angular module in atmosphere, and you're basically asking the angular team to do it automatically for us in the future?

[2015-05-04 12:07] Urigo commented on #270
https://atmospherejs.com/angular

[2015-05-07 03:16] nickjanssen commented on #270
Awesome, thanks for the update!

[2015-05-07 16:22] JNissi commented on #223
It's super easy to trip on this with the most basic project: Start a new project, create `client/index.html`, `client/index.ng.html`, `client/main.ng.js`and try to include the index template: `<div ng-include="'index.ng.html'"></div>`. Kaboom!

It seems you need to use the full path for ng-include: `<div ng-include="'client/index.ng.html'"></div>`

[2015-05-07 17:07] sclausen commented on #223
JNissi, that's right, but I think the problem is not, that it needs the full path, but that the error message is so uninformative.

[2015-05-08 07:18] dbnoble commented on #272
@jamgold in my experience, you don't have to do anything special to achieve what you are wanting.

You can simply build a separate Meteor app with your desired client functionality (or clone and strip down your existing one) and set the ENV MONGO_URL to use the same mongoDB instance that your production desktop app is currently using. Reactivity will work as expected on both clients.

As a matter

[2015-05-09 15:00] nspangler opened #333 "Call Angular Function From Inside Ng-Include"
Is it possible to directly call an angular function say `$scope.test()` directly from within a meteor template embedded in the angular `.ng.html`? Right now I set a `Session` in my meteor template and watch the `Session` for changes in my `.ng.html`. However it seems hacky. Is there a way to achieve this functionality directly?

[2015-05-09 18:06] netanelgilad commented on #333
That is an interesting notion. I think we can add a helper to the template being rendered that gives access to $scope. That should give access to any properties on the scope for use in the Meteor template (be it functions or properties). Though I don't have much experience with Meteor templates. Does that make sense?

[2015-05-10 17:40] jamgold commented on #272
@dbnoble you make a very good point. I shall experiment with that.

What does concern me, however, is the reliance on OPLOG tailing, which I keep reading about being a real hammer on scalability. There are discussions to have node database operations propagated by node to subscribed clients, instead of relying on OPLOG. This is nowhere near implemented, but would certainly affect all applications

[2015-05-11 02:11] Urigo commented on #333
@netanelgilad I might be wrong but I think @nspangler is trying something much simpler, calling a scope function in a regular angular template (.ng.html).
If it is true, then of course it's possible.....
@nspangler can you share the code that doesn't work for you please?

[2015-05-11 12:25] nspangler commented on #333
@netanelgilad , @Urigo , no what @netanelgilad  described is exactly the functionality that I desire. His explanation does make sense on how to achieve it. I am much more of an meteor guy than angular guy so I can assist on the meteor side as much as is needed. I think that providing a helper for the template being rendered is a good solution.

[2015-05-12 07:30] eeandrew opened #336 "WARNING: Tried to load angular more than once"
Here is my folder structrue
client
  ---app.js
  ---index.html
  ---index.ng.html
Their content is the same as in step__00.
I got this error in Chrome.

[2015-05-12 07:35] Urigo commented on #336
can you share your meteor/.version file please?

[2015-05-12 07:38] eeandrew commented on #336
angular:angular@1.3.15_1
autopublish@1.0.3
autoupdate@1.2.1
base64@1.0.3
binary-heap@1.0.3
blaze@2.1.2
blaze-tools@1.0.3
boilerplate-generator@1.0.3
callback-hook@1.0.3
check@1.0.5
dburles:mongo-collection-instances@0.3.3
ddp@1.1.0
deps@1.0.7
ejson@1.0.6
fastclick@1.0.3
geojson-utils@1.0.3
html-tools@1.0.4
htmljs@1.0.4
http@1.1.0
id-map@1.0.3
insecure@1.0.3
jquery@1.11.3_2
json@1.0.3
lai:collectio

[2015-05-12 07:40] Urigo commented on #336
You are good in terms of packaging..

Maybe your path is wrong?

can you share your index.html?

[2015-05-12 07:41] Tallyb commented on #336
Is it needed to have both urigo:angular@0.8.8 and angular:angular@1.3.15_1 in project?

[2015-05-12 07:42] Urigo commented on #336
urigo:angular@0.8.8 bring angular:angular@1.3.15_1 with it

[2015-05-12 07:43] Tallyb opened #337 "docs app"
the docs app refer to a non existing package: urigo:angularmeteormarkdown

[2015-05-12 07:44] Urigo commented on #337
it is a local package in the packages directory

I leave it there because it's not the best implementation...

[2015-05-12 07:44] #337 closed

[2015-05-12 07:44] eeandrew commented on #336
app.js
[code]
index.html
[code]
index.ng.html
[code]

[2015-05-12 07:45] Urigo commented on #336
You need to place the full path:

    <div ng-app="mainApp" ng-include="'client/index.ng.html'"></div>

[2015-05-12 07:46] eeandrew commented on #336
Wow. Thanks.

[2015-05-12 07:47] Urigo commented on #336
np, good luck!

[2015-05-12 07:47] #336 closed

[2015-05-12 08:23] Tallyb commented on #337
I think I figured out the issue. Windows cannot create a folder with colon, hence "urigo:angularmeteormarkdown" is failing.

[2015-05-12 09:05] Tallyb commented on #337
I embedded the markdown directive directly in directive and removed the package. Not that great. Let me know if I should make a PR for it.

[2015-05-12 23:37] Urigo commented on #337
yes, if that make the site work on Windows then please do!

[2015-05-13 09:11] Tallyb commented on #337
well, I fail to do it because of the above errors (and probably some lack of github knowledge). Either you can rename the directory to avoid the colon (if that is possible for packages, proabably is, as other packages did not have this issue), or just embed the markdown.js under the directives directory and remove the package from packages.

[2015-05-13 21:06] rjbma opened #339 "Performance problems on collection binding"
I', currently trying out `angular-meteor` (great job, by the way!), and I came across a performance  problem when binding to a collection. Searching for other issues here, I think the problem is almost fully explained in #208.

In that issue, the solution is to disable autobind when using the collection binding mechanism. While that did solve the immediate problem, the thing is that (in my case, a

[2015-05-15 23:39] cedric25 commented on #337
To fix the problem when cloning the repo on Windows, I simply replaced "urigo:angularmeteormarkdown" with "urigo-angularmeteormarkdown".
Would that be ok? Should I make a PR?

[2015-05-16 01:06] Urigo commented on #337
@cedric25 yes of course!

[2015-05-16 09:33] Tallyb commented on #337
Thanks!

[2015-05-16 21:41] superghostmaster opened #343 "$locationProvider default throws error"
Cannot seem to isolate the cause.  Even if a ```<base>``` tag is added, no dice.

I've tried adding the ```<base>``` in index.html, in the template(s), in the index.ng.html, etc.  Nothing.

If ```$locationProvider.html5Mode(true);``` is included, throws these errors in console:

[code]

[2015-05-17 19:53] Urigo commented on #304
ok, closing as we have all that in.

About routes, looks like the code example might be enough or add something as a separate package.

Please add things to the docs if you think it is worthwhile

thank you so much everyone for those great features and collaborations!

[2015-05-17 19:53] #304 closed

[2015-05-17 19:59] Urigo commented on #343
That's an Angular error, you should use 'requireBase: false' like in here:
https://docs.angularjs.org/error/$location/nobase

[2015-05-17 19:59] #343 closed

[2015-05-17 22:02] Urigo commented on #339
@rjbma the MeteorPad doesn't seem to be working, can you share a repo please?

[2015-05-17 22:03] Urigo commented on #339
also with the inputs losing focus, I think I know the solution and want to make sure it works with your repo

[2015-05-17 22:04] Urigo commented on #333
@nspangler I want to work on it now, can you please provide an example code that you would want to use after this feature is added?

[2015-05-18 12:09] castlefields commented on #223
@sclausen Agreed the error message is misleading as my error came on Part 07 of the Tutorial.

Moving the routes.js I forgot to update the first route, as the template path had now changed from root to client/parties/views/...

Changing this removed the unhelpful error of WARNING: Tried to load angular more than once.

[2015-05-18 12:21] netanelgilad commented on #223
I agree with all of you here.
The first problem with needing the full path to the template file is because we put the templates into the templateCache with the full path, so it has to be referenced exactly like that to work. That is how templateCache works. I think that is documented somewhere in the site/tutorial as that issue came up in the past.
About the unhelpful message, that is the message

[2015-05-18 12:50] castlefields commented on #223
@netanelgilad On making the mistake and learning from it, hopefully in the future it will be on my radar to check the templateUrl. Also the error arose out of me cutting and pasting along with the Tutorial - I think if I was actually coding, then as @JNissi mentioned, I would of entered the correct path.

My concern would be that noobs to angular-meteor, of which I am one, will dismiss this fantas

[2015-05-18 13:15] nspangler commented on #333
@Urigo , @netanelgilad
Say I have a function declared in a controller:

      $scope.foo = function (foo) {
               console.log(foo);
       }

In my meteor template that is `included` in the `ng.html` that the above controller controls, I can still call the function like so:

         Template.meteorTemplate1.events({
              'click .logFoo' : function () {
                      foo(

[2015-05-18 21:13] rjbma commented on #339
@Urigo I've created a repo at https://github.com/rjbma/collections-test with the test case.

However, testing it again, I can't really notice any perfomance differences between the two implementations. Maybe it was just some kind of problem with my local environment at the time..., so sorry about that!

Anyway, about the inputs losing focus - that still happen. It actually looks like some kind of

[2015-05-19 03:44] cnelson711 opened #345 "First change made to an item inside a meteorCollection after an update from server is not pushed to server"
The first change to an array is only registered locally and not pushed to the server if I use a $meteor.collection and try to push to an array that is a member of an item in the collection (I'm NOT saving or removing a new party from the collection, but editing an array that is a member of a party),

I've pasted my code below.

[code]

[2015-05-19 03:48] cnelson711 commented on #345
You can see the issue if you open two browser windows to http://issue345.meteor.com and click the Add/Remove Random Number buttons.

[2015-05-19 06:32] funkytaco commented on #90
FYI, I got this error when the path to my `templateURL` for a route in one of my $stateProvider.state() calls was wrong.

[2015-05-19 08:16] MilosStanic commented on #333
@nspangler
Please try using "controller As" syntax. You can read all about it here: http://toddmotto.com/digging-into-angulars-controller-as-syntax/

But applied to your example, say you have it defined like this:

[code]

Then in your view you would have declared somewhere

[code]

And then in the included template you would be able to call the function like this:

[code]

Please note `yc.` prefi

[2015-05-19 16:51] lukavent commented on #345
Did you subscribed to the collection somewhere?
I don't see any kind of a subscription.

Please check the example in docs: http://angular-meteor.com/api/meteorCollection

In your case it should be something like

      // Bind without auto-save all todos to $scope.notAutoTodos
     ctrl.parties = $meteor.collection(Parties).subscribe("parties");

Did that helped?

[2015-05-20 00:10] cnelson711 commented on #345
I'm using the autopublish package in the example (there's no need for a subscribe method if my server publishes nothing, right?).  In anycase, I tried adding the subscribe to no avail.

The problem may be in angular.js itself, or in the way that angular-meteor uses angular.js to watch values.  If angular.js doesn't have the previous value set, than it calls the function registered with watch with

[2015-05-20 05:32] Urigo commented on #223
@castlefields that's a great idea.
Do you mind pull requesting and writing it yourself?
this way you will get the credit and also I believe as the one who encountered this, you will best explain this issue:
https://github.com/Urigo/angular-meteor/edit/master/.docs/angular-meteor/client/views/steps/tutorial.step_05.tpl

[2015-05-20 17:13] rgnevashev commented on #345
http://meteorpad.com/pad/22osq6YWY2poiu3KB/Copy%20of%20Collections

im confirm, The first change not pushed to the server... before hook not execute...

[2015-05-20 17:24] Xample opened #346 "3 way binding and live saving = strange behaviour"
I am binding a value on an <input> tag, my object is in live save mode. The problem I got is that everytime I press a key, the model is changed, sent to the server, then the server send me back the version and replace my current model one. How could this be solved ? I thought about throttling the event but it will still be the same case, to only save on blur() might be an option to consider, disab

[2015-05-20 19:24] auterium commented on #346
Did you check for update permission? If you remove insecure package, you must add explicit update permission to the collection, otherwise it will reject any change.

[2015-05-20 22:29] Urigo commented on #339
ok, I'm working on a nice solution for keeping the focus and not re-rendering elements.
Will update soon

[2015-05-20 22:30] Urigo commented on #346
yes that sound like a reasonable option..

[2015-05-20 22:36] Urigo commented on #345
@cnelson711 I think I understand to problem.
Hopefully tomorrow I will ship a fix

[2015-05-21 05:36] cnelson711 commented on #345
Sweet.  You probably know more than I do, but I think it has something to do with:

[code]

Stepping through when I add a new item, realOldItems looks exactly the same as newItems (though they don't pass the !== operator)... I feel like realOldItems is supposed to be equal to the previous value of the items, and it's not.

[2015-05-21 05:40] Xample commented on #346
@auterium sure I did, it's not a problem of the content not to be changed. It's a problem of the time to propagate to the server and the server sending back the changes. While disabling autosaving there is no problem because all is sent at once.
Normally with bindings we do know who initially changed the data to stop propagating at some point.
The best solution being:
- to keep a trace client side

[2015-05-21 05:57] ambujpunn opened #348 "meteor.collection update function?"
Meteor provides an update function for the Meteor Collection object. Is there an equivalent for the $meteor.collection service? I only see ```save()```, ```remove()```, ```subscribe()```, but no update.

What would be a good way to specifically update an existing doc? Just calling ```save()``` on it?

[2015-05-21 06:24] cnelson711 opened #349 "$meteor.object sends entire object on update of single property"
I'd like to have something like:
[code]
But because a $meteor.object $sets the entire object on change, the request is denied because of security restrictions on the non-profile properties of the user.

[code]

I can work around the issue with something like this:
[code]

[2015-05-21 08:05] #345 closed

[2015-05-21 08:06] Urigo commented on #345
@cnelson711 solved, please try with the latest code.
Also, it will be great if you can add a test for it!

[2015-05-21 08:09] Urigo commented on #348
Yes exactly, save() is the equivalent but simpler version of update.
If you want to use update, you can call it directly on the Meteor collection

[2015-05-21 08:09] #348 closed

[2015-05-21 08:14] Urigo commented on #346
@Xample can you please share your code?
Is it possible that it sends just one update and then loses focus?
if so, it a problem I am working on right now

[2015-05-21 08:27] Tallyb opened #350 "objectID to $meteor.object"
How do I send an ObjectId to the $meteor.object function?
My Mongo stores the _ids as ObjectId("kfjaslkdfj435") and I would like to retrieve one document.
The id is passed via $stateParams as string.

[2015-05-21 09:48] harinanda opened #351 "can you help integrating with http://www.meteorkitchen.com"
http://www.meteorkitchen.com  is  getting recognized . help enabling angularjs to  meteorkitchen.com

[2015-05-21 09:51] Tallyb commented on #350
apparently it work with just sending the string from $stateParams

[2015-05-21 09:51] #350 closed

[2015-05-21 11:54] MilosStanic commented on #351
wow this is amazing! didn't know about that site.

[2015-05-21 13:56] Urigo commented on #339
@rjbma solved here: https://github.com/Urigo/angular-meteor/commit/159dca46c62dd8ebc3f29f3e02e73c126dab6231
Please check your code against master and let me know if you have problems

[2015-05-21 13:56] #339 closed

[2015-05-21 14:06] Urigo commented on #349
Yes that's true.
It's something we have on $meteor.collection.

I starting to see that there is no real difference between $meteor.collection and $meteor.object as people use nested collections in both.

$meteor.object started just to simplify the user's code a bit, because you can achieve the same thing with $meteor.collection very easily.
I'm thinking of merging the code of $meteor.object to jus

[2015-05-21 14:10] Urigo commented on #351
It is amazing!

@harinanda What should we do to support it?

[2015-05-21 17:09] Urigo commented on #282
Closed in https://github.com/Urigo/angular-meteor/pull/293

[2015-05-21 17:09] #282 closed

[2015-05-21 22:05] auterium commented on #349
@Urigo I do use $meteor.object in the resolve part of states to determine if the page should be displayed or to show a 404 page instead. Here's an example of how I use it:
[code]
And then use an error catcher to display a 404 page:
[code]

What if $meteor.oject is kept but that it only updates the required fields instead of the full doc?

[2015-05-22 05:01] ambujpunn commented on #286
@Urigo I'm having some what of the same problem but seeing this as the error: ```Meteor.makeErrorType.errorClass {error: 409, reason: "MinimongoError: can't set field named $$hashKey", details: undefined, message: "MinimongoError: can't set field named $$hashKey [409]", errorType: "Meteor.Error"…}```

Do you know what can be causing this?

[2015-05-22 05:08] ambujpunn commented on #286
Ahh, I updated it to 0.8.10 and it works! Out of curiosity, what was the problem @Urigo?

[2015-05-23 04:39] justin-umesh commented on #351
Hi, I have hosted my site on linode but i'm getting this error. Please help.

http://errors.angularjs.org/1.3.14/$injector/unpr?p0=e
    at http://139.162.22.162:3000/3a4c1df74f13888708e0a03b4b28762d1e2bd62e.js:49:466
    at http://139.162.22.162:3000/3a4c1df74f13888708e0a03b4b28762d1e2bd62e.js:49:18577
    at r (http://139.162.22.162:3000/3a4c1df74f13888708e0a03b4b28762d1e2bd62e.js:49:17747)

[2015-05-23 10:13] Urigo commented on #349
@auterium I would love your help in thinking how to refactor $meteor.object with the following goals:

1. make it based on $meteor.collection to avoid code duplicates
2. Move it's functionality functions like reset and getRawObject to $meteor.collection so they both will enjoy it
3. Keep the $meteor.object functionality as is (with the improvements of $meteor.collection like nested copy)

After al

[2015-05-23 13:47] Urigo commented on #333
OK, so the idea is to add a helper to the rendered template.
It should be done here and we have easy access to both the template and the scope:
https://github.com/Urigo/angular-meteor/blob/master/modules/angular-meteor-template.js#L65-L66

@barbatus I wonder what are your thoughts on that

[2015-05-23 14:12] Urigo commented on #286
@ambujpunn we used to clean $$hashkey only 2 levels down before saving to the server, now we are cleaning it all the way:
https://github.com/Urigo/angular-meteor/blob/master/modules/angular-meteor-meteorCollection.js#L32

[2015-05-23 14:35] Urigo commented on #351
@justin-umesh how is this related to meteorkitchen?
anyway, looks like it might be a minification problem, try to use strict-di in your dev environment to find what's the problem

[2015-05-23 17:53] Brasilikum opened #353 "Help: Stuck while including lodash"
Hey there,

Following the [Step 19](http://angular-meteor.com/tutorial/step_19) from the Tutorial, I tried to add my first Third-Party-Library.

My Steps:
1. Add package: `meteor add stevezhu:lodash`
2. Declare dependency: ```angular.module('groupExpense',['angular-meteor', 'ui.router', 'lodash']);```
3. Use in controller:
[code]

But what I get in the console of the browser is:
[code]

I already

[2015-05-24 05:17] cnelson711 commented on #353
This doesn't seem like an issue with angular-meteor... I don't think Lodash defines an Angular module or factory, so it can't be dependency injected (nor does it seem like it needs to be - you're not going to create a new instance of anything from the library).

If 'Lodash' is similar to 'Underscore' (which it seems to be), than you don't need to use Angular's dependency injection, as _ should jus

[2015-05-24 07:40] Tallyb commented on #353
Not sure where I saw it, but worked for me to put
    _ = lodash;
In model directory.

[2015-05-24 13:52] Urigo commented on #353
@Brasilikum can you share the repository of your package?

[2015-05-24 14:55] justin-umesh commented on #351
i have resolved this issue. we need to rename the js files which ends with .ng.js

[2015-05-25 07:25] MilosStanic commented on #333
@Urigo yes, that would be very useful for the purpose of integrating standard Meteor packages with angular-meteor. I thought this already existed but I somehow failed to find it in examples. :)
So, definitely +1 for this feature from me.

[2015-05-25 07:55] Tallyb opened #357 "return value from $meteor.call"
In socially there is a call to rsvp :
     $meteor.call('rsvp', partyId, rsvp).then(
        function(data){
          console.log('success responding', data);
        },

data, however is undefined. I tried to return a value in meteor.methods rsvp as follow:
                Parties.update(partyId, modifier, function (err, data) {
                    if (!err) return (rsvpIndex);
                }

[2015-05-25 12:00] Tallyb opened #358 "changing context"
Not quite an issue, and probably more meteor related, but I would love help from anyone who is willing too.
Let's assume an app like Trello, where my users has few boards and each board has quite few cards. The user is mostly on a single board and rarely changes context.
The user  has access to all cards of their Trello board. However, it is only reasonable for the client to have locally the cards

[2015-05-25 12:01] smoke commented on #357
The function where you return (rsvpIndex) return for the callback it self and not for the defined method.

You can try something like:
[code]

[2015-05-25 12:21] Tallyb commented on #357
@smoke Thanks Rado. However, it still prints success responding undefined.
Any other idea?

[2015-05-25 12:23] netanelgilad commented on #357
@smoke @Tallyb, the problem here is that the code running in the callback is asynchronous. That means that the return statement of the method happens before the callback actually gets called.
@Tallyb you can either use the synchronous version of update (without sending a callback) and then just return whatever you want after that, or you can go with the bit harder solution and add fibers to make t

[2015-05-25 13:35] Tallyb commented on #357
@netanelgilad so this brings me to a closed issue that is popping its ugly head again - get the ID of a newly created item. In our beloved socially, if we want to jump to the party page right after pressing the add button on a new party. What is the best way of doing it?
(BTW sorry I missed your talk on ng-conf IL, heard it was really good!)

[2015-05-25 14:46] barbatus commented on #333
@Urigo As it was mentioned here, I also see ng-controller the only good way to do it.
So we assign any controller into the directive and then, inside of the directive, take controller instance and assign it to, say, ```` $ctrl```` property of a template instance. In the events helper we'll be able to use as:
[code]

[2015-05-25 15:12] Urigo commented on #349
Also, for a short term solution, we can just copy the logic of diffArray from the collection to object.
@ fredrikekelund created that great nested solution, what do you think?

[2015-05-25 15:12] Urigo commented on #349
Also, for a short term solution, we can just copy the logic of diffArray from the collection to object.
@fredrikekelund created that great nested solution, what do you think?

[2015-05-25 15:17] Urigo commented on #351
Opened an issue to meteor kitchen here: https://github.com/perak/kitchen-site/issues/93

[2015-05-25 15:17] #351 closed

[2015-05-25 15:24] smoke commented on #357
@Tallyb you should check the docs http://docs.meteor.com/#/full/insert - if you don't pass a callback to Collection.insert, update, remove - *on server side* - *they block* and return required information. Collection.insert returns the id of the newly created object, that you can use accordingly.

[2015-05-25 15:25] Urigo commented on #353
Closing until we will understand more about the library
please re-open with more info

[2015-05-25 15:25] #353 closed

[2015-05-25 15:38] Urigo commented on #358
@Tallyb I think this discussion is a better fit to https://forums.meteor.com/

As for your question, if you want to implement this, why not just create a publish function that gets as a parameter the cards (or cards range or board number and then calculate the cards range) and publish only those cards?

Would love to see contributions for the tutorial with more cases

[2015-05-25 15:39] keyvanfatehi commented on #272
I'm in the same boat, currently using asteroid but it is failing me in a classic search pattern where you resubscribe to the same publication with a different query on keyup.

I spent a lot of time (couple weeks now? full time...) fudging around with the meteor cordova integration for this mobile app -- it's not great for trying to come up with something truly polished.

I tried meteoric, but I ra

[2015-05-25 15:47] Urigo commented on #333
@barbatus yes, I wouldn't want to give up on the controller-as syntax.

[2015-05-25 15:53] Urigo commented on #272
@keyvanfatehi what are your thoughts about this comment: https://github.com/Urigo/angular-meteor/issues/272#issuecomment-95709983
What is the perfect solution for you?
Do you want to help us work on that?

[2015-05-25 16:04] keyvanfatehi commented on #272
Hey @Urigo, I saw that comment and agree with option 4, but option 1 may be more quickly achievable. I am realizing now that I can probably solve my own problem (search) by using asteroid's meteor method call feature.

The perfect intermediate solution would definitely be a proper DDP client (option 4?) with good docs about how to use it from external clients.

Once that exists, we get closer to p

[2015-05-25 16:44] auterium commented on #349
Hi @Urigo, I could do that, just this week I'm very busy as this weekend I'll got to a startup weekend, so I have to get ahead on my regular job. After this weekend I'll be able to work on it having $meteor.object to user $meteor.collection.

[2015-05-25 18:21] Tallyb commented on #357
@smoke. Yay, Rado. That worked. Blagodryia mlogo.

[2015-05-25 18:21] #357 closed

[2015-05-25 18:36] Brasilikum commented on #353
You have been right indeed, *lodash* was available globally so I assigned it to _!

[2015-05-26 05:30] smoke commented on #357
You are welcome :)

[2015-05-26 09:28] Tallyb commented on #358
https://forums.meteor.com/t/few-to-many-relationships-context-change/4837

[2015-05-26 09:28] #358 closed

[2015-05-26 10:11] Tallyb opened #365 "(docs): Missing parameter in API reference"
http://angular-meteor.com/api/meteorCollection
The API usage is showing 2 params but there are 3 in the arguments list.
Not sure how to resolve.

[2015-05-26 10:14] Urigo commented on #365
The third parameter is for CollectionFS, maybe we should add an explanation and example

[2015-05-26 10:22] Tallyb commented on #365
OK. You may want also to note that the collectionFS usage example is also showing just 2 params.
$meteorCollection(Images, false);
If not sending a function as first param - then the 3rd one is not required?

[2015-05-26 11:55] Tallyb opened #366 "watch specific attribute - advice pls"
I will use Socially example: assume that I want to resend mail invites to all participants in case the name of the party was changed (their inviation says "good vibes" but the party is now named "free drinks").
What is the best way of doing this? Can I get previous value without destroying current (i.e. not party.reset())?

[2015-05-26 12:50] Urigo commented on #366
The best practice will be to change the value in a Meteor methods and then do to logic of getting the current name, getting the new name and sending the mail there

[2015-05-26 12:50] #366 closed

[2015-05-26 12:51] Urigo opened #367 "Test Coverage in angular-meteor"
Hi!  now that we have tests in angular-meteor, we would love your help in adding as many tests as possible.
We will add unit tests as well as integration tests.
You can add integration scenarios in the 'examples' folder as a complete project with tests.

We will add tests scenarios here and you can create your own:

## $meteorCollection
#### Save

- [ ] autobind
- [ ] autobind - nested ng-repeat
-

[2015-05-26 19:38] paixaop opened #369 "Problems with $meteor.object returning 'undefined'. Working on chrome but not firefox"
I am running into a problem that I cannot figure out, most likely due to inexperience. I created an element directive and have the following code (client/components/master-directive.js):

    var module = angular.module('masterControl', ['angular-meteor']);

    module.directive('masterControl', function() {
      return {
        scope: {
          name: '@'
        },
        templateUrl: 'clien

[2015-05-26 19:57] paixaop commented on #369
Result of calling `$scope.control = $meteor.object(Controls, { name: $scope.name } )` in Chrome 43.0.2357.81 (64-bit):

     SubObject
       $$collection: CollectionExtensions._wrapCollection.ns.Collection
       $$id: Object
       $$internalProps: Array[13]
       $$options: undefined_id: "c7fFZgJjJokQutLND"
       autorunComputation: Tracker.Computation
       enable: true
       getRawObject:

[2015-05-26 20:00] Tallyb commented on #369
just a note (this does not explain the ff / chrome difference if it is the same code, and I would not know the browsers internals to that level) - your template uses name="test_switch" while your document has "chandelier_switch".

[2015-05-26 20:42] abcd-ca opened #370 "3-way binding and formly"
Hey, sorry if this is off topic but I'm using angular-meteor and have to do a big data input form project. I'm using Ionic Framework, FYI. I see that ng-model works for $meteor.object binding but for some reason [angular-formly](https://github.com/formly-js/angular-formly) doesn't like those kinds of objects for its model binding. Do you happen to have any insight into this?  When I bind a formly

[2015-05-26 22:31] paixaop commented on #369
@Tallyb thank you for noticing that, I just pasted samples from different tests. Either using the `test_switch` and `chandelier_switch`, the end result was the same.

[2015-05-27 02:08] cantoine opened #372 "Date Object Issues"
I'm opening this issue and attaching a PR to fix the problem I came across.

Let me know if I've missed anything or need to do anything else to get the change merged.

Thanks!
Chris

PR: https://github.com/Urigo/angular-meteor/pull/371

[2015-05-27 06:31] paixaop commented on #369
Figured this one out my self. Documenting solution for future users with similar issues. Basically it was not a difference in browser internals in supporting collections and $meteor.object, but the fact that in Chrome collections were made available to the client before the `meteor.object()` ran, and in Firefox they were not. So Chrome got good results and Firefox got undefineds.

Maybe Chrome is

[2015-05-27 08:40] Urigo commented on #369
@paixaop very nice and thanks for showing your solution.
I would just add that you should use:

    $scope.$meteorSubscribe

Instead of

    $meteor.subscribe

so that the subscription will be automatically closed on scope destroy and

    $scope.$meteorObject

Instead of

    $meteor.object

to automatically close the inner autorun on scope destroy as well

[2015-05-27 08:40] #369 closed

[2015-05-27 08:42] Urigo commented on #370
@abcd-ca can you share a reproduction?

[2015-05-27 09:17] oshai opened #373 "what is the best way to include markdown in angular-meteor?"
the full question is in SO:
http://stackoverflow.com/questions/30478020/what-is-the-best-way-to-include-markdown-in-angular-meteor

[2015-05-27 14:58] fredrikekelund commented on #349
Been a while since I looked closer at the code, but based on what I remember and a quick glance at the source I think reusing diffArray shouldn't be too hard, maybe we can just expose any internal methods that we need to make a diff for `$meteor.object` specifically

[2015-05-27 16:03] AhmadEl-Banna opened #374 "Conditional templates if cordova or client"
Hi there , I'm trying to build a system with mobile client and web client,both have completely different look and feel and requirements,and different views , it will be nice to have a away to attach cordova views alone ,if Meteor.isCordova and not include the web , and the other way around
thank you

[2015-05-27 21:43] vacarsu opened #376 "$rootScope.currentUser undefined"
Trying to use the currentUser object, but it seems to be undefined. Also when trying to interpolate it within a template it appears empty.

[2015-05-27 23:07] vacarsu opened #377 "Proper way to insert a document?"
$meteor.collection(function () {
  return Projects.insert($scope.newProject);
});

The above returns the following error:
Cannot read property 'name' of undefined
    at new angularMeteorCollections.factory.createAngularMeteorCollection

[2015-05-28 03:11] vantonio opened #378 "$meteor passing files as parameters."

[2015-05-28 03:11] #378 closed

[2015-05-28 03:20] vantonio opened #379 "$meteor.call passing files as parameters returns Error: DataMan constructor received data that it doesn't support."
Hi all,

I defined a meteor function as:
[code]
but when I called this function with:
[code]
Meteor throws this error:
```Exception while simulating the effect of invoking 'addPhotos' Error: DataMan constructor received data that it doesn't support.```

I can see from console logs that the ```files``` object has been turned into a ```[Object, Object]``` from ```[File, File]``` during passing.

Any

[2015-05-28 07:59] JohnAReid opened #380 "Step 19 - 3rdParty Libraries - missing line in code display"
The code displayed on the page needs to have to an line at the end to close the brackets i.e.
});  (would have saved me one hour trying to found out why if failed) - it is also required  the final package.js file example:

EXAMPLE OF CODE
// package metadata file for Meteor.js
var packageName = 'PACKAGE_NAME';
var where = 'client'; // where to install: 'client' or 'server'. For both, pass nothing.

[2015-05-28 11:20] dohomi commented on #374
@AhmadEl-Banna Don't you want to solve this inside packages? There you can add specific files based on your architecture:

http://docs.meteor.com/#/full/pack_addFiles

[2015-05-28 11:40] AhmadEl-Banna commented on #374
@dohomi  I don't want to solve it with packages I just want the handler https://github.com/Urigo/angular-meteor/blob/master/plugin/handler.js
to add the views conditionally if it Cordova add it to $templateCache of ionic and if it browser add it to $templateCache of angular-meteor
or may be allow the developer to configure how  the handler locate the views and what module to add the views into it'

[2015-05-28 11:45] AhmadEl-Banna commented on #374
I'm new to meteor so I just can download the repo and modify the handler to locate the ng.html and add it to  angular-meteor  and locate the ion.html and add it to ionic
and I add ionic as cordova only package
http://stackoverflow.com/questions/28172446/can-i-add-a-meteor-package-for-a-single-platform

[2015-05-28 17:01] #372 closed

[2015-05-28 18:49] Urigo commented on #380
Fixed here:
https://github.com/Urigo/angular-meteor/pull/381

[2015-05-28 18:49] #380 closed

[2015-05-28 20:58] oshai opened #382 "I think there is a conflict in dependencies between angular-ui-router and ui-select"
I tried to install both packages and it ended up with 2 versions of angular:
angular:angular@1.3.15_1
angularjs:angular@1.3.15

looks like there are 2 organizations for the same purpose.
what I see in chrome console is:
`WARNING: Tried to load angular more than once.`

[2015-05-29 01:24] MurWade opened #383 "Inserting a new document"
Inside my controller i have
`$scope.posts  = $meteor.collection(Posts)`

I can insert a document doing it this way

`$scope.posts.pust(newPost)`

or

`Posts.insert(newPost); // the meteor way `.

They both do the same time and binding works and all . doing it the meteor way also returns the id which is very very useful. So i was wondering what is the difference or which is the proper way to insert

[2015-05-29 01:51] vacarsu commented on #383
Well pushing a new document to a scope variable assumes you have already queried a list of documents. Posts.insert would be useful in cases when you haven't, or don't need to grab a list before inserting a new document. I haven't even gotten this far as I get an error. This is close to the question I asked so I'll reference. #377

[2015-05-29 01:58] vacarsu commented on #383
It seems you have answered my question! I didn't realize it unnecessary to return collection.insert from a $meteor.collection callback.

[2015-05-29 01:59] #377 closed

[2015-05-29 13:41] mgrivera opened #386 "Angular ui-grid"
Hi,

I don't know if I can use this forum to just make general questions about angular-meteor or only to submit bugs, etc. If I'm misusing this forum, please just tell me and I don't do it again :)

That said, this is my question:

I use angular a lot these days and have been using ui-grid lately and love it. When doing part 4 of angular-meteor tutorial I could see how you kind of integrated ui-ro

[2015-05-29 13:49] Tallyb commented on #386
You should search if package already exists, or check step 19 of the tutorial on how to create it yourself.

[2015-05-29 13:52] mgrivera commented on #386
Many thanks for your answer Tallyb; it was very informative ...

[2015-05-29 18:52] Tallyb commented on #386
sorry - was on mobile;
I also found this https://atmospherejs.com/angularui/ng-grid . is that what you are looking for?
Step 19 of the tutorial http://angular-meteor.com/tutorial/step_19 is explaining how to integrate 3rd party libraries.
also, for those questions, you may join the gitter: https://gitter.im/Urigo/angular-meteor.
I apologize if I am stating the obvious...

[2015-05-29 21:04] vacarsu opened #387 "Component Router delayed for 1.5, plans for updating to 1.4?"
@Urigo  Since the new Component Router got delayed for angular 1.5, do you have plans to upgrade angular-meteor to 1.4 sooner?

[2015-05-29 22:03] Brasilikum commented on #376
Please provide more details. Where are you trying to access the `currentUser`? You could post some code for us to better understand

[2015-05-29 22:07] vacarsu commented on #376
Not much of any code to show console.log($rootScope.currentUser) logs undefined, and yes I am injecting $rootScope.

[2015-05-29 22:23] vacarsu commented on #376
If I sign in and go to the page it logs the current user. However, if I refresh the page then undefined get logged to the console.

[2015-05-30 10:59] mgrivera commented on #386
Well, ng-grid is version 2; there is ui-grid which is version 3.0. Version 2 was added to meteor, as I can see; I think version 3 should follow soon.

I haven't read step 19 of tutorial yet but I will do it today. Gitter is fantastic and I will join.

Thanks (again) for the info Tallyb ...

[2015-05-30 22:44] gpothier opened #389 "MinimongoError: can't set field named $$hashKey"
There seems to be a regression in 0.8.12 (problem does not happen in 0.8.10). In some cases calling scope.$apply causes this error:

MinimongoError: can't set field named $$hashKey [409]

Full trace:

"Meteor.makeErrorType/errorClass@http://localhost:3000/packages/meteor.js?43b7958c1598803e94014f27f5f622b0bddc0aaf:532:15
@http://localhost:3000/packages/mongo.js?3cfe0c5981c197df33036a37574850f057e9

[2015-05-31 20:16] JohnAReid opened #390 "All fields are getting passed to the client"
I am sure this is due to being new to Meteor, but I cannot get the app to select only certain fields from the mongo collection to pass to the client.

in model:
Labels = new Mongo.Collection("labels");

In server:
Meteor.publish("labels", function() {
  return Labels.find({}, {gb:1, fr:1, key:1 });
});

in client:
  $scope.labels = $meteor.collection(Labels, false).subscribe('labels');

However wh

[2015-05-31 20:26] barbatus commented on #390
@JohnAReid Docs says it should be
[code]

[2015-05-31 21:31] vacarsu commented on #376
Having played with angular-meteor a bit more, I'm completely at a loss as to why $rootScope is undefined. All I am trying to do is set a key value equal to the $rootScope.currentUser, then insert the new object into the database, it all works fine but the $rootScope value.

[code]

In this code snippet the creator field always get entered blank. I am injecting $rootScope into the controller.

[2015-06-01 03:35] ambujpunn commented on #348
Awesome thanks Uri!

[2015-06-01 07:27] JohnAReid commented on #390
Thanks

[2015-06-01 09:41] oshai opened #391 "is it possible to get an object resolved before starting the controller?"
if you look at the example at the tutorial step 6 http://angular-meteor.com/tutorial/step_06 there is an example of binding to an object (party). from my checks trying to access the object properties immediately after retrieving (next line) it doesn't works. properties still not available.
is there a way to get the object injected to the controller in a way that it will be available when the contr

[2015-06-01 09:48] Tallyb commented on #391
If you are using ui-router (angularui:angular-ui-router), it has a similar option under the resolve property. There is an example in step 9 of the tutorial (search for "good practice").

[2015-06-01 10:15] oshai commented on #391
Thanks!

[2015-06-01 10:15] #391 closed

[2015-06-01 12:24] #389 closed

[2015-06-01 12:57] netanelgilad commented on #389
Should be fixed in the last commits. Will be in the next version..

[2015-06-01 15:24] Urigo commented on #387
I've updated it today and will release a new version soon.
In the meantime if you want to update your project already you can just add a dependency in your packages file directly to angular:angular@1.4.0:

    meteor add angular:angular@1.4.0

[2015-06-01 15:25] #387 closed

[2015-06-01 15:27] #390 closed

[2015-06-01 15:28] Urigo commented on #386
Thanks @Tallyb !

[2015-06-01 15:28] #386 closed

[2015-06-01 15:29] Urigo commented on #386
@mgrivera after you find a suitable ng-grid  (if you find or if you create one yourself) please post it here as well:
https://trello.com/c/EGCdgHAk/47-official-meteor-packages-to

[2015-06-01 16:19] Urigo commented on #383
@MurWade

    $scope.posts.push(newPost)

is for easiness when you use autobind and want to use the regular JS Array API.
If you don't want that, a better practice would be to remove the autobind and use

    $scope.posts.save(newPost)

Which returns a promise on success with the id and the action happened ("inserted" or "updated"):
https://github.com/Urigo/angular-meteor/blob/master/modules/angul

[2015-06-01 16:19] #383 closed

[2015-06-01 16:20] Urigo commented on #382
looks like this is ui-select issue, @dotansimha can you update the dependencies?

[2015-06-01 16:20] #382 closed

[2015-06-01 16:27] Urigo commented on #376
@vacarsu

1. $rootScope.currentUser is binded into [Meteor.user](http://docs.meteor.com/#/full/meteor_user) which is undefined if the Users collection subscription is not ready yet...
to make sure it's there, you should do something like:

        $scope.$meteorSubscribe("users-subscription").then(function(){
           // Now $rootScope.currentUser should be defined
        });

2. In the templat

[2015-06-01 16:27] #376 closed

[2015-06-01 16:29] Urigo commented on #370
Closing, please re-open if you have a reproduction

[2015-06-01 16:29] #370 closed

[2015-06-01 16:45] vacarsu commented on #376
@Urigo The above had no effect. And $root.currentUser doesn't work. the way I'm currently interpolating {{currentUser.profile.displayName}} works fine, but sometimes the image doesn't show up. See image in previous post. I don't think it's that the user subscription isn't ready yet, as I have a resolve according to how the docs specify to wait for the current user.

[code]

Should I put up a repos

[2015-06-01 17:35] vacarsu commented on #376
Perhaps it is possible to set values in the insert method rather then trying to set the creator field in the controller?

[2015-06-01 17:52] Urigo commented on #376
@vacarsu yes I guess I was out of context, can you share a repo?

[2015-06-01 21:54] dotansimha commented on #382
Hi,
@Urigo  - Fixed it, package: https://atmospherejs.com/angularui/ui-select - the new version is 0.12.0.
@oshai - Can you try and verify?

[2015-06-01 22:39] vacarsu commented on #376
Here is the repo. https://github.com/vacarsu/roles-example

[2015-06-02 00:00] vacarsu commented on #376
@Urigo I have got it working now! It was a combination of my insert method not being quite right not subscribing to the "users-subscription", Although I wonder why my resolve block wasn't working as expected?

[2015-06-02 01:03] vacarsu commented on #376
Never mind issue still exists, the creator field is getting entered into the db now that I fixed the insert issue. but it's just getting a blank object now.

![screen shot 2015-06-01 at 6 02 11 pm](https://cloud.githubusercontent.com/assets/11384972/7926510/8a871070-0888-11e5-8b41-7d5de6b0863b.png)
image from meteor mongo CLI

[2015-06-02 02:21] harinanda opened #394 "meteor-roles support?"
meteor-roles support?

[2015-06-02 06:16] netanelgilad commented on #379
This seems like a Meteor issue. I think meteor does some kind of serializing of objects being passed to method calls. Are you expecting to get the files on the server by sending them as parameters to the method? I don't think that is going to work. You need to upload the files to the server and then do manipulation,
Check out the CollectionFS package which makes uploading files really easy.

[2015-06-02 11:55] oshai commented on #382
the package was removed but I still have the warning.
from looking at the versions file of meteor I see I still have 2 versions
of angular, although I am not sure that is a problem.

angular:angular@1.4.0

urigo:angular@0.8.12

searching the web I found that usually it happened because of a bad
template route. I was not able to spot one like that... yet...

On Tue, Jun 2, 2015 at 12:54 AM, Dotan S

[2015-06-02 12:05] dotansimha commented on #382
@oshai , please try to debug and check for invalid files that are loaded (404), Meteor does not return "404" - instead he returns the homepage, that can cause angular to load again in some cases.

[2015-06-02 12:05] oshai commented on #382
now its gone, without doing any additional thing, so it might be that it
did the trick. Thanks!

On Tue, Jun 2, 2015 at 2:54 PM, ohad shai <ohadshai@gmail.com> wrote:

[2015-06-02 12:07] oshai commented on #382
thanks, in my case I have "otherwise" route to 404.

On Tue, Jun 2, 2015 at 3:05 PM, Dotan Simha <notifications@github.com>
wrote:

[2015-06-02 12:54] oshai opened #395 "the documentation of AngularMeteorCollection is missing a return value"
the methods here doesnt state their return values:
http://angular-meteor.com/api/AngularMeteorCollection

I think it is a promise.

[2015-06-02 15:37] vacarsu commented on #394
I use meteor roles just fine with angular meteor.

[2015-06-02 16:48] vacarsu opened #396 "$meteor.autorun question."
The documentation shows autorun being used to filter data from the database every time a scope variable changes. Can autorun be used to run some other function when new objects are entered into the database?

[2015-06-02 19:03] Tallyb opened #398 "Multiple publications to the same collection"
I am struggling with grasping this example from the $meteor.subscribe APIs:
[code]
All cool when you have a single subscription. Hwoever, assume I a single 'posts' collection but have 2 publication from my server:
[code]

They are both shown on the same template, so I have 2 scope variables:
$scope.recentPosts
$scope.topPosts

Do I just need to write something like:
[code]
 or something else?

[2015-06-02 20:16] kandizzy opened #399 "Infinite loop when using Meteor Collection Hooks"
Hi there,

Has anyone used [meteor-collection-hooks](https://github.com/matb33/meteor-collection-hooks) along with `angular-meteor`?

I'm having an issue where `.before.update` used with `$meteor.object.save()` results in an infinite loop. Maybe there's a better way to do this within this framework that I'm missing?

[2015-06-02 20:20] vacarsu commented on #398
Not sure of your specific use case, but how I do this:

[code]
Both of the above publish methods look as follows
[code]
[code]

[2015-06-02 20:37] vacarsu commented on #398
Ah I think I understand now, and I believe it would look like this:

You'd use one subscription and set your $scope variables inside of the callback.
[code]

[2015-06-02 22:57] kandizzy commented on #399
I discovered it was due to using [meteor-collection-hooks](https://github.com/matb33/meteor-collection-hooks) and [meteor-collection2](https://github.com/aldeed/meteor-collection2) together

[2015-06-02 22:57] #399 closed

[2015-06-02 23:19] Urigo commented on #394
@harinanda is there any specific requirement you would like to add?

[2015-06-02 23:20] Urigo commented on #395
Fixed by @Tallyb !

[2015-06-02 23:20] #395 closed

[2015-06-03 01:03] Tallyb commented on #395
Only one method, @urigo

On Wed, Jun 3, 2015, 02:20 Uri Goldshtein <notifications@github.com> wrote:

[2015-06-03 02:06] harinanda commented on #394
thanks  @Urigo  and @vacarsu . i got it

[2015-06-03 02:06] #394 closed

[2015-06-03 05:08] Tallyb commented on #398
the $meteor.collection does not recieve options for calculate. The question is if there is a way to reuse the definition in the server of the top posts code, e.g. by subscribing directly to it.
     $scope.recentPosts = $meteor.collection(Posts).subscribe ('recentPosts');

[2015-06-03 05:14] vacarsu commented on #398
Yes there is I do this myself you can return a callback like this:
[code]

[2015-06-03 11:59] oshai commented on #181
thanks, that is very helpful (though hard to find).
in the controller itself I used `$rootScope.currentUser._id`.
Is it possible to use `loggedIn` instead? is it reflecting the user somehow?

[2015-06-03 12:38] JohnAReid opened #400 "How to stop mini mongo collections getting to big?"
Is there a way to clear the existing mini mongo collection before making a $meteor.subscribe call.

I am finding that the code is getting slower (performing a find on the collection) as the client collection is getting larger each time a new $meteor.subscribe is made, and the client collection most likely contains data no longer required.

[2015-06-03 13:02] civilframe commented on #400
@JohnAReid You may want to consider the architecture/layout of your app. $meteor.subscribe only keeps the subscription active as long as the current $scope is alive (it is $destroyed when you the component is no longer being rendered) This should, for the most part, help to control the size of your subscriptions.

The other important piece is to limit your result set. For example, only show the us

[2015-06-03 13:10] ccortezia commented on #400
@civilframe I think you were talking about $meteor.$meteorSubscribe right ?
Take a look at http://angular-meteor.com/api/subscribe.

[2015-06-03 13:13] civilframe commented on #400
@ccortezia Good catch! I mistakenly thought $meteor.subscribe does that all on it's own. Looks like that's not the case..

@Urigo would you confirm/clarify the above?

[2015-06-03 13:15] JohnAReid commented on #400
This is something I have been working on and making sure my search is on the _id field whenever possible.

My concern is really with linking the collection to the $scope object, if the whole collection on the client is exposed to the $scope does this not create extra overheads.    Is it not possible to allocate the collection to a variable within the controller and then clear that variable by sett

[2015-06-03 13:19] civilframe commented on #400
@JohnAReid Setting the collection to $scope variable doesn't add significant overhead (I believe), since it's just a reference. Also, setting the variable to null will not stop the meteor subscription, which is what copies a portion of the database from the server to the client, keeping it in sync.

Meteor subscriptions are a very different concept than what I was used to. If you are new to it as

[2015-06-03 13:25] civilframe commented on #398
@vacarsu There are lots of reasons to have two publications for the same collection. Say you want to make a directive that shows a list of posts by a configurable scope variable.

[2015-06-03 13:28] JohnAReid commented on #400
@civilframe Thanks if it not does add to the $scope overhead  too much then I do not have a problem with using it.

The Meteor subscription system is difficult concept to get the hang off - call the subscription and then do the same thing again on the client -  it's a bit like BOGOF (buy one get one free) but more like CTFO (call twice get once).

[2015-06-03 13:30] Tallyb commented on #398
Assume I have really lots of posts on my server. I do not want to sync all of them to the client.
My client will show page with 2 sections: the top 10 posts and the recent 5 posts. This is why I need to subscriptions to the same collection - the first one to tell the server to bring the 10 top, and the other to tell the server to bring the 5 recent. So, basically my collection can have anything be

[2015-06-03 17:35] JohnAReid opened #401 "$in not returning any data"
I am using the $in to return the records in the collection which match in the array used as per the Meteor documentation sample of {fruit: {$in: ["peach", "plum", "pear"]}}.

This is the line in the Meteor.publish that gets ( or in my case does not get!) the documents:

return Statements.find({_id: {$in: ["12","13"] }});

The collection has a string value in the _id field and the data is returned

[2015-06-03 17:36] oshai commented on #46
@Urigo  - I encounter the same problem. the tutorial says specifically it is not required to write explicit strings in the controller declaration (http://angular-meteor.com/tutorial/step_02), because it is using ng-annotate intenally. was that changed along the way?

[2015-06-03 17:54] Tallyb commented on #46
Name you js files xxx.ng.js so they will be minifed.

[2015-06-03 18:28] oshai commented on #46
thanks! my mistake...

[2015-06-03 18:28] JohnAReid commented on #401
Looks like It does not like the _id being a simple string number!

[2015-06-03 18:28] #401 closed

[2015-06-03 19:25] Tallyb commented on #398
I created this repository with multiple server subscriptions. https://github.com/Tallyb/ng-leaderboard-subs
I am wondering if there is a way on the client side to specify the query as is in the subscription without repeating it (sure, I could use config object instead).

[2015-06-03 19:25] #398 closed

[2015-06-03 20:16] vacarsu commented on #398
I don't think doing this with two different subscriptions is possible, I cloned your repo and the only way I could get the desired results was to use one subscription and filter the results on the client. The angular-meteor tutorial even states that this is the proper way to do this. In each publication you were finding all players anyway and then just sorting them via selection. Seems best to jus

[2015-06-03 20:19] ccortezia opened #402 "Error on save(obj) after pushing angular obj into collection"
I am trying to save a plain object through an object retrieved from $scope.$meteorCollection. I get the following error:

`Error: When the validation object contains mongo operators, you must set the modifier option to true`

The object is as follow:
[code]

The schema was attached this way:

[code]
I dont get this error:
* when I call VehicleSpecs.insert(data) from the browser's console

I get th

[2015-06-03 20:21] civilframe commented on #398
There's nothing wrong with having multiple subscriptions. Meteor is built for this.

[2015-06-03 20:22] vacarsu commented on #398
Yes, but there must be a bug in angular meteor then, because I tried using the repo to use the two publications, without repeating the query in controller and it just wouldn't work.

[2015-06-03 20:37] Tallyb commented on #398
Apparently. you have to repeat the query in controller (or use an options object),as the client is taking from the collection.
I have updated the readme to explain what is going on there. Check it out.

[2015-06-03 20:40] vacarsu commented on #398
Ah, so there is no way around duplication. That is unfortunate. At least you got to the root of it.

[2015-06-03 20:44] Tallyb commented on #398
The subscriptions says what it wants to be brought to the client. The query to the local $scope variable is totally differ. Pretty useful, as you can use the subscription to bring the "next bunch" but only display it later.
If you do not want to repeat yourself, you can use function with parameters.

[2015-06-03 20:49] vacarsu commented on #398
The way I see it is the publication is for security, like when you have a collection that users can only see a specific set of results in, then the controller query is where you further refine the view results. Personally, I would avoid mutliple subscriptions for a single collection, it seems you can do nearly anything with a single publication. Much like in the tutorial where you decide whether t

[2015-06-03 20:55] Tallyb commented on #398
But what if you work on millions of items, and there is no or little security (think Amazon items).  You cannot sync all of the db to the client. You have to pull only a portion. Search query results top 20 + other people Also bought.

[2015-06-03 21:00] vacarsu commented on #398
Yes of course, but you would only have that one subscription to grab 20. you could reuse that pub as many times as you want to grab 20 of any items. you filter the 20 items you receive on client. that that make sense? And when I say avoid multiple publications I mean only when it's absolutely necessary because of data overload. so you could grab 20 items at a time and filter them on the client by

[2015-06-03 21:05] Tallyb commented on #398
If you run your code variation above and check the client local db, you will see all of the db locally. Worth a test.

[2015-06-03 21:06] vacarsu commented on #398
I am aware because I didn't limit the number in that example. I'm saying you could, and then still query for 20 items of whatever you needed. I can create some example of what I mean if you want.

[2015-06-03 21:12] vacarsu commented on #398
[code]
like so works with the same subscription and you can lower the client side limit even further down if you wanted.

[2015-06-03 21:41] vacarsu commented on #398
Here is another example showing the power of a flexible pub/sub
[code]
[code]

[2015-06-03 22:29] civilframe commented on #398
@vacarsu The above example won't work 100% of the time. The subscription will only fetch the top three players, by id. What if the top three players by score are not also the top by id? And what if the top three players by name are also not the top by id. You need multiple subscriptions in this case.

[2015-06-03 22:51] vacarsu commented on #398
@civilframe Ah! you are absolutely right, I didn't even think to take that into account. Certainly some tweaking could be done to shrink it into one sub? Having a hard time conceptualizing what that may look like at the moment.

[2015-06-04 05:11] Tallyb commented on #398
I have updated the repository to start / stop any subscription, so you can inspect local database to see what is going on.
Also published on http://ng-leaderboard-subs.meteor.com/

[2015-06-04 05:13] Tallyb commented on #400
@JohnAReid - we have discussed some of it in other issue: https://github.com/Urigo/angular-meteor/issues/398
Also check this repository to get some idea on how not to think all data. https://github.com/Tallyb/ng-leaderboard-subs

[2015-06-04 09:49] Tallyb opened #403 "(docs) - $meteor.collection API"
The doc says:
Calling $scope.$meteorCollection is exactly the same but additionally it will automatically **stop the collection** when the scope is destroyed. Therefor this is the recommended method.

What does "stopping the collection" means here? I understand stopping of subscription, but I am not clear what happens when the collection is stopped.

[2015-06-04 12:58] Urigo commented on #395
good, waiting for the next one ;)

[2015-06-04 13:59] Urigo commented on #181
@oshai `loggedIn` is just showing if there is a login process right now

[2015-06-04 14:00] Urigo commented on #181
@oshai where do you think we should add this to the docs?

[2015-06-04 14:30] Urigo commented on #400
@civilframe great answers, can't add any more to it and just confirming everything you said (including using `$scope.$meteorSubscribe` and not `$meteor.subscribe`

[2015-06-04 14:30] #400 closed

[2015-06-04 14:31] Urigo commented on #400
@Tallyb that's a very nice example !

[2015-06-04 14:39] ccortezia commented on #402
I managed to isolate the problem on a sandbox repo, and I think I may be performing a operation considered invalid.

Please checkout this repo on the given branch:
https://github.com/ccortezia/angular-meteor-sandbox/tree/angular-meteor-issue-402

Try to press "OPEN BLANK" followed by a "SAVE PRESET". It should trigger the mentioned behavior.

In the code, "OPEN BLANK" causes a $scope.blank variabl

[2015-06-04 16:03] Tallyb commented on #181
@Urigo @oshai  it should probably be added here: http://angular-meteor.com/api/auth .
Are you referring to "$rootScope.loggingIn" ?

adding user resolve on every state seems a bit of overhead, doesn't it? is there a problem with using the (pretty) standard solution of $on ('$stateChangeStart')?

[2015-06-04 16:12] mgrivera commented on #398
Wow, I can see how this is a very powerful mechanism, I mean stopping subscriptions, because when doing it the local data is cleared at the same time and automatically. Well, at least what corresponds to the particular subscription, because you have two of them in the sample and can have one active but the other stopped.

Very interesting indeed .. thanks for the beautiful sample, at least for me

[2015-06-04 16:32] oshai commented on #181
Auth docs seems a good place.
On Jun 4, 2015 19:03, "Tally Barak" <notifications@github.com> wrote:

[2015-06-04 17:36] Urigo commented on #181
@Tallyb you are right

[2015-06-04 17:40] vacarsu commented on #396
Solved this with meteors observeChanges.

[2015-06-04 17:40] #396 closed

[2015-06-04 19:06] vacarsu opened #406 "Problem with subscription and ng-controller directive."
Using the ng-controller directive does not allow for enough time for the subscription to finish, which means bindings do not appear. Is there anyway around this? I want to avoid putting it in a ui-router view as this causes the controller to be re-instantiated every time a route is hit with that view.

[2015-06-05 04:33] JohnAReid opened #407 "Mongo database options"
Would it be possible to provide an example of the best way to do the following:

1 - To use two mongo databases (one for static data and the other for user info)

2 - To have two Meteor projects which uses the same mongo database.

[2015-06-05 08:14] JohnAReid commented on #400
OK I have had to re-open this due to the follow:

 I have three states on a ui router, home, list and list.detail, all with separate controllers.

In the list controller I call the following which is getting a list of statements from Mongo:
$scope.statements = $meteor.collection(Statements, false).subscribe('subscribeStatementsReq', detail.all).

In the detail controller I call the following:
$sco

[2015-06-05 08:18] JohnAReid opened #408 "How to stop mini mongo collections getting to big? - re open of #400"
OK I have had to re-open this due to the follow:

I have three states on a ui router, home, list and list.detail, all with separate controllers.

In the list controller I call the following which is getting a list of statements from Mongo:
$scope.statements = $meteor.collection(Statements, false).subscribe('subscribeStatementsReq', detail.all).

In the detail controller I call the following:
$scop

[2015-06-05 08:37] smoke commented on #408
You are perfectly correct, unless subscriptionHandle is stopped by calling ```subscriptionHandle.stop()``` the documents are still kept and synced in Minimongo.

So what you will have to do for collection subscriptions is one of the following:
* Get the subscriptionHandle once the subscription completes and have a custom ```$scope.$on('$destroy', function() { subscriptionHandle.stop(); });```. Thi

[2015-06-05 09:08] Tallyb commented on #407
It seems that this is a better place to search for an answer or submit your question: https://forums.meteor.com/
It is not directly related to angular-meteor

[2015-06-05 12:34] endows opened #410 "I want to use jade in angular-meteor"
I had use jade in angular-meteor.like this

using package
[code]

directory structure
[code]

Error code
[code]

Could you tell me.please

[2015-06-05 13:42] Tallyb commented on #406
Can you provide additional details?

[2015-06-05 15:03] civilframe commented on #410
@endows Check out my package https://github.com/civilframe/meteor-angular-jade

[2015-06-05 19:57] vacarsu commented on #406
Sure, I have a navbar which needs to be on every page. So I put it in the index.html file with an ng-controller directive. Inside of the controller I have a Counts subscription which counts unread notifications and displays the number in the navbar. The problem is the binding does not appear when I use ng-controller. I put the navbar inside a ui-view and it works, however this causes the controlle

[2015-06-05 20:44] Tallyb commented on #406
I am not answering your question, but suggesting some alternative. You may want to use named views.
<div ui-view="navbar"><div>
<ui-view>.
In your top state you add a view section to the state object. https://github.com/angular-ui/ui-router/wiki/Quick-Reference#ui-view
ui router knows only to replace the chagied parts between states, so if your state does not explicitly referring to the navbar vie

[2015-06-05 20:50] vacarsu commented on #406
Thanks for your suggestion I tried using name views but I guess the only way is to have a root view and put the navbar on the root view? I'm using named views, which is where I put the navbar for a short time. However because I do not have a single root view I had to add the view name to each parent route which caused the controller re-instantiating.

And to answer your question I am using the $sc

[2015-06-05 21:11] Tallyb commented on #406
well, state diagram wise, you have a "root" view which is the screen having the navbar and some content. Everything else should inherit from it. your root view === you index.
If you will use the $meteor version, you can control the establishment of the subscription, and it will not be started and stopped with every screen change. For example, if you will put it in module.run
$meteor.subscripbe ('C

[2015-06-05 21:15] vacarsu commented on #406
Ah, putting it in a run block is a great idea! Also, restructuring my routes as you suggested. Though I still think this issue should stay open. ng-controller should still work.

[2015-06-05 22:36] endows commented on #410
@civilframe Thank you Alex.The problem was solved.

[2015-06-05 22:36] #410 closed

[2015-06-06 09:47] dagatsoin commented on #367
Hello Urigo,

I would love to help on this because:
1) I am looking for a while for a project to begin in the "test world". I have never done this.
2) I am actually working on an meteor-anagular project so I think I got the time to get in.

Have you got an introduction to test ? I am completely new in this, there is a lot of docs on tests but I prefer a doc you could recommend me to begin on the s

[2015-06-06 13:27] Urigo commented on #408
@smoke thanks so much for the great answer.
how would you improve the docs to make it easier for more people to understand that concept?

also, @Tallyb has wrote a new blog post on this subject:
https://medium.com/angular-meteor/coll-pub-sub-with-angular-meteor-cb13fe48f570

[2015-06-06 13:27] #408 closed

[2015-06-06 13:29] Urigo commented on #407
@JohnAReid I agree with @Tallyb although I too would love to see a nice and good example of this.
Can you please open this on the Meteor forum and paste the link here for future usage?
thanks

[2015-06-06 13:29] #407 closed

[2015-06-06 13:34] Urigo commented on #406
I agree with @Tallyb about the structure, but as for your question, the problem shouldn't be on ng-controller.
If the subscription is not ready it's not s problem, think about it like the $http promise.
Let's say you bind your Counts like that:

    $scope.dogsCount = $scope.$meteorObject(Counts, "numberOfDogs", false);

and then later you subscribe to

    $scope.$meteorSubscribe("dogsSubscriptio

[2015-06-06 13:37] Urigo commented on #403
You are right, the explanation is bad...

It's closing the:

* autobind if it's open
* Observe on the cursor
* Clearing the data from the array

Here is the code:
https://github.com/Urigo/angular-meteor/blob/master/modules/angular-meteor-meteorCollection.js#L222-L233

maybe you can suggest an edit to the docs?
thanks!!

[2015-06-06 13:37] #403 closed

[2015-06-06 17:10] Urigo commented on #402
@ccortezia can you try running your example with the latest code?
Since the release we added a fix that might fix that.
If so I will release a new version now

[2015-06-06 17:15] Urigo commented on #349
@auterium have you had further thoughts on that?

[2015-06-06 17:17] Urigo commented on #367
@dagatsoin that will be awesome!
we already started with integration tests so you can see some examples here:
https://github.com/Urigo/angular-meteor/tree/master/tests/integration

about unit tests, you can use Jasmine as if it was a regular Angular application, same thing with E2E with Protractor

[2015-06-06 17:55] Tallyb commented on #403
OK, I understood what bothers me with the description. While on subscribe you get a manual way of doing the stop (namely .stop() on the handle), collection does not provide an "alternative" way. This why I do not like that it is the "recommended" method - it is all or nothing :).
Having said that, I understand that the data will be cleared upon closing the subscription, and same goes for cursor ob

[2015-06-06 18:01] Urigo commented on #403
You can still call stop() , it's a public function on the array.

It is important to stop the query handle (cursor observe) as it will continue to watch even if there is no data.

[2015-06-06 20:13] Tallyb commented on #403
So this is an undocumented method in addition to  save, remove and subscribe?

[2015-06-06 20:32] Tallyb commented on #403
created a new PR for both $meteorCollection service and the object.

[2015-06-06 21:50] vacarsu commented on #406
@Urigo The problem is the binding never got filled with the data. Not until I used a named view in ui-router. Angular-meteor works incredibly well with ui-router no problems at all. Problems arise when you are not using a router to handle controller bindings.

[2015-06-06 22:52] oshai opened #415 "is it possible to use getReactively on $rootScope variables?"
I have a case that I want to update the ui based on the user so if a user was log-out and log-in ass different user, a score of the user in the ui is changed. The way I thought about doing it is by looking at `$rootScope.currentUser`.

from my testing it seems like there is some kind of access to the $rootScope, but it is not getting updated on user change (unless I have a bug in my code). here is

[2015-06-07 11:59] oshai commented on #415
I post it also here: http://stackoverflow.com/questions/30693154/is-it-possible-to-use-getreactively-on-rootscope-variables

[2015-06-07 13:07] dagatsoin opened #416 "Huge performance down after rerun a subscription of 1500+ elements."
I am making  an app with a map and a bunch of filters on the left side. I have a collection called `Traces` which are some geolocalised points. And a `Trackers` collection which are traces' categories.
When I subscribe to `Traces` I send an array of `trackersIds` to get what I need.

I got this autorun block which reruns each times the trackers ids array is changed.

[code]

My subscription is abo

[2015-06-07 16:04] Tallyb commented on #416
I am not sure it will solve your solution, but can you try replace $meteor.subscribe with $scope.$meteorSubscribe  and $meteor.collection with $scope.$meteorCollection?
 one other thing which might give you an idea is this:
place the code bellow as a bookmark item (the code is the url)
click it on the page. You will see the number of angular watchers on the page.

      javascript:(function() { va

[2015-06-07 16:13] Tallyb commented on #415
you can use Meteor.user() instead. this is a reactive var.

[2015-06-07 17:41] civilframe commented on #416
@dagatsoin You may also take advantage of Angular's single-binding feature, for example:

[code]

References:
https://docs.angularjs.org/api/ng/directive/ngBind
https://docs.angularjs.org/guide/expression

[2015-06-07 18:34] Urigo commented on #406
@vacarsu can you please share a repo?

[2015-06-07 19:52] oshai commented on #415
It is working, thanks!
Is it a bug? should it be documented somewhere?
the documentation <a href="http://angular-meteor.com/api/auth">here</a> says:
`$rootScope.currentUser — The current logged in user and it's data. it is null if the user is not logged in. A reactive data source.`

[2015-06-07 21:07] dagatsoin commented on #416
@Tallyb I replace collection and subscribe. Did not notice any change but it is best-practice, so thx.

Concerning the watchers. Something strange here. Each time I uncheck and recheck a tracker layer - so at each autorun iteration - the total number of watchers increases by 2: 92, 94, 96, 98... instead of stay unchanged.
Is it a normal behavior ?

[2015-06-07 21:09] pdavidow opened #417 "http://angular-meteor.com/tutorial/step_12 "Stopping a subscription""
... is missing the code for "subscriptionHandle".

Also, in general this tutorial is full of typos and broken sentences -- which only adds to the complexity.

[2015-06-08 01:49] auterium commented on #349
Hey @Urigo, here are some thoughts:
- Make all items within $meteor.collection to be instances of SubObject
- Rename all SubObject's methods to start with $ to avoid property collitions
- $meteor.object would internally call $meteor.collection and return the first item only

Let me know what you think and if we agree I'll do the code.

[2015-06-08 03:56] Tallyb commented on #415
@oshai If you look at the code, you will see that $rootScope is reactively getting the value from Meteor.user(). I do not think it is  a bug, I believe more of "best practices". Since Meteor.user is already reactive, there is no point (and also from performence POV) to make $rootScope reactive on top of it. The purpose of $rootScope.User is to enable using the user in "pure" angular things, such a

[2015-06-08 08:44] oshai commented on #415
I am pretty sure there is a bug over there (angular-meteor-user.js:line 6)
    if (Meteor.user) {
should be
    if (Meteor.user()) {
not sure if this cause anything or it will fix anything, but probably a bug.

I can create a PR for that.
In addition, I don't understand what is the benefit of
`$rootScope.currentUser`.
is it only syntactic sugar?

On Mon, Jun 8, 2015 at 6:56 AM, Tally Barak <notifi

[2015-06-08 11:22] bjarketrux opened #418 "Date is interpreted as an object in diff-array.js"
I have a problem of a date not being updated on the database when a client changes the value (value is updated on client).

The code in `diff-array.js` looks like it interprets dates as an objects, and tries to compare all properties on it, but there isn't any.

[code]

If you call the above code with a `new Date()` as the value it will return true.
Is this a bug or intended behavior?

Thanks

[2015-06-08 11:25] MilosStanic commented on #406
@vacarsu if you're placing it in index.html it will not get parsed by Angular. It has to be in some .ng.html file.

[2015-06-08 11:46] ccortezia commented on #402
Ok @Urigo, problem doesn't happen anymore. Seems to have been fixed on 7a607c35b5b8bc1a5d9dd2040c2f7d3bcbfe12b5, or maybe ad288f7b72518b0296a5f16a18d61572edcf6f7d. Probably relates to #389.

[2015-06-08 11:46] #402 closed

[2015-06-08 13:38] Urigo commented on #349
@auterium I'm not sure exactly about the first 2 points, can you share an example?

[2015-06-08 14:44] smoke commented on #416
@dagatsoin Have you tried "stopping" the old collection as I believe it still hold some resources and execution cycles unless told so.
Here is an example using your code, but you would just place the piece of code within your refactored variant.
[code]

Please share with us if this works.

[2015-06-08 16:13] Urigo commented on #387
@vacarsu released in the new 0.8.14 version

[2015-06-08 16:21] Urigo commented on #418
@bjarketrux do you think you can add a failed test that catches this scenario?

[2015-06-08 16:38] Urigo commented on #417
@pdavidow thanks for your feedback, there is no need for subscriptionHandle as the $scope.$meteorSubscribe closes it when scope destroys automatically like described in the tutorial, but you are right and I've added an explanation about how the manually stop it just in case with reference to the API docs:
https://github.com/Urigo/angular-meteor/commit/e0850051e9a2b4e0c344d553a5df7280a45dcda3

As f

[2015-06-08 16:38] #417 closed

[2015-06-08 16:47] Urigo commented on #415
@oshai the reason it's `if (Meteor.user) {` and not `if (Meteor.user()) {` is because I want to return null even when that's what Meteor.user() return, but it keeps track of it and when it will change, it will return the new value.

`$rootScope.currentUser` is just a wrapper for http://docs.meteor.com/#/full/meteor_user   you can use it in a controller or in the HTML

[2015-06-08 16:52] bjarketrux commented on #418
First thing tomorrow!

[2015-06-08 16:52] auterium commented on #349
Ok, so right now when you use $meteor.object, you get an instance of SubObject, which has the getRawObject, save, reset, etc methods, so basically $meteor.collection would do the same for each object in the array.

For the second point, though is not that common, but let's say that for some reson you want to have a boolean property called reset, which common sense would say to use allowReset or is

[2015-06-08 16:53] pdavidow commented on #417
I was just going by the Code Diff (button at bottom of http://angular-meteor.com/tutorial/step_12) which shows (for the first time):

$scope.$on('$destroy', function() {
      subscriptionHandle.stop();
});

[2015-06-08 16:59] oshai commented on #415
@urigo I think I am missing something. from my chrome console:
the return value of the expression "Meteor.user" is always "function
Meteor.user()" whether the user logged in or not.
am I right? its like saying 'if(true)'

Ohad

On Mon, Jun 8, 2015 at 7:47 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-06-08 17:05] Urigo commented on #349
@auterium yes that's very smart.
My worry is about performance on the collection.  do you think it will affect?
Maybe we can think of a way to make it an object only on demand?

[2015-06-08 17:06] Urigo commented on #417
ohh I understand.
Yes the sources needs to be updated.
Will do that very soon

[2015-06-08 17:06] Urigo commented on #415
You are right, It's a function, but I'm talking about the return value..

[2015-06-08 17:14] auterium commented on #349
I had my worries about performance too, so I was thinking that that could be an option when calling $meteor.collection which by default would be false. Here's a proposed signature:
$meteor.collection(collection, [autoClientSave, [updateCollection, [returnSubObject]]])

I'm not very fan of adding lots of arguments to methods, so this is something I would like more:
$meteor.collection(collection, [a

[2015-06-08 17:33] auterium commented on #416
@Tallyb, @dagatsoin, @smoke there's no need to stop a subscription within the $meteor.autorun, as the method internally handles the subscriptions and stops them whenever the previous autorun gets invalidated, so using $scope.$meteorCollection (which internally binds to the $destroy signal of the scope) or checking if it can be stopped (as proposed by smoke) will have no effect other than some extr

[2015-06-08 17:45] oshai commented on #415
I am sorry. But I still don't understand in what case this if expression
changes. The function is not called without the () right?
 On Jun 8, 2015 8:07 PM, "Uri Goldshtein" <notifications@github.com> wrote:

[2015-06-08 20:00] vacarsu commented on #406
@MilosStanic Ah, I see thanks. So it is a meteor thing.

[2015-06-08 20:00] #406 closed

[2015-06-08 20:10] civilframe commented on #416
@auterium :+1: great suggestion

[2015-06-08 20:20] dagatsoin commented on #416
@auterium In fact, @smoke 's solution has worked. I think the `$destroy` signal does not fire. But I don't understand why.

So manually stopping it does the job. And the number of watchers does not increase at each iteration any more.
So, is it the normal behavior? Would not be to the $meteorSubscribe to auto stop when the autorun iterate like @auterium says? Could it be a bug?

[2015-06-08 20:25] vacarsu opened #420 "state templateUrls not working when using traceur compiler."
I'm having an issue where ui router isn't able to find my template when using es6. I have a repository up here https://github.com/vacarsu/angular-meteor-es6-issue

I checked all my template urls and they all seem to be correct.
No matter what I try I just keep getting:
Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For m

[2015-06-08 20:34] auterium commented on #416
@dagatsoin the $destroy signal is at the $scope level, so when the $scope is destroyed, the signal gets send. $scope.$meteorObject, $scope.$meteorCollection, and $scope.$meteorSubscribe are stopped when the $destroy signal is fired.

Strange thing is that when I researched this it was properly stopping on each autorun computation. How are you checking the listeners?

[2015-06-08 22:00] dagatsoin commented on #416
I don't check the listeners. It is just a deduction because I need to manually stop this. Do you have a snippet to check if $destroy is fired ?

I dis this but nothing logs:
[code]

[2015-06-08 22:32] auterium commented on #416
@dagatsoin man it took me almost 20 mins to figure out this...

Here's your problem: you should not call for $meteor.collection or $scope.$meteorCollection within the autorun. Each autorun's invalidation stops any subscription created inside it to replace it for the new one, but it doesn't do the same for collections or objects. You should be using $scope.$meteorCollection outside the autorun as i

[2015-06-08 23:56] Urigo commented on #415
ohh the reason for the if statement is to check if you have to accounts package.
If you don't have the accounts package, Meteor.user would be undefined

[2015-06-09 00:01] Urigo commented on #420
@vacarsu looks like you have 2 different ways to start the paths:

    /client/modules/navbar/views/navbar.ng.html
    client/modules/root/views/root.ng.html

as for ES6 examples, there is this one:
https://github.com/pbastowski/meteor-angular-socially/tree/feature/ng2now

which is also based on the great Angular2.0Now package:
https://github.com/pbastowski/angular2-now

let me know if that helped

[2015-06-09 00:10] Urigo commented on #349
@auterium I like the options parameter, that's really nice and also follows Meteor's conversions (kind of like Mongo..)
My thinking was (not sure) to maybe at the beginning just to return the object with the functions just when calling $meteorObject (without changing collection itself)
but I'm not sure if it's possible with the implementation and just saw that as a first step.

What do you think?

[2015-06-09 00:41] vacarsu commented on #420
Sorry about the two different paths, that's just me trying different ways. I'll check out the examples.

[2015-06-09 01:09] vacarsu commented on #420
Is there anyway to get this working without using angular2now? I'm already using traceur to transpile to es5.

[2015-06-09 11:38] Tallyb commented on #398
For further reference, I add here the link to my blog post on the angular-meteor blog, if anyone finds it relevant: https://medium.com/angular-meteor/coll-pub-sub-with-angular-meteor-cb13fe48f570

[2015-06-09 12:06] bjarketrux commented on #418
Fixed in pull request #422

[2015-06-09 12:06] #418 closed

[2015-06-09 17:11] vacarsu commented on #420
Small update, I do see my templates being loaded in chrome devtools. I wonder what is going wrong when displaying them.

![screen shot 2015-06-09 at 10 09 49 am](https://cloud.githubusercontent.com/assets/11384972/8064490/e38ce84a-0e8f-11e5-9b43-f95f08702840.png)

[2015-06-09 17:22] oshai commented on #415
Got it, Thanks!
I still think there is a bug there, I will try to reproduce it.

On Tue, Jun 9, 2015 at 2:56 AM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-06-09 19:17] dagatsoin commented on #416
@auterium, it works like @smoke code but much proper! Your 20 minutes has been very useful indeed. You finally make me understand in which order collection/subscription work! It worse a beer or two if you come to britany :beers:

[2015-06-09 19:17] #416 closed

[2015-06-09 19:22] smoke commented on #416
@auterium Great job - definitely seems more proper and cleaner with your solution!

[2015-06-09 19:52] auterium commented on #416
Thanks guy, I'm glad it helped! And @dagatsoin, I'll be in Paris for 2 days in september if you want to pay for those beers lol

[2015-06-10 06:07] vantonio commented on #379
Hi, sorry for the delay. The code was used on the client to insert files, until I realized that meteor and angular together just won't work.
Right now I have dropped the angular-meteor package all together, but I'm curious about the angular 2 version.
Thanks for the answer and apologies for the delay again.

[2015-06-10 06:07] #379 closed

[2015-06-10 09:21] netanelgilad commented on #379
@vantonio Just cause I'm curious to see if there really is an angular-meteor issue here. Did calling the Meteor Method work for you using the regular Meteor.call?

[2015-06-10 18:23] Urigo commented on #379
@vantonio can you share your code in a repo so we can see if indeed it is an angular-meteor issue and solve it?

[2015-06-11 02:31] vantonio commented on #379
Hi there @netanelgilad @Urigo, to accomplish this upload function, I've tried a few angular modules, like https://github.com/danialfarid/ng-file-upload or https://github.com/flowjs/ng-flow.
If I'm not mistaken, they all add a directive, monitor an element(```<button>``` or ```<a>```), and return object or array of objects of type File(https://w3c.github.io/FileAPI/).

But the problem is when you p

[2015-06-11 02:46] vantonio commented on #379
Also I want to apologize for the comment ```meteor and angular together just won't work```, what I meant was it won't work for me on this project:-) --I had to finish the project in less then a month.
There are many other factors here, for example meteor can't access anything from current $scope. I've tried hacks like using the $rootScope but overall it felt like an overkill for the project I'm wo

[2015-06-11 12:39] Urigo commented on #379
@vantonio because CollectionFS is a little different then the regular Meteor collection it needs some special care but we already support it.
We do plan to create a tutorial for that really soon, in the meantime you can find a few examples of how to accomplish what you want here:
https://trello.com/c/tLGobwdw/26-uploading-media-photos-videos-chapter

As for an Angular 2.0 version, we already suppo

[2015-06-11 14:45] RobinBuschmann opened #426 "angular-meteor requires "mquandalle:bower@0.1.11"(?) and causes some issues"
If i'm using "angular-meteor" in a custom package, meteor always installs the "mquandalle:bower@0.1.11" package for my test project. Which in turn causes that meteor resolves some dependencies defined in a bower.json file somewhere in the "angular-meteor"-package (?). I guess thats why meteor loads angular.js twice:
After running my project, i'm seeing this in chromes developer console under "Sour

[2015-06-11 15:37] mgrivera opened #427 "Problems trying to publish ui-grid to Atmosphere"
Hi all, I'm trying to publish ui-grid (not ng-grid, which has been published!) to Atmosphere. I'm trying to follow instructions in step 17 in tutorial, but have some problems. This is what I did:

1) installed bower
2) (using bower) installed ui-grid in a directory in my PC
3) cloned meteor-package-publisher to the same directory
4) created a json (package) file for ui-grid (ui-grid.json). I did t

[2015-06-11 16:39] vacarsu commented on #420
If I hardcode the template directly in the state declaration it works perfectly. Obviously this is something I want to avoid doing. I'm trying to port a large app from MEAN stack to angular-meteor, and I'm stopped at this point.

[2015-06-11 18:06] netanelgilad commented on #426
Hey @RobinBuschmann ,
It seems like your project is using a very old version of angular-meteor (0.3.6) which still used bower. Can you try updating to the latest version? `meteor update urigo:angular`

[2015-06-11 18:24] rgnevashev opened #428 "Bug - Date javascript object convert to {} on $meteor.collection(..).save"
file angular-meteor-utils.js line 28
`if( !angular.isObject(data) || data instanceof File) { return data; }`
replace to
`if( !angular.isObject(data) || data instanceof File || data instanceof Date) { return data; }`

[2015-06-11 19:50] Urigo commented on #427
@dotansimha

[2015-06-11 20:39] RobinBuschmann commented on #426
hey, thank you. that fixed the issue. I'm new to meteor and just wondering why meteor installs an old version, when no explicit version is specified.

    api.use('urigo:angular', 'client');

[2015-06-11 22:15] #428 closed

[2015-06-11 22:16] Urigo commented on #428
Thanks @rgnevashev and thanks @cantoine , I've added tests to make sure we won't make the same mistake again

[2015-06-12 06:23] netanelgilad commented on #426
That is good question. Did you create the repository along time ago when it had angular-meteor already and then you did some changes?
Meteor saves package version in the `versions` file, so if you had angular-meteor on the project a long time ago and the removed it, and recently re-added it, it may save the version from the first time.
That is just my wild guess...

[2015-06-12 07:08] RobinBuschmann commented on #426
No actually not. I've created the project and the repo yesterday and i've tested it again a few minutes ago with a new project (+ package, which integrates meteor-angular): again meteor installed version "0.3.6"

[2015-06-12 11:48] ccortezia commented on #426
This happened to me too, and forced me to hard-bind all my packages to the current latest version. Couldn't figure out the reason yet.

[2015-06-12 12:07] dagatsoin opened #429 "waiting for data loaded before handelling collection ?"
I need to wait the end of a subscription. I handle a subscription about 2000 items in a Leaflet heatmap. I want the heatmap displays after the subscription is complete.
I tried to use MeteorSubscribe.then() promise, but it fires before the end. So my heatmap is incomplete.

`Template.subscriptionsReady` is the perfect thing to handle that but how I use it in angular-meteor ?

[2015-06-12 18:43] vacarsu commented on #429
Can you show how you're using MeteorSubscribe in the controller? The only time I've had issues with subscription data not binding to the template is when using ng-controller in index.html

[2015-06-12 18:52] Urigo commented on #426
That's very strange and looks like it might be a bug in Meteor's version solver.
@RobinBuschmann , can you please open an issue in Meteor and reference it to here?
thanks

[2015-06-12 18:52] Urigo commented on #373
Solved with this answer:
http://stackoverflow.com/a/30506565/1426570

[2015-06-12 18:52] #373 closed

[2015-06-12 21:21] dagatsoin commented on #429
Sure, here it is.

  	$scope.traces = $scope.$meteorCollection(Traces);

	$meteor.autorun($scope, function(){
  		$scope.getReactively('trackersIds',true);
		$scope.$meteorSubscribe('traces', {trackersIds:$scope.trackersIds}).then(function(){
		  	$scope.tracesCount = $scope.$meteorObject(Counts ,'numberOfTraces', false).count;
		});
  	});

 I found a work around comparing the total number of ite

[2015-06-12 21:53] vacarsu commented on #429
In your first example looksl ike your trying to get a collection without subscribing to it.
[code]
should be
[code]
Or combine it in the counts object subscription.

[2015-06-12 22:08] oshai commented on #415
I think I managed to reproduce it, although not exactly my code. if you can look here: http://reproduce_415.meteor.com I created 2 users:
a@a and b@b both with password 123456 and a random score (list below in that page).
when a user logged in / out - the score should be changed - based on the reactivity of 'currentUser'. but it doesnt happen:

![image](https://cloud.githubusercontent.com/assets/2

[2015-06-12 22:57] oshai opened #432 "It is not clear/consistent where should users ask questions about angular-meteor when they face difficulties"
right now, if a user of angular-meteor has a problem of understanding the api or a bug in his code he can open an issue here or in stackoverflow or in meteor forum or in angular forum or maybe some other places (gitter chat?).
I think this consistency issue make it less transparent to community, and make communication harder. In addition, it is much harder to google for issues that are related to

[2015-06-13 02:54] Tallyb commented on #432
+1

[2015-06-13 08:00] dagatsoin commented on #429
A trace has a trackerId property.
My first autorun re-subscribe to the traces when the list of trackersIds change. This works well.

The problem is that the subscribe promise doesn't wait the end of loading to resolve.
So my `then()` script start to handle an incomplete collection of traces.
It does:
- subscribe
- begin to load the collection
- resolve the promise and continue the script (so with

[2015-06-13 08:27] dotansimha commented on #427
Hi @mgrivera, please follow these instructions:
1. clone meteor-package-publisher into a clean folder.
2. run "npm install" in this folder
3. create a JSON file for you package (it looks like the one you created is a good one)
4. run "node ./meteor-package-publisher test.json" in this folder

Note: You need does not need to install ui-grid from bower, the publisher does this for you.

[2015-06-13 14:25] mgrivera commented on #432
Brilliant. I'm very new to all this stuff and things are just becoming easier for me, just a little bit. But I like the whole direction this angular-meteor stuff is taking. Organizing communication this way is a step forward. Thanks ...

[2015-06-13 14:28] mgrivera commented on #427
@dotansimha Thanks for ansewring! I will try this later and post results ...

[2015-06-13 15:25] Tallyb opened #433 "reactive variable across controllers"
please advise:
I have a varialbe (actually 2) that I want to be reactive across controllers, as it impact the behaviour of multiple controllers & views. I have a top level controller which remains during all time, and the other controllers may change, although there are 2 views on the page (with 2 controllers) that both  reflect the reactive variable.
My options:
- Sharing data among controllers i

[2015-06-13 16:23] netanelgilad commented on #433
You can just add a variable on your scopes that points to the variable in
the service. Than use get reactively on the scope variable name (which is
just a reference to the service variable). Should probably work.

On Sat, Jun 13, 2015, 18:25 Tally Barak <notifications@github.com> wrote:

[2015-06-13 19:16] oshai commented on #415
from debugging I noticed that "autorun" method is called only once when page is loaded and not after a logout/login. I am not sure it is the same but in meteor's Tracker.autorun documentation: http://docs.meteor.com/#/basic/Tracker-autorun it is not clear that this function will run after login/logout.

[2015-06-14 10:27] netanelgilad commented on #429
Hey @dagatsoin,
That is an interesting issue that I encountered a while back as well but haven't resolved yet. I suspect that this may be a Meteor issue but I am not sure. Can you try just using `Meteor.subscribe` and add a callback as the last parameter for when the subscription is ready?
From my previous trials I think that the ready event of the publication gets to the client before all the ite

[2015-06-14 12:19] dagatsoin commented on #429
According to [this post](https://forums.meteor.com/t/this-ready-in-a-publication/1681/10) It seems that the `this.ready()` on the server is fired independently to the end of the data sending.
So client receive a "ready" event (which resolve the $meteorSubscribe promise) while documents are still loading.

So I have to do dome modification on my publish function on the server. I will do some test w

[2015-06-14 13:06] endows opened #434 "Collection's transform not work."
I want to use transform like this.

[code]

but it is not work.angular-meteor is not support transform?

[2015-06-14 13:46] netanelgilad commented on #434
Hey @endows,
Notice that you are using the deprecated api for collection. Try doing:
[code]
`$meteorCollection` should work with Collection transforms. Try it and tell us how it goes.

[2015-06-15 01:03] endows commented on #434
Hi @netanelgilad Thanks to reply. There is bad new and good news.
First bad news.I used ```$meteorCollection```,but same result.
Next is good news. I try this
[code]
If, ```findOne```'s query is empty,result inserted ```Channel``` object.

[2015-06-15 07:58] endows commented on #434
I settled this program. This is so simple.
```_id``` must be ```STRING``` like this.
[code]

[2015-06-15 07:58] #434 closed

[2015-06-15 15:44] mgrivera commented on #427
Hi dotansimha, sorry for just wanting to check with you before running package-publisher:

1) this is the bower site for ui-grid (it is *not* its github site, just the (github) bower site):

https://github.com/angular-ui/bower-ui-grid

2) this is the bower.json file in the bower site:

{
  "name": "angular-ui-grid",
  "version": "3.0.0-rc.22",
  "main": [
    "./ui-grid.css",
    "./ui-grid.eot",

[2015-06-15 17:41] auterium commented on #349
@Urigo, sorry for the late response, I've been very busy lately. I checked the source code and found that adding SubObject support for $meteorCollection is not a straight-forward thing to do, so I think that for now the way to go will be to make $meteorObject depend on $meteorCollection and use it.

[2015-06-15 20:05] Urigo commented on #349
ok sounds good.
thank you so much for your efforts and time!

[2015-06-15 21:37] dandv commented on #37
CC @pscanf

[2015-06-15 23:08] Millen31 opened #436 "<img ng-src="{{url()}}"> Maximum call stack size exceeded"
With Angular-Meteor the function will be called 8 times. I just get 2 "yeah"s with pure angular. In different scenarios I got a "Maximum call stack size exceeded"
[code]

[2015-06-16 10:00] MilosStanic commented on #436
+1, getting the same error in similar situation, i.e. when calling a controller function to resolve image url.

[2015-06-16 12:43] mxab commented on #436
I think the problem here is that angular is not able to check when this needs to be called similar to the stateful filters and therefore evaluates your expression during every digestion.

Is it possible to realise this within a watch expression?
[code]
Just a wild guess

[2015-06-16 18:58] pythman commented on #436
@Millen31  I tried your code and it works fine with no errors

[2015-06-16 22:17] MilosStanic opened #442 "Maximum call stack size exceeded"
I first thought it was due to #436 , but I removed that similar code where I call a function to resolve image url and I still get Maximum call stack exceeded on a diffObjectRemovals. I see it's a recursive function, so I guess the condition to break out of the recursion is not good.

I don't know how to see what is calling this function and how it came to that.

[2015-06-17 02:43] Tallyb commented on #442
I had a similar issue. Do you $watch a reactive car? Do you use transform function?
Check any $meteor.autorun code as well.

[2015-06-17 13:06] michalmw opened #445 ".subscribe send Array. How i can use meteor to find somethik?"
Hello,
i have array:
$scope.tablica = [];
When i push only one element to array all is ok. But if i splice or push another element have problem. Then Meteor/MongoDB callback all collecion.

My code:

      $meteor.autorun($scope, function() {

         $scope.wybrane = function(skladnik) {
            $scope.search = '';
            if ($scope.tablica.indexOf(skladnik) != -1){
                var

[2015-06-17 13:22] Tallyb commented on #445
The push and splice are reactive and do not need to be inside the autorun block.

[2015-06-17 13:29] michalmw commented on #445
Ok, but this no solution for my problem ;/

[2015-06-17 15:26] mgrivera commented on #427
Hi @dotansimha, I followed your instructions and think am closer, but errors keep showing up ...

This is the error message:

C:\angular-meteor\meteor-package-publisher>node ./meteor-package-publisher ui-grid.json
Hi, I am the Meteor packages publisher. All you have to do is sit back and let the evening go.
bowerParser initialized!
bowerParser cleaning bower_components

assert.js:92
  throw new as

[2015-06-17 20:16] Urigo commented on #445
@michalmw can you share this code in an example repo so I can test and work on it?
or better then that, create a failing test in the tests folder

thanks

[2015-06-17 20:22] Urigo commented on #436
@Millen31 can you share this code in a repo that I can run?
or better, in a failing test on the tests folder?
thanks

[2015-06-17 20:49] michalmw commented on #445
Hello Urigo ;-)

My code:
http://91.196.50.33/smoothie.tar.gz

Mongodb:
[code]
And next collection:
[code]

How this working?
When you open in localhost/smoothie and You have 2 Icon'
'Truskawka', 'Limonka'. If you click in e.x. 'Limonka' mongo should callback only smoothie with 'limonka'. (this working)

If you click 'Truskawka' and 'Limonka', mongo should callback smoothie (first in limonka and t

[2015-06-18 06:10] babakness opened #447 "$http.get on local path"
Hello. There is no way to do something like $http.get('/local/path') because of the way meteor works. Anything equivalent? A way to pull in a local template file and use $interpolate, for example.

Regards.

[2015-06-18 06:13] babakness commented on #447
Sample use case

http://onehungrymind.com/angularjs-dynamic-templates/

[2015-06-18 09:31] netanelgilad commented on #447
Why should `$http.get` not work in meteor? Just make sure to put the template files in the public folder so that meteor serves them and then use $http on the path (after the public folder).

[2015-06-18 12:07] jaypanares opened #448 "Tutorial - Step 9 Question"
Hi, currently going through the awesome tutorial.

I noticed that the guide says that `.subscribe('parties');` should be added to `$scope.party = $meteor.object(Parties, $stateParams.partyId, false)` in case the user "doesn't go through the parties router".

Why does clicking the link to the details page work, but changing the URL manually to the details page does not load `$scope.party` unless `.

[2015-06-18 13:21] Tallyb commented on #447
Might work, but then again, isn't it better to use $tempateCache directly instead? Also ui-router templateProvider can be used for dynamic templating.

[2015-06-18 14:49] kwk opened #450 "angular-meteor and autoform"
Hi there,

I'm not new to angular but to angular and meteor. I have a simple app running and I've defined a model that I successfully generated a form for using [aldeed:meteor-autoform](https://github.com/aldeed/meteor-autoform/). I can use this form to insert items into my collection. This all works perfectly fine.

BUT, I have no clue how I can show values that already exist in my collection ins

[2015-06-18 15:27] mgrivera commented on #448
Hi jaypanares,

Maybe what they are trying to say is that:
1) if you *first* open parties route, this page (route) will load parties and those docs will be there when you open details page;
2) if you don´t open parties page first, then parties wont be there, so it is "safe" to add ".subscribe('parties')" just to be sure that parties will be there in case you have not opened parties page before.

A

[2015-06-18 17:25] netanelgilad commented on #448
@mgrivera explained it correctly. This is not an angular-meteor quirk or a quirk at all for that matter. The thing is the way we setup our states with ui-router. When the browser goes to a details page directly, the state of `partyDetails` is loaded and it's controller too but the controller of the state `parties` is not loaded so the `subscribe` inside that controller never happens. That is why t

[2015-06-18 17:55] Tallyb commented on #448
Disclosure: shameless self promotion!!!
For subscriptions and collections, you may find this blog post useful: https://medium.com/angular-meteor/coll-pub-sub-with-angular-meteor-cb13fe48f570

[2015-06-18 20:43] babakness commented on #447
Thanks for feedback.

[2015-06-18 20:43] #447 closed

[2015-06-18 22:32] mgrivera commented on #448
Excellent blog post. I'll read it ... again ...

[2015-06-19 05:06] richarddewit commented on #223
@JNissi - thanks that fixed it for me!

[2015-06-19 07:07] jaypanares commented on #448
Thanks for the responses everyone!  I get it a bit better now.  Since there
is no `.subscribe('parties')` being called when going directly to the
details page, no collection data is being pushed to the client.  Is it safe
to say that once a `.subscribe()` has been called, the subscription
persists even though views and controllers change?

On Fri, Jun 19, 2015 at 6:32 AM, mgrivera <notifications@g

[2015-06-19 07:24] richarddewit opened #452 "CoffeeScript support for ng-annotate"
Could you please add support for ng-annotate to use `.ng.coffee` files?

[2015-06-19 07:28] cleor41 opened #453 "Collection doesnt resolve on page reload"
[code]

When I enter the story.view state from a link, the story object fully resolves inside of the author object (I pass it through to do a nested resolve) but when I refresh the page, it only resolves the _id of the story object and so I can't get the user_id property. This messes up the author retrieval. Since the story object resolves albeit with no properties, I thought this might be a metor

[2015-06-19 07:34] cleor41 commented on #453
I'm not sure why this worked but if I pass in currentUser from the abstract state, story is resolved as expected.

[code]

[2015-06-19 07:39] Tallyb commented on #448
Yes, but...
Yes - when you call $meteor.subscribe you get a promise with a handler. Any time you want to stop the subscription it is done as handler.stop().
But - if you use the $scope.$meteorSubscribe variant - the subscription will be automatically stopped on destroy of the scope.
not sure about calling twice...

[2015-06-19 08:04] dagatsoin commented on #429
So. I am back to my issue. For now I try to not use the $meteorSubscribe callback but orignial Meteor.subscribe callback. But this does not work
I have in my client:

	$meteor.autorun($scope, function(){
  		$scope.getReactively('trackersIds',true);
		Meteor.subscribe(
			'traces',
			{
				trackersIds:$scope.trackersIds
			},
			{
				onReady:function(){console.log("rezdy")}
			}
		);
	});

And o

[2015-06-19 08:41] dagatsoin commented on #429
I think I will close this issue. It is not a real Angular Meteor issue but more a Meteor behavior.
Finally my workaround with the autorun works well. Even if Template.subscriptionsReady implementation in Angular Meteor could be more elegant.

[2015-06-19 08:41] #429 closed

[2015-06-19 10:06] netanelgilad commented on #453
Where are you subscribing for the data? It may be that where you are subscribing for the data in Stories collection sometimes happens after the resolve of the meteor object. Maybe adding the currentUser to the story resolve makes it wait just a bit longer (for the resolve of the user) which also makes the data available. Though this is a wild guess...
As a best practice (as I see it) you should re

[2015-06-19 10:24] cleor41 commented on #453
This is a new project (and my first meteor project) so I'm using autopublish still.

The tutorial said to put all of your subscriptions inside the resolve. I'm still playing around with different app structures so I tossed my models in there too although I like what you proposed. Its getting a little too cluttered.

[2015-06-19 10:36] kwk commented on #450
Hi,

I've found this way, although it seems to fetch the document from MongoDB twice, doesn't it?. In my controller I use the `Template.MY_AUTOFORM_ID.helpers(MY_OBJECT)` function to register a variable that I can use in the `{{#autoForm}}` template:

**book-detail.controller.ng.js**:
[code]

**book-detail.html** (Note new `doc=selectedBookDoc`):
[code]

I know it works but can this be improved so

[2015-06-19 12:33] dotansimha commented on #427
Looks like your rimraf version is incorrect.
The package.json specify ^2.3.2 and you might got the newer version.
Please try to run this in the publisher's folder:
npm install rimraf@2.3.2

[2015-06-19 14:14] michalmw commented on #445
@Urigo or someone? Can help?

[2015-06-19 16:11] Tallyb commented on #450
I quickly looked at the autoform package. To me it reads: form package for people who do not use angular. automatic insert and update and even advanced validations are so well supported in Angualr, that for me using this package with angular sounds like a reciepe for troubles. Just my 2c.

[2015-06-19 16:27] Tallyb commented on #429
It made me think that if the subscription is an observable - does it really "finishes"?

[2015-06-19 17:02] dagatsoin commented on #429
I would say yes. Because "dead" could be a state.

[2015-06-19 19:09] kwk commented on #450
Hi Tally, thanks for replying. What would you recommend for validation?
Another package maybe or just plain angular? Autoform does this all based
on the model so it's pretty convenient to use.

2015-06-19 18:11 GMT+02:00 Tally Barak <notifications@github.com>:

[2015-06-19 20:14] Urigo commented on #278
Maybe it's better to solve it on the Meteor level before creating an Angular specific code?
Then on top of that add some kind of wrapper for Angular....

Here are 2 related issues that if they will be solved, we can you those packages for that:
https://github.com/hitchcott/meteor-method-hooks/issues/3
https://github.com/Workpop/meteor-method-hooks/issues/1

[2015-06-19 20:31] Tallyb commented on #450
Any specific use cases?
Angular has really good mechanism on input + formatting + validation

[2015-06-19 22:55] mgrivera commented on #448
1) Is it safe to say that once a `.subscribe()` has been called, the subscription
persists even though views and controllers change?

Yes! As I can see in my application, you load some data in one route; go to another route, the data is there. So, collections (in minimongo) persists among routes ...

2) Also, does calling `.subscribe('parties')` twice have any effect on the app?

I was testing thi

[2015-06-19 23:13] Urigo commented on #333
@nspangler @barbatus @netanelgilad @MilosStanic check this solution and the examples.
It keeps the `$scope` updated inside Template.instance().
This is pretty crazy, writing Angular controllers with Blaze templates....

Thanks @stubailo for the help!

After feedback I'll add tests

[2015-06-19 23:30] adrianolsk opened #454 "ng-repeat in subcollection created with transform method from MongoDb"
Hello everyone.

I have 2 collections:

<b>Users</b> with this content
[code]

<b>Events</b> with: (Bob and Josh in the  event: "Metallica concert" and  Josh in "Reggae festival")
[code]
I am defining my collections using <b>transform</b>

[code]
In my controller I do the usual thing:
[code]
and the publish is:

[code]
And in the view I want to show the event name and the users from the event.

[c

[2015-06-19 23:41] ruchevits opened #455 "There is no template with the name 'loginButtons' when using ian:accounts-ui-bootstrap-3"
I've removed 'accounts-ui' and installed 'ian:accounts-ui-bootstrap-3' instead.

For some reason the appropriate template can't be found. It works when including using Meteor-style {{> loginButtons}}. Where the problem could be?

[2015-06-20 07:05] Millen31 commented on #436
@Urigo Here is my repo. I just added the CollectionFS-Example.

https://github.com/Millen31/angular_meteor_test

[2015-06-20 16:12] Tallyb commented on #448
As of twice, thrice or more: I tried this one: ng-leaderboard-subs3.meteor.com
No problem. As expected, the data will reside locally until all subscriptions are stopped.

[2015-06-20 22:07] barbatus commented on #333
@Urigo So now it will re-render every time after $apply even if parties is not changed?

[2015-06-20 23:06] Urigo commented on #333
@barbatus good point, I'm not sure as I don't know what Blaze is doing if the data it's getting is the same?
But also, I haven't found a better way to watch all of the scope and not specific parts of it.

[2015-06-21 00:14] Urigo commented on #333
@barbatus ok I've found a solution, check this out:
https://github.com/Urigo/angular-meteor/commit/532880b9459c883947457e875802a828e5f3b66d

[2015-06-21 00:26] #365 closed

[2015-06-21 06:27] rgnevashev commented on #452
i did own package for it:

[code]

[code]

[2015-06-21 10:28] michalmw opened #456 "Send array to MogoDB and use this as '$in' and '$regex'"
Hello,
i send to 'Meteor.publish' array:
[code]

I try create select where meteor check this value is in my fields and if yes return.

For example:
My database:
[code]
i send array
name = ['one];
then i want return 1 and 2 record.

if i send: name = ['one','two']
then i want return 1,2 and 3 record;

I try do somethink:
[code]
but, this don't working. Someone can help me?

[2015-06-21 12:09] barbatus commented on #333
@Urigo It looks cool but messy, but If it works it's up to you what to do with it ultimately.
Potentially another one approach could be to copy scope with angular.copy and then compare prev and new one with angular.equals, not sure though if it works.

[2015-06-21 12:24] Urigo commented on #333
@barbatus have you looked at the latest solution in the latest pull request?
https://github.com/Urigo/angular-meteor/pull/457

[2015-06-21 12:32] barbatus commented on #333
@Urigo ah, you reverted it? Ok, then.

[2015-06-21 12:34] Urigo commented on #333
:)  yes the getReactively seems like a cleaner solution

[2015-06-21 13:26] #333 closed

[2015-06-21 16:40] Urigo commented on #415
@oshai getReactively works on $rootScope variables.
You had other problems in your examples that aren't related to that, I've created a pull request to your repo to fix those issues so you can see that it does work:
https://github.com/oshai/rep_415/pull/1

I've also add more info to the docs about autorun, let me know if you think I should add more.

[2015-06-21 16:40] #415 closed

[2015-06-21 17:06] Urigo commented on #420
@vacarsu what do you mean by hardcoding the state declaration?

from looking at the code and this issue:
http://stackoverflow.com/questions/27944011/angular-ui-router-traceur-controller-assignation

It looks like it might be a problem of loading order.

Can you try placing everything in one file in the right order, just to make sure that that's the problem?

[2015-06-21 17:11] Urigo commented on #426
@RobinBuschmann now that I saw the issue I realize you placed `urigo:angular` inside a package so that is Meteor's behaviour and you should specify the right minimum version your package is dependent upon.

[2015-06-21 17:11] #426 closed

[2015-06-21 17:32] Urigo commented on #432
Very good point.
I've hope I've made it clear here:
https://github.com/Urigo/angular-meteor/commit/fe1484e8d6968a785d7eef5c3ee2f0a65da6b0b8

[2015-06-21 17:32] #432 closed

[2015-06-21 17:51] Urigo commented on #433
This should work as we do something similar ourselves.
Also, it's not a good practice but because you mentioned it - getReactively does work on $rootScope variables

[2015-06-21 17:51] #433 closed

[2015-06-21 17:59] oshai commented on #432
Thanks looks good.
On Jun 21, 2015 20:33, "Uri Goldshtein" <notifications@github.com> wrote:

[2015-06-21 18:23] adrianolsk commented on #454
I figured out that the transform happen on both client and server, so if I don´t publish Users to the client the transform wont bring any data because the "join" will happen in the client

[2015-06-21 18:23] #454 closed

[2015-06-21 18:35] Urigo commented on #442
@MilosStanic can you please share what is different in your own code?

[2015-06-21 18:54] Urigo commented on #445
@michalmw I can't access this file you sent...
can you try again or share a repo?

[2015-06-21 19:18] michalmw commented on #445
@Urigo is now ok ;-)
http://91.196.50.33/smoothie.tar.gz

I wait for you answer ;-)

[2015-06-21 19:20] #448 closed

[2015-06-21 19:22] Urigo commented on #445
@michalmw this is a very strange file, looks like a compiled version or something :)
can you please share a repo with the complete Meteor project?

[2015-06-21 19:25] Urigo commented on #450
@kwk look at the example in `meteor-include` API:
http://angular-meteor.com/api/meteor-include#usingangularscopeinsidemeteortemplate

Let me know if getting the scope inside the template helps

[2015-06-21 19:26] Urigo commented on #452
@rgnevashev why haven;t you published that package?

[2015-06-21 19:26] michalmw commented on #445
@Urigo Ohh sorry.
http://91.196.50.33/smot.tar.gz -- this is correct

[2015-06-21 19:32] Urigo commented on #453
@cleor41 you should wait for the user also in `story.view`, maybe something like that:

      .state('story',{
        abstract: true,
        templateUrl: 'client/story/story_layout.ng.html',
        controller: 'StoryLayoutCtrl',
        resolve: {
          currentUser: function($meteor){
            return $meteor.waitForUser();
          }
        }
      })
      .state('story.view',{

[2015-06-21 19:33] Urigo commented on #455
Duplicate of https://github.com/Urigo/angular-meteor/issues/191

[2015-06-21 19:33] #455 closed

[2015-06-21 19:34] Urigo commented on #445
@michalmw no problem, but can you please also add the `.meteor` folder (without the `.meteor/local` folder)

thanks

[2015-06-21 19:37] Urigo commented on #346
@Xample have you tried with the latest version?

[2015-06-21 19:38] michalmw commented on #445
@Urigo
Now is ok.
http://91.196.50.33/smot2.tar.gz

I try change somethink i code. but this still not working. In my 4 post in this topic you have instrution you instructions on how I wanted to make it work

Thx.

[2015-06-21 19:43] oshai commented on #415
Thanks, I see my mistake.
about the documentation of autorun, I think an example can help there to
clarify it.

On Sun, Jun 21, 2015 at 7:40 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-06-21 19:52] Urigo commented on #445
@michalmw is it ok if I'll publish this in a repo or is it a private project?

[2015-06-21 19:59] michalmw commented on #445
@Urigo
This is portal for my girlfriend :woman:
You can publish this ;D I just want to make it work.  ;-) She Too

[2015-06-21 20:06] Urigo commented on #445
OK it's live here:
https://github.com/Urigo/issue-445

It looks like you have a Mongo error:

     Exception from sub smoothie id xgeXZWoKgta6TrpcC Error: Exception while polling query
       {"collectionName":"smoothie","selector":{"skladniki":{"$in":[{"$regex":"sadfasdf"}]}},"options":
      {"transform":null,"limit":3,"skip":0,"sort":{"name":1}}}: Can't canonicalize query: BadValue cannot nest

[2015-06-21 20:11] Urigo commented on #415
@oshai do you care for submitting a pull request with an example?
best documentation comes from a fresh mind!

[2015-06-21 20:18] oshai commented on #415
sure, I will take the one from this issue.

On Sun, Jun 21, 2015 at 11:11 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-06-22 03:18] cleor41 commented on #453
Thank you all for the responses! I moved all of my data queries to controllers and put
waitForUser/requireUser in each routes resolve. It works as expected.

[2015-06-22 03:18] #453 closed

[2015-06-22 05:22] vacarsu commented on #420
@Urigo I mean if I copy the html from the .ng.html file and put it in the config state ```template: '<div></div>'```

it works perfectly. At any rate, I got fed up and implemented angular2-now and got everything working.

[2015-06-22 05:30] #420 closed

[2015-06-22 06:24] rgnevashev commented on #452
done, https://atmospherejs.com/rgnevashev/meteor-angular-coffee

[2015-06-22 06:30] richarddewit commented on #452
Thanks, but it doesn't seem to be doing much yet :) Taking this to it's own repo.

[2015-06-22 06:30] #452 closed

[2015-06-22 06:52] rgnevashev commented on #452
this package does the following:
- Compile coffee script to js
- Apply ng annotate on the newly created js

[2015-06-22 07:57] richarddewit commented on #452
Just an update, it's a CoffeeScript twitch in the way function variables are compiled.

Either use an `"ngInject"` statement:
[code]

Or (against [styleguide](https://github.com/johnpapa/angular-styleguide#style-y024)) inline declaration:
[code]

[2015-06-22 09:56] MilosStanic commented on #456
try `$in` and `$regex` without the single quotes, like this:

[code]

[2015-06-22 10:26] michalmw commented on #456
Try and console back:
[code]

[2015-06-22 10:29] MilosStanic commented on #456
There's definitely an error in your MongoDB query syntax. Google for that error, and see what you can dig up. Anyway, this is 100% not an angular-meteor issue.

[2015-06-22 10:49] netanelgilad commented on #436
Ok, now I see what is going on here. The problem is that we use `diffObjectRemovals` on a `FS.File` object which is a unique object. It is actually a wrapper around the files in the CollectionFS collection. So that wrapper creates an object with references to itself in nested properties. That causes `diffObjectRemovals` to never break out of the recursion since it doesn't handle circular reference

[2015-06-22 12:12] mgrivera commented on #450
Hi all,

Have you checked angular formly? If you are using angular, it seems
appropriate to use it. I see fomly as the autoform package but written for
angular.

For validation, I think collection2 (plus simple-schema) maybe an awesome
choice.

Bye ...

On Sun, Jun 21, 2015 at 2:55 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-06-22 17:25] Urigo commented on #420
@vacarsu the loading order in Meteor is different:
http://docs.meteor.com/#/full/structuringyourapp

This is why it's possible that even thought it worked for you in MEAN it won't work for you here.

Also, I think the library you used (harmony) is not well maintained.

If you don't like angular2Now, maybe you should try `Babel`?
https://github.com/grigio/meteor-babel

[2015-06-22 20:24] vacarsu commented on #420
@Urigo  Now that you mention it, when implementing angular2-now I do remember needing to move my app folder outside of the modules folder. This must have been the problem. At any rate, using angular2-now has made the structure even stronger if anything so it's not that I don't like it. I was just trying to get the app working with as few changes as possible.

I got everything working with angular2

[2015-06-23 08:16] JohnAReid opened #459 "How long should local host take to run?"
I have been convinced that the slow response of my system when running meteor was due to my computer and windows 8.1, but even with a new ssd the system is still slow (often it can take two or three minutes for the browser to update.

Note: I am talking about the build time so that I can run and test the app - the response on the server is very fast.

I have tried the sample meteor todo app and th

[2015-06-23 12:50] michalmw commented on #456
Hmm, thix for help.

I did this in another way.

I load in mongo all record, and do filter in angular.js ;-) - and this working ;-)

[2015-06-23 12:51] michalmw opened #461 "Meteor-Angular upload files?"
Hello,

Have you good tutorial how i can upload file in angular.js and save path to mongodb?

[2015-06-23 12:57] michalmw commented on #445
@Urigo i do this in another way.

1. Find all in my collecions.
2. Do filtr in angular:
[code]
3. In controller do:
[code]
And working ;-)
Thx for you time and help ;-)

[2015-06-23 13:08] Urigo commented on #420
@vacarsu very cool, I'm happy it worked for you.
I wonder what is the state of harmony and if they should warn people not to use it...

Also, if you want as little changes as possible, maybe using just Babel by itself is enough

[2015-06-23 18:18] #445 closed

[2015-06-23 18:19] #456 closed

[2015-06-24 07:26] oshai commented on #415
Another suggestion I have which is more general is to change the api
structure so that it will have a section about $meteor object with
subsections for specific methods. I thought about it because I don't see a
reason that autorun is in the $meteorUtils section.... I guess this is
related to older api.
So for example there will be a meteor section and under that autorun page
where the autorun meth

[2015-06-24 07:32] alonweinstein opened #463 "$meteor.object fails to bind to object using id?"
Hello!

I've seen similar issues describing $meteor.object failing to bind a single object based on an object ID, but after having tried all the suggested solutions I'm still not sure what's wrong.
The subscription works - using $meteor.collection works just fine, but when I try to pass an object's _id to a controller using $stateParams $meteor.object fails to bind to the object.
I tried to search

[2015-06-24 09:28] kwk commented on #450
@Urigo thank you, your' example helped a lot.

@mgrivera thank you.

[2015-06-24 09:28] #450 closed

[2015-06-24 10:05] kwk opened #464 "How to tunnel result from asynchronous method call inside Meteor method into $scope?"
Hi,

this is a question rather than a bug or an issue and it is best explained with a working and a non-working example. Maybe the anwer is trivial but I cannot see it right away.

# Working example

## Meteor method

Suppose I have a Meteor method lying under `server/methods/book-info.js`:

[code]

## Angular controller

When I call this method from my controller (`client/books/book-detail-ctrl.n

[2015-06-24 10:23] MilosStanic commented on #464
Hi,
This is typical asynchronous problem. So you should use promises.

Here's an example of how to do it:
http://stackoverflow.com/a/23777507/2727080

Please do tell if it works and maybe paste your corrected code.

[2015-06-24 11:28] kwk commented on #464
Thank you @MilosStanic . The answer you gave me is one that I stumbled upon earlier. Do a I need a wrapper around `var Future = Npm.require("fibers/future");`? Shall I use [meteorhacks/npm](https://github.com/meteorhacks/npm) for this? Also what about [`Meteor.wrapAsync`](http://docs.meteor.com/#/full/meteor_wrapasync)?

[2015-06-24 11:51] kwk commented on #464
Thank you @MilosStanic you've made my day. The solution was to install meteorhacks ([`meteor add meteorhacks:npm`](https://gentlenode.com/journal/meteor-17-using-npm-modules-in-your-application/36)) and then create a `package.json` like this:

[code]

After that I've modified my Meteor method to look like this:

[code]

Maybe I can make `syncInfoFunction()` less of a global function.

Again, thank

[2015-06-24 11:51] #464 closed

[2015-06-24 12:16] MilosStanic commented on #464
Cool,

What stops you to copy-paste `syncInfoFunction()` code into your `bookInfo` function?
This all should be somewhere in the docs.

[2015-06-24 12:29] kwk commented on #464
@MilosStanic you're right. nothing stops me :)

[2015-06-24 16:42] alonweinstein commented on #463
I was using $state.go to switch to a view and add a record's _id as a state-param. When I used record._id it was converted to the string 'ObjectID(".....")', which isn't an ObjectID object nor is it a proper hex string to create an ObjectID object.

After looking at some angular-meteor source code, this is what solved my issue:

* Instead of using the _id for the state-param, I switched to _id._st

[2015-06-24 16:42] #463 closed

[2015-06-24 17:45] mxab commented on #461
Try https://github.com/CollectionFS/Meteor-CollectionFS you can use it in angular-meteor without using anything from angular-meteor. if you want to use the $meteorCollection see this http://angular-meteor.com/api/collectionfs

[2015-06-24 17:57] mgrivera commented on #427
Hi @dotansimha,

Wow, I just keep having errors when running this tool. Now it seems it almost completed, but threw and error just before finishing (I suppose ...).

This is a copy of the screen:

![untitled](https://cloud.githubusercontent.com/assets/12546268/8337392/b5395f14-1a74-11e5-8dab-055628dff766.png)

It seems I have to have an account in Meteor, but I have one and is what I am giving in

[2015-06-24 18:07] michalmw commented on #461
Hello, this for you answer.

Someone else can show somethink yet?

[2015-06-24 18:23] dotansimha commented on #427
Hi @mgrivera ,
Please try to make sure logged into into meteor by running `meteor login` command in any folder. after the login proccess is done, please try to publish again.

[2015-06-24 20:39] dotansimha commented on #436
Hi @Millen31  @MilosStanic  @mxab ,
This PR fixes this issue by adding $meteor.collectionFS for handling this kind of collections.
https://github.com/Urigo/angular-meteor/pull/467

[2015-06-24 22:02] vacarsu opened #468 "possible to use publishComposite?"
Hi, I was wondering if anyone has used the publishComposite package with angular-meteor. I'm trying to get it working, but all the examples are done in blaze.

[2015-06-24 23:16] mgrivera commented on #427
Hi @dotansimha,

Wow, it seems, at last, the package was published successfully. I even went to Atmosphere and could see the package there (smrsoftware:angular-ui-grid (v3)). It is a little late for me to install (meteor create ...) it in an meteor application and test it to see if it function correctly. I'll try to do it tomorrow.

Here is the screen of meteor-package-publisher in action:

![unti

[2015-06-24 23:24] mxab commented on #468
we use publishComposite and angular meteor quite it works fine. Blaze should have nothing to do with it

[2015-06-24 23:27] vacarsu commented on #468
what does the return object from publish Composite look like? I get the object I query returned but the fields are not populated within the object.

[2015-06-25 02:51] kennyki commented on #468
You need to query the sub-objects in your client.

The publisher (server):
[code]

The controller (client):
[code]

[2015-06-25 03:07] vacarsu commented on #468
@kennyki thanks that makes sense.

[2015-06-25 03:07] #468 closed

[2015-06-25 03:10] kennyki commented on #468
@vacarsu you're welcome.

[2015-06-25 03:53] vacarsu commented on #468
@kennyki One last thing, for an object containing an array of ids would I just add a $in operator to the client and server queries?

[2015-06-25 03:56] kennyki commented on #468
I supposed so. In such case I suggest to take a look at publishing a client-only collection like this: http://braindump.io/meteor/2014/09/20/publishing-to-an-alternative-clientside-collection-in-meteor.html

[2015-06-25 09:45] MilosStanic commented on #442
I think #467 should solve this issue.

[2015-06-25 09:45] #442 closed

[2015-06-25 11:50] ccortezia opened #469 "Problems setting nested object using AngularMeteorCollection.save"
Suppose I have an object as simple as ```{brand: 1, value: {sub: 2}}```

After setting the field "value" to null through AngularMeteorCollection.save(data), the local collection no longer updates itself to any posterior non-null values on the "value" field (altough the subscription is properly receiving the changes). The field "brand" is normally update though.

PS: I detected this behavior when p

[2015-06-25 15:38] pbastowski commented on #461
Have a look at this: https://github.com/pbastowski/meteor-upload-files

[2015-06-25 15:45] pbastowski commented on #278
Have a look at

https://github.com/pbastowski/rest-call

And @MeteorMethod in

https://github.com/pbastowski/angular2-now/blob/master/README.md

Both @RestCall and @MeteorMethod annotations allow you to specify "spinner" and before/after hooks.

[2015-06-25 17:18] Urigo commented on #459
@JohnAReid this is strange, `urigo:angular` shouldn't take longer to compile..

[2015-06-25 17:18] Urigo commented on #459
cab you share more info?

[2015-06-25 17:23] Urigo commented on #469
Thanks @ccortezia !
Do you think you can create failing tests for those scenarios?

Maybe here is meteor collection - https://github.com/Urigo/angular-meteor/blob/master/tests/integration/angular-meteor-collection-spec.js

and unit one in DiffArray - https://github.com/Urigo/angular-meteor/blob/master/tests/integration/angular-meteor-diff-array-spec.js

and maybe something like your example with e

[2015-06-25 17:31] ccortezia commented on #469
Certainly. Just need to figure out angular-meteor devel environment first.

[2015-06-25 18:11] Urigo commented on #469
Great!

Here are resources about that:
https://github.com/Urigo/angular-meteor/blob/master/README.md#contributor-developer-setup

[2015-06-25 18:43] Urigo commented on #278
@pbastowski don't you think a solution more similar to `Angular http interceptors` will be more general?

[2015-06-25 18:43] Urigo commented on #442
great, new version coming soon

[2015-06-25 18:45] Urigo commented on #415
@oshai yes I think we should get autorun out there into it's own page and also get more examples.

Care to try do that?

[2015-06-25 20:04] JohnAReid commented on #459
@Urigo recorded starting and chrome loading to give your some idea  -  link sent to your gmail account.

Theses are by far faster than I normally get (perhaps because the same command has been run three of four times in making the recordings.

[2015-06-25 20:34] pbastowski commented on #278
@Urigo More general, perhaps. But I don't think that makes it necessarily better or easier to use. I think we could expose a general "low-level" api, similar to `Angular's http interceptors`, and then add "sugar" around it to make it much nicer to use.

Since talk is cheap, let's have a look at an example of how one might configure angular's http interceptors to turn the spinner on and off for eac

[2015-06-25 21:50] oshai commented on #415
yes, I will try.

[2015-06-26 04:53] dotansimha commented on #427
@mgrivera Great!
@Urigo can we close this now?

[2015-06-26 07:04] Urigo commented on #427
thanks guys!

[2015-06-26 07:04] #427 closed

[2015-06-26 14:30] mgrivera commented on #427
Sorry for commenting once again ...
Just to say that I added ui-grid to my app and tested it with some data from a collection. It seems it works correctly.
Thanks and bye ...

[2015-06-26 19:30] #469 closed

[2015-06-26 22:08] ccortezia commented on #367
Is this checklist up-to-date ?

[2015-06-27 09:58] seanfcarroll commented on #286
I had the same issue, and fixed it by updating to 0.9.1

[code]

I had forked the https://github.com/Urigo/meteor-angular-socially project, which had an older version of angular-meteor.

Excellent project, by the way!

[2015-06-28 21:41] Urigo commented on #367
not really, will update tomorrow, thanks for the catch

[2015-06-30 14:06] mgrivera opened #477 "$meteorObject stop() method (???)"
Hi all,

in my application I have recently used more AngularMeteorCollection than AngularMeteorObject. I know there is an "stop()" method for AngularMeteorCollection to:

"Stops watching the current collection for changes made in the scope variable or the meteor collection ..."

I have used the same method in AngularMeteorObject. However, I can not see it in the documentation for AngularMeteorObje

[2015-06-30 15:03] Tallyb commented on #477
Probably missing on the docs. I think I did the PR to update the collection documentation, but did not add It to object.

[2015-06-30 15:55] mgrivera commented on #477
Hi @Tallyb, many thanks for this clarification ... I thought I was going crazy :) ...

[2015-06-30 21:10] KaiBuskirk commented on #272
Danke!

[2015-07-01 09:58] dotansimha commented on #461
Hi @michalmw ,
The new step in the tutorial (20) covers the upload and managing filed with CollectionFS and $meteor.collectionFS.

[2015-07-01 18:28] vacarsu opened #481 "Following your tutorial for creating meteor package, get publish: You're not in a Meteor package directory."
Hi, I'm trying to bring this package into meteor. https://github.com/andrewppace/vcard-json
but When I try to publish it I get the error in the title.

[2015-07-02 12:50] shadysayed opened #483 "Collection2 errors will result in "$apply already in progress" error"
In a project that uses collection2 for schema validation. saving an invalid document using

    $scope.collection.save(newDoument)

will result in "$apply already in progress" the reason seems to be that you call $rootScope.$apply without first checking $rootScope.$$phase inside AngularMeteorCollection.save function. And for some reason the callback for inserting an item in a collection is called

[2015-07-02 14:55] pgrm opened #484 "How do I know if $scope.$meteorObject(id) found an object or not?"
Hi, great framework, which I still need to wrap my head around a bit.

I have a `ListController` and an `ItemController`. The `ItemController` is in a nested state of the `ListController` it loads the item details and by doing this, it also checks if the item actually exists. If the item doesn't exist, the `ItemController` redirects back to the root state.

This is what I have so far:

    this.cu

[2015-07-02 16:42] shadysayed opened #485 "Having an automatic 'updatedAt' field breaks $meteorObject with autoClientSave = true"
In a collection where all saved items have an automatically updated 'updatedAt' field or similarly named one. The client will be stuck in an update loop if the following code is used

    $scope.item = $scope.$meteorObject(Items, item_id, true)

Once an item is saved the client will set 'updatedAt' to its clock and then the server will try to correct that with its 'updatedAt' clock and angular met

[2015-07-02 17:47] JohnAReid opened #486 "Tutorial - step 20 CollectionFS"
Paragraph:
So now we have the CollectionFS support and the storage adapter - we need to create a CollectionFS object to handle our files. Note that you will need to define the collection as shared resource because you will need to use the collection in noth client and server side.

should be: (5th word from end)
So now we have the CollectionFS support and the storage adapter - we need to create a

[2015-07-02 18:48] ccortezia commented on #485
Hi @shadysayed , can you provide a repo with your problem isolated so we can reproduce your problem ?

[2015-07-02 19:58] ccortezia commented on #484
Ok, I guess you already got how meteor subscriptions work, right ? Anyway, remember: data should be available at the client some time after the respective subscription enter its ready state.

If you happen to call $meteorObject or $meteorCollection at this moment (after the data has already arrived from a subscription), it will seem to be a synchronous call, since the available data will be prompt

[2015-07-02 21:17] pgrm commented on #484
Ok thx, and there isn't any property on the object which would be indicating if it was already loaded or still not? (I couldn't find any)

If I write a server method to do this, and the method is defined in the lib folder for instance (accessible by server and client) will I still get meteor's latency compensation, in case the collection is already available offline? - I read, this to be true if y

[2015-07-02 22:27] ccortezia commented on #484
I don't think so. And considering the way meteor work, adding it to angular-meteor may not be really simple. @Urigo probably has a better call on this, perhaps an existing solution I am not aware of ?

And yes, I aggre my suggestions seem a bit hacky, and I myself avoided them for as long as I could until I found no other way to assert client-side collections are fully loaded (reactively). But the

[2015-07-02 22:51] alecperkey opened #487 "untrusted code may only remove documents by ID"
Hi--thanks for making this

From step 4, at the end of the video

I have a problem with not being able to remove a party added from from the front-end. says 'untrusted code may only remove documents by ID'

However, if i first remove one party which was from the server code, then I can remove the front-end created party

http://i.imgur.com/96Xqa5r.png

[2015-07-02 23:02] alecperkey commented on #487
I just noticed I had my ng-app attribute on the body not on the container div within it. I think this might have been the issue.

[2015-07-02 23:04] shadysayed commented on #485
Sure check out shadysayed/meteor-issues-reproduction@5c5b7217726cae78c1f195d92edb815f90323983 I simulated the user editing an object using a `$timeout` of 3 seconds. I've also added some code to log ddp messages to the console. Just do a `meteor run` and open the browser console and you'll see a flood of update messages.

[2015-07-02 23:22] shadysayed commented on #483
I've created a repo to reproduce this issue. Check out this commit shadysayed/meteor-issues-reproduction@1566e2e91ffbe17c3e13fda5925445978e2b7f74

[2015-07-03 00:01] Urigo commented on #484
@pgrm $meteor.object binds to Meteor Collection.
Meteor Collection is empty until a subscription has been called and complete.

So like @ccortezia said, binding to $meteor.object is ok and correct and not related to subscriptions.

As for your question, you need to make sure you call your `if` statement only after the subscription finished it's initial loading.

`$meteor.subscribe` returns a promi

[2015-07-03 00:01] #484 closed

[2015-07-03 00:02] Urigo commented on #487
@alecperkey that sounds strange that this is the problem..

What version of Meteor are you using?

did you compared your code to the tutorial's one with `Code Diff` button?

[2015-07-03 00:07] Urigo commented on #486
Thanks @JohnAReid
I'm going to review that step again tomorrow and will take your notes into count!

[2015-07-03 00:11] Urigo commented on #483
@shadysayed thanks for noticing!
do you care of creating a pull request with a fix and a failing (before) and success (after) tests?

[2015-07-03 00:11] Urigo commented on #485
@shadysayed thanks for noticing!
do you care of creating a pull request with a fix and a failing (before) and success (after) tests?

* copied the response from your other issue but it's not automatic :)

[2015-07-03 00:12] Urigo commented on #481
@dotansimha

[2015-07-03 00:13] Urigo commented on #477
@mgrivera do you care maybe to update the docs with a PR to get the credit for your help?

[2015-07-03 00:14] Urigo commented on #461
@michalmw the step is not yet completed and tested so please use cation.
Hopefully tomorrow it will be fully functional and tested

[2015-07-03 07:36] MilosStanic commented on #481
@vacarsu where's your `.meteor` directory in the project? I think that is causing the error.

[2015-07-03 08:07] Tallyb commented on #477
stepped in with a PR

[2015-07-03 09:09] sebakerckhof opened #490 "How to work package-based"
I'm trying to put my code into packages, but I get a lot of errors.
To rule out problems with my code I now tried to restructure the socially tutorial code into a package, but this also gives me errors in the front-end.

This is the repo: https://github.com/sebakerckhof/meteor-angular-socially

Am I doing something wrong or is it currently not possible to use angular-meteor inside packages?

[2015-07-03 09:24] dagatsoin opened #491 "UI router redirection after login?"
How could I make a redirection after a user has been logged in ? I am still using ui-account.

Thx :)

[2015-07-03 10:31] sebakerckhof commented on #490
Ok, turns out I have to modify my template references from:
[code]
to:
[code]

[2015-07-03 11:51] Siyfion opened #493 "Iron Router / Flow Layout - compile Angular after waitOn and subscription resolve"
So for example, when using `ng-include` nothing appears at all, I'm sure it's something stupid, but I can't see it for love, nor money. Here's my files:

`client/templates/main.html`
[code]

`client/lib/angular-init.js`
[code]

`client/templates/field_editors/recipe_editor/recipe_editor.html`
[code]

`client/templates/field_editors/recipe_editor/recipe-grid.ng.html`
[code]

Obviously there's also

[2015-07-03 11:57] Tallyb commented on #493
You are using an ng-include within a blaze template? Is this supported? ( I know blaze within angular is, not sure about the other way around...)

[2015-07-03 11:59] Siyfion commented on #493
@Tallyb Well the tutorial shows a `*.html` file using `<ng-include>` so I assumed that it's being parsed by the same Blaze renderer, and as such is fine...?

[2015-07-03 12:01] Siyfion commented on #493
@Tallyb However you're indeed correct, if I take the line out of the template, and move it into `main.html` like so:

[code]

[2015-07-03 12:03] Siyfion commented on #493
Surely if this isn't possible, it means that unlike React, it's almost impossible to slow-transition across to Angular, from an existing Blaze application?

[2015-07-03 12:09] Tallyb commented on #493
I am not familiar with the blaze react option. With angular you will probably have to do it "outside-in", namely - have the wrapper being angular (probably using ui-router) and use blaze templates where needed using meteor-include directive.
Also, coming from Angular, I cannot see a good reason to wrap Angualr with Blaze, as Angular is a much more advanced front end framework.
Maybe people here ha

[2015-07-03 12:13] Siyfion commented on #493
@Tallyb Regardless of which front-end framework is more powerful (that will be debated until the end of time), if you've got an existing application written in Blaze and want to switch or make use of some angular features, then you need to be able to be able to wrap angular in blaze...

Any thoughts @Urigo ?

[2015-07-03 12:15] Tallyb commented on #487
It is probably some problem with the ID in the client code on the remove. Probably it is not set correctly (when the party is from the server) and when trying to run remove ({}) - it throws an error on the client. (blind debug is a new hobby - debug without seeing the code).

[2015-07-03 12:17] Tallyb commented on #484
oh, how we need best practices / style guide document...

[2015-07-03 13:16] pgrm commented on #484
I guess, it would be great, if this example could be added to the party
tutorial.

Thx for the help

On Fri, Jul 3, 2015, 15:17 Tally Barak <notifications@github.com> wrote:

[2015-07-03 14:18] ccortezia opened #494 "Property absent from meteorCollection object"
I am facing a strange behavior here. Objects retrieved using meteorCollection are missing a field (it is an array).  Data is properly published, and I can see the field if I do CollectionX.findOne() from the console. I then tried to bisect over angular-meteor commits to find a suspicious commit, but could only track down into 0.8.5 until my project started to break: problem still happened.

Since

[2015-07-03 16:51] Urigo commented on #493
@Siyfion can you send an example repo?
I will have a look on it and see why it's not rendering and if that's possible

[2015-07-03 17:08] Urigo commented on #484
That's a great idea!
How are where will you add it?

[2015-07-03 20:38] vacarsu commented on #481
I decided to go with an npm package and use meteorhacks npm, rather than try to create a package for this.

[2015-07-03 20:38] #481 closed

[2015-07-04 00:52] Urigo commented on #481
sounds like a good solution.
What do you do with npm dependencies?

Meteor for React added a solution that might be interesting here:
http://react-in-meteor.readthedocs.org/en/latest/client-npm/

I wonder what are your thought about that and if we can embrace this solution as well?

[2015-07-04 01:04] Urigo commented on #494
I can go through it with you in a Hangouts if you ilke

[2015-07-04 03:33] Urigo commented on #490
Exactly.
I'm mentioning this here in the tutorial:
http://angular-meteor.com/tutorial/step_05#routesdefinition

but do you think we can add it in another place for easier access?

[2015-07-04 03:34] Urigo commented on #477
Awesome @Tallyb !

[2015-07-04 03:34] #477 closed

[2015-07-04 09:49] pgrm commented on #484
@Urigo your suggested solution with `$meteor.subscribe` in resolve would need me to stop the subscription, when the controller (scope) is being destroyed, otherwise I'd end up with memory leaks, is that correct?

In that case there wouldn't be too much difference between running `$scope.meteorSubscribe` and handle the rest of the initialisation inside the promise callback, or making sure the contr

[2015-07-04 14:42] ccortezia commented on #494
Mailing you privately now.
Em 03/07/2015 22:04, "Uri Goldshtein" <notifications@github.com> escreveu:

[2015-07-04 16:36] mgrivera opened #496 "angular-ui-bootstrap modal template issue"
Hi all,

I'm using an angular-ui-bootstrap modal to show some message to user. The modal is opened from some view on ui-router. Everything works great if I put the template in the *same html file for the ui-router view*; however, when I put the template (with modal's html)  in a separate file,  It stops working and throws this error in debugger (client):

    at materializeDOMInner (eval at <anony

[2015-07-04 17:08] mgrivera commented on #496
Wow, I noted this behavior since: it seems the (angular ui-bootstrap) modal template acts as **local** in relation to the ui-router view in which it resides; I mean,  I am opening the modal from two different ui-router views and just put the modal template (html) in each view, with the same name (it is the same html code). Each modal opens fine, when opening from the corresponding view.

What I wa

[2015-07-04 19:13] #486 closed

[2015-07-04 19:16] JohnAReid opened #497 "Console error: WebSocket is already in CLOSING or CLOSED state."
I found out I am not alone (http://stackoverflow.com/questions/30900649/meteor-websocket-is-already-in-closing-or-closed-state) in getting this error message in the console window.

Is it a real error message? as I just hate to see error messages in the console window!

[2015-07-04 19:56] Urigo commented on #484
yes you are right.
You don't have `$scope` in resolve so it's better to do it inside the controller like in the first example but with $scope.$meteorSubscribe

[2015-07-05 18:32] dotansimha commented on #497
Hi @JohnAReid ,
I don't think that this is an issue with angular-meteor, but with Meteor itself.
Also, this might caused by a breakpoint that pauses your browser and the WebSocket gets a timeout, or, sometimes when changing many files in a short time - the browser refreshes multiple times and causes that error.

[2015-07-05 20:50] JohnAReid commented on #497
@dotansimha
Thanks you right it does happen when I have breakpoint.

[2015-07-05 20:50] #497 closed

[2015-07-06 08:48] Siyfion commented on #493
I stand corrected @Urigo, I've just tried creating an example, and it works, so it's clearly me doing something wrong... What, I have no idea!

This does work however:

[code]

[2015-07-06 10:41] Siyfion commented on #493
@Urigo Oh my god, that took some finding, but I've finally figured out the root cause of the issue...

Here's a repo that highlights the issue: https://github.com/Siyfion/angular-meteor-example

Essentially, everything works fine, unless you use `iron:router` (which most Blaze apps do!), at which point, if the route has ***any*** `waitOn` configured, it breaks all of the angular integration. If yo

[2015-07-06 10:59] dandv commented on #493
Hi @Siyfion, I'm not really involved in `iron-router` actually. Hope Tom can pitch in, now that [he's with MDG](http://info.meteor.com/blog/welcoming-percolate-studio-to-meteor-development-group).

[2015-07-06 11:22] Siyfion commented on #493
Ah sorry @dandv, I just saw that you were pretty much the second highest contributor to `iron-router` albeit a fair way behind @tmeasday! :+1:

[2015-07-06 19:49] Urigo commented on #346
@Xample I'm closing as I'm still waiting for update.
Please feel free to re-open or email me if the problem persists.

[2015-07-06 19:49] #346 closed

[2015-07-06 19:51] Urigo commented on #459
@JohnAReid I'm not sure I've got your email..

[2015-07-06 20:25] Xample commented on #346
@Urigo Hi, sorry I was on holidays and I dropped my computer to the applecare in the same time, I got it back this morning. I solved the problem using ```ng-model-options="{ updateOn: 'blur' }"``` with live edition, the problem was still there. I will start another project very soon also with the same edition features, I will try to periodically check if this bug occurs, if so I will then have a s

[2015-07-06 20:57] Urigo opened #502 "Better design for the tutorial app"
Hi everyone,

So we have our tutorial app `socially` that uses `angular-material`.
It's very nice, but I think the design can be even better.

I would love some help for designing the app better and make it look more compelling.

Please have a look at [step 18](http://angular-meteor.com/tutorial/step_18) which @MilosStanic done a great job creating and think how to improve it so the app will look

[2015-07-06 21:22] ccortezia commented on #494
Bad news. The problem is not happening anymore (both on 0.9.2 and 0.9.1). I think my environment changed, and the issue was naturally masked, which resembles a nasty race condition. I will keep an eye as my project evolves to freeze the environment should the bug rise again.

[2015-07-06 22:32] ccortezia opened #503 "Problem when trying to $set object to nulled field"
Suppose I have a record ```{nested: null}```. If I try to update it to ```{nested: {sub: 1}}```, I get an exception. The record is properly updated though.

The execution of this [deepCopyObjectChanges](https://github.com/Urigo/angular-meteor/blob/master/lib/diff-array.js#L246) raises the following exception: ```Exception in queued task: TypeError: Cannot set property 'sub' of null```

Isolated re

[2015-07-06 22:33] Urigo commented on #346
This bug should be solved on $meteorCollection but not on $meteorObject.
For the $meteorObject it relates to that issue: #349

[2015-07-06 22:35] Urigo commented on #494
ok, hopefully you can reproduce it soon.
Closing for now.
Thanks

[2015-07-06 22:35] #494 closed

[2015-07-06 22:55] tmeasday commented on #493
OK, github is doing something weird on that contributors graph, @cmather is the person you want to talk to ;)

But I think I can diagnose this one:

If you use `waitOn`, IR will render a (blaze) loading template into the layout while waiting on data. I'm not sure how the angular/IR integration is supposed to work, but I'd simply replace `waitOn` with `subscriptions` -- it does the same thing witho

[2015-07-07 08:48] Siyfion commented on #493
It's perhaps also worth mentioning that @arunoda's Flow Router / Flow Layout also suffer from a similar issue; if you change the `router.js` code in the example repo to the following:

[code]

Although it fails to work in this instance, regardless of whether the subscriptions are used or not.

[2015-07-07 09:03] Siyfion commented on #493
I'm pretty certain it's due to the way it's being hooked into Iron Router in `angular-meteor.js` here: https://github.com/Urigo/angular-meteor/blob/master/angular-meteor.js#L17-L31

As @tmeasday has suggested, IR renders a loading template when using `waitOn`, which I think triggers this code to run, but with the "loading" template rather than the actual finished template... And it seems as though

[2015-07-07 10:20] arunoda commented on #493
@Siyfion frankly I'm quite not sure what's going on here other than ng-meteor hardcoded IR :)

[2015-07-07 10:26] Siyfion commented on #493
@arunoda Is there any sort of "hook" in Flow Layout that @Urigo could use to detect when the render is complete, as it looks as though he then needs to run it through an Angular `$compile` operation to get the angular-ness.

[2015-07-07 10:30] arunoda commented on #493
Ah okay. Got it.
This is something we are doing for the first-time or for every route change.
BTW: I hope there is a built in router for angular? isn't it? This is related to flow-layout. But..

[2015-07-07 10:35] Siyfion commented on #493
There is an official Angular Router (https://atmospherejs.com/angularui/angular-ui-router) but obviously you can't use that if you want a mix of Blaze and Angular... Which I admit is clunky, but it'll help people transition from one to the other without a complete re-write.
What I was hoping to do was to use Angular to render an `ng-grid` with some data, as there isn't a grid for Meteor/React that

[2015-07-07 10:45] arunoda commented on #493
We don't have a such a hook. Things get little tricky when booting up the app since we use both `Meteor.startup` and `Meteor.defer`.

Anyway, if someone can just tell me the exact requirement, I can work out a new API for you guys :)

[2015-07-07 11:01] Siyfion commented on #493
Well I'm just the guy that pointed out the problem, @Urigo is the one who'll be able to tell you what he ideally needs, but awesome that you're open to adding some API calls to help! :+1:

[2015-07-07 16:46] markleusink commented on #491
I solved that by hooking into the onLogin event of the accounts-ui package:

    app.controller('AppController', ['$scope', '$state', '$timeout', function($scope, $state, $timeout) {

      //when a user signs in redirect to the overview page
      Accounts.onLogin( function() {
        $timeout(function(){
            $state.go('overview');
        }, 0);
      });

    }]);

[2015-07-07 16:49] idanwe commented on #491
@markleusink why did you use $timeout?

[2015-07-07 16:53] markleusink commented on #491
Because otherwise the redirect didn't work. Probably has to do with a resolve issue. A $timeout set to 0 fires just a little later.

[2015-07-07 17:30] markleusink commented on #491
@idanwe I'll admit BTW that it's a hack. See http://stackoverflow.com/questions/20610450/angulajs-angularjs-timeout-without-delay-parameters-reason for more details. I'm always open to better solutions.

[2015-07-07 18:10] markoffk opened #504 "Remove meteor-include tag after it's done loading"
Hi. I have a question: Is it possible to get rid of meteor-include html surrounding block just after rendering template inside of it? Having this block:
[code]
still after rendering breaks bootstrap css styling in some cases (f.ex. bootstrap version of accounts-ui inside of bootstrap nav block). Or does removing this block after rendering will break reactivity then?

Thanks.

[2015-07-08 11:13] MilosStanic commented on #491
you can also emit an event to root scope from your onLogin, and then catch event and route it to wherever you want.

[2015-07-08 11:47] JohnAReid commented on #502
@Urigo I would just like to say I like the current version of the tutorial  - it is easy to understand and to follow. I think you need to list what improvements you are looking for!

[2015-07-08 12:53] Urigo commented on #502
Thanks @JohnAReid :)
I meant just the design of the app itself (colors, layouts)

[2015-07-08 14:48] thinkrapido opened #507 "subscription gets the wrong dataset"
Hi, I'm building an Employee of the Month application.

I have two subscriptions as seen below. Unfortunately I get the same result set for both of the subscriptions. (e.g. the one of kvp-month)
When I comment out the kvp-month subscription the kvp-esotm collection is correct.
But nothing is seen for the kvp-month ng-repeat usage as it should be.

What's going wrong? Do I oversee something?

I hav

[2015-07-08 15:03] idanwe commented on #491
@markleusink I register to `Account.onLogin` in `run` function and it is working.

[code]

[2015-07-08 15:36] Tallyb commented on #507
Your subscriptions are different but your collection is the same, since both your subscriptions are based on the KVP meteor collection.
So when you do $meteor.collection - you will see the combined results of both subscriptions.
You will need to filter at your client collection, similar to your publish functions above.
I have written about it here: https://medium.com/angular-meteor/coll-pub-sub-wi

[2015-07-08 16:14] ccortezia commented on #494
I did manage to reproduce a similar problem on a different part of my application. I will make a note here for future reference.

The variable behavior point can be noted on this [observer](https://github.com/Urigo/angular-meteor/blob/master/modules/angular-meteor-meteorCollection.js#L170) inside ```AngularMeteorCollection``` factory.

When loading data from publications, objects with nested branc

[2015-07-08 21:09] sebakerckhof commented on #490
I guess that location is fine, and it's just me not reading the documentation.
However, it might be better to have the tutorial already in a package-based structure, since that seems to be the best way to structure a Meteor application anyway.

If you agree, I can provide a PR. I've done it anyway and I also rewrote most of the angular code to comply (or at least comply more) with the [john papa s

[2015-07-08 22:20] Urigo commented on #507
@Tallyb another example of needing your great post..
where do you should link to it in the tutorial?

[2015-07-08 22:20] #507 closed

[2015-07-08 22:23] Urigo commented on #491
Great answers.
Few questions:

1. Do you think we should add an example somewhere in the tutorial?
2. Do you think we should wrap `onLogin` and add it to the [auth API](http://angular-meteor.com/api/auth)?

[2015-07-08 22:50] Urigo commented on #493
@Siyfion Sorry for the late response and greetings from Switzerland where I'm traveling now ;)

First thing - I think like @arunoda mentioned, this is an old code that hard codes IR.
I think this kind of code better belongs to a separate `iron-router-angular` package.
Same for `flow-router-angular`  (or some other name...)

Then it will also be much easier to understand when did the layout finishe

[2015-07-08 22:59] Urigo commented on #436
Solved in 0.9.2

[2015-07-08 22:59] #436 closed

[2015-07-08 23:00] Urigo commented on #461
Try this and let me know what you think:
http://angular-meteor.com/tutorial/step_20

[2015-07-08 23:00] #461 closed

[2015-07-08 23:01] Urigo commented on #503
@ccortezia it is closed by your pull request?

[2015-07-09 00:42] ccortezia commented on #503
Yes, we can close it now.

[2015-07-09 00:42] #503 closed

[2015-07-09 01:04] Urigo commented on #502
Ohh by the way, now that I'm officially MDG, I can promise shirts and stickers for the ones who will help me the most! ;)

[2015-07-09 05:20] Tallyb commented on #507
@urigo (blushing)
Chapter 9 is a good place, I think. This is where you hit publications.

[2015-07-09 06:11] golgistudio opened #509 "Tutorial - $meteor.collection(Parties) gives error - $scope.$meteorCollection(Parties) works"
Really great tutorial!   Thank you!

In step 3 of the tutorial - " Binding to Angular" - http://angular-meteor.com/tutorial/step_03
There is a step to update the parties declaration. - $scope.parties = $meteor.collection(Parties);
That resulted in an error when i tried it (see screenshot below).
Replacing $meteor.collection with $scope.$meteorCollection worked for me.

![image](https://cloud.githu

[2015-07-09 06:54] barbatus commented on #493
@Siyfion @Urigo
I had similar issue long time ago, see [154](https://github.com/Urigo/angular-meteor/issues/154).
The reason is If you use ````waitOns```` IronRouter will substitute a router template with a loading one and, in case of meteor-angular, will never get back without special handling. I eventually came up with this solution https://github.com/Urigo/angular-meteor/commit/69b79878cc7e9239

[2015-07-09 08:01] markleusink commented on #491
1. Yes: seems like a pretty common use case.
2. What would be the benefit of that? Only one I see now is that you could then make it work with a promise instead of a callback.

[2015-07-09 08:31] Siyfion commented on #493
@Urigo So just to make sure I have the correct idea, we need to force a `$compile` after every layout/route change correct?

If this is the case, for the routers:

- *Flow Layout* -  @arunoda would need to add an API call to Flow Layout to detect when a render operation has been performed. Then we can hook into that and call `$compile`.
- *Iron Router* - Hopefully @cmather might be able to suggest

[2015-07-09 09:39] barbatus commented on #493
@Siyfion
Yes, you almost got it right.
If you remove appLoaded [here](https://github.com/Urigo/angular-meteor/blob/master/angular-meteor.js#L23) you will get ````onAfterAction```` running right after each route change, sometimes though it runs twice. This happens (````onAfterAction```` executed twice) is when you are making of ````waitOn```` (but looks like not only in this case); route doesn’t ch

[2015-07-09 09:55] myknbani opened #510 "$meteor.object is missing properties from Object.defineProperty"
I'm following step 6 of the tutorial, and doing some experimentation along the way...

I use `Object.defineProperties` to give getters to my transformed object.  I cannot use the native getters syntax since I am using Coffeescript.

    Object.defineProperties(Party.prototype, {
      reward: {
        get: function() {
          return this.name.length * 5;
        }
      }
    });

And using `P

[2015-07-09 09:56] Siyfion commented on #493
@barbatus Thanks! So you're saying that `onAfterAction` runs twice when `waitOn` is used? Isn't that expected, as it'll fire once for the "loading" template and then again once the waitOn's are complete and it's rendered the main template?

[2015-07-09 09:58] Siyfion commented on #493
Having said all this, wouldn't it be simpler just to add some kind of hook into `Blaze.render` & `Blaze.renderWithData`, that way it also accounts for any user-rendered templates (think modal windows, etc.)

[2015-07-09 10:22] barbatus commented on #493
@Siyfion
Well, I didn't say it wrong; it depends how ````onAfterAction```` is defined. Nowadays it runs at route changes, as well as at layout changes of the same route.

On the second, yes, I think it needs improvements. For example, there is no template rendering completion event (at least I didn't find) to hook up to. So be careful of mixing Blaze templates and Angular, i.e. try to use Angular

[2015-07-09 11:18] Tallyb commented on #509
It shows $meteor is not defined. Make sure you removed the foot. It is $meteorCollection, no dot.

[2015-07-09 11:25] Siyfion commented on #493
So @arunoda if we could have an API call for an event that gets fired after **every** layout change I think that would make the Flow integration nice and easy... IR seems a bit more messy.. :/

[2015-07-09 13:22] myknbani commented on #510
I see that one of the difference is that `$meteor.object` is reactive.  Surrounding

    $scope.party = Parties.findOne($stateParams.partyId);

with autorun seems to work.

[2015-07-09 16:36] golgistudio commented on #509
Thanks Tally,

Not sure what you were saying about removing the foot and the dot, but I figured it out.

I had forgotten to pass in $meteor to the controller.

[2015-07-09 16:36] #509 closed

[2015-07-09 19:47] markleusink commented on #496
Interesting scenario.

I tested it with 2 states opening a modal and pointing to the same modal template (in a separate file). Couldn't find any issues.

Source [here](https://github.com/markleusink/angular-meteor-modal-test). Let me know if that helped!

[2015-07-10 05:00] arunoda commented on #493
@Siyfion I think that's possible. I can fire it just after we send the request to Blaze. You may need to call `$compile`(or similar) in `Tracker.afterFlush()` since that's when the rendering gets completed.

But it's depend. I'll make the API.

[2015-07-10 06:42] markleusink commented on #502
I agree with @JohnAReid : the tutorial is great and quickly gets you up to speed with `angular-meteor`. For the design of the steps < 18 I would stick with Bootstrap: that's a lot easier to understand for the vast majority of the users compared to `angular-material`.

That said, I do think that the tutorial could use some Bootstrap styling for most steps. Here's an idea for step 17:

<img width="1

[2015-07-10 09:42] Siyfion commented on #493
Great, thanks @arunoda!

[2015-07-10 20:56] mgrivera commented on #496
Hi @markleusink,

Excellent,  mistake was mine! I was trying to open the modal template but *forgot* to add the file path. I'm new to this meteor stuff and, for some reason, was thinking that meteor was going to infer the path of the template. Of course when it was on the same html file it was opened without any problems.

Your code helped a lot to understand the issue.

Thanks again and bye ...

[2015-07-10 20:56] #496 closed

[2015-07-11 15:56] Tallyb commented on #502
The major change that needs to be done for a nice UX, wether bootstrap (as above) or material is to move the new party to the partyDetails page.
In any case this is a good idea, as some code is repeated anyway between the create party section and the party details.
The design above is nice but does not fit mobile...

[2015-07-11 17:42] jasonaibrahim opened #513 "$meteor.collectionFS is undefined"
I'm following your tutorial and I've added the ```cfs:standard-packages``` and ```cfs:filesystem``` and using $meteor.collectionFS in my controller, but it comes up as undefined.

[code]

and the error:

[code]

[2015-07-11 21:06] Urigo commented on #502
@Tallyb is right, mobile is important as well.

About Bootstrap - step 17 is what step 17 is all about.
So we can have two designs, one for Bootstrap and one for Material, but both should be better then now.

I think the new party button should show/hide the form, but still stay in the list page.
But in anyway, I hate having comments on design that is not in front of my eyes....

Does anyone knows

[2015-07-11 21:43] Urigo commented on #513
What version of `urigo:angular` are you using?

[2015-07-11 21:49] jasonaibrahim commented on #513
the latest, 0.9.2 I believe, I ran ```meteor update``` before I tried to run this code.

[2015-07-11 23:29] newswim commented on #502
Maybe try https://redpen.io/ ?

[2015-07-12 18:27] ndee commented on #513
After I found $meteor.collectionFS undefined,  I tried one of the other tutorials without success. How does  $meteorCollectionFS...  In the Metadata example find its way in the $scope work?  https://github.com/Urigo/angular-meteor/blob/master/examples/collectionfs-metadata/client/example.js

[2015-07-12 18:54] Tallyb commented on #502
http://www.bounceapp.com/

[2015-07-12 19:20] dotansimha commented on #513
@jasonaibrahim
Are you sure you using 0.9.2 ?
Please try to force this version, by running `meteor add urigo:angular@=0.9.2` and let me know if it worked.

[2015-07-12 21:11] jasonaibrahim commented on #513
yeah that did solve the problem. was the older version cached and not updating? thanks for the help

[2015-07-12 21:11] #513 closed

[2015-07-13 07:46] dispareil commented on #502
At least  can someone change the font-family and font-size of the tutorial ?

[2015-07-13 12:34] Urigo commented on #513
It's strange that it didn't update when you did meteor update....
can you share your `.versions` and your `packages` file?
thanks

[2015-07-13 12:57] Urigo commented on #502
I've added a Trello card for that:
https://trello.com/c/uWuI9jV1/56-new-visual-design

[2015-07-13 14:43] cmddavid commented on #491
I'm not sure where i found this, but i use the following solution:

[code]

Afcourse this does require a angular form instead of standard Meteor login form.

[2015-07-14 18:47] funkytaco commented on #191
Can you clarify which will work? That's an incomplete sentence. I'm running into a problem where I removed loginButtons meteor include and the .ng.html page is not recompiling to remove it...

[2015-07-14 21:58] marcusreese opened #516 "module not defined or not a function in integration test"
It works in /tests/jasmine/client/unit/, but in /tests/jasmine/client/integration when I use
<code>beforeEach(module("swen"));</code>
then Velocity says: ReferenceError: module is not defined.
And when I use
<code>beforeEach(angular.mock.module("swen"));</code>
then Velocity says: TypeError: angular.mock.module is not a function.
Current project location: https://github.com/marcusreese/swen
Is thi

[2015-07-15 02:36] jasonaibrahim commented on #513
#### packages:

[code]

#### versions:
[code]

[2015-07-15 12:37] boomfly opened #517 "angular dirty check going crazy"
If you switch between views which have a subscription, the refresh cycle scope values each time increases

in controller
[code]
And even if that controller created ones and only views changed, refresh cycle loop increased anyway.

[2015-07-15 12:46] ccortezia commented on #517
Hi @boomfly, your situation seems interesting, but I am not sure I fully understood your problem. Could you try to better explain ? Perhaps you could isolate the bugged behavior on a repository so we can try to reproduce ?

[2015-07-15 17:06] boomfly commented on #517
Dont close issue tomorrow i upload on git reproduction

[2015-07-15 17:21] ccortezia commented on #517
Ok no rush. I am just trying to help.

[2015-07-15 21:09] Urigo commented on #507
@Tallyb can you pull request to suggest the best place in the chapter?

[2015-07-16 06:59] lanshunfang opened #519 "HTTPS SSL Certificate of https://angular-meteor.com/tutorial is blocked out"
Hi there,

https://angular-meteor.com/tutorial is blocked out by Chrome default since it's using SSL certificate issued to *.meteor.com. So why not get a free signed SSL certificate from StartCom (https://www.startssl.com/?app=12)?

Cheers,
Paul

[2015-07-16 13:57] JohnAReid commented on #459
@Urigo hi - sorry for the delay in replying: Instead of the video I have a summary of the time taken here:

0 seconds: Preparing project
1 seconds: Started Proxy. looking for packages
2 seconds: Started Proxy. Selecting package versions
6 seconds: Started MongoDB.  Selecting package versions
10 seconds: Building local packages
11 seconds: compileAngularTemlat....
13 seconds: compileTemlates ' fro.

[2015-07-17 06:33] suman-mits opened #521 "update only specific fields on $meteor.object?"
Is there no way of updating only the fields that has been changed with $meteor.object while autobind feature is true?

It sends the entire data and I am not able to validate few fields.

[2015-07-17 11:08] ccortezia commented on #521
Take a look at #349

[2015-07-19 03:58] funkytaco commented on #502
I like semantic UI http://semantic-ui.com/kitchen-sink.html

[2015-07-19 06:52] boomfly commented on #517
Here sources: https://github.com/boomfly/AngularCrazyDirtyCheck!

Here deployed version: http://idelivery.meteor.com/#/categories!

<img width="1440" alt="2015-07-19 12 48 34" src="https://cloud.githubusercontent.com/assets/3257268/8764880/99d84d80-2e14-11e5-8c55-76625752e21d.png">

[2015-07-19 19:27] phaggood opened #525 "include loginbuttons in ionic nav button area"
I'm using the ionic package with the tutorial - on step #8 where it says to add the login buttons include, is there a way to add this to the ionic nav?  I tried the following but it doesn't get displayed.

      <ion-view view-title="Home">
          <ion-nav-buttons side="primary">
              <meteor-include src="loginButtons"></meteor-include>
          </ion-nav-buttons>

        <ion-conten

[2015-07-20 18:01] Urigo commented on #517
I ran it yet, but looks like you might get a few Angular libraries because of the bower files...
can you move them to Meteor packages?  http://angular-meteor.com/tutorial/step_19

[2015-07-20 18:05] Urigo commented on #525
What is the output you get on the page's DOM?

[2015-07-20 18:31] TWKDreamState opened #527 "Support for IE8"
I've been really impressed working through the tutorial of angular-meteor and it solves a lot of headaches I am having with the current mean stack I am using so I'm looking to port my app across.

I need to support IE8 at the moment which means the 1.2 branch of angular, although it's possible that most of my app will work with the latest version?

Is there anyway to drop back to a previous versio

[2015-07-20 20:41] phaggood commented on #525
Sorry, me being an idiot - I restarted the project and didn't re-install the accounts and accounts-ui packages.