[2017-01-29 11:20] erperejildo commented on #1116
I'm using angular-meteor 1.3.11 and I facing the same issue. I've got this call:
[code]
Sometimes those variables on my template are not updated, but always available as I can see on the console. If I add `$timeout(function() {});` I always get the data. Shall I update something else in my modules?

[2017-01-29 11:21] erperejildo commented on #1147
facing same issue:
https://github.com/Urigo/angular-meteor/issues/1116#issuecomment-175592538

[2017-01-29 13:35] TWKDreamState commented on #1116
Hi @erperejildo.

Have you tried using 'this.call' instead  of 'Meteor.call'?

[2017-01-29 18:25] erperejildo commented on #1116
Oh, I see. I don't know why but I understood the change was that --> this, not Meteor --> this.
My fault! working now

Should I change all my Meteor.calls?

[2017-01-29 19:28] TWKDreamState commented on #1116
From personal experience, I think you will have less issues if you change them all :)

[2017-02-02 02:27] joshdobbs opened #1555 "Failed to import ionic.ionicons"
I am reading step 12 of the tutorial and I downloaded the code step 11 zip file file from https://angular-meteor.com/tutorials/whatsapp2/ionic/file-upload

I then ran "npm install" and ran "ionic start" which resulted in the following:
`[18:12:57]  ionic-app-scripts 1.0.0
[18:12:58]  watch started ...
[18:12:58]  build dev started ...
[18:12:58]  clean started ...
[18:12:58]  clean finished in 7 m

[2017-02-02 02:31] Slavrix commented on #1555
try just using `@import "ionicons";`

[2017-02-02 02:59] joshdobbs commented on #1555
Thanks @Slavrix

That fixed it.

[2017-02-02 04:32] Urigo commented on #1555
@joshdobbs is it something we should update in the tutorial?
if so, please re-open the issue and also maybe submit a PR?

[2017-02-02 18:51] joshdobbs commented on #1555
@Urigo Yes. That would probably be a good idea.

[2017-02-03 04:27] greenkeeper[bot] opened #1556 "An in-range update of @angular/common is breaking the build 🚨"
## Version **2.4.6** of [@angular/common](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcommon-2.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/common
    </td>
  </tr>
  <tr>

[2017-02-03 04:27] greenkeeper[bot] opened #1557 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **2.4.6** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcompiler-2.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </tr>

[2017-02-03 04:29] greenkeeper[bot] opened #1558 "An in-range update of @angular/core is breaking the build 🚨"
## Version **2.4.6** of [@angular/core](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcore-2.4.6">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/core
    </td>
  </tr>
  <tr>
    <t

[2017-02-03 16:59] evilboss commented on #1475
bump, This is very interesting

[2017-02-06 10:46] saratSubramaniam commented on #1341
Hey,
My app runs in Angular 2. And it experiences a similar issue only in iOS 9.x. The elements/buttons with (click) attribute bound to it, are not responsive. Out of 10 clicks, one might work.
In desktop browsers and in iOS 10, it has no issues at all.
Any thoughts anyone ?

[2017-02-06 10:51] lleoooell commented on #1341
@urigo which one?
I don't fork angular-meteor anymore, I'm working on meteor only now...

[2017-02-06 21:56] Urigo commented on #1341
@saratSubramaniam can you try to see if when you are running only Angular (without Meteor) does it still happens?

@lleoooell if you are not using Angular I think the Meteor repo is the place you should file your issue to

[2017-02-07 07:38] tseck opened #1559 "Long initial loading times on Android"
Hi there,

I am experiencing long loading times of the tutorial apps on Android. Reading and trying out different posts on SO and github did not really solve the problem.
Specifically when I just take the ```meteor create test``` app and deploy it, it loads in about 2 seconds, adding just the necessary meteor- and npm-packages for angular-meteor from the socially tutorial (angular 1.5) will yield

[2017-02-08 14:27] LJNielsenDk opened #1560 "Whatsapp2 tutorial needs to start with an explanation for Ionic or an overview of the tutorial"
The whatsapp2 tutorial needs to start with an explanation for Ionic or an overview (what are we learning and when) of the tutorial to seem more relevant.

I started following the tutorial because I want to learn Angular2 and Meteor. So far I made it to the "TypeScript Interfaces section" of https://angular-meteor.com/tutorials/whatsapp2/ionic/chats-page and my main unanswered questions that I real

[2017-02-11 14:03] minau87 commented on #1560
I agree, although I haven't tried the new Whatsapp Clone tutorial myself, only read through it.

Recently I tried to look up some things on how to work with Meteor now that they introduced meteor/rxjs (I approached Meteor earlier, when meteor/rxjs wasn't a thing yet) and all of a sudden there's a new tutorial, which - in my opionion - shifted it's focus from purely Meteor previously to now Meteor

[2017-02-11 20:06] HectorRPL opened #1562 "styles like .less .css or scss dont work fine in angular-meteor"
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/angular-meteor) for that, or you may want to start a discussion on the [Meteor forum](https://forums.meteor.com/).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, please be sure to include the fo

[2017-02-12 21:53] harvitronix commented on #262
I had the same issue, and it was because I was sym linking a folder in my `/public` folder that had tens of thousands of files in it.

Removing the sym link fixed the problem for me. Hope this helps others!

[2017-02-14 07:01] greenkeeper[bot] opened #1563 "An in-range update of zone.js is breaking the build 🚨"
## Version **0.7.7** of [zone.js](https://github.com/angular/zone.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Fzone.js-0.7.7">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      zone.js
    </td>
  </tr>
  <tr>
    <th align=left>
      Cu

[2017-02-15 20:30] michaelb-01 commented on #1475
bump

[2017-02-16 08:45] Urigo commented on #1560
I agree as well.
I hope to start on this on the weekend

[2017-02-16 11:12] minau87 commented on #1562
One thing I'd like to add:
In an earlier version of Meteor, you could apply changes to your .scss-files located next to your components without the changes triggering the entire application to reload.
I'm not sure if I'm missing something here (might aswell be intended/expected behaviour - I'm not experienced enough to tell), but this behaviour is reproducible with the meteor-base.

[2017-02-16 16:33] minau87 commented on #1560
Woah, @Urigo, the man, the myth! :)

No worries man and thank you very much for your effort, you're doing awesome work here  and I think I'm speaking for a lot of us when I say this.

If you don't mind, I have a suggestion for your tutorial:

Add a section where you showcase how to use MeteorObservables from within an Angular service. I think it would be a good idea to have an example that shows h

[2017-02-18 19:55] erperejildo opened #1565 ""Not allowed to load local resource""
I'm using the Cordova camera package in my app and after take a picture I get this message:
`Not allowed to load local resource: file:///storage/emulated/0/Android/data/com.drodriguez.recipic/cache/1487447329275.jpg`

It looks the same to this one in meteor-ionic:
https://github.com/Urigo/meteor-ionic/issues/52

[2017-02-19 01:32] cyberbeast commented on #1560
Agreed. Having separate tutorials for
1. angular2 + meteor
2. ionic + meteor
would probably expose learners to different concepts applicable in use-cases for these.

Looking forward to more tutorials.

@Urigo Thank you for all your hard work. :)

[2017-02-19 19:00] TarunKala opened #1566 "angular 2 meteor 'whatsapp' clone is not working at step '4. Realtime Meteor Server ' -- 404 error with http://localhost:3000/sockjs/info"
Hi,

i have fallowed the steps as in https://angular-meteor.com/tutorials/whatsapp2/ionic/meteor-server-side.

but after setting up realtime meteor server with mongo DB --  data is not loading and,
Console shows the following error(which is continuously hitting):

_

Failed to load resource: the server responded with a status of 404 (Not Found) http://localhost:3000/sockjs/info?cb=8gic9r08wc
_

im

[2017-02-20 17:35] ingleo opened #1567 "Login with external services opens browser outside the app"
Hi,

I'm trying to login with external services (facebook, twitter, google) from the ionic application client, but when I execute the methods Meteor.loginWith... the login form opens outside the app and the session becomes active in the browser but not in the app.

In my component i have this method:
[code]

Here is my meteor-client.config.json
[code]
I'm using these versions
[code]
I appreciate a

[2017-02-20 21:39] Urigo commented on #1475
yes, we are still working on this.
But now, we are focusing on making it work with the upcoming Meteor 1.5 which supports dynamic imports.
If anyone wants to help, please let me know.
Another import thing is, you can use Angular CLI today, but that means making Angular CLI your front end and Meteor just for your backend.
If you want to do that, check out our tutorial on Ionic CLI, we are doing the

[2017-02-21 19:22] jycouet commented on #1567
Hi, did you try:
`loginStyle: 'redirect'`?

[2017-02-21 20:40] ingleo commented on #1567
Hi,
I tried with ```loginStyle: 'redirect'``` but it still opens the register form outside the browser.
Regards.

[2017-02-21 22:17] greenkeeper[bot] opened #1569 "An in-range update of @types/meteor is breaking the build 🚨"
## Version **1.3.32** of [@types/meteor](https://www.npmjs.com/package/@types/meteor) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40types%2Fmeteor-1.3.32">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/meteor
    </td>
  </tr>

[2017-02-21 23:13] irongollem commented on #1560
I just learned about Meteor from a colleague, so was looking to get into it. I kinda agree with @LJNielsenDk  that as I don't really know everything here yet I'm kinda surprised bout the ionic stuff. (will want to do the mobile part with NativeScript or service workers if possible although I must say I dont know ionic yet.)

Nice to see this is so active still :). @Urigo nice talks on youtube!

[2017-02-22 05:57] mordka commented on #1566
I bet the same port (3000) can't be used simultaneously. Probably meteor server failed to start at port 3000.
Leave the Ionic port default (8100) and let meteor server run at default (3000). This is a good starting point.

[2017-02-22 22:07] ingleo commented on #1567
Update: I'm still looking for a solution and found this:
To open the form to register with external services inside de app, in the file config.xml of ionic project, put this line to let the Webview can open URLs itself
[code]
Additionally, in ServiceConfiguration I added the loginStyle: 'redirect' suggested by @jycouet

[code]
It seems that the problem is in when the callback is done, the window r

[2017-02-23 09:45] minau87 commented on #1560
@irongollem If you just learned about Meteor, looking into their older [tutorial](https://angular-meteor.com/tutorials/socially/angular2/bootstrap) might be a good idea. I think this one, although it says it's deprecated and no longer maintained, is a better entry point to understand the basics behind Meteor itself, which are then applicable to whatever learning projects you are working on. Helped

[2017-02-23 13:55] Urigo commented on #1560
I've started re-writing the intro to the tutorial, did a first try here: https://angular-meteor.com/tutorials/whatsapp2-tutorial
Let me know if that makes sense as an intro

[2017-02-24 07:42] gajusp commented on #1381
Error: (SystemJS) XHR error (404 Not Found) loading http://localhost:3000/ng2-dropdown-treeview

or
+-- ng2-dropdown-treeview@0.1.4
+-- UNMET PEER DEPENDENCY rxjs@5.0.0-beta.12
`-- UNMET PEER DEPENDENCY zone.js@0.6.26

i have added the dependency in system.config.js file for ng2-dropdown-treeview, then it works for me

'rxjs': 'npm:rxjs',
            'angular-in-memory-web-api': 'npm:angular-in-me

[2017-02-24 12:15] atd opened #1571 "Property 'default_connection' does not exist on type 'typeof Meteor'"
Meteor.default_connection is not included in Meteor type

### When reporting a bug, please be sure to include the following:
- [ ] A descriptive title
- [ ] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the problem)

Just add Meteor.default_connection to any component

- [ ] What version of `angular-meteor`

[2017-02-26 19:02] sdarnell commented on #1571
Presumably you're referring to the typings? Sadly they're a bit out of date.
But Meteor.default_connection is a REALLY old name that is only a legacy value, it was renamed Meteor.connection.

On the server, Meteor.connection is null, but on the client you could work around the problem using an any cast or using Meteor['connection'].

It may be best to raise the issue at: https://github.com/meteor-

[2017-02-26 20:24] nmarmon opened #1575 "$scope.$apply doesn't work in reactively context"
Hi there,
I am using $scope.$apply in reactively context, but the view is not refresh. I can use $scope.$apply in tthat kind of context?. And if it is possible, how I can refresh the DOM intentionaly? And if it is impossible, is there other thing that I can use instead of $scope.$apply? Regards

[2017-02-27 09:55] nmarmon commented on #1575
Hi again, I think I need to use $bindToContext, according to this thread: https://forums.meteor.com/t/scope-apply-in-meteor-angular/24388. Now I need more information about it because in the docs: https://angular-meteor.com/api/angular-meteor/1.3.6/reactive-context there is not much information. Can anyone expalin it in a more clear way? Thanks

[2017-02-27 17:28] SebastienGarciaz commented on #1566
Same problem

[2017-02-27 22:40] nmarmon commented on #1575
I have the next code:

this.userPart = null;
$scope. $ On ('user-participate', function () {
    that._getParticipation (that. $bindToContext (that._getCurrentParticipation));
});

I have two functions: _getParticipation () to which I want (and pass) a callback, in this case _getCurrentParticipation ().

When I receive the onuserparticipe event (when the user is logged in), I execute _getparticipa

[2017-02-28 07:16] jinzhiqiang opened #1576 "npm packages support angular-meteor"
hi all, I 'm finding a framework for my project. angular-meteor is very good, maybe it can help me. but I have a problem, how to setup a npm module support angular-meteor?

[2017-02-28 22:06] LoveIsGrief commented on #1169
Are the tutorials still for Meteor 1.3 still out? Meteor 1.4 is up and I noticed the current tutorials still use the old folder structure - /lib folder as opposed to the /import folder.

[2017-03-01 07:25] atd commented on #1571
Thank you for the clarifications @sdarnell

I am using `Meteor['connection']` for now and opened the issue at https://github.com/meteor-typings/meteor/issues/31

[2017-03-01 07:25] #1571 closed

[2017-03-02 01:09] Slavrix commented on #1548
https://forum.ionicframework.com/t/minimum-android-version-supported-by-ionicv2/54164/10

Make sure your targeting the right version of android also when you build it. (you can change the targeted version in the config.xml)

[2017-03-02 01:25] sebakerckhof opened #1577 "this.getReactively not triggering autorun"
I have a variable that updates and is being called inside an autorun function.
If I watch the variable with `$scope.$watch` I see it changes. However, it's not triggering the autorun function.

Example reproduction:
https://github.com/sebakerckhof/ngmeteor-bug

If you run the application, you'll see a list. Clicking on the list updates an element in minimongo, which in turns changes a variable. Th

[2017-03-03 06:48] Slavrix opened #1578 "'Unexpected token export' when angular2-compliers puts node_modules together"
I'm converting an old angular2 project over to use meteor to act as an admin panel style thing for a project that is based off the ionic2-meteor whatsapp tutorial.

So I'm building the website in the client folder inside api.

I'm pretty sure I've got things correct (based off the old socially tutorial) for the angular2 client.

I'm getting these as errors though.

[code]
I imagine that I have pro

[2017-03-03 07:10] qnreck commented on #1543
The same issue:

`TypeError: Cannot read property 'type' of undefined
    at ViewContainer.detachView (http://localhost:3000/packages/modules.js?hash=c85556f39a2e3b316b290f7353af884b4a9c4659:18818:21)
    at ViewContainerRef_.remove (http://localhost:3000/packages/modules.js?hash=c85556f39a2e3b316b290f7353af884b4a9c4659:15426:55)
    at http://localhost:3000/packages/modules.js?hash=c85556f39a2e3b

[2017-03-03 15:12] gntlman-bstrd commented on #1509
Could you please provide either the source or the steps you took to convert the template into the angular2-meteor structure?

[2017-03-07 00:12] Eraldo commented on #1567
Same problem here. :|
I get "Error: Must pass options.rootUrl or set ROOT_URL in the server environment" when trying to log in with google. The strange thing is that I do have set that variable in the server environment and it still does not seem to find it. Could it be that it is due to the meteor bundling process not taking it into account?

[2017-03-07 11:48] Eraldo commented on #1567
If I set the client ROOT_URL to `http://localhost:8100` and use:
[code]
=> I get: `Cannot GET /_oauth/google?close&state=eyJsb2dpblN...`
Which makes sense since ionic gets the redirect callback and does not know what to do with it.

If I set ROOT_URL client to `http://localhost:3000` and use:
[code]
=> I get a blank popup.

If I set ROOT_URL client to `http://localhost:3000` and use:
[code]
=> I g

[2017-03-08 10:35] Eraldo commented on #1567
I tried moving the `Meteor.loginWithGoogle` method to the server and calling it via a meteor method. However, I get ...
[code]
So I guess that method is not available on the server? (stange)
Any ideas what is going on there or how to get the social login to work?

[2017-03-09 20:40] adrianolsk commented on #1448
+1
I have seen a lot of cool stuffs on Meteor, Apollo and Angular 2.
But is  really confusing to implement, and there is no tutorial explaining how to implement this 3 together.

Some examples that I have seen uses angular2 for client with Angular CLI with webpack and Meteor for the server side. But it don´t explain how to put that in production, would I need 2 different deploys or one?

I found a

[2017-03-09 22:47] greenkeeper[bot] opened #1579 "An in-range update of rollup is breaking the build 🚨"
## Version **0.41.5** of [rollup](https://github.com/rollup/rollup) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Frollup-0.41.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rollup
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-03-09 23:17] c4wrd commented on #1578
Check for any usages of Tracker or MeteorComponent in your files. I had an issue where if you used Tracker without importing I'd receive the same error, or any usage of MeteorComponent would result in the same error. For Tracker, just import it, or use the new MeteorReactive.

[2017-03-11 01:02] greenkeeper[bot] opened #1581 "An in-range update of conventional-changelog-cli is breaking the build 🚨"
## Version **1.3.0** of [conventional-changelog-cli](https://github.com/conventional-changelog/conventional-changelog-cli) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Fconventional-changelog-cli-1.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>

[2017-03-11 09:14] ArnoldM-webdev commented on #1475
I'm trying to use your tutorial on ionic CLI to make it work with Angular CLI but I'm stuck with the webpack configuration that should able to import Meteor packages... Angular CLI don't let us override this configuration.
How can I solve this?
Thank's a lot for all your great work!

[2017-03-13 18:48] greenkeeper[bot] opened #1582 "An in-range update of @types/underscore is breaking the build 🚨"
## Version **1.8.0** of [@types/underscore](https://www.npmjs.com/package/@types/underscore) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40types%2Funderscore-1.8.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/underscore
    </

[2017-03-14 08:46] Snesi opened #1583 "Angular Meteor Website's body's padding-top cuts bottom content"
<img width="514" alt="screen shot 2017-03-14 at 09 42 57" src="https://cloud.githubusercontent.com/assets/831197/23892441/e1da797a-089a-11e7-9993-e15e127fd677.png">

When you scroll to the bottom the content of the page is cut off because of the body's padding-top and overflow auto.

[2017-03-14 15:20] thoni56 commented on #1560
I totally agree with the sentiments of the OP here. I was looking to learn Meteor primarily, went to checkout the Ionic-flavoured tutorial, tries a few steps. And for me, as a novice to JS frameworks, I was totally put off by the sheer abouts of things that I had to type which I just didn't understand. And might have never come back...

A few days later, I bit the bullet, and although announced as

[2017-03-15 11:16] Urigo commented on #1560
thank you all for the feedback!

I've been working on a structure that I think will be both easy for beginners, good for advanced developers and also pretty easy to interchange technologies (Angular Material or Ionic, Meteor live query or GraphQL, etc...).

If anyone wants to help me with this so I could get an early feedback and put it out there as fast as possible, feel free to email me.

About

[2017-03-15 16:53] ingleo commented on #1567
I try putting the code on the server too, and did not work, I don't know what more i can do with this issue, pleas anybody have any idea about it?
Really appreciate any idea or workaround.

[2017-03-17 12:55] Eraldo commented on #1567
I did some research and thought using the in-app browser might be an option.
Here is an article showing how it can be done: https://www.thepolyglotdeveloper.com/2014/07/using-oauth-2-0-service-ionicframework/

I still see some challenges however.

Please update if one of you managed to do it.

[2017-03-17 21:24] cosmin-dumitrache commented on #1448
+1

[2017-03-18 20:28] charly37 commented on #1469
Exact same issue today.

[code]

The tutorial is the first one on the 3 available on the tutorial page : https://www.meteor.com/tutorials
I would except it to be working and if it is not supported it should be removed.

[2017-03-19 12:24] jrosseel commented on #1448
+1

[2017-03-19 13:25] Zeioth commented on #1475
Bump! We are not able to run Meteor + Angular 2 + Lazyload
Thank you for working on this!

[2017-03-19 22:51] erperejildo opened #1584 "Searching functionality"
I just figured out that my searching function doesn't work as expected. I need to type again to search the previous text, e.g. if I type 'v' nothing happens but if I type 'va' it searches content with 'v'.

[code]
the console displays the correct content: `title: { '$regex': '.*v.*', '$options': 'i' } }`
but the cursor doesn't have that 'v' (returns 21 plates)

if I run the same query on robomongo

[2017-03-21 06:34] suhag007 commented on #1530
check this answer. http://stackoverflow.com/questions/41314579/alanningrole-importing-issue-in-angular2-meteor

[2017-03-21 10:17] lazaridis-com opened #1586 "void"

[2017-03-22 12:45] #1578 closed

[2017-03-24 03:01] superrandres commented on #1539
Hello, And how did you solve it?

[2017-03-24 03:08] K69G4JRA725W commented on #1539
The problem is with mdl.  Remove all mdl related stuff, and use another UI framework.

[2017-03-28 19:57] GuofuHuang opened #1587 "Meteor test doesn't work"
I'm trying to write some test functions to test the app I created, but it doesn't run any test files.
I use the command to test: 'meteor test --driver-package practicalmeteor:mocha'
![screen shot 2017-03-28 at 2 42 14 pm](https://cloud.githubusercontent.com/assets/10643064/24424590/b5253c30-13c6-11e7-8157-62b227e6b036.png)

Does anybody know how to solve this?

[2017-03-28 20:50] erperejildo commented on #1584
Checking the server side I get the correct data:
[code]

Is on the client side where I get the data badly. Has to be a problem related with my subscription, which is not reactive.
Knowing this I'll investigate more deeply

[2017-03-28 22:56] bdeshaz commented on #1566
Doesn't seem meteor is starting up. I believe meteor starts up via the meteor-client bundler, but this doesn't seem to be happening. The dev server will run  :8100 after ionic serve _i'm using ionic serve -l_ , but :3000 doesn't not seem to be starting @Urigo

[2017-03-29 09:23] nicolaspanel commented on #1475
@Urigo, you said:

Updating angular-cli's webpack config seems risky / discouraged (see https://github.com/angular/angular-cli/issues/1656).
It would be great if meteor could "just" serve angular`s statics (I mean from `dist` directory). Is there a way to do this?

@ArnoldM-webdev: you can access angular-cli's webpack config using `ng eject`

[2017-03-29 16:29] GuofuHuang commented on #18
@wilcraig , do you get any tutorials for testing? I have searched lots of places, but no luck.

[2017-03-31 02:13] superrandres commented on #1548
Hi,
I also have this problem, I tried in Galaxy 5.1.1 and it works fine, but it does not work correctly in Galaxy 4.4.2.
@Slavrix Can you please tell me where to find this file?
I am following the following tutorial. WhatsApp Clone with Ionic 2 and Meteor CLI, I checked the link you provided but I did not find anything to help me.

[2017-04-01 02:07] #1586 closed

[2017-04-03 08:12] timschurti opened #1589 "Meteor-Angular Application freeze when loading two Components."
Hey guys

I got a Problem with my Meteor/Angular2 application. I got a start Component (AppComponent) and I can load this just fine everything works as I want. But now I added the tag 'map' to my AppComponent template and created the component MapComponent. Now everytime i try to open the application (on localhost:3000) the App freezes and crashes. I can't open the developer tool nothing and I nee

[2017-04-03 08:51] SanjayYadav90 commented on #1381
I was also getting the same issue-

I just update npm-

`sudo npm install npm -g`

My issue got resolved !!!

[2017-04-03 20:09] fernandoarevalo commented on #1567
Hi!

I have same problem... I tried to get the session in mobile app but wasn't possible, the ionic native facebook implementation "https://ionicframework.com/docs/native/facebook/" works fine but require create a different model or just adjust meteor model to insert an user and connect with it

Regards

[2017-04-08 19:39] rodrilink commented on #1448
+1

[2017-04-09 01:34] juniorsml commented on #1509
Hi everyone. Have someone the link to a repository with the meteor code?

[2017-04-09 07:16] Paaarth commented on #1469
I am still getting this error

=> Started proxy.
=> Started MongoDB.
=> Errors prevented startup:

   While processing files with angular-templates (for target web.browser):
   native: main.html has wrong layout
   at Error (native)
   at packages/urigo:static-html-compiler/build/src/index.js:34:27
   at Array.forEach (native)
   at StaticHtmlCompiler.processFilesForTarget
   (packages/urigo:stati

[2017-04-11 03:05] cesargalindo opened #1590 "Unable to update Socially Tutorial to Angular4"
The following Socially App Step19  _**https://github.com/cesargalindo/socially-step19-ang2.4.8**_ uses Angular 2.4.8 and Meteor 1.4.3.2 works fine.

I updated the app to Angular 4.0.1 by updating the npm modules in the package.json file.   After performing an npm install I get the warnings listed below.  Thinking these Meteor npm modules need to be updated?

**WARNINGS**

[code]

- According to an

[2017-04-13 00:34] atbe opened #1591 "Link to tutorial from README -> 404"
The link in the README http://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping:

`If you are new to Angular2 and/or Meteor but want to learn them quickly, please check out our 23-steps Angular2-Meteor [tutorial](http://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping)`

leads to a 404.

Has the page been moved?

[2017-04-15 19:16] asemoon commented on #1448
+1
This is really needed! The angular meteor concept is amazing. I love the idea of having a continuously connected app and at the same time, I want to open the potential of exposing data using graphQL to other clients. For either adding more platforms or Sass purposes.

[2017-04-16 02:34] asemoon commented on #1590
Same issue here, it appears that angular2-meteor has a lock on 0.7.1. This causes not being able to update to angular 4 and also not being able to install ionic per tutorial since `npm install ionic` appears to be updated to ionic 3 which requires angular 4. Any plans to update the angular2-meteor package to align with angular 4?

[2017-04-16 11:23] sdarnell commented on #1590
While making the changes it would be good to bump to the latest angular2-meteor-polyfills which is now at 0.2.0 (though there wasn't a huge change from 0.1.1).

[2017-04-16 17:17] sdarnell commented on #1553
FYI There's an example of lazy loading of modules with Meteor 1.5 at: https://github.com/joerex/angular-meteor-lazy-load

[2017-04-19 19:20] urco opened #1593 "Scss compiler error"
Im following the tutorial  but Im getting the next error when I try to run for first time the App
[code]

[2017-04-20 19:52] staeke opened #1594 "Upgrade package dependencies"
Currently requires angular@^2.0.0 (but angular is up to 4)
Currently requires angular2-meteor-polyfills@0.1.1 (but is up to 0.2.0)

[2017-04-24 09:09] magicboy110 opened #1597 "ObservableCollection can't trigger callback in client when insert/update"
According to the document description : https://angular-meteor.com/api/meteor-rxjs/latest/ObservableCollection#Collection+insert

ObservableCollection.insert() will return a Observable object witch will trigger complete callback when the operate complete.

It's truth running  in server, but in client, the complete will not trigger never.

Is this a bug ?

[2017-04-24 14:45] jerradpatch commented on #1597
I have been using it for a while, and I dont think its a bug. I think its because is observing the local collection and it cannot be sure when a server pushes new data, so it always watches it. If you are looking for a completion like a promise try .take(1) which will unsubscribe after 1 item is recieved.

Sent from my iPhone

[2017-04-25 12:29] ghybs commented on #1593
Hi,

See https://github.com/Urigo/Ionic2-MeteorCLI-WhatsApp/commit/da6ccca1224add19fb7491444c138574099a39f4#commitcomment-21553512

[2017-04-25 12:49] ghybs opened #1598 "[barbatus:scss-compiler] simplify use of Ionic SCSS through fourseven:scss/PR244"
### Feature request:
- [x] A descriptive title

- [x] An overview of the suggested solution

    Pull https://github.com/fourseven/meteor-scss/pull/244 into `barbatus:scss-compiler`.

- [x] A description of the problem you're trying to solve, including *why* you think this is a problem

    Currently [`fourseven:scss`](https://github.com/fourseven/meteor-scss) package as well as the angular2-meteo

[2017-05-01 03:36] rrubio commented on #1590
+1

[2017-05-02 07:05] msyahidin commented on #1590
+1

[2017-05-02 07:31] aruntime commented on #1590
+1

[2017-05-02 17:54] katusiky commented on #1590
+1

[2017-05-04 23:24] darkbasic commented on #1567
Please have a look at my latest post here: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/40

InAppBrowser works fine with Cordova, but it isn't compatible with Browser. See my post here: https://forum.ionicframework.com/t/issue-inappbrowser-invalid-event-target/88548/15

[2017-05-05 10:19] Tytam commented on #1590
+1

[2017-05-06 01:47] rodrilink commented on #1590
+1

[2017-05-06 12:22] kombadzomba commented on #1559
Any words on this one? We have the same problem. Our angular2+meteor prokect load time on android os around 15s! It is impossible to use it.

[2017-05-06 12:27] tseck commented on #1559
There should be lazy loading and asynchronous Imports now in meteor 1.5 but
we switched to react native actually.
Eg oclazyload etc

Miloš Micić <notifications@github.com> schrieb am Sa. 6. Mai 2017 um 14:22:

[2017-05-08 00:00] eohan commented on #1565
Potentially could be due to this bug ?
https://bugs.chromium.org/p/chromium/issues/detail?id=379206

[2017-05-08 09:42] erperejildo commented on #1565
Hmmm, tbh I'm not sure. I'm using now a different package to manage this and also a different way. Can't remember how I fixed it, sorry.

[2017-05-09 19:09] ingleo commented on #1567
I'm going to close this issue because it has been resolved, look this post Urigo/Ionic2CLI-Meteor-WhatsApp#92, clarifying that is only for facebook login.

[2017-05-09 19:09] #1567 closed

[2017-05-09 22:15] rrubio commented on #1590
+1

[2017-05-09 22:18] plmercereau commented on #1448
+1

[2017-05-10 16:25] ntziolis commented on #1590
+1

[2017-05-14 18:14] Deadly0 opened #1599 "Using templateUrl and styleUrls hangs up the app."
Using `templateUrl` and `styleUrls` in component meta data hangs up the app.

[code]
But `templateUrl` and `styleUrls` is the recomended by angular team way to import html/css.
The error in the console `ERROR RangeError: Maximum call stack size exceeded`
What am i doing wrong?

angular2-compilers 0.6.6
angular 4.1.2
platformBrowserDynamic

PS
[code]
Works well

[2017-05-17 00:11] rrubio commented on #1599
@Deadly0 I came across the samething, i ended up using the import method and works perfectly. From what i gather, it's particular to meteor, but aside from that works perfectly.

[2017-05-19 00:31] tehXor commented on #1590
Since it looks like all standard packages are far ahead (@ angular is at 4.1.3, @ionic-native is at 3.9.2 and ionic-angular at 3.2.1) and I would like to follow at least ionic-angular quite closely I tried an update of a quite young meteor-angular2 project as well. Unfortunately without luck. After dropping angular2-google-maps and adjusting to the new @ionic-native naming convention things were s

[2017-05-19 06:32] ntziolis commented on #1590
@tehXor  We have been through this ourselves and what does indeed work when trying to use the latest Ionic + Ang 4 is: Use the Ionic CLI + build process (just following the meteor steps from the sample in our own project). It seems that right now the Meteor build pipeline creates issues due to version conflicts with TypeScript. The Ionic build process seems to be updated already.

This was our LAS

[2017-05-19 15:02] gh0st commented on #1597
@jerradpatch I was looking to take advantage of this callback too. I just need a unique way of identifying the record that was added with the `insert()`.

[2017-05-19 15:20] jerradpatch commented on #1597
If your looking for a completion, I think the best that you will get is a signal when the local and the remote are in sync. But that will only give you up to that point and not after. In order to do that you have to put a observable inside the callback to the .subscribe() method on the collection (when you telling the server which models to send to the local, it takes a callback). I created a wrap

[2017-05-19 15:30] jerradpatch commented on #1590
I see a lot of people that are having issues updating for ng2 to ng4 with meteor. I also had issues but I eventually got it to work (socially didnt work at first). I all by issues were in the modules.ts and main.ts where the AOT caused a lot of red herring exceptions. Just writing that to give assurance that meteor works with ng4.

Sent from my iPhone

[2017-05-19 15:33] ntziolis commented on #1590
I was able to get it to work with the ionic CLI, but not with the Meteor CLI. Can anyone confirm they have been able to get the Meteor CLI + Ionic 3 + Ang 4 to work?

[2017-05-19 19:09] rodrilink commented on #1590
My goal: make it work in web and android

I have had all this week trying to make it work without success, this is my history log:

**- Ionic 3 + Angular 4 + Meteor-Client-Bundler (api) 1.4** = Best approach, bootstrap well in browser / Android, then i have removed mys:accounts-phone and added accounts-password for login purpose and works good for web, hurray!!... but not in Android (using ionic C

[2017-05-19 21:23] gh0st commented on #1597
@jerradpatch no not looking for a completion, just need an _id equivalent to what will actually end up in the db after everything gets synced.

[2017-05-19 22:50] jerradpatch commented on #1597
I am just going to take some guesses since i donno an _id equivalent unless you create the Id yourself. If you only want unique results returned in a query then look at distinct() from rxjs lib. I would stay way from projections as you endup with a lot of partial data in the local. If your logic is following the concept of synchronous. Then well thats the wrong way with rxjs. There really is no sy

[2017-05-20 02:03] gh0st commented on #1597
So given [this](https://docs.meteor.com/api/collections.html#Mongo-Collection-insert) document from Meteor's Mongo.Collection

That's all I'm really after @jerradpatch

[2017-05-20 02:33] jerradpatch commented on #1597
Aww man, you can gen your own id with mongo.objectID() and that will be used as the same key saved in the DB. As for the allow deny rules, you should checkout the built in accounts package.

Sent from my iPhone

[2017-05-20 03:07] gh0st commented on #1597
Ya sort of, but I don't have a `mongo` object, I have a `MongoObservable.Collection` which I invoke `.insert()` on.

[2017-05-20 04:01] jerradpatch commented on #1597
Mongo is a class that comes in a package installed with meteor (I believe)
. import { Meteor } from 'meteor/meteor'; and then let id =
Mongo.ObjectID();
Its part of the collections https://guide.meteor.com/collections.html

On Fri, May 19, 2017 at 11:07 PM, Chad Hollman <notifications@github.com>
wrote:

[2017-05-20 04:02] jerradpatch commented on #1597
Yeah, type "meteor list" in the terminal and you will see "mongo" listed.

On Sat, May 20, 2017 at 12:01 AM, Jerrad Patch <jerradpatch@gmail.com>
wrote:

[2017-05-20 05:39] jerradpatch opened #1600 "Subscriptions not working for local mongo"
The issue in summary is that the local meteor mongo instance is not returning data. I have connected to the data base with the CLI and seen that data was there. However, it seems the server is fetching nothing. I can connect to a remote DB and the exact same code works just find. Furthur described below. Thanks much.

Currently using meteor RXJS I have had a similar issue before and it was due to

[2017-05-20 05:50] jerradpatch commented on #1597
One other thing to add, is dont forget to install the types.

add these to the tsconfig file

"types": [
  "meteor-typings",
  "@types/meteor"
]

and the same in your npm package ex:
meteor npm install --save-dev meteor-typings

On Sat, May 20, 2017 at 12:02 AM, Jerrad Patch <jerradpatch@gmail.com>
wrote:

[2017-05-20 13:00] MohmadAyman commented on #1448
+1

[2017-05-20 21:14] Deadly0 commented on #1599
@rrubio thx, i use the same way too. But `templateUrl` and `styleUrls` functionality not working :(

[2017-05-21 22:57] rrubio commented on #1600
I had the same issue under development and also tried setting it up under "package.json/script", at the end i ran the following from the command line:

# MONGO_URL=mongodb://xxxxx:yyyyy@coolness:user@collness.server:2345/someplace meteor

The above works fine under dev, have not tried it under production yet.

[2017-05-25 07:20] erudstam commented on #1469
Same error. Please Help!

=> Errors prevented startup:

   While processing files with urigo:static-templates (for target web.browser):
   native: main.html has wrong layout
   at Error (native)
   at packages/urigo:static-html-compiler/build/src/index.js:34:27
   at Array.forEach (native)
   at StaticHtmlCompiler.processFilesForTarget
   (packages/urigo:static-html-compiler/build/src/index.js:19:

[2017-05-26 15:13] tehXor commented on #1590
Just in case anybody else is interested: We still went with Meteor and Ionic/Angular for our current project but we tried to avoid as much complexity from the `angular-meteor` project(s).

So we installed a separate Meteor and a separate Ionic project which do not share any code. This means we have to define collections in both projects and our only 'glue' is `meteor-rxjs` and `meteor-client-bundl

[2017-05-29 04:47] rrubio commented on #1590
@tehXor is that using angular 4?

[2017-05-30 09:13] aalhaimi commented on #1590
@tehXor, this solution is not bad at all.. I want to give it a try. Do you mind sharing a repo to illustrate how you did it.

[2017-06-08 02:51] magicboy110 opened #1603 "Build unsuccessfully if there is an empty .scss file in project"
Build unsuccessfully if there is an empty .scss file in project.
I can remove the empty .scss file in my code ,but can't remove those in third-party npm package.

[2017-06-10 05:07] briancvn commented on #1599
I have same problem, the functionality still not working

[2017-06-10 10:58] Deadly0 opened #1604 "AoT and Tree shaking for angular 4"
How to use AoT and tree shaking with Meteor app? Angular still have bad performance and big bundle size. AoT and tree shaking may solve that problems but i don't see any docs about this features

[2017-06-10 16:14] Deadly0 opened #1605 "Wrong types for .forEach()"
[code]
This code gives following errors:
[code]

Compiler expects type `Float[]` but variable `flat` have type `Flat`

[2017-06-11 03:15] cesargalindo commented on #1590
It works now!  After reading various posts that Angular 4 works with Meteor, I decided to give it another try.
I added the latest version of Meteor 1.5 and Angular 4.2.0-rc.2 to the Socially tutorial and it worked.

Here's a git repo of the working project.

https://github.com/cesargalindo/socially-step19-ang4.2.0-rc.2

[2017-06-11 13:08] #1529 closed

[2017-06-11 16:20] sdarnell commented on #1605
Could it be a simple mistake?  Should find() be findOne()?

Here are the type definitions (from typings for meteor):
[code]
Note that find() returns a Cursor<T> whereas findOne() returns a T.

[2017-06-11 16:40] sdarnell commented on #1605
The key question is which typing definitions are wrong for you, or whether tsc is just getting a bit confused and falling back to any.
I'd suggest breaking it up to be as simple as possible, e.g.:
[code]
Then adding types as to see where it goes wrong.
[code]
and
[code]

[2017-06-11 21:22] Deadly0 commented on #1605
@sdarnell `.find()` returns `ObservableCursor<T>`. I'm about angular2-meteor, sorry, i have forgot to point on it.

[2017-06-13 10:34] activeperception opened #1606 "*ngFor trackBy function not called starting from angular4.0.0-beta.8"
Works well with angular4.0.0-beta.7.

It works well in this [plunker](https://plnkr.co/edit/XIQxq983z4QhVEVf3b2j?p=preview) (angular without meteor) but I cannot understand why it doesn't when meteor is used too.

Any idea of how angular-meteor might interact with the changes introduced by [angular4.0.0-beta.8 ](https://github.com/angular/angular/blob/master/CHANGELOG.md#400-beta8-2017-02-18)?

Ob

[2017-06-13 19:40] ardatan opened #1607 "Error while importing Ionic 3's native library"
I'm using Meteor 1.5, Angular 4 and Ionic 3 on my project by using Meteor CLI, but I cannot import Ionic's native library; it gives an error in browser because it cannot detect ES2015 import syntax in the ES2015 js files.

The code to import Ionic's SplashScreen plugin in TypeScript file:

`import { SplashScreen } from '@ionic-native/splash-screen';`
The error, which I get in browser;

`Uncaught S

[2017-06-25 05:30] solsos opened #1608 "About the new version of meteor 1.5.0"
I use window 10 installs the meteor 1.5.0. But the repo does not work well.

I think they need to update some version of the plugins. Please help to solve it.

Thanks.

[2017-06-25 15:16] solsos commented on #1608
I got the answer. Run `meteor update` under project folder and then run `meteor ` works well.

[2017-06-25 15:17] #1608 closed

[2017-06-27 06:38] Slavrix commented on #1607
use typescript

[2017-06-27 11:44] ardatan commented on #1607
I am already using typescript (with barbatus:typescript). If you check the code of Ionic 3 native library, you can see ES2015 syntax there, and you can get that it is not related to "use typescript".

[2017-06-28 14:47] activeperception commented on #1606
It works well when METEOR_PROVIDERS are not added to my module providers.

[2017-06-29 03:42] anshdeep opened #1609 "Problem while sending sendgrid mail through angular2-meteor"
Hello,

I am using "angular2-meteor": "0.7.0", when we sending mail through sengrid mail API from meteor client, getting below error message -

“XMLHttpRequest cannot load https://api.sendgrid.com/v3/mail/send. Response to preflight request doesn't pass access control check: The 'Access-Control-Allow-Origin' header has a value 'https://sendgrid.api-docs.io' that is not equal to the supplied origin

[2017-06-29 08:59] sdarnell commented on #1609
There's some meteor specific discussion about this issue at: https://forums.meteor.com/t/how-to-fix-cors-access-control-allow-origin-error-in-meteor-app/1896/21

Consider the Meteor built in email api: https://docs.meteor.com/api/email.html

I don't think it is specific to the angular-meteor package.

[2017-07-05 16:27] TylerL-uxai commented on #879
+1 for meteor 1.5

[2017-07-09 11:44] amerzad commented on #1607
This is happening to me also. I downgraded back to ionic-native@2.9.0 successfully.
I think the problem is, that after 2.9.0 they changed their compilation module to es2015.
Is there any way to make the barbatus:typescript compilers transpile @ionic-native@3.* files on meteor client?

[2017-07-09 17:02] ardatan commented on #1607
Unfortunately, I couldn't get help or any kind of answer about this situation, I think they don't care about MeteorCLI version.

[2017-07-10 17:04] sephiroth56 commented on #1559
no solution ?? same boat

[2017-07-17 13:36] staeke commented on #1543
any news on this?

[2017-07-24 07:59] SimonSimCity opened #1629 "$bindToContext only updates current view, not parent"
I created a component that has a property, where an object get's passed in. The parent view also shows some of the content of this object.

When I now update this variable from another context and try to bind it back again using `this.$bindToContext(() => { /* some code ... */ })` it only updates the child's view, but not the parents one - leaving out the rest of the page, where data also might ha

[2017-07-26 14:11] shubhankarGoku commented on #497
WebSocket is already in CLOSING or CLOSED state.
(anonymous) | @ | browser-sync-client.js?v=2.18.13:3
-- | -- | --

[2017-07-27 15:25] karlbanke opened #1630 "Build error when building non trivial Angular 2 application"
I am Running Meteor 1.5.1 with Angular-Meteor. When running the build I get the following exception and the build fails.

W20170727-17:23:43.809(2)? (STDERR) TypeError: Cannot assign to read only property 'then' of #<Promise>
W20170727-17:23:43.809(2)? (STDERR)     at patchThen (/home/banke/workspace/dpa-id/dpa-id-useradmin/src/meteor/node_modules/zone.js/dist/zone.js:942:24)
W20170727-17:23:43.81

[2017-07-30 05:23] hanselke commented on #1064
Hi,

ive just recently upgraded from meteor 1.2 > 1.5.6 and in the process... have moved all of my bower dependencies as well some meteor packages all to meteor npm.

Essentially, the problem is after including the $auth controller, $auth.currentUser isnt defined in my angular controllers.

I looked at the angular-meteor docs and see that 1.3.11 lists $auth 0.3.0

Problem: at https://github.com/Ur

[2017-08-02 19:01] GuofuHuang opened #1631 "Need to import the latest material 2"
I want to use the dataTable in the latest material 2, so I upgrade it the latest version. However, for some how the angular-meteor can't import scss file in the @angular/material/theming, it gives some errors. Does anybody already did that, if not, hope this can be done in the future.

[2017-08-03 05:32] hanselke commented on #955
@mattiLeBlanc mind showing me what the coffeescript @helper structures you needed up using?

[2017-08-03 05:41] hanselke commented on #1238
Sorry guys, ive re-read the thread twice and clicked all the links involved.

Not sure what the final decision is, are $rootScopes allowed to be $reactive or not?

[2017-08-04 07:50] Anoop-Goudar commented on #461
@Urigo , http://angular-meteor.com/tutorial/step_20 this source is not available anymore.
Please suggest alternate source.

[2017-08-04 09:57] Urigo commented on #461
https://angular-meteor.com/tutorials/whatsapp2/ionic/file-upload

[2017-08-04 10:11] Anoop-Goudar commented on #461
Thanks @Urigo  for quick response.
I was to using ng-file-upload in the Angular client side and was trying to
figure out a way to create a api and make a post operation from Angular

On 4 August 2017 at 15:27, Uri Goldshtein <notifications@github.com> wrote:

[2017-08-10 19:23] michaelb-01 commented on #1475
Is this still being developed?

[2017-08-14 00:48] gauravdhiman commented on #878
I am having an issue in seeing the TS (typescript) code when I use Chrome Remote WebView Debugger to debug code running on Android phone. Its not an issue if I run app on desktop chrome and debug it - at that time sourcemaps are present and I am able to see TS code.

Problem is when I run code in Android phone and debug it using Chrome Remote WebView Debugger. In this case I am always seeing the t

[2017-08-14 18:14] fernandoarevalo opened #1639 "Project error on iOS version 10.3.3 and Android version 4.4.4"
Hi everyone

I am doing the tutorial whit the Ionic 3 Version (Last Update: 15.06.2017). After install it on iOS (Iphone 6 version 10.3.3) and Android (Samsung Galaxy S3 version 4.4.4) devices, i am getting **WHITE SCREEN** and these errors.

### iOS - Xcode console
[code]
### Android - Chrome inspect console

[code]

This project  has been tested also on
- Sony Xperia M4 Aqua (Android version 5.0

[2017-08-18 15:01] erperejildo commented on #1161
@Urigo I'm using latest Angular and angular-meteor and still facing this issue

[2017-08-19 00:01] erperejildo opened #1640 "Cannot get AUTH_REQUIRED"
I'm redirecting the user if he's not logged with this:
[code]

And:
[code]

Can't see any console at all and I get this error:

This was working before on version 1.4.2.6. When I updated to 1.5 it stopped to work

[2017-08-19 07:46] blackjack0v0 opened #1641 "Runtime Error can't convert undefined to object built with meteor 1.5.1"
I follow the step of tuturiol (till step 11) ,and build the whatsapp, it work perfect on latest chrome and firefox,but it crash on  firefox 45.0 linux and also on android

**and firefox 45.0 cosole show this .**

[code]

[2017-08-19 07:48] blackjack0v0 commented on #1641
I have double check my tsconfig  and webpack.config,and rebuilt the app or api in many times,but the problem still there ,and I almost been crazy ,can't any body help me,thanks

[2017-08-19 11:31] blackjack0v0 commented on #1641
after build with --prod  method ,I got this
[code]

[2017-08-20 13:51] blackjack0v0 commented on #1641
a related issue here  https://github.com/Urigo/meteor-client-bundler/issues/41  ,someone find a temporary solution

[2017-08-20 14:00] blackjack0v0 commented on #1604
you can use ionic cli to write the app ,and use meteor as backen using https://github.com/Urigo/meteor-client-bundler ,see the tuturiol whatspp, and then
**add**
` import { enableProdMode } from '@angular/core';
enableProdMode();` to your main.ts
**run**
` ionic cordova build  android --aot  --minifyjs --minifycss --optimizejs
`
it perform perfect on mobilephone,just 1.4mb, and load faster just ne

[2017-08-20 14:15] Deadly0 commented on #1604
@blackjack0v0 thx, but i need build for browsers not for mobiles.

I'm personaly already migrating on React.js. Angular-meteor integration looks perspectiveless and unusable for now becouse of a lot of bugs and nobody want to fix them for more the half of year. Looks like this project is aboddoned.

[2017-08-20 14:34] blackjack0v0 commented on #1604
@Deadly0  it also work for browser , you can use ngcli to build your project(don't use meteor-cli) ,just use meteor as backen . it does have many bugs, but I can't leave meteor./\.

[2017-08-31 07:00] vfonic commented on #749
@jerradpatch yes it is O(n^3), unfortunately. Let me know if you figure out the solution/alternative.

[2017-09-10 07:01] rgal75 opened #1643 "Using Angular's fakeAsync(...) in mocha tests results in an error"
In an attempt to test some Router logic, I wanted to use `fakeAsync(...)` to verify the result of a router navigation. (I am using `RouterTestingModule` in place of `RouterModule` in the test.)

Here is the corresponding  test:

    it('navigate to "" redirects you to /home', fakeAsync(() => {
      router.navigate(['']);
      tick();
      expect(location.path()).toBe('/home');
    }));

As a re

[2017-09-15 21:38] zee92 commented on #1554
meteor npm install angular2-google-maps --savesocially@ /home/niko/WebstormProjects/socially├── UNMET PEER DEPENDENCY @2.1.2├── UNMET PEER DEPENDENCY @2.1.2└── angular2-google-maps@0.17.0npm WARN angular2-google-maps@0.17.0 requires a peer of @^2.3.1 but none was installed.npm WARN angular2-google-maps@0.17.0 requires a peer of @^2.3.1 but none was installed
--

[2017-09-15 23:15] zee92 commented on #1381
**<agm-map [latitude]="lat" [longitude]="lng">
<agm-map-marker [latitude]="lat" [longitude]="lng"> </agm-map-marker>
</agm-map>

it is showing map but it not showing markers on map. need help to solve the problem. in its old version it was showing through this statement but now it is deprecated.

<sebm-google-map-marker [latitude]="lat" [longitude]="lng"> </sebm-google-map-marker>**

[2017-09-18 07:48] dinigo commented on #1587
+1

[2017-09-29 14:37] abtx opened #1645 "$stateParams undefined"
I'm using `$stateParams` to get a detail page, which works fine routing-wise;
however, I get undefined if I try to access it in the controller
`
constructor($scope, $stateParams) {
   'ngInject';
    $scope.viewModel(this);
    console.log($stateParams); // returns undefined
...
`

Anybody had the same issue or can help me with this?

[2017-09-29 16:06] #1645 closed

[2017-09-29 19:31] abtx opened #1646 "How to change $state?"
I've got a function outside the constructor and I'm trying to figure out the code to change the state, but so far no luck. I tried passing `$state` to the constructor and writing `this.state = $state` to use it in my function, but that doesn't work.

What is a correct way for a function to trigger state change?

PS: I want to change it when I create a new object, i.e. I'm adding an item to the col

[2017-10-03 10:51] atao60 opened #1647 "[barbatus:scss-compiler] error under Windows"
See a simplified code on Github: [meteor-angular4-scss](https://github.com/atao60/meteor-angular4-scss).
May be related to [Scss compiler error #1593](https://github.com/Urigo/angular-meteor/issues/1593)

Ubuntu 14.04.5 LTS
Windows 8.1

Meteor 1.5.1, 1.5.2, 1.5.2.1

Doesn't use angular-meteor, but only angular2-compilers or barbatus:angular2-compilers@0.6.8 (atmosphere packages).

Everything runs

[2017-10-10 11:18] gooor opened #1648 "Slow rebuild times on old compilers"
Since upgrading to meteor 1.5.2.2 hot reload works like sh*** - after first error in TS file it stops reloading front - no matter what I do with this file. I have to restart meteor in order to get him reload this file *&%*()&. Funny part is that saving TS file triggers meteor to rebuild but Browser stays untouched throwing old error :(

[2017-10-10 11:25] gooor commented on #1648
And second thing - why  it doesn't show errors in TypeScript files? - I mean errors like `const something = ;`???? It just shows 'module 'x' not found'? It makes development of meteor-angular app a nightmare....

[2017-10-17 06:39] rfajarachmad commented on #1381
Just update the npm,

`sudo npm install npm -g`

solved for me

[2017-10-22 10:18] #1607 closed

[2017-10-22 17:41] ardatan commented on #1607
Closed w/ PR https://github.com/Urigo/angular-meteor/pull/1671

[2017-10-23 16:05] tinjaw opened #1700 "Dependencies not satisfied in tutorial"
RE: https://angular-meteor.com/tutorials/whatsapp2/meteor/setup

It says "Now that we have all the compilers and their dependencies ready, ", but there are still dependencies required. Here is my output at this stage"

`npm WARN @angular/compiler-cli@4.4.6 requires a peer of typescript@^2.0.2 but none was installed.
npm WARN @angular/platform-server@4.4.6 requires a peer of @angular/animations@4.4

[2017-10-23 16:58] darkbasic commented on #1700
These are peer dependencies, it simply means that the version currently installed is not the same version that the package expects. It should work anyway, if it doesn't work it's just because this tutorial is heavily outdated. Better follow this one: https://angular-meteor.com/tutorials/whatsapp2/ionic/setup

[2017-10-23 16:58] #1700 closed

[2017-10-23 17:18] tinjaw commented on #1700
Thank you. That explains it.

[2017-10-30 22:32] ardatan commented on #1648
You can try it with new compilers (angular-compilers) by changing template and style syntax. You can check MeteorCLI/bare example.

[2017-10-31 12:04] Urigo commented on #1639
@fernandoarevalo we've released a new and updated version of the tutorial with latest and greatest, could you check and tell me if everything works now for you? https://angular-meteor.com/tutorials/whatsapp2/ionic/setup

[2017-10-31 12:06] #1581 closed

[2017-10-31 12:07] #1569 closed

[2017-10-31 12:07] #1582 closed

[2017-10-31 12:15] Urigo commented on #846
will be part of the next major version of https://github.com/Urigo/tortilla

[2017-10-31 12:15] #846 closed

[2017-10-31 12:16] Urigo commented on #1079
closing as an old issue.
please check that it works with the latest tutorial (https://angular-meteor.com/tutorials/whatsapp2/ionic/setup) and if not, reopen

[2017-10-31 12:16] #1079 closed

[2017-10-31 12:16] Urigo commented on #1169
will be part of the next major version of the tutorial

[2017-10-31 12:16] #1169 closed

[2017-10-31 12:19] Urigo commented on #1226
closing due to inactivity and cleanup after tons of new updates

[2017-10-31 12:19] #1226 closed

[2017-10-31 12:19] Urigo commented on #1263
closing due to inactivity and cleanup after tons of new updates

[2017-10-31 12:19] #1263 closed

[2017-10-31 12:19] Urigo commented on #1301
closing due to inactivity and cleanup after tons of new updates in the recent month

[2017-10-31 12:19] #1301 closed

[2017-10-31 12:19] Urigo commented on #1316
closing due to inactivity and cleanup after tons of new updates in the recent month

[2017-10-31 12:19] #1316 closed

[2017-10-31 12:20] Urigo commented on #1327
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:20] #1327 closed

[2017-10-31 12:20] Urigo commented on #1338
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:20] #1338 closed

[2017-10-31 12:20] Urigo commented on #1362
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:20] #1362 closed

[2017-10-31 12:21] Urigo commented on #1443
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:21] #1443 closed

[2017-10-31 12:22] Urigo commented on #1449
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:22] #1449 closed

[2017-10-31 12:22] Urigo commented on #1458
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:22] #1458 closed

[2017-10-31 12:22] Urigo commented on #1472
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:22] #1472 closed

[2017-10-31 12:23] Urigo commented on #1473
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:23] #1473 closed

[2017-10-31 12:23] Urigo commented on #1474
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected

[2017-10-31 12:23] #1474 closed

[2017-10-31 12:26] Urigo commented on #1475
Now you can use all features from the Angular CLI:

- Lazy loading and dynamic imports
- AOT compilation
- SSR Angular Universal
- Latest Angular 5, Meteor 1.6 and Node 8.8

both with the Angular CLI and Meteor Client bundler or with the Meteor CLI itself!

thanks to the great work of @darkbasic and @ardatan .

Check out all the new examples in the examples folder here: https://github.com/Urigo/an

[2017-10-31 12:26] #1475 closed

[2017-10-31 12:27] Urigo commented on #1476
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

As a recommended solution for the future, check out the [js-accounts](https://github.com/js-accounts/) project

[2017-10-31 12:27] #1476 closed

[2017-10-31 12:28] Urigo commented on #1477
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:28] #1477 closed

[2017-10-31 12:28] Urigo commented on #1478
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:28] #1478 closed

[2017-10-31 12:30] Urigo commented on #1482
everyone please try to new and updated [angular-compilers  package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers).
It supports:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

Please open a new issue if you encountered one.

[2017-10-31 12:30] #1482 closed

[2017-10-31 12:31] Urigo commented on #1486
everyone please try to new and updated [angular-compilers  package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers).
It supports:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

Please open a new issue if you encountered one.

[2017-10-31 12:31] #1486 closed

[2017-10-31 12:31] Urigo commented on #1491
everyone please try to new and updated [angular-compilers  package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers).
It supports:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

Please open a new issue if you encountered one.

[2017-10-31 12:31] #1491 closed

[2017-10-31 12:31] Urigo commented on #1496
everyone please try to new and updated [angular-compilers  package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers).
It supports:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

Please open a new issue if you encountered one.

[2017-10-31 12:31] #1496 closed

[2017-10-31 12:32] Urigo commented on #1498
Closing due to inactivity and a lot of updates to the tutorial since then.
Please reopen if you are still encountering it

[2017-10-31 12:32] #1498 closed

[2017-10-31 12:34] Urigo commented on #1499
you can check out the usage of `meteor-publish-composite` in the new version of the tutorial - https://angular-meteor.com/tutorials/whatsapp2/ionic/privacy

[2017-10-31 12:34] #1499 closed

[2017-10-31 12:34] #1503 closed

[2017-10-31 12:35] Urigo commented on #1520
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:35] #1520 closed

[2017-10-31 12:35] Urigo commented on #1531
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:35] #1531 closed

[2017-10-31 12:35] Urigo commented on #1532
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:35] #1532 closed

[2017-10-31 12:36] Urigo commented on #1533
The tutorial now uses the latest Meteor 1.6!
https://angular-meteor.com/tutorials/whatsapp2/ionic/privacy

[2017-10-31 12:36] #1533 closed

[2017-10-31 12:36] Urigo commented on #1535
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:36] #1535 closed

[2017-10-31 12:36] Urigo commented on #1536
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:36] #1536 closed

[2017-10-31 12:37] Urigo commented on #1543
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

The suggested solution right now it to use [meteor-rxjs](https://github.com/urigo/meteor-rxjs)

[2017-10-31 12:37] #1543 closed

[2017-10-31 12:38] Urigo commented on #1544
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:38] #1544 closed

[2017-10-31 12:38] Urigo commented on #1545
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:38] #1545 closed

[2017-10-31 12:39] Urigo commented on #1548
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

Please try the updated version of the tutorial

[2017-10-31 12:39] #1548 closed

[2017-10-31 12:39] Urigo commented on #1549
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

Please try the updated version of the tutorial

[2017-10-31 12:39] #1549 closed

[2017-10-31 12:40] Urigo commented on #1550
thank you @darkbasic for solving your own issues for everyone!

please check out the new version of the tutorial

[2017-10-31 12:40] #1550 closed

[2017-10-31 12:40] Urigo commented on #1551
thank you @darkbasic for solving your own issues for everyone!

please check out the new version of the tutorial

[2017-10-31 12:40] #1551 closed

[2017-10-31 12:40] Urigo commented on #1552
using renovate now

[2017-10-31 12:40] #1552 closed

[2017-10-31 12:43] Urigo commented on #1553
Check out the new examples for using lazy loading the dynamic imports here -
https://github.com/Urigo/angular-meteor/tree/master/examples/MeteorCLI

https://github.com/Urigo/angular-meteor/tree/master/examples

we've also published new [angular-compilers  package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers).
It supports:

- Typescript compilation
- As

[2017-10-31 12:43] #1553 closed

[2017-10-31 12:44] Urigo commented on #1554
@darkbasic made it work in the new tutorial!

[2017-10-31 12:44] #1554 closed

[2017-10-31 12:44] Urigo commented on #1555
the new version of the tutorial is now updated and works

[2017-10-31 12:44] #1555 closed

[2017-10-31 12:44] Urigo commented on #1556
moved to using renovate

[2017-10-31 12:44] #1556 closed

[2017-10-31 12:45] Urigo commented on #1557
moved to using renovate

[2017-10-31 12:45] #1557 closed

[2017-10-31 12:45] Urigo commented on #1558
moved to using renovate

[2017-10-31 12:45] #1558 closed

[2017-10-31 12:45] Urigo commented on #1559
Check out the new examples for using lazy loading the dynamic imports here -
https://github.com/Urigo/angular-meteor/tree/master/examples/MeteorCLI

https://github.com/Urigo/angular-meteor/tree/master/examples

we've also published new [angular-compilers  package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers).
It supports:

- Typescript compilation
- As

[2017-10-31 12:45] #1559 closed

[2017-10-31 12:50] Urigo commented on #1560
We've done a lot of updates in the last month.

we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of example

[2017-10-31 12:50] #1560 closed

[2017-10-31 12:50] Urigo commented on #1562
we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of examples with for all those features plus an example wi

[2017-10-31 12:50] #1562 closed

[2017-10-31 12:50] Urigo commented on #1563
moved to renovate

[2017-10-31 12:50] #1563 closed

[2017-10-31 12:51] Urigo commented on #1565
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:51] #1565 closed

[2017-10-31 12:51] Urigo commented on #1566
We've updated the tutorial and all looks ok.
Please open a new issue if that is not the case

[2017-10-31 12:51] #1566 closed

[2017-10-31 12:53] Urigo commented on #1576
If you are using the Meteor in a project that is compiled separately from Meteor, for example using the Angular CLI, you should use [meteor-rxjs](https://github.com/urigo/meteor-rxjs) and [meteor client bundler](https://github.com/Urigo/meteor-client-bundler).
Here is an example project: https://github.com/Urigo/angular-meteor/tree/master/examples/angularcli-meteor

[2017-10-31 12:53] #1576 closed

[2017-10-31 12:53] #1577 closed

[2017-10-31 12:54] Urigo commented on #1579
moved to using renovate

[2017-10-31 12:54] #1579 closed

[2017-10-31 12:54] Urigo commented on #1583
fixed.
if not, please open a new issue

[2017-10-31 12:54] #1583 closed

[2017-10-31 12:55] Urigo commented on #1584
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 12:55] #1584 closed

[2017-10-31 12:57] Urigo commented on #1591
fixed.
thank you for the feedback @atbe !

[2017-10-31 12:57] #1591 closed

[2017-10-31 12:57] Urigo commented on #1593
we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of examples with for all those features plus an example wi

[2017-10-31 12:57] #1593 closed

[2017-10-31 12:58] Urigo commented on #1594
we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of examples with for all those features plus an example wi

[2017-10-31 12:58] #1594 closed

[2017-10-31 12:58] Urigo commented on #1598
we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of examples with for all those features plus an example wi

[2017-10-31 12:58] #1598 closed

[2017-10-31 12:59] Urigo commented on #1599
we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of examples with for all those features plus an example wi

[2017-10-31 12:59] #1599 closed

[2017-10-31 12:59] Urigo commented on #1603
we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of examples with for all those features plus an example wi

[2017-10-31 12:59] #1603 closed

[2017-10-31 13:00] Urigo commented on #1604
annnndddd it work!
thanks to the amazing @ardatan !

we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of ex

[2017-10-31 13:00] #1604 closed

[2017-10-31 13:02] Urigo commented on #1605
we've released a new and last version update to `angular2-meteor` to support the latest Angular.

But also the prefered data solution when working with Angular is to use the [meteor-rxjs](https://github.com/urigo/meteor-rxjs) package

[2017-10-31 13:02] #1605 closed

[2017-10-31 13:02] Urigo commented on #1606
we've released a new and last version update to `angular2-meteor` to support the latest Angular.

But also the prefered data solution when working with Angular is to use the [meteor-rxjs](https://github.com/urigo/meteor-rxjs) package

[2017-10-31 13:02] #1606 closed

[2017-10-31 13:02] Urigo commented on #1609
closing due to inactivity and cleanup after tons of new updates in the recent month.
Feel free to open a new issue if you are still affected .

[2017-10-31 13:02] #1609 closed

[2017-10-31 13:03] Urigo commented on #1630
We've done a lot of updates in the last month.

we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of example

[2017-10-31 13:03] #1630 closed

[2017-10-31 13:03] Urigo commented on #1631
We've done a lot of updates in the last month.

we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of example

[2017-10-31 13:03] #1631 closed

[2017-10-31 13:04] Urigo commented on #1647
we've published new [angular-compilers package](https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers) that supports all the features the Angular CLI gives you:

- Typescript compilation
- Assets compilation (HTML, styles)
- Angular's AoT compilation
- Rollup's bundling with Tree Shaking

and added a lot of examples with for all those features plus an example wi

[2017-10-31 13:04] #1647 closed

[2017-10-31 13:35] Snesi commented on #1583
Hi! @Urigo the issue is still there. If I have enough time after work I'll send you a PR. Is that ok? The fix is quite simple so it won't take much time.

[2017-10-31 14:18] Urigo commented on #1583
@Snesi yes it would be great to get a PR for that!
thank you so much!
https://github.com/urigo/angular-meteor-docs

[2017-10-31 17:13] darkbasic commented on #1448
I have a working example here: https://github.com/darkbasic/angularcli-graphql
The client doesn't use Meteor at all, but the backend uses Meteor's oplog tailing to achieve @live queries: https://github.com/Urigo/WhatsApp-Server-GraphQL-Live-RxJS-Meteor

Right now I'm working on the next tutorial, which will use Apollo and GraphQL so stay tuned.

[2017-10-31 17:20] Urigo commented on #1590
We've released `angular2-meteor` [version 0.8.0](https://www.npmjs.com/package/angular2-meteor) to support the latest versions of Angular (4 and 5).
Thanks to [this PR](https://github.com/Urigo/angular-meteor/pull/1644) from @darkbasic .

Just a note, that we've updated this API even though we consider it a deprecated API, and you should probably slowly migrate your data solution to [meteor-rxjs](

[2017-10-31 17:20] #1590 closed

[2017-10-31 17:24] Urigo commented on #1600
is this still an issue with the latest versions?

if so, could you open a new issue with a simple example repo or a failing test?
we would get that fixed immediately!

thank you

[2017-10-31 17:24] #1600 closed

[2017-10-31 17:26] Urigo commented on #1640
@erperejildo could you create a simple example repo that reproduce that issue?

thank you

[2017-10-31 17:26] ardatan commented on #1587
We've updated Angular Meteor Compilers with a lot of changes, and practicalmeteor:mocha test driver has an old version of mocha, so zone.js cannot patch this version of mocha. You need to use ardatan:mocha package instead of practicalmeteor:mocha.
You can look at the example below;
https://github.com/Urigo/angular-meteor/tree/master/tests/angular-compilers-tests
If you still encounter this issue,

[2017-10-31 17:26] #1587 closed

[2017-10-31 17:29] Urigo commented on #1646
@abtx could you create a simple example repo?
it will be easier for me to respond on real code :)

thanks

[2017-10-31 17:29] ardatan commented on #1643
This issue is probably due to version of mocha in practicalmeteor:mocha, and you have to try ardatan:mocha which has a new version of mocha that can be patched by zone.js polyfill of Angular.
You can look at the example below;
https://github.com/Urigo/angular-meteor/tree/master/tests/angular-compilers-tests

[2017-10-31 17:30] #1643 closed

[2017-10-31 17:31] darkbasic commented on #1641
Hi, please see if https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/124#issuecomment-340248953 solves your issue.

[2017-10-31 17:31] #1641 closed

[2017-10-31 17:34] ardatan commented on #1589
ResourceLoader doesn't work in the previous versions of Angular Meteor. So you have to update Angular Meteor Compilers to latest version.
You can look at our examples at;
https://github.com/Urigo/angular-meteor/tree/master/examples
We are going to add a new tutorial for MeteorCLI. If your issue is still encountered, you can open a new issue.

[2017-10-31 17:34] #1589 closed

[2017-11-01 02:34] leonardoespinosa opened #1722 "Angular Material Latest Version Doesn't Work with angular-compilers@0.2.5"
I try use angular material latest version (2.0.0-beta.12) in my project and angular-compilers can't  import the main theming Sass file from Angular Material and include the base styles like:

[code]

All Angular Material styles not listed. I see issue #1631 and update the angular-compiler to 0.2.5 version and meteor to 1.6 version and fails again. My project use:

Meteor packages:
[code]
Angular-m

[2017-11-01 11:28] ardatan commented on #1722
You shouldn’t need to use fourseven:scss, and it may conflict angular-compilers packages.
New compiler doesn’t work like old version of Angular Meteor Compilers.
- First, remove any other meteor scss package.
- Then, import 3rd party libraries without ‘~’ like below;
‘@import ‘@angular/material/theming’;’
- Underscore and file extension shouldn’t be added in import path in SCSS ( like every SCSS )

[2017-11-01 14:35] leonardoespinosa commented on #1722
Thanks! It worked!

[2017-11-01 14:36] #1722 closed

[2017-11-02 16:46] bouchepat opened #1728 "(Windows) Package angular-compilers error "Javascript heap out of memory" with meteor 1.6, angular 4"
Hi,

I'm trying the new angular-compilers package, but can only use with meteor 1.5.2.2 (since 1.6 does not work properly on Windows), unfortunately I'm getting the following error:

Is there something I'm missing or this package cannot be used with <1.6 version?
Thanks.

[code]

[2017-11-02 17:35] bouchepat commented on #1728
I managed to install meteor 1.6 and npm install seems to work. When I run the app, this is the new error message:

[code]

[2017-11-02 19:32] choudrio opened #1731 "Error running AOT=1 meteor / Cannot read property 'getPathInPackage' of undefined"
@Urigo @ardatan @darkbasic

There is an error related to getPathInPackage when running
AOT=1 meteor using latest HEAD.
Running meteor without AOT works fine.

Using: examples/MeteorCLI/all-in-one
[code]

Accessing **http://localhost:3000/**

[code]

[2017-11-02 22:40] ardatan commented on #1728
Could you reproduce the problem?

[2017-11-03 00:22] ardatan commented on #1731
We fixed that issue. you can update your packages to 0.2.8
 If you're still encountering the issue, please let us know

[2017-11-03 00:50] choudrio commented on #1731
@ardatan Thanks for fixing this. It is working now.
It would be great to have the packages also updated on atmosphere.
Though it worked using 0.2.8 as local packages and running meteor.

[2017-11-03 00:52] ardatan commented on #1731
Sorry for that, we will update them soon.

[2017-11-03 00:52] #1731 closed

[2017-11-03 12:22] bouchepat commented on #1728
I found out the issue was due to some large json files in the private folder (used for data migration). Commenting the line where it parses out the json files solved the problem. There might be a relation with https://github.com/meteor/meteor/issues/9075 .

However, I was still not able to run the app successfully with 1.6 and the new angular-compilers package; I ran into some runtime exceptions *

[2017-11-03 21:53] ardatan commented on #1728
Actually we need more specific details about issue, like trace etc.

[2017-11-05 12:52] FriOne opened #1739 "(Windows) Error when starting clean all-in-one example"
I get `Angular SSR Error: Error: Unknown asset: importsappapp.html` when run `npm run start`.
Meteor version is 1.6
I guess this issue related to windows platform, I have windows 7 64x.
Any help to make it work?

[2017-11-05 22:09] bouchepat commented on #1728
Hello,

I've given another try and got the stack traces requested.
1.  Error: "Javascript heap out of memory":
[code]

As I mentioned in previous post, I'm importing data from json files (in private folder). When I comment the import function I do not receive the error. I think this is related to https://github.com/meteor/meteor/issues/8157.

2. Once commented, I'm getting this error:

[code]

The

[2017-11-06 00:37] ardatan commented on #1728
About the first problem, I think you have to use different ways to receive that large data, I also agree with that it is about the core of Meteor.
About the second problem, you are trying to import files in a wrong way;
[code]
So, scss files should be imported without extension, and if they are in node_modules, you should use same syntax with JS module import.
At the last one, I have still need a

[2017-11-06 00:38] ardatan commented on #1739
Could you reproduce this?

[2017-11-06 04:09] FriOne commented on #1739
@ardatan What do you mean? You can download all-in-one examples repo part and run `start` command. Well, if you have the same OS.

[2017-11-06 07:36] gjr-qm commented on #1739
Same problem here (Windows 10 64bit) with the 'universal' and 'all-in-one' examples. After a clean install of Meteor 1.6 and cloning the angular-meteor repo both examples give the error:

[code]

The 'bare' and 'lazy-loading' don't have this problem, but won't run either. On the client i get the error:
[code]

[2017-11-06 08:28] ardatan commented on #1739
Yes, we have to fix that path issue on Windows. The fix will be released in a few days.

[2017-11-06 08:34] gjr-qm commented on #1739
Cool! Great work!

[2017-11-06 09:17] iLGunners opened #1743 "Ionic Meteor Production Builds failing."
## Ionic Meteor application production build failing.
- Modules in `/home/noshu/code/ptc-gps/nexxdeli-mobile/node_modules` are being discovered
- Can't resolve meteor modules such as `meteor/meteor`
- Can't resolve 'api/collections' and others in dir `api/server/collections`

### Folder structure
![image](https://user-images.githubusercontent.com/12131543/32432877-490d930c-c303-11e7-90ac-7065e5c6a

[2017-11-06 14:37] bouchepat commented on #1728
Thanks, that did fix the issue (2). Is there anything I can do to help debugging issue 3? Was the new compiler package tested on Windows?

Thanks.

[2017-11-06 15:26] ardatan commented on #1728
Your welcome 👍  We are working on this, I think it will be released in a few days.

[2017-11-06 15:42] darkbasic commented on #1743
Hi, thanks for reporting.
It's IonicCLI related, so let's track it there: https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp/issues/113

[2017-11-06 15:42] #1743 closed

[2017-11-08 11:21] indware opened #1749 "(Windows) ERROR RangeError: Maximum call stack size exceeded at callWithDebugContext (modules.js?hash=8a8351b9e77beb33f787e9e363cce3d94bb24c59:26969)"
Please help I am getting this error, I know about Angular 2 but I am new to Meteor. Just following the instructions, haven't changed anything in the source code.

Command running: meteor
Command Output:
[[[[[ ~\E\Works\Meteor\CabBooking ]]]]]

=> Started proxy.
Compiling ES2015 modules!: 1930.691ms        \
Compiling TS Files...: 20.148ms
Compiling ES2015 modules!: 30.895ms          -
Compiling TS

[2017-11-08 13:37] ardatan commented on #1749
I think you are using the old version of compiler. Could you try to update it to make sure?
‘meteor update —all-packages —allow-incompatible-update’

[2017-11-08 18:11] indware commented on #1749
@ardatan I have used that command but I am still facing the same issue, I am on windows 10 64 bit. And in case I have install meteor just yesterday.

[2017-11-09 10:57] abtx opened #1752 "How to use a npm module in a module controller/constructor?"
I'm trying to add `dragular` which is installed via NPM and added to main.js dependencies list, no complaints.

In my controller/constructor I try using `constructor($scope, $stateParams, $reactive, dragularService)` but the browser throws me an error `TypeError: dragularService is not a function`.

How can I make this module work in my app?

[2017-11-09 11:20] abtx commented on #1752
Ok, forgot to add `dragularService` in the export module (component > controller) statement

[2017-11-09 11:20] #1752 closed

[2017-11-09 14:41] abtx opened #1753 "Scope events"
Each time I try a library with an event like `$scope.$on('dragulardrop'...` I cannot get it to work.
How to I go about using events with Angular(1.x)-Meteor?

Here's a small snippet of code:
(The function is wrapped in a timeout (as per dragular documentation) in the constructor)

[code]

[2017-11-09 14:59] abtx commented on #1646
Thanks, I solved this. Here I have a function with an insert statement that redirects the user when done:

          var state = this.$state;
          // create new trip
          Meteor.call('trips.insert', this.selectedValue.description, this.selectedValue.description,
          this.selectedValue.terms, function(error, result){
          if(error) {
              console.log(error)
          }

[2017-11-09 14:59] #1646 closed

[2017-11-10 11:13] abtx commented on #1753
I wonder whether I can have the backend update when the object I'm dropping into changes on the frontend with reactivity? Not sure how I'd do that though.

  constructor($scope, $element, $stateParams, $reactive, $sce, $timeout, dragularService) {
    'ngInject';

    $reactive(this).attach($scope);

    (...)

    this.autorun(
      function(){
        this.trip = Trips.findOne({
          '_id'

[2017-11-10 15:37] Urigo commented on #1648
closing as we haven't got new feedback.
Please reopen if you find a similar issue with the new compiler

[2017-11-10 15:37] #1648 closed

[2017-11-11 19:16] portah opened #1755 "Uncaught SyntaxError: Unexpected token import"
It is a great package I use since angular RCs. I was excited to give a try to last angular-compilers after #1599 was closed. And everything worked fine until production.  How to reproduce:

Clone boilerplate
```git clone https://github.com/Urigo/angular-meteor-base```
Add npm packages
[code]
And import
[code]
To app.modules.ts

So if I run ```meteor run``` everything works as expected, but if I do

[2017-11-11 21:30] Urigo commented on #1755
@portah does those same packages and dependencies work for you on a clean AngularCLI project?

[2017-11-12 03:43] portah commented on #1755
@Urigo Looks like it works. I did:

1.
```ng new atest```

2. added those 3 packages

3. in app.modules
[code]
4. In app.component.html, added covalent's tag <td-layout></td-layout>

5. ```ng serve``` - Browser showed the page

[2017-11-12 09:09] FriOne commented on #1739
@ardatan any update on this? Do we have a way to fix it temporary somehow?

[2017-11-12 11:35] Urigo commented on #1755
@portah but did you try the production build?
`ng build --prod`

[2017-11-12 17:29] portah commented on #1755
@Urigo yeap, sorry didn't mention, it also works with no problem.

[2017-11-13 13:37] #1753 closed

[2017-11-13 14:15] pmcochrane commented on #1722
The comment above from ardatan would be really useful documentation for the angular compilers and how to migrate your app to use the new compiler. I've just spent the last few hours trying to figure out why I had no css in my after upgrading to the new angular-compiler package.

[2017-11-13 14:46] ardatan commented on #1722
In the version of compiler, this feature will be changed a little bit. The scss files, not in imports folder, would be merged and added directly on the page (like before).
The basic documentation for all these features will be added in the following version.
Thanks for your feedback.

[2017-11-13 16:49] leonardoespinosa commented on #1755
I have the same problem when i import TranslateModule of ngx-translate in my project and run `meteor build` to create the server bundle. If i remove TranslateModule works fine.

I created a new clean Angular CLI project as recommended by @Urigo and TranslateModule of ngx-translate works fine. My problem is reported in https://stackoverflow.com/questions/47061484/build-angular-meteor-app-fails-with

[2017-11-13 23:57] pmcochrane commented on #1722
Looking forward to the next update then. Any ETA at present?

[2017-11-15 00:59] jonathanferreyra opened #1761 "production mode not working"
Hi! I have cloned the repository and tried running in production mode using `meteor --production` using the example `angular-meteor/examples/MeteorCLI/universal` and I get the following error:

[code]
The steps that I followed are:
[code]
Some idea or help? Thanks!

[2017-11-15 02:00] ardatan commented on #1761
Could you try meteor update --all-packages --allow-incompatible-update ?

[2017-11-15 15:10] arproudlock opened #1762 "service-configuration doesn't seem to be working with angular-meteor/examples/angularcli-meteor"
Hi, have managed to get most things working well with angular 4 and meteor following the angularcli-meteor example.  However I've run into a problem with service-configuration.

from /api I do `meteor add service-configuration` (along with accounts-facebook etc)
then `meteor`
and re-run the client-bundler

At this point all seems to be fine and running.  But when I try to add ServiceConfiguration.

[2017-11-15 15:22] darkbasic commented on #1762
I think it's because of missing typings. Since ServiceConfigurations it's already in the global scope you simply use `declare const ServiceConfiguration: any;` instead of the import and it will work flawlessly.

[2017-11-15 15:22] #1762 closed

[2017-11-15 15:23] jonathanferreyra commented on #1761
works great! thanks a lot!

[2017-11-15 15:25] #1761 closed

[2017-11-15 15:34] arproudlock commented on #1762
@darkbasic you're a legend, thank you.

[2017-11-15 17:50] ingleo opened #1763 "merged-stylesheets.css Not Found"
Hi everyone,

I'm getting this error when run ionic serve testing an ionic app calling the meteor-client.

![seleccion_096](https://user-images.githubusercontent.com/10843115/32851346-bd7c1d3e-ca02-11e7-888d-9cc5dc085c34.png)

It seems is related meteor css conflict with ionic css.

Any idea what could be going wrong?

[2017-11-15 19:39] darkbasic commented on #1763
Did you try to follow our tutorial?
https://angular-meteor.com/tutorials/whatsapp2/ionic/setup

[2017-11-18 21:15] suresram opened #1770 ""Bad character escape sequence" error on windows"
All the components that has template url starting with letter "u" or if the template is under a folder whose name start with letter "u"  results in the compilation error ""Bad character escape sequence" error on windows"

Example - Folder "user" which has a component "user-account.component"

@Component({
    templateUrl: 'user-account.component.html'
})

[2017-11-21 23:20] leonardoespinosa commented on #1755
I found the problem. When I import the module ngx-translate in my project, in the server bundle there is the file bundle/programs/server/packages/modules.js where it inserts the ngx-translate code in the following way:

[code]

The imports in `bundle/programs/server/npm/node_modules/@ngx-translate/core/src` they are in the same way.

The problem is Node doesnt support yet is6 imports ( [here you h

[2017-11-22 03:23] ardatan commented on #1755
Actually this is ngx problem, because they have to make a bundle for commonjs like other Angular libraries, but some libraries AGM, covalent, ionic doesn’t support commonjs, so we will use rollup to solve that problem.
This happens in production mode, because of AOT.
For workaround, you can disable AOT with env variable AOT=0 until the new release.

[2017-11-22 03:26] ardatan commented on #1749
Can you reproduce the issue?

[2017-11-22 15:36] mjwheatley commented on #1755
@ardatan is this what you are suggesting?
[code]
I'm still getting the same error running production mode with that environment variable.

[2017-11-22 17:22] ardatan commented on #1755
Or just AOT=0 meteor run —production

[2017-11-22 18:28] mjwheatley commented on #1755
I had also tried that and it did not work either.  I also built the project, set the required environment variables and ran `node main.js`. And this also did not work.
Meteor v1.6

Do I need to try a more recent version?

[2017-11-22 18:40] GuofuHuang opened #1773 "Test error"
When I try to run test folder, it gives me errors in the client, and the application is crashing in the server, need to fix.

[2017-11-22 22:00] ardatan commented on #1755
I see, but actually this is the problem of covalent, because they don’t have commonjs build which is only supported method by Meteor. In the next release, we’ll fix this issue by rollup bundling option(es2015 to commonjs).
Until then, you can open an issue to covalent repo for commonjs/umd problem in AOT build.
You can check this out;
https://github.com/ngx-translate/core/issues/724#issuecomment-3

[2017-11-22 22:05] ardatan commented on #1755
It is really hard to provide es2015 module support for Meteor, but we can mostly handle it by rollup which will be available in next release, but I strongly recommend you to keep track to the issue in ngx.

[2017-11-23 16:12] weini01 opened #1776 "Import global scss files"
Hi everybody,

I just tried out the new angular-compiler but my global scss files doesn´t work anymore.
Is this a bug or is there any solution to get my global scss files to work.
And how do you import external scss files from npm like bootstrap.scss?

[2017-11-23 18:16] pmcochrane commented on #1776
I had to create a file that imported all my scss files. Then I had to update app.component to tell it to use it. There is no documentation for this but it is mentioned deep in a github response

e.g for the import scss file:
[code]

App.Component.ts:
[code]
Hope that helps

[2017-11-23 21:03] abcluis opened #1777 "New base doesn't work and examples tutorials either"
I have been working in a project with meteor but i want to create a new project with this base https://github.com/Urigo/angular-meteor-base but seem doesn't work
![image](https://user-images.githubusercontent.com/17711741/33188339-60ac485e-d056-11e7-8511-ee6eb473eb5a.png)

Tested in windows 10
This is the server console
![image](https://user-images.githubusercontent.com/17711741/33188374-9e9f7032-

[2017-11-24 14:13] pmcochrane commented on #1728
I am encountering a similar error for javascript heap out of memory. It's happening when trying to bundle up the meteor app. App is working normally in develop mode and I had it compiling the bundle the other day but it's failing now for an unknown reason. Not really sure where to start but here is the error message produced.

`- Building the ReTIS node app for port 8400...
| (#1) Profiling: Proje

[2017-11-24 14:22] pmcochrane commented on #1728
For info, I have got my app to bundle by raising the global node memory for meteor. Whilst this works, there is probably still something that needs tweaked in the compilers

export NODE_OPTIONS="--max_old_space_size=4096"

[2017-11-24 18:48] weini01 commented on #1776
@pmcochrane Thank you for your answer. I missed the encapsulation tag.
Now i have another problem. If I write Component Template or Styles like this.

[code]

I got the following Html output in the Browser

[code]

The double slashes are shown in the browser output and also the generated inline style in the html has double slashes like this.

[code]

templates and styles with templateUrl and style

[2017-11-24 19:01] ardatan commented on #1776
@weini01 try changing target option in tsconfig.json to ‘es5’

[2017-11-24 19:02] ardatan commented on #1773
Could you give more details? Which OS-enviroment and how are you trying to run tests?

[2017-11-24 21:45] leonardoespinosa commented on #1755
@mjwheatley ngx-translate works with release [9.0.0](https://github.com/ngx-translate/core/releases/tag/v9.0.0) and the problem is solved. How @ardatan comments, the modules have to make a bundle for commonjs (isn't angular-meteor problem). But I found the same problem `Uncaught SyntaxError: Unexpected token import` with other npm modules. Some modules fix the problem with issues and others module

[2017-11-25 04:20] ardatan commented on #1755
Thank you for your cooperation. Even though the issue is not related to this package, you will be able to use `rollup` option to transpile es2015 to commonjs in next release.

[2017-11-25 04:20] #1755 closed

[2017-11-25 15:03] ardatan commented on #1728
It is due to js minifier, so if you disable it, increase the memory or use different minifier, it should work.
It is not `angular-meteor` bug.
https://github.com/meteor/meteor/issues/9075

[2017-11-25 15:03] #1728 closed

[2017-11-25 18:11] mjwheatley commented on #1755
@leonardoespinosa Thanks for the write up.  I might have to give that a try.  I just tried the latest version of ngx-translate (v9.0.1), but unfortunately I am getting a different error this time and it is still not working in production mode.

[2017-11-25 20:06] leonardoespinosa commented on #1755
@mjwheatley what is the error?

[2017-11-26 00:48] mjwheatley commented on #1755
Now I am getting `ERROR TypeError: e is not a function`. I removed the `standard-minifier-js` meteor package and the error is `ERROR TypeError: factory is not a function`.
[code]
On this line `console.error.apply(console, values);` in the following method.
[code]
Any ideas?

Here are my package versions after updating:
[code]

[2017-11-26 21:31] leonardoespinosa commented on #1755
The error `ERROR TypeError: e is not a function` is not caused by ngx-translate/core, is caused by ngx-translate/http-loader. In your app.module check

`TranslateModule.forRoot({
      loader: {
        provide: TranslateLoader,
        useFactory: (createTranslateLoader),
        deps: [HttpClient]
      }
    })`

and replace with `TranslateModule.forRoot({})` (without TranslateLoader). Run your

[2017-11-27 12:13] maxfriedmann commented on #1770
How annoying is that bug 😄

The workaround that helped me was to just save the relative template path as constant string.

Change
[code]
to
[code]

[2017-11-27 15:29] staeke opened #1781 "Release with angular 5 support"
### When reporting a bug, please be sure to include the following:
- [X] A descriptive title
- [ ] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the problem)
- [ ] What version of `angular-meteor` you're using, and the platform(s) you're running it on
- [ ] What packages or other dependencies you're using
-

[2017-11-27 16:21] maxfriedmann commented on #1749
@indware : Can you try to replace AppComponent with

[code]
... so no templateURL and instead an inner template? That solved the problem for me.

I get the feeling it might be related to https://github.com/Urigo/angular-meteor/issues/1770 since again changing the templateUrl fixed the problem?

[2017-11-27 16:27] mjwheatley commented on #1755
It does in fact run in production mode successfully using only `TranslateModule.forRoot()`.

Would it help if `@ngx-translate/http-loader` was updated in the same way that that `@ngx-translate/core` was to support CommonJs?

[2017-11-27 16:45] mjwheatley commented on #1755
I changed `useFactory: (createTranslateLoader)` to `useFactory: createTranslateLoader`, removing the parenthesis around `createTranslateLoader` and it works now.

[2017-11-27 17:01] leonardoespinosa commented on #1755
Great!

[2017-11-27 18:37] Urigo commented on #1781
Do you mean for the Angular CLI + Meteor client bundler or the Meteor CLI?

[2017-11-27 18:51] ardatan commented on #1777
It is the path problem on Windows. We've fixed it now, you can check the new examples. Also we've updated `angular-meteor-base`, please re-open if you still have this problem.

[2017-11-27 18:51] #1777 closed

[2017-11-27 18:54] ardatan commented on #1770
We've updated `angular-compilers` and examples. This path issue on Windows has been fixed. You can update the packages:
`meteor update --all-packages`
And if you are still facing this problem, you can open a new issue.

[2017-11-27 18:54] #1770 closed

[2017-11-27 18:54] ardatan commented on #1749
We've updated angular-compilers and examples. This path issue on Windows has been fixed. You can update the packages:
meteor update --all-packages
And if you are still facing this problem, you can open a new issue.

[2017-11-27 18:54] #1749 closed

[2017-11-27 18:54] ardatan commented on #1739
We've updated angular-compilers and examples. This path issue on Windows has been fixed. You can update the packages:
meteor update --all-packages
And if you are still facing this problem, you can open a new issue.

[2017-11-27 18:54] #1739 closed

[2017-11-27 19:16] Urigo commented on #1776
we've just released the new `angular-compilers@0.2.9` which suppose to solve this problem.

Please let us know if that is not the case

[2017-11-27 19:16] Urigo commented on #1728
we've just released the new `angular-compilers@0.2.9` which suppose to solve this problem.

Please let us know if that is not the case

[2017-11-27 19:20] ardatan commented on #1755
We've released new version of `angular-compilers` which allows you to use es6 imports in MeteorCLI by using Rollup. `ROLLUP=1`
You can check the new introduction for that.
However, we recommend to open a PR to covalent for CommonJS bundle.

[2017-11-27 19:22] ardatan commented on #1755
a

[2017-11-28 14:00] maxfriedmann opened #1789 "packages/angular-typescript-compiler/index.js:204:7: Cannot set property 'module'"
I updated angular-compilers from v0.2.8_1 v0.2.9 due to #1777 and #1749. I also added the new NPM dependencies as mentioned during rebuild (typescript + angular/compiler-cli).

Now meteor builds with the following error:
[code]

Unsetting the environment variable `ROLLUP` solves the issue. Using the tsconfig.json from the bare example also solved the problem.

Meteor 1.6, Windows 10 x64

[2017-11-28 14:04] maxfriedmann opened #1790 "npm link'ed packages are get compiled by angular-typescript-compiler"
Even though my tsconfig.json looks like this (copied from bare example)

[code]
the angular-typescript-compiler scans packages that were linked via `npm link`.

This results to errors like
[code]

[2017-11-28 15:31] ardatan commented on #1790
Fixed in new version;
`meteor update --all-packages`

[2017-11-28 15:31] #1790 closed

[2017-11-28 15:31] ardatan commented on #1789
If rollup is activated, compiler tries to force module type to 'es2015'. When there is no module type definition, it fails.
Fixed in new version;
`meteor update --all-packages`

[2017-11-28 15:31] #1789 closed

[2017-11-29 00:04] ardatan commented on #1773
Now we’ve released new version of compilers, and tests were moved to bare example.
If you’re facing this issue, please let me know.

[2017-11-29 00:04] #1773 closed

[2017-11-29 15:56] mjwheatley opened #1792 "Ionic v3.9.2 MenuController not working in production mode"
Reproduction repository https://github.com/mjwheatley/ionic2-meteor-boilerplate
Please review the README for installation details.

It is a MeteorJS app using the `ionic-angular` node module.
The application runs without issue in development mode, but presents an error with the MenuController in production.

Error:
[code]

Please refer to corresponding issue raised on the ionic repository https://

[2017-11-29 17:59] mjwheatley commented on #1792
Solution:
Find all `from 'ionic-angular'` replace with `from 'ionic-angular/es2015'`

Example `app.module.ts`:
Before
[code]
After
[code]

[2017-11-29 17:59] #1792 closed

[2017-11-30 15:00] weini01 commented on #1776
@Urigo just updated to the new angular-compiler@0.2.9.2 but the es5 -> es2015 issue doesn´t work. In the new Version (from 0.2.8.0 to 0.2.9.2) i also got a lot of warnings /errors.

I just pasted some of them:
[code]

seems like my tsconfig file doesn´t work correctly anymore...

[2017-11-30 18:24] ardatan commented on #1776
Could I see your tsconfig and package.json?

[2017-11-30 19:23] weini01 commented on #1776
this is my tsconfig:
[code]
and this are the dependencies in my package.json:

[code]

[2017-11-30 21:39] ardatan commented on #1776
Are you using MeteorCLI or AngularCLI for client bundling?

[2017-12-01 05:44] weini01 commented on #1776
First i used MeteorCLI with angular2-compiler then AngularCLI and now i switched back to MeteorCLI with angular-compiler. For the mobile App I‘m using IonicCLI.

[2017-12-01 05:49] ardatan commented on #1776
I think you have to clean your project first, there are many packages there(even old meteor-typings, angular2-meteor etc) MeteorCLI can build a mobile app, too.
So, I recommend you to create a fresh project by using our new examples.

[2017-12-04 02:57] Slavrix commented on #1776
I'm also seeing this issue. I was using the 0.2.9 versions but have now rolled back to 2.8 as the tsconfig seemed to be being ignored. and i had many amny many warnings from node_modules packages even though i have it in my excludes in the tsconfig.

Another thing i found that i dont know is related to any changes or not, is that it is unable to build node_modules that use the `@import "~/<module>

[2017-12-04 18:44] weini01 commented on #1776
I cleaned my project and now I have less warnings, but there are still "Cannot find module 'meteor/..." warnings. Seems like it couldn´t import Meteor Modules. And the compiler also tries to compile node_modules packages as @Slavrix said. In the 0.2.8 Version of angular-compilers it worked without warnings. I will now try to roll back to 0.2.8...

[2017-12-04 19:02] ardatan commented on #1776
@Slavrix
If the compiler doesn't ignore your files, es2015 modules won't work; because they have to be transpiled into commonjs/es5 syntax. So, this is a known thing, not a bug. In previous version, logger didn't work well, so this is not about the previous version's better stability.
For the 2nd thing, as you can see in documentation, we have already showed how external modules should be imported

[2017-12-04 23:49] Slavrix commented on #1776
@ardatan apologies I don't think I explained the second point well.

I have imported as that example you linked shows, however, one of my imports (from node_modules) has a node_modules import within it also (it imports some bootstrap files) it's that 2nd layer of imports that there are issues with.

When I manually went through and changed the first package to remove the '~' it imported correctly.

[2017-12-05 01:04] leonardoespinosa commented on #1776
Hi @weini01, if you still problem with your html result (// everywhere), create a new file with extension .html for your component, insert the code and refer that in your angular component. Like this:

hello.component.html
`<h1>Hello World</h1>`

hello.component.ts
[code]

I hope help you. Regards!

[2017-12-05 02:29] ardatan commented on #1776
@leonardoespinosa or it is better to change target version to es5 in tsconfig file

[2017-12-05 18:57] Kwizach opened #1801 "Angular5: Can't import i18n locale files with A5 new methodology"
With Angular 5 there is a new methodology to import locale files to use with pipe (date, number...).
Doc: [https://angular.io/guide/i18n#i18n-pipes](https://angular.io/guide/i18n#i18n-pipes)
So now you need to import the locale you want to use and add it to your app.module.ts:

[code]
When I do that I get a ``` Uncaught SyntaxError: Unexpected token export``` in my browser console
Following the li

[2017-12-06 03:13] Slavrix commented on #1509
Did anyone ever end up getting the admin page to work with meteor?

[2017-12-07 11:11] iperevozchikov opened #1807 "Wrong IS_AOT calculation"
Hi! Currently angular-compilers have a bug with wrong calculation of IS_AOT variable in angular-html-compiler and angular-scss-compiler packages:
[code]
Its fail if we want build our app without needing of AOT compilation (AOT=0), because !!'0' === true.
So, please just add condition from angular-typescript-compiler, its seems as right:
[code]

[2017-12-09 13:54] Urigo commented on #1801
can you try the new `angular-compilers` package instead of `angular2-compilers`?

[2017-12-10 13:45] sosnet commented on #1460
Looks like my previous config isn't working anymore. The app just ignores whatever I set in the index.html. What's the right place to put the config to? Thanks

[2017-12-10 21:56] mbtechnologyil opened #1825 "npm ERR! when installing angular2-compilers"
i was following the tutrials
https://angular-meteor.com/tutorials/whatsapp2/meteor/setup

and when i tried to install angular2-compilers i got this error:

C:\Users\hersh\AppData\Local\.meteor\packages\meteor-tool\1.6.0_1\mt-os.windows.x86_64\dev_bundle
gyp verb found first Solution file build/binding.sln
gyp verb could not find "msbuild.exe" in PATH - finding location in registry
gyp info spawn C

[2017-12-10 22:13] ardatan commented on #1825
Please try angular-compilers

[2017-12-10 22:13] #1825 closed

[2017-12-11 02:35] mbtechnologyil opened #1827 "Uncaught Error: Cannot find module '/client/imports/app/app.module.ngfactory'"
This is super frustrating, i am trying for a week already to make it work, i am getting this error in the browser after "meteor run":
Uncaught Error: Cannot find module '/client/imports/app/app.module.ngfactory'
my code is 1-1 same as in the example:
https://github.com/Urigo/angular-meteor/tree/master/examples/MeteorCLI
Any of them.. if wonder if anyone was able to make ANY of the examples work be

[2017-12-11 09:25] ardatan commented on #1827
It is really interesting if you are getting this error in all-in-one and universal ones. Then, other weird thing is how you get this error in JIT mode.
Which example are you trying to run?

[2017-12-11 11:17] mbtechnologyil commented on #1827
in all of them actually, i didnt quite figured it out every time i  delete my project and doing clone again i get either this error or the browser get stuck with "javascript max stack exceed" error which blows up my pc
i am working on Windows 10

[2017-12-11 12:29] hershko765 commented on #1827
also i forgot to mention that i am getting this error with --production flag only

[2017-12-11 14:33] ardatan commented on #1827
I wonder if you have ever tried to run it on other OS except Windows.
Could you please try ‘meteor update —all-packages’?

[2017-12-11 14:34] #1776 closed

[2017-12-11 22:46] hershko765 commented on #1827
ok it did updated lots of packages plus browser doesnt freeze anymore, but the main error still persists:
**Uncaught Error: Cannot find module '/client/imports/app/app.module.ngfactory'**

but now after running "meteor --production" it also says this:
C:/Users/hersh/projects/angular-meteor/imports/app/app.module.ngfactory.ts (77, 83): Property 'ɵ0' does not exist on type 'typeof "C:/Users/hersh/pr

[2017-12-12 01:42] ardatan commented on #1827
Could you please downgrade your typescript version ‘2.4.2’ by running?
‘meteor npm uninstall typescript —save-dev’
‘meteor npm install typescript@2.4.2 —save’

[2017-12-12 07:10] hershko765 commented on #1827
didnt worked, thats my current package.json:

{
  "name": "angular-meteor-universal",
  "private": true,
  "scripts": {
    "start": "meteor run"
  },
  "dependencies": {
    "@angular/animations": "^5.0.0",
    "@angular/common": "^5.0.0",
    "@angular/compiler": "^5.0.0",
    "@angular/core": "^5.0.0",
    "@angular/forms": "^5.0.0",
    "@angular/http": "^5.0.0",
    "@angular/platform-browser

[2017-12-12 13:44] Kwizach commented on #1801
Thank you for your reply (and all your work)

I didn't knew about angular-compilers and was still using angular2-compilers from the old days.
So I have migrate my code to use angular-compilers instead of angular2-compilers... everything works great until I try to import that file

<img width="1276" alt="image" src="https://user-images.githubusercontent.com/34282629/33887554-64e9aa62-df4a-11e7-9bf9

[2017-12-12 15:33] papinaser opened #1834 "Accounts-Password Package"
Hi
I added Accounts-Password Package to meteor API folder and I write a method that calls Account.CreateUser() and I used this method in angular comonent , but when I run ng serve command in I have an  error  Cannot find name 'Accounts'. Please help me.

[2017-12-12 16:57] hershko765 commented on #1827
UPDATE:
i tried to set it up on ubuntu VM, took me 10 minutes to make it work + uploading to galaxy working version.

so not sure if it was obvious already but its windows issue, it wont matter to me much since i will work on docker linux container, but its still weird issue that i wish i could resolve

[2017-12-14 15:42] kami97118 opened #1838 "Deploy an angularcli-meteor project on Galaxy"
Hi,
Would it be possible to have the guidelines to deploy an angularcli-meteor project on Galaxy?
(https://github.com/Urigo/angular-meteor/tree/master/examples/angularcli-meteor)
 The meteor project itself is inside the "api" folder, how to deploy the whole project using the conventional meteor deploy command?

[2017-12-14 16:51] weini01 opened #1839 "AOT doesn´t find relative tsconfig paths"
While compiling with AOT=1 i get the following error:

`Error encountered resolving symbol values statically. Could not resolve shared/shared.module relative to .../common.module.ts`

in my tsconfig file i have "shared" in my paths. It works fine with JIT compilation but AOT fails.

Is this a bug or a not implemented feature or is there a solution without replacing everything with absolute paths?

[2017-12-14 17:13] pmcochrane opened #1840 "Custom typings not in an npm package"
I'm having issues with typings using the latest compiler packages with the meteor cli. App is working correctly although compiler warnings are displayed on any change. Directly running tslint does not display any warnings.

It flatly refuses to include any typings that are not in an npm package. I've tried a million things but cannot get rid of the warnings. This worked without warnings in v0.2.8_

[2017-12-14 17:16] ardatan commented on #1839
Could you reproduce a repo?

[2017-12-14 17:19] ardatan commented on #1840
This is an issue, we will investigate this. Until bugfix, you can make this typings into your main.ts files, without using .d.ts.

[2017-12-15 08:44] weini01 commented on #1839
@ardatan I created a repository with your all-in-one code and added a new SharedModule with a SharedService in the imports/app/shared folder. Then I created a paths entry in tsconfig and connected "shared/*" with "./imports/app/shared/*".
JIT Compilation works but AOT couldn´t resolve the relative path to shared.

https://github.com/weini01/angular-meteor-all-in-one-shared-bug

At least i want to

[2017-12-15 09:35] pmcochrane commented on #1840
Thanks for your reply and help with the new compiler. It'll be worth it in the end but it's been a bit of a bug ridden upgrade so far for me. Hopefully there is light at the end of the tunnel for you and thanks for your efforts.

[2017-12-15 10:15] pmcochrane commented on #1840
Didn't realise I closed it by mistake Sorry

[2017-12-18 13:03] roeehershko opened #1843 "Cannot find module 'meteor/accounts-base'"
i have been using the meteorCLI example:
https://github.com/Urigo/angular-meteor/tree/master/examples/MeteorCLI/all-in-one
i added "accounts-password" package.
it seems that its working and all are OK but i am getting this error in the  output of the "meteor" command on every restart:
[code]
imports/app/app.component.ts (4, 24): Cannot find module 'meteor/accounts-base'.

The server is still runni

[2017-12-18 13:06] ardatan commented on #1843
You shouldn't need to import accounts-base, so it is not an issue of the package;just typings are missing for that module.

[2017-12-18 13:06] #1843 closed

[2017-12-18 13:15] roeehershko commented on #1843
oh i see, so "Accounts.createUser()" should be called from server only?

[2017-12-18 13:16] ardatan commented on #1843
just check out meteor docs
https://docs.meteor.com/api/accounts.html

[2017-12-20 13:18] weini01 commented on #1839
@ardatan Did you have time to look at this problem? Is there a fix i can do in the meantime?

[2017-12-21 13:29] weini01 commented on #1839
I temporary fixed it by removing the paths entry in tsconfig and setting every import relative to the importing files. It seems that if the path in tsconfig redirects to the same subdirectory where the importing file is in then it doesn´t work if the file is in an other subdir then it works.

[2017-12-26 19:26] gustawdaniel commented on #1469
Try:

    meteor remove static-html

and install proper html processor like blaze, react or angular...

[2017-12-30 10:56] mattiLeBlanc opened #1848 "sass extention not supported"
I am using Angular Material with a custom theme.
File is in the .scss format, however, I like to write in SASS style.
However,
using the `angular2-compilers` `barbatus:typescript` ,I am getting issues when importing SCSS files into SASS files.

Then I tried `angular-compilers` instead of the other 2 and I notice I am getting typing errors of packages like
[code]

Also, It does seem to ignore SASS

[2017-12-30 11:59] alkaj opened #1849 "Module 'angular-meteor' is not available!"
Hello here, I am running into an issue with this package,

in fact, I am trying to use **Meteor 1.6.0.1 with node v8.9.3 and npm 5.5.1** over a project that runs well with **Meteor 1.4.2 node v6.6.0 and npm 3.10.3** the project compiles well and there is no complain from the meteor side but when I browse it, nothing but a blank page with the console output below:

`Uncaught Error: [$injector:nomod

[2017-12-30 12:29] #1849 closed

[2017-12-30 17:25] bouchepat commented on #1840
I'm having the same issue. App runs fine but the custom types are not picked up.

**Kudo** on the new compiler, the app compiles and runs much faster.

Looking forward to the fix for this issue.

[2017-12-31 17:27] ardatan commented on #1840
Could you try to remove .d extension from definition files?

[2017-12-31 17:29] ardatan commented on #1848
Importing sass files is described in here:
https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers

Could you try to use `@types/meteor` instead of meteor-typings?

[2018-01-01 03:02] mattiLeBlanc commented on #1848
Hi, first of all thanks for your help!

I apparently had @types/meteor (older version) and meteor-typings (which I removed).
It seems to compile pretty, good. However I a running into 2 issues:

1)
my imports of meteor packages can't be resolved, mainly `meteor/account-base` and `meteor/meteor`.
I guess since they are not NPM packages VSCODE doesn;t know where to look for them. Does thsi require a

[2018-01-01 06:31] ardatan commented on #1848
Could you install tslib by
‘meteor npm install tslib —save’ ?
31 Ara 2017 Paz, saat 22:02 tarihinde Matti LeBlanc <
notifications@github.com> şunu yazdı:

[2018-01-01 06:32] ardatan commented on #1848
Could you install tslib by ‘meteor npm install tslib —save’?

[2018-01-01 06:37] mattiLeBlanc commented on #1848
I am still getting the `decorate` issue after installing tslib.

[2018-01-01 07:35] mattiLeBlanc commented on #1848
okay, I created a new clean meteor app, adding angular5 to it and following the instructions on the angular-meteor page.
I am still getting the decorate error.
Checkout out:
https://github.com/mattiLeBlanc/angular5

Hope you can see what I am doing wrong.

[2018-01-01 16:07] ardatan commented on #1848
You have to use same settings with tsconfig in MeteorCLI examples.

[2018-01-01 16:07] #1848 closed

[2018-01-01 22:45] mattiLeBlanc commented on #1848
@ardatan  can you point me to the example you are referring to?
That is one of my issues...I find so many conflicting examples if I start from the meteor site. The Whatsapp clone is a mix of old and new stuff, it's very confusing.
I am so used to Angular CLI now where the whole setup is taken care of and everything just works.
I hope to finally find out what would be a good boilerplate to start wi

[2018-01-02 17:08] bouchepat commented on #1840
Great, thank you, removing the .d extension fixed the issue.
Will there be a fix in future releases, so we can re-add the .d extension?

[2018-01-02 18:03] pedrofg opened #1850 "Windows 10 can't run angular2-compilers with meteor 1.6. Node-sass http 404"
![image](https://user-images.githubusercontent.com/8161635/34494048-9263c072-efbc-11e7-8885-274216819622.png)

Working on Windows 10.
Meteor version 1.6.0.1
Meteor node version 8.9.3

Getting this error after updating the meteor version from 1.5 to 1.6 in the project.
Looks like this package angular2-compilers@0.6.6 tries to download this node-sass version which is not in the repository.

Have any

[2018-01-02 19:01] ardatan commented on #1850
Please use angular-compilers which is the new name of the package.

[2018-01-02 19:01] #1850 closed

[2018-01-02 19:02] ardatan commented on #1840
I hope so. We’re working on it. There is a lot of reason to have that restriction.

[2018-01-02 19:02] #1840 closed

[2018-01-02 20:46] pedrofg commented on #1850
If i remove angular2-compilers and add the angular-compilers i have a lot of different errors, i believe that to change it, it is not simply just remove one and add another.

This error does not happen on Linux.

[2018-01-02 21:23] ardatan commented on #1850
Could you share new errors, so we can help you better?

[2018-01-02 22:03] bouchepat opened #1851 "Lazy loading: Unexpected token <"
I updated all the lazy loading modules as per repo example:
[code]
 But I'm getting this error, when run locally:

[code]
---
Previously, I lazy loaded my modules with the arrow function, but it throws an error when building app for deployment to server (i believe this is related to AOT):
[code]
[code]
Any ideas on how I could fix this?
Thanks.

[2018-01-02 22:28] ardatan commented on #1851
Could you try to use similar file structure with our examples, because MeteorCLI cannot detect source files in different variations somehow. I think it is not related to compiler, because it doesn’t work like webpack or other bundlers.

[2018-01-03 06:00] mattiLeBlanc commented on #1848
@ardatan  okay. I  assume you meant these: https://github.com/Urigo/angular-meteor/tree/master/examples/angularcli-meteor

Looks like this was a fine puzzle to get it to work :(

[2018-01-03 06:14] mattiLeBlanc commented on #1848
okay, I resolved it.
I added
`importHelpers: true` to my tsconfig.

And then I added
`import 'zone.js/dist/zone';` to my main.ts.

Now it is working.

I have updated the repo.

[2018-01-03 10:36] WouterVanVegchel commented on #1801
Your solution seems to be a work around :)
I have the same issue (for another locale though).
So here is my logging:
    System.err:
    System.err: Error calling module function
    System.err:
    System.err: Error calling module function
    System.err:
    System.err: Cannot compile
    /data/data/XXXX/files/app/tns_modules/@angular/common/locales/nl.js
    System.err:
    System.err: SyntaxEr

[2018-01-03 17:15] bouchepat commented on #1851
Changing the structure of the app at this stage is not yet an option.  I noticed the polyfills in the examples,
especially:

[code]
Once I added this, the lazy loading start to work as expected as long as the path were defined relatively.
Maybe this should be added in the documentation somewhere...

[2018-01-03 21:31] bouchepat opened #1852 "DEPLOY - Multiple errors, meteor build on windows all-in-one project"
I've been trying to create a build on windows for a deployment on linux. Since I was not able to get it to work with my app I used the all-in-one project included in this repo. This is what I run:
[code]
This is what I get:
[code]
However, even with the error a bundle is created in:

all-in-one/.meteor/local/build_tar/bundle

but not where it is supposed to.

When I delete the build_tar folder and

[2018-01-03 21:44] #1851 closed

[2018-01-04 17:42] bouchepat commented on #1852
So even with all the errors mentioned in previous comment, I managed to get a tarball for my app, I deployed it on a linux environment with nginx/passenger. Unfortunately I'm getting
[code]
in the dev tool chrome. I'm guessing the errors generated during the build are the cause of this.

[2018-01-05 15:56] bouchepat commented on #1852
Anybody able to deploy any of the examples, tried manually and with mup but no luck.

[2018-01-06 02:19] choudrio opened #1855 "Incompatible with Meteor 1.6.1-rc.1 due to babel-compiler upgrade"
Hi @Urigo and @ardatan
recently Meteor 1.6.1 was upgraded to use babel-compiler 7.0.0 which breaks angular-meteor compatibility.

An example is to upgrade the examples/MeteorCLI/all-in-one and run it with an updated Meteor.

Running AOT=1 meteor using Meteor 1.6.0.1 works.

Error with 1.6.1:
examples/MeteorCLI/all-in-one

meteor update --release 1.6.1-rc.1
=> Errors while initializing project:

Wh

[2018-01-07 03:35] mattiLeBlanc opened #1857 "Possible to add Stylus and Sass examples?"
Hi,

Thanks for your effort so far in setting up this great package.

I was wondering if Stylus and or Sass can also be supported.
I tried adding 'stylus' npm myself and run the render function but it doesn't seem to return CSS but rather creates a CSS file.
If I add the styles package to meteor, I can't create component stylus files because I think everything ends up in merged_stylesheets.

Is th

[2018-01-13 10:46] michaelb-01 commented on #1499
I'm trying to use the reywood:publish-composite package and i'm getting the following error:

`Property publishComposite does not exist on type 'typeof Meteor'`

I've followed the tutorial so i'm not sure where I went wrong..

My tsconfig.json is:

[code]

and my meteor packages file:

[code]

[2018-01-13 12:52] impcyber commented on #1499
@michaelb-01 Id ont know how to do this right, but this work for me:
`Meteor['publishComposite']('chats', function(): PublishCompositeConfig<Entity> {`

[2018-01-13 22:59] greatGregLiu commented on #1855
I met same problem.

[2018-01-16 08:46] Slavrix commented on #1761
[code]

I'm getting the same error, and I have tried the update, I'm running the latest versions of all the packages I currently have installed.

Is there a way to check which package is causing this?

[code]

[2018-01-16 11:06] hershko765 commented on #1857
Which xli are you using?
For angular cli, i created new app with ng new style=scss
Then i ejected it with bg eject and copy-paste diffs in the webpack xonfig file

If you use meteor cli, stop using it its fucking slow and usless

[2018-01-16 23:45] ardatan commented on #1499
Meteor.publishComposite is deprecated, you can see the current usage of publishComposite in the examples in README of the package
https://github.com/englue/meteor-publish-composite/blob/master/README.md

[2018-01-16 23:48] ardatan commented on #1838
Galaxy can only host Meteor project that was created by MeteorCLI, so you can only deploy Meteor part of your project to Galaxy.

[2018-01-16 23:48] #1838 closed

[2018-01-17 00:33] mattiLeBlanc commented on #1857
I am using Meteor CLI, yes. I saw that there is also a NG CLI version of Angular-Meteor.
You recommend using that one?

Urigo wrote down a whole set of instructions how to run Meteor only on the server side and have NG  CLI on the front.
Is that the way to go?

I love NG CLI, I use it a lot and I just came back to rewrite an old Angular 1.6 Meteor app to Angular 5 so I started running into issues

[2018-01-17 09:03] hershko765 commented on #1857
Meteor is cool framework that does stuff that no one do, but that comes with price of marriage to them and there components which are super slow and doesnt work alot of tine, dont break your head on meteor cli, urigo did wonderfull think when he developed the meteor client bundler, you should try the angular cli its super fast at compiling with webpack.

[2018-01-17 22:41] mattiLeBlanc commented on #1857
@hershko765  okay. So just to be clear do you suggest using Urigo's solution (https://github.com/Urigo/angular-meteor/tree/master/examples/angularcli-meteor) or do you another template?

[2018-01-20 00:47] mattiLeBlanc commented on #1857
@hershko765 I followed the angularcli-meteor instructions. This is freakin amazing.
@darkbasic Great tutorial about using ng-cli and meteor.
Can you add a section about how to host this maybe? Do we have to 'demeteorize' or can we just put the build within a nodejs server?

[2018-01-20 08:19] buymybm100 opened #1873 "MeteorCLI example "all-in-one" / Doesn't work in --production mode"
Hi,
The "all-in-one" example runs perfectly in non-production mode.  ie. $ meteor run
But, it is throwing up error messages in --production mode (See below)
The App starts but it doesn't work when you try to add a new 'todo' item.

Is it because the 'Assets' in /server/main.ts is not imported ?

From Meteor docs :

.
ref: https://docs.meteor.com/api/assets.html

**METEOR@1.6.0.1**

$ meteor run --

[2018-01-21 17:38] buymybm100 commented on #1873
Closing this issue. Could have been a problem with my environment.
Fixed  it by

1. updated my **npm** to the latest version
2. export AOT=1
3. $ meteor run --production

Works now.

[2018-01-21 17:38] #1873 closed

[2018-01-29 03:35] Slavrix commented on #1855
Meteor 1.6.1 is now released, hoping there will be an update soon.

[2018-01-29 16:38] leosco opened #1878 "angular-templates not parsing html properly with Meteor 1.6.1, maybe due to babel-complier incompatibilities?"
After upgrading to Meteor 1.6.1 on `angular-templates` 1.0.3, I get the following error at startup.
[code]
https://blog.meteor.com/announcing-meteor-1-6-1-50aad71da4e6
See the blog post above, it details a breaking change with `babel-compiler` that would break any Atmosphere package that didn't update it's version constraints for usage of the package.

Not sure if that's the issue here, but everyt

[2018-01-30 07:46] filosof86 opened #1879 "Using angular-compilers in Meteor 1.5.x"
Hi,

Meteor: v1.5.4.1
Angular: v4.4.6
Compilers: version 0.2.5

Description of the issue:
Using angular compilers in meteor 1.5.4.1 is constantly giving the following error:
=> Errors prevented startup: While loading plugin `Angular Compilers` from package `angular-compilers`:
   vm.js:24:10: Block-scoped declarations (let, const, function, class) not yet supported outside strict mode

STR:

1. Cr

[2018-01-31 13:36] filosof86 commented on #1855
The same issue on 1.6.1

[2018-01-31 18:40] HectorRPL commented on #1855
The same issue on 1.6.1.
I hope a a solution soon ... because I need for some libraries and frameworks that works with meteor 1.6.1 =(

[2018-02-03 18:59] klynicol opened #1880 "Cannot find module './app.component.scss' after meteor update 1.4 to 1.6.1"
Just updated my meteor from 1.4 to 1.6.1

I fixed the issue I was getting with babel-runtim by running `meteor install --save @babel/runtime`
Now the server seems to start without a hitch, but there's only the "loading..." screen in my client with an error of `Cannot find module './app.component.scss'`

Thought maybe my angular2 complilers needed to be updated, but they seem to be up to date.

Her

[2018-02-03 19:27] pbureau commented on #1880
I confirm I have the same problem, upgrading meteor to 1.6.1 from 1.6.0.1 for my angular/meteor app. I guess will keep using meteor 1.6.0.1 for the moment.

[2018-02-06 16:59] pedrolucasoliva commented on #1496
Hi, i'm trying to implement a dynamic theme import.
This worked at meteor 1.5 and now I get this error, because "require" have be stopped read scss:

My code:

[code]

There is another option?

[2018-02-09 18:22] bouchepat commented on #1728
Problem reoccurs despite NODE_OPTIONS or TOOL_NODE_FLAGS. Issue is on Windows 10, works fine on Windows 7.

[code]

[2018-02-09 18:23] bouchepat commented on #1728
#https://github.com/meteor/meteor/issues/9568

[2018-02-12 22:39] gjr-qm opened #1881 "Build fails for architecture os.linux.x86_64 on windows"
### How to reproduce

- On a Windows 10 computer clone angular-meteor-base repository (current Meteor version 1.6)
- Enter dir and do `meteor npm install`
- Try to build the app with `meteor build <outdir> --server-only --architecture os.linux.x86_64`

Build fails with the error:
[code]
Important part here is the doubling of the directory for the css file **C:/Work/angular-meteor-base/C:/Work/angu

[2018-02-14 14:04] pbureau commented on #1855
Hi we have the same issue trying to upgrade to 1.6.1 from version 1.6.0.1

I there any known workaround for this problem?

[2018-02-14 14:07] pbureau commented on #1880
is this related with #1855 ??

[2018-02-14 18:06] impcyber commented on #1880
@pbureau yes, related
At the moment there is a solution only downgrade:
`meteor update --release 1.6.0.1`

[2018-02-16 04:49] nloeffler commented on #1827
First, thanks for all the amazing work!

I have the same windows problem.  When I do a normal compile (meteor run) on windows, I get the error : can't find module './app.html'.  Trying to use templateUrl throws the browser into a loop where it runs out of memory reloading the app component.  If I try to use the production flag, I get the error:

Uncaught Error: Cannot find module '/client/imports/

[2018-02-17 20:45] atao60 commented on #1855
Hi  @choudrio, @pbureau,

When I try to update examples/MeteorCLI/all-in-one from 1.6 to 1.6.0.1, I get:

[code]
As it seems that you managed to update your project, can you share your configuration (at least package.json, .meteor/packages, tsconfig.json)

[2018-02-18 10:51] doron-mil opened #1882 "Broken tutorial - WhatsApp Clone with Ionic 2 and Meteor CLI help"
Tried countless times to follow all sort of tutorials and installing all the boilerplate projects I found. It seem to be a problem with new 1.6 version and the integration with Angular....

https://forums.meteor.com/t/broken-tutorial-whatsapp-clone-with-ionic-2-and-meteor-cli/42087

[2018-02-18 12:10] impcyber commented on #1882
try this:
`meteor remove angular2-compilers`
`meteor update --release 1.6.0.1`
`meteor add angular-compilers`
https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers

[2018-02-18 16:03] pbureau commented on #1882
If you get this working, could you please share your project config (.meteor/packages, package.json, and tsconfig.json). I have been working on a similar issue for some hours now, but without success.

I will also post my solution if I manage to make it compile and run properly...

[2018-02-18 18:14] impcyber commented on #1882
Sure
This is from my project w\o ionic:
**.meteor/packages**
[code]
**package.json**
[code]
**tsconfig.json**
[code]

And i've build an example Ionic project https://github.com/Urigo/Ionic2-MeteorCLI-WhatsApp
It compiles, but not work, needs configuration for webpack (maybe? i think so)

**.meteor/packages**
[code]

**package.json**
[code]

**tsconfig.json**
[code]

[2018-02-18 18:27] impcyber commented on #1882
If you are using angular-compiles (not angular2-compilers) you need rewrite styles import from `{}node_modules` to `../../node_modules`
And in Ionic project with updated packages you cannot use old version of angular2-google-maps, it need to be replaced with '@agm/core'

https://github.com/SebastianM/angular-google-maps

[2018-02-18 18:27] pbureau commented on #1855
Hi,

      I did not manage to make it work, the only configurations that
      works for me is using Meteor 1.6.0.1 and the old angular2-compiler

      Pierre

      On 17/02/2018 21:45, atao60 wrote:

      Hi @choudrio,
        @pbureau,
      When I try to update examples/MeteorCLI/all-in-one from 1.6 to
        1.6.0.1, I get:
      $ svn export https://github.com/Urigo/angular-meteor/trunk/

[2018-02-18 18:48] pbureau commented on #1882
@impcyber  thx for the reply, but could you clarify 😕

You mean style import in component templates? At the moment we use statements like:
[code]
Is this what you meant?

[2018-02-18 20:06] impcyber commented on #1882
@pbureau Unfortunately, if I correctly understood the angular-compiler are oriented to work like AngularCLI and the import templates\styles like modules there does not work, only templateUrl and styleUrls work or inline declartion available.

Here is an example: https://github.com/Urigo/angular-meteor-base
Here is an Urigo comment about: Goldstehttps://forums.meteor.com/t/meteor-1-5-dynamic-import

[2018-02-18 20:22] pbureau commented on #1882
@impcyber the imports for templates\styles seems to be my problem 😕

The point I don't understand is this mechanism was working with `angular2-compilers`. Could it be broken by the switch to `angular-compilers` ?

In the thread you pointed, Urigo is not saying anything about the import mechanism isn't he?

[2018-02-18 21:48] impcyber commented on #1882
@pbureau Yes, there is nothing about import mechanism. But looking at modern [examples](https://github.com/Urigo/angular-meteor/tree/master/examples), no matter what you use MeteorCLI or angular-cli, they use templateUrl and styleUrls both.
And i was a bit discouraged, that repo angular2-compilers forward to angular-compilers:
https://github.com/Urigo/angular2-meteor/

But, as i understood this is

[2018-02-18 21:56] pbureau commented on #1882
@impcyber thx, I think you are right, this is the new way to declare templates and styles, and it changed with the `angular-compilers` switch.

As far as I understand the `import template from "./app.component.html";` support was provided by the `angular2-meteor` package but it is deprecated, and it does not work with the new compiler anyways.

[2018-02-18 22:16] impcyber commented on #1882
@pbureau Yes, looks so

[2018-02-20 00:58] doron-mil commented on #1882
Tried again a lot of combinations.
The only one I managed to work good is:

angular-meteor/examples/MeteorCLI/bare/ in this rapository

[2018-02-20 13:14] lokiribeiro commented on #1880
I am also encountering the same error with this, I am using 1.6.0.1 and followed all the steps on step 1 of angular2-meteor socially app tutorial and could not proceed further because of this error; I could only see Loading... on my page when i tried to run the app.

[2018-02-20 20:27] impcyber commented on #1880
@lokiribeiro Try `angular-compilers`
https://github.com/Urigo/angular-meteor/issues/1882

[2018-02-21 08:48] pbureau commented on #1882
I finally managed to get my app working upgrading to `angular-compilers` from `angular2-compilers`, and with Meteor 1.6.0.1
The switch to Meteor 1.6.1 seems impossible at the moment (not with my current knowledge of the stack anyways).
The critical part for me was to understand that if you just add  `angular-compilers` to your project, Meteor will automatically install the version `0.2.9_2`, **whi

[2018-02-21 09:35] impcyber commented on #1882
I'm using with 1.6.0.1:
[code]
And all works fine.
How do you determine that `0.2.9_2` is broken?

[2018-02-21 09:39] pbureau commented on #1882
@impcyber well when I use the same versions as you are, my project does not compile at all, I get an endless stream of errors when the app is building. I will give it another try... can you share your complete .meteor/versions file?

[2018-02-21 21:11] impcyber commented on #1882
@pbureau paste the first error message here
full versions list:
[code]

[2018-02-24 16:10] laurentenhoor opened #1883 "Error preventing bundling Meteor with Ionic 3 and Angular2"
[code]

[2018-02-24 18:16] pbureau commented on #1882
@impcyber  here is the first errors I get when compiling with version `0.2.9_2`:

One strange thing in you versions file, it is missing the `es5-shim@4.6.15` module, is it something you have removed on purpose?

[2018-02-25 05:09] hongan126 commented on #1883
Yesterday it was working.
Today, I have the same proplem.
So I recovery my Windows on time with no errors.

**Try reinstall meteor.
And check plugin basicFileTypes in the path:**

![scr_1-29-2018-9 49 18 am2-25-2018-11 58 30 am](https://user-images.githubusercontent.com/25642719/36638320-805a29e2-1a24-11e8-89b0-eba4419e3dde.png)

cmd:
[code]

[2018-02-25 07:36] laurentenhoor commented on #1883
Thanks. Indeed fully reinstalling Meteor works.
My first attempt was deleting the ~/.meteor folder manually and run the installation command afterwards, but this was not sufficient to fix this issue.

So re-install by running the following command works, it deletes the older version automatically.
[code]

[2018-02-25 07:37] #1883 closed

[2018-02-25 08:32] impcyber commented on #1882
@pbureau as yout can see here https://angular.io/api/core/Component there is not 'styleUrl: string' argument, there is a 'styleUrl**s**: string[]' and it must be an array of strings.

I don't have es5-shim, because i don't need compatibility with legacy browsers

[2018-02-25 17:40] pbureau commented on #1882
@impcyber damn it... you are right :astonished:
I have been too quick when I changed the styles imports (I will never understand why js is so permissive, this should have broken my code). Actually the new config is a lot less permissive (which is good), but now it is like the compiler will not recognize the meteor typings and I get a bunch of:
[code]

[2018-02-25 18:37] impcyber commented on #1882
@pbureau did you installed @types/*  for packages and include it to `tsconfig.json` in `compilerOptions.types: [ ... ]`?

[2018-02-25 18:44] pbureau commented on #1882
@impcyber in my package.json I have:

[code]
In tsconfig.json:
[code]
But actually, it is like none of the @types modules are loaded by the compiler. I also get a:
[code]
But path is declared in` @types/node`

[2018-02-25 18:50] impcyber commented on #1882
@pbureau
add to package.json:
[code]
then run `npm install`

[2018-02-25 18:53] pbureau commented on #1882
@impcyber sry I edited my comment, I actually have `@types/node` installed :-(

[2018-02-25 18:58] impcyber commented on #1882
@pbureau Anyway, update `@types/node` to version ^9.4.6and `@types/meteor` to version ^1.4.13
And if not help, remove `node_modules` and run `npm install`

[2018-02-25 19:48] pbureau commented on #1882
@impcyber thx for the tip, upgrading is not solving the issue. It must be something with my imports, or the declaration file, because: `import { Meteor } from 'meteor/meteor';` will work, but `import { Accounts } from 'meteor/accounts-base';` will generate the error...

[2018-02-25 20:13] impcyber commented on #1882
@pbureau the `account-base` typing is built-in meteor https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/meteor/accounts.d.ts#L131
it's too strange, maybe something wrong with imports.

for test, try to add temporary this code in typings.d.ts (will this change the error message?):
[code]

[2018-02-25 21:28] pbureau commented on #1882
@impcyber I tried to add the declaration in typings.d.ts, and it does not change the error. It is almost as if the account-base package was completely ignored. I checked the `node_modules/@types/meteor/accounts.d.ts` is present and correct.

[2018-02-25 23:49] impcyber commented on #1882
@pbureau did you restart your IDE and run meteor again after this changes?

[2018-03-01 11:32] smeijer commented on #1770
I'm trying to find the commit that's responsible for fixing this issue. Can you guys help me? I'm hoping that it will help fix a similar issue in styled-jsx.

https://github.com/zeit/styled-jsx/issues/253

[2018-03-04 07:37] pbureau opened #1884 "angular-compilers does not report module import errors"
Using the following set of compiler packages:

The compiler doesn't report any error or warning for missing modules, it is a huge pain to debug. Could this be a configuration problem in my project, or is this a design choice?

[2018-03-04 09:35] pbureau commented on #1801
I ran into the same problem, I think it is not related with Meteor, it is an Angular 5 issue as explained here:
https://github.com/angular/angular/issues/20605

[2018-03-04 18:43] impcyber commented on #1884
What king of errors it doesn't report concretely?
If you write `import { Somthing } from 'package'` does it warn you for missing module?

[2018-03-04 19:12] pbureau commented on #1884
Hi, actually it seems the compiler is not reporting any kind of errors, I can write:
`import {anything} from 'anything';`
and it will not print any warning, but also any other kind of typescript errors are also silent. I have been trying to find an option that silence the compiler, but I cannot find it. My tsconfig.json:

[2018-03-05 07:50] impcyber commented on #1884
Hmm...
Try to change `noImplicitAny` to `false`
And could you show `typings.d.ts`?

[2018-03-05 08:02] pbureau commented on #1884
As far as I can see, changing `noImplicitAny` has no impact on the compiler output, here the typings file, I have to admit I am not sure how it has been generated:
[code]

[2018-03-05 08:40] impcyber commented on #1884
If you are using `angular-compilers` you don't need this declaration of static files like:
declare module "*.html"
declare module "*.css"
and so on...

Sometimes there are bugs with npm pakcages, and i need to run `rm -rf ./node_modules` and `npm install`. It helps... sometimes

[2018-03-06 14:34] pbureau commented on #1884
For reference, I think this situation is related with `angular-compilers@0.2.8_1`

When I use version `0.2.9_x`, I have errors, but actually they are errors I cannot solve like the missing modules pb reported here: #1882
And worse, when I try AOT and ROLLUP I get `UNRESOLVED_IMPORT` that don't make sense...

[2018-03-06 21:58] impcyber commented on #1884
For now i stopped using angular-compilers and switched to angular-cli with meteor-client-bundler, because I decided to separate the client part from the server part, since client part should now be portable for me and should not be directly dependend.

[2018-03-09 10:36] pbureau commented on #1882
regarding this issue and #1884, i confirm angular-compilers is working with:
[code]
I had to rebuild a project using the angular-meteor example `bare/` project as a starting point, I believe my problems were related with the directory structure we have been using so far, even though the exact cause of the problem is still unclear to me.

@impcyber thx for the support, it seems there is not much ac

[2018-03-09 12:29] maxfriedmann commented on #1790
@ardatan This issue still occurs in the current version v0.2.9_2

[2018-03-09 12:32] maxfriedmann commented on #1790
[code]

[2018-03-10 17:44] choudrio opened #1886 "Is this project dead?"
@Urigo @ardatan
What is the status of this project? There have been no official replies to issues for quite some time.
Last commit 3 months ago.

Is this project dead?

[2018-03-10 18:54] Urigo commented on #1886
@choudrio sorry about that.  I am working on something else and was a bit away.
If you want, I would be happy to meet on video and help you with any issue you might have and get it merged and release a new version.
My email is public on my Github profile.  Google Hangouts is my prefered way of communications

[2018-03-12 09:24] pbureau commented on #1855
@choudrio I don't believe there is much activity on the angular-meteor project at the moment, we are also trying to get more information about the status of the stack and the options for further support in the future.

Don't hesitate to keep me posted if you have any news on your side.

[2018-03-13 15:06] #1882 closed

[2018-03-14 06:51] mfechner commented on #1882
I had exactly the same problems but got it working.
Maybe it helps someone else: https://gitlab.fechner.net/mfechner/angularcli-meteor

[2018-03-16 00:28] portah commented on #1886
Hi @Urigo, I hope everything is ok and you just extremely busy. Ppl did some PRs on different yours projects: https://github.com/Urigo/meteor-client-bundler/pull/55

[2018-03-17 07:57] #1857 closed

[2018-03-17 07:57] #1886 closed

[2018-03-17 07:57] ardatan commented on #1884
Closed by PR #1889

[2018-03-17 15:53] ardatan commented on #1880
Usage of sass files in Angular-Meteor was changed after `angular-compilers`. You can see the new method to use scss files in your components.
https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers
If you have any further issues still going on, please open a new issue, and let us know.

[2018-03-17 15:53] #1880 closed

[2018-03-17 18:11] #1881 closed

[2018-03-17 18:11] #1855 closed

[2018-03-17 18:11] #1884 closed

[2018-03-18 11:48] ardatan commented on #1878
angular-templates was deprecated, you have to switch the old compilers to our new compilers for Meteor 1.6.x

https://github.com/Urigo/angular-meteor/tree/master/atmosphere-packages/angular-compilers

[2018-03-18 11:48] #1878 closed

[2018-03-18 11:48] ardatan commented on #1852
Closed by #1889

[2018-03-18 11:48] #1852 closed

[2018-03-18 11:49] ardatan commented on #1827
Closed via #1889

[2018-03-18 11:49] #1827 closed

[2018-03-19 10:36] jerradpatch commented on #1879
I am no expert, but maybe your version of node is too old to compile the package?

[2018-03-19 10:43] jerradpatch opened #1891 "angular compiler targets different version of babel compiler"
Meteor wont let me install angular-compilers with Meteor 1.6.1

$ git clone https://github.com/Urigo/angular-meteor.git
$ cd ./examples/MeteorCLI/bare
$ meteor npm install
$ meteor run

Error:

While selecting package versions:
error: Conflict: Constraint babel-compiler@6.24.7 is not satisfied by babel-compiler 7.0.5.
Constraints on package "babel-compiler":
* babel-compiler@~7.0.0 <- top level
*

[2018-03-19 11:15] ardatan commented on #1891
Thank you for your post. We haven’t published the atmosphere packages yet.
You can use packages locally bu using METEOR_PACKAGE_DIRS=packagespath environment variable.

[2018-03-19 11:30] buymybm100 opened #1892 "Error migrating from angular-templates to angular-compilers (Angular 1.5.3)"
I need to migrate out of **angular-templates** as it has been deprecated. I am still using Angular 1 and my Components are defined using **templateUrl** and **controllerAs** syntax.

I have replaced angular-templates with angular-compilers and now get an error that the HTML cannot be found.

Code snippet:
[code]
**Environment**
Angular-meteor v1.3.11
Meteor v1.6.0

Can anyone help ?

Many Thanks,

[2018-03-19 11:32] ardatan commented on #1892
You don't need to import html template in JS file. Could you please remove that line and try again?

[2018-03-19 11:32] ardatan commented on #1891
We just released the new version of the packages. You can update the packages by running;
`meteor update --all-packages --allow-incompatible-update`
Please let us know if the issue still appears.

[2018-03-19 12:13] filosof86 commented on #1879
@jerradpatch, yes, it can be the reason, thank you.
Anyway, I've updated the application to 1.6.x so this issue can be closed.

[2018-03-19 12:13] #1879 closed

[2018-03-19 12:13] ardatan commented on #1879
Thank you!

[2018-03-19 12:20] buymybm100 commented on #1892
Thanks @ardatan , that moved it forward. Not getting the error now after removing all the HTML imports.

Now, the pages display but there is no CSS styling.  My  CSS/SCSS  files are kept in **/clients/styles** folder.  Do I need to specify each one ? I think angular-templates used to pick everything up automatically.

[2018-03-19 12:55] ardatan commented on #1892
There are two types of process for SCSS compilation;
If the file is under any 'imports' subdirectory, it is not directly added to page.
If the file is NOT under any 'imports' subdirectory, it is directly added to page.

So you have import scss files in CSS files or directly-added SCSS files.

But CSS Compilation is different, all css files are directly added to page.

[2018-03-19 14:46] buymybm100 commented on #1892
I have created a main.scss to import all the SCSS files the App needs.
When I go into  ~/local/build/programs/web.browser/app/client , I can see that **main.scss** has included all the SCSS files correctly.
However, the **merged-stylesheets.css** that is served, has none of the styles.

Do I need to bootstrap with platformBrowserDynamic().bootstrapModule(AppModule) ?
At present, I am using  this :

[2018-03-19 14:50] ardatan commented on #1892
No, you are using AngularJS.
Could you use CSS extension instead of SCSS?

[2018-03-19 16:12] Urigo commented on #1884
today we've released new versions for `angular-compilers` and `meteor-client-bundler` as well with a few fixes and to support the latest Meteor 1.6.1, thanks to the great work of @ardatan !
Let us now if everything works as expected.

[2018-03-19 16:14] Urigo commented on #1886
today we've released new versions for `angular-compilers` and `meteor-client-bundler` as well with a few fixes and to support the latest Meteor 1.6.1, thanks to the great work of @ardatan and @afaur !
Let us now if everything works as expected.

In the future, issues that actually try to address an issue and give new information about the issue would be more helpful.
I hope to keep pushing and off

[2018-03-19 16:15] Urigo commented on #1855
today we've released new versions for `angular-compilers` and `meteor-client-bundler` with a few fixes and to support the latest Meteor 1.6.1, thanks to the great work of @ardatan and @afaur !
Let us now if everything works as expected.

[2018-03-19 16:16] Urigo commented on #1855
as a side note, my personal email is public and I'm always happy to talk, hear and help users of angular-meteor with their questions, whatever questions they may be!

[2018-03-19 16:18] Urigo commented on #1881
today we've released new versions for `angular-compilers` with a few fixes and to support the latest Meteor 1.6.1, thanks to the great work of @ardatan !
Let us now if that solves your problem and everything works as expected.
thank you

[2018-03-19 18:58] bouchepat commented on #1891
Still getting the same error:

[code]

[2018-03-19 19:05] pedrolucasoliva commented on #1891
I used `meteor update -all-packeges ` and it updated like a charm

[2018-03-19 19:20] ardatan commented on #1891
@bouchepat I don’t think it is about angular-compilers. It looks like the conflict is between Meteor’s core packages and your custom minifiers. Could you minifiers and try again?

[2018-03-19 19:21] ardatan commented on #1839
Are you sure it is working like you said in regular typescript compiler?

[2018-03-19 19:22] ardatan commented on #1807
Thank you! We merged your fix in our release. Please let us know if everything works expected.

[2018-03-19 19:22] #1807 closed

[2018-03-19 19:26] ardatan commented on #1801
Thank you for your collaboration. I think it will be fixed in Angular’s v6 release.

[2018-03-19 19:26] #1801 closed

[2018-03-19 19:34] bouchepat commented on #1891
I changed the abernix:standard-minifier-js package to the standard-minifier-js, I'm getting the following error:

Thanks for the help by the way!

[code]

[2018-03-19 19:42] ardatan commented on #1891
I don’t think it is due to ‘angular-compilers’ as well.
Try running command prompt as admin or restarting your computer etc. I am using Ubuntu Bash on Windows, and Meteor on it, because Meteor CLI on Windows works weird sometimes.
You can see the similar issue;
https://github.com/meteor/meteor/issues/8139

[2018-03-19 19:44] ardatan commented on #1763
You can reopen the issue if the issue still continues.
Please tell us more about your configuration if it doesn’t work as expected in the same way.
Thank you!

[2018-03-19 19:44] #1763 closed

[2018-03-19 19:55] bouchepat commented on #1891
Thanks @ardatan, ran the command on a native window command prompt with admin privileges worked.

[2018-03-19 20:04] ardatan commented on #1891
Your welcome! Thank you for the collaboration.

[2018-03-19 20:04] #1891 closed

[2018-03-19 20:16] ardatan commented on #1892
We just added a new example for AngularJS;
https://github.com/Urigo/angular-meteor/tree/master/examples/angularjs
You can see the usage of HTML and SCSS files.

[2018-03-19 21:11] buymybm100 commented on #1892
Many Thanks, @ardatan. As per the example,  I have updated to Angular 1.6.9 and Meteor 1.6.1
The SCSS styles are fine now.  I have also removed main.scss as there was no need to manually import the various scss files. Thanks again!

[2018-03-19 21:11] #1892 closed

[2018-03-19 21:12] ardatan commented on #1892
Happy to hear you made it! Your welcome.

[2018-03-19 21:39] enghong opened #1895 "MeteorCLI/lazy-loading not working in AOT w/ Rollup and production mode"
I'm trying to build the MeteorCLI/lazy-loading with the latest version of angular-compiler (0.3.0) and meteor 1.6.1

[code]

And I get the following error:
[code]

Is there something i'm missing there?

[2018-03-19 22:33] klynicol commented on #1895
I'm getting the same error trying to deploy my app to Galaxy. Please help!

[2018-03-20 01:24] ardatan commented on #1895
Thank you for your contribution! We fixed that issue, could you please run
`meteor update --all-packages --allow-incompatible-updates`
and try again.

[2018-03-20 08:09] captainhook99999 commented on #1381
Try these instructions!
[code]

[2018-03-20 08:44] enghong commented on #1895
Thanks for your support! Unfortunately, I still have the same errors :(

[code]

[code]

[2018-03-20 11:53] ardatan commented on #1895
I am sorry again, but could you please try again?

[2018-03-20 13:14] enghong commented on #1895
No problem, here is the result (still the same):

[code]

[code]

[2018-03-20 13:17] ardatan commented on #1895
No, I mean could you update the packages again?

[2018-03-20 13:22] enghong commented on #1895
This is not what I did with `meteor update --all-packages --allow-incompatible-update`?

I'm not at version `0.3.0_2`, it seems to be the latest.

Anyway, I restarted from a fresh clone, still the same issue :(

[2018-03-20 14:55] ardatan commented on #1895
It should be ‘0.3.0_3’, that’s why I asked about update.

[2018-03-20 14:58] enghong commented on #1895
Ah sorry, I'm now at `0.3.0_3`:

[code]

[2018-03-20 15:04] klynicol commented on #1895
I will run the update first thing when I get home.

[2018-03-20 16:25] ardatan commented on #1895
@enghong Can I see your package.json file?

[2018-03-20 16:45] enghong commented on #1895
[code]

[2018-03-20 17:32] ardatan commented on #1895
Thank you! You make me realize that I have to update those dependencies in `lazy-loading` together with other example.
I think the problem is the version of angular packages. Could you please reinstall them with the latest versions? I will also update them into latest versions as well.

[2018-03-20 21:45] klynicol commented on #1895
Ran the update `meteor update --all-packages --allow-incompatible-update`, now getting this log when trying to deploy

[code]

Looks like I'm back to my original errors before the first update yesterday.

[2018-03-21 16:13] ardatan commented on #1895
We just updated all the examples and compilers. It was because the version of @angular/compiler-cli and @angular/core packages are not compatible. So you can checkout latest example, and try again. Please let us know if that issue still appears.

[2018-03-21 16:32] enghong commented on #1895
Thank you very much for your support!

On my side, it is better:

[code]

So the app is now running, but there are some warnings regarding the `app.module.ngfactory.ts`

Then if I go to `http://localhost:3000/todoAdd` path, I have this error in the console:

[code]
[code]

In fact, all `loadChildren` trigger this kind of error.
Any idea of how to fix this.

[2018-03-21 16:42] enghong commented on #1895
@ardatan: I confirm the errors are still there with your latest update (933ef9e)

[2018-03-21 17:31] klynicol commented on #1895
@ardatan Any suggestion for the errors that I posted above?

[2018-03-21 17:40] ardatan commented on #1895
@klynicol Your issue is different. It looks our bug with Windows path. We are currently trying to find out the solution for it. For now, in order to keep working with your project, you can use an environment that works with POSIX/Linux, or you can use WSL/Ubuntu bash for Windows which I am currently working with.
@enghong Rollup creates a single bundle for Meteor then Meteor adds that single file

[2018-03-21 17:49] klynicol commented on #1895
Great, thanks! Can you point me to a tutorial for setting up an environment? Haven't done anything like that before. Also how will that affect a deployment to Galaxy?

[2018-03-21 18:12] ardatan commented on #1895
@klynicol Actually, it won't have any affect to Galaxy, `meteor deploy` command creates a build on your local environment, and sends it to Galaxy. So, you can change your environment.
https://docs.microsoft.com/en-us/windows/wsl/install-win10
After you installed Ubuntu Bash, install Meteor and other stuff like you are in Ubuntu, then you can deploy it with same command via Ubuntu Bash on Windows.

[2018-03-21 18:19] klynicol commented on #1895
You are a GOD @ardatan ! Really appreciate the help.

[2018-03-21 20:25] danielruiz7 opened #1898 "Source maps failing to parse in Google Chrome"
Hi,

I recently upgraded from Meteor 1.6.0.1 to 1.6.1 (thanks for the fix). I also migrated from angular2-compilers to angular-compilers. The app is working  but when I tried to debug the fron-end using Chrome dev tools the source maps are missing. The following is printed in Chrome console:

[code]

Running the vscode debugger show me more info:

[code]

I also get some compilation errors when st

[2018-03-21 20:52] ardatan commented on #1898
Could you run
`npm update` and `meteor update --all-packages --allow-incompatible-update` ?

[2018-03-21 20:55] ardatan commented on #1895
@klynicol You're welcome!
@enghong Could you update your packages, and try again?

[2018-03-21 21:43] enghong commented on #1895
Sure, the compilation is still OK:

[code]

But on the client, I get:
[code]

[2018-03-21 21:44] ardatan commented on #1895
@enghong And does it work as expected?

[2018-03-21 21:48] enghong commented on #1895
@ardatan No, unfortunately I have a blank page...

[2018-03-22 09:23] danielruiz7 commented on #1898
Now the app is crashing :-(

[trace.txt](https://github.com/Urigo/angular-meteor/files/1836826/trace.txt)

[2018-03-22 12:35] bouchepat commented on #1898
I have the same issue with the source maps failing to parse (Google Chrome) which makes debugging impossible. I reverted to previous version for development and kept updated version ( 1.6.1) for production.

[2018-03-22 13:59] ardatan commented on #1895
@enghong After solving a lot of problems with your contribution, we have another problem about Rollup with Dynamic Imports feature of Meteor. This is due to the difference of Meteor's build of module and Rollup. I recommend you to use the production mode without Rollup which is not enabled by default until we find out a solution.
I released another version of compiler which has no problems on prod

[2018-03-22 14:01] ardatan commented on #1898
@danielruiz7 The latest error you get is due to a different error, if you update again, this error will be gone.
And please write here the errors after you update by the commands I send.

[2018-03-22 15:09] ardatan commented on #1898
I think it tries to compile 'rx' not 'rxjs'. You need to reinstall your node_modules to delete them.
[code]
For css errors, the imports have to be in the beginning of the file.
Finally, the other errors is about your source files.

[2018-03-22 16:27] leosco commented on #1878
Does this still support Angular 1.x? Or am I stuck on Meteor 1.6 until I completely rewrite to Angular?

[2018-03-22 16:29] ardatan commented on #1878
You have to switch `angular-compilers`, and remove html and scss imports in your source files and use `templateUrl` instead. You can see the example below;
https://github.com/Urigo/angular-meteor/tree/master/examples/angularjs

[2018-03-22 16:31] leosco commented on #1878
Awesome, thanks for the help!

[2018-03-22 19:01] ardatan commented on #1898
Please let us know if the problem is fixed or still occurres.

[2018-03-22 20:56] enghong commented on #1895
@ardatan Thanks for your support! I update to 0.3.1_2 and I used the production mode without ROLLUP:

[code]

But on the client, I still have error:
[code]

Also, are you intending to re-integreate `standard-minifier-js` package?

Thanks again for your support!

[2018-03-23 01:06] ardatan commented on #1895
@enghong There are two cases of AOT build;
First if you are adding production flag you don't need to use AOT env variable, because it is default in production.
In case of development mode, you need to define AOT env variable if you want to use AOT (it is not recommended in development).
By the way, the error you get is not due to the compilers, it is because of the deprecated filter function of Ob

[2018-03-23 14:58] danielruiz7 commented on #1898
I managed to fix the compilation errors (except for the fact that rx package is automatically added and I have to remove it every time I run npm install...), but source maps are still failing to parse in Google Chrome. Are you able to replicate the problem? I could create a repo if you like

[2018-03-23 15:10] ardatan commented on #1898
Thanks, It would be great if you reproduce a repo

[2018-03-23 15:50] danielruiz7 commented on #1898
Here it is:

https://github.com/danielruiz7/src-maps-chrome

[2018-03-24 11:13] pedrolucasoliva commented on #1898
My crew and I meet same problem here.

[2018-03-24 11:27] pedrolucasoliva commented on #1898
I downgraded the meteor and came back to work:
`meteor update --release 1.6`

[2018-03-28 10:43] atao60 opened #1901 "[vanilla JS] templateUrl not working with short path"
### When reporting a bug, please be sure to include the following:
- [x] A descriptive title
- [x] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the problem)
- [x] What version of `angular-meteor` you're using, and the platform(s) you're running it on
- [x] What packages or other dependencies you're using
-

[2018-03-28 18:43] viniciusferreira commented on #314
call jquery library before angularjs

[2018-03-28 20:08] ardatan commented on #1901
This is not expected behaviour, because `angular compilers` only processes TypeScript files, but HTML and SCSS compilers can work in same way, so you can use same syntax with the modification that is done by TypeScript compiler in `angular-compilers`.
Could you try to add vanillajs version of the code below;
[code]

[2018-03-28 20:38] enghong commented on #1895
@ardatan Sorry for my late reply, I was out of town.

It is now working perfectly with `AOT=1 meteor --production`, thank you very much!
What about ROLLUP, are you intending to fix it in the next versions?

Again, thank you for all your support!

[2018-03-29 11:12] atao60 commented on #1901
@ardatan

[2018-03-29 12:10] AirBorne04 commented on #1827
for me this issue still persists on windows, is there any fix that i have missed?

[2018-03-29 13:37] pedrofg commented on #1728
No fix? Meteor running on Windows seems to have a lot of issues.

[2018-03-30 00:45] ardatan commented on #1901
I think there is a wrong path in a source file, because when there is one, it sends index.html as default for 404. After that, this causes recursion by bootstrapping app again and again ( we couldn't find a proper way to handle this ).
So you need to check the path of html and scss files.

[2018-03-30 07:19] atao60 commented on #1901
I checked all of the 5 pathes of html and scss files existing in the code of [atao60/meteor-angular-ionic](https://github.com/atao60/meteor-angular-ionic): there are all fine.

AFAIU, no needs to search for a wrong path. Even if it seems Angular doesn't promote anymore the usage of 'moduleId', it's well documented, see e.g. [Component-Relative Paths in Angular](https://blog.thoughtram.io/angular/2

[2018-03-30 09:37] iperevozchikov opened #1902 ""processFilesForTarget" function gets to process .ts files from node_modules"
Hi, "angular-compilers" when compiling project processing .ts files from node_modules. It seems that not correct.

Steps to reproduce it:
1. Get bare project from examples directory
2. Add new package, which contains .ts file, for example ```@types/meteor-collection-hooks```
3. Start project via ```meteor npm start```
4. See errors
[code]

My environment:
1. ```meteor 1.6.1```
2. ```angular-compil

[2018-03-31 15:55] imad-abdou opened #1903 "angular2-boilerplate infinite loop issues [meteor-tool@1.6.0]"
hello, im trying to install angular meteor using these three commands:
$ git clone https://github.com/bsliran/angular2-meteor-base ngMeteor
$ npm install
$ meteor
but the terminal stuck in infinite loop of downloading after typing the last commands
platform: Ubuntu 16.04 LTS
Meteor: 1.6.1
node: 9.8.0
npm: 5.6.0

[2018-04-01 11:42] kenpachi-zaraki opened #1904 "Property 'mergeMap' does not exist on type 'ObservableCursor<Chat>'"
After completing chapter 4 (Realtime Meteor Server) :
https://angular-meteor.com/tutorials/whatsapp2/ionic/meteor-server-side
then, running "meteor" command in "api" directory
and, running "ionic serve" command in "whatsapp" directory
I'm getting the error below:

$ ionic serve
Starting app-scripts server: --address 0.0.0.0 --port 8100 --livereload-port 35729
--dev-logger-port 53703 --nobrowser -

[2018-04-01 13:44] ardatan commented on #1904
I think that example should be updated. For now, you can add
import 'rxjs/add/operator/mergeMap';

[2018-04-01 13:46] ardatan commented on #1903
That example is deprecated you can checkout the new one;
https://github.com/Urigo/angular-meteor/tree/master/examples/MeteorCLI/bare

[2018-04-01 13:46] #1903 closed

[2018-04-01 13:47] #1904 closed

[2018-04-01 14:05] ardatan commented on #1901
Angular CLI was firstly designed to use with SystemJS. SystemJS loads modules by their path properly, but Angular couldn't have recognized those path in order to load template and style files by their path via XHR like SystemJS. To solve this, `moduleId` has been used a while. However, this property is still available and not deprecated.
After Angular CLI switched to Webpack, Webpack loaders start

[2018-04-01 14:09] ardatan commented on #1902
Yes, this is expected behavior which is not well-documented as you said. We added this feature to solve some problems with ES2015 modules which is not bundled for CommonJS, but it causes an ignorance for field `exclude` in `tsconfig.json`. This is about external dependency `meteor-typescript` that we will investigate a solution for this. This post will be updated.

Thank you for your collaboration

[2018-04-01 14:11] ardatan commented on #1781
Please open the issue if the problem is still continuing.
Thank you!

[2018-04-01 14:11] #1781 closed

[2018-04-03 07:46] iperevozchikov commented on #1902
Hi @ardatan . I composed the list of errors in my app and it was be next:
1. node_modules/ng2-material-dropdown/demo/home/components/dropdown-container.ts;
2. node_modules/meteor-typings/1.4/test/test.ts;
3. node_modules/ng-lazyload-image/src/lazyload-image.module.ngfactory.ts;
4. node_modules/sift/test.ts.

Errors above were perfect be grouped into 3 categories:
1. test
2. demo
3. src

If the src

[2018-04-05 17:19] ffaouzif opened #1905 "Watch changes files"
The app will automatically reload if you change any of the source files. as defined on instructions tuto.
 after runing npm run start it work fine, but when i change some files it not watching , so i have to re use the comande again ?

[2018-04-06 17:48] ffaouzif commented on #1905
Meteor CLI

[2018-04-06 17:48] ffaouzif commented on #1905
source file of ts

[2018-04-08 16:10] kenpachi-zaraki commented on #1904
Thanks @ardatan  . I already tried :
import 'rxjs/add/operator/mergeMap';
but it did not work.

However, you're are right. The tutorial example needs to be updated.

The correction has already been made in file:
src/pages/chats/chats.ts
on the github repository:
https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp

[2018-04-08 19:56] ardatan commented on #1905
Could you reproduce a repo?

[2018-04-08 21:01] davoc commented on #1381
Changing package.json "dependencies": to "peerDependencies": worked for me

[2018-04-10 07:43] ab-ankhbayar commented on #1850
When I removed angular2-compilers and add angular-compilers, compiling shows  ton of errors. And I found this it's related to declarations.d.ts file. In declarations.d.ts file, there are declarations of global variables. Errors shows that cannot find name 'the variable name declared in declarations.d.ts'. Any help?

[2018-04-16 10:06] ab-ankhbayar opened #1906 "angular-compiler issue"
I've updated meteor version from 1.6.0.1 to 1.6.1.1. So, I had to update compilers too. I've removed angular2-compilers and added angular-compilers. Since then there is 'exports is not defined' error. I think this is compiler related issue. Any help?

[2018-04-17 07:23] shberko opened #1907 "[Windows] - "bare" example fails to build - (angular-scss-compiler)"
Hi,

When I try to build the example project, I get an error with angular-compilers/angular-scss-compiler.
meteor version: 1.6.1.1
running on windows 10

build output:
 `[client]: ES2015 modules Compilation: 127226.499ms
AoT Code Generator Created.: 10888.140ms
NgModules Loaded.: 0.184ms
[client]: HTML Files Compilation: 21.022ms   /
[client]: SCSS Files Compilation: 25.791ms   /
[server]: ES2015

[2018-04-20 05:55] dnyaneshwaruttarwar opened #1908 "External DB URL for ionic2"
Hi,

I've developed an application in ionic2 and now I want to integrate the meteor for chat application I have gone through the below tutorial
https://angular-meteor.com/tutorials/whatsapp2/ionic/3.0.0/setup

but I'm having the question
1) Where to deploy the meteor server (I haven't seen in the tutorial)
2) How to set the external mongo database

please help

[2018-04-20 06:02] ardatan commented on #1908
You can see the documentation of Meteor;
https://guide.meteor.com/deployment.html#galaxy-mongo
https://guide.meteor.com/deployment.html

[2018-04-20 06:02] #1908 closed

[2018-04-22 08:50] atao60 opened #1909 "typescript compiler ignoring *.d.ts files"
### When reporting a bug, please be sure to include the following:
- [x] A descriptive title
- [x] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the problem)
- [x] What version of `angular-meteor` you're using, and the platform(s) you're running it on
- [x] What packages or other dependencies you're using
-

[2018-04-23 17:01] kmahalingpur opened #1910 "Angular 5 meteor not running"
Hi, I'm new to the meteor. I was searching for angular 5 with meteor I found this repo, I tried to clone the repo as mentioned in the quick start as
   $ git clone https://github.com/Urigo/angular-meteor-base myApp
   $ cd myApp
   $ meteor npm install
But the first time I got heap full error and the second time when I ran npm start app started but when I access it in the browser but the page is n

[2018-04-27 13:44] atao60 commented on #1910
With the previous issue #1909 a [working demo](https://github.com/atao60/meteor-angular-no-type-declaration) is provided based on [Angular Meteor bare MeteorCLI example](https://github.com/Urigo/angular-meteor/tree/master/examples/MeteorCLI/bare).
The warning messages about missing declaration files can be ignored.

[2018-04-30 15:03] kodibear commented on #1898
I'm also facing the same problem after upgrading from 1.6.0 to 1.6.1. I followed the migration guide in the patch notes and all of the packages are at the latest version. The only source files that are available for me in Chrome DevTools are .coffeescript files (no .js ones) and it's impossible to debug client code anymore.

[2018-05-04 06:47] mikenetcode commented on #1904
Just tried to complete the tutorial too and just completed chapter 8.
Actually I'm trying to migrate my own app from ionic 1 & angular 1 with meteor backend and I'm not into typescript so far. So I hope my explanations are correct.

If you install all packages now you actually use typescript 2.6, angular 5 and rxjs 5.5 and that seems to be the major problem.

First you need to pipe all operators a

[2018-05-06 16:15] ymchun opened #1912 "Can angular-compilers support angular 6 ?"
When upgraded to angular 6 and rxjs 6, seems the angular compilers can't build the app correctly.

[code]

result from `meteor list`
[code]

package.json
[code]

tsconfig.json
[code]

[2018-05-08 15:05] erperejildo commented on #1565
no sorry, left this project a while ago

[2018-05-09 02:45] klynicol opened #1913 "Cannot read property 'moduleType' of undefined"
Getting this error on the client after I've published my app to Galaxy:
[code]

Unfortunately I cannot run a local --production flag right now to try and reproduce the results with a simple app that I can publish to gitHub. I'm running Windows and there are major bugs when publishing or running --production from Windows, AND my Ubuntu is having major permission issues when trying to write to a Mon

[2018-05-09 13:40] Devidian commented on #1912
I'm getting the same Error when upgrading to Angular 6

[code]

[code]

METEOR@1.6.1.1

[code]

[2018-05-09 13:47] ardatan commented on #1912
Is this AOT mode? What is the command you are running the compiler?

[2018-05-09 13:47] ardatan commented on #1913
Do you have tsconfig.json file in the root of the project?

[2018-05-09 13:48] Devidian commented on #1912
meteor build ../build --architecture os.linux.x86_64

[2018-05-09 13:48] ymchun commented on #1912
@ardatan yes, AOT mode
running `meteor build .. --architecture os.linux.x86_64`

[2018-05-09 18:46] Klimm-Max commented on #1907
Yea, running into the same error.
I will try it with my Linux System as well, since we are both using Windows on that one

[2018-05-09 20:50] Klimm-Max commented on #1907
the bare example worked out on Linux and OS X.

[2018-05-11 08:28] Klimm-Max commented on #1907
the fix relating <a href="https://github.com/Urigo/angular-meteor/issues/1909">#1909</a> is doing the job.
i was running:
`meteor update --release 1.6.1.1`
`meteor update --all-packages`
`meteor npm --depth 9999 update --dev`
`meteor`

[2018-05-16 08:06] dohomi commented on #1906
Hi I also have upgrade issues at the moment (with AngularJS 1.5.x). In the atmosphere package you recommend to switch from https://atmospherejs.com/meteor/angular-templates to urigo:static-templates. What would be the best for Angular 1.x users?

[2018-05-17 12:53] dohomi commented on #1878
@ardatan I currently try to update my code to Meteor 1.6.1.1. and switch from angular-templates to angular-compiler.

I receive following error right now:
[code]

I haven't done the whole transition to change all .html file imports, is this maybe connected?
How exactly is the behaviour of the angular-templates different to angular-compiler? This is an example component from my app:
[code]
Do I nee

[2018-05-17 17:15] ardatan commented on #1878
You have to do whole thing (removing imports, and using the relative path to the project).
‘angular-templates’ gets the html content and injects it to the javascript
code directly. However, ‘angular-compilers’ doesn’t do this; it serves html files to be accessed via ‘templateUrl’ stuff. That’s why, it is faster.
Check this out.
https://github.com/Urigo/angular-meteor/tree/master/examples/angularjs

[2018-05-18 00:33] dohomi commented on #1878
Ok thanks for clarifying this, one more question though. On the atmosphere page https://atmospherejs.com/meteor/angular-templates you recommend the use of `urigo:static-templates`, what is this template for? Thanks again

[2018-05-18 00:54] ardatan commented on #1878
You don’t need any other packages than ‘angular-compilers’. Just install that package, and change your source files like the example I sent.

[2018-05-18 01:52] dohomi commented on #1878
@ardatan I removed all `import * .html` statements in all my js files. The error still persists:
[code]
One question: does for example `<ng-include src="somePath/to/file.html">` will still work with angular compiler? Do you have an idea how to track down the error?

[2018-05-18 02:26] ardatan commented on #1878
If you don’t have any ts files, typescript compiler shouldn’t be triggerred. Can you reproduce a repo? And the only supported way to use angularjs with this compiler is the way you can see in the example. Other methods are not supported. And other questions except issues please use stackoverflow.

[2018-05-18 02:31] dohomi commented on #1878
@ardatan I don't use typescript for my project. Is it possible that typescript compiler is triggered through npm package (I'm using quill for example which leads to warning like `node_modules/parchment/src/blot/abstract/blot.ts (9, 12): Cannot find name 'Node'.`
I've seen that you target this in a seperate issue. Thanks again for your help I'll try to isolate the issue

[2018-05-18 07:16] amersabag commented on #1898
This is also happening to me. I downgraded to Meteor 1.6.0.1.

[2018-05-21 20:57] ardatan commented on #1912
`meteor-typescript` has been updated by @barbatus, so it seems fixed now by our last release 0.3.2

[2018-05-21 21:30] #1912 closed

[2018-05-22 04:14] ymchun commented on #1912
@ardatan  Thanks for the fix!
After upgrading, I got this

[code]

[2018-05-22 04:32] ardatan commented on #1912
I think the problem is due to minifiers so you can remove them in ‘.meteor/packages’.

[2018-05-22 07:01] ymchun commented on #1912
@ardatan turns out the error produced by other old package. Remove it and solve the problem.
Thanks for your help!

[2018-05-22 08:42] ardatan commented on #1912
@ymchun so is it fixed now?

[2018-05-22 08:43] ymchun commented on #1912
@ardatan yes, it is good. Thank you very much!

[2018-05-22 08:45] ardatan commented on #1912
Perfect!!!

[2018-05-23 11:50] Klimm-Max commented on #1907
i think this is related to the AOT building since i can run the projects with the `meteor` command.
please give some information about your build process/command.

[2018-05-23 18:48] onhate opened #1916 "Angular 5 migrating meteor 1.6 to 1.6.1.1: Cannot find module .html"
I have an application running on meteor 1.6 and after upgrading to 1.6.1.1 I get the following error on browser console:

`Uncaught Error: Cannot find module './app.template.html'`

Looks like I'm missing some dependency or configuration, could you please help me to check the sample project and tell me what is wrong?

I have created a replica of my project with all other dependencies I have in the

[2018-05-23 18:59] ardatan commented on #1916
Thank you for your collaboration! However, this is not an issue because the way we import the template files has been changed;
https://github.com/Urigo/angular-meteor/blob/master/examples/MeteorCLI/bare/client/imports/app/app.component.ts

[2018-05-23 19:22] ardatan commented on #1916
We don’t support it anymore, so you can only use Angular’s way to import htmls like in the example

[2018-05-23 19:22] #1916 closed

[2018-05-23 21:14] onhate opened #1917 "Angular 5 migrating meteor 1.6 to 1.6.1.1: Can't resolve all parameters for (?, ?, ?)."
I have an application running on meteor 1.6 and after upgrading to 1.6.1.1 I get the following error on browser console:

As is possible to see in the code, I have emitDecoratorMetadata as true in tsconfig.json

`Uncaught Error: Can't resolve all parameters for TranslateService: (?, ?, ?).`

I have created a replica of my project with all other dependencies I have in the project and only a single

[2018-05-23 21:40] ardatan commented on #1917
It is not related to `angular-compilers`. Probably a library in your application module is not AOT-compatible.
https://github.com/ngx-translate/core/issues/137

[2018-05-23 21:40] #1917 closed

[2018-05-23 21:42] ardatan commented on #1913
Could you reproduce a repo?

[2018-05-23 21:44] ardatan commented on #1909
Could you try to add this on the top the file?
[code]

[2018-05-26 03:58] atao60 commented on #1909
After inserting the reference path at the beginning of server/main.ts:
[code]
No more "Could not find a declaration file for module 'dir-obj'" . :-)

[2018-05-26 18:56] ardatan commented on #1906
Closed due to the inactivity.

[2018-05-26 18:56] #1906 closed

[2018-05-26 18:56] ardatan commented on #1905
Closed due to inactivity.

[2018-05-26 18:56] #1905 closed

[2018-05-26 19:39] bouchepat commented on #1898
Is there any update on this issue?

[2018-05-27 20:08] klynicol commented on #1913
Alright, here's a repo which should reproduce the results

https://github.com/klynicol/moduleType

[2018-05-27 20:54] Metrophobe commented on #1496
so is it actually possible to import an scss file from inside node_modules folder? I tried to import an scss file from inside node_modules with fourseven:scss installed. no luck.

[2018-05-29 23:58] araad commented on #1898
It seems this issue is not related to this package. I tried creating a new project with 1.6.1.1 without the angular compilers and instead used barbatus:typescript and in chrome I get the "failed to parse SourceMap" warning but it works fine on Firefox.

[2018-05-30 16:53] matt5am opened #1918 "Build error after upgrade to Meteor 1.6.1.1"
Hi,

I recently updated a project to Meteor 1.6.1.1. I am running this app on Angular 1.6 and hadn't any problems prior this upgrade.

Everything works fine if I start the application by running '$ meteor'.

When I trie to build the app I got this error:

[code]
Here is my package.json:
[code]

Maybe its caused by this but I am not getting it:

` Could not resolve module '@angular/core' relative t

[2018-05-30 20:51] matt5am commented on #1918
Looks like some serious merge conflicts in our code base. Thank for help @ardatan! Closing this...

[2018-05-30 20:51] #1918 closed

[2018-05-30 21:44] InsaneNaman opened #1919 "Updating AngularCLI-Meteor Example Dependencies"
As Angular community has released its new version (Angular 6) and it depends on a newer version of RxJS. So, it would be great if one can update dependency of this example: [https://github.com/Urigo/angular-meteor/tree/master/examples/angularcli-meteor](https://github.com/Urigo/angular-meteor/tree/master/examples/angularcli-meteor ). It would be easy for everyone to get started. TIA

[2018-06-04 06:32] cbodapati opened #1920 "MeteorCli-bare not working with agm-marker-cluster"
I tried get the [agm-marker-cluster](https://angular-maps.com/api-docs/js-marker-clusterer/directives/AgmMarkerCluster.html) functionality working but failed. I tried all the work-arounds suggested by other developers in various portals..

I created a repo to reproduce the problem - https://gitlab.com/cbodapati/agmClusterTest.git

I tried this functionality in a pure Angular6, it works as expected

[2018-06-04 08:48] ardatan commented on #1920
I think there is a problem with UMD bundle of `agm-marker-cluster`.

[2018-06-04 08:48] #1920 closed

[2018-06-04 08:48] ardatan commented on #1910
Closed due to inactivity.

[2018-06-04 08:48] #1910 closed

[2018-06-04 09:51] cbodapati commented on #1920
Thanks for looking into this...
I made a test build in angular6 and  agm-marker-cluster works as expected.

[2018-06-04 13:36] cbodapati commented on #1920
Please look into that again, its working fine in Angular6...

[2018-06-04 18:23] ardatan commented on #1920
If you mean Angular CLI, it uses ES2015 not CommonJS like Meteor. There is a problem with CommonJS/UMD bundle of this package which is completely unrelated with Meteor.

[2018-06-05 03:53] cbodapati commented on #1920
Thanks for you time and effort. I will check with the agm guys.

[2018-06-05 10:11] ibrahimhist opened #1921 "Meteor build fails while processing files with angular-compilers: createCompilerHost is not a function"
When I do ‘meteor build …/output --server-only’ for deploying, I am getting the error: this.compilerCli.createCompilerHost is not a function

I upgraded the project Meteor@1.5.4.1 to Meteor@1.6.1.1, removed angular2-compilers and added angular-compilers, and made related changes. The project is running perfectly, however, build for deploying throws the error. While the meteor version is 1.5.4.1 wi

[2018-06-05 16:01] ardatan commented on #1921
Do you have @angular/compiler-cli installed?

[2018-06-05 16:04] ibrahimhist commented on #1921
Yes.

[2018-06-06 04:46] klynicol commented on #1913
Solved the issue by uninstalling `@angular/compiler-cli` and making sure I was importing `zone.js` in main.ts.

[2018-06-06 04:46] #1913 closed

[2018-06-06 11:13] ibrahimhist commented on #1921
I have updated the dependencies, When I run 'meteor run --settings private/development.json', project works fine except IE11 which gives an Syntax Error. When I run 'meteor build ../output --server-only' in Ubuntu, this time abernix_minifier makes the problem, fails. In addtion to that, when I run 'meteor build ../output --server-only' in Windows, it still fails but gives an another problem

[code

[2018-06-06 14:00] weini01 opened #1922 "Angular 6 AOT compilation disabled"
Hi,

I just updated to Angular 6 and tried to run my app with AOT compilation but got the following error:
[code]
both packages are installed, I also tried to remove node_module and reinstall it. Is there a known issue with angular 6?

[2018-06-06 19:11] ardatan commented on #1921
I don't think the issue on Ubuntu is related to `angular-compilers`. About Windows, that is a known issue so I recommend you to build your project on Ubuntu with `standard-compilers`.

[2018-06-07 09:58] ibrahimhist commented on #1921
You mean the  `standard-minifier-js`? It gives an out of memory that is a known issue too. (using standard-minifier-js) I set `export TOOL_NODE_FLAGS="--max_old_space_size=4096"` to overcome the memory issue, and re-run `meteor build ../output --server-only`, this time it gave an another error: `Cannot read property 'isPure' of null while minifying`. I think it is now related with [#9711](https://

[2018-06-07 20:08] ardatan commented on #1921
I think same, so it is better to track that issue. For now, you can build your project without a minifier.

[2018-06-07 20:08] #1921 closed

[2018-06-07 20:10] ardatan commented on #1922
No, there is not. You can see the code below. If you have installed those dependencies properly, that warning won't show up.
https://github.com/Urigo/angular-meteor/blob/433d772777a1a242db07605f77459547b9d63186/atmosphere-packages/angular-compilers/plugin/register.js#L24

[2018-06-08 13:00] InsaneNaman commented on #1919
Sure, I will do as soon as I get some free time. :smile:

[2018-06-08 15:23] mfechner commented on #1919
That would really be very helpful!
I currently started to look into meteor. As I would use meteor together with angular I would like to stick the the angular cli.
Meteor should only be a "module" that is used in the angular project.

Currently I cannot get the example running with angular 6.

If an update version is available I would like to test it and see if the example is fine. The example shou

[2018-06-11 11:45] weini01 commented on #1922
Hi it now works! I had to reinstall the two packages separate. Simple removing node_modules and npm install did not do the job. @ardatan thanks for your engagement at the whole angular-meteor project.

[2018-06-11 22:20] #1922 closed

[2018-06-15 23:46] GuofuHuang opened #1923 "Add test examples to example folders"
Hi, I'm trying to write some tests for the app, but the example lazy-load doesn't have any test samples, and I tried to create some test files, but they are not working. Can you add some test files?

[2018-06-20 16:05] rosunad opened #1924 "@Babel/Runtime causes an error with webpack"
Following the tutorial (https://angular-meteor.com/tutorials/whatsapp2/ionic/setup) I'm facing a problem that I'm stuck with.

When I add @babel/runtime at meteor server, the next time I run 'ionic serve' I get an error about webpack.

Meteor version 1.6.1.3.

This is the error that give me Meteor:
[code]

After add @babel/runtime, 'ionic serve' give me:
[code]

I've created a Github repo, the las

[2018-06-23 02:30] georgyberdyshev opened #1926 "Meteor 1.7.0.3 with Angular 6.0.6 errors in MeteorCLI examples - PR attached"
Hello @Urigo and @ardatan,

some of the MeteorCLI examples do not work on: Meteor 1.7.0.3 with Angular 6.0.6

This includes:
-rxjs related errors of the form: Property '...' does not exist on type
-Lazy loading of the TodoAddModule does not work in the all-in-one example
-Missing types error for TypeScript:
  Cannot find name 'require'.
  Cannot find name 'Assets'.

I have added PR #1927 to fix th

[2018-06-23 05:45] ardatan commented on #1924
Did you install dependencies using `meteor npm install`?

[2018-06-23 14:39] ansaries commented on #1919
I have only updated all-in-one Meteor CLI example with Meteor 1.7.0.3 and Angular 6 in PR #1928.
Its working with --production and even with AOT=1

Others examples will follow once this PR will be approved.

[2018-06-23 20:32] rosunad commented on #1924
Yes, I did it with meteor npm.

Anyway, in the tutorial, using Meteor 1.6 RC7 ask to install the packages with npm. But using 1.6.1.3, as you can read in the console's output, ask to install with meteor npm

[2018-06-24 04:46] ardatan commented on #1924
@rosunad could you share your `package.json`?

[2018-06-24 09:20] rosunad commented on #1924
Sure

[code]

[2018-06-24 20:43] georgyberdyshev commented on #1919
Hello everyone,
if you would like to test the changes in PR #1927

Modification for Meteor 1.7.0.3 with Angular 6.0.6 are already included and should
make it easier to get started on the updates for Angular CLI updates.

Thanks, Georgy

[2018-06-25 09:40] rosunad commented on #1924
After install @babel/runtime and webpack packages the initial error has dissapeared but I still received the rest of the error message:

[code]

So, part of the problem was mongo.d.ts. I was using @types/meteor 1.4.16 version so I tried with one older (1.4.14) and everything is working now.

Thank you!

[2018-06-26 09:44] #1924 closed

[2018-06-27 16:28] bronze15 commented on #1904
tengo ese  mismo problema HELP PLEASE

Typescript Error
Property 'zone' does not exist on type 'Observable<{}>'

this.message
--
  | ).zone().subscribe(() => {
  | // Zero the input field

`${location.lat},${location.lng},${location.zoom}`
--
  | ).zone().subscribe(() => {
  | // Zero the input field

picture.url
--
  | ).zone().subscribe();
  | });

[2018-06-28 07:45] vicnala commented on #1904
Please try to remove ".zone()" and see if it works (it does for me).

[2018-06-28 07:51] bronze15 commented on #1904
I tried it anyway, apparently there is new tersuon brings that problem and causes that error, as I have seen it on the internet in other projects

Descarga Outlook para iOS<https://aka.ms/o0ukef>
________________________________
From: Víctor Navarro <notifications@github.com>
Sent: Thursday, June 28, 2018 9:45:42 AM
To: Urigo/angular-meteor
Cc: bronze15; Comment
Subject: Re: [Urigo/angular-meteor]

[2018-07-01 08:53] DarkChopper commented on #1843
Hello @ardatan please can you be a little bit specific?
i'm facing the exact sam issue than @roeehershko and i really don't get to doc how add the missing typings.