[2016-05-30 09:36] mxab commented on #1327
[code]

[2016-05-30 09:39] pbastowski commented on #1327
Well, that's not good.

What versions of Meteor are you guys using?

[2016-05-30 09:41] mxab commented on #1327
METEOR@1.3.2.4

[2016-05-30 14:29] pbastowski commented on #1327
Guys, if you're interested, Meteor 1.3.3-beta.1 allows us to use `.babelrc` to add decorators, etc, thereby removing the need for my `angular-babel` package. I am very tempted to deprecate it very soon.

For instance, the following file in your project root:

**.babelrc**
[code]

... combined with the following Npm installs:

[code]

... and the following meteor commands:

[code]

... will allow y

[2016-05-30 17:17] Urigo commented on #1342
@lorensr has been assigned to this task.

[2016-05-30 19:00] Tallyb commented on #1327
Any chance to keep only ng-annotate separately? Sadly, we still heavily rely on it.

[2016-05-30 19:09] kamilkisiela commented on #1327
@Tallyb I think I'm going to work on ng-annotate as a babel plugin in next few days.

[2016-05-30 19:20] pbastowski commented on #1327
@Tallyb Unfortunately it is not possible to have both the `ecmascript` package and `ng-annotate` together, because Meteor only allows one compiler plugin per file extension, in this case `.js`. Once `ecmascript` has registered itself as the plugin for `.js` files no other plugin can, without causing an error. This is why I created the `pbastowski:angular-babel` package in the first place.

[2016-05-30 19:22] pbastowski commented on #1327
@kamilkisiela
Looks like someone already did this: https://www.npmjs.com/package/babel-plugin-ng-annotate

[2016-05-30 19:24] kamilkisiela commented on #1327
@pbastowski Yes, but if I understand correctly it only works with @Inject decorator.

I was thinking about making it as easy as possible, so it would work out of the box and there won't be any issue with switching from your's angular-babel package to this babel plugin.

[2016-05-30 19:27] pbastowski commented on #1327
@kamilkisiela Indeed, you're right.

So, about a year ago I had a thought about creating a Meteor compiler plugin package that would register itself against a specific file extension and then allow us to use other Meteor packages, in whichever order we wanted. But, then I created my package and gave up on the idea :)

I think your idea of a Babel extension is better indeed.

[2016-05-30 19:30] pbastowski commented on #1327
@kamilkisiela
Here is another babel ng-annotate plugin I found: https://www.npmjs.com/package/babel-plugin-angularjs-annotate

[2016-05-30 19:37] kamilkisiela commented on #1327
@pbastowski It is much better than that plugin with @Inject decorator but this one has hard-coded `ng-annotate` package. I was thinking about using `ng-annotate` as one of dependency so it will be easier to maintain and to update if necessary.

It would soo nice if Meteor compiler plugin would support multiple compilers with priority settings, just like webpack does.

[2016-05-30 19:51] Hongbo-Miao commented on #1093
Hi @sirockin, dependency Injection is working perfect, just use it directly like in normal Angular 2 apps.

[2016-05-30 21:13] pbastowski commented on #1327
It appears that the `ecmascript` package (with the `.babelrc` additions) is not producing useable sourcemaps for me. In my Chrome dev console, instead of seeing `app.js` I see `install.js`.

Anyone else having this issue with Meteor 1.3.3-beta.1 and `.babelrc` configured as I described above?

[2016-05-31 03:00] Urigo commented on #1169
@DragonK-Olbius has been unassigned from this task.

[2016-05-31 06:19] sirockin commented on #1093
Thanks @Hongbo-Miao. Would it be possible for you to post an example of how you would use a Service to wrap the back Meteor back end instead of using the MeteorComponent implementation. @Urigo perhaps you could integrate such an example into the tutorial?

[2016-05-31 15:59] Hongbo-Miao commented on #1093
@sirockin Oh, `MeteorComponent` does not affect Service.

[code]

If you need use Angular2-Meteor API, just extends `MeteorComponent`.
[code]

Also, have a check for [Subscribe data in Service using RxJS 5](https://forums.meteor.com/t/subscribe-data-in-service-using-rxjs-5/23258).

The new tutorial will have Service example for sure!

[2016-05-31 22:53] mxab opened #1368 "cannot run two angular2 apps in parallel"
Hi,
just was working on an angular2 app, which I wanted to run on a different port then my other app. Unfortunately the app crashes
You can reproduce it when you checkout https://github.com/Urigo/meteor-angular2.0-socially two times and try to run it

[code]

Then start them both on different ports:
[code]
[code]

the path (here `.../node_modules/rxsj/...`) of the error seems random

In my real us

[2016-06-01 15:41] erperejildo opened #1369 "Things to fix/improve in Angular 1 tutorial"
Hi there! Thanks for this tutorials, there are really useful to learn Meteor  :)

I just finished the Angular 1 tutorial and there are a few parts to fix or improve. These is a list which I've created while I've been doing the tutorial so sorry if some parts are fixed (like > symbol), I started a few days ago:
- Explain at beginning of tutorial mobile development is not ready yet (it'd be in 11.1)

[2016-06-01 18:13] Tallyb commented on #1368
I received a similar issue on angular1 as well. We did not intentionally run 2 apps, but a reboot resolved it, so I am assuming it was similar reason

[2016-06-02 10:09] longxuanho opened #1370 "Using Kendo UI with angular-meteor"
The Kendo UI library requires to include jquery and angular library first in the HTML header as:

[code]

The question is, how can I use kendo UI with angular - meteor framework? Thanks.

[2016-06-02 17:01] mxab commented on #1368
hmm yes, looks like a restart solved this.

[2016-06-02 17:01] #1368 closed

[2016-06-03 00:00] Urigo commented on #1169
@selfrefactor has been assigned to this task.

[2016-06-03 13:19] daslicht opened #1371 "Stuck at Tutorial 4.9, Add addParty method into the component client/imports/parties-form/parties-form.ts"
Hi,
I get the following error shown :

![](http://i.imgur.com/GSDrx0I.png)
[code]

[2016-06-03 13:19] daslicht commented on #1371
What am I missing please?

[2016-06-03 13:24] daslicht commented on #1371
Hm the code in the repo is different to the tutorial :
https://github.com/Urigo/meteor-angular2.0-socially/blob/master/client/imports/parties-form/parties-form.ts

?

[2016-06-03 13:27] daslicht commented on #1371
When i modify the code like the following , I just get a white page :(
[code]

[2016-06-04 15:16] daslicht commented on #1371
I solved the console error :)

I had just ``` <parties-form>``` and not ``` <parties-form></parties-form>```

[2016-06-04 15:16] #1371 closed

[2016-06-04 15:17] daslicht commented on #1371
anyways should be the documentation fixed, shall i do it ? where are the docs to fork please?

[2016-06-04 18:38] #1370 closed

[2016-06-05 06:18] audan2009 opened #1372 "Stuck on A2 Step 3 Tutorial"
I keep getting this error:

W20160605-01:10:01.332(-5)? (STDERR)
W20160605-01:10:01.333(-5)? (STDERR) /Users/Dan/.meteor/packages/meteor-tool/.1.3.2_4.lbyo5v++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:267
W20160605-01:10:01.333(-5)? (STDERR)            				throw(ex);
W20160605-01:10:01.333(-5)? (STDERR)            				      ^
W201606

[2016-06-05 14:03] audan2009 commented on #1372
Problem was Atom auto compiling. Got it work.

[2016-06-05 14:03] #1372 closed

[2016-06-06 09:40] mxab commented on #1362
@sanidkpc this looks similar to the issue I'm having here: https://github.com/Urigo/angular-meteor-auth/issues/22

Can you check if the random stops always occur if `Tracker.active` is already true before you call `this.subscribe(...` ?

[2016-06-06 09:42] mxab commented on #1362
like this for example:
[code]

[2016-06-06 10:00] mxab commented on #1362
@sanidkpc could you maybe provide a list of your `packages` you are using?
And in case the Tracker.active hits, could you also maybe provide your stacktrace at that point to see inside which computation it is currently running in?

[2016-06-07 10:14] Urigo commented on #1371
@daslicht if you want to change the code in the tutorial you can look here on how to do that: https://github.com/Urigo/meteor-angular-socially/blob/master/EDIT_THIS_TUTORIAL.md
Let me know if you need help with it

[2016-06-07 10:15] Urigo commented on #1370
I know it's easy but can you document your solution for others?  thanks

[2016-06-07 10:32] longxuanho commented on #1370
I found the solution here:
http://guide.meteor.com/writing-atmosphere-packages.html

All I need is create an atmosphere package  and put the source code in. Then import using:

[code]

[2016-06-07 12:28] Urigo commented on #1370
why not just import from npm?

[2016-06-07 12:49] ntoka opened #1373 "Whatsapp clone with Meteor and Angular bootstrapping not clear"
Hey, in the Meteor Angular tutorial to produce a Whatsapp clone it is said to include ionic-scripts via Meteor npm. It is not mentioned that there are alot of warning associated with this call:
`npm WARN peerDependencies The peer dependency angular@^1.5.3 included from ionic-scripts will no
npm WARN peerDependencies longer be automatically installed to fulfill the peerDependency
npm WARN peerDepen

[2016-06-07 13:34] pbastowski commented on #1373
With npm 3 or higher ( as it says in the warning ) you will have to `npm install` each dependency individually. Then you will have to `import` each node module individually in your code before it is used.

[2016-06-07 21:13] mariohmol commented on #223
Having same issue.. dont know how to solve it.. looking at the scripts that meteor added in my code i have:

[code]
Is this angular_angular giving the error? but i dont know where it came from... my dependencies are:

[code]

[2016-06-07 21:29] abcd-ca commented on #223
@mariohmol I haven't gotten that error in a long time now but check if you have any duplicate service definitions – like if you have myService1.js and myService2.js but they both internally define myService1 by accident 'cause you duplicated myService1.js as a starter for myService2.js

[2016-06-08 01:05] longxuanho commented on #1370
Kendo UI library requires a lot of CSS, images, and fonts that I can put in a single Meteor packages using:
[code]

I don't know how to do it with npm. It would be nice if you could update the tutorial at http://www.angular-meteor.com/tutorials/socially/angular1/3rd-party-libraries

[2016-06-08 14:50] mariohmol commented on #223
That is a very tiny project.. there is just one service.. and the angular itself has not been included 2 times.. i gues that the error is this angular_angular , but i dont know where it came from..

this is the project, take a look https://github.com/Gambiologia/meteorapp

This repo is basicly a meteor for dummies.. where i explain step by step how to do the enviroment and i would like to have a C

[2016-06-08 19:41] dvdgarcia commented on #996
Hi!

I did this tutorial a few times ago and everything ok, today I started and it seems there is an issue with angular2-meteor-polyfills depenency, I follow steps but this modulo doesn't load properly, I tried to add it manually with npm and it started to work but with some error in console:

Failed to parse SourceMap: http://localhost:3000/packages/547fdeddd5a1d8584f76b2afdac14ed10d216a74.map

I

[2016-06-09 07:55] anymos opened #1374 "trying to follow the upgrade path advised by angular.io to use typescript with angular 1 then adding angular 2"
Following the advice in this page :https://angular.io/docs/ts/latest/guide/upgrade.html

I was trying to add type script to angular-meteor 1.x by using the some typescript compiler without success.

What would be the best course of action to do so, and eventually been able to use angular 1 and angular 2 inside the same meteor app client side at least ?

[2016-06-09 17:05] kamilkisiela commented on #1374
@anymos

You can read ["Migration to Angular2"](http://www.angular-meteor.com/tutorials/socially/angular1/migration-to-angular2) chapter of Angular-Meteor tutorial.

I also made a video about it. You can check it [here](https://www.youtube.com/watch?v=3mtgDq4sB8Y).

Basically, if you want to switch from using raw JavaScript to use TypeScript and some of your controllers and services still use `ng-

[2016-06-09 20:46] mxab commented on #1362
@sanidkpc any news?

[2016-06-10 01:22] anymos commented on #1374
Good morning,

thank you very much for your answer, I did the tutorial so long ago that I didn t know that a part was already there for me regarding this :-) it s a reminder for me of  RTFM ... every month... ahhahaha

anyway, I have a little issue that puzzle me :

W20160610-08:16:38.178(7)? (STDERR) import { Meteor } from 'meteor/meteor';
W20160610-08:16:38.178(7)? (STDERR) ^^^^^^
W20160610-08:1

[2016-06-10 16:54] bhk4 opened #1375 "(offer of help in) Documentation Updates"
First, let me say that, having run through the tutorial, the current information is exceptionally well laid out, and the technical work is amazing.

Beyond that, and without any pejorative meaning or any criticism of the existing content, I would like to offer my assistance in updating the documentation to clarify several grammatically confusing aspects as well as some instructional items that see

[2016-06-10 16:57] bhk4 commented on #1375
PS - I know stackoverflow was a place for questions but this seemed the more appropriate location to me

[2016-06-10 17:41] #1375 closed

[2016-06-10 17:42] bhk4 commented on #1375
moving to meteor docs and submitting via forked pull request

[2016-06-10 20:35] Urigo commented on #1375
do you mean the angular-meteor.com website?
You can create PRs and issues for it here: https://github.com/urigo/angular-meteor-docs

[2016-06-10 22:37] Urigo commented on #1370
makes sense because of the fonts, but know that you can import CSS from node modules with the latest Meteor

[2016-06-11 00:04] mschlosser22 commented on #996
Hi, FYI angular2-meteor-polyfills dependency is also not loading for me either while walking through the tutorial.

[2016-06-11 11:27] pablomoran commented on #996
Getting the same issue using polyfills

[2016-06-11 18:52] JohnBernardsson commented on #1327
Hi, I am still with Meteor 1.3.2.4. These are my observations for source maps in are totally messed up in the following ways:
**Chrome**: When you click on a source file (inside "app" folder with laptop symbol), a different source file appears there.
**Firefox**: Here the source files seem to be correct, however when I set up a breakpoint, the browser never stops there.
**Edge**: I don't see here

[2016-06-12 13:12] berndverhofstadt commented on #996
I've found in [the documentation](https://github.com/Urigo/angular2-meteor#install-package) a way to run the app when getting the error `install.js:78 - Uncaught Error: Cannot find module 'angular2-meteor-polyfills/browser'`

* Install the dependency by running `meteor npm install --save angular2-meteor-polyfills`
* Add `import 'angular2-meteor-polyfills'` to `app.ts` file

Try again to run the ap

[2016-06-13 16:50] nebiljabari commented on #996
same has @dvdgarcia (without error ...yet). Thx @berndverhofstadt
@Urigo Maybe a note on the bootstrap tutorial page until better days ?

[2016-06-14 12:48] showplans commented on #996
I also had to run "meteor npm install --save angular2-meteor-polyfills", without needing the import statement.

[2016-06-14 14:39] yaiceltg commented on #996
+1

[2016-06-14 21:14] mitjade commented on #1367
I had a similar problem when trying to start a new angular2meteor application. I think it has something to do with angular2-meteor-auto-bootstrap. When I followed first 3 steps of the Angular 2.0 Meteor tutorial exactly, I did not get the error, but if I tried to run all "meteor npm install ..." dependencies in one line I got the same error.

[2016-06-14 22:29] Faiz7412 commented on #1363
I tried downloading the project and deploying it on localhost, got the following errors:

[code]

[2016-06-15 16:23] khiewshikai commented on #996
Also had to run "meteor npm install --save angular2-meteor-polyfills", thanks @berndverhofstadt !

[2016-06-16 10:52] mitjade opened #1376 "Angular rc2 breaks dependencies"
When trying to follow Angular 2.0 Meteor Tutorial I get an error when executing:
meteor npm install --save angular2-meteor @angular/platform-browser-dynamic

...
npm ERR! peerinvalid The package @angular/core@2.0.0-rc.2 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer @angular/common@2.0.0-rc.2 wants @angular/core@2.0.0-rc.2
npm ERR! peerinvalid Peer @angular

[2016-06-16 16:31] skjorrface opened #1377 "NgZone error at step 5 of Angular 2 tutorial"
While following your wonderful tutorial about meteor and angular2 I get the following error at the end of step 5:

"Uncaught Error: Cannot find module 'angular2-meteor-polyfills/browser'require @ install.js:85meteorInstall.node_modules.meteor.barbatus:angular2-runtime.client_deps.js @ client_deps.js:1fileEvaluate @ install.js:153require @ install.js:82(anonymous function) @ barbatus_angular2-runti

[2016-06-16 17:00] nanomoffet commented on #1376
I'm getting the same issue trying to install any new packages like the router.

npm install --save gives me missing dependency warnings for both platform-browser-dynamic and router, and meteor npm install errors out completely.

[2016-06-16 17:02] nanomoffet commented on #1377
You can try manually installing

npm install --save angular2-meteor-polyfills

[2016-06-16 17:13] skjorrface commented on #1377
That changed errors for the previous ones to these:

EXCEPTION: Error in /client/app.html:0:0
browser_adapter.js:77 EXCEPTION: Error in /client/app.html:0:0BrowserDomAdapter.logError @ browser_adapter.js:77BrowserDomAdapter.logGroup @ browser_adapter.js:87ExceptionHandler.call @ exception_handler.js:57(anonymous function) @ application_ref.js:301ZoneDelegate.invoke @ zone.js:323NgZoneImpl.inner.in

[2016-06-16 17:53] mitjade commented on #1376
Ups I realised I added this issue on wrong repository. It is relevant to Urigo/angular2-meteor.
Will post issue there.

[2016-06-16 17:53] #1376 closed

[2016-06-16 17:53] mitjade commented on #1376
https://github.com/Urigo/angular2-meteor/issues/300

[2016-06-16 18:39] pwnball opened #1378 "angular 2.0 tutorial impossible on windows 10"
I just started a new project and wanted to give angular2 a swing with meteor. Unfortunately my enthusiasm was swiftly met with disappointment when I learned that even the first angular 2 step in the tutorial stopped me in my tracks.
https://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping

The command :
`meteor npm install --save angular2-meteor @angular/platform-browser-dynamic`
g

[2016-06-16 19:45] pbastowski commented on #1378
Hey Daan. You'd better post this in the angular2-meteor repo, mate :)

[2016-06-16 19:59] pwnball commented on #1378
@pbastowski hey paul! fancy seeing you here ;-)
Thanks for the swift answer, Ill post it there then :+1:

[2016-06-17 07:31] leizard commented on #1349
I met the same issue. `bower install accounts-base-client-side` doesn't work for me.

[2016-06-17 11:03] Gdust commented on #1377
I have this error too

[2016-06-17 15:03] Urigo commented on #996
@berndverhofstadt @nebiljabari @showplans @yaiceltg @khiewshikai or anyone else care to submit a [PR the first bootstrapping chapter](https://github.com/Urigo/angular-meteor-docs/edit/master/client/content/tutorials/socially/angular2/tutorials.socially.angular2.step_00.md) to update with new instructions?

[2016-06-17 21:52] Gdust opened #1379 "Uncaught No provider for PlatformRef! error after step 4"
In browser:
reflective_injector.js:776Uncaught No provider for PlatformRef!ReflectiveInjector_._throwOrNull @ reflective_injector.js:776ReflectiveInjector_._getByKeyDefault @ reflective_injector.js:804ReflectiveInjector_._getByKey @ reflective_injector.js:767ReflectiveInjector_.get @ reflective_injector.js:576createPlatform @ application_ref.js:41MeteorApp.bootstrap @ meteor_app.js:22bootstrap @ b

[2016-06-18 07:53] nickprusov opened #1380 "this command did not finish successfully on Win, meteor version 1.3.3.1 $ meteor npm install --save angular2-meteor @angular/platform-browser-dynamic"
npm WARN peerDependencies in npm 3+. Your application will need to depend on it explicitly.
npm ERR! Windows_NT 10.0.10586
npm ERR! argv "C:\\Users\\nick\\AppData\\Local\\.meteor\\packages\\meteor-tool\\1.3.3_1\\mt-os.windows.x86_32\\dev_bundle\\bin\\\\node.exe" "C:\\Users\\nick\\AppData\\Local\\.meteor\\packages\\meteor-tool\\1.3.3_1\\mt-os.windows.x86_32\\dev_bundle\\lib\\node_modules\\npm\\bin\

[2016-06-19 07:37] mxab commented on #1327
@pbastowski I tried it but I need the ng-annotate feature unfortunately the `babel-plugin-angularjs-annotate` does not seem to work for me.
meteor complains about some es6 keywords in strict mode inside of the annotate plugin, I tried to transpile the code into es5 but then I get strange assertion errors during the process

[2016-06-19 15:12] tprupsys commented on #1377
Same here.

[2016-06-19 17:23] NOaMTL commented on #1377
check [this](https://github.com/Urigo/angular2-meteor/issues/301)

[2016-06-19 17:24] NOaMTL commented on #1379
check [this](https://github.com/Urigo/angular2-meteor/issues/301)

[2016-06-19 17:24] NOaMTL commented on #1380
check [this](https://github.com/Urigo/angular2-meteor/issues/301)

[2016-06-19 19:55] langfors commented on #1379
Note: This is the angular1 meteor repository and this issue appears to be with angular2-meteor.  I reported on what worked for me [here](https://github.com/Urigo/angular2-meteor-auto-bootstrap/issues/10).  Hope this helps - if it does, please leave word here so this issue can be closed.

[2016-06-19 22:17] tprupsys commented on #1377
Yep, so long story short, how to fix this: use the "@angular/router": "3.0.0-alpha.3" (docs @ https://angular.io/docs/ts/latest/guide/router.html).

It's a bit different from the previous versions, so the steps are:
1. _meteor npm install angular/router@3.0.0-alpha.3_
2. Make sure you have _<base href="/">_ in your `<head>`
3. Create a routes file, e.g. app.routes.ts:

`
import 'reflect-metadata';

[2016-06-20 06:04] pbastowski commented on #1327
I'm using my angular-babel package and see no problems with source maps. However, my ng1 code does not actually rely on ng-annotate (because I use angular2-now), so, perhaps it's something to do with that.

What I'm thinking is that ng-annotate may be adding extra lines of code, which then push the line index off by one line. See flow, below

Your code
--> ng-annotate
code with possible extra line

[2016-06-20 09:30] alberthoekstra commented on #1378
Link to the issue pls. I'm having thesame problem.

[2016-06-20 16:11] pwnball commented on #1378
@alberthoekstra https://github.com/Urigo/angular2-meteor/issues/301#issuecomment-226615592

Here you go m8 :)

[2016-06-20 18:19] Gdust commented on #1379
Now I have this errors:
EXCEPTION: Error in /client/app.html:0:0
browser_adapter.js:77 EXCEPTION: Error in /client/app.html:0:0BrowserDomAdapter.logError @ browser_adapter.js:77BrowserDomAdapter.logGroup @ browser_adapter.js:87ExceptionHandler.call @ exception_handler.js:57(anonymous function) @ application_ref.js:301ZoneDelegate.invoke @ angular2-polyfills.js:390NgZoneImpl.inner.inner.fork.onInvo

[2016-06-21 22:31] ferranalvarez commented on #1349
Any progress on this? Have spent some time without success.. I can't fix the  "Accounts.user is not a function"

[2016-06-22 08:07] ittechsathish opened #1381 "How to solve peer dependancy problem with angular 2"
npm ERR! argv "node" "/Users/sathishkumar/.meteor/packages/meteor-tool/.1.3.3_1.1ipmocw++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/bin/npm" "install"
npm ERR! node v0.10.45
npm ERR! npm  v2.15.1
npm ERR! code EPEERINVALID

npm ERR! peerinvalid The package @angular/core@2.0.0-rc.1 does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer @angula

[2016-06-22 11:43] ittechsathish opened #1382 "Lifecycle hooks not called in navigation."
The issue clearly logged by many at https://github.com/angular/angular/issues/4809.

I'm also having this issue in my meteor project. It seems we need to change the order of loading the polyfill files, but I don't know how to fix this in meteor app.

Please help me.

[2016-06-24 10:12] oshmyheliuk commented on #1381
update npm:
`npm install npm -g`

[2016-06-25 05:04] anymos commented on #1374
@kamilkisiela, Good morning, I have investiguated the issue a bit more and it sounds like the problem I am having is when .js and .ts are mixed together.

We have a huge code base, and my plan was to migration to ts some of the part incrementally, keeping other part in js. Which  I imagine would be the way everybody is going to try to do.

The problem is that if you mix js and ts I ve got some iss

[2016-06-25 10:51] kamilkisiela commented on #1382
This should be submitted on [Urigo/angular2-meteor](http://github.com/Urigo/angular2-meteor/issues/new).

You can change the loading order by changing the order of `import` statements or `require` or whatever you're using.
You can also use [`angular2-meteor-polyfills`](http://npmjs.com/package/angular2-meteor-polyfills).

[2016-06-25 11:03] kevinfiraguay commented on #1349
Did you try the solution I suggested? The accounts-base-client-side is clearly missing dependencies since it has been built before meteor 1.3 / angular-meteor 1.3.6 and that's why it doesnt work.

[2016-06-25 14:16] #1374 closed

[2016-06-26 14:33] skjorrface commented on #1377
Thank you @tprupsys and everybody for the clear explanations : - )

[2016-06-26 14:33] #1377 closed

[2016-06-26 15:16] Tallyb commented on #1377
Note, from the route documentation: The RouterConfig is an array of routes that describe how to navigate. Each Route maps a URL path to a component.

**There are no leading slashes in our path.** The router parses and builds the URL for us, allowing us to use relative and absolute paths when navigating between application views.

[2016-06-27 15:20] #1092 closed

[2016-07-04 09:38] asafper commented on #791
Hi,
I'm also getting this exception did any one resolve this ?

[2016-07-04 12:36] ntoka commented on #1341
Is there an official fix to this, @Urigo ? I've seen several issues that describe very similar problem but no official fix, only workarounds ( e.g. https://github.com/Urigo/meteor-ionic/issues/30 , https://github.com/DAB0mB/angular-meteor-whatsapp/issues/12 ). Also - does anyone know whether this issue is also applicable if we're using Ionic CLI instead of Angular CLI?

[2016-07-05 15:21] Jabark commented on #1369
Another one I found:
- 13.4: `return Meteor.users.findOne(owner) || 'nobody';` always returned 'nobody'. I had to add `this.subscribe('users');` to line 24

[2016-07-05 17:13] sebakerckhof opened #1383 "How to use angular-meteor-auth from NPM?"
I gradually want to upgrade our current meteor (1.2) app to ES6 modules and I hope to use as much from NPM instead of atmosphere as possible.
I'm testing out some strategies, but I can't seem to make angular-meteor-auth from NPM working.

Here's a little test repo:
https://github.com/sebakerckhof/ngmeteor13test

If I install angular-meteor-auth from npm and import it like https://github.com/sebake

[2016-07-06 12:25] ArnaudRib opened #1384 "angular-ui-router issue."
Hey guys,

I've tried everything, but still, i'm stuck during the Whatsapp application tutorial :

I had some UNMET PEER DEPENDENCY, which i fixed with sudo meteor npm i [every packages that are imported in app.js].

It worked fine for angular, angular-animate, angular-ecmascript, angular-sanitize.

However, for angular-ui-router, the terminal reads :

$ sudo meteor npm i angular-ui-router

"
what

[2016-07-07 12:25] ntoka commented on #1349
@kevinfiraguay your solution did not help me. Did I understand correctly that you modified accounts-base-client-side/bundle-min.sh script?

[2016-07-07 17:30] acolpitts commented on #1384
+1

[2016-07-07 19:23] ArnaudRib commented on #1384
Hey man!

That's what I did yesterday!
And it seemed to have worked indeed. It is weird because it now reads "Invalid", but still it's working.

Thanks again :).

[2016-07-08 05:02] jerradpatch commented on #749
is publish composite, O(n^3) ? n-collection, n-depth, each node with n-siblings.

[2016-07-08 10:26] idanwe commented on #1349
I released new bundles for accounts-base-client-side#v1.2.8 and accounts-password-client-side#v1.1.11 that fixes the missing functionality.
And now the packages are matching the meteor's origin versions

[2016-07-08 10:26] #1349 closed

[2016-07-09 20:47] kamilkisiela opened #1386 "Fix failing travis build by switching to mocha"
Travis downloads the latest meteor so there's no support for velocity in it.

[2016-07-10 11:32] vimes1984 commented on #1381
[code]

[2016-07-10 11:32] vimes1984 commented on #1381
I have the exact same error and ``` npm install npm -g ``` does NOT fix it..

[2016-07-10 11:40] vimes1984 commented on #1381
[code]

[2016-07-10 13:48] bel3atar opened #1387 "Cannot install angular2-meteor-auto-bootstrap => UNMET PEER DEPENDENCY angular2-meteor@0.6.0"
I am following the guide here [https://www.angular-meteor.com/tutorials/socially/angular2/3-way-data-binding](url).
Reaching the _Binding Meteor to Angular_ step, I fail to run the command to install angular2-meteor-auto-bootstrap.

[2016-07-10 14:08] derencel20 opened #1388 "Error: Cannot install angular-templates."
Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/angular-meteor) for that, or you may want to start a discussion on the [Meteor forum](https://forums.meteor.com/).

Before you open an issue, please check if a similar issue already exists or has been closed before.

### When reporting a bug, please be sure to include the fo

[2016-07-10 14:08] derencel20 commented on #1388
![image](https://cloud.githubusercontent.com/assets/17394978/16714055/cb7a97e0-46ea-11e6-99c7-a91a0dc9e0b9.png)

[2016-07-10 15:25] derencel20 commented on #1388
My bad, is this really the place where I should post this?

[2016-07-10 16:57] Urigo commented on #1388
sorry about that, `angular-template@1.0.5` has been release now

[2016-07-10 16:57] #1388 closed

[2016-07-12 15:22] mariohmol opened #1389 "Errors during angular2-material tutorial"
Hi there,

i'm executing this step from tutorial:

http://www.angular-meteor.com/tutorials/socially/angular2/bind-one-object

But i'm getting this error:

`EXCEPTION: ngFormModel expects a form. Please pass one in. Example: <form [ngFormModel]="myCoolForm">`

To fix this error i had to add lines in parties-details.ts that were not described in tutorial page.

Should have something like that:

* ht

[2016-07-12 15:27] mariohmol commented on #1389
Uhmm.. actually there is a comment for that..
 `To get this to work, you'll also have to make use of FormBuilder inside of the component and build a form model, as we already did for the PartiesForm view in the 4th step.`

There is a snippet before that text showing how to use a form.. shouldnt this have a `(submit)="saveParty(party)"` ?

[2016-07-12 16:44] mariohmol commented on #1389
Unable to resolve some modules: "@angular/router-deprecated/src/lifecycle/lifecycle_annotations_impl" in node_modules/angular2-meteor-accounts-ui/build/annotations.js (web.browser)

In browser shows me `install.js:85Uncaught Error: Cannot find module '@angular/router-deprecated/src/lifecycle/lifecycle_annotations_impl'`

and in terminal

[code]

[2016-07-12 17:12] mariohmol commented on #1389
Related to https://github.com/Urigo/angular2-meteor-accounts-ui/issues/20

Using ` Meteor 1.3.4.4.`and `angular2-meteor-accounts-ui 0.5.1`

[2016-07-12 18:47] #1389 closed

[2016-07-12 19:00] mariohmol commented on #846
Hi there.. where is the repo for tutorial?

[2016-07-12 19:05] Tallyb commented on #846
docs: https://github.com/Urigo/angular-meteor-docs
socially repo: https://github.com/Urigo/meteor-angular2.0-socially

[2016-07-12 19:10] mariohmol commented on #846
i couldnt find a repo for this page.. http://www.angular-meteor.com/tutorials/socially/angular2/bind-one-object

is that on github?

[2016-07-12 19:15] Tallyb commented on #846
see my links above

[2016-07-13 13:47] Ben305 opened #1390 "angular-templates 1.0.5 breaks using html files from local package in an app"
After updating to angular-templates 1.0.5, imports from a local package won't work any longer. I have a meteor package that contains some directives and layout templates and I'm using in a Meteor 1.3.3 app.

I have created a sample repo that can be used to reproduce the issue. Check out
https://github.com/Ben305/AngularTemplatesSample and run it. You will see that the file `layout.html` from a loc

[2016-07-13 14:10] jeroensmeets opened #1391 "use of templatesUrl results in 404"
After updating angular-templates to 1.0.5, every template is 404-ing in my working application. Going back to version 1.0.3 the errors are gone and the application loads correctly.

My templates are grouped by function, e.g.:

[code]

Part of my config:

[code]

[2016-07-13 14:53] Ben305 commented on #1391
Seems to be the same problem like #1390

cc @kamilkisiela @Urigo

[2016-07-13 15:01] jeroensmeets commented on #1391
@Ben305 yes, I know, thx for adding the reference. Your remark is specific for packages and didn't want to take over with a related observation.

[2016-07-13 20:09] thebigbluebox commented on #1387
Here is my package.json and try it and see if it works.

{
  "name": "socially",
  "private": true,
  "scripts": {
    "start": "meteor run"
  },
  "dependencies": {
    "@angular/common": "^2.0.0-rc.4",
    "@angular/compiler": "^2.0.0-rc.4",
    "@angular/core": "^2.0.0-rc.4",
    "@angular/platform-browser": "^2.0.0-rc.4",
    "@angular/platform-browser-dynamic": "^2.0.0-rc.4",
    "angular2-me

[2016-07-14 10:35] malaire commented on #1390
Could this be the reason why ng-include doesn't work in Angular Meteor Tutorial?

https://github.com/Urigo/meteor-angular-socially/issues/123

[2016-07-14 12:57] IvRRimum commented on #1381
@vimes1984 same, did you resolve it ?

[2016-07-14 13:00] vimes1984 commented on #1381
yup I patched node_modules/ng2-material/package.json file with this:
[code]

[2016-07-15 10:14] nazarel commented on #256
@Urigo I cannot speak for @GustavoSaudade, but I am encountering the same issue for the Meteor-Angular1 tutorial. I am on Windows and it's only quite recently (within past 1 month)  that this became an issue.

[2016-07-15 13:06] fpaboim commented on #1390
I'm getting "HTML template does not exists!" too after upgrading. I was still using the old directive style of programming which was default a few months ago :P. Anyone have any ideas?

[2016-07-15 21:48] oswee commented on #1315
Similar problem for me too

[2016-07-16 09:22] ansaries commented on #256
Hi Urigo I am from MEAN background, I also got stuck with the ng-include attribute on the step1 of the socially app... review my code:
https://github.com/ansaries/AngMet.git

note that if i use {{}} braces in the index.html instead of ng-include then it evaluates the expression. which means that angular is running. but ng-include src="'client/main.html'" is not working. I tried all possible quotes

[2016-07-16 16:36] malaire commented on #1344
This doesn't seem to be fixed. Page [1] is still using findOne in helpers.

[1] https://www.angular-meteor.com/tutorials/socially/angular1/bind-one-object

[2016-07-16 20:05] numerized commented on #1387
Amazing! many thanks!

[2016-07-17 12:39] Urigo commented on #1391
we are on it, in the meantime please pin the previous version

[2016-07-18 10:33] davemecha commented on #1390
I have a similar error and wonder if this might be the same or another bug.

In my code, I just imported templates with `import './template.html';`.

Each template was wrapped in a `template` tag

`<template id="testTemplate">[SOME TEMPLATE CODE]</template>`

And I referenced my template by it's id in the component definition:

    .component('myComponent', {
      templateUrl: 'testTemplate',

[2016-07-19 01:59] jakobloekke commented on #90
Hey,

If  you were looking for something  really fantastic  and cool, than you found  it! Just  take a look   <http://follow.nmwconsultant.com/e4pvd>

Warmest regards, jakob@jakobloekkemadsen.com

[2016-07-19 01:59] jakobloekke commented on #135
Hi,
Look what  they have  for you, I  guess it's  worth reading, more info here <http://esteem.treataf.org/e4zoh>

jakob@jakobloekkemadsen.com

[2016-07-19 01:59] jakobloekke commented on #73
Hi,

Just wanted to say hello and wish you a good  day!  By the way,  have you seen that  <http://favor.thechampconsulting.com/e4kobq>

Sent from a prehistoric stone tablet, jakob@jakobloekkemadsen.com

[2016-07-19 01:59] jakobloekke commented on #90
Hello,

I've recently came accross that amazing  stuff, it looks nice I think, ytake a look <http://expert.mumineenfoundation.org/e4rbtsd>

Hugs, jakob@jakobloekkemadsen.com

[2016-07-20 12:03] saanplus commented on #853
Hi @Urigo , this might not be the right place to ask this but i am trying to follow your tutorial http://www.angular-meteor.com/tutorials/socially/angular1/bootstrapping. But somehow `<div ng-include src="'client/main.html'"></div>` is not linking to the angular template file. But if i write the markup directly into the index.html it runs perfectly. Is this a angular-templates pbastowski:angular-b

[2016-07-20 12:24] Urigo commented on #853
@saanplus it's not the place for this, but thanks for pointing that out.
We are aware about this issue and hoping to solve it this week

[2016-07-20 21:44] fidelis commented on #996
Ok, I've read carefully all the steps in this issue, but I cant solve the problem. Can someone help me? I'm trying to study this tutorial http://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping using Cloud9, even following all the instructions I still not able to see the "Hello World" in my browser:
I got those messages:
In console of Cloud9
[code]

And in the inspection of the bro

[2016-07-20 22:18] nebiljabari commented on #996
Can you show us your `package.json` file ?
Your `node_modules` folder have the corrolated dependencies ?

Question: by default Meteor run on port 3000 unless we specified one. Is it you who decided to run on 8080 ?

[2016-07-21 11:19] eric-2d commented on #958
Hello,
I have the same issue and completely unable to resolve it.
I created a demo app with the problem here: https://github.com/eric-2d/meteor-angular-broken-templates

The app was created using a yeoman generator angular-meteor as follow:
[code]

At this point everything runs just fine with the latest version of meteor, all is well.

Now I run
[code]
Then I get the message about template not fou

[2016-07-21 12:28] #1093 closed

[2016-07-21 12:30] #1228 closed

[2016-07-21 12:30] #1357 closed

[2016-07-21 12:31] Urigo commented on #1342
thanks to @dotansimha we now have a full tutorial about this - http://www.angular-meteor.com/migration/angular2/intro

[2016-07-21 12:31] #1342 closed

[2016-07-21 12:32] sirockin commented on #1093
Thanks @Hongbo-Miao

[2016-07-21 13:01] kamilkisiela commented on #1390
@davemecha @Ben305 Should be fixed by #1393

[2016-07-21 13:01] kamilkisiela commented on #1391
@jeroensmeets Should be fixed by #1393

[2016-07-21 13:08] #1390 closed

[2016-07-21 14:19] Ben305 commented on #1390
@kamilkisiela I have another error when using the latest version from GitHub. I have updated my sample project so that you can reproduce the error
https://github.com/Ben305/AngularTemplatesSample

<pre>
=> Started MongoDB.

/Users/Ben/.meteor/packages/ecmascript/.0.4.8.j1oypv++os+web.browser+web.cordova/plugin.compile-ecmascript.os/npm/node_modules/meteor/promise/node_modules/meteor-promise/promis

[2016-07-21 14:52] fidelis commented on #996
meteor --port $IP:$PORT ==> https://socially-fidelis-1.c9users.io (works fine)

pakage.json
`{
  "name": "socially",
  "private": true,
  "scripts": {
    "start": "meteor run"
  },
  "dependencies": {
    "meteor-node-stubs": "~0.2.0"
  }
}
`
tsconfig.json
`{
  "compilerOptions": {
    "experimentalDecorators": true,
    "module": "commonjs",
    "target": "es5",
    "isolatedModules": false,

[2016-07-21 15:10] nebiljabari commented on #996
I think it was what I suspected. You don't have the `@angular2` dependenties in your `package.json`
I suggest you to run (or re-run) : `meteor npm install --save` like indicated in the bootstrap

[code]

And your `tsconfig.json` the `"filesGlob"` array should look like this :
[code]

[2016-07-21 17:44] otporsad commented on #1391
There seams to be a problem with atmosphere package:
[code]

[2016-07-21 18:21] fidelis commented on #996
Thats right I forgot to run this command:

[2016-07-21 18:21] fidelis commented on #996
It's working now, thanks very much!

[2016-07-21 18:45] jeroensmeets commented on #1391
@kamilkisiela @Urigo thanks so much!

[2016-07-21 18:49] Urigo commented on #1391
the newest version is `1.0.6_1`
https://atmospherejs.com/meteor/angular-templates

[2016-07-21 18:49] #1391 closed

[2016-07-21 19:02] lorensr commented on #1342
Oh awesome, thanks @dotansimha – looks great 😊 Sorry I didn't get to this earlier

[2016-07-21 19:28] blongstreth commented on #1390
This bug is still showing up in angular-templates version 1.0.6_1 when used in a Meteor 1.2 stype application with local application packages.  Can this please be updated to work as Meteor 1.2 style application without NPM (meteor-node-stubs), imports, etc...for backwards compatibility?

[code]

[2016-07-21 19:29] lorensr opened #1395 "Docs: "Improve this doc" button doesn't work"
cc @dotansimha

http://www.angular-meteor.com/migration/angular2/intro

![image](https://cloud.githubusercontent.com/assets/251288/17035873/c6c21172-4f57-11e6-8fe1-a71ad95c5eca.png)

[2016-07-21 21:15] blongstreth opened #1396 "angular-templates 1.0.6_1 still breaks using html files from local package in an Meteor 1.2 style app"
This bug (#1390) is still showing up in angular-templates version 1.0.6_1 when used with latest version of Meteor 1.3 but in Meteor 1.2 style application with local application packages.  Can this please be updated to work as Meteor 1.2 style application without NPM (meteor-node-stubs), imports, etc...for backwards compatibility?

[code]

[2016-07-21 21:26] kamilkisiela commented on #1396
#1397 should fix it

[2016-07-21 22:13] #1396 closed

[2016-07-22 06:08] Ben305 opened #1398 "ng-include not working"
This is for @kamilkisiela (as follow up to our discussion yesterday in https://github.com/Urigo/angular-meteor/pull/1397)

It seems that ng-include doesn't work correctly any longer. I have updated my sample at https://github.com/Ben305/AngularTemplatesSample

[2016-07-22 07:53] kamilkisiela commented on #1398
@Ben305 Try to add `/` before `imports/.../...` in ngInclude.

I'm not sure if this requirement of forward slash inside ngInclude is a bug or it suppose to be that way. Correct me if I'm wrong.

[2016-07-22 08:02] kamilkisiela commented on #1390
@Ben305 knows but for others interested in, this has been fixed by #1397

[2016-07-22 08:42] Ben305 commented on #1398
@kamilkisiela There seems to be a breaking change between version `1.0.3` and `1.0.7`

With `1.0.3` ng-include only works without a leading `/` before file name
With `1.0.7` ng-include only works with a leading `/` before the filename

[2016-07-22 08:47] feketegy commented on #1398
Also, I'm running 1.0.7. and still need to manually import the html templates one by one with `import ../imports/components/test.html` ...

Without the static imports the `ng-include` directive doesn't work

[2016-07-22 08:48] kamilkisiela commented on #1398
@feketegy It's in `/imports`, it's lazy loaded by Meteor.

[2016-07-22 08:55] feketegy commented on #1398
@kamilkisiela I missed that, thanks!

[2016-07-22 22:14] #1398 closed

[2016-07-25 08:11] sebakerckhof commented on #1383
@Urigo Any idea?

[2016-07-25 08:34] mxab commented on #1383
@sebakerckhof do you have a stacktrace to the this.autorun not define message?

[2016-07-25 12:52] sebakerckhof commented on #1383
@mxab For some reason the developer tools doesn't give me a stack trace. However, the error originates from this line: https://github.com/Urigo/angular-meteor-auth/blob/master/dist/angular-meteor-auth.js#L90

Anyway, you don't need to do anything special to trigger it. If you just clone & run the repo mentioned above, you should see it directly when you navigate to the running app.

[2016-07-25 12:58] sebakerckhof commented on #1383
Actually, if I manually set a breakpoint I can get a stacktrace:
[code]

[2016-07-25 14:24] kamilkisiela opened #1402 "angular-templates: TypeScript warnings about missing module"
Same as here: Urigo/meteor-static-templates#9

Just to inform people.

[2016-07-25 17:11] tehbmar commented on #256
@Urigo hello, similar to @ansaries I am experiencing the same issues.  I have tried all sorts of combinations but nothing seems to work.  I also can't seem to get the code base as of faf85b1d1b0593573bc268ee948ec4834d7fb7a to even run in meteor.  Should I just move onto the Angular 2 or should I just find a different tutorial?

[2016-07-26 00:29] mxab commented on #1327
any updates on this?

[2016-07-26 04:10] m0ngr31 opened #1404 "Can't have comments on HTML templates"
I just started getting this error tonight:
[code]

It appears as if comments suddenly are not accepted by `angular-templates` anymore? I have comments all over the place, and it's been working fine since I started the project, so I'm not sure what happened.

According to my versions file:
[code]

[2016-07-26 05:18] pbastowski commented on #1327
@mxab Sorry, no. I have been away on vacation most of the past month. I will look into this again next week when I'm back.

[2016-07-27 14:28] abcd-ca commented on #1351
Fixed the `<select>` `ng-change` bug. Added they keyboard plugin and did this, which gives us the 'done' button above the spinner.

[code]

[2016-07-28 06:23] derencel20 opened #1405 "Can't install angular-templates"
![image](https://cloud.githubusercontent.com/assets/17394978/17202936/e5c34a88-54ce-11e6-8074-03ca92df8ecd.png)
It stops midway.

[2016-07-28 10:48] isibz opened #1406 "Uncaught TypeError: data is not an Blob or File in Meteor 1.4"
I'm working with the step 20 of the tutorial angular 1. When i updated the meteor version to 1.4 the functionality to upload an image throws an error:

I don't know if its a problem of the package UploadFS or something inside the tutorial code

thanks,

[2016-07-28 14:13] isibz commented on #1406
Sorry

UploadFS.readAsArrayBuffer() is DEPRECATED -- I close the Issue

[2016-07-28 14:13] #1406 closed

[2016-08-02 14:47] jakobloekke commented on #136
Dear friend!

Just wanted to say  hello to  you  and let  you  know that I found something interesting for you, look at it here  <http://release.918forlease.com/e4uyi>

My Best, jakob

[2016-08-02 15:01] TWKDreamState commented on #136
Above is most likely spam. Beware.

[2016-08-03 13:23] tlambeir opened #1407 "Cannot get FileReader events working with angular-meteor and cordova-plugin-file"
I'm trying to get a base64 encoded string from an image on my android phone using this code

[code]

However the reader.onloadend call is not firing, also none of the other filereader events are bing triggerd.

I've set up my project using the angular2 meteor tuturial step 1: http://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping

After that I added the plugin cordova-plugin-file@

[2016-08-03 15:26] HectorRPL commented on #256
Hello, I'm in bootstraping Angular 1 tutorial and ng-include dont works for me. Next I will put my code:

**client/index.html**
[code]
**client/main.html**
`<p>Nothing here {{ 'yet' + '!' }}</p>`
**client/main.js**
[code]

Note, seem that angular is loaded fine, but for some reason cant it work ng-include like a tutorial explained us
some ideas?

[2016-08-03 17:01] ansaries commented on #256
Just follow the next few steps and it will start working.

[2016-08-03 18:20] tehbmar commented on #256
@ansaries Actually in order to get this to work I actually had to copy all of the versions from the git repo then run
`meteor npm update pbastowski:angular-babel`

I think there are some issues with the template system, meteor 1.4, and angular-babel...

Either way I don't know 100% why it works or the actual issue in the code base, but it worked for me after figuring this out.

[2016-08-04 12:56] Icey88 opened #1408 "Socially Example Unavailable"
Unable to view the Socially example link given in the tutorial located here:
http://www.angular-meteor.com/tutorials/socially

URL in question:
http://socially-step22.meteor.com/

Error:
This site can’t be reached

socially-step22.meteor.com’s server DNS address could not be found.

[2016-08-04 17:17] cesargalindo opened #1409 "Unable to get Socially app working on iOS and Android simulators - stuck on Loading..."
I downloaded the following Socially tutorials on August 4th, 2016.

meteor-angular2.0-socially-step_18
meteor-angular2.0-socially-step_21
meteor-angular2.0-socially-step_22

All the web views work fine when launching with

However when launching the iOS or Android simulators, it appears to get stuck on the "Loading ..." screen. See attached screen shots.
![meteor-android](https://cloud.githubuserc

[2016-08-04 23:27] yuristsepaniuk commented on #256
same issue with meteor 1.4

[2016-08-05 13:06] GustavoSaudade commented on #1408
I have same problem.
I need to start the tutorial, but whithout a example is more difficult.

[2016-08-05 14:07] Urigo commented on #1409
the tutorial was updated and deployed.
Please open another issue if it doesn't work for you

[2016-08-05 14:07] #1409 closed

[2016-08-05 14:08] Urigo commented on #1408
check out this [comment](https://github.com/Urigo/angular-meteor-docs/pull/81#issuecomment-237843386)

[2016-08-05 14:08] #1408 closed

[2016-08-05 14:09] Urigo commented on #1405
there was a problem with certain Meteor release, can you try again please?

[2016-08-05 14:09] #1405 closed

[2016-08-05 14:09] Urigo commented on #1395
fixed and deployed

[2016-08-05 14:09] #1395 closed

[2016-08-05 14:09] Urigo commented on #1395
thanks for the heads up @lorensr

[2016-08-05 14:09] Urigo commented on #1387
the tutorial was updated and deployed.
Please open another issue if it doesn't work for you

[2016-08-05 14:09] #1387 closed

[2016-08-05 14:10] #1382 closed

[2016-08-05 14:11] Urigo commented on #1381
the tutorial was updated and deployed.
Please open another issue if it doesn't work for you

[2016-08-05 14:11] #1381 closed

[2016-08-05 14:11] Urigo commented on #1380
should be fixed with the latest versions

[2016-08-05 14:11] #1380 closed

[2016-08-05 14:11] Urigo commented on #1379
the tutorial was updated and deployed.
Please open another issue if it doesn't work for you

[2016-08-05 14:11] #1379 closed

[2016-08-05 14:12] Urigo commented on #1378
the new fixes were released and tutorial was updated and deployed.
Please open another issue if it doesn't work for you

[2016-08-05 14:12] #1378 closed

[2016-08-05 14:13] Urigo commented on #1367
Should be fixed with latest versions.
If not please create a new issue on the angular2-meteor repo

[2016-08-05 14:13] #1367 closed

[2016-08-05 14:14] Urigo commented on #1363
Please check out this [comment](https://github.com/Urigo/angular-meteor-docs/pull/81#issuecomment-237843386)

@Faiz7412 the tutorial was updated and deployed.
Please open another issue if it doesn't work for you

[2016-08-05 14:14] #1363 closed

[2016-08-05 14:15] Urigo commented on #1361
check out this [comment](https://github.com/Urigo/angular-meteor-docs/pull/81#issuecomment-237843386)

[2016-08-05 14:15] #1361 closed

[2016-08-05 14:17] #1199 closed

[2016-08-05 14:22] Urigo commented on #1383
@sebakerckhof looks like we are using it here: http://www.angular-meteor.com/tutorials/whatsapp/ionic/authentication
does it happen there as well?

[2016-08-05 14:24] Urigo commented on #1383
like, the bundle from `bower` works for you?

[2016-08-05 15:34] yuristsepaniuk commented on #256
solution:

keep tutorial code as it is, except main.js -->

import angular from 'angular';
import angularMeteor from 'angular-meteor';
**import templateUrl from './main.html';**

angular.module('socially', [
  angularMeteor
]);

So what is going on? When we import main.html, It will be embedded into app.js for the client. No import to concatenation for main.html for result bundle.
P.S. Angular is

[2016-08-05 20:31] TWKDreamState opened #1410 "templateUrl in directives/components using the old style syntax."
I have an existing app that I have been working on but I'm coming up with a 404 error on templates. I will eventually upgrade to the modular type environment, but right now I would prefer to continue with my app 'as is' due to time constraints.

Error: [angular-meteor][err][404] client/home/home.view.html - HTML template does not exists! You can disable this error by following this guide http://ww

[2016-08-06 05:29] jvillamor-visp-net commented on #1341
Has there been any fix on this? double tapping in the IOS is very inconvinient.

[2016-08-06 09:41] ghevariyaarjun opened #1411 "pbastowski:angular-babel No metadata files found"
C:\Users\Infizer2\AppData\Local\.meteor\packages\meteor-tool\1.4.0-1\mt-os.windows.x86_32\isopackets\ddp\npm\node_modules\meteo
r\promise\node_modules\meteor-promise\promise_server.js:165
      throw error;
      ^

Error: No metadata files found for isopack at: /C/Users/Infizer2/AppData/Local/.meteor/packages/pbastowski_angular-babel/1.3.6
    at Isopack._loadUnibuildsFromPath (C:\tools\isobuild\

[2016-08-06 10:41] pbastowski commented on #1411
@ghevariyaarjun
Please provide a link to your repo, and then I will have a look at the problem for you.

I need this, because the information you provided above is not enough for me to make an assessment of what has gone wrong.

Also, I think you are running Meteor on windows, am I right?

[2016-08-06 11:57] ghevariyaarjun commented on #1411
yes , i am running on windows 7

my command step by step

1)   meteor create soc
2)   meteor remove blaze-html-templates ecmascript
3)   meteor npm install --save angular angular-meteor
4)   meteor add  pbastowski:angular-babel

i have command fire

that time error fetch

[2016-08-06 12:02] ghevariyaarjun commented on #1411
yes i am used windows

As a meteor project . so , i type

-->  meteor create soci
-->  cd soci
-->  meteor remove blaze-html-templates ecmascript
-->  meteor npm install --save angular angular-meteor
-->  meteor add pbastowski:angular-babel

[2016-08-06 12:06] ghevariyaarjun commented on #1411
C:\Users\Infizer2\AppData\Local\.meteor\packages\meteor-tool\1.4.0-1\mt-os.windows.x
      throw error;
      ^

Error: No metadata files found for isopack at: /C/Users/Infizer2/AppData/Local/.mete
    at Isopack._loadUnibuildsFromPath (C:\tools\isobuild\isopack.js:900:13)
    at C:\tools\packaging\tropohouse.js:520:19
    at Array.forEach (native)
    at Function._.each._.forEach (C:\Users\Infize

[2016-08-06 16:32] pbastowski commented on #1411
The above process works for me on a MacBook with OS X.

Perhaps it's a problem with Meteor 1.4 on Windows. Unfortunately, I don't actually have a Windows machine to try this on at the moment.

[2016-08-09 06:25] hhkk commented on #1387
To clarify/confirm: I had already gotten a project up at the point where I had the issue below.  I copied the package.json file from above and this problem was fixed.

BTW Uri - One thing I found a little confusing in the tutorial in step zero, was the indication to do an NPM install.  I wasn't sure why I wouldn't do "meteor NPM install" (perhaps that question is a personal education issue).  Also

[2016-08-09 08:46] mxab commented on #1327
sorry for being annoying, did you had the chance to look into it @pbastowski ? :)

[2016-08-09 12:28] sebakerckhof commented on #1383
@Urigo Well that's bower in a webpack project... I'm talking about a Meteor project where I'm trying to move away from atmosphere packages as much as possible towards npm packages...

Please see the example repo: https://github.com/sebakerckhof/ngmeteor13test

[2016-08-09 15:41] kamilkisiela commented on #1410
#1412 Should fix it

[2016-08-09 16:13] kamilkisiela commented on #256
@yuristsepaniuk If the `main.html` file contains `<head>` or `<body>` the compiler will use it as the main html file and not as a template so there's no point of importing it.

You can easily just remove `import templateUrl from './main.html'` statement.

[2016-08-09 16:25] TWKDreamState commented on #1410
Brill. Thank you for this. I'll wait for the merge.

I started to move towards 'modularising' my app but this will help a great deal during the changeover.

[2016-08-09 16:25] #1410 closed

[2016-08-09 17:47] DAB0mB commented on #1383
Over here https://github.com/sebakerckhof/ngmeteor13test/blob/master/imports/ui/app/app.component.js#L31 you need to load `angular-meteor` before loading `angular-meteor-auth` since `angular-meteor-auth` is dependent on some `angular-meteor` internals.

[2016-08-09 18:10] sebakerckhof commented on #1383
@DAB0mB Thanks, that indeed seems to solve the issue. However, shouldn't the module dependencies be so that the order in which I put them doesn't matter? I mean if `angular-meteor-auth` specifies all the dependencies it needs.

[2016-08-09 19:26] DAB0mB commented on #1383
@sebakerckhof It actually makes sense because there are some run blocks which should be invoked in the right order. Like, you can't load angular modules without loading angular first, am I right? Same thing for `angular-meteor` and `angular-meteor-auth`, an extension can't be applied without the core library being loaded first. Anyways if that's the issue, I don't find it critical, but whatever @U

[2016-08-09 19:29] sebakerckhof commented on #1383
Okay. I thought angular invoked the run blocks bottum up acvording to the dependency graph, but apparently not. Closing as it's a user error.

[2016-08-09 19:29] #1383 closed

[2016-08-09 22:00] pbastowski commented on #1327
Hi Max. Sorry for not being able to get back to you. I'm really busy with projects and can't find time to investigate this angular-babel package issue.

For the past several months I have been using my typescript package instead. Not that it supports ng-annotate, but, just saying that I haven't been using Babel lately and haven't relied on ng-annotate for a year or so.

Have you tried any of the B

[2016-08-09 23:06] mxab commented on #1327
Yep I tried the package you mentioned (https://github.com/Urigo/angular-meteor/issues/1327#issuecomment-226984077) and I think followed the steps how you described it.

I can try it again and see if anything changed.

Do you use the typescript package on an angular1 or angular2 application, does it work with the ecmascript package or is it an isolated package?

[2016-08-10 04:24] leandrogf commented on #1411
1. Open the prompt and navigate to path: "C:\Users\[USERNAME]\AppData\Local\.meteor\packages\pbastowski_angular-babel\1.3.6\plugin.compileNGScript.os\npm"
2. Execute "npm uninstall meteor" (Remember that Windows not  allow us delete files in very long paths)
3. Delete folder "C:\Users\[USERNAME]\AppData\Local\.meteor\packages\pbastowski_angular-babel". Execute command "meteor update" in your appli

[2016-08-10 12:29] EdineraWeb opened #1413 "Whatsapp Clone with angular-meteor and Ionic step 2.4 helpers"
I have been following this tutorial step by step, and after bypassing the issue with angular-templates, yet I run into another issue. When declaring collections for chats and messages, first of all, Meteor does not load startup function, therefore does not load messages and chats into respective collections.

Yet another issue I have is when trying to bind helper to `this`, I get the error `Unreso

[2016-08-10 13:20] andresespinosapc opened #1415 "Cannot import some libraries"
I have installed dropzone via npm and I can't import it. I use `import {Dropzone} from 'dropzone';`. If I make `console.log(Dropzone)` it logs `undefined`. I've also tried other ways of importing, but I think this should be the right one. I also have issues with libraries that integrate with jquery, using syntax like `$('#myId').libraryFunction()`.

[2016-08-11 00:48] Urigo commented on #1315
fixed in the updated tutorial

[2016-08-11 23:56] sean-stanley commented on #1317
angular meteor auth is not a necessary package as functionality can be easily duplicated either with the $root.currentUser variable in templates or simply use Meteor.userId() in controllers. One caveat is that Meteor.userId() will most likely return undefined on initial page load as it won't be watched reactively. Fix this with this.autorun() wrapper.

[2016-08-12 10:40] jgontrum commented on #1341
Cannot believe that there is no progress on this bug. Is no-one actually using this project for production?

[2016-08-13 10:47] erperejildo opened #1416 "$rootScope"
How can we work with $rootScope and normal $scope in same controller?

[2016-08-13 11:10] erperejildo commented on #1416
Closed, created here:
https://github.com/Urigo/angular-meteor/issues/1238

[2016-08-13 11:10] #1416 closed

[2016-08-13 22:08] erperejildo commented on #1154
I'm struggling to share a rootScope variable between 2 components using angular-meteor. I don't know if you would know how to deal with this @leizard,
I've got 1 component inside another one and I'd like to change and show this variable in any of these components.
I'm using Angular 1 but with typeScript

[2016-08-14 19:33] aaronroberson opened #1417 "Support Angular 2 RC 5 Bootstrap (NgModule)"
Angular 2 Release Candidate 5 contains a breaking change on how the app is bootstrapped. They've introduced `NgModule`. Several of the `ApplicationRef` methods have been deprecated (see https://github.com/angular/angular/blob/master/CHANGELOG.md#bootstrap-changes).

Please update `angular2-meteor-auto-bootstrap` to play well with NG2RC5 and `NgModule`.

[2016-08-15 16:56] sean-stanley commented on #1064
Hey!

I've  seen that interesting stuff recently, you  would  definitely  love it. Just take a look <http://movoltyfre.browsemylibrary.com/lnxjzk>

Yours, Sean Stanley

[2016-08-15 22:30] erperejildo opened #1418 "Proper way to use 2 helpers eachother"
I've got one helper which has data from my collection `Food`:
[code]
And I've got a `ng-repeat` in my view to show this data. One of the fields is `owner` which is the user's id.
I've got another function to get the user avatar with the id (but I'm not sure if the correct way would be a function or another helper):
[code]
In `ng-repeat:`
[code]

Is this the correct way? The result is ok but the `c

[2016-08-18 17:49] ansaries commented on #870
hi everyone...
I have a situation where i have some json files for translations. if I keep them in public folder they load perfectly well. where as if i keep them in any other folder in Client then i dont know why the angular-meteor does not recognise the path.

I tried putting the file in Client/MyModule/i18n/en.json and tried giving the urlTemplate as

`$translateProvider.useLoader('$translatePa

[2016-08-20 08:24] pbastowski commented on #1327
My TypeScript package works along side with the ecmascript package and I use it for both Angular 1 and 2 projects.

However, my TypeScript package can also be used to completely replace Babel and by extension the ecmascript package, which is how I use it at the moment. I can configure it to also transpile both `.ts. and `.js` files. Please note that this is not the same functionality as the TypeSc

[2016-08-21 13:08] kishanmadhesiya opened #1419 "angular-meteor router and ui problem"
After generating apk by using this command:-
meteor build ../apkgen2 --server http://192.168.1.6:3000
i installed my apk in my android phone after installation when i started my app its show the blank ui
![1](https://cloud.githubusercontent.com/assets/16519218/17837308/ce71b970-67cd-11e6-88ce-4af499d796a4.jpeg)
![2](https://cloud.githubusercontent.com/assets/16519218/17837310/d70c38f8-67cd-11e6-81

[2016-08-23 23:30] mackbrowne commented on #1415
Having the same issue with several npm packages.

I've tried ngTagsInput, angucompleteAlt with no success.  The only one I've found that works so far is angular-moment.

[2016-08-23 23:49] mackbrowne commented on #1415
A bit more information here.

First i run `meteor npm install` and get the package I want, in this case its angucomplete-alt.

Then I add `import angucompleteAlt from 'angucomplete-alt';` causing no errors.

Try adding angucompleteAlt to

`
export default angular.module(name, [
    angularMeteor,
    uiRouter,
    angucompleteAlt
  ])
`

This throws a super nasty error linking to [This page](https

[2016-08-24 15:00] pbastowski commented on #1415
Have you tried this?

    export default angular.module(name, [ angularMeteor.name, uiRouter.name, angucompleteAlt.name ])

[2016-08-24 15:29] mackbrowne commented on #1415
Hi @pbastowski , I'll try it right now.  WIll get back to you in a few minutes. But from what I've read that would be the syntax for angular2?  I believe this thread is for angular1

[2016-08-24 15:36] Tallyb commented on #1415
@mackbrowne your problem is on Angular 1, right? (as per the errors).
@pbastowski  response is for Angular 1.

An alternative way might be
[code]

[2016-08-24 15:58] pbastowski commented on #1415
Yes, this is for AngularJS 1.x.  If you want to use module name strings then this is what you need to do

    angular.module(name, [ 'angular-meteor', 'ui.router', 'angucomplete-alt' ])

And `name` must of course hold  your app name.

[2016-08-24 16:15] mackbrowne commented on #1415
@Tallyb you are my hero!  Thank you.  Wasted a day trying to figure this out.

This works.

`
import angular from 'angular';
import angularMeteor from 'angular-meteor';
import uiRouter from 'angular-ui-router';
import ngTagsInput from 'ng-tags-input';

const name = 'sampleComponent';
export default angular.module(name, [
    angularMeteor,
    uiRouter,
    'ngTagsInput'
  ])
`

Is this a bug?  Sh

[2016-08-24 16:24] mackbrowne commented on #1415
@Tallyb @pbastowski, what would you recommend for importing the css from node_modules?  What would be the best practice here?

[2016-08-24 16:30] Tallyb commented on #1415
@mackbrowne  at the top of one of your files (index.js is a good option), just place:
`import 'angular-material/angular-material.css';`
(but note that this is for css only, not files that require pre processing - less, sass).

As for your first question, I belive it is not a bug but an incompatibility on the import / export between AMD (? UMD? require? - I bet @pbastowski  will know better...) and

[2016-08-24 16:39] mackbrowne commented on #1415
I see.  Ahh yes!  I now see where bootstrap is importing the css.  To me this solution feels not quite like the meteor-way.  Again is this just an angular1 issue?  Does angular2 handle this better with meteor?  Npm is great because your usually getting the most up-to-date stuff, but looking at this, atmosphere has its advantages.

[2016-08-24 17:19] pbastowski commented on #1415
@mackbrowne Angular2 does not handle this any better, because, it is not related to angular. @Tallyb is correct in that it is related to the ES6 import statements. "imports" statements are transpiled into JavaScript 5.1 code that makes calls to the module loader (require), which in turn is provided by Meteor. This whole deal with module loaders is a complex thing in itself, if you have a read of t

[2016-08-24 17:27] mackbrowne commented on #1415
@pbastowski you are completely correct, It seemed I had a bit of typo when trying.

And yeah I found an issue on the main meteor repo saying they aren't super happy with how its being handled still.  The issue has been closed and re-opened many times.  Maybe one day it will be fixed, but for now I agree and am happy to just be developing again.

Thanks again!

[2016-08-25 03:36] minhtri9111199 commented on #1220
Hi guys, I had a same issue like that. Please help to solve it.
I use Angular-Meteor version 1.3.6, Meteor version 1.3 with Angular UI Router.
My issue is that:
- When Ctrl + left mouse OR refresh the page, the page reloaded but sometimes it didn't subscribe data from server.
- Then I clicked on other URL (url had been config in router.js), it subsribe data again. All thing was normal.
-----------

[2016-08-25 17:55] mackbrowne opened #1420 "Should I need $scope.$apply() ?"
I'm using a plugin (edgee:slingshot) and to upload files it has a client side method that uses a callback.  I'm familiar with how in vanilla angular, you'd have to call `$scope.$apply()` for the dom to update.  Using `$scope.$apply()` was the only way i could get the dom to refresh `this.question` on the screen.  Otherwise the change will not display in the dom and my ng-show and ng-hide tags in t

[2016-08-26 07:32] #1084 closed

[2016-08-26 12:21] tlambeir opened #1421 "stuck at Extracting angular-templates@1.0.9 after updating Meteor to 1.4.1.1"
When trying to add the angular templates to my meteor project it gets stuk and just keeps spinning at:

**Extracting angular-templates@1.0.9...**

I don't seem to be getting an error.

[2016-08-27 13:17] lednhatkhanh opened #1422 "This project has been canceled?"
- Doesn't work with Meteor 1.4
- Doesn't work with Angular 2 RC5
- The last commit was more than 15 days ago.

[2016-08-27 13:19] Tallyb commented on #1422
August syndrome...

On Sat, Aug 27, 2016, 16:17 Nhat Khanh <notifications@github.com> wrote:

[2016-08-29 18:37] mackbrowne commented on #1422
Working for me...

I've had my growing pains, but this issues section has been ultra-helpful.

Meteor 1.4.1.1 and angular1 here.

I tried the angular2 version a few weeks ago, seemed to work fine.

[2016-08-30 13:40] der-ede commented on #1351
Hi there,

just stumbled across this post. What fixed it for me was to
    meteor remove mobile-experience

since it includes `fastclick.js` which seems to get in the way of Ionic.

Regards

[2016-08-31 09:14] jakobloekke commented on #111
Greetings,

I've read an article on some great stuff, it seems just amazing, please read it  here <http://leltiquipi.nearshoreqa.com/e4xlg>

Regards, jakob

[2016-08-31 09:15] jakobloekke commented on #142
Dear!

I thought you  might like that stuff, just take a look,  it is  really cool <http://rdocynkibe.liang-shi.com/e4orde>

jakob

[2016-08-31 09:15] jakobloekke commented on #113
Greetings,

Look what I've  just found  on the web!  It's so  amazing,  check it out <http://zyndefongi.pin-3.com/e4fnbo>

Sent from my iPhone, jakob

[2016-08-31 09:16] jakobloekke commented on #88
Greetings,

I've read spmething worthy  on the  web and I think this  is a  very good idea for your business, take a look <http://spoxophuse.edschneider.com/e4fja>

Hugs, jakob

[2016-08-31 09:16] jakobloekke commented on #124
Greetings!

Remember you were loooking for these docs? I  've found them  on that  site  <http://chytrangardi.proposeoriamout.com/e4boptyg>

Best Wishes, jakob

[2016-08-31 09:16] jakobloekke commented on #113
Yo!
I've just heard  from a friend about that amazing stuff,  I'm so excited, you've got to take a look <http://fronteprala.lapointeonline.com/e4uqc>
All the best, jakob

[2016-08-31 15:03] sean-stanley commented on #1064
Hi!

Our friend have written  to me  a couple of days ago, they have a surprise for you,  just  take a look <http://frusontipro.amazingwaffles.com/lnxxhwbn>

Sean Stanley

[2016-08-31 17:29] stefanholzapfel commented on #1421
Look at my comment at
https://github.com/meteor/meteor/issues/7688

[2016-09-01 03:49] Hongbo-Miao commented on #1422
@lednhatkhanh

This is Angular1-Meteor place.
If you met any issue, please report at [angular2-meteor](https://github.com/Urigo/angular2-meteor)

[2016-09-01 03:52] Hongbo-Miao commented on #1417
@aaronroberson
I think it is updated to RC5. Check the [readme file](https://github.com/Urigo/angular2-meteor).

Next time, please go to [angular2-meteor](https://github.com/Urigo/angular2-meteor) to report if you met any issue. Thanks

[2016-09-01 04:33] lednhatkhanh commented on #1422
Oh, sorry, gonna close this now.

[2016-09-01 04:33] #1422 closed

[2016-09-06 20:51] jakobloekke commented on #111
Hey friend,

That stuff I  just found on  the web is admirable, you  have to take a  look <http://denkangatre.chrisorrock.com/e4nwro>

Yours, jakob

[2016-09-07 00:31] leosco opened #1423 "Mongo.Collection.get is not a function (Meteor 1.4+, angular-meteor 1.3.11)"
I recently upgraded one of my angular-meteor apps to Meteor 1.4.1.1 and angular-meteor 1.3.11, which is the latest release. Most of my code runs on the angular-meteor 1.2.x API, which is stated in your docs at http://www.angular-meteor.com/api/1.2.0/meteorCollection as "deprecated since 1.3 and will be removed at 1.4". Has the legacy API already been removed before the 1.4 release? If not, does Me

[2016-09-10 05:55] wandyatmono opened #1424 "Meteor 1.4.1.1 thrown error when add angular templates"
/home/xxx/.meteor/packages/meteor-tool/.1.4.1_1.1l5666a++os.linux.x86_32+web.browser+web.cordova/mt-os.linux.x86_32/isopackets/ddp/npm/node_modules/meteor/promise/node_modules/meteor-promise/promise_server.js:165
      throw error;
      ^

Error: ENOENT: no such file or directory, open '/tmp/mt-14c7sa8/os.json'
    at Error (native)

[2016-09-19 20:06] split750 commented on #1411
works great ! Thank you :-)

[2016-09-20 09:49] DriesVandermeulen commented on #1341
Same problem here!

[2016-09-20 10:50] DriesVandermeulen commented on #1351
@der-ede Your my f***ing Hero! Big thank you!

The mobile-experience package includes 3 packages:
- fastclick: avoid the 300ms touch delay
- mobile-status-bar: avoid the status bar information covering up your app content
- launch-screen: cover the app with a launch image so that people don’t have to see things loading

After removing ```mobile-experience``` I have re-added the ```mobile-status-ba

[2016-09-20 10:57] DriesVandermeulen commented on #1341
I have Fixed the double tapping issue by removing the ```mobile-experience``` package. This package includes ```fast-click```

From ionic docs:
```Out of the box, Ionic automatically removes the 300ms delay in order to make Ionic apps feel more “native” like. Resultingly, other solutions such as fastclick and Angular’s ngTouch should not be included, to avoid conflicts.```

The mobile-experience p

[2016-09-20 11:15] der-ede commented on #1351
Ok, you're welcome.

Am Dienstag, 20. September 2016 schrieb Dries Vandermeulen :

[2016-09-23 07:08] inromualdo opened #1428 "https://github.com/bsliran/angular2-meteor-base not work for me."
Can i use meteor angular 2 from scrash. meteor create, install dependencies and so one...

When i clone the repo, meteor npm install end metro, it throws this error: /Users/mac/.meteor/packages/meteor-tool/.1.4.1_1.1h0re2h++os.osx.x86_64+web.browser+web.cordova/mt-os.osx.x86_64/dev_bundle/lib/node_modules/meteor-promise/promise_server.js:165
      throw error;
      ^

Error: ENOENT: no such file

[2016-09-23 08:22] Tallyb commented on #1428
you should open angular 2 meteor issues here: https://github.com/Urigo/angular2-meteor

[2016-09-23 08:23] mxab commented on #1428
@Tallyb actually it looks like the angular2-meteor is merged in this repo

[2016-09-23 09:14] Tallyb commented on #1428
@mxab  - apparently yes, that was the lerna fix...

[2016-09-24 01:45] sean-stanley commented on #1362
I had a similar issue who's solution may be useful. A watcher or autorun would stop updating after I logged in if the component html was controlled by an ng-if statement. I think because we often use ng-if to control user auth access areas of the ui, removing and re-adding the component vs ng-if is disconnecting and closing subscriptions and autorun trackers prematurely. Switching to ng-show worke

[2016-09-25 11:30] kushagraTiwari1 opened #1436 "Stuck on a new project"
I have  started  a new project and and my app is crashing  due to this error:

Errors prevented startup:

While processing files with urigo:static-templates (for target web.browser):
C:\Users\Kushagra\AppData\Local\.meteor\packages\urigo_static-templates\0.1.3\plugin.compileStaticTemplate.os\npm\node_modules\meteor\urigo_static-html-compiler\node_modules\html-minifier\src\htmlparser.js:236:13: Par

[2016-09-25 12:53] #1436 closed

[2016-09-28 00:11] RylanSchaeffer commented on #1373
I'm having trouble installing the last dependency. When I run "npm install angular-ui-router", I receive the following error:

npm WARN ionic-scripts@1.3.2 requires a peer of angular-ui-router@^0.2.13 but none was installed.

Do you know what the problem is?

[2016-09-28 10:39] eliehamouche opened #1437 "Start to Full App tutorial doesn't work at step 0."
Hello

I've been trying to do the first meteor-angular tutorial.
Followed all the steps but I can't finish step 0.
On the browser it's stuck at ...Loading
and I get a console error:

decorators.js:173Uncaught reflect-metadata shim is required when using class decorators

I saw a similar issue that was closed due to an update but this doesn't.
Please help. I really want to learn this but I can't ge

[2016-09-28 11:33] rahulscp opened #1438 "please provide updated tutorial for angular 2 final release with modularity"
please provide updated tutorial for angular 2 final release with modularity

[2016-09-29 11:37] shakealot commented on #1424
I can't even start the Angular2 Socially tutorial. Isn't it compatible with meteor 1.4 ?

[2016-09-30 19:21] kenp77 opened #1440 "Errors prevented startup: Package version not in catalog: blaze 2.1.9"
Hi,

I'm following the Angular 2.0 Meteor Socially app tutorial to create my first meteor application but i get this error message when i run the application :

[code]

I set my proxy in npm and i'm able to install all the package with the meteor npm install.
I just dont understand why i'm still getting this error and how to resolve it.

Thanks

[2016-09-30 20:58] slippyC commented on #1437
Something is wrong with bootstrap.

Here is code from where I posted over at angular2-meteor branch.  Just use this instead in your /client/main.ts file instead for now...

Also you will need to do meteor add barbatus:angular2-polyfills.

`
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { platformBrowserDynamic } from '@angular/platform-

[2016-10-01 05:59] Lim0623 opened #1441 "Doesn't load social icon, angular1 tutorial-step18"
Hi, Thanks for this tutorials.

I'm following the Angular1 Meteor Socially app tutorial. when step18 load to icon of planettraining package, but icon wasn't loaded.
so, I find used icon to this package.
currently, not exist ic_google_24px, ic_facebook_24px, ic_twitter_24px at the plannettraining package
(file name is svg-sprite-social.svg)

[2016-10-03 09:07] sebakerckhof opened #1442 "documentation of $auth is empty"
The 1.3.11 version of $auth gives me a blank page: http://www.angular-meteor.com/api/1.3.11/auth

[2016-10-03 16:58] #1440 closed

[2016-10-03 18:17] mxab opened #1443 "problem with subscribe callbacks and ui-router"
Hi,

we are experiencing that subscribe callbacks are not being called when switching from one state to another that initially calls the same subscription.

For example let's say two controller have this kind of subscription in their constructor

controller:

[code]

in the first state this controller works as expected, `this.state` becomes `READY`. When I switch then into the other state the call

[2016-10-03 21:38] ForsakenHarmony opened #1444 "No compatible binary build found for this package. Contact the package author and ask them to publish it"
[code]

[2016-10-04 12:08] dirklammers commented on #1440
Hello everybody, similar problem to me.

[code]
I am behind a proxy where the websocket protocol is not allowed. Tried to disable websocket for meteor with the DISABLE_WEBSOCKETS=1 environment variable in my .bashrc. Should this work and is this the correct place for the variable ?

Regards

[2016-10-04 14:14] Urigo commented on #870
@ansaries if it's still an issue, please open a separate issue for that, thank you

[2016-10-04 14:32] Urigo commented on #1444
@ForsakenHarmony can you please specify your operating system?

Also what package versions are you using? can you update to the latest `angular2-compilers@0.6.2_1`?

[2016-10-04 14:43] ForsakenHarmony commented on #1444
Yeah, updating fixes it

On Tue, 4 Oct 2016, 4:33 p.m. Uri Goldshtein, <notifications@github.com>
wrote:

--
Sincerely, Tim Ullmann

[2016-10-04 14:57] #1444 closed

[2016-10-04 15:09] Urigo commented on #1437
Hi everyone and sorry for the late response.
We were hard at work for updating to the latest Angular 2.0 stable.
Please try the new `angular2-meteor@0.7.0`, `angular2-compilers@0.6.2_1` and the latest Angular 2.0.

We've update the Socially 2.0 tutorial and the Blaze to Angular 2 migration tutorial for reference - http://www.angular-meteor.com/migration/angular2/intro (Whatsapp clone is on the way

[2016-10-04 15:09] #1437 closed

[2016-10-04 15:37] santiq commented on #1420
Yes you could do that, but there is a better way.

When you perform async operations, you can bind the context of the callback function with $reactiveContext.

For example

[code]

In your case

[code]

[code]

You can read the docs here

http://www.angular-meteor.com/api/1.3.6/reactive-context

[2016-10-05 12:46] kamilkisiela commented on #1438
Done
Urigo/meteor-angular2.0-socially@db14ce0

[2016-10-05 17:10] kamilkisiela commented on #1424
Could you create a repository with reproduction?

I tried to reproduce this issue but no luck.

[2016-10-05 17:11] kamilkisiela commented on #1421
@tlambeir Have you tried @stefanholzapfel 's solution?

[2016-10-05 23:09] Urigo commented on #1438
and deployed - https://www.angular-meteor.com/

[2016-10-05 23:09] #1438 closed

[2016-10-05 23:13] Urigo commented on #1424
We've updated yesterday the Socially 2.0 tutorial to the latest Angular 2.0 stable.
Please try it again with the latest package versions and Meteor versions and if it does not work please open a new issue.
Sorry it took a while.

[2016-10-05 23:13] #1424 closed

[2016-10-05 23:14] Urigo commented on #1421
Looks like it's solved inside and linked issue.
@tlambeir if I'm wrong, please open a new issue, thanks

[2016-10-05 23:14] #1421 closed

[2016-10-06 01:30] Urigo commented on #1428
We've just published new versions that support the latest stable Angular 2.0 and updated the Socially 2.0 tutorial.
Please try it out and open a new issue if you find any

[2016-10-06 01:30] #1428 closed

[2016-10-06 01:30] Urigo commented on #1417
We've just published new versions that support the latest stable Angular 2.0 and updated the Socially 2.0 tutorial.
Please try it out and open a new issue if you find any

[2016-10-06 01:30] #1417 closed

[2016-10-06 18:48] ernestomr87 opened #1446 "I always get this and not that I can do. I work on Windows 10 64bit"
E:\Projects\LearnMeteor\socially>meteor
[[[[[ ~\E\Projects\LearnMeteor\socially ]]]]]

=> Started proxy.
=> Started MongoDB.
=> Errors prevented startup:

While checking for angular2-compilers@0.6.1:
error: No compatible binary build found for this package. Contact the package author and ask them to publish it
for your platform.

=> Your application has errors. Waiting for file change.

[2016-10-07 06:08] ArthurMauricioDelgadillo commented on #1446
Hi, you should use angular2-compilers@0.6.2_1.
Do this:
`
meteor remove angular2-compilers
meteor rebuild
meteor add angular2-compilers@=0.6.2_1
`

You can read more in https://github.com/Urigo/angular2-meteor/issues/410

[2016-10-07 09:43] Mohsen-Malekan opened #1447 "can't get party creator in "Step 13 - Using and creating AngularJS filters""
Hi
the PartyCreator component added in step 13 always return nobody as owner's username and Meteor.users.findOne(owner)
always return undefined. i also grab and run example code from tutorial's link on github and still doesn't work!!!
would you please tell me what's wrong with the code?
tutorial sample code link: [https://github.com/Urigo/meteor-angular-socially/archive/step_13.zip]

[2016-10-07 19:20] mxab commented on #1443
@Urigo with the chance of being annoying, I think this is actually a really horrible bug that can lead to super strange behaviours (e.g. in our app ;) ). any thoughts/ideas would be really appreciated.

[2016-10-08 23:09] henrique-rotava commented on #1437
Same problem here, using `meteor add barbatus:angular2-polyfills` solved the issue.
This package should be added to the angular2-boilerplate repo or it should be mentioned on the tutorial if it is required.

[2016-10-09 20:09] mischkl opened #1448 "Add example using Apollo"
Hi,
was just wondering if folks are keeping an eye on GraphQL/Apollo and if someone who knows what they're doing might be willing to create a demo with Angular 2 similar to https://github.com/apollostack/meteor-starter-kit . There is already a nice Angular 2 Apollo integration package and an example of using it here: https://github.com/apollostack/githunt-angular2, but no demos yet of the complete

[2016-10-10 08:02] sebakerckhof opened #1449 "Release angular-meteor without legacy code"
angular-meteor still ships with all legacy code  (`$meteor` service with `$meteorCollection` etc).
I think a lot of people don't use this old way anymore and would find it useful if they could make their code bundle smaller by having a package which doesn't include this legacy code.

[2016-10-10 23:14] maiardm opened #1450 "angular-templates 1.0.9 does not install>"
Hi! I'm trying to install Meteor w/angular flavor, excluding blaze-templates was OK, but when i try to install angular templates, processing 'stalls' in loop like:

**### H:\Radar>meteor add angular-templates
   Extracting angular-templates@1.0.9...     /**  (for ever).

System / Environment  documentation:

OpSys:  Win10 / 64 bits

H:\Radar>node -v
v6.7.0

H:\Radar>npm -v
3.10.8

H:\Radar>meteor

[2016-10-12 12:38] maiardm commented on #1450
I tried as Normal User and also as Administrator.

Tried too, to install version 1.0.7 from angular-templates with same result.

The problem seems to be in meteor add function (perhaps in update too).

[2016-10-12 21:54] maiardm commented on #1450
Hi! I did a new try:

I uninstalled and reinstalled Meteor (obviously running as Administrator).

Then, again following Meteor Tutorial steps for simple-todos app (but changing the app name to "radar", and home-drive to H:), this time i got a different error:

after submitting the steps:

----------
H:
meteor create radar

cd radar
meteor npm install
meteor

meteor remove blaze-html-templates

met

[2016-10-13 11:08] Urigo commented on #1437
@henrique-rotava do you mean that if you follow step 0 of the tutorial from scratch, it doesn't work?
If so, can you PR the chapter to make sure it has everything that is needed?
also maybe PR the `angular2-boilerplate`?

[2016-10-13 11:11] Urigo commented on #1220
@minhtri9111199 it looks like you are not waiting for the data to arrive from the server to refresh the Angular view, if you still have an issue, please create a new one with a reproduction

[2016-10-13 16:40] Urigo commented on #1450
@maiardm why did you close this? did it work for you?

[2016-10-13 19:19] kenp77 opened #1451 "Step 18 - angular-material : Flex and layout not working"
The 'flex' and 'layout' directives are not working after i followed the 'Step 18 - angular-material and custom Angular auth forms'.
All the layout is missed up and is not displayed like shown in the video Demo ! I followed the tutorial step by step and i also download the zip file but the Flex and layout are not recognized !!

[2016-10-13 19:22] #1451 closed

[2016-10-14 09:30] maiardm commented on #1450
Hi Mr Urigo !

Sorry! I didn´t wanted to close it.
I don´t even know how to close an item.
Perhaps i've done  something wrong, but it wasn't intentional.
Can you reopen it ? Or must i open a new (equal) one?
Again sorry by my newbie mistake.
An thanks for your care.

[2016-10-14 09:33] maiardm commented on #1450
Now I know what i've done (I hit "Close and comment")
But i wanted only to close my comment (not the topic).
It will not happen again.

[2016-10-14 10:02] maiardm commented on #1450
By the way ...
Is there something i can do to help on debugging / solving this problem ? If so, i'm at your service.
Thank You.

[2016-10-14 12:54] mattiLeBlanc opened #1452 "Issue where subscription doesn't become ready due to ui-router preventdefault of route"
Hi,

Context: Angular 1.5 with Meteor.

I have created a 'traffic cop' that handles which states are allowed and which not in UI-router.
On ui-router's `$stateChangeStart`  I do a `preventDefault()` to stop the route transition and then do some checking of the route is allowed. If so, I do another $state.go to the original toState and of it goes.
This works fine, however, I have an issue with a su

[2016-10-14 12:57] mxab commented on #1452
@mattiLeBlanc this may be the same issue as I'm having #1443

[2016-10-14 13:31] mattiLeBlanc commented on #1452
I actually noticed that the flickering is only visible in the SVG icons on the page.
In my header, I see the logo flickering, but I put some text behind it and that doesn't flicker.
However, the text might be rendered quicker then the SVG :-/ ?

[2016-10-14 13:33] mattiLeBlanc commented on #1452
@mxab yes, could be related since I my controller is set in the abstract (parent) state which called again on child state chnage

[2016-10-14 18:16] jalalat opened #1453 "Cannot read property 'current' of undefined"
I upgraded my project's packages to latest versions and got this error.

(anonymous function) @ index.umd.js:21
subscribeEvents @ index.umd.js:2
meteorInstall.node_modules.angular2-meteor.dist.bundles.index.umd.js @ index.umd.js:5
fileEvaluate @ install.js:153
require @ install.js:82
meteorInstall.client.imports.app.app.module.js @ app.module.ts:4
fileEvaluate @ install.js:153
require @ install.js

[2016-10-14 21:55] jalalat commented on #1453
From Firefox's console i got more details about this error:

[code]

[2016-10-14 22:16] jalalat commented on #1453
import 'angular2-meteor-polyfills'; in main.ts resolved the issue.

[2016-10-14 22:16] #1453 closed

[2016-10-15 01:11] mattiLeBlanc commented on #1452
Okay, I have been able to fix the issue by changing my approach a bit. The issue was related to ui-router and angular-meteor and not really angular-meteor's fault I think.

The gist of the fix was that on $changeStart I did a preventDefault (if stateparam `verified` eq false) and then check the the permission for this state, if then allowed I did a $state.go to the state with a stateParam `verifie

[2016-10-15 01:11] #1452 closed

[2016-10-15 10:00] dotansimha commented on #1437
@henrique-rotava I just fixes some issues in the base boilerplate, it should work now.

[2016-10-15 10:16] Urigo commented on #1449
that's a good idea.
I don't to add breaking changes now but maybe a new npm module with just parts of it?

[2016-10-15 10:17] Urigo commented on #1448
@mischkl definitely want to add an example and maybe a chapter to Socially...
Would love some help with that, if someone wants to give it a try, you can contact me directly and I'll help you with everything you need

[2016-10-15 10:18] Urigo commented on #1446
@ernestomr87 is that solved your problem?

[2016-10-15 10:19] sebakerckhof commented on #1449
Sounds good

On Oct 15, 2016 12:16 PM, "Uri Goldshtein" <notifications@github.com> wrote:

that's a good idea.
I don't to add breaking changes now but maybe a new npm module with just
parts of it?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/Urigo/angular-meteor/issues/1449#issuecomment-253975292>,
or mute the thread

[2016-10-15 13:26] Urigo commented on #1446
@ernestomr87 please re-open and tag me if it's not solved for you with the latest versions

[2016-10-15 13:26] #1446 closed

[2016-10-15 20:19] DAB0mB commented on #1443
@mxab  The problem is caused due to Meteor's internals. I'm not sure if this issue existed before, I think Meteor got updated and it broke `angular-meteor`, anyways that's not important. When you create a new subscription Meteor will store it in a hash with a unique ID. Let's say our subscription 'xxx' will be stored with the ID `gjQkNLKi3Chx8y2pZ`. Now let's say you run this subscription inside a

[2016-10-15 20:23] DAB0mB commented on #1443
@mxab Also tell us what do you think and it this worked for you or not.

[2016-10-15 21:10] DAB0mB commented on #1450
@maiardm What happens if you try to run an older version of Meteor? Does it work?

[2016-10-15 21:24] Urigo commented on #1423
the old API should work, we decided not to deprecate it even though it's not the recommended way.
So probably your errors are not related to that.
Can you maybe share a reproduction?

[2016-10-15 21:26] leosco commented on #1423
Haha thanks for responding :)
I ended up migrating to the new API. It does work much better. Great job!

[2016-10-15 21:28] Urigo commented on #1423
ok great, closing for now, if someone get the same error please open a new issue

[2016-10-15 21:28] #1423 closed

[2016-10-15 23:46] maiardm commented on #1450
@
Tried too, to install version 1.0.7 from angular-templates with same result.

The problem seems to be in meteor add function (perhaps in update too).

[2016-10-15 23:47] maiardm commented on #1450
@DAB0mB

Tried too, to install version 1.0.7 from angular-templates with same result.

The problem seems to be in meteor add function (perhaps in update too).

[2016-10-16 08:12] DAB0mB commented on #1450
@maiardm I can't seem to reproduce this problem I will try to help you anyway and tell me which method worked for you. It seems like you have problems extracting the package. Try to follow the solution in the following issue:

https://github.com/meteor/meteor/issues/7689

Meteor uses tar.exe to extract its packages and this guy had a very old version of it. Try to uninstall it or install a newer v

[2016-10-16 08:56] DAB0mB commented on #1447
@Mohsen-Malekan Next time please bring a specific line reference on github because it makes our work harder. If you're not logged in and you create a party then it is supposed to be owned by "nobody", that's normal. In addition if you don't subscribe to the users' data set then the query will result in undefined, of course. Please provide me with more details, what flow causes this problem to happ

[2016-10-16 09:37] Urigo commented on #1420
thanks for the great answer @santiq

[2016-10-16 09:37] #1420 closed

[2016-10-16 09:39] Urigo commented on #1419
@kishanmadhesiya can you please share a reproduction?

[2016-10-16 09:44] #1415 closed

[2016-10-16 10:02] DAB0mB commented on #1418
@erperejildo can you please upload an example repo? Something simple that will reproduce the issue

[2016-10-16 10:03] #1411 closed

[2016-10-16 10:05] Urigo commented on #1407
Please try the `bindToContext` function - https://www.angular-meteor.com/api/1.3.11/reactive-context

Please re-open the issue and tag me if it didn't solve it for you

[2016-10-16 10:05] #1407 closed

[2016-10-16 10:06] Urigo commented on #1404
Can you please try the latest version `1.0.9`?
if it is still not working, please re-open the issue and tag me

[2016-10-16 10:06] #1404 closed

[2016-10-16 10:07] Urigo commented on #1386
fixed

[2016-10-16 10:07] #1386 closed

[2016-10-16 10:11] Urigo commented on #1327
@mxab what's the current status of this?

[2016-10-16 10:35] kishanmadhesiya commented on #1419
Too late but resolved :)

[2016-10-16 10:35] #1419 closed

[2016-10-16 11:41] DAB0mB commented on #1418
I opened a repo which reproduces this problem https://github.com/DAB0mB/ng-meteor-food-issue. Anyone who's willing to take on this issue your'e more than welcome.

[2016-10-16 13:12] DAB0mB commented on #1418
Ok after running the same scenario without using `angular-meteor` it resulted with the same result. I internet is full of issues like these and apparently it's normal, it's just how `angular` works. Any time a digestion loop runs it forces the watchers to update their states, so it depends how many models are bounded to your view, how long your list is, you can read the following article https://d

[2016-10-16 13:31] DAB0mB commented on #1413
@EdineraWeb Make sure you import `angular-meteor` and that you load it using `angular`'s module system, then make sure you use the `$reactive` service which will provide you with the `helpers()` function. It should look like so:

[code]

About Meteor not being loaded, please share your code by uploading it into a repo so I can help you.

[2016-10-16 20:24] maiardm commented on #1450
@DAB0mB You are correct ! I have/had an old version of tar.exe on my path:

[code]

I "replaced" the first one by second an tried again (all over).

This time it was (if i could say) worse, in the sense that the install processing stalled at a point BEFORE the preceding ones:

[code]

Since i'm now using a much newer version of "tar.exe" this was a big surprise for me.

Is there some way of start

[2016-10-16 21:07] maiardm commented on #1450
Well, i searched a bit more and found an old gzip.exe too, replacing it solved this last problem and send me back to stalling on:
[code]
So, we are back at the first step.

[2016-10-16 21:25] mxab commented on #1443
Hi @DAB0mB this was also my assumption why the subscription is not handled like it is supposed to be.

I currently use also the afterFlush workaround if this problem occurs but this creates a lot of boilerplate code for a very common pattern. So this workaround is kind of a last resort
Plus it creates a some extra delay because the subscriptions gets initiated a bit later.

I understand the "subsc

[2016-10-17 05:25] zh-wowtv opened #1455 "How to get count of MongoObservable.Collection?"
I'm wondering how to get count of the MongoObservable.Collection? My collection:

   `export const Parties = new MongoObservable.Collection<Party>('parties');`

I think:

   `Parties.find().count();`

will return a Observable not a number. Am I right? So my code is something like:

[code]

But it seems console.log is never been called. What did I do wrong? Any idea? Thanks.

[2016-10-17 09:22] mxab commented on #1327
@Urigo the issue still exists, currently I disabled js sourcemaps and debugging in the generated app.js

[2016-10-17 09:43] erperejildo commented on #1418
@DAB0mB thanks for your huge answer and explanation!
The url was this one: http://foodapp-88007.onmodulus.net/food (the deploy was another complicated step to figure out).

At the end I understood (or assumed) that I cannot use functions in any loop at all because it doesn't work as expected.

In my case what I tried to use was more related with this:
https://forums.meteor.com/t/proper-way-to-use-

[2016-10-17 09:43] #1418 closed

[2016-10-17 10:05] maiardm commented on #1450
Hi! report from my last try:

1) Reinstalled W10

2) Installed last version of MSys / MinGW found af Source Forge:
**mingw-msys-core-6.1.0-x86**

3) Tried again with same results.

I´m sure that now the last versions of each program from MSys / MinGW is at use, but the problem still occurs.

Does somebody has some idea for any new test ?

[2016-10-17 12:41] Urigo commented on #1449
@sebakerckhof would you want to PR and create something like that?

[2016-10-17 12:50] sebakerckhof commented on #1449
Yeah, I'll look into it later today or tomorrow.

[2016-10-17 13:03] sebakerckhof commented on #1449
Btw, Is there any shared code between the legacy and the new version?
If not, what about splitting it up in 3 projects:
angular-meteor-legacy
angular-meteor-new
angular-meteor => Just a module which depends on the previous 2?

That way it'd be backwards compatible and people can freely choose what they want.
Would also be as easy as removing a dependency if you'd want to remove the legacy by defau

[2016-10-17 13:15] Urigo commented on #1449
that's a good idea.  I don't think that there is a shared code between them.
Could you take a stub in that?

[2016-10-17 13:44] maiardm commented on #1450
Hi Friends,

is there some other way to add angular-templates to meteor environment?

if so, please, where can i find some documentation about that ?

i'm needing to start a small web project, and want(ed) to develop it under meteor/angular/... stack.

but this simple (an very basic) problem, is getting away my best hopes on these packages.

[2016-10-17 15:15] Urigo commented on #1450
just to make sure, is there anyone else who experiences this issue?

[2016-10-17 15:51] maiardm commented on #1450
@Urigo  This one seems to me same problem:

[(https://forums.meteor.com/t/unable-to-add-angular-tempates/30142)]

I registered my case there first and only after some time registered here too.

[2016-10-17 16:42] hakikihacioglu opened #1456 "Getting "clientAddress" of "onConnection""
Hi,

I am a newbie with Angular 2 and meteor, and trying to get the IP address of the client. In the docs of Meteor there is a section

https://docs.meteor.com/api/connections.html#Meteor-onConnection

which explains how to retrieve the client IP with a callback.
I have no idea where and how to call the callback function with Angular 2.

Thank you

[2016-10-17 21:11] sebakerckhof commented on #1449
What do you mean?

[2016-10-17 23:10] knigal opened #1457 "Stuck when trying to switch an angular-meteor project from Atmosphere to npm"
Hi
The repo of our Metoer 1.3 app (an `angular-meteor` one) is [here](https://github.com/mapmelabs/mapme-story-editor)
As a part of upgrading it to Meteor 1.4, we're setting it to pull `angular-meteor` from npm (among other, separate changes).

For unclear reason the changes get the client to throw the following error:

[code]
At first glance the error origin seems to be a missing injection of the

[2016-10-18 05:08] Moonkin-dk opened #1458 "Transforming Collection"
Hi

I can't seem to figure out how to transform a collection or make use of the computation tracker.

I have followed the [tutorial](https://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping) to the point although using my own collections and can't seem to figure this rather simple task. I have two collections, bookclubs and memberships.
Bookclubs
  _id: string,
  club_name: string,

[2016-10-18 09:24] maiardm commented on #1450
New adventures on installing meteor:

i tried to install meteor on two other cpus (with exactly the same results).

One of them (a desktop), is running W10-Home/32Bits

The other is a notebook, running W10-Home/64Bits

Nothing changed, the install process stalls at the same point, at

[code]
So, i'm now absolutely sure that meteor install function(s) have a problem.

[2016-10-18 14:38] dotansimha commented on #1456
First, make sure you aware that `Meteor.onConnection` can run only on the server side of your Meteor application.

You need to register a callback in any of your loaded server files, for example:
// server/main.ts
[code]

[2016-10-18 14:38] #1456 closed

[2016-10-18 15:11] Urigo commented on #1449
like, try it :)

[2016-10-18 15:13] Urigo commented on #1457
I can't see the code.
Have you placed all the files needed to be imported on the `import` folder?

[2016-10-18 15:30] #1441 closed

[2016-10-18 15:41] knigal commented on #1457
@Urigo what do you mean by  'the import folder'? Where would you expect this folder to exist?
afaik all I needed to do is to provide you with access to clone the repo. According to github, the invitation I sent you is still pending. Check for an invite from `mapmelabs`

[2016-10-18 15:45] Urigo commented on #1457
@knigal please read this whole article - https://guide.meteor.com/1.3-migration.html step by step first.

[2016-10-18 15:48] maiardm commented on #1450
Hi!

The install loop of node/meteor install process occurs on the first instance of tar.exe (PID 8456): node´s direct child.

During loop, i ended manually, first gzip.exe (PID 2624) and then the second instance of tar.exe (PID 8576), but the message "Extracting...." still remained showing (blinking).

Only when I killed the first instance of tar.exe (PID 8456) the exibition of loop messages stop

[2016-10-18 16:04] knigal commented on #1457
@Urigo
Seems I'm not quite following the problem. Just so I know where we stand - were you able to clone the repo?

Note that I've read the migration instructions you reference. But let me clarify first: you wrote `import folder` - did you mean `imports`?

If so, take into account that we've knowingly haven't switched the file structure yet to the one required by 1.4 because it's a nontrivial task

[2016-10-18 16:09] Urigo commented on #1457
if you read the doc you would see that the reason is because that the `imports` folder works exactly like the `npm_modules` folder in terms of load order.
If you want to bring something from npm and the import it and that it will be loaded before another code you import, you have to import the other code as well which means putting in the the `imports` folder.
otherwise, how could Meteor know whic

[2016-10-18 16:29] knigal commented on #1457
ok I understand where you're getting at.

We've structured the app in such a way that it's a bit of hybrid of the two file loading approaches. Thanks to backward compatibility with the `/client` and `/server` folders, this works.
As such, according to Meteor's legacy file-loading order spec (which should still work - right?) the `/client/scipts/lib/lib/app.js` should be loading first, and that fil

[2016-10-18 19:06] vacarsu commented on #1455
```Parties.cursor.count()```

[2016-10-18 21:47] DAB0mB commented on #1447
The issue is also presented here https://github.com/Urigo/meteor-angular-socially/issues/136 so no need to duplicate it.

[2016-10-18 22:00] sebakerckhof commented on #1449
Ow yeah sure :) (running behind schedule though).
Do you think it's better to split the projects here: https://github.com/Urigo/angular-meteor/tree/master/packages or inside the current `angular-meteor` folder ( https://github.com/Urigo/angular-meteor/tree/master/packages/angular-meteor ) ?

I'd prefer the first, since the `angular-meteor` folder is currently a mix of old an new code inclusive old

[2016-10-18 22:52] Urigo commented on #1449
I agree that it's a good idea to split them up into folders, but still I want it to be under `angular-meteor` and keep the top separation between Angular1 and Angular2

[2016-10-19 10:44] parthleo10 opened #1459 "issues with client/init.test.ts - has no exported member TEST_BROWSER_DYNAMIC_PLATFORM_PROVIDERS and TEST_BROWSER_DYNAMIC_APPLICATION_PROVIDERS"
I am using angular2-meteor@0.7.0.
meteor@1.3.
When I run "yarn", I get these following errors : (FYI: npm install == yarn)
client/init.test.ts(6,3): error TS2305 : Module "node_modules/@angular/platform-browser-dynamic/testing/index" has no exported member **TEST_BROWSER_DYNAMIC_PLATFORM_PROVIDERS**
client/init.test.ts(6,3): error TS2305 : Module "node_modules/@angular/platform-browser-dynamic/tes

[2016-10-19 12:40] maiardm commented on #1450
Hi! good news ! ... (?)

i tried to install older versions from angular-templates package, in a backward search, and finally, at 1.0.3 it worked !!!

[code]
So the problem (for me), started at 1.0.5 and exists until now.

But i'm now very glad because i got to confirm without any questions: the problem is outside, not in my cpus / oses / envs and so.

Well, lets start to work with 1.0.3 and wait f

[2016-10-19 20:33] Mohsen-Malekan commented on #1447
@DAB0mB thans for the reply
i was logged in two different accounts from two browsers and create a public party with each account,
the newly created party was added to the party list but the printed owner 's name of that party was 'nobody' in other account's list.

![image](https://cloud.githubusercontent.com/assets/8078998/19536368/91bba946-9658-11e6-8a54-9d665675a3b4.png)

[2016-10-20 07:24] maiardm commented on #1450
It doesn't works !

Running angular-templates@1.0.3 with tutorial code adjusted to 1.0.9 doesn't works.

All i get is a nice blank page on browser.

No errors, no warning messages on either side, just a blank page on browser.

[2016-10-20 20:48] mmazloum opened #1460 "Angular2-meteor doesn't work inside a ionic2-rc project."
Hi,

I'm trying to use angular2-meteor inside an ionic2-rc project, the package bundler they prefer is rollup but I get lots of error just when I try to

`import {METEOR_PROVIDERS} from 'angular2-meteor';`

My try was to do like the whatsapp2 toturial but I ran into lots of errors like those :

[code]

[2016-10-21 11:21] Urigo commented on #1460
yes we are aware of this issue, this is why only the 2.0 WhatsApp tutorial with the Meteor CLI is working and the Ionic CLI is not updated yet. (https://www.angular-meteor.com/tutorials/whatsapp2/)
We are not the only ones with this problem so Ionic is working on a new version to fix this and then we will update the tutorial and make it work

[2016-10-21 13:17] mmazloum commented on #1460
Cool I'll try form the socially-ionic example then.

however the whatsapp2 and angular2 socialy projects enable me to do lots of cool things ;-)
thanks a lot for your work.

[2016-10-23 09:17] DAB0mB commented on #1459
Hello @parthleo10 thank you for submitting this issue. Can you upload your project to [github](github.com) and provide a link to it? To begin with you can post your `package.json` configuration and upload your project later on. Also, I suggest your'e using windows OS right? Make sure that all `angular2-meteor` peer dependencies are installed. Try to update your Meteor version to 1.4.0, it might se

[2016-10-23 09:53] DAB0mB commented on #1458
Hello @Moonkin-dk thank you for submitting this issue. First, for the sake of simplicity here is a refined version of the piece of code you provided:

[code]

You can read more about syntax highlighting [here](https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet#code).

The concept of a transformation function is very straight forward, once you fetch the result of the cursor and the do

[2016-10-23 10:03] DAB0mB commented on #1457
@knigal I haven't seen your project but I suggest that you put a debugger right before you load `angular-ui-router`'s ng1 module into your app's ng1 module to see if it is defined. This way you can be sure if the importations were done correctly or not.

[2016-10-23 13:45] #1402 closed

[2016-10-23 13:48] #1200 closed

[2016-10-23 16:51] DAB0mB commented on #1447
@Mohsen-Malekan The problem was that the PartyCreator component did not subscribe to the 'users' dataset, thus it couldn't interact with any other user beside yourself.

[2016-10-23 18:22] DAB0mB commented on #1442
@sebakerckhof Thank you for submitting this issue, hopefully the fix will be deployed this evening.

[2016-10-23 19:30] DAB0mB commented on #1384
@ArnaudRib A peer dependency is a dependency that is required by another package to be installed directly in your project. If a peer dependency is not installed your your application will still start, but it is not guaranteed to run properly. The peer dependency your'e currently looking at is required by `ionic-scripts` which means that it haven't been updated for quiet a while.

[2016-10-23 23:34] #1442 closed

[2016-10-23 23:34] #1447 closed

[2016-10-23 23:38] Urigo commented on #1341
Fixed and deployed.
Please open a new issue if the new explanation on the tutorial is not working for you.
thank you so much @DriesVandermeulen

[2016-10-23 23:38] #1341 closed

[2016-10-23 23:38] Urigo commented on #1447
deployed

[2016-10-23 23:38] Urigo commented on #1442
deployed

[2016-10-24 10:57] DAB0mB commented on #1384
@ArnaudRib I just released a new version of `ionic-scripts` and the problem should be fixed. @Urigo this issue can be closed.

[2016-10-24 11:04] DAB0mB commented on #1373
@ntoka Like mentioned above, install each peer dependency individually and then import them.

    $ npm install angular --save
    $ npm install angular-sanitize --save
    $ npm install angular-animate --save
    $ npm install angular-ui-router --save

@RylanSchaeffer I just released a new version of `ionic-scripts` so the problem is no longer exist.
@Urigo This issue can be closed I believe.

[2016-10-24 13:13] sosnet commented on #1460
Is this related to **Webpack**? As they published a beta that's include it again: https://forum.ionicframework.com/t/help-us-test-webpack-support-in-ionic-2-app-scripts/67507

[2016-10-24 15:27] mmazloum commented on #1460
Thanks for the hint i'll try and give feedback here, did you try already ? I'll also need to try by adding ionic2 to a meteor angular2 project since I find the Meteor-Angular2 structure very interesting to.

The thing Is that I use a separate meteor server that I connect through DDP to my app, so my Mongo collections are declared differently and I use the DDP object.

[2016-10-24 20:42] sosnet commented on #1460
Maybe @Urigo can have a look on this beta, perhaps an update of meteor and the tutorial is already possible. :+1:

[2016-10-24 23:12] Urigo commented on #1384
great.
please open another issue if the problem persist

[2016-10-24 23:12] #1384 closed

[2016-10-24 23:13] Urigo commented on #1373
thanks @DAB0mB
if for someone the new tutorial is still not clear please open another issue

[2016-10-24 23:13] #1373 closed

[2016-10-25 01:26] Dominic-Damoah commented on #1040
Very useful explanation. thanks so much. saved me a lot of time

[2016-10-25 08:53] DAB0mB commented on #1369
@erperejildo Here's the status:

##### 3.16
    I couldn't work with `urigo:static-templates`, the view always was white (but with no problems), even downloading the next step zip.

  The view is white since there is no data to present unless you add some new data. Simply insert a new party document to the Parties collection.

##### 6.1
    We have to remove all parties which we added from console

[2016-10-25 08:54] DAB0mB commented on #1369
@Jabark The issue is already fixed.

[2016-10-25 09:59] DAB0mB commented on #1317
@eorengo I fixed this problem not a long ago, the use of bower is deprecated so we make a full use of npm instead. Can you please tell me if the issue is fixed?

[2016-10-25 10:27] DAB0mB commented on #1450
@maiardm Unfortunately I can't seem to reproduce the issue, you can contact me in the email address listed in my Github account and we can do a video chat where you can show me the issue. Hopefully it'll help :-)

[2016-10-25 10:40] jalalat commented on #1455
I use Counts within my Pub:

Meteor.publish('commentCountPub', function(userId: string) {
    Counts.publish(this, 'commentCount', Comments.find(buildQuery.call(this, userId)).Cursor());
});

[2016-10-25 12:44] dotansimha commented on #1455
You can either use:
[code]
As @vacarsu suggested.

If you think it should be part of the ObservableCursor API, please open an issue in https://github.com/Urigo/meteor-rxjs/

[2016-10-25 12:44] #1455 closed

[2016-10-25 20:57] #1457 closed

[2016-10-25 21:10] knigal commented on #1457
I'm closing this issue because it seems like it's going down an unsupported/uninteresting trajectory. I've ended up switching to npm/angular-meteor by:

1. Changing the app structure according to https://guide.meteor.com/structure.html
2. Replacing atmosphere meteor packages with their npm equiv (or downloaded them into the `compatibility` folder)

After mudfighting the repo for a few hours everyt

[2016-10-26 09:54] dotansimha commented on #1459
@parthleo10
Do you use the angular 2 boilerplate ? because the tests did not work there and we fixed it few days ago. can you try the latest version?

[2016-10-26 15:16] maiardm commented on #1450
@DAB0mB Perhaps i got a light at the end of this dark tunnel !

I removed / reinstalled node (7.0.0 now), and meteor.

By chance i tried to install meteor without admin privileges. Then the meteor install process tried to create/install modules on a directory with my OLD userid (i reinstalled windows a few days ago), not under the actual userid.

My old userid WAS "Ricardo Maia" (with a space betw

[2016-10-26 20:35] wilcraig commented on #18
Yeah I'm struggling to find unit testing tools as well for angular meteor as a lot of tools seem to have been deprecated with meteor's new testing guidelines, but it's not easy to set up or test things on angular meteor. I would say Jasmine is pretty popular, and just getting some unit testing running with Jasmine and side-by-side test files within angular meteor would be huge.

[2016-10-27 04:10] Tallyb commented on #18
Probably your best bet will be mocha, so you can test both client and server

[2016-10-27 06:57] maiardm commented on #1450
Let me tell one more thing:

When I was "Ricardo Maia" at my former W1 installation, i remember that i saw a "paralel" directory under C:\Users

It was "Ricardo%Maia". At that time i didn't understand what it was and where did it came from. Then i didn't care about that. But now it is very clear: something (Node/Meteor install process) has created it (instead of using "Ricardo Maia").

This now ex

[2016-10-27 20:14] Urigo commented on #1351
Fixed and deployed.
Please open a new issue if the new explanation on the tutorial is not working for you.
thank you so much @DriesVandermeulen

[2016-10-27 20:14] #1351 closed

[2016-10-27 21:08] der-ede commented on #1351
And thx again @Urigo for the angular-meteor package.

[2016-10-27 22:21] wilcraig commented on #18
Thanks @Tallyb. We've got mocha integrated now, and just working to get everything working. Some examples of how to test controllers and services using ng-mock and chai with mocha would be helpful and appreciated. If it doesn't get done by the time we figure it out we'll probably try to contribute to the project with some sort of tutorial

[2016-10-28 00:10] jeffchiu605 opened #1461 "Issue running with Angular Meteor"
Hi. Hi! I'm trying to install Meteor w/angular flavor, but when i try to install angular project, processing 'stalls' in loop like:

Unable to resolve some modules:

If you notice problems related to these missing modules, consider running:

npm ERR! addLocal Could not install /Users/jchiu/Downloads/meteor-angular-socially-master/@angular
npm ERR! Darwin 16.1.0
npm ERR! argv "/Users/jchiu/.meteor/

[2016-10-28 03:29] Urigo commented on #1461
what are the steps that you are following?
can you share your repo?

[2016-10-28 16:09] ekhmoi commented on #1460
+1 waiting for update

[2016-10-28 17:34] lleoooell commented on #1341
hello;

still does the bug for me even after removing mobile-experience ;(

[2016-10-28 18:02] Urigo commented on #1341
@lleoooell can you please share your repo?

[2016-10-28 18:15] jeffchiu605 commented on #1461
Here's my Github repro and the issue: https://github.com/jeffchiu605/meteor-angular-socially-master/issues/1

[2016-10-30 09:41] DAB0mB commented on #1461
@jeffchiu605 Look what I replied here https://github.com/Urigo/meteor-angular-socially/issues/142

[2016-10-30 19:22] Urigo commented on #1460
it looks like it can work now but I must say, all those breaking changes are too much for us right now (and also not fair for the community).
We will wait for a few more RC releases and then update the tutorial.
If someone wants to try in the meantime, we will help and support you (you can contact me directly on my Github profile)

[2016-10-30 19:40] Urigo commented on #1413
@EdineraWeb I'm closing for now, please open a new issue if the updated tutorial is not working for you

[2016-10-30 19:40] #1413 closed

[2016-10-30 19:43] Urigo commented on #1317
please open a new one if the new package do not work for you

[2016-10-30 19:43] #1317 closed

[2016-10-30 19:45] Urigo commented on #1369
thank you for the great feedback @erperejildo and @Jabark !

[2016-10-30 19:45] #1369 closed

[2016-10-31 17:16] jollysean opened #1465 "Calling global JS functions from meteor template functions"
Is there a possibility to call global javascript variable/functions from inside template function?
I am planning to transform an existing app in meteor, where  a Layout.init() is called upon ```
`
..
import template from './header.html';

class HeaderControllera {
	  'ngInject';
   constructor($scope,$reactive) {
$scope.$on('$includeContentLoaded', function() {
   Layout.init();
}
})
.
.
`
`

[2016-10-31 21:31] Eraldo commented on #1448
+1
I too would love to have some kind of full fledged sample application.
(ideally also adding more of the useful stuff like 'astronomy' etc)

[2016-11-01 06:41] #1450 closed

[2016-11-01 06:47] Urigo commented on #1450
I hope you end up solving your problem...

[2016-11-02 17:06] dotansimha opened #1466 "css-compilers fails when there is an empty scss file"
Related to:
https://github.com/Urigo/angular2-meteor/issues/430
https://github.com/Urigo/angular2-meteor/issues/427

If there is an empty `.scss` file, or a file with empty definitions (which probably removed in the SASS compiler) - the compilers fails and throws an error.

In order to reproduce again the bug - must `meteor reset` and run again.

@barbatus

[2016-11-02 17:47] dotansimha commented on #1459
@parthleo10 just verified it again and it looks like it works.
Please re-open if you still having issues.

[2016-11-02 17:47] #1459 closed

[2016-11-02 17:57] dotansimha commented on #1192
I think we can close this issue, since Meteor supports now `.babelrc` (https://github.com/meteor/meteor/issues/6028) and we can solve the issue with the decorators :)

[2016-11-02 17:57] #1192 closed

[2016-11-02 20:31] MichaelSolati opened #1467 "Adding Components throws error `Cannot find module` - Angular 2"
### When reporting a bug, please be sure to include the following:
- [x] A descriptive title
- [x] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the problem)
- [x] What version of `angular-meteor` you're using, and the platform(s) you're running it on
- [ ] What packages or other dependencies you're using
-

[2016-11-03 02:03] MichaelSolati commented on #1467
Still using barbatus polyfills and runtime (Atmosphere packages), my bad!

[2016-11-03 02:03] #1467 closed

[2016-11-03 13:19] xylys opened #1468 "Cant build angular2-meteor app"
When I try to build my angular2-meteor app I get the following error

While processing files with angular2-compilers (for target web.browser):
/tools/isobuild/compiler-plugin.js:717:15: 'data' option to addAsset must be a Buffer or String.
at ResourceSlot.addAsset (/tools/isobuild/compiler-plugin.js:717:15)
at InputFile.addAsset (/tools/isobuild/compiler-plugin.js:482:24)
at SassCompilerExtended.a

[2016-11-03 14:32] dotansimha commented on #1468
It's a duplicate of  https://github.com/Urigo/angular2-meteor/issues/430 & https://github.com/Urigo/angular2-meteor/issues/427.

There is an open issue (https://github.com/Urigo/angular-meteor/issues/1466) that we will fix soon.

[2016-11-03 14:32] #1468 closed

[2016-11-03 19:25] dotansimha commented on #1460
You can use Ionic 2 rc1, with Webpack and custom build, more info here: https://github.com/idanwe/meteor-client-side/issues/31#issuecomment-258114398

Closing it since it's now possible to use both together, soon the tutorial will be deployed (at the moment, it's updated code is available in https://github.com/DAB0mB/ionic2-meteor-messenger/tree/step-by-step-new)

[2016-11-03 19:25] #1460 closed

[2016-11-03 22:49] maiardm opened #1469 "Error at meteor startup (inside static-html-compiler)"
Hi! i'm trying to run (again) meteor tutorial  (angular version)  of simple-todos app, but now i'm getting back errors messages from "packages/urigo:static-html-compiler/build/src/index.js".

[code]

I tried also run **socially tutorial**, with similar results before this.

I'm running the original code from tutorial files (no changes introduced), on a simple step by step proceeding.

A few days a

[2016-11-03 22:55] sosnet commented on #1460
Can we get notified here when the tutorial is updated?
Thanks for the code @dotansimha, I'll have a look into it tomorrow!

[2016-11-04 04:48] Urigo commented on #1469
@maiardm that tutorial is not updated and I'm not recommending to use that, please try the Socially tutorial which is updated - https://www.angular-meteor.com/tutorials/socially/angular1/bootstrapping

[2016-11-04 04:48] #1469 closed

[2016-11-04 04:51] #1206 closed

[2016-11-04 04:53] Urigo commented on #1461
fixed [here](https://github.com/Urigo/meteor-angular-socially/issues/142)

[2016-11-04 04:53] #1461 closed

[2016-11-04 04:54] Urigo commented on #1465
@jollysean can you provide that example in a repo?

[2016-11-04 11:28] dotansimha commented on #1460
The tutorial is ready and in PR: https://github.com/Urigo/angular-meteor-docs/pull/284
@Urigo will soon merge and deploy to angular-meteor.com :)

[2016-11-04 18:19] Urigo commented on #1460
merged and deployed!
amazing work @dotansimha !

[2016-11-05 05:34] jollysean commented on #1465
Here is a test repo. [https://github.com/jollysean/testmetang/blob/master/imports/components/tpl/header.js](https://github.com/jollysean/testmetang)

Line:12 imports/components/tpl/header.js
$window.Layout.initHeader();

$window is unable to access global variable Layout. Is there a way in Meteor to access global vars from template controllers?

[2016-11-05 17:35] vinhhungle opened #1470 "Got error running meteor build ./build/"
Hello,

I'm following meteor angular 2 tutorial, after install npm packages and start server successfully.
I've tried to build using command meteor build ./build/ but I got the below errors.

[code]

Also, when I try to run in production mode it also failed:

[code]

[2016-11-06 10:55] dotansimha commented on #1470
Caused by https://github.com/Urigo/angular-meteor/issues/1466.

Closing the issue, please track it there, you can also find there workaround in the meantime.

[2016-11-06 10:55] #1470 closed

[2016-11-07 21:25] ayazhussein commented on #1466
I'm getting this error even without any scss/css files. i tried meteor deploy and meteor --production

[2016-11-08 13:14] mxab commented on #1465
@jollysean meteor wraps files in function
[code]
will only be visible in that file, either make

[code]
but do you use Layout outside of the angular world at all? Otherwise just go for the angular DI approach
[code]

[2016-11-08 13:46] sosnet commented on #1460
Hey @dotansimha. Thank you again.
I started with the tutorial and I'm at the end of Step 2 (https://www.angular-meteor.com/tutorials/whatsapp2/ionic/chats-page)
Unfortunately I'm getting an error in the console saying **Cannot find module "../pages/chats/chats"**
When I try **ionic run** I'm getting the error  _Cannot find name 'Chat'_. Seems like there is an error with including those models with

[2016-11-08 14:52] DAB0mB commented on #1465
@jollysean I just don't understand your dilemma since you can just turn Layout into a module and import it:

[code]

Shouldn't that work for you?

[2016-11-08 16:19] apatryda opened #1471 "Can't @import a .scss file in a .sass file"
When having a client/main.sass file it is impossible to import .scss files from it.

For instance:
`@import '{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap'`

fails with the following error:

/client/main.sass: Scss compiler error: File to import:
{}/node_modules/bootstrap-sass/assets/stylesheets/bootstrap not found in file:
.../{}/client/main.sass`

Adding .scss to the path or prefix

[2016-11-08 16:44] sdarnell commented on #1471
As a work-around, you could use relative pathnames:
[code]
I use that approach because my editor doesn't understand the magic '{}' syntax.

[2016-11-08 22:21] erperejildo opened #1472 "Creating new component"
I'm using angular 1.x and I'm trying to create a new component in my app. I still struggling with this after a few hours...

I've got a component called `plateEdit `and another different one `photo`. In both I need to repeat a block of code (also in the view) so I decided to create a third component called `edition`.

So I create another folder in my folder component called `edition` with `edition

[2016-11-09 05:17] dotansimha commented on #1471
@sdarnell is right, use relative path :)

[2016-11-09 05:17] #1471 closed

[2016-11-09 05:23] dotansimha commented on #1460
@sosnet, can you share you repo so I can take a look at the error?

Also, the Step 1 is really critical because Ionic 2 uses Rollup (with es2016 modules), and in this step we replace Rollup with Webpack and CommonJS modules.

[2016-11-09 05:29] dotansimha opened #1473 "Race condition when publishing selected fields from collection that contains more fields on .insert()"
_From @slippyC on September 27, 2016 23:7_

This pertains to this issue:
https://forums.meteor.com/t/issue-with-subscribing-to-certain-fields-in-mongo-collection-crash-when-insert-new-document/29759

Way to reproduce error:
Publish a collection that only contains certain fields you want from that collection
ex. Collection.find({},{fields:{field1:1,field2:1}});
Subscribe to that collection.
Have a

[2016-11-09 05:29] dotansimha commented on #1473
_From @barbatus on October 6, 2016 9:24_

what error exactly do you get?

[2016-11-09 05:30] dotansimha opened #1474 "hot reloading for angular 2 with meteor"
_From @daynisy on July 20, 2016 9:2_

Hi all,
I know the hot reload for React with meteor is implemented. But how about Angular2 ? Do we have a  similar one for that? Currently the Angular2 tutorial app refreshes the whole page which gives a long refresh time.

_Copied from original issue: Urigo/angular2-meteor#342_

[2016-11-09 05:30] dotansimha commented on #1474
_From @Urigo on July 20, 2016 12:20_

would love some help with that.
Could you link to the implementation of React and Meteor?

[2016-11-09 05:30] dotansimha commented on #1474
_From @daynisy on July 20, 2016 14:48_

Hi Urigo,
Here is one of the meteor react implementation.
Link: https://github.com/gadicc/meteor-hmr

I don't deeply dive into the code of that library, but from the gif picture, it seems the implementation is ready.

It will be greatly appreciated if angular2-meteor could have this feature. It could reduce lots of page refreshing time.

[2016-11-09 05:30] dotansimha commented on #1474
_From @paralin on July 22, 2016 4:59_

This was the idea behind using webpack:webpack. Can we perhaps rally behind getting that working? Or is that not the right solution, do you think?

[2016-11-09 05:30] dotansimha commented on #1474
_From @daynisy on July 22, 2016 6:48_

Hi paralin,
I think just use the 'native meteor way'(i.e. like the gadicc:ecmascript-hot library) is a good approach to go. Web application developers just like me don't want to deal with the poor-documented and complicated webpack, that's way I choose meteor which is simple to add third-party library and package using Atmosphere package.

[2016-11-09 05:30] dotansimha commented on #1474
_From @paralin on July 22, 2016 8:34_

@daynisy That's exactly what `webpack:webpack` is

[2016-11-09 05:30] dotansimha commented on #1474
_From @daynisy on July 22, 2016 8:41_

hi paralin,
maybe it is better for you to read
this(https://forums.meteor.com/t/what-is-hot-reloading-and-code-splitting-webpack-webpack-vs-ecmascript-hot/19734/3)
to get better understanding about the difference between webpack:webpack and gadicc:ecmascript-hot.

If you have time, you can read the whole thread above.

[2016-11-09 05:30] dotansimha commented on #1474
_From @paralin on July 22, 2016 8:52_

Thanks, I will read through that. Definitely interested in something
similar for angular. The reload times are just painful right now :)

On Fri, Jul 22, 2016, 1:41 AM daynisy <notifications@github.com> wrote:

[2016-11-09 05:30] dotansimha commented on #1474
_From @barbatus on July 22, 2016 9:22_

There is a good project on that https://github.com/mgechev/angular2-hot-loader. We just need to create own server API (probably use some ideas from gadicc:ecmascript-hot). It's gonna take some time though.

[2016-11-09 05:30] dotansimha opened #1475 "Roadmap for integrating Angular CLI and Progressive Web Apps features with Meteor"
_From @Urigo on May 25, 2016 13:31_

_Copied from original issue: Urigo/angular2-meteor#280_

[2016-11-09 05:30] dotansimha commented on #1475
_From @daslicht on October 23, 2016 11:15_

So integration of angular cli is planned ?

[2016-11-09 05:30] dotansimha commented on #1475
_From @barbatus on October 27, 2016 22:5_

@daslicht yes, I am working on it currently.

[2016-11-09 05:30] dotansimha commented on #1475
_From @daslicht on October 28, 2016 9:53_

awesome news! Its getting better and better !

[2016-11-09 05:30] dotansimha opened #1476 "[ng2-meteor-accounts] emit event on authetication changes"
_From @Isigiel on February 21, 2016 22:12_

It'd be nice to get an event if the authentication status changes, so users can be redirected to other routes if they now are not allowed to view it anymore.

_Copied from original issue: Urigo/angular2-meteor#160_

[2016-11-09 05:30] dotansimha opened #1477 "Test out Angular2's new router with React"
_From @Urigo on February 6, 2016 17:8_

If we could get into a single router for both the Angular and React, it would be a great win for all communities and will make the transitions much easier.
It could be the same router but also different routers with the same syntax

_Copied from original issue: Urigo/angular2-meteor#136_

[2016-11-09 05:30] dotansimha commented on #1477
_From @Tallyb on July 12, 2016 12:52_

Shouldn't we start by testing it with Angular2?

[2016-11-09 05:30] dotansimha commented on #1477
_From @MichaelSolati on July 21, 2016 15:11_

![102122-300-this-is-madness](https://cloud.githubusercontent.com/assets/11811422/17027931/e4d82a94-4f33-11e6-862a-71e9e10e8f88.gif)

[2016-11-09 05:30] dotansimha opened #1478 "Discussion: template transformer DSL for Meteor."
_From @sebakerckhof on October 21, 2015 13:42_

Hello everyone,

I post this in the hope to get your ideas and to start a discussion on template transforms for Minimongo queries.

I've learned about template transforms on angular connect (see: https://www.youtube.com/watch?v=bVI5gGTEQ_U#t=914 , minute 15.10 till 21.00 ) and it seems like this would be a good fit for minimongo queries.

_Copied fro

[2016-11-09 05:30] dotansimha commented on #1478
_From @barbatus on October 22, 2015 10:39_

That'd would be awesome feature. Hopefully we'll implement it soon with new Angular2 versions.

[2016-11-09 05:30] dotansimha commented on #1478
_From @sclausen on October 26, 2015 14:2_

Wow! Angular2 keeps impressing me again and again! This would be so amazing to see!

[2016-11-09 05:30] dotansimha commented on #1478
_From @pgrm on October 6, 2016 20:40_

Hi, I just found this when I was trying to find more about those awesome transformers - I assume they haven't been implemented and we can close this issue. But maybe some of you have more insights why it wasn't implemented or if it was just postponed / renamed? thx

[2016-11-09 05:30] dotansimha commented on #1478
_From @sebakerckhof on October 6, 2016 22:43_

TBH, that talk was from a year ago and meanwhile angular has changed so much that I don't know what parts of it are still relevant

[2016-11-09 06:06] Tallyb commented on #1477
Ui router 1.0 is supposed to be catering for both.

[2016-11-09 10:40] sdarnell opened #1479 "Assets include lots of files that shouldn't be there"
I've hit the same problem as https://github.com/Urigo/angular-meteor/issues/1466 and I was trying to establish which file was causing the problem... and was very surprised by the result.

I added the following statement to ResourceSlot.addAsset() in the meteor tools/isobuild/compiler-plugin.js file roughly around line 717.

    console.warn('addAsset: '+options.path);

Although our app has lots (l

[2016-11-09 16:53] sdarnell opened #1480 "Broken link in css compiler readme"
In the readme for css-compiler it points at a TODOs example.

https://github.com/Urigo/angular-meteor/tree/master/packages/angular2-meteor/atmosphere-packages/css-compiler#examples

But that link is no longer correct (still points at angular2-meteor project).

There's also broken links in: https://github.com/Urigo/angular-meteor/tree/master/packages/angular2-meteor/atmosphere-packages/angular2-com

[2016-11-09 17:18] sdarnell commented on #1479
For the html files at least, the change that seems to start considering files in node_modules was: https://github.com/Urigo/meteor-static-html-compiler/commit/062b6c190013ddd0a9ec3c8a829e589547801b9b

[2016-11-09 19:43] sdarnell commented on #1466
Note that for me the offending file was actually in node_modules, and an important file for using angular2 with meteor: `node_modules/meteor-rxjs/examples/angular2/client/imports/app/app.component.scss`

[2016-11-09 20:06] dotansimha commented on #1466
Thanks @sdarnell . I released a new version of `meteor-rxjs` (0.4.4, a clean publish without any examples or other unnecessary files) and updated the boilerplate to use the new version.

[2016-11-09 20:31] sdarnell commented on #1466
Thanks Dotan for the fast turn-around! Just tested it and it solves the problem.

[2016-11-09 20:56] barbatus commented on #1466
Please try now. Run meteor update in order to update css-compilers

[2016-11-09 21:11] dotansimha commented on #1466
I am using the latest boilerplate version, with Meteor 1.4.2.1. Updated all packages:
[code]

Then tried to run `meteor run --production` and got the same error:
[code]

Tried `meteor reset` - got the same.

@barbatus

[2016-11-09 21:39] barbatus commented on #1466
Ok, it was css minifier to blame. It removes empty classes and returns null.
@dotansimha  `angular2-meteor-base` has `app.component.scss` with just `.app {}`, dunno why. Try pls meteor update one more.

[2016-11-09 21:44] ayazhussein commented on #1466
<img width="1920" alt="screen shot 2016-11-09 at 11 43 05 pm" src="https://cloud.githubusercontent.com/assets/16168367/20155828/5610421a-a6d6-11e6-9581-10dbb56dda6c.png">

updated to 0.3.5_1, meteor reset, deleted all the css/scss, even html , I don't even have style in Components.

[2016-11-09 22:04] sdarnell commented on #1466
I tried barbatus:css-compiler 0.3.5_1 with meteor 1.4.2 and it still has the issue (when empty styles present).

[2016-11-09 22:08] barbatus commented on #1466
seems new version is picked up again (there was similar issue before) since I tested locally and it works. @Urigo can we try to publish angular2-compiler with new version of css-compiler (everything is in the PR already)?

[2016-11-09 22:13] ayazhussein commented on #1466
<img width="1920" alt="screen shot 2016-11-10 at 12 13 11 am" src="https://cloud.githubusercontent.com/assets/16168367/20156783/86ef7e24-a6da-11e6-9bfe-db1477eb6257.png">

[2016-11-10 05:49] dotansimha commented on #1480
Fixed! Thanks @sdarnell

[2016-11-10 05:49] #1480 closed

[2016-11-10 05:52] dotansimha commented on #1479
I cleaned and released a new version of `meteor-rxjs` (0.4.4) without the examples, and applied https://github.com/Urigo/angular-meteor/commit/44508318fe133b9524c3a989ac5523dde91a3f61 here in order to get clean package when publishing.

@Urigo We need to publish a new version of `angular2-meteor`

[2016-11-10 07:35] Urigo commented on #1466
I've published `angular2-compilers@0.6.6` with @barbatus latest changes.
@ayazhussein @sdarnell can you please try it out?

[2016-11-10 07:35] Urigo commented on #1477
@Tallyb with React? really?  can you point me to an example?

[2016-11-10 07:38] Urigo commented on #1479
published `angular2-meteor@0.7.1`, please check if there problem persists

[2016-11-10 09:10] dotansimha commented on #1479
`angular2-meteor@0.7.1` installed as clean dependency, without any assets :)

[2016-11-10 09:10] #1479 closed

[2016-11-10 09:11] dotansimha commented on #1466
Now it's working great! Tested with the latest boilerplate.

[2016-11-10 09:11] #1466 closed

[2016-11-10 09:17] ayazhussein commented on #1466
Working..thanks @barbatus @urigo

[2016-11-10 09:37] Tallyb commented on #1477
@Urigo  LMGTFY:https://ui-router.github.io/

[2016-11-10 13:32] sdarnell commented on #1466
Yup, fixes the issue for me.

[2016-11-10 14:45] sdarnell commented on #1479
I appreciate the fixes to the css compiler and the sleek new meteor-rxjs, but this issue was more about the general inclusion of all css and html files regardless of whether they are needed, hence bloating the deployed apps, presumably slowing down builds, and exposing content to the outside world that probably shouldn't be.

My understanding is that the current compilers take any css/scss/less/ht

[2016-11-10 15:20] jollysean commented on #1465
Uh, so simple. Reactive thinking is so amazing

[2016-11-10 15:20] #1465 closed

[2016-11-10 16:28] ayazhussein opened #1482 "Can't import any Css/Sass/SCSS file in another CSS/Sass/SCSS file."
Whenever I try to import in client/main.scss or any other .scss/sass or .css file, I get this error

[code]

I tried moving the files around, putting them in imports folder, outside imports folder.

angular2-compilers 0.6.6

[2016-11-10 17:05] sdarnell commented on #1482
Do relative path names work?

[2016-11-10 17:07] ayazhussein commented on #1482
nope, using sass
[code]
[code]

[2016-11-10 17:30] sdarnell commented on #1482
Seems to be a common issue that others have encountered even though it should have been fixed quite a while ago: http://stackoverflow.com/questions/7111610/import-regular-css-file-in-scss-file

A solution that works is to rename bootstrap.min.css to _bootstrap.min.scss.  The underscore apparently prevents it being output to a separate file, and as new SASS files are a superset of css making the ex

[2016-11-10 17:34] ayazhussein commented on #1482
[code]

I changed the file to .scss and added underscore.. same error

[2016-11-11 05:53] vinhhungle commented on #1466
Beautiful! working for me too after running 'meteor update'

Thanks all for your help!

[2016-11-11 09:26] waynem59 commented on #1466
Yesterday I left my desktop with strange error messages though I removed every single (s)css file and when I returned just now I was surprised by this bug fix. What should I say: it works! What a nice start of the day ;-)

[2016-11-11 10:45] dotansimha commented on #1479
Meteor added official support for NPM &  `node_modules` in Meteor 1.3, and since then - the whole `node_modules` are going through the compiler.
I don't think there is an efficient way to tell which files from `node_modules` you actually use (using import / require) in your app so it's might be a little tricky to try and detect which files should go through the compiler and which files to exclude.

[2016-11-11 20:11] ayazhussein opened #1485 "Style compiling issue"
<img width="1920" alt="screen shot 2016-11-11 at 10 07 26 pm" src="https://cloud.githubusercontent.com/assets/16168367/20228728/59ccef12-a85b-11e6-9596-ac64d6ad25c3.png">

both of the images have the same sass styles, same html template, component used in routing so it appears under router-outlet,
the left one is built with angular-2-meteor and the right side is built with angular2 project created

[2016-11-11 21:38] nebiljabari opened #1486 "styles: [ style ] Error"
If I respect the syntax `styles: [style]`, for a .css file, present in [step 18.12](https://github.com/Urigo/meteor-angular2.0-socially/commit/34165256925a33f73f0a4956cea613270117f9ed) of the tuto
I get : `Error: Expected 'styles' to be an array of strings.`

To get my page styled I have to put `styles: style` (or just `style` work too) with
`import style from './style.css'` but TypeScript don't l

[2016-11-11 21:58] nebiljabari commented on #1482
@ayazhussein Have you try to put your .scss in client root folder then styleUrls ? [example](https://github.com/Urigo/angular-meteor/issues/1486)

[2016-11-13 07:20] dotansimha commented on #1486
@nebiljabari

1. Which IDE do you use?
2. Can you share you `tsconfig.json`? maybe some typings is missing. we recently added [this file](https://github.com/Urigo/angular2-meteor-base/blob/master/typings.d.ts#L7-L30) to the boilerplate in order to solve those import issues.

[2016-11-13 07:22] dotansimha commented on #1485
Hi @ayazhussei, can you share a repository with your code?
Note that there are differences in files loading between Angular 2 project and Angular2-Meteor project, because we are using Meteor build process.

[2016-11-13 10:39] ayazhussein commented on #1485
invitation sent.
@dotansimha

[2016-11-13 19:39] nebiljabari commented on #1486
@dotansimha

1. No IDE, I use Atom
2. The `typings.d.ts` is the same (I cloned the repo 3/4 days ago)

`tsconfig.json`
[code]

[2016-11-14 11:00] sosnet commented on #1460
Ok, looks like there was another update of the tutorial for Step 1. Anyway, now Step 1 and 2 are working for me, so great!
But when I start the app after Step 3, the app shows only white screen and in the browser-terminal I get this error:
`webpack:///./api/collections/whatsapp-collections.ts?:1 Uncaught Error: Module build failed: TypeError: Cannot read property 'content' of undefined(…)`

@dotan

[2016-11-14 15:42] ayazhussein commented on #1485
@dotansimha
I noticed something wrong with the width of the body, it doesn't get below 980px and the height is just going crazy..  if that helps..

[2016-11-14 19:32] greenkeeper[bot] opened #1487 "An in-range update of @angular/common is breaking the build 🚨"
## Version **2.2.0** of [@angular/common](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcommon-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/common
    </td>
  </tr>
  <tr>

[2016-11-14 19:32] greenkeeper[bot] opened #1488 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **2.2.0** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcompiler-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </tr>

[2016-11-14 19:33] greenkeeper[bot] opened #1489 "An in-range update of @angular/core is breaking the build 🚨"
## Version **2.2.0** of [@angular/core](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcore-2.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/core
    </td>
  </tr>
  <tr>
    <t

[2016-11-15 10:12] florent1933 opened #1491 "[docs] Integrate 3rd party : external global script and external global stylesheet"
When reading the docs, we don't know how to install an external global script or stylesheets which are in node_modules.

In angular-cli.json (with webpack) we can do:
[code]

How can we achieve something similar with angular-meteor?

[2016-11-15 12:51] laserus opened #1492 "imports is important in angular-meteor?"
Hello,

I have tried to modify and organize code a more nicer way, and for some project there was path /client/imports/app/demo.component.ts

However it is quite long tree organization. I decided to remove imports from the path to make in more angular2 style (when you generate with ng cli a new project).

However everything broke without /imports/, then I tried to fix it (and it seems that reflect

[2016-11-15 13:51] greenkeeper[bot] opened #1493 "An in-range update of zone.js is breaking the build 🚨"
## Version **0.6.26** of [zone.js](https://github.com/angular/zone.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Fzone.js-0.6.26">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      zone.js
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-11-15 14:02] kamilkisiela commented on #1485
@ayazhussein Could you add me also?

[2016-11-15 14:25] Urigo commented on #1492
Yes `imports` in a meaningful folder for Meteor, check out those resources:
https://guide.meteor.com/structure.html#javascript-structure
https://themeteorchef.com/snippets/understanding-the-imports-directory/

[2016-11-15 14:25] #1492 closed

[2016-11-15 18:58] kamilkisiela commented on #1485
@ayazhussein I've created a PR, check it and tell me if it fixed the problem.

[2016-11-15 19:02] ayazhussein commented on #1485
seems that it was fixed. rookie mistake. sorry

[2016-11-15 19:04] #1485 closed

[2016-11-16 04:47] GbalsaC commented on #1406
If anyone comes here with same issue, follow:
https://github.com/jalik/jalik-ufs#breaking-changes

[2016-11-16 10:26] scorpio13love commented on #1460
I'm trapped in the same situation as sosnet. And what the correct  "webpack.config.js" like?

[2016-11-16 10:47] kamilkisiela commented on #1493
It's not!

[2016-11-16 10:57] Urigo commented on #1406
should we update the tutorial or it's already updated?

[2016-11-16 11:09] kamilkisiela commented on #1482
[Works for me](https://github.com/kamilkisiela/angular2-meteor-base/blob/issue/1482/client/imports/app/demo/demo.component.scss)

@mention me if this is still a case

[2016-11-16 12:03] kamilkisiela commented on #1460
@sosnet It's not angular-meteor specific. [Here](https://github.com/sosnet/ionic2-meteor/blob/master/config/webpack.config.js#L59-L62) is a line that causes an error. The thing is, it's not working with aliases.

You can just disable it to make it works but you will skip the features of `typescript-sourcemap-loader-memory`.

[2016-11-16 12:17] sosnet commented on #1460
Hey @kamilkisiela, thank you very much for helping. I'm new to Angular2/Ionic2 and Meteor.. So, would you be so kind and tell me how to disable it? Or what are those features I would lose? Are they important?

Or should I remove those aliases? Or are they needed later?
Sorry for all those noob questions..

[2016-11-16 12:45] kamilkisiela commented on #1491
You can import those like this
https://github.com/Urigo/meteor-angular2.0-socially/blob/master/client/main.scss#L1

[2016-11-16 13:43] ayazhussein commented on #1482
<img width="1920" alt="screen shot 2016-11-16 at 3 42 36 pm" src="https://cloud.githubusercontent.com/assets/16168367/20349484/585ccd9e-ac13-11e6-9678-369501da6085.png">

seems that it works when there is only $green, but when i add another variable, it gives me this error.

[2016-11-16 13:57] kamilkisiela commented on #1486
Does

Types of property 'styles' are incompatible.
Type 'string' is not assignable to type 'string[]'.

apply to:

[code]

?

And why you have `styles: string` instead of `styles: any[]`? It's not specific to `angular-meteor`. It's all about your environment.

Your IDE thinks that `Component` decorator contains `styles` that is a string and not an array of strings. This type definition comes from

[2016-11-16 14:23] kamilkisiela commented on #1460
@sosnet It's basically for the source maps. Here's [the actual file](https://github.com/driftyco/ionic-app-scripts/blob/master/src/webpack/typescript-sourcemap-loader-memory.ts).

I think you can skip it and use just `devtool: 'source-map'`.

Here's how the `webpack.config.js` would look like:

[code]

[2016-11-16 17:17] sosnet commented on #1460
Thx for your effort @kamilkisiela, but unluckily I'm getting this error
`http://localhost:8100/tabs.html Failed to load resource: the server responded with a status of 404 (Not Found)`

[2016-11-17 14:06] kamilkisiela commented on #1460
Please take a look at https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp and compare `package.json`, `config/webpack.config.js`. Maybe there are some differences? It's Ionic who is in charge of parsing your templates into strings.

[2016-11-17 14:08] kamilkisiela commented on #1482
@ayazhussein add semicolons

[code]

[2016-11-18 07:11] ayazhussein commented on #1482
Seems to work, but it's weird to add semicolon in .sass files :D
@kamilkisiela

[2016-11-18 12:53] kamilkisiela commented on #1482
I checked it and it works:

`*.scss`

[code]

`*.sass`

[code]

[2016-11-18 12:55] ayazhussein commented on #1482
It works, just saying that it's weird to add semicolon in *.sass since it's supposed to be without any semicolons.
closing the issue

[2016-11-18 12:56] kamilkisiela commented on #1482
@ayazhussein no no, I mean that it works without semicolons in `.sass`. Do you have the latest version?

[2016-11-18 12:56] kamilkisiela commented on #1482
Or could you prepare some simple reproduction? Really really basic.

[2016-11-18 13:02] ayazhussein commented on #1482
just tested, it's working,
[code]
works if you add semicolon to all but last $var when it should work like this:

[code]

but it throws the same error, I was just referring that *.sass syntax has no semicolons.

[2016-11-18 13:04] kamilkisiela commented on #1482
I don't think we're on the same page. I mean that

[code]

should work in `.sass` files. Without any semicolons. Could you provide just a basic reproduction?

[2016-11-18 13:10] ayazhussein commented on #1482
<img width="1920" alt="screen shot 2016-11-18 at 3 09 11 pm" src="https://cloud.githubusercontent.com/assets/16168367/20431143/23638d6e-ada1-11e6-9f87-9af1465525d2.png">
<img width="1920" alt="screen shot 2016-11-18 at 3 09 29 pm" src="https://cloud.githubusercontent.com/assets/16168367/20431142/23636f5a-ada1-11e6-8824-3f56425577aa.png">

angular2-compilers 0.6.6

[2016-11-18 13:11] ayazhussein commented on #1482
<img width="1920" alt="screen shot 2016-11-18 at 3 11 17 pm" src="https://cloud.githubusercontent.com/assets/16168367/20431170/4b66e5fe-ada1-11e6-9419-54da8e1bbfc7.png">

and this way works...

[2016-11-18 17:53] jocelyn19 commented on #1406
Hi, not yet corrected, just doing the tutorial, got the same error while trying to upload a file.
Can someone fix it?

Thanks

[2016-11-19 01:16] vacarsu opened #1496 "Import scss from node_modules as string."
How to import scss files from node_modules as string, similar to how we import component scss files. When I try to do ``` import scssFile from 'ionic-angular/path/to/scss-file.scss'; ``` I get undefined. I understand I could do this using ```require()``` or ```@import``` in scss file. But I need to do it in this way because I am compiling scss using sass.js so I can have dynamic color variables.

[2016-11-19 02:18] nebiljabari commented on #1486
Yes @kamilkisiela with the standard pattern and I don't know why `styles: string`
Path: `client/imports/app/foo.compo.ts`
[code]
I ran several test and the best I get is :
[code]
It failed to load if the .css is in the `client/imports` folder

I let to your appreciation to close or not this issue

[2016-11-19 11:16] andrewcharnley opened #1498 "Whatsapp demo missing step"
Missing:

1. https://github.com/meteoric/ionic-sass
2. meteor add meteoric:ionicons-sass --save
3. app.scss

On the second page of the guide there is a screenshot showing the basic look with the sass applied, but the dependencies (1) and (2) and the file (3) containing the code below has not been done yet.

@import '../../../.meteor/local/build/programs/server/assets/packages/meteoric_ionic-sass/i

[2016-11-19 23:31] hsdhillon opened #1499 "Using meteor-publish-composite with angular2"
I am learning meteor along with angular2 and tutorial on angular-meteor.com has helped a lot.

I have extended the exercise in tutorial to use a new collection name Venues and using a reference in Parties collection to refer to document in Venues collection. I am trying to use meteor-publish-composite to publish the Parties and related Venue document along with it.

I am getting following error me

[2016-11-20 00:07] #1493 closed

[2016-11-20 04:43] hsdhillon commented on #1496
Your should be able to provide relative path to the file using '../' notations. Let's say if you need to define the file inside the component located clients folder, you should be able to use import as
`import from '../node_modules/ionic-angular/path/to/scss-file.scss'`

[2016-11-20 07:02] vacarsu commented on #1496
@hsdhillon Yes I tried that, but when I console log the value it's undefined. and I don't get an error that the file was not found, so it is finding the file, but for some reason it is undefined.

[2016-11-21 13:32] sosnet commented on #1460
Ok, back to the roots.
I started now with `git clone https://github.com/Urigo/Ionic2CLI-Meteor-WhatsApp`. The biggest differences  are the `config/webpack.config.js` and some downgrades of packages in `package.json`. I think the webpack.config should be included to the tutorial, otherwise it's useless.

But, the app is starting now, but I get those errors in the browser console:
[code]
When I open

[2016-11-22 10:16] florent1933 commented on #1491
@kamilkisiela 👍

Thanks for your answer.

[2016-11-22 13:32] sosnet commented on #1460
Ok, I solved this problem by adding these lines to the `index.html` of my ionic project:
[code]

Why it's not using it's default settings? Why I have to set them and why the settings in `node_modules/meteor-client-side/meteor-runtime-config.js` are ignored?

However, I will continue now with the tutorial where I stopped before. Thanks everyone who helped me out. Maybe someone can use those problem

[2016-11-22 21:02] greenkeeper[bot] opened #1501 "An in-range update of @types/underscore is breaking the build 🚨"
## Version **1.7.34** of [@types/underscore](https://www.npmjs.com/package/@types/underscore) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40types%2Funderscore-1.7.34">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @types/underscore

[2016-11-23 02:44] GrandNewbien commented on #1450
Would you mind explaining how you solved your problem more in depth? I've been having this same problem for quite some time now, and feel it's the same issue.

[2016-11-23 14:01] greenkeeper[bot] opened #1502 "An in-range update of rollup is breaking the build 🚨"
## Version **0.36.4** of [rollup](https://github.com/rollup/rollup) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Frollup-0.36.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rollup
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2016-11-23 18:35] kmcmanimen commented on #1276
mixersoft - how did you solve for this?  I am getting the same error and tried to approach outlined in the link to no avail.

My current code:
export const Projects = new Mongo.Collection('projects', {
  transform: function (doc) {
      doc.remaining = function () {
        var minute = 1000*60;
        var hour = minute*60;
        var day = hour*24;
        var length = day * 7;

        if(!th

[2016-11-24 04:23] mariohmol commented on #996
Having similar problem but with `@angular/core` , one question.. should use `angular2` or `@angular` ? very confused

[2016-11-24 23:38] nebiljabari commented on #996
@mariohmol You should run : `meteor npm i -S @angular/core`
- @angular = official package | angular2 = unofficial package

I suggest you to use the boilerplate who holds all the standard packages needed to start
`meteor create --example angular2-boilerplate your-project-name` or run directly
`git clone https://github.com/bsliran/angular2-meteor-base your-project-name`

and then run `meteor npm i`

[2016-11-25 01:02] mariohmol commented on #996
Cool!!! Cause I made using the whatsapp clone.. its old style...  will start from the scratch then! Thanks!

[2016-11-25 10:17] sunil85 opened #1503 "Task 'typescript' is not in your gulpfile"
{
  "name": "lb",
  "version": "1.0.0",
  "description": "LB Node Dependencies",
  "main": "gulpfile.js",
  "dependencies": {
    "@angular/common": "2.1.0",
    "@angular/compiler": "2.1.0",
    "@angular/core": "2.1.0",
    "@angular/forms": "^2.1.0",
    "@angular/http": "2.1.0",
    "@angular/platform-browser": "2.1.0",
    "@angular/platform-browser-dynamic": "2.1.0",
    "@angular/platform-s

[2016-11-25 13:28] mariohmol commented on #996
I just saw that this boilerplate is not using ionic2 .. and the way the whatsapp clone was designed i think is better as well , example `app\pages\chat` has css, js,html for each module

This seem to be updated with angular2.1 specs

* https://www.angular-meteor.com/tutorials/whatsapp2/ionic/chats-page

[2016-11-25 16:38] nebiljabari commented on #996
@mariohmol sorry Mario I didn't know you was targeting specifically the What's App Clone Tutorial on my first comment.
Ok so let me be clear, this tutorial is wrote with Angular1 and more precisely Angular1.5(+) "**not**" Angular2. So indeed the boilerplate I suggest you will not match

_PS: I mean by (+) Angular1.5.1, Angular1.5.2 etc..._

[2016-11-25 23:21] barbatus commented on #1475
I expect it to be out soon, see https://github.com/barbatus/angular2-compiler.
It took some time due to issues with Angular2 CLI API.

[2016-11-26 01:44] barbatus commented on #1479
@sdarnell i think files from node_modules definitely not needed as assets, that piece was just missed. I'll fix and let you know. Also, In the near future we'll get rid of using URL for assets (in new combined compiler), there is not much sense in them.

[2016-11-26 23:53] BahramSoheili opened #1505 "Cannot find module './app.component.html'"
Hi everyone
 I am so hopeless of using meteor as I have faced lots of unforeseen problems and couldn't learn it.
anyway I use socially project and it doesn't let me to use template from my html file:
import { Component } from '@angular/core';
import template from './app.component.html'; //problem in here...
import { Observable } from 'rxjs/Observable';
import { Parties } from '../../../both/collec

[2016-11-27 17:55] sdarnell commented on #1505
The code looks fine to me (assuming you have an app.component.html in the same folder).
I sometimes see this sort of error when I add new modules or files.
For me, restarting meteor usually fixes it (my guess is that there's something in the build process that is cached that's not being updated).

[2016-11-27 17:57] sdarnell commented on #1479
Great thanks. For what is worth, we don't use the URL form anyway :)

[2016-11-28 10:17] fidelsam1992 commented on #1406
Hello,
The tutorial is not updated yet.
I have tried to make it work, but the size of the uploaded images inside the collections appear to be 0.

Please support this issue.

[2016-11-28 12:36] suresh1791 opened #1506 "how to pass reactive var from <div ui-view></div> components to starting<menu> component. or url watch on <menu>"
Hi, Currently developing meteor angular v1 application with the help of meteor-angular page. I have 2 component as <menu></menu><div ui-view=""></div>.
when the url changes, it should reflect on menu component. but now once initialized, its not changing.

[2016-11-29 00:33] BahramSoheili commented on #1505
thank you @sdarnell  for your response.
of course that 'app.component.html' is in the same folder and resetting meteor couldn't solve this problem anymore.

[2016-11-29 09:08] suresh1791 commented on #1506
lol.. I really forget  the Meteor's Session.
thanks.

[2016-11-29 09:08] #1506 closed

[2016-11-29 23:04] BahramSoheili commented on #1505
I solve it, after running this package:
meteor npm install --save babel-runtime

[2016-11-29 23:04] #1505 closed

[2016-12-02 17:50] vacarsu commented on #1496
@Urigo Any suggestions for this issue? I'm trying to import some scss files in node_modules from the imports folder. Is this possible from a .ts file?

[2016-12-04 05:41] greenkeeper[bot] opened #1507 "An in-range update of es6-shim is breaking the build 🚨"
## Version **0.35.2** of [es6-shim](https://github.com/paulmillr/es6-shim) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Fes6-shim-0.35.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      es6-shim
    </td>
  </tr>
  <tr>
    <th align=left>

[2016-12-07 09:46] Thisen opened #1508 "When using Webstorm/IntelliJ, it can't find tsconfig.json"
When using IntelliJ/Webstorm, it's not possible to find the tsconfig.json, see attached screenshot.

I'm posting this as an issue, since I'm not sure if it's a problem in the Typescript compiler with the project.

I cloned the angular2-meteor-base and did:
`meteor npm install`
`meteor`

I tried this on multiple computers with same result.

![bug](https://cloud.githubusercontent.com/assets/10807938

[2016-12-07 10:04] Thisen commented on #1508
Probably the same issue as: https://github.com/Urigo/angular2-meteor-base/issues/50

[2016-12-07 10:05] #1508 closed

[2016-12-09 20:31] PopPushOut opened #1509 "Moving ng2-admin akveo template on meteor-angular2 app"
Greetings everyone,

Here is some background. Me and small group of people are making a project, we are really interested in synergy between angular2 and meteor. We would like to create a big project using it. I want to implement Angular2 template on angular-meteor app;

I found ng-2 template here: https://github.com/akveo/ng2-admin
here is the link how to quick start it using npm:
https://akveo.g

[2016-12-12 19:58] Urigo commented on #1503
@sunil85 can you please add more context about your problem?
code, reproduction, something..

[2016-12-12 21:09] greenkeeper[bot] opened #1511 "An in-range update of rollup-plugin-babel is breaking the build 🚨"
## Version **2.7.0** of [rollup-plugin-babel](https://github.com/rollup/rollup-plugin-babel) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Frollup-plugin-babel-2.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rollup-plugin-babel
    </

[2016-12-12 22:57] erperejildo opened #1512 "Call function from another component"
Having 2 components, how can I call a function from another one?

I'm importing this component in my `plateEdit `component:
`import { name as Edition } from '../edition/edition';`
and I'ld like to call `update()` which is a function defined in `edition` from `plateEdit`.

I can call whatever I want inside of `<edition></edition>` but not from outside.
![sin titulo](https://cloud.githubusercontent.

[2016-12-13 13:24] msio777 opened #1513 "return type Subscription instead of Observable - typescript"
Hi,
I'm using ionic 2 and in this example from [docs](https://angular-meteor.com/api/meteor-rxjs/latest/MeteorObservable#MeteorObservable.subscribe) is probably a mistake if one uses typescript. `this.meteorSubscription` returns `Subscription` type instead of `Observable`

[code]

[2016-12-13 15:27] Urigo commented on #1511
fixed

[2016-12-13 15:27] #1511 closed

[2016-12-13 15:28] Urigo commented on #1507
fixed

[2016-12-13 15:28] #1507 closed

[2016-12-13 15:28] Urigo commented on #1502
fixed

[2016-12-13 15:28] #1502 closed

[2016-12-13 15:28] Urigo commented on #1501
fixed

[2016-12-13 15:28] #1501 closed

[2016-12-13 15:28] Urigo commented on #1489
fixed

[2016-12-13 15:28] #1489 closed

[2016-12-13 15:28] Urigo commented on #1488
fixed

[2016-12-13 15:28] #1488 closed

[2016-12-13 15:28] Urigo commented on #1487
fixed

[2016-12-13 15:28] #1487 closed

[2016-12-13 17:04] ingleo opened #1514 "ng2-translate not work in angular2-meteor sample project"
Hi,
I'm trying to do a example with ng2-translate module on angular2-meteor but when I run the app I'm getting a error from console that not let show the translation (on Google Chrome)

 -------------   Elapsed: 2 ms; At: Tue Dec 13 2016 11:36:00 GMT-0500 (COT)   -------------
require<.node_modules["zone.js"].dist["long-stack-trace-zone.js"]/</Zone.longStackTraceZoneSpec.onScheduleTask@http://loca

[2016-12-14 13:29] DAB0mB commented on #1482
@ayazhussein @Urigo I think this can be closed?!

[2016-12-14 21:12] DAB0mB commented on #1496
@vacarsu Unfortunately, adding custom loaders is not available in Meteor's build system. However, if you use Webpack, you can use the following loader: https://github.com/jtangelder/sass-loader. You can use whatever loader you desire, as long as it fulfills what you wish for, and you use it right, then that's the way to go. We have a tutorial in our websites which guides you through building an ap

[2016-12-14 21:18] DAB0mB commented on #1491
@florent1933 @Urigo Should this issue be closed?!

[2016-12-14 21:25] DAB0mB commented on #1486
@nebiljabari Unfortunately, adding custom loaders is not available in Meteor's build system. However, if you use Webpack, you can use the following loader: https://github.com/jtangelder/sass-loader. You can use whatever loader you desire, as long as it fulfills what you wish for, and you use it right, then that's the way to go. We have a tutorial in our websites which guides you through building a

[2016-12-15 00:33] vacarsu commented on #1496
@DAB0mB I think you're misunderstanding what I'm trying to do, I already am compiling the scss with sass.js, and that works, but importing scss files from node_modules returns undefined.I can import scss files fine from component folders, etc. But I cannot from node_modules for some reason.

[2016-12-15 02:33] greenkeeper[bot] opened #1515 "An in-range update of @angular/common is breaking the build 🚨"
## Version **2.3.1** of [@angular/common](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcommon-2.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/common
    </td>
  </tr>
  <tr>

[2016-12-15 02:33] greenkeeper[bot] opened #1516 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **2.3.1** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcompiler-2.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </tr>

[2016-12-15 02:33] greenkeeper[bot] opened #1517 "An in-range update of @angular/core is breaking the build 🚨"
## Version **2.3.1** of [@angular/core](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcore-2.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/core
    </td>
  </tr>
  <tr>
    <t

[2016-12-15 10:09] DAB0mB commented on #1496
@vacarsu  You can also compile it natively if you want using [node-sass](https://github.com/sass/node-sass/blob/master/README.md). This way you have more control of what's going on.

[2016-12-15 14:18] DAB0mB commented on #1496
Try the following:

[code]

In addition, Ionic uses the following syntax for their stylesheets:

[code]

Whatever works best for you....

[2016-12-15 17:48] vacarsu commented on #1496
Neither of those options will work for me. While they do work, I have to import them from TS files so I have them as strings.

[2016-12-15 21:16] greenkeeper[bot] opened #1518 "An in-range update of tslint is breaking the build 🚨"
## Version **4.1.0** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Ftslint-4.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2016-12-16 19:12] ingleo commented on #1514
I got it, just create a public folder over the root and put on it the i18n folder with the different  json language files.

[2016-12-16 19:12] #1514 closed

[2016-12-17 05:36] sasikala-R commented on #1040
Thank You so much for sharing the explanation here.

[2016-12-17 13:38] SyedAman commented on #1475
Any update on this? Can I use Angular CLI for a MeteorJS project?

[2016-12-18 10:05] #1515 closed

[2016-12-18 10:05] #1516 closed

[2016-12-18 10:05] #1517 closed

[2016-12-18 10:05] #1518 closed

[2016-12-18 10:07] dotansimha commented on #1513
@msio777 , can you please open an issue in https://github.com/Urigo/meteor-rxjs repository?

Thanks!

[2016-12-20 05:00] kenpachi-zaraki opened #1520 "`/node_modules/fibers/bin/browser-undefined-undefined/fibers.node` is missing in angular-meteor"
Hi,

I'm having issues when using fibers/future.

I'm using :
- Angular2 Meteor: https://angular-meteor.com/tutorials/socially/angular2/bootstrap
- Meteor npm Version: 3.10.9
- Meteor node Version: v4.6.1
- Meteor Release: METEOR@1.4.2

I have successfully installed fibers:

ken@ubuntu:~/projects/myproject$ meteor npm install fibers --save

`linux-x64-46` exists; testing
Binary is fine; exiting
so

[2016-12-20 12:28] mxab commented on #1520
I'm not that familiar using fibers/future in meteor but would `Meteor.wrapAsync` also work for you?

[2016-12-20 18:11] greenkeeper[bot] opened #1521 "An in-range update of zone.js is breaking the build 🚨"
## Version **0.7.4** of [zone.js](https://github.com/angular/zone.js) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Fzone.js-0.7.4">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      zone.js
    </td>
  </tr>
  <tr>
    <th align=left>
      Cu

[2016-12-20 19:26] greenkeeper[bot] opened #1522 "An in-range update of @angular/core is breaking the build 🚨"
## Version **2.4.0** of [@angular/core](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcore-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/core
    </td>
  </tr>
  <tr>
    <t

[2016-12-21 01:08] greenkeeper[bot] opened #1523 "An in-range update of rollup is breaking the build 🚨"
## Version **0.37.1** of [rollup](https://github.com/rollup/rollup) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Frollup-0.37.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rollup
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2016-12-21 07:24] dotansimha commented on #1513
@msio777
The return value of `MeteorObservable.subscribe` is `Observable`, and then you need to `subscribe` on the return value to get `Subscription`.
The docs are correct.

[2016-12-21 07:24] #1513 closed

[2016-12-21 18:11] greenkeeper[bot] opened #1524 "An in-range update of reflect-metadata is breaking the build 🚨"
## Version **0.1.9** of [reflect-metadata](https://github.com/rbuckton/ReflectDecorators) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Freflect-metadata-0.1.9">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      reflect-metadata
    </td>
  </t

[2016-12-22 00:19] greenkeeper[bot] opened #1525 "An in-range update of @angular/compiler is breaking the build 🚨"
## Version **2.4.1** of [@angular/compiler](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcompiler-2.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/compiler
    </td>
  </tr>

[2016-12-22 00:25] greenkeeper[bot] opened #1526 "An in-range update of @angular/common is breaking the build 🚨"
## Version **2.4.1** of [@angular/common](https://github.com/angular/angular) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2F%40angular%2Fcommon-2.4.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      @angular/common
    </td>
  </tr>
  <tr>

[2016-12-22 08:46] #1521 closed

[2016-12-22 08:48] #1524 closed

[2016-12-22 08:48] #1523 closed

[2016-12-22 08:48] #1526 closed

[2016-12-22 08:48] #1522 closed

[2016-12-22 08:48] #1525 closed

[2016-12-22 08:52] dotansimha commented on #1509
Few months ago I tried to use this admin panel inside angular-meteor project. I no longer have the code, but here are few guidelines:
1. Almost all files should move under /imports/ because of Meteor's files structure.
2. Make sure to load all CSS files into their component, but you can start with a big SCSS file that imports all of them, and later encapsulate each style into it's Component.
3. I

[2016-12-22 08:52] #1509 closed

[2016-12-22 08:56] dotansimha commented on #1512
@erperejildo , it's an Angular questions and not directly related to `angular-meteor`, but we'll try to assist you.
In Angular 1 there are multiple options for component's communication:
1. Move you function to a service and use this service in your component.
2. If there is a relation between the components (one inside each other), you can use bindings to pass the function from the parent compone

[2016-12-22 08:56] #1512 closed

[2016-12-22 08:58] dotansimha commented on #1499
@hsdhillon, when using `publish-composite` you need to pass the actual `Mongo.Collection` object, and not the `ObservableCollection` that wrapped by `meteor-rxjs`.
So instead using `Parties.find(selector, options);`, use `Parties.collection.find(selector, options);`.

[2016-12-22 16:38] pedrolucasoliva commented on #1509
and you got it @dotansimha ?

[2016-12-22 16:40] dotansimha commented on #1509
@pedrolucasoliva , yeah, I had to make some modifications in order to make it work... most of them related to file structure and path changes.

[2016-12-22 16:42] pedrolucasoliva commented on #1509
Pretty cool @dotansimha! I will do it too and realise at git. Can you fork this project?

[2016-12-22 17:55] PopPushOut commented on #1509
Thanks for an answer, I would be also really happy if you could share the template made on meteor. Thanks in advance.

[2016-12-24 11:41] lednhatkhanh opened #1529 "Blank screen when reloading at the PartyDetailComponent after step 6."
When I came from `PartiesListComponent` then everything is OK but press F5 to refresh we will see a blank screen. [Augury](https://augury.angular.io/) shows that the `party` is `undefined`.

[2016-12-24 15:52] habib786 opened #1530 "alainning:roles importing issue!"
I have used **alanning:role** package by **Meteor**, the Roles are working fine but the problem is I am getting warnings that **"Cannot find name 'Roles"**. Kindly help me with this problem, I have searched it everywhere, some peoples import it like this **"import { Roles } from 'alanning:roles';"** I have also tried this but still getting errors on this... Please help me and please don't commit i

[2016-12-25 06:15] cyberbeast commented on #1475
BUMP. Any updates on this?

[2016-12-25 14:41] Eagles2F opened #1531 "Meteor.loginWithPassword does't respond under ipv6 root_url."
Hi,
I've been working with angular-meteor and meteor backend for my cross-platform mobile project.
The IOS app store rejected my submission due to well-known ipv6-only network issue.

I have successfully reproduced the bug on my mac. Here is what I have done:

set up a NAT64/DNS64 local network following this guidefrom apple.
start up a meteor server with this cmd: ROOT_URL="http://2001:2::aab1:e:

[2016-12-25 22:58] erperejildo commented on #1512
Hi @dotansimha thanks for your support. I'll check that out.

[2016-12-26 18:09] kenpachi-zaraki commented on #1520
Hi,

Thanks for your reply. I gave it a try as you suggested like so:

    saveChangesAddPhotos(event) : void {
        let file = event.srcElement.files[0];

        const resize = Meteor.wrapAsync(this.resizeAsync);
        let convertedFile = resize(file, {width: 100, height: 200, cropSquare: true});

        console.log("RETURNED RESULT: ", convertedFile);
    }

     resizeAsync(file, opts, c

[2016-12-27 21:21] mxab commented on #1520
Are you trying this on the browser side? I think you cannot use wrapAsync neither fibers there

[2016-12-28 16:54] tomitbe opened #1532 "failed to add i18n module angular-translate"
Hi Urigo,

I tried to add the module
https://atmospherejs.com/planettraining/angular-translate

but I do not succeed to instantiate/import the angular-translate module.
Can you indicate how to use them inside Angular2/Ionic2 project using Typescript?

Thanks for your help!

[2016-12-28 22:57] tomitbe commented on #1532
also tried the ng2-translate module but it keeps hanging with an error referring to invalid character < in JSON (at position 0) ...

[2016-12-29 11:50] mxab commented on #1532
@tomitbe angular-translate is for angular<2.0.0

[2016-12-29 12:36] tomitbe commented on #1532
Ok thank you, do you know an alternative solution?

Van: Max Bruchmann <notifications@github.com<mailto:notifications@github.com>>
Beantwoorden - Aan: Urigo/angular-meteor <reply@reply.github.com<mailto:reply@reply.github.com>>
Datum: donderdag 29 december 2016 12:50
Aan: Urigo/angular-meteor <angular-meteor@noreply.github.com<mailto:angular-meteor@noreply.github.com>>
CC: Tom Van den Broek <conta

[2016-12-29 16:35] fiee opened #1533 "Tutorial: update to latest Meteor"
If I download one of the ZIPs (e.g. `https://github.com/Urigo/meteor-angular2.0-socially/archive/step9.zip`), the project runs after calling `meteor npm install`.
If I follow the advice to `meteor update --patch` (to Meteor 1.4.2.3), the application is crashing due to missing `babel-runtime` and it complains about pure-JavaScript `bcrypt`. When I install both, it runs again.
It would be nice if yo

[2016-12-29 18:53] kenpachi-zaraki commented on #1520
Yes, the log I posted was on chrome console.

Is it possible to make the callback wait while the resize is not complete?
Then upon completion, I just put it in session and I retrieve it back in the calling function?

You've tried using fibers angular-meteor ?

[2016-12-29 20:01] paolo-g commented on #1314
Thanks for the solution @ThomsCass but this definitely needs to get resolved here https://github.com/iron-meteor/iron-router/issues/976

[2016-12-30 12:29] Urigo commented on #1530
@habib786 check out this guide about how to import Atmosphere packages: https://guide.meteor.com/using-atmosphere-packages.html#using-atmosphere

[2016-12-30 12:29] #1530 closed

[2017-01-02 01:28] Joe312341 commented on #1520
@kenpachi-zaraki
I do not use angular-meteor, but this shouldnt be related to angular. These error you are seeing is because you are import Future on the client. Probably in a method that runs on both client and server.

Create a method in a server folder and import Future there and it should work.

[2017-01-02 10:36] christianmenz opened #1535 "documentation / tutorial unclear usage of helpers"
When reading the documentation of helpers (https://angular-meteor.com/api/angular-meteor/1.3.11/helpers) it states that helpers should be used in conjunction with collections. Mainly it says that the helper functions must return a Mongo.Cursor.

When you look at the tutorial for the socially application in the chapter bindings (https://angular-meteor.com/tutorials/socially/angular1/bindings) the h

[2017-01-02 23:54] GuofuHuang opened #1536 "UNMET PEER DEPEDENCY"
I try to install ng2-select but I got this error:

├── UNMET PEER DEPENDENCY @angular/common@2.4.1
├── UNMET PEER DEPENDENCY @angular/compiler@2.4.1
├── UNMET PEER DEPENDENCY @angular/core@2.4.1
├── UNMET PEER DEPENDENCY @angular/forms@2.4.1

What does this mean?

[2017-01-03 10:25] tvvignesh opened #1537 "Allow trailing slash in the website URL"
There is an issue with angular-meteor website.
https://angular-meteor.com/ionic-tutorial works
but 
https://angular-meteor.com/ionic-tutorial/ does not

The trailing slash is the only difference which causes the problem.

Maybe you have to fix your server to allow it.

In https://blog.ionic.io/ionic-and-meteor/ they have linked angular-meteor website with a trailing slash which leads to a 404 erro

[2017-01-03 10:51] dotansimha commented on #1537
Fixed! Thanks @tvvignesh

[2017-01-03 10:51] #1537 closed

[2017-01-04 06:39] K69G4JRA725W opened #1539 "Socially step 19 code does not work"
I downloaded the code fromthe tutorial:
https://angular-meteor.com/tutorials/socially/angular2/3rd-party-libraries

Step 18 code works fine. However step 19 code does not work. The Chrome browser only says "...loading". The console error messages are:
--------------------------------------------------------------------------------------------------------
Unable to resolve some modules:

  "@angula

[2017-01-04 06:48] K69G4JRA725W commented on #1539
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Users\\Administrator.WIN-3D2SKEQRIB1\\AppData\\Local\\.meteor\\packages\\meteor-tool\\1.4.2\\mt-os.windows.x86_32\\dev_bundle\\bin\\node.exe',
1 verbose cli   'C:\\Users\\Administrator.WIN-3D2SKEQRIB1\\AppData\\Local\\.meteor\\packages\\meteor-tool\\1.4.2\\mt-os.windows.x86_32\\dev_bundle\\lib\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose

[2017-01-04 06:48] K69G4JRA725W commented on #1539
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Users\\Administrator.WIN-3D2SKEQRIB1\\AppData\\Local\\.meteor\\packages\\meteor-tool\\1.4.2\\mt-os.windows.x86_32\\dev_bundle\\bin\\node.exe',
1 verbose cli   'C:\\Users\\Administrator.WIN-3D2SKEQRIB1\\AppData\\Local\\.meteor\\packages\\meteor-tool\\1.4.2\\mt-os.windows.x86_32\\dev_bundle\\lib\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose

[2017-01-04 06:48] #1539 closed

[2017-01-08 21:28] maxfriedmann opened #1541 "angular-compiler compiles symlinked files, but meteor app can't find them"
Hi,
we sometimes symlink folders into our meteor apps. The angular-compiler package compiles all TS files, including our angular2 components. Unfortunately, during runtime, these components can't be used if angluar/core is present as dependency in the symlinked folder.

I forked the angular2-meteor-base repository with the necessary files to reproduce: https://github.com/maxfriedmann/angular2-mete

[2017-01-12 09:50] staeke opened #1543 "MongoCursorDiffer has bad index handling for forEachIdentityChange"
### When reporting a bug, please be sure to include the following:
- [x] A descriptive title
- [x] An *isolated* way to reproduce the behavior (example: GitHub repository with code isolated to the issue that anyone can clone to observe the problem)
- [x] What version of `angular-meteor` you're using, and the platform(s) you're running it on
- [ ] What packages or other dependencies you're using
-

[2017-01-12 13:43] frapik99 opened #1544 "Cannot import meteor/meteor"
Hi,
I'm following this tutorial [https://angular-meteor.com/tutorials/socially/angular2/3-way-data-binding](url) and everything works until I tried to initialize data on the server. I have followed the tutorial step by step but at the end I have an error:
[code]

He cannot import ```meteor/meteor``` from ```server/main.ts```.

Any idea why please?

Thanks

[2017-01-12 16:12] PopPushOut opened #1545 "meteor-angular2 Cannot find module"
Good evening,

Past few days I was moving https://github.com/akveo/ng2-admin template on meteor base.
This might be useful for all meteor fans at some stage in their career, quite cool template.
 I skip some .ts and many packages that I do no need, like webpack and electron. After fixing compiler errors I launched the project.
Here is the console:
![image](https://cloud.githubusercontent.com/asset

[2017-01-13 19:50] greenkeeper[bot] opened #1546 "An in-range update of rollup is breaking the build 🚨"
## Version **0.41.2** of [rollup](https://github.com/rollup/rollup) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Frollup-0.41.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      rollup
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-01-15 07:53] #1546 closed

[2017-01-15 07:56] dotansimha commented on #1545
@PopPushOut
I think that `.d.ts` files should have explicit extension when importing from. Also, you can try to rename the file and change it's extension to `.ts` only, and maybe moving it to the `imports` dir.

[2017-01-15 07:58] dotansimha commented on #1544
@frapik99, did you run `npm install` for you project? The `meteor/meteor` is a declared module inside `@types/meteor` / `meteor-typings`. Does the server works or it's just a TypeScript warning?

[2017-01-16 22:27] PopPushOut commented on #1545
@dotansimha
the file is already in imports DIR, extension is not a main problem. I think there is something more angular2 template used routing with System, which came from SystemJS I guess or webpack.
[code]
In angular-meteor project I couldn't used that kind of routing because I couldn't understand where from that System came from, so changed to:

[code]

But it doesn't to work. Got compiler err

[2017-01-18 18:56] ludapops commented on #1475
Bump. Lets hear the good news!

[2017-01-18 19:35] barbatus commented on #1475
Here is progress tracking issue https://github.com/barbatus/angular2-compiler/issues/2

[2017-01-19 11:05] der-ede commented on #1264
Hi there,

are there still people using angular-meteor?
I started a project and ran into the same issues as you guys.
Thank you @mattiLeBlanc for posting the github repo invoiceList, but in the readme also questions arose.
Anyone on this right now?
(I am utilizing angular-meteor 1.3.11)

[2017-01-19 14:09] darkbasic commented on #1448
+1

[2017-01-20 13:25] mattiLeBlanc commented on #1264
Hi,

This thread was created 6 months ago or so and i must say that most issue
where resolved. Some were related to architecture and some were bugs.

Which issues are you running into right now?

On Thu, 19 Jan 2017 at 10:05 pm, der-ede <notifications@github.com> wrote:

[2017-01-20 13:56] der-ede commented on #1264
Hi @Matti LeBlanc,

thank you for responding.
The issue of the reactivity not functioning properly almost subsided in the meantime when I played around with the resolve a bit.
But sometimes it still just does not get the changes in $scope.helpers({}), although no „deep“ reactivity.

But also in general I was wondering whether the whole angular-meteor project is obsolete and gone.

Explanation:

Ov

[2017-01-20 23:41] mattiLeBlanc commented on #1264
Well looping at the code base it is still actively being maintained.
There must be a lot of people considering angular 2 , react or Vue over
angular 1.5 so I guess eventually it will become stale.
Not saying you can't keep using it as long as you freeze your code base at
work.

For now I think it is still fine and allows for rapid development
especially with angulars 1.5 components.

On Sat, 21 Ja

[2017-01-21 17:08] der-ede commented on #1264
Ok thank you, in js 2 years has become one whole generation...

[2017-01-21 19:37] ingleo opened #1548 "meteor-ionic2 doesn't work on android kitkat(4.4.4)"
Hi,

I'm trying to integrate meteor and ionic 2 (following the Angular2-Meteor - Socially tutorial) installing it on a device with android kitkat (4.4.4), but I'm getting the next error when selecting ion-input tag in my page.

Tested devices:
- Samsung Galaxy S3 I9300
- Motorola Moto X

Inspecting the device in chrome, this is the generated error:
![seleccion_057](https://cloud.githubusercontent.

[2017-01-23 14:37] maxfriedmann commented on #1541
The issue disappears if there is only one "@angular/core" dependency. So I'll close that issue.

[2017-01-23 14:37] #1541 closed

[2017-01-24 03:04] dongzhi-yang commented on #1276
Hi ,
Is there a fix to this issue?
Any plan to enable angular-meteor to support 'transform'?

Thanks

[2017-01-24 21:21] mragwa opened #1549 "Can't upload image to angular-meteor server"
Dears,
I'm new to Meteor development here.
I'm using it as a backend server to my Ionic2 application so i'm using Angular2+Meteor
and i'm trying to upload image to server
here the tutorial I follow:
https://angular-meteor.com/tutorials/socially/angular2/files-and-uploadfs

but i get an error
`Exception while invoking method 'uploadImage' TypeError: jalik_ufs_1.UploadFS
.Uploader is not a function`

[2017-01-24 21:24] mragwa commented on #1548
due to your secreen shots its not from Meteor.
you just need to define "closest" Method into your object

[2017-01-24 23:00] darkbasic opened #1550 "Tutorial stuck on "loading" on android-device"
$ meteor run android-device

[...]

=> Started app on Android Device.
I20170124-23:57:06.153(1)? 01-24 23:57:03.656 13588 13588 I chromium: [INFO:library_loader_hooks.cc(143)] Chromium logging enabled: level = 0, default verbosity = 0
I20170124-23:57:06.189(1)? 01-24 23:57:04.476 13588 13588 I MeteorWebApp: Serving asset bundle with version: ab78fad63047c6b197998acc2eadd6a6e7e4a30c
I20170124-23:57

[2017-01-24 23:01] darkbasic commented on #1550
![angular-meteor-android](https://cloud.githubusercontent.com/assets/1047358/22270755/5a9352b8-e291-11e6-8fb3-e2b4df662098.png)

[2017-01-24 23:01] darkbasic commented on #1550
I'm using meteor-angular2.0-socially-step11

[2017-01-25 04:06] Richard-Hackman commented on #1550
same here,
while I found APP_PATH_HREF already defined in client\index.html, I've defined that again inside client\imports\app\app.module.ts then the error disappeared and got another error as follows:
modules.js?hash=7293439…:56187 EXCEPTION: Error in :0:0 caused by: The selector "app" did not match any elementsErrorHandler.handleError @ modules.js?hash=7293439…:56187......

[2017-01-25 04:39] ingleo commented on #1548
I installed the same project on android 5.0, 5.1 and 6.0, everything works fine.
Chrome device inspector doesn't show errors.
Regards.

[2017-01-25 13:50] darkbasic opened #1551 "[tutorial] "ctorParameters.map is not a function" when importing Ng2PaginationModule"
Simply adding Ng2PaginationModule to the NgModule imports array is enough to trigger this error:

`Uncaught TypeError: ctorParameters.map is not a function
    at ReflectionCapabilities.parameters (http://localhost:3000/packages/modules.js?hash=63db7161cc520b4e3b40c7043346a413ad1aaaf4:43769:49)
    at Reflector.parameters (http://localhost:3000/packages/modules.js?hash=63db7161cc520b4e3b40c7043346

[2017-01-26 13:25] der-ede commented on #1264
So, just to make sure:

In the helpers, I have to use find() instead of findOne(), since only find() will be treated reactively, right?

And in terms of getreactively: any variable can be made reactive, also variables from services for example?

Regards

[2017-01-26 14:49] greenkeeper[bot] opened #1552 "An in-range update of tslint is breaking the build 🚨"
## Version **4.4.2** of [tslint](https://github.com/palantir/tslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/Urigo/angular-meteor/compare/greenkeeper%2Ftslint-4.4.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      tslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2017-01-26 15:45] der-ede commented on #1264
Ok, got it, getReactively just takes the place of the Session variables in Blaze.

thx

[2017-01-27 00:14] Urigo commented on #1548
great

[2017-01-27 06:55] tuxado commented on #1545
I have the same issue it probably because angular2 use Webpack there is a lazy route loader package for native angular2 to perform lazy load and it not working on meteor the second problem is that the meteor webpack package work only for the meteor 1.2 and 1.3 versions

you can ask for more information at this issue

https://github.com/angular/angular/issues/11625

[2017-01-27 09:07] mragwa commented on #1545
@tuxado  are you get any hacks to solve the lazy load on meteor, i'm stuck on this 3 days ago. ?

[2017-01-27 09:28] mragwa opened #1553 "Lazy Loading & Routing"
Dears,
I'm trying to make my application some how modular and i don't need to inject all of my modules to app.module at the first start.
Native angular2 have a great method "Lazy Loading" but when i tried to use, it  doesn't work.
after a day of search i found that the problem is from meteor itself and it doesn't support angular2 lazy loading.
I'm asking when we can use it or if any one have some

[2017-01-27 10:07] mattiLeBlanc commented on #1264
I think FindOne() and Find().fetch() both give the same reactivity. FindOne just returns one and Find() returns a cursor.

[2017-01-27 10:08] der-ede commented on #1264
ok, then it was about the getReactively() why it didn’t work. thx.

[2017-01-27 13:44] darkbasic opened #1554 "[tutorial] Cannot install angular2-google-maps"
meteor npm install angular2-google-maps --save
socially@ /home/niko/WebstormProjects/socially
├── UNMET PEER DEPENDENCY @angular/common@2.1.2
├── UNMET PEER DEPENDENCY @angular/core@2.1.2
└── angular2-google-maps@0.17.0

npm WARN angular2-google-maps@0.17.0 requires a peer of @angular/common@^2.3.1 but none was installed.
npm WARN angular2-google-maps@0.17.0 requires a peer of @angular/core@^2.3.1

[2017-01-27 20:44] tuxado commented on #1545
No i am not sur that there are a hack for that, the only thing i know you can try install meteor version version​ 1.3 and the webpack 2 package from the atmosphrejs compatible with meteor 1.3 and  flynn: webpack-angular2 there are some limitation on meteor 1.3 with angular 2  and the final result it will be ugly if you like using meteor 1.4 with angular 2 try use native routing without loadchildre

[2017-01-27 22:15] Richard-Hackman commented on #1550
@darkbasic hello, have you found any solution for this problem?

[2017-01-27 23:14] darkbasic commented on #1550
Unfortunately not...

[2017-01-28 02:01] Richard-Hackman commented on #1550
@darkbasic I have just found one, you need to edit client\main.ts to be like:
[code]

In the solution I found in stackoverflow they have added the following lines as well which I omitted and the app worked without them as well:
[code]
you may take a look here:
http://stackoverflow.com/questions/40077102/app-from-socially-tutorial-with-angular2-stuck-in-loading-page-on-android

I hope that will hel