[2016-02-15 08:28] ozsay commented on #1105
You can search for a magic solution... Or you can implement some kind of transformation function:
[code]

[2016-02-15 08:33] ozsay commented on #1108
@burock Can you provide a repo with your issue ?

Thanks

[2016-02-15 08:45] burock commented on #1108
Sure, you can try it [here](https://github.com/burock/superintendent)

Thanks

[2016-02-15 09:06] TWKDreamState commented on #1110
@Urigo Because my code was a bit of a mess as I transitioned to the new syntax (a mixture of $scope and this) I rewrote it in component form in a directive and it now works without the `var vm =`.

[2016-02-15 09:07] mitiaptest commented on #1218
@Urigo Is there any setting for suppressWarnings ?

[2016-02-15 09:09] mitiaptest commented on #1218
@Urigo I have checked with 1.3.6-beta.1 and it is not showing any warning in my console.Is that means my code is correct (No need to change)????

[2016-02-15 09:12] lorenzogm commented on #1227
Thank you @Urigo !

[2016-02-15 09:58] ozsay commented on #1108
@burock it's a whole application :), can you provide the scenario as well so I could reproduce it?

[2016-02-15 10:08] burock commented on #1108
sure :) , sorry..

On Mon, Feb 15, 2016 at 11:58 AM, Oz Sayag <notifications@github.com> wrote:

[2016-02-15 12:22] MilosStanic commented on #1211
Hi, I also tried to package angular2-materialize package for Meteor, but failed. Main problem so far is packing any .ts files for Meteor, as well as packing npm dependencies of the original package that don't already exist on Atmosphere.
I will keep trying. If I succeed, I'll suggest a chapter for Angular2-Meteor tutorial.

[2016-02-15 12:47] Deadly0 commented on #1105
@ozsay, yes I use roles to secure the data. Move selectors to a publish function sounds like a good idea, thank you very much!

[2016-02-15 12:47] #1105 closed

[2016-02-15 14:16] skyboys22 opened #1233 "use external js function"
Hello,

i'm using angular2-meteor -v1.3.5 with Materialize, and my probleme is how to call external function javascript or Jquery from ts file?
i found declare function xxx(); but it's not resolve my probleme :/

my need is to initialise function, i tried to do that inside html file but no success.

any idea?

thank you

[2016-02-15 14:31] MilosStanic commented on #1211
@Hongbo-Miao I kinda succeeded to transpile TS and package it for meteor using the package.js like in https://github.com/barbatus/ng2-meteor-accounts/blob/master/package.js
Please try and let me know.
It seems that I also need to package other npm dependencies that don't exist on atmosphere and use them in my package.js

[2016-02-15 15:21] maximsko commented on #1231
Duh, please excuse me. I just dug deeper on this and came to the conclusion, that I had misunderstood the concept of layouts in angular. In a regular Angular app this wouldn't happen, because there is one initial index.html (or however you want to call it) and Meteor seems to just load everything by default which caused the navigation do be loaded twice, so that wasn't my routes configs fault.
Any

[2016-02-15 15:21] #1231 closed

[2016-02-15 17:30] gentunian commented on #996
Following the tutorial from: http://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping I've got the same error with meteor `1.2.1` from scratch:

[code]

I first created this `app.ts`

[code]

Finally I left the file like this:

[code]

[2016-02-15 17:31] Urigo commented on #1218
If your settings makes warnings on, then yes - http://www.angular-meteor.com/api/1.3.6/settings

[2016-02-15 17:31] Urigo commented on #1110
cool

[2016-02-15 17:57] barbatus commented on #996
@gentunian your socially-ng2-ionic2.html has wrong layout for the package, i.e., it contains `Template` tag. This actually is noted in the tutorial, i don't know how clear it's stated but most seems be able to grasp it properly. Second, it's better to place html files in `client` folder, boilerplate app has it in the root.

[2016-02-15 21:06] gentunian commented on #996
@barbatus you were right about templating, my idea was to show the error related to the issue. I removed all previously generated files and I left only the `app.ts` and the `index.html` for paste the error:

[code]
Despite that getting the error complaining about modules, "Hello World!" is printed.

[2016-02-15 21:38] insidemybrain commented on #1110
@Urigo Hello, i've updated my angular to 1.3.6-beta.1 and really solved my bunch of warnings! But now, i've got one Error. In my version, before upgrade, i was able to call directives from my app body like:
`<body>
      <navigation></navigation>
</body>`

Now, my directive gives me this error:

Should I open a new Issue?

[2016-02-15 23:29] DmitryEfimenko commented on #1110
@insidemybrain That depends on your case. Does not look like the code you showed has anything to do with Meteor.
I've been updating my app according to latest @Urigo's comment and so far all works fine.

[2016-02-16 01:09] insidemybrain commented on #1110
@DmitryEfimenko and @Urigo
Here's my code for 'navigation' from the example above.
`angular.module('gerenciadorImoveis').directive('navigation',
	() => {
		return {
			restrict: 'E',
			templateUrl: 'client/view/padrao/navigation.ng.html',
			controllerAs: 'navigation',
			controller: function($scope,$reactive){
				$reactive(this).attach($scope);
				this.sair = () => { Accounts.logout(); };

[2016-02-16 03:31] pacozaa commented on #1177
@ozsay Thank you.
I will try it the day after tomorrow and give info back to you.

[2016-02-16 07:28] fancyer commented on #1175
Guys I resolved this problem with only client side code.

Angular-meteor stores Meteor.loginToken in local storage, and removes it when logout.
When I login, add a key to local storage, when I log out, remove it.

[code]

[2016-02-16 10:12] LucNaterop commented on #1180
+ 1

[2016-02-16 11:29] pacozaa commented on #1108
I use `angular@1.3.6-beta.1`  and `$state.go('collectionName');` working without `settimeout()`. So I think the issue was fixed.

For people who want to try don't use `meteor update angular@1.3.6-beta.1` it will occur an error, but
use `meteor remove angular` then `meteor add angular@1.3.6-beta.1`

Thank you.

[2016-02-16 12:04] pacozaa commented on #1177
@ozsay Hey, I test `angular-meteor@1.3.6-beta.1` with this issue what it came out is

1. @Deadly0 suggestion works.
`
this.helpers({
     PrintImages: () => {
          return Prints.find({});
        }
});
`
and then in html file I just call {{controllerName.PrintImages[0].url()}}
2. @ozsay your suggestion above doesn't work.
3. I have tried
`
this.helpers({
     PrintImages: () => {
          re

[2016-02-16 13:02] MilosStanic commented on #1213
Here's a topic about deprecating CollectionFS on Meteor Forums:
https://forums.meteor.com/t/deprecating-collectionfs/16921/2

[2016-02-16 13:52] gooor commented on #1221
@Urigo `1.3.6-beta.1` fixed the problem of re-executing the helper on every change in any collection :)
There's one thing that bothers me. As @ozsay wrote, best practice is to use autorun not helper, and if I do replace
[code]
(which now works fine on 1.3.6) with
[code]
It again executes on every change to Foos, while `this.field` remains unchanged o_O

[2016-02-16 14:22] Urigo commented on #1221
@gooor the best practice is to use `helpers` only for Meteor Cursors.
Your last example use a Meteor Cursor so you should use a helper

[2016-02-16 14:28] gooor commented on #1221
@Urigo thanks for explanation :) - but there's still a problem as `autorun` is called even if `this.field` is unchanged

[2016-02-16 14:33] Urigo commented on #1221
@gooor this is how Meteor's `autorun` works.  it executes on every change on any reactive thing inside it and a Meteor cursor is a reactive object.
If you want to re-run something only when `field` is changing you can use Angular's `$watch`:

[code]

[2016-02-16 14:37] gooor commented on #1221
@Urigo ok now I understand (I think) :)

[2016-02-16 16:02] barbatus commented on #996
Hey read carefully first step to the end, everything is explained there.

[2016-02-16 17:24] gentunian commented on #996
ooops! such a shame I made noise on this. Sry

[2016-02-16 17:29] harrysbaraini commented on #1233
If I understand you, you have to import the file into where it will be used.

[2016-02-16 18:26] HariharanIT commented on #1079
Hi,

https://github.com/HariharanIT/angular-meteor-socialLogin
I am trying social login with angular-meteor in ionic CLI

In latest angular meteor version they..we don't need any wrapper(ie $meteor) to call meteor methods...but even though calling Meteor object directly didn't get any result..i am getting the error which i already mention in this issue.....

[2016-02-16 19:45] gentunian commented on #996
Ok, I've just found that using

[code]

inside `client/app.ts` won't work, because is referring to `typings` inside `client` directory:

[code]

This is working ok:

[code]

Thanks,

[2016-02-17 14:20] Hongbo-Miao commented on #1211
@valorkin @MilosStanic  I got help from (zrbfly)[https://atmospherejs.com/zrbfly/ng2-bootstrap], who first succeed packaging ng2-bootstrap, I will let you know details of how to package it once I am clear those steps.

[2016-02-17 18:23] TWKDreamState opened #1235 "meteor-publish-composite"
This is not intended as a bug report unless you feel it as a bug with angular-meteor and not meteor-publish-composite! I'm posting as guidance to anyone else facing this issue.

I use meteor-publish-composite throughout my app and had an issue with the reactive searching and ordering, based on a $stateParam that I supplied.

Essentially, using a normal meteor.publish worked fine. When I used the s

[2016-02-17 22:41] Urigo commented on #1235
thanks you very much for this @TWKDreamState

[2016-02-17 22:41] #1235 closed

[2016-02-17 22:43] Urigo commented on #1233
@skyboys22 can you please provide an example app for that scenario? I'm sure I understand exactly what you are trying to accomplish

[2016-02-17 22:44] Urigo commented on #1221
1.3.6 was released.

[2016-02-17 22:44] #1221 closed

[2016-02-17 22:45] Urigo commented on #1220
I've released `1.3.6`.
It should be solved now as I saw that scenario and saw it was solved.
But if I mistaken please re-open that issue and tag me.

[2016-02-17 22:45] #1220 closed

[2016-02-17 22:47] skyboys22 commented on #1233
hello @Urigo i'm using Materialize with angular2-meteor, with css it's perfect but to initialise function js i found probleme to do it. with meteor we can use template.nameTemplate.event, but i dont find this in angular2-meteor :/

[2016-02-17 22:48] Urigo commented on #1212
Angular Meteor `1.3.6` was released.
Closing as we didn't get feedback for the past 5 days.
Please re-open if your problem wasn't solved and you can provide a reproduction.

[2016-02-17 22:48] #1212 closed

[2016-02-17 22:50] skyboys22 commented on #1233
event that i need is when the template is rendred

[2016-02-17 22:51] Urigo commented on #1108
Great.
Angular Meteor 1.3.6 was just released.

[2016-02-17 22:52] Urigo commented on #1034
`angular@1.3.6` is out.

[2016-02-17 22:53] Urigo commented on #1233
@skyboys22 please provide an example project

[2016-02-17 22:54] Urigo commented on #1064
should be fixed with the new `1.3.6` release.
Please re-open and tag me with a reproduction project if it's not.

[2016-02-17 22:55] #1202 closed

[2016-02-17 22:56] Urigo commented on #1198
`1.3.6` was released and was supposed to fix this issue.
Please re-open and tag me with a reproduction project if it doesn't work for you.

[2016-02-17 22:56] #1198 closed

[2016-02-17 22:59] skyboys22 commented on #1233
i have this in TS file
[code]
collapsible is function in materialize.
and this in html
[code]
what i'm doing know:
`    <a class="btn" onclick="$('.collapsible').collapsible({accordion : false})">Activer</a>
`

[2016-02-17 22:59] #1191 closed

[2016-02-17 23:01] #1183 closed

[2016-02-17 23:06] Urigo commented on #1177
@pacozaa just released `1.3.6`.
It seems like you found a solution but please also try the following:

[code]

[2016-02-17 23:06] #1177 closed

[2016-02-17 23:07] Urigo commented on #1140
@yobre can you please provide a reproduction of an example project where you are trying to that and not successful?

[2016-02-17 23:07] Urigo commented on #1137
Closing as there is no response

[2016-02-17 23:07] #1137 closed

[2016-02-17 23:08] Urigo commented on #1136
@kokokenada can you please try with the new `1.3.6` version?

[2016-02-17 23:10] Urigo commented on #1125
@kaihaase can you please try the new `1.3.6` version?
If it doesn't work for you can you please provide a simple reproduction project?

[2016-02-17 23:10] Urigo commented on #1119
closing as I haven't received feedback for 10 days

[2016-02-17 23:10] #1119 closed

[2016-02-17 23:12] Urigo commented on #1118
@mixersoft please try the new 1.3.6 version.
Closing as we haven't got a response for a few day.
But please feel free to re-open and tag me with a reproduction project if the problem still occurs

[2016-02-17 23:12] #1118 closed

[2016-02-17 23:13] Urigo commented on #1110
Everyone - `1.3.6` is out with all of the fixes you asked for.

@insidemybrain can you please provide a reproduction project with that scenario?

[2016-02-17 23:14] Urigo commented on #1109
`1.3.6` was released with that option: http://www.angular-meteor.com/api/1.3.6/settings

[2016-02-17 23:14] #1109 closed

[2016-02-17 23:17] Urigo commented on #1092
@sebakerckhof why not setting loading to true one line before the subscription is called?

[2016-02-17 23:34] SimoneGatti opened #1237 "Controversial use of $reactive(this).attach($scope)"
In tutorial and in API reference you can find many example using famous command <b>$reactive(this).attach($scope)</b> without contextualized its use.

I would like to change subscribe according to a $scope var. Moreover I would like to see in view the collection subscribed.

My current code:
I'm using angular 1.3.5. I'm using a simple angular controller (<b>not controllerAs, not directive, not oth

[2016-02-18 00:14] insidemybrain commented on #1110
@Urigo I've added you on my private project. Thanks.

[2016-02-18 06:37] michaelszt opened #1238 "1.3.6 : $rootScope can not be reactive as other scopes"
Description on first comment

[2016-02-18 06:40] michaelszt commented on #1238
After I update my project to 1.3.6, I get this error :

TypeError: scope.viewModel is not a function
    at Reactive.attach (angular-meteor-data.js:1798)
    at new controller (card-tools.component.js:11)
    at Object.invoke (angular_angular.js:4546)
    at extend.instance (angular_angular.js:9205)
    at nodeLinkFn (angular_angular.js:8322)
    at angular_angular.js:8595
    at processQueue (ang

[2016-02-18 07:43] TWKDreamState commented on #1237
Hi, I'm fairly new to all this (learning every day!) but I think you need to return the Cars.find(selector, options) in your Meteor.publish.

Try ...

`return Cars.find(selector, options)`

[2016-02-18 07:50] TWKDreamState commented on #1237
You also have a mixture of this and $scope. I'd suggest just sticking to 'this' as you use $reactive(this).attach($scope)?

[2016-02-18 07:52] TWKDreamState commented on #1237
`.controller 'CarsCtrl', ($scope, $reactive) ->
  $reactive(this).attach($scope)

  this.searchText = ""
  this.carsPerPage = 10
  this.actualPage = 1;
  this.sort = {
    _id: 1
  }

  this.autorun () ->
    console.log 'changed>'+this.getReactively('searchText')

  this.subscribe('cars', ->
    console.log 'subscribe'
    [
      {
        limit: parseInt(this.carsPerPage),
        skip: parseIn

[2016-02-18 08:30] SimoneGatti commented on #1237
Hi @TWKDreamState, my publish actually return Cars.find(selector, options): it's coffeescript.
Moreover the mixture of this and $scope is mandatory, because I need to change searchText, carsPerPage, actualPage and sort in the view.
I can yet resubscribe each time I change the value of that variables. The problem is how to view cars in a ng-repeat.

[2016-02-18 08:33] TWKDreamState commented on #1237
My bad - they say a little knowledge is dangerous! Hopefully someone else might be able to suggest what is happening.

[2016-02-18 08:41] SimoneGatti commented on #1237
@TWKDreamState Thank you anyway! Do you never display a collection or a variable using this?

[2016-02-18 08:56] ozsay commented on #1237
`$reactive(this).attach($scope)`

This command does 2 main things:
1. It makes the context that you send to `$reactive` function a reactive context. All of the helpers will be available on this context.
2. It attaches the reactive context to a scope. Because angular watchers are available only on scope (and not on controllers) we must attach to a scope in order to track changes (for `getReactively

[2016-02-18 08:58] ozsay commented on #1238
Can you share your meteor versions file ?

[2016-02-18 09:33] michaelszt commented on #1238
# Meteor packages used by this project, one per line.
# Check this file (and the other files in this directory) into your repository.
#
# 'meteor add' and 'meteor remove' will edit this file for you,
# but you can also edit it by hand.

meteor-base             # Packages every Meteor app needs to have
mobile-experience       # Packages for a great mobile UX
mongo                   # The database M

[2016-02-18 09:37] ozsay commented on #1238
@michaelszt this the the packages file, in the same folder there is the versions file. Can you share it as well?

Thanks

[2016-02-18 09:52] michaelszt commented on #1238
accounts-base@1.2.2
accounts-password@1.1.4
accounts-ui@1.1.6
accounts-ui-unstyled@1.1.8
alanning:roles@1.2.14
angular@1.3.6
angular-meteor-data@0.2.0
angular-templates@0.0.3
angular:angular@1.5.0
angular:angular-animate@1.5.0
angular:angular-aria@1.5.0
angular:angular-material@1.0.5
angularui:angular-ui-bootstrap@0.13.0
angularui:angular-ui-router@0.2.15
angularutils:pagination@0.9.1_2
autoupdate

[2016-02-18 09:55] ThomsC commented on #1108
Ok..

So I had to rewrite everything in to order to get things work.

I would be nice if you tell everybody somewhere that `$auth.requireUser()`doesn't work anymore. All my problems came because of that.

Could you also show us how to use `this.$awaitUser()` in the resolve cause as far as I know `$scope`can't be use in the resolve so we can't write something like this `$reactive(this).attach($scop

[2016-02-18 10:00] ozsay commented on #1238
I don't see any issue with the versions. Can you share a repository so I can reproduce the error?

[2016-02-18 10:01] SimoneGatti commented on #1237
Thank you @ozsay! I try your solution but the browser console logs this error
<img width="1908" alt="schermata 2016-02-18 alle 10 57 52" src="https://cloud.githubusercontent.com/assets/16915705/13139816/a79557ca-d62e-11e5-832e-60babd8de8a3.png">

[2016-02-18 10:05] ozsay commented on #1237
can you try to upgrade `angular-meteor` to the latest version (1.3.6)?

[2016-02-18 10:11] ozsay commented on #1108
@ThomsC Can you see if the API docs is sufficient ? http://www.angular-meteor.com/api/1.3.6/auth

If not, can you tell us what do you think is missing and we will add it to the docs?

Thanks

[2016-02-18 10:14] SimoneGatti commented on #1237
Sure, but is it available on atmospherejs?

[2016-02-18 10:16] ozsay commented on #1237
yes

[2016-02-18 10:18] SimoneGatti commented on #1237
Cool! I will try it..

[2016-02-18 10:25] ThomsC commented on #1108
Yes I checked it that why I asked an exemple on how to verify the user in the `resolve`part of a route and not in the `controller` as it is demonstrate in the documentation

[2016-02-18 10:36] SimoneGatti commented on #1237
Ok, it works fine! (without use of $reactive(this).attach($scope))
@ozsay @Urigo: May I suggest to deprecate version 1.3.4 and 1.3.5?

[2016-02-18 10:38] nunof07 commented on #1110
I'm running version 1.3.6 and I have the same issue as @insidemybrain

Seems to only happen for directives placed directly in the body. Everything inside `ui-view` seems to work fine.

Also see #1238

[2016-02-18 10:39] sebakerckhof commented on #1092
@Urigo Because the subscription is reactive, and I want a loading indicator everytime it re-runs.
Of course I could do an autorun on the reactive subscription parameters, but I need to do this quite often, so it becomes cumbersome.

[2016-02-18 11:12] burock opened #1240 "1.3.6 Subscribe returns no items"
Hi,
I upgraded to 1.3.6 but my subscriptions no longer work. No errors in the console but no matter what i do they are blank. My shared code can be seen at https://ide.c9.io/eba_sfdc/booker
Basically, i publish "Items" and try to subscribe to them with the below code (which works until 1.3.5 and I have "items" served):
[code]
I probably missed something during the upgrade but couldn't figure out w

[2016-02-18 12:03] ThomsC commented on #1240
Have you somewhere some code which is referring to old version as '$meteor.object`or '$auth.require' and so on ?
Because once I rewrite my app entirely with the new API 1.3.6, everything was working again.

[2016-02-18 12:32] burock commented on #1240
Unfortunately I did a file search and found nothing.. I have a suspicion about this package, though...
```dburles:mongo-collection-instances  upgraded from 0.3.4 to 0.3.5```

I also checked server side, when I use getReactively the server is not triggered despite I can see on the client that it requests and it does return empty collection. I dont want to reset mongodb assuming that's not effected.

[2016-02-18 13:23] ThomsC commented on #1181
looks like it is down again..

[2016-02-18 13:43] pacozaa commented on #1177
@Urigo You suggestion is not work with `1.3.6 or 1.3.5` (I've tried this with 1.3.5 before)as my opinion above I don't think it subscribe or reactive with single value neither findOne() nor count()

[2016-02-18 14:00] 2stopme opened #1241 "Website is down"
Hi,

http://www.angular-meteor.com/ website is down.

Could you fix it ?

[2016-02-18 14:05] Urigo commented on #1177
@pacozaa so I guess this is another problem.
if you can share a reproduction in a repo I can have a look

[2016-02-18 14:12] Urigo commented on #1241
should work now.
thanks for the heads up

[2016-02-18 14:12] #1241 closed

[2016-02-18 14:54] dapids commented on #1240
I'm experiencing the same problem. The issue seems somehow related to the package angular-meteor-data@0.2.0 .

[2016-02-18 15:18] sabativi commented on #1205
True, i think we need some infos on how to include angular-meteor-auth within an ionic app, what it the package, i can find the repo to use the url as dependencies for now [auth](https://github.com/ozsay/angular-meteor-auth) does not work
Thanks

[2016-02-18 15:42] dotansimha commented on #1240
@burock @dapids can you provide the actual app so I can try it locally?

Thanks

[2016-02-18 15:43] burock commented on #1240
you can try mine from here: https://ide.c9.io/eba_sfdc/booker

thanks

[2016-02-18 15:45] dotansimha commented on #1110
@insidemybrain do you use `angular` or `angular-with-blaze` package?
Also, where is your main HTML file located? in the root or inside `client` folder?

[2016-02-18 15:47] Urigo commented on #1110
closing this issue as the original problems were solved.
Please open separate issues for separate problems.
Thanks

[2016-02-18 15:47] #1110 closed

[2016-02-18 15:48] Urigo commented on #1237
@SimoneGatti it's that what 1.3.6 is doing?

[2016-02-18 15:48] #1237 closed

[2016-02-18 16:01] dotansimha commented on #1108
@ThomsC
`awaitUser` provides the same functionality as `requireUser`, it returns a promise that resolves when the user is logged in...

Actually it exactly like you used to do it with `requireUser`:
[code]

Also, you can implement it your self, like in Socially:
https://github.com/Urigo/meteor-angular-socially/blob/master/client/routes.js#L14-L21

[2016-02-18 16:01] #1108 closed

[2016-02-18 16:32] ThomsC commented on #1108
@dotansimha

This code doesn't work :

[code]

this code works

[code]

But I was hopping something like

[code]

[2016-02-18 16:51] cleor41 commented on #1238
I received the same issue today

[2016-02-18 16:59] nunof07 commented on #1238
I have the same issue.

Seems to only happen for directives placed directly in the body. Everything inside `ui-view` seems to work fine.

My HTML file is in the root folder.

This was also mentioned here: https://github.com/Urigo/angular-meteor/issues/1110#issuecomment-184462418

[2016-02-18 17:31] kamilkisiela opened #1242 "$angularMeteorSettings in legacy code"
https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/modules/angular-meteor-utils.js#L7-L17

The `$angularMeteorSettings` is a part of `angular-meteor` module not the `angular-meteor.utils`.

So it won't work and will throw `$injector:unpr` error.

[2016-02-18 18:02] ozsay commented on #1238
@cleor41 @nunof07 Can you share a repository so we'll investigate the issue ? Thanks

[2016-02-18 18:35] ozsay commented on #1238
I think I just encountered this issue.

It looks like it will happen on the `$rootScope`.

@cleor41 @nunof07 Can you see if the scope that creates this issue is the root ?

[2016-02-18 19:08] ozsay commented on #1226
Sorry for the late comment, we worked hard this week for releasing 1.3.6.

About your question:

There is a different method of sharing data across controllers (when using directives) in angular. You need to use the option `require` to set a dependency between your controllers and then you will be able to access one's properties from another. Here is the [official explanation](https://docs.angular

[2016-02-18 19:39] cubitworx commented on #1226
@ozsay Not a problem & thanks for the reply!

However, this would not be practical for me in this instance since I don't know what "parent" controller will be using this functionality before hand. Child controller will be wrapped up into a package. This is why I am sharing the data using a service. The naming was just for the explanation.

My question was more around the reactivity which I was not

[2016-02-18 20:47] cubitworx commented on #1238
@ozsay Yes, it appears to be related to the root scope. As soon as I comment out `$reactive(this).attach($scope);` in the controller where $scope is the $rootScope the error goes away.

[2016-02-18 21:00] cleor41 commented on #1238
After I commented out the "reactive scope attach" line I received another error on "this.helpers". I can send a repo over as soon as I get home.

[2016-02-18 22:04] nunof07 commented on #1238
Here is a very basic setup to reproduce this issue: https://github.com/nunof07/angular-meteor-issue1238

Root file:

[code]

Directive:

[code]

Error message:

[code]

[2016-02-19 00:46] cleor41 commented on #1238
I made a branch to show the error. Clone it down and run meteor to see the error.

[2016-02-19 01:55] michaelszt commented on #1238
Now I update angular:angular to 1.5.0, I found if I change directive to component then it works good. Here is my new code:
`
(function(){
    'use strict';

  angular.module('Aries').component('cardtools', {
      templateUrl: 'client/card-tools/card-tools.html',
      controller: cardtoolsCtrl

  });

  cardtoolsCtrl.$inject = ['$scope', '$reactive','$mdSidenav', '$state', 'ssSideNav', 'ssSideNav

[2016-02-19 05:24] sathishc commented on #1238
I received the same error. It appears when I do this.

`$reactive(this).attach($rootScope);` in my main angular app.run method.

[2016-02-19 08:35] Isigiel opened #1245 "Apps are not working when minified"
Wrong repo, added the issue to the correct one.

[2016-02-19 09:57] ozsay commented on #1245
Can you close this and reopen in https://github.com/Urigo/angular2-meteor repository ?

Thanks

[2016-02-19 10:02] #1242 closed

[2016-02-19 11:24] hugoserrana commented on #1240
Same here. seems somehow related to the package angular-meteor-data@0.2.0. After update this package and angular package from 1.3.5 to 1.3.6 it occurred.

One interesting thing here,
this occur only when my publish have more than one cursor.

[2016-02-19 12:29] #1245 closed

[2016-02-19 13:36] burock commented on #1240
Can it be this line by ozsay on an update to angular-meteor-data where he renames angular-meteor.utils as:
[code]
but under angular meteor [packages](https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/modules/angular-meteor-utils.js) it is actualy still utils..

[2016-02-19 13:41] ozsay commented on #1240
@burock There are 2 modules for utilities. One legacy and one for current code.

[2016-02-19 13:44] burock commented on #1240
ok.. saw it.. sorry, was reading the code.. i'll be more careful.

[2016-02-19 13:50] ozsay commented on #1240
it's ok :) we are all here to help.

BTW can you clone the repo from c9 to github so I could look at it ?

[2016-02-19 14:04] burock commented on #1240
[here](https://github.com/burock/booker) it is.. if you've a c9 user the one over there is already public https://ide.c9.io/eba_sfdc/booker ..

thanks
burock

[2016-02-19 14:45] berkaey opened #1246 "Subscribe won't pass data to helpers on rootScope"
on client:
[code]
on server:
[code]
I can read "this works" couple of times but somehow data wont be available to $rootScope.myList

so how can I manage to pass data to rootscope reactively

btw the version Im using is angular@1.3.5

[2016-02-19 15:03] berkaey commented on #1246
I made it with this
[code]
but doesn't look like best practise :) any better way to do it?

[2016-02-19 15:51] dapids commented on #1240
@dotansimha,

Thanks for your help. Unfortunately I can't share my app.

I'll try to give more details as soon as I can.

Cheers.

[2016-02-19 15:56] ikostic commented on #1238
+1

[2016-02-19 16:17] insidemybrain commented on #1238
+1

[2016-02-19 17:22] robmarian commented on #1142
Unfortunately, I have the same problem.
I'm using `angular@1.3.6` and `angular-meteor-data@0.2.0`, so the solutions proposed here don't apply to my situation.
I've setted up a [repo](https://github.com/robmarian/ng-repeat-issue) with steps to reproduce the issue. Make sure to hack around it.

[2016-02-19 19:21] fpaboim commented on #1238
+1 same here with the viewmodel problem

[2016-02-19 19:53] maximsko commented on #656
Works like a charm since 1.3.6 :)

[2016-02-19 22:11] Ben305 commented on #656
@maximsko Sorry, I'm still having problems with 1.3.6

@ozsay Will this issue be fixed in 1.3.7?

[2016-02-20 13:00] neosekar commented on #791
Hi,
 I am getting the same error  **TypeError: Cannot read property 'apply' of undefined at null.loginWithFacebook** ,  i am using angular-meteor 1.3.6 version..

[2016-02-20 14:00] ozsay commented on #791
@neosekar You don't need to use `$meteor` anymore.

You can just use `Meteor.loginWithFacebook` as described in the [official meteor docs](http://docs.meteor.com/#/full/meteor_loginwithexternalservice).

If you need to send a callback to the function use `$bindToContext` to be able to update your data reactively. Check the usage example in `ReactiveContext` [docs](http://www.angular-meteor.com/api

[2016-02-20 16:18] neosekar commented on #791
If i use Meteor method like this

** Meteor.loginWithFacebook({},
			function (error) {
				if (error) {
					return console.log(error);
				}
			});**

	 i am getting error like this,  **TypeError: Meteor.loginWithFacebook is not a function**.
Can you post any working sample code of loginWIthFacebook in angular-meteor.

[2016-02-20 17:35] Urigo commented on #1238
why would you want to use reactivity on the $rootScope?
I believe it's a bad practice but please show me use cases and let's see if it's something we really want to support

[2016-02-20 17:36] Urigo commented on #1238
why would you want to use reactivity on the $rootScope?
I believe it's a bad practice but please show me use cases and let's see if it's something we really want to support

[2016-02-20 17:36] Urigo commented on #1246
@berkaey please look at [this comment](https://github.com/Urigo/angular-meteor/issues/1238#issuecomment-186657465) and let's continue there.

[2016-02-20 17:36] #1246 closed

[2016-02-20 17:39] Urigo commented on #791
@neosekar have you add the `accounts-facebook` package?

[2016-02-20 17:46] cleor41 commented on #1238
It was supported until not too long ago. Not saying it should be supported but it was an awkward error to get out of the blue. As an example though, lets say I have a notifications collection. This is a collection in it's own right and not a subfield of the user object. No matter where a user goes in the application, the user needs to be notified when they get a message. Without the ability to put

[2016-02-20 17:59] DAB0mB commented on #1238
@cleor41 The thing is that once you define variables on the $rootScope there will be a computation and a watcher running behind the scene, and since the $rootScope doesn't have any destruction mechanism there might be a potential memory leak. `angular-meteor` doesn't let you define any variables on the $rootScope to make sure you don't face these problems. Do you think it's a necessary thing? Or d

[2016-02-20 18:08] cleor41 commented on #1238
@DAB0mB I see, as long as you understand the risks and don't abuse it in your application I don't think it's that bad. Global state is frowned upon across the board but in some applications, a collection should never be deconstructed. Putting these collections on the $rootScope just seems like the cleanest way to accomplish this.

[2016-02-20 18:10] cleor41 commented on #1238
Maybe there's a way to factor this code out and include it if necessary? I'd be happy to help out wherever

[2016-02-20 18:38] cleor41 commented on #1238
Unless it's painful to re-implement or it reduces performance for 80% of the other use cases out there, even if they don't make the $rootScope reactive, I don't see why this has to be enforced. Just seems like an unnecessary restriction. If this does stay as is, the docs should at least be changed to reflect this because it seems like a few people had this issue

[2016-02-20 18:44] Urigo commented on #1238
@cleor41 yes this is a good point.
Adding it back is not hard but I would love to hear more opinions about that before doing so as there are definitely better solutions to do that in your app.
On the other hand, it's your responsibility...

[2016-02-20 18:53] cleor41 commented on #1238
@Urigo fair enough, it was a contrived example, I'm curious to hear others opinions also

[2016-02-20 18:59] pacozaa commented on #1177
@Urigo How to reproduction in a repo?
If I run meteor on my laptop which directory in project I have to edit or modify. Is it `.meteor/build` ?
I would like to help you make angular-meteor better, so any advice to help or solve this issue is appreciate.

[2016-02-20 19:05] nunof07 commented on #1238
In my case I have a couple of directives used in the main template, for example a header with menus, etc. and I need the reactivity to know if the user is logged in or to access other data.

For example, I have something similar to this:

[code]

And some of those directives need the reactivity. Should I be doing this differently?

[2016-02-20 19:06] ozsay commented on #1238
The performance impact of using `$rootScope` as a reactive context is individual to the use case. After each run of `autorun` (`helpers` is implemented with `autorun`) `angular-meteor` calls `$digest` on the scope. If you set a `helper `or a `autorun `on the `$rootScope`, after each run `angular` will check all of the watchers of the `$rootScope` and **all of it's children**. This can cause a big

[2016-02-20 19:20] cleor41 commented on #1238
@ozsay so in effect, that is no different then placing a directive right under the $rootScope and nesting all of your states from that directive. I think that's what most people do anyway. Does this also break any libraries out there?

As an alternative then, should we use the event listener paradigm more frequently? What are some of the things you guys do to solve problems like @nunof07's?

[2016-02-21 03:26] neosekar commented on #791
I already added the list of packages

**accounts-base          1.2.2  A user account system
accounts-facebook      1.0.6  Login service for Facebook accounts
accounts-password      1.1.4  Password support for accounts
autopublish            1.0.4  (For prototyping only) Publish the entire ...
blaze-html-templates   1.0.1  Compile HTML templates into reactive UI wi...
ecmascript             0.1.6*

[2016-02-21 04:28] riongull commented on #1183
New to development here, so pardon me if I'm wrong, but I think the socially tutorial may still have outdated syntax on step 3.2.

Should this block of code work with the 1.3.6 API?  It looks like the new usage requires $reactive.

  angular.module('socially', ['angular-meteor']);

  angular.module('socially').controller('PartiesListCtrl', function ($scope) {
    $scope.helpers({
      parties: ()

[2016-02-21 08:03] DerekFong1004 commented on #1238
+1 Having the same problem after updating to 1.3.6.

[2016-02-21 09:16] Urigo commented on #1238
ok we will add it in 1.3.7.  hopefully today.

[2016-02-21 09:17] Urigo commented on #791
@neosekar let's do the opposite, can you please provide an non working example I can look at?
in a separate repo.
Thanks

[2016-02-21 09:39] insidemybrain commented on #1238
@Urigo Thank you 😸😸😸

[2016-02-21 14:11] neosekar commented on #791
Here i attached the repository url  [](https://github.com/neosekar/meteorIonic2).

[2016-02-22 04:39] mattiLeBlanc commented on #1126
Sorry, but is `$auth.requireUser` removed from the $auth package??
You can't just add and remove functions with each release, I am using this stuff for production purposes (and I love it). But after an update I hate to see my app break.

Looking at the doc, `awaitUser` doesn't seem to be a replacement for `requireUser`.
I just need to resolve the current user in my UI-router and this was the corre

[2016-02-22 04:51] ThomsC commented on #1126
+1

[2016-02-22 07:13] NiveditN commented on #1126
I am facing the same issue as mattiLeBlanc. $auth.requireUser() is not working anymore and my entire app is down. I will have to revert to version 1.3.5 because using the ($q) method does not work well with latency.

Would really appreciate if you bring back $auth.requireUser() or its equivalent. Otherwise, I'll have to stick to older version. Thanks.

[2016-02-22 09:47] mattiLeBlanc commented on #1126
I can't seem to revert back to 1.3.5. I even removed the cached packages in
the hidden folder of my home for.
This is a pretty big issue for me.
Hope it is possible to make a quick fix for this?
On 22 Feb 2016 6:13 pm, "NiveditN" <notifications@github.com> wrote:

[2016-02-22 10:30] kamilkisiela commented on #1126
@mattiLeBlanc You can specify versions in `.meteor/versions`:

[code]

If it still updates to 1.3.6 then probably some package requires `1.3.6`.

[2016-02-22 10:33] Urigo commented on #1126
Hi everyone.

You are right.

It is my problem that I counted on others to make sure `0.1.0` was still compatible with `1.3.6` and I haven't tested it myself.
Once I did that, I saw your problems instantly.

So, I've released `angular-meteor-auth@0.2.0` now with the old code and the fix so you can keep using the old API with 1.3.6.
I've brought back the old code in a branch and fixes and released

[2016-02-22 10:34] Urigo commented on #1108
Hi everyone and @ThomsC, important note [here](https://github.com/Urigo/angular-meteor/issues/1126#issuecomment-187115397).

[2016-02-22 11:03] cubitworx commented on #1238
FYI, my answer above was simply to confirm for testing purposes. I personally don't need it & think it is bad design practice to put anything on $rootScope.

[2016-02-22 12:14] Urigo commented on #1238
Please try `1.3.7-beta.1_1` and let me know if it's working for your scenarios.
thanks

[2016-02-22 13:26] insidemybrain commented on #1238
@Urigo Everything is fine now! Thank you. But, should we open a poll on Meteor's forum? Because I've read too many comments about remove this support from Meteor.

[2016-02-22 19:39] kokokenada commented on #958
I've run into this problem running in Cordova only (works fine with web). (Everything is in packages.) I am loading the dependencies and packages differently, so I'm not sure if that's the reason.  Oddly, just changing the code to not throw the exception works around the problem.

Change:

    throw new Error('[angular-meteor][err][404] ' + templatePath + ' - HTML template does not exists!');

to

[2016-02-22 19:43] kokokenada commented on #1136
[code]

[2016-02-22 22:54] mattiLeBlanc commented on #1126
@Urigo
Hi, thanks for picking this up quickly. I guess that is the downside of maintaining a popular package, people start to rely on it :).
It would be good to have some release strategy because updating with packages with Meteor goes so easily, it updates all packages automatically and it introduces issues like this where a rollback seems to be very hard (I didn't manage to go back to 1.3.5 lol

[2016-02-23 01:17] mattiLeBlanc commented on #1198
Yep, it seemed to have resolved this issue. Thanks

[2016-02-23 01:18] mattiLeBlanc commented on #1064
new issue, see: https://github.com/Urigo/angular-meteor/issues/1126#issuecomment-187115397

[2016-02-23 01:19] mattiLeBlanc commented on #1147
Yep, it seems to have been resolved. Thank you!

[2016-02-23 01:20] mattiLeBlanc commented on #1212
Yep, it seems to have been resolved. Thank you!

[2016-02-23 03:03] mattiLeBlanc commented on #1220
Looks like it is resolved. Thanks.

[2016-02-23 10:26] berkaey opened #1252 "subscribe without helpers?"
Hey I'm trying this.

[code]
publish log says found 1 item but nothing on $scope or in "this".

i know it will work if I add this
[code]
but it isnt DRY I have to write the same thing here and also in publish functions.

any idea to keep things DRY?

[2016-02-23 12:38] berkaey commented on #1252
turns out we cant use it like this
[code]
mini mongo doesnt support "$text" keyword yet

I use it like this but it also returns other items already subscribed.
[code]
so this is like hell now :) there should be some way to get returning docs.

I can use angular to filter things out but it will be just wrong I guess.

[2016-02-23 13:45] bartvanremortele commented on #831
I just ran into this issue on 1.3.5 and by using `track by $index` in my ng-repeat I can work around this.

[2016-02-23 14:06] Tallyb commented on #1252
if you have multiple subscriptions on the same collection concurrently - you should use a find function in your helpers. you cannot avoid it (and it is not DRY as the query may differ).
I did not try $text on minimongo, but if that does not work, it is probably correct to have angular for the rescue.

[2016-02-23 17:04] berkaey commented on #1252
yeap after some test I noticed that if I only use one subscribe to one collection everything worked like expected with just
[code]
thanks for reply btw ;) @Tallyb

and also I assume there is no way to correct set of objects if I use multiple subscribe beside then just use different "find" right?

[2016-02-23 17:17] kamilkisiela commented on #1252
@berkaey yes

[2016-02-23 23:31] mattiLeBlanc commented on #1126
I am kindo'ff in big trouble. We need to give a demo tomorrow and my app is broken right now because otf the rootscope issue.
I worked around with using $q in the resolve but that is not always resolving the user correctly.
So I need to try to hack around it today and find a solution to make the demo work today.

[2016-02-24 08:44] NiveditN commented on #1126
+1 @mattiLeBlanc and I are in a similar fix here. Same issue is happening with me, and we also have a project to deliver. I have again had to revert to 1.3.5. I am facing some other issues in 1.3.5 and there are no docs available for that version -- so I had hoped to be able to update to 1.3.6 such that I can at least know for certain which functions are available for use.

[2016-02-24 09:18] Urigo commented on #1126
@mattiLeBlanc @NiveditN please try `angular-meteor-auth@0.2.1` and let me know if the problem is solved.

[2016-02-24 09:25] Urigo commented on #958
@kokokenada please read this comment carefully - https://github.com/Urigo/angular-meteor/issues/958#issuecomment-166897834
If it's still not working for you, can you create a reproduction in a repo and send it here?
thanks

[2016-02-24 09:27] Urigo commented on #1136
@kokokenada can you try loading meteor-client-side version `1.2.1`?

[2016-02-24 09:31] Urigo commented on #1252
@berkaey yes that's how subscriptions and collections work in Meteor.
There are a few interesting articles about that subject that might make things clearer:
One is @Tallyb - https://medium.com/angular-meteor/coll-pub-sub-with-angular-meteor-cb13fe48f570#.v5m86xihp
Another one - http://www.meteorpedia.com/read/Understanding_Meteor_Publish_and_Subscribe
and another one - https://www.discovermeteor.

[2016-02-24 09:31] #1252 closed

[2016-02-24 09:39] #1210 closed

[2016-02-24 09:49] mattiLeBlanc commented on #1126
@Urigo Yes, it seems to be working. No weird behaviour yet. The Rootscope issue is definitely gone and I am not having any issue using it in the resolve.
Thans for your good work!  You are champ.

With the `waitForUser` in the ui-routers resolve, is there anyway we can do that AUTH_REQUIRED thing you do in your tutorial (using the $q promise)?

[2016-02-24 09:50] Urigo commented on #1126
for that you should use `requireUser` or `requireValidUser`

[2016-02-24 09:53] mattiLeBlanc commented on #1126
Yep, working like a charm.

[2016-02-24 14:59] mgrivera commented on #1192
Hi @pbastowski,

If we start using typescript in 1.3 as you suggest, and I will be glad if we could, are we going to miss the source mapping mechanism that we have right now? You now this is a big issue for me! And you helped me to solve this issue in the current version.

I mean: are we going to "see" our typescript code in chrome debugger (or just the transpiled one)?

Thanks and bye ...

[2016-02-24 19:17] danimbrogno commented on #1238
@Urigo Would it be possible to make 1.3.7-beta.1_1 available through npm?

[2016-02-24 21:31] NoOneStopsMe commented on #1238
Hey @Urigo ! Can it be possible if you also update official Atmosphere package to 1.3.7.beta.1 ? Thanks in advance and really appreciated :)

[2016-02-24 22:08] kamilkisiela commented on #1238
@danimbrogno As far I know `1.3.7-beta.1_1` on atmosphere is the same as `1.3.7-beta.1` on npm.

@NoOneStopsMe `meteor show --show-all angular` shows that there is a `1.3.7-beta.1` version available  on the atmosphere, `1.3.7-beta.1_1` too. I recommend to use second one.

[2016-02-24 22:34] danimbrogno commented on #1238
@kamilkisiela Ah I thought I was still getting the scope.viewModel error because I wasn't running the latest code. Turns out the issue was I had my module depend on 'angular-meteor.reactive' instead of the root module 'angular-meteor'. Problem solved.

[2016-02-24 22:36] kamilkisiela commented on #1238
@danimbrogno That's nice :+1:

[2016-02-25 06:37] NiveditN commented on #1126
Just updated and it's working perfectly great! Thanks so much for your quick response! :)

[2016-02-26 03:14] jessonjoy opened #1255 "How to render page after subscription ready"
Hello,

I have a collection with thousands of documents that I subscribe to from the meteor app. I have a dashboard page that shows this count. When the app starts, the count continues to increment itself and takes upto 15- 20 seconds for this counter to stop. How do I check to render the page only after all the data has loaded so that the count shows up once instead of incrementing?

Here's how I

[2016-02-26 03:19] jessonjoy commented on #1124
thanks folks!

[2016-02-26 08:49] elHoudini9 opened #1256 "Meteor.call doesn't update the reactive scope on callback"
Hi all,

How can I change a property of the reactive context within a Meteor.call's callback? On the console, my updateItem function prints out that the alertMsg has been updated, but the template doesn't reflect any changes. It looks like changes inside of the callback aren't attached to the scope.

[code]
Template:
[code]

[2016-02-26 16:21] notbogdan opened #1259 "Meteor.status() is not a reactive data source."
We're trying to do the following to show a connection status on our app:

[code]

However the helper doesn't re run after the server is disconnected. Outputting Meteor.status().connected variable directly into the template, both via $scope and controller reference doesn't see its value updating either.

[2016-02-26 21:23] elHoudini9 commented on #1259
You are returning an object in your helper function, I believe that it is meant for collections.

From the angular-meteor documentation:

**helpers**

Use this method to define Meteor collections that will be reactive throughout the entire reactive context life.

The parameter of this method is an object whose keys will be added to the reactive context as arrays, representing the reactive collecti

[2016-02-27 08:10] mixersoft commented on #1118
It's strange - otherwise routing works in one project, but not in another. both with `angular-meteor#1.3.6` I don't know enough about the angular bootstrap to debug

working: https://github.com/mixersoft/angular-meteor-whatsapp.git

not-working: https://github.com/mixersoft/layout.git
  it should route to `http://localhost:3000/#/app/home` which works if you manually enter the url

[2016-02-28 06:23] jboothe commented on #1209
Uri, will 1.3.6 work with Meteor 1.3?

[2016-02-28 15:55] Urigo commented on #1256
With angular 1.3.6 and above you can use `vs.call` that runs a digest after Meteor's call callback:
http://www.angular-meteor.com/api/1.3.6/call

[2016-02-28 15:55] #1256 closed

[2016-02-28 21:47] Urigo commented on #1209
`angular@1.3.7` works with both Meteor 1.3 and Meteor 1.2

[2016-02-29 11:23] Urigo commented on #1091
done, I've just moved it into a separate repo with `git split`, I don't think we need to submodule it...
https://github.com/urigo/angular-meteor-docs

[2016-02-29 11:23] #1091 closed

[2016-02-29 12:37] jeroensmeets commented on #1240
@burock I have the same problem on 1.3.7 --

removing the line

`$reactive(this).attach($scope);`

and replacing `this` with `$scope` in my code seems to fix it.

[2016-02-29 14:20] burock commented on #1240
yep, thanks a lot @jeroensmeets .. Commenting out that line $reactive(this) did really solve.

But, I think I will still stick with version 1.3.4 which looks the most stable, since the docs/tutorials and usage seem to be out-of-sync.

Cheers,

[2016-02-29 20:14] canac commented on #1259
Doing something like this has worked for me to solve similar problems:

[code]

The function passed to `autorun` will be rerun every time `Meteor.status()` changes, which will in turn update the `userBlock` property.

[2016-03-01 06:47] leizard opened #1260 "Bower update to 1.3.7"
Hi, is angular-meteor updated to 1.3.7 on Bower ? I run `bower update angular-meteor` but it stays in the version 1.3.5. Is it because the dependencies to meteor-client-side package, which mine is 1.2.1 now.

[2016-03-01 07:37] leizard commented on #1260
I downgrade `meteor-client-side` package to 0.2.0 and successfully updated angular-meteor to 1.3.7. Now all the warnings about the helpers are gone :beers:

[2016-03-01 10:01] bernardnahas commented on #262
I had an unrelated issue with similar symptoms (1.2). Sharing my fix in case it helps any new meteor users. My build would hang and node would take 100% CPU. Needed kill -9 to stop it.
My problem was that I 'bundled' the output .tar.gz into my project directory, then un-tared it out of curiosity but forgot to delete it -- oops. With the untared bundle there, 'meteor run' would hang. Fixed by delet

[2016-03-01 11:13] Deadly0 commented on #1255
@jessonjoy if you want display the count, no need to send all collection data to the client. You can count your docs on server and publish only the count. This package can help you https://atmospherejs.com/tmeasday/publish-counts

If you need to publish all data, look at 3rd argument of subscribe function http://www.angular-meteor.com/api/1.3.6/subscribe

[2016-03-02 12:08] mixersoft commented on #1118
This seems to be a workaround for the moment:

[code]

[2016-03-02 12:39] Urigo commented on #1260
@idanwe

[2016-03-03 04:30] violetbobo opened #1261 "helper problems update from 1.3.1 to 1.3.7"
I've upate it from 1.3.1 to 1.3.7. Then everything goes mad. In client console over every page, 'helper' err is:

    at Error (native)
    at http://localhost:3000/packages/angular-meteor-data.js?36dfe4bee5b3da21eaa0d9bc0366addac4788a1a:2047:16
    at Function._.each._.forEach (http://localhost:3000/packages/underscore.js?46eaedbdeb6e71c82af1b16f51c7da4127d6f285:157:22)
    at Scope.angular.modul

[2016-03-03 04:31] violetbobo commented on #1261
It seems upgrade tow packages

angular-meteor-data  upgraded from 0.0.9 to 0.3.0
angular-templates*   upgraded from 0.0.3 to 1.0.0

* These packages have been updated to new versions that are not backwards
compatible.

[2016-03-04 11:55] ThomsCass opened #1262 "Autorun is not trigger with getReactively when the value is updated in the view"
Here is the documentation : http://www.angular-meteor.com/api/1.3.6/autorun

[code]

But if `myVar`is updated in the view for example with an input field the autorun is not trigger.

Is this a normal behavior ? Cause for now I used `ng-change()`

[2016-03-04 11:58] ThomsC commented on #1261
As it is said in helpers you can have only function.

[code]

So do this :

[code]

[2016-03-04 12:03] ThomsC commented on #1240
still got some problems randomly with subscription in 1.3.7 when a user is logged

[2016-03-04 13:57] #1261 closed

[2016-03-04 14:34] ozsay commented on #1262
I just verified with 1.3.7 that it's working.

Can you provide your code to see what the issue is?

[2016-03-05 20:53] sean-stanley commented on #656
I have a massive collection I am trying to use infinite scrolling with and my entire rendered collection is lost using 1.3.7 when I trigger an increase of limit in my subscribe and helper.

The helper is quite complex do I need a simpler one for the improvements in 1.3.6+ to work?

[code]

I will try using the angular built-in limit to see if that works.

[2016-03-05 21:42] sean-stanley commented on #656
Sorry more context needed to get my issue and maybe it should be moved to it's own issue if the group doesn't think it fits well here.

My `limit` is being changed by a directive I wrote called `scrollFire` that calls a function when it is scrolled into view.This function call is called outside the digest cycle because calling it in the digest cycle re-renders my `this.products` as empty for a sec

[2016-03-06 00:42] jonmc12 opened #1263 "Docs and examples regarding reactive inheritance; request for getReactively to do so; Session"
This ticket has 2 parts: 1) feedback for documentation to consider parent / child component inheritance pattern, 2) a request for `getReactively` (or something similar) that supports reactivity across components.

The documentation for `getReactively` and `ReactiveContext` does not specify that they are not compatible with inheritance patterns in Angular.  As far as I could tell, none of the follo

[2016-03-07 02:03] mattiLeBlanc commented on #1262
Hi, I have something similar.

My controller (in TS):
[code]

Then I have a simple direct put on the sort column in the template
[code]

So what happens: I print the SortColumns.test value in my template (value 123).
Then when I click the sortcolumn, it should update to 555.
In my Chrome console, I can see that the scope value sortColum.test was modified to 555, but the autorun never runs again.
R

[2016-03-07 06:59] mattiLeBlanc opened #1264 "1.3.6: Reactivity not working properly and more"
Hi,

I am using Angular Meteor quite extensively in the current building of a prototype for a financial company.

During development I ran into a couple of issues, which have been addressed quickly by Urigo ( many thanks for that).

But still I think some things of the new API are not working 100% and I am running into issue which cost me a lot of time to track down or work around.

Just for the s

[2016-03-07 08:07] sean-stanley commented on #1264
I had similar issues in a fairly large project with angular-meteor. I eventually had to give up or take some quite hacky routes to get things to work and I'm still not sure why my eventual solution worked. I'd be keen to see or work on some meteor pen's that can accurately reproduce these bugs.

[2016-03-07 13:02] plraphael commented on #1264
I'm running into a similar problem as described in 4) Subscription stopped issue.

Basically, in the page immediately after login, my collection that should have one item after the subscription has none. If I refresh the page, everything goes back to normal.

[2016-03-07 13:38] ThomsC commented on #1264
I'm with 1.3.7 and got the same problem as described in 4

[2016-03-07 14:18] ThomsCass opened #1265 "Cannot read property 'splice' of undefined"
Hey guys!

I'm `using angular-meteor 1.3.7`

I don't know what is happening but I've been struggling with this error for two days.

It happens when I add a document to a collection and listen to it with a helper and a subscription. This error occurs only with one Collection in my project. The workflow is absolutely the same as my other collections and the tutorial angular meteor so I didn't manage

[2016-03-07 19:35] sean-stanley opened #1266 "Meteor Up Angular Initialization Errors and unresponsive reactivity"
I just wanted to make people aware that if you attempt to deploy a Meteor app with angular-meteor using Meteor Up, you will likely have problems.

Even when running the latest version of mup and a new enough version of npm to have the latest versions of mup's dependencies, my deployed project (which I'd like to say is production ready but sadly isn't) continues to have glitches compared to an app

[2016-03-07 20:20] ThomsC commented on #1266
I have an angular-meteor app in production, deploy with mup which is working perfectly.

The trick is you have to downgrade to 1.3.4 ...

[2016-03-07 20:39] futbotism commented on #1083
+1

[2016-03-07 22:56] mattiLeBlanc commented on #1264
@plraphael No, your comment is not irrelevant. I reckon version 1.3.6 and version 1.3.7 shared much code and it is important to know if an issue is still relevant for an even newer version.

[2016-03-08 02:26] mattiLeBlanc commented on #1266
I have no issues using 1.3.6. I have deployed multiple times (mupx) and my app is working the same online as it does locally.
Are you sure you don't have issues related to DI? Annotation working fine?

[2016-03-08 08:19] Urigo commented on #1262
@ThomsC @mattiLeBlanc can you please create a repo with a reproduction?

[2016-03-08 10:45] mattiLeBlanc commented on #1262
I am on it. Will get back to you asap. Thanks.

[2016-03-08 11:24] Urigo commented on #1264
thank you for those reports.
It will be great if you could reproduce a separate isolated repo with the problem.
It can help me solve it and help you isolate and understand it

[2016-03-08 11:26] Urigo commented on #1264
also, just to make sure, please check your code while doing deep watch in getReactively instead of regular by providing `true` to the `objectEquality` parameter - http://www.angular-meteor.com/api/1.3.6/get-reactively#arguments

[2016-03-08 11:31] mattiLeBlanc commented on #1264
Mate,

I am just testing with 1.3.7 on my girlfriends macbook (I didn't want to upgrade on my production macbook just yet).

I checked all items that I posted above and how they work at this version.

** 1) Reactivity with an object: not autorunning after setting of new value**
This still seems to be an issue, unless I am not using it correctly.

The code below has the `updateSort` function trigge

[2016-03-08 11:41] Urigo commented on #1264
@mattiLeBlanc it looks like you haven't read my comment.

1. Please check your code while doing deep watch in getReactively instead of regular by providing true to the objectEquality parameter - http://www.angular-meteor.com/api/1.3.6/get-reactively#arguments

2. Please provide a separate repo with a reproduction

* If you haven't found the time to share a reproduction it will be hard for me to fi

[2016-03-08 11:43] mattiLeBlanc commented on #1264
@Urigo Yes, I did but I was just in the process of writing a report :). I have updated my findings in the above post and I have emailed you about access to the repo.

[2016-03-08 11:52] Urigo commented on #1264
@mattiLeBlanc I'm happy the `deep watch` parameter solved one of your issues.
@sean-stanley @plraphael @ThomsC did it solve yours as well?

About the second problem - private repo won't help me.   If you haven't found the time to go into your code and isolate the problem, it's not a good idea that I will go into your private code, try to isolate your business logic with the problem and share a rep

[2016-03-08 11:57] mattiLeBlanc commented on #1264
@Urigo
What if the problem is that it doesn't happen in an isolated situation? Maybe something breaks, timing issues etc because it starts to grow? I am happy to try to isolate it, just thought it would be easier if I give you access to the full app and tell you where to look.
I will try your watch, however if the updateRow function is executed (which it is, I consoled logged it and it does update

[2016-03-08 12:01] Urigo commented on #1264
not for sure because $digest just call the Angular's digest loop so the question is why Angular doesn't fire it by itself when you change a scope variable

[2016-03-08 19:12] sean-stanley commented on #1266
Well locally I use strict-di="" to test for that and get no issues locally.

If 1.3.7 is the problem it might be more related to the new angular-templates package not compiling right with mup.

It's too bad if that is the case I suspect using angular-templates cache  would result in big performance boosts for the app.

I am going to try just running a local `meteor build` and see if that works.

[2016-03-08 21:52] sean-stanley commented on #1264
@Urigo, rather than using a deep watch I watched the individual parameters e.g. `getReactively('object.property')` and that implementation works well and I like.

My problem couldn't be well isolated as it only happened when I was logging in, then changing routes in Meteor.call's callback. The auth service would then from `ng-if` call the link function of a custom directive that had a subscribe ca

[2016-03-08 22:09] Urigo commented on #1264
@sean-stanley I might know your problem, have you tried `this.call`? http://www.angular-meteor.com/api/1.3.6/call
this will wrap the callback in a digestion cycle.

Then also, if it's something else from Meteor that is outside of Angular's scope, you can use $bindToContext - http://www.angular-meteor.com/api/1.3.6/reactive-context#dbindtocontext
(scroll down for an example)

[2016-03-08 22:09] Urigo commented on #1264
also, make sure you are using the `angular-meteor-auth` package as a separate package and in the latest version `0.2.1`

[2016-03-08 22:59] mattiLeBlanc commented on #1266
I just deployed me project on my girlfriend's macbook with 1.3.7 (using mupx) and it is working fine on my server. No dependency issues at all.
I am using Typescript, which shouldn't make a difference.

You know you can run Meteor locally in production mode, so it will do the minimize etc and you could possibly trigger the same issue.

[2016-03-08 23:47] violetbobo commented on #1130
after 1.3.6，it can use 'this.call' instead

[2016-03-09 00:45] sean-stanley commented on #1266
Today I deployed again with mup and the issue is resolved and I did not have to downgrade.I first ran mup setup again after trying mupx. I decided not to use mupx because I prefer mup's current implementation of mongodb.

So for now I am going to close this issue. Thank you for sharing your responses.

[2016-03-09 00:45] #1266 closed

[2016-03-09 01:10] sean-stanley commented on #1264
@urigo thanks for the tip about `this.call` it seems like that would be part of the issue you're right. I guess I missed that part of the docs I'll make that change now.

I do use $auth as a seperate package. That was a good decision breaking it up I think and I've had no problems switching from the old to new api for that except sometimes it's unclear in a controller when to use `$auth.currentUse

[2016-03-09 01:46] mattiLeBlanc commented on #1262
@Urigo
I have removed everything that is not relevant and the result you can get from here:
https://github.com/mattiLeBlanc/invoiceList

So, I am not seeing the publication stop issue right now. The reason could be that I removed the user and the ui-router resolve of currentUser.
I will add that in now into a different branch so that I can test if I can get this issue to be reproduced too.

I have

[2016-03-09 03:26] mattiLeBlanc commented on #1264
@Urigo
I have removed everything that is not relevant and the result you can get from here:
https://github.com/mattiLeBlanc/invoiceList

So, I am not seeing the publication stop issue right now. The reason could be that I removed the user and the ui-router resolve of currentUser.
I will add that in now into a different branch so that I can test if I can get this issue to be reproduced too.

I have

[2016-03-09 05:58] jonmc12 commented on #1265
@ThomsC I've run across this error a few times.  I can't say I understand it, but as you suggest, it seems to happen when there is a collection in a helper.  I'll try to explain how I repro'd the error, and the work-around I found is at the end.

I first noticed this when I created a parent / child relationship between the directives (notice the error occurs on `$reactive(this).attach($scope)` in

[2016-03-09 10:02] ThomsC commented on #1265
@jonmc12 Thank you Thank you Thank you.

the line causing the error is absolutely `$reactive(this).attach($scope);`

Here is how the error occur for me :

To add an document in a collection I use an $mdDialog.
In this $mdDialog I need to make a subscription for some items.

So in the controller of the Dialog I had :
[code]

To get rid of the error I now do the subscription in the parent get my ite

[2016-03-09 10:37] ThomsC commented on #1264
For me the publication stop issue seems to be resolve when I use :

[code]

Instead of

[code]

[2016-03-09 10:41] ThomsC commented on #1259
for me this is working perfectly

[code]

[2016-03-09 11:12] ThomsC commented on #1265
Ok so after testing everything this is a bug in 1.3.7 because this problem didn't appear in 1.3.4 ...

[2016-03-09 13:17] jamalx31 opened #1267 "$auth.currentUser doesn't update when subscribe to new data"
In my application at some page I subscribe to new date like this: (angular 1.3.5)
[code]

but $auth.currentUser doesn't get it while $root.currentUser does

[2016-03-09 13:39] majorgilles opened #1268 "ES6 Arrow function in directive's controller definition"
Hello, I was following your tutorial online, but was using es6 syntax for lambdas.

I was noticing one of my functions in a directive was not being called reactively.

[code]

replacing ($scope, $reactive) => { ... } by   function($scope, $reactive) { .... }   did the trick but I have absolutely no idea why.

[2016-03-09 17:37] plraphael commented on #1264
Let me explain what is happening in my case.

After a successful login, the user is redirected to a page with a subscription. A normal subscription, that does not have any parameters (hence, does not use getReactively). What I'm getting on my logs is that the subscription gets "ready" and after some time, gets "stopped". If I refresh the page, the subscription does not get stopped, and everything

[2016-03-10 06:03] trajano commented on #60
I don't think I am using the $subscribe functionality, but I do notice that on refresh on the browser `currentUser` **sometimes** becomes `undefined`.  It may be a race condition somewhere between loading up and getting the current user.

[2016-03-10 06:09] trajano commented on #60
Actually one workaround for me is to not use `Meteor.user()` or `currentUser` but use `Meteor.userId()` to determine if the user is logged in, with that approach it never gets the "disappearing currentUser" issue on refresh no matter how many times I do it.

It is likely faster too, since there's no lookup.  If I need the data (usually for showing some data about the current user profile) I would

[2016-03-10 14:40] #1265 closed

[2016-03-10 14:44] ThomsCass opened #1269 "Problem of inheritance with 1.3.7"
Hi,

Related to this post #1265 and this one #1263

I think there is something broken when we use `$reactive(this).attach($scope)` in a child view like a mdDialog.

This error will be thrown :

[code]

@Urigo Here is the repo that reproduce the error, simply add a item and you will see the error appear in the console https://github.com/ThomsCass/angular-meteor-inheritance.git

Hope it helps

Thank

[2016-03-10 14:47] ThomsCass commented on #1267
Can you be more explicit on the workflow ?

[2016-03-10 14:57] ThomsCass commented on #1264
can we see your resolve function and the part of the controller where you do the subscription with the helpers?

[2016-03-10 17:40] DrDanRyan commented on #644
FYI, this also causes issues with `vsivsi:file-collection` which is a very nice package for people wanting to use gridFS and not take on CollectionFS. It is also a very well maintained package compared with CollectionFS.

[2016-03-11 13:56] dragGH102 opened #1270 "Tutorial part 10/14 - won't run when deployed to meteor.com"
**EDIT**: same for part 14 (just different but similar error):
I created a **repository with my full project to demonstrate the issue** (no issue locally): https://github.com/dragGH102/angular2-meteor-part14
Currently **deployed** at: http://f43f4ads.meteor.com/

[code]

I followed step-by-step the tutorial for Angular2-Meteor.

Locally it works perfectly and on mobile too.
However when I deploy i

[2016-03-11 15:14] mitiaptest opened #1271 "$compileProvider.debugInfoEnabled(false) not working for Andriod and iOS"
Hello Guys,

To improve App performance we have tried to add $compileProvider.debugInfoEnabled(false) into config but it causing issue that for app first time install its not working but if i killed my app and start again then works.

Anyone having idea why its not working with meteor application.

Thanks,

[2016-03-12 09:01] neosekar commented on #791
Hey, anyone have the working example of loginwithfacebook(); pls post it..

[2016-03-12 09:05] neosekar commented on #791
Hey, loginwithfacebook();  still not working..

[2016-03-12 19:57] dtruel commented on #849
Just my vote- I'd put blaze template support back into the regular angular-meteor package.

I think this feature needs to be supported by default because almost everybody is going to need to use some packages that require blaze-templates.

[2016-03-13 01:36] seanjb opened #1272 "$scope.getReactively returns undefined inside autorun in 1.3.7"
Hi, just upgraded to 1.3.7 and am running into an issue with getReactively. It appears to only be returning undefined when used with $scope.
It still triggers the autorun correctly but has no return value.

This does not appear to happen with this.getReactively just $scope.getReactively

Sample code for problem below

[code]

This code generated the following console output

Reactive:undefined
Act

[2016-03-13 13:26] jamalx31 commented on #1267
@ThomsCass
The default fields the server publish for currentUser are "id" and "profile", on a page in my application
I call for another subscription to publish another date about currentUser like I said before.
On that page where I call the new subscription, "$root.currentUser" gets the new fields, but "$auth.currentUser" doesn't

[2016-03-13 15:44] jmwierzbicki commented on #1209
I had updated my meteor to "meteor update --release METEOR@1.3-modules-beta.8", but after that, when i run meteor, my site crashes, and it is said that it cant find module 'angular'

Uncaught Error: Cannot find module 'angular'require @ install.js:77(anonymous function) @ templates-handler.js:3(anonymous function) @ angular-templates.js?hash=c260fbc3137ab92e420262912f9b307ce8e4de7a:60(anonymous fu

[2016-03-14 07:37] kamilkisiela commented on #1209
@jmwierzbicki are you sure that you're using `1.3.7`?

[2016-03-14 08:45] ThomsCass commented on #1269
Any news with this bug ?

[2016-03-14 23:38] kamilkisiela commented on #1272
You should use just  `$scope` or `this` enhanced by `$reactive(this).attach($scope)`, not both.

[code]

or

[code]

[2016-03-14 23:55] seanjb commented on #1272
Given that scenario, when using a directive with an isolated scope, I still want to access the scope variables reactively and also make my controller reactive.

This is a valid use case and a common one. It did work up until this release so is there a new design pattern I should use to access the isolated scope variables reactively?

[2016-03-15 12:10] kamilkisiela commented on #1272
@seanjb Could you give me an example to help me understand it? I'm currently working on it.

At the moment, with the current solution it is impossible to make controller's context reactive and still use `$scope.getReactively`.

With your example I could make a solution.

If I understand you correctly, wouldn't it be easier to bind variables to the controller using [`bindToController`](https://docs

[2016-03-15 13:01] arvidkastel commented on #1264
Just a hint on issue 4 with subscriptions stopping. I noticed that this happened to me when Meteor.user() return undefined for some short time before (I assume) the Meteor.users collection is populated. By installing the fastrender package the logged in users is always available which seemed to solve the problem. Not sure why, but it also made the routing with the ui router stop functioning.

[2016-03-15 14:40] kamilkisiela commented on #1269
You're attaching accueilController's `$scope` to the reactive context of dialogController

[Lines 37-39 of accueilController.js](https://github.com/ThomsCass/angular-meteor-inheritance/blob/master/client/accueil/accueilController.js#L37-L39)

[code]

change to:

[code]

[2016-03-15 14:42] kamilkisiela commented on #1269
@ThomsCass It fixes the reproduction so tell me if app is working too.

[2016-03-15 15:24] ThomsCass commented on #1269
@kamilkisiela Yep it's working now thanks a lot.

I didn't need to do that before how comes we need to do that now ?
(even if I understand the logic of the solution)

[2016-03-15 15:24] #1269 closed

[2016-03-15 15:39] kamilkisiela commented on #1269
API is still the same but there is a new background for reactivity, called viewModel. You can check it at src/modules/view-model.js.

I can tell you more, but atm I'm little busy

[2016-03-15 16:17] mitiaptest opened #1273 "Publish and subscribe issue with angular-meteor"
Hello Guys,

We are facing one problem related to subscribe and publish into meteor subscription method of Angular

Actually we want to show default country document on start of the app and after authenticate with auth0 we are redirect to another view of user registration  on that form we have country field. On the basis of what user select country we have to subscribe that country related documen

[2016-03-15 16:18] mitiaptest commented on #1271
Any update?

[2016-03-15 18:15] blongstreth opened #1274 "angular-templates templateCache.get delegate fails for certain 3rd libraries"
Some libraries call $templateCache.get method as part of a check to see if the cache entry exists.  If not, the 3rd party library will call $templateCache.set to add the entry.  Thus, angular-templates templateCache.get delegate will always fail making it impossible to use 3rd party libraries using the mentioned pattern.  As a result, can you please consider not throwing an error exception:
[code]

[2016-03-15 20:23] seanjb commented on #1272
Good tip on bindToController. Tested a use case using that and your previous comment (avoiding $scope all together) and it works. This does mean a significant re-write however unless we can fix this issue where scope and controller cannot be reactive together.

Some sample code to reproduce

[code]

and the html
[code]

[2016-03-15 20:42] kamilkisiela commented on #1272
@seanjb As far as I know, the best practice in your case would be something like that:

[code]

[2016-03-15 21:47] seanjb commented on #1272
Thanks for quick reply!
This is a simple example to replicate the problem. My directives have functionality that requires both the scope and the controller to be reactive. For instances collection helpers etc. moving back to a full $Scope pattern moves me away from the benefits of ConrollerAs

'BindToController: true' will solve these problems but does require a significant refactor.

This is a bi

[2016-03-16 06:49] mitiaptest commented on #1273
Got solution need to create service for this.

[2016-03-16 06:49] #1273 closed

[2016-03-16 10:58] Urigo commented on #1274
@blongstreth very interesting scenario.

The reason we added this code was that we load all templates to templates cache and we want to notify the user when a path is wrong in a better way then just "Angular is loaded more than once".

I still want to notify the user about that, but maybe console.log instead of an Error would be sufficient, what do you think?
and @dotansimha what are your thoughts

[2016-03-16 11:46] Urigo commented on #1272
@seanjb hi, so I agree that we should support it so it won't be a breaking change.
So we will work on a solution for the next version, will update on the solution as soon as possible.

But, I also agree that this is not a best practice anymore.
For best practices today I follow the Angular 1 to 2 guide, specially this section: https://angular.io/docs/ts/latest/guide/upgrade.html#!#using-component-

[2016-03-16 11:48] Urigo commented on #1271
@mitiaptest does it happens also when you are using a simulator?

[2016-03-16 11:55] ThomsCass commented on #1269
Would love to hear more when you have time :)

[2016-03-16 11:59] Urigo commented on #1268
@majorgilles the thing about ES6 arrow functions is that they keep the context of `this` outside of the function.
Angular's controller needs this to be the current new context so arrow functions are not a good replacement for defining the controller of the directive..

[2016-03-16 11:59] #1268 closed

[2016-03-16 12:03] Urigo commented on #1267
@jamalx31 it's a big hard to get to the bottom of it without a reproduction.

Can you create a small reproduction of that problem in a separate repo and link to it?

Thank you

[2016-03-16 12:14] Urigo commented on #1263
@jonmc12 while all of those are good points, I think we should separate them into separate issues to handle them more easierly..

about the inheritance issues, can you create a reproduction for each scenario that you think about and I will see how to solve it in the best way?

about the tutorial, you are right, we are on it.

about session, I don't see a reason to use it anymore.
to share things b

[2016-03-16 12:15] Urigo commented on #1262
@mattiLeBlanc I will keep track on this issue here: https://github.com/Urigo/angular-meteor/issues/1264

[2016-03-16 12:15] #1262 closed

[2016-03-16 12:17] Urigo commented on #1259
thanks for the answers

[2016-03-16 12:17] #1259 closed

[2016-03-16 12:19] Urigo commented on #1255
@jessonjoy looks like this is solved.
please reopen is it's not.

[2016-03-16 12:19] #1255 closed

[2016-03-16 12:23] Urigo commented on #1238
1.3.7 is out and this is fixed

[2016-03-16 12:23] #1238 closed

[2016-03-16 12:43] MilosStanic commented on #1213
This alternative looks viable judging from docs.

https://github.com/jalik/jalik-ufs

Didn't test it though.

[2016-03-16 13:18] kamilkisiela commented on #1264
@mattiLeBlanc Can we catch up on hangouts or something? I'm currently working on these issues.

[2016-03-16 15:36] MichalKrasowski commented on #1083
In my case clearing browser caches helped.

[2016-03-16 15:45] kamilkisiela commented on #1240
Related to #1272

@Urigo It's a `$scope` - `controller` mixing thing. This issue can be closed because the other one is much more readable :eyeglasses:

[2016-03-16 15:45] Urigo commented on #1240
great, closing

[2016-03-16 15:45] #1240 closed

[2016-03-16 15:49] blongstreth commented on #1274
Thanks for quick response!  For the time being, I worked around this issue by decorating your decorator and trapping the exception and returning (void) 0 after catching :-)

Question:  Is it safe to say that angular-meteor assumes that $templateCache.get method is only called after the cache is set/loaded?  If so, too bad there is not a way to track while configuring and postpone the analysis.

[2016-03-16 16:06] MichalKrasowski opened #1275 "Code from Angular 2.0 Meteor tutorial Step 4 throws TypeErrors."
### Steps to reproduce ###

Download https://github.com/Urigo/meteor-angular2.0-socially/archive/step_04.zip
Type:
[code]

### http://localhost:3000 result ###
[code]

### `meteor list` ###
[code]

### `meteor --version` ###
[code]

[2016-03-16 22:28] mattiLeBlanc commented on #1264
@kamilkisiela I have send you an email (the the email address in your git account).
I have also added a 6th helper reactivity issue about a helper not updating after mongo document change.

[2016-03-16 22:57] seanjb commented on #1272
Thanks for that @Urigo yes I agree the bindToController method is the better appraoch to use here, and will start a process of re-factoring around this. The fix however will ease the immediate pain so thank you!

Is it worth calling out on the getRactively api docs that controller re-activity should be used in place of $scope where at all possible?

[2016-03-17 00:14] jonmc12 commented on #1263
@Urigo I'm still not certain that ```getReactively``` is intended to work with Angular's inheritance patterns, therefor I'm not sure if its helpful to create an issue or repro if the functionality is out of scope.  Thats why I was thinking better to document its not supported.  If you tell me the inheritance patterns above should be supported, I'm happy to create new issues with repro!

Regarding

[2016-03-17 08:35] MichalKrasowski commented on #1275
Ok, clearing Google Chrome caches resolves the problem.

Apparently there was a problem in my hand-written tutorial code, then it was cached.
I've downloaded and run the clean version from zip file, but the buggy part was cached.

The problem was most probably introduced by missing `NgZone` import entry in `app.ts`.

It would be great if angular-meteor had a mechanism for preventing browser-cachin

[2016-03-17 08:35] #1275 closed

[2016-03-17 10:33] mixersoft opened #1276 "Why am I getting "Error: functions are not supported" on a call to Meteor Collection.update()"
I am getting `Exception in queued task: Error: functions are not supported` when I try to update a document. To isolate, I issued the update command multiple times in the console. To my surprise, the record is actually updated the first time-and I get an error. When I repeat the call, the method has not effect and there is no exception.

Thoughts?

using `angular-meteor#1.3.7` , `meteor-client-sid

[2016-03-17 11:37] kamilkisiela commented on #1271
Couldn't reproduce this issue. It's working on my Nexus 5.

I tried:
[code]

[2016-03-17 11:55] mixersoft commented on #1276
found it. It's because `angular-meteor` is not compatible with this pattern:

[code]

see: https://dweldon.silvrback.com/models

[2016-03-17 12:01] kamilkisiela commented on #1271
Sharing repo:
https://github.com/kamilkisiela/angular-meteor-1271

[2016-03-17 12:49] jmwierzbicki commented on #1209
hey, i installed meteor on virtual machine, as i heard that there is much better building times, also new meteor 1.3 rc2 does not support windows. anyway my application builds sucessfully, server does not spew any error. Unfortunatelly angular crashes in browser.

this is error copied from browser console:

`
modules-runtime.js?hash=e89b5fd26ee523597cd366bf9f71585253b20e5d:105 Uncaught Error: Cann

[2016-03-17 13:04] kamilkisiela commented on #1209
@jmwierzbicki I'm going to check it

[2016-03-17 13:38] mitiaptest commented on #1271
@Urigo I haven’t checked this thing of simulator.I am facing this issue on mobile device.

[2016-03-17 13:38] mitiaptest commented on #1271
@kamilkisiela will push sample code on shared repo.

[2016-03-17 13:54] kamilkisiela commented on #1271
@mitiaptest Great! You can add me as a collaborator :muscle:

[2016-03-17 13:59] jmwierzbicki commented on #1209
Quick way to reproduce my issue:

meteor create testapp
unpack step 3 tutorial to testapp
meteor update
meteor update --release METEOR@1.3-rc.2

it should be broken at this point.

tested on debian 8 x32

[2016-03-17 14:39] jamalx31 commented on #1267
Hi @Urigo
https://github.com/jamalx31/meteor-rep
in this repo you can reproduce the bug, just run it with ```meteor``` and you will see it

[2016-03-17 14:43] fpaboim commented on #1209
Having the same problem updating here:

Uncaught Error: Cannot find module 'angular'require @ modules-runtime.js:105

[2016-03-17 15:33] jmwierzbicki opened #1277 "angular-meteor doesn't work with meteor 1.3"
I spent few hours digging up through packages, and there is what i found:

Im creating tutorial step 3 app for testing purposes:
unpacking zip
after that im upgrading meteor and downloading packages:
`meteor update --release METEOR@1.3-rc.2 `

strangely it downloaded angular-meteor 1.3.1 :

root@debian:/opt/testapp2# meteor list
angular                1.3.1* Everything you need to use AngularJS in

[2016-03-17 15:40] jmwierzbicki commented on #1209
#1277

[2016-03-17 19:28] ftcosta commented on #223
Check the obvious scenarios first.

[code]
If the angular script tag appears more than once you will get the error with or without bower.
[code]

[2016-03-17 20:22] kamilkisiela commented on #1277
Yeah, this is a known error. Should be fixed soon.

[2016-03-18 01:16] jmwierzbicki commented on #1277
im totally stuck with my project now.
Reinstalled whole meteor back to 1.2.1 and when im trying to meteor update in my project im getting wall of errors...
`
root@debian:/opt/tcs# meteor remove autopublish blaze-html-templates insecure

Changes to your project's package version selections:

autopublish            removed from your project
blaze-html-templates   removed from your project
caching-co

[2016-03-18 02:08] elHoudini9 opened #1279 "Component As Syntax Throws Tracker Error (angular 1.x)"
Hi all,

this controller is breaking my app, which uses the 'component as' syntax (angular 1.x). It's curious, because I use the same syntax in all of the other controllers, but only breaks 2 of my controllers. I tried copy-pasting the code from working controllers and replacing the contents, but no luck....
[code]
When I comment out the line stated below, the code doesn't throw the error.
`$react

[2016-03-18 07:04] kamilkisiela commented on #1277
You can try to use angular from npm instead of atmosphere. By angular, I mean angular, not angular-meteor. It should fix the problem.

[2016-03-18 10:42] elHoudini9 commented on #1279
The component was inside of another component. I suspect that this may have caused it.

[2016-03-18 15:25] ThomsCass commented on #1279
see #1269

[2016-03-18 18:17] trajano commented on #536
Although this is a valid issue that should be re-openned.  Given a publish to a subscription 'all-user-list' with some paging information for example:

[code]

The subscription and query against the Meteor.users table will always have the current user.  It might need some work, but I don't think the Meteor.users and the current user really should not be tied together otherwise this issue would ari

[2016-03-18 18:27] stubailo commented on #536
@trajano try this: https://atmospherejs.com/percolate/find-from-publication

[2016-03-19 02:22] JeremyBYU commented on #1277
How do you use angular from npm with Meteor 1.3.  I installed angular from npm and attempt to import it (import angular from angular) and get this error in the console:
WARNING: Tried to load angular more than once.

[2016-03-19 10:46] mixersoft opened #1280 "where is ReactiveContext.stop() in (1.3.7)"
I'm using this code with `angular-meteor#1.3.7`

[code]

and according to the 1.3.6 docs I'm supposed to call `stop()` manually. but I cannot find it in `1.3.7`

[2016-03-19 13:47] Furqankhanzada commented on #1277
@kamilkisiela i have same issue give me some guide how can i fix this using npm ?

[2016-03-19 14:22] danimbrogno commented on #1277
@JeremyBYU, @Furqankhanzada  Here is what I have done to install angular-meteor and angular via npm.

1. Remove the angular meteor package you installed via atmosphere: `meteor remove angular`
2. Make sure you have the ecmascript package installed. If you had the atmosphere angular package installed previously you may have removed it after getting a notice that multiple compilers were trying to ha

[2016-03-19 14:43] danimbrogno opened #1281 "JSONDiffPatch dependency in angular-meteor NPM module."
Hi, I just encountered a small bug when using angular-meteor installed via NPM. I haven't seen any docs on using it this way, so apologies if this is not a supported use case.

I'm using angular 1.5.2 and angular-meteor 1.3.7 with Meteor 1.3 rc.3.

I have a helper which returns a cursor from a subscription:

[code]

When state.getActiveCompanyId() changes, my subscription re-runs triggering the in

[2016-03-19 14:46] ozsay commented on #1277
@danimbrogno Keep in mind that since you use `ecmascript` and not `angular-babel` (which is included in the meteor version of `angular-meteor`, `ng-annotate` is not included in the build process, so you should check your injections and make them work yourself if you want to minify your code.

[2016-03-19 14:55] danimbrogno commented on #1277
@ozsay good point! Do you know offhand what the impact would be if one were to use angular-babel instead of ecmascript? You would gain annotations, but would some other feature be lost? Is angular-babel compatible with 1.3?

[2016-03-19 16:13] kamilkisiela commented on #1272
#1282 should fix that

[2016-03-19 16:15] kamilkisiela commented on #1272
#1278 should fix that

[2016-03-19 17:25] JeremyBYU commented on #1277
Thanks for your instruction @danimbrogno .  I got it working but I had to also do the following.

1.  meteor remove blaze-html-templates
2. meteor add static-html

One little thing I noticed is that I can see the browser transition from {{greeting}} to "Welcome". What I'm trying to say is that I can visually see angular compile the templates and such, lasts about 1/5 second. Is that normal?

P.S

[2016-03-19 17:55] Urigo commented on #1281
thanks @danimbrogno for the workaround, we are working now on the solution!

[2016-03-20 06:32] mixersoft commented on #1280
I did find a `stop()` method on the subscription handle. is it enough just to call that?

[code]

[2016-03-20 08:56] ozsay opened #1284 "Update contribution guidelines regarding local angular-meteor development"
https://github.com/Urigo/angular-meteor/blob/master/.github/CONTRIBUTING.md#run-local-angular-meteor-in-your-project

This section needs to be updated since we no longer get `angular-meteor` from atmosphere.

[2016-03-20 10:50] #1281 closed

[2016-03-21 09:26] #1276 closed

[2016-03-21 11:05] jmwierzbicki commented on #1277
Is issue with showing angular uncompiled tag while angular loads still case?

[2016-03-21 16:51] ozsay commented on #1284
Awesome work @kamilkisiela ! Thanks

[2016-03-21 16:51] #1284 closed

[2016-03-21 18:15] dtruel commented on #1182
Hello,

It looks to me like in the old api, angular-meteor was smart enough to figure out what to do to update the object so that it matched the server. In the new api, you have to manually tell it what to update.  Is this right?

If so, this is a significant regression in my humble opinion.  I've built my app in a generic way that depends on angular-meteor being able to figure out what to do to u

[2016-03-21 22:59] trajano opened #1291 "$meteor.subscribe was deprecated but there is no replacement with promise"
The `$meteor.subscribe` function had been deprecated but it does not appear to have an equivalent that supports promise as the return value, the only one that is not deprecrated returns the subscribe handle but ui-router `resolve` would require promises

[2016-03-22 03:54] rossmartin commented on #493
@Siyfion @Urigo @arunoda

Thanks for all the info on this issue everyone.  I work on a project that is fairly invested in iron router and blaze but I prefer to work with angular so that partially explains why I'm commenting here.  I spent a few hours trying to get angular ui-router to co-exist with iron router and I had no luck (I read your answer to this stackoverflow post [here](http://stackover

[2016-03-22 07:37] mixersoft opened #1292 "design Q: promises, angular-meteor 'reactivity', & Meteor.methods()"
I got used to building my `ionic+angular`apps with `promises`, but now that I've switched to `Meteor` + `angular-meteor#1.3.7` I'm discovering it's a lot of work to convert `reactivity` to `promises`.

With `promises`, I got used to knowing exactly when a change has completed -- and I can do the next thing. But with `angular-meteor` 'reactivity', the timing of backend changes don't seem to be so '

[2016-03-22 09:00] navin10sharma opened #1293 "meteor method not return array of string"
[code]

My console  O/P and return value :  arrayvalue : firstname,lastname,phone,email
But i need output as array : [ "firstname","lastname", "phone","email"]

can you guys please help me out why this happening..

Thanks

[2016-03-22 13:25] Deadly0 commented on #1291
@trajano you can create promise by yourself and resolve it in onReady subscription event.

[2016-03-22 14:00] jamalx31 commented on #1277
+1

[2016-03-22 18:18] trajano commented on #1291
Is there an example of that?

[2016-03-22 19:40] Deadly0 commented on #1291
I use it like this:

		deferred = null
		$scope.subscribe 'collection', () ->
			if deferred
				deferred.resolve()

			deferred = $q.defer()
			$scope.dataLoading = deferred.promise

			perPage = parseInt $scope.getReactively('perPage')
			page = parseInt $scope.getReactively('page')
			$scope.options.limit = perPage
			$scope.options.skip = (page - 1) * perPage

			[$scope.getReactively('filter'

[2016-03-23 01:39] trajano commented on #1291
Problem is `$scope` is not available on the `resolve` of ui-router.  It won't make sense to use $rootScope because that means that subscription will always be active even if the state is not loaded.

[2016-03-23 04:11] trajano commented on #1291
Anyway I found a way of doing it
[code]

[2016-03-23 04:40] Tallyb commented on #1291
Are you stopping the subscription right away?

[2016-03-23 05:36] trajano commented on #1291
That's correct, because the subscription is not reactive on the `resolve`.  I have another subscription that is on the controller that would pass the subscribe arguments with `$reactive` attached on `$scope` so the list is still reactive and I presume will get stopped when the `$scope` goes out of scope which normally happens when ui-router state changes.

[2016-03-23 05:56] trajano commented on #1291
So just added the error handling, though I don't have any test case for this yet so I am not sure if it does work on error.  I do know that the onStop does get called when I do `handle.stop` so I added a variable to check whether it has been resolved first and guard against it before rejecting.

[code]

Perhaps a cleaned up version of this example can be put into the documentation.

[2016-03-24 01:02] elHoudini9 commented on #1279
@ThomsCass Thank you good sir. Closing this one

[2016-03-24 01:02] #1279 closed

[2016-03-24 02:50] sean-stanley commented on #1291
It might be noted that best practice with React and Blaze now is to not have your subscriptions happen before your route loads (like in Iron Router) a better approach according to the people at Kadira is to load your route with only minimal subscription logic and then use your controller (or onCreated function in Blaze) to create the subscription reactively. The idea is that while your route/compo

[2016-03-24 13:26] cubitworx commented on #1265
@ThomsCass What is the reason you closed this? I'm having the same problem when using reactive collections, however mine only seems to occur when I navigate away from a layout using:
[code]
What I find interesting is that it only started happening when I updated from `1.3-cordova-beta.5` to `Meteor 1.3-beta.11`. I am not 100% sure it was only the upgrade that caused the error to appear - I would h

[2016-03-24 13:37] ThomsCass commented on #1265
Hi,

I open an other ticket here #1269 and a solution was found.

[2016-03-24 13:46] ThomsCass commented on #1293
this post is not related to angular-meteor ...

It is absolutely normal because you call the toString method of your array with the concatenation ...

[code]

[2016-03-24 14:33] nebiljabari opened #1294 "$auth.loggingIn need to be explicitly = true"
Combined with angular-ui router in the resolve object. I need to explicitly set $auth.loggingIn = true; otherwise I get undefined and, in my case, this.helpers(); refuse to return the Mongo cursor

![ng-meteor](https://cloud.githubusercontent.com/assets/16270454/14019788/b467afe0-f1d4-11e5-9c6b-0715955d5c95.png)

[2016-03-24 20:08] trajano commented on #1291
@sean-stanley the problem with that approach is if the data set is large say 100 records or in my case 10 records on a slow machine I see the table being rendered as some records are being retrieved.  It's more distracting than having the page get displayed once all the data is resolved.

I still have the table re-rendering issue when I sort the tables because I don't change state and the subscrip

[2016-03-26 15:02] Tallyb opened #1295 "Angular 1.5.3"
Angular 1.5.3 was published, introducing some nice lifecycle hooks for components ($onDestroy, $onChagnes). Can you please publish to Atmosphere?

Remember, an issue is not the place to ask questions. You can use [Stack Overflow](http://stackoverflow.com/questions/tagged/angular-meteor) for that, or you may want to start a discussion on the [Meteor forum](https://forums.meteor.com/).

Before you o

[2016-03-27 08:37] Urigo commented on #1293
@ThomsCass thanks for the answer.
@navin10sharma it seems like a question not related to angular-meteor.
I would suggest opening those in StackOverflow.
Let me know if that fine, closing for now.

[2016-03-27 08:37] #1293 closed

[2016-03-27 18:39] riongull commented on #1277
@JeremyBYU, I think this might help:

https://docs.angularjs.org/api/ng/directive/ngCloak

[2016-03-27 19:10] JeremyBYU commented on #1277
@riongull Yep thats perfect thanks.

[2016-03-28 03:11] tehXor opened #1297 "Upgrade path for urigo:angular to angular (Meteor 1.1.0 to 1.2.1) / templating and angular-templates conflict"
We were upgrading a Meteor 1.1.0 app to 1.2.1. The old version had `urigo:angular 0.8.4`. After the upgrade this package was marked as depreciated with the note that instead the official `angular` package should be used.

In a first try we did `meteor remove urigo:angular` and `meteor add angular` (as well as `meteor remove blaze-html-templates ecmascript` but those were not there in the first pla

[2016-03-28 18:29] Deadly0 opened #1300 "How to run angular with meteor 1.3?"
I was asked this question at [StackOverflow](http://stackoverflow.com/questions/35729076/meteor-1-3-and-angular-1) some weeks ago but still no correct answer.

I've copy code from angular-meteor tutorial, update meteor to 1.3 and install angular-meteor from npm, import angular and angular-meteor to the js file. Then i run meteor and got error:
[code]

Is angular-meteor working with meteor@1.3 now?

[2016-03-28 21:04] kamilkisiela commented on #1300
Try to use `1.3.9` release. It should be fully compatible with Meteor@1.3 :)

[2016-03-28 21:05] DrDanRyan opened #1301 "Breaking change on helpers from 1.3.7 to 1.3.9"
I have a service that has a factory function for getting a `mdVirtualRepeat` on-demand model (see https://material.angularjs.org/latest/api/directive/mdVirtualRepeat if you care).  The upgrade from 1.3.7 to 1.3.9 broke the functionality when passing in a helper and treating it as a normal array, e.g. if I defined a `products` helper on my controller (aliased as `self`) and then pass `self.products

[2016-03-28 21:11] Deadly0 commented on #1300
@kamilkisiela i used 1.3.9 in the message above and got the error. I've also tried install it from Atmosphere but got another error:
[code]

[2016-03-28 21:17] Deadly0 commented on #1300
Maybe some problems with ecmascript/angular-babel?
[code]

[2016-03-28 21:22] kamilkisiela commented on #1300
You should try latest version of angular-babel which is `1.3.1`. There was one issue with Meteor 1.3 it's related to your problem :)

[2016-03-28 21:33] Deadly0 commented on #1300
I've update angular-babel to 1.3.1 and now have following errors:
[code]

[2016-03-28 21:52] Deadly0 commented on #1300
Ok, i've moved angular code to client folder. All my code is:
[code]

Errors in browser console:
[code]

[2016-03-29 00:21] franciskim opened #1302 "Module 'angular-meteor' is not available error after upgrading to Meteor 1.3"
I have a very simple prototype that I wrote on 1.2 - when I heard the news a few hours ago I immediately upgraded my Meteor to 1.3 and now I'm stuck with the error:

`Error: [$injector:nomod] Module 'angular-meteor' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.`

Anyone have any

[2016-03-29 00:30] vivekmago commented on #1300
I tried to use and follow the tutorial with meteor 1.3 that was just released but am getting errors. Would be great if someone could confirm when we are likely to get 1.3 support for both client and server modes.

angular_angular.js?hash=c17a5a9…:83 Uncaught Error: [$injector:modulerr] Failed to instantiate module socially due to:
Error: [$injector:modulerr] Failed to instantiate module angular-me

[2016-03-29 05:03] trajano commented on #829
Seems to have failed for me on angular 1.3.9 + Meteor 1.3 just checking if I may be missing something  else.

[2016-03-29 05:28] capanemaggfc commented on #1302
that's the same for me :/

[2016-03-29 05:29] capanemaggfc commented on #1302
same error here :/

[2016-03-29 05:38] capanemaggfc commented on #1300
this version has a bug in angular-meteor :/ dont update for now, use the previous version.

[2016-03-29 08:46] admeister commented on #1302
+1

[2016-03-29 09:56] mxab commented on #1302
can you try if this works for you
in you app.js
[code]

[2016-03-29 09:58] franciskim commented on #1302
@mxab thanks for that - I've already tried with no luck. My current set up seems to complain about the reserved keyword `import`

[2016-03-29 09:59] admeister commented on #1302
I'm just using regular old JavaScript not won't work me for.

[2016-03-29 10:04] mxab commented on #1302
@franciskim your current setup in IDE terms or is some meteor processing/compiling step complaining?

@admeister "regular old JavaScript" means?

[2016-03-29 10:05] admeister commented on #1302
I'm not using TypeScript

[2016-03-29 10:06] admeister commented on #1302
Or ECMAScript 6

[2016-03-29 10:07] franciskim commented on #1302
@mxab during the Meteor compiling/processing stage

[2016-03-29 10:12] mxab commented on #1302
@franciskim can you add pbastowski:angular-babel@1.3.1 to your `packages`

[2016-03-29 10:56] Urigo commented on #1301
@DrDanRyan can you please share an example repo?

[2016-03-29 10:58] Urigo commented on #1302
@franciskim can you share your repo so I could have a look?

[2016-03-29 11:14] jmwierzbicki commented on #1302
@Urigo I have totally same issue with my application - updating to 1.3 makes it crash at loading angular-meteor, Im not sure but i think it worked before i typed (as meteor suggested me)

[2016-03-29 11:15] Urigo commented on #1302
I know the solution, working on a new release right now.
would love more reproductions so I can make sure I'm solving it

[2016-03-29 11:41] franciskim commented on #1302
@Urigo the repo is at work so it'll take me at least 12 hours before I can come back to you.

[2016-03-29 12:30] jmwierzbicki commented on #1302
@urigo - application is working now, thanks for fix :+1:

by the way, there is still issue with text visible before application fully loads

[2016-03-29 12:34] #1300 closed

[2016-03-29 12:34] #1302 closed

[2016-03-29 12:34] Urigo commented on #1302
Please try `1.3.9_1` and let me know if that works for you

[2016-03-29 12:35] Urigo commented on #1300
Please try `1.3.9_1` and let me know if that works for you

[2016-03-29 12:47] Urigo commented on #1297
@tehXor welcome to the new version!
so, with the old version the angular template compiler compiled `.ng.html` files and now it compiles `.html` files instead of Blaze.
If you want to update gradually, I would first replace `angular` with `angular-with-blaze` package that uses a compiler similar to the old one where `.ng.html` is for angular templates and `.html` is for Blaze.

I think there are a

[2016-03-29 13:09] capanemaggfc commented on #1302
works fine here, thanks @Urigo !

[2016-03-29 13:34] trajano opened #1303 "angular-meteor-auth may be preventing the upgrade to 1.3.9_1"
When doing a `meteor update` the `angular` package appears to get prevented from being updated by `angular-meteor-auth`

<pre>
The following top-level dependencies were not updated to the very latest version available:
 * angular 1.3.7 (1.3.9_1 is available)
 * angular-meteor-auth 0.2.2 (1.0.0 is available)
</pre>

By doing
<pre>
meteor remove angular-meteor-auth
meteor update
meteor add angular-m

[2016-03-29 13:47] tehXor commented on #1297
Thanks @Urigo for the feedback!

We managed to upgrade now. What we did was to create a clean and new meteor project with `meteor create` and then we manually added and removed all required packages with `meteor remove` and `meteor add` so that we basically had the same package state judging from the `packages` file of the old project. Then we copied the old projects source code over to the new pr

[2016-03-29 13:47] #1297 closed

[2016-03-29 13:57] Deadly0 commented on #1300
@Urigo i've updated to ``1.3.9_1`` from Atmosphere and looks like it works. But i still need to install ``pbastowski:angular-babel`` manually becouse ``pbastowski:angular-babel@1.0.9`` not working with ``Meteor@1.3``
Also when i install angular-meteor from npm i just see blank screen without any errors on server or client.

[2016-03-29 14:02] Deadly0 commented on #1303
@trajano I saw similar complaints at meteor bug tracker but with others packages. Looks like it is not an angular-meteor specific problem.

[2016-03-29 14:12] Urigo commented on #1300
@pbastowski maybe we can publish `pbastowski:angular-babel@1.0.10` that set the dependency below 1.3 and not just 1.2 and above?

[2016-03-29 14:27] luncasu commented on #1302
Works for me too.

[2016-03-29 14:50] DrDanRyan commented on #1301
Ok, I posted a repo:
https://github.com/DrDanRyan/helpers-reference-demo

The key point is in the line of the html file that uses `ng-repeat`.

When using 1.3.9 (and Meteor 1.3 because I could not make 1.3.9 work on Meteor 1.2.1; something about webpack not finding angular),
`ng-repeat="movie in ctrl.refToMatches"` does not work because the reference to the helper gets replaced when the cursor cha

[2016-03-29 16:00] trajano commented on #1260
There's a 1.3.9_1 perhaps it should be changed to that version.

[2016-03-29 16:19] Urigo commented on #1303
@trajano the reason for that is that Meteor wants you to be aware before updating to a new major version. it's for safety.
I've updated angular-meteor-auth to 1.0.0 because I think it's ready.

Closing, please reopen if it's not clear..

[2016-03-29 16:19] #1303 closed

[2016-03-29 16:36] ahmedbouhmid commented on #1302
me not working

2016-03-29 15:27 GMT+01:00 luncasu <notifications@github.com>:

[2016-03-29 16:42] Urigo commented on #1302
@ahmedbouhmid can you provide a reproduction?

[2016-03-29 17:51] LucNaterop commented on #1301
Could you explain this for idiots? I just seem to have all ng-repeat directives broken...They just don't get any data from the controllers.

[2016-03-29 18:03] Deadly0 commented on #1301
@DrDanRyan I'm not sure that this is your problem, but
[code]
i gues you should use "fat arrow" to bind the scope:
[code]

[2016-03-29 18:04] DrDanRyan commented on #1301
The `ng-repeat` should work as long as they are directly accessing the helper and not some other reference to the helper.  In my example repo I posted, the code will work if you use
`ng-repeat="movie in ctrl.matches"`

but it will not work if you use

`ng-repeat="movie in ctrl.refToMatches"`

I believe it is because everytime the searchText changes, the helper returns a new cursor, which in 1.3.9

[2016-03-29 18:08] DrDanRyan commented on #1301
@Deadly0:  that isn't the issue. In fact, in all of my real code I alias `var self = this;` at the top of the controller definition and use `self` throughout. Just didn't do that for the demo to try and make it more readable. I have a feeling the `helpers` method is binding the context for you or something, cuz the code works the same with or without the fat arrow as far as I can tell.

[2016-03-29 18:12] LucNaterop commented on #1301
@DrDanRyan That makes sense. Thanks!

[2016-03-29 18:22] Urigo commented on #1110
@insidemybrain can you tell me if now with `1.3.9_2` everything is working for you?

[2016-03-29 19:47] pbastowski commented on #1300
@Urigo
How would I do that, Uri? Specifically, do I need to add something to package.js? Or, perhaps, do I need to publish different package versions with different versions of Meteor?

[2016-03-29 20:53] LucNaterop commented on #919
I am experience this error with Meteor 1.3 and ground:db

[2016-03-29 22:10] trajano commented on #1303
Thanks just want to make sure that the behaviour is intentional.

[2016-03-29 23:02] franciskim commented on #1302
fixed it for me, thanks!

[2016-03-30 12:34] Urigo commented on #1300
@Deadly0 about installing from Npm, if you do that, you will need to use the new setup, as described in the new tutorial (soon also in Socially) - https://www.meteor.com/tutorials/angular/creating-an-app

@pbastowski maybe in the `versionsFrom` option.
I'm not sure if you can specify there "higher than" "lower than" thing, but if you can't, maybe you can do the same in terms of the `api.use` for s

[2016-03-30 12:41] Urigo commented on #919
@LucNaterop do you think it's grounddb related or angular-meteor related?
can you post a reproduction?

[2016-03-30 12:57] Urigo commented on #791
@neosekar there's a need to publish accounts-facebook in the same way that @idanwe as done with accounts-password here:
https://github.com/idanwe/accounts-base-client-side
https://github.com/idanwe/accounts-password-client-side

@neosekar do you want to try to publish this one yourself?  we can help

[2016-03-30 13:30] LucNaterop commented on #919
The error just magically disappeared. I have no idea what was going on and I cannot reproduce it at this point.

[2016-03-30 13:52] pbastowski commented on #1300
@Urigo
`versionsFrom` only applies to Meteor's own internal packages, so, can't use that. And, there is no "lower than" parameter unfortunately.

I will research a bit into into other ways to restrict a package to a specific version.

[2016-03-30 18:45] idanwe commented on #791
@neosekar take a look at https://github.com/idanwe/accounts-password-client-side/issues/2#issuecomment-162036663

[2016-03-30 23:56] sean-stanley commented on #1201
The atmosphere link for angular-meteor-auth still goes to [https://github.com/Urigo/angular-meteor](https://github.com/Urigo/angular-meteor) maybe package.js needs updating with new repo url?

[2016-03-31 02:36] sean-stanley commented on #1295
You can use angular 1.5.3 right now. Just run meteor add `angular:angular` and your project will be updated. I don't know how much of the new features angular-meteor currently takes advantage of so I am converting my project slowly to full 1.5 component syntax (still using ui-router for instance) just in case I hit any issues.

[2016-03-31 02:39] sean-stanley opened #1307 "Update tutorial to use AngularJS 1.5.x component syntax"
It would be a good idea to upgrade the tutorial to angularJS 1.5.x component syntax.

I would personally love to learn if there are any special advantages that can be gained for meteor from the new version. A blog post on best practices with 1.5.x would be neat too as the new component guide from the angular js team is introducing quite a few new concepts to app structuring.

Also, if necessary I

[2016-03-31 03:30] Tallyb commented on #1295
I believe the latest atmosphere version is 1.5.2

[2016-03-31 03:41] longxuanho opened #1308 "Application broken after updating to Meteor 1.3"
After I update meteor from version 1.2 to 1.3, everything has broken. The error message is:
`Error: [$injector:nomod] Module 'angular-meteor' is not available! You either misspelled the module name or forgot to load it. If registering a module ensure that you specify the dependencies as the second argument.`

[2016-03-31 04:07] sean-stanley opened #1309 "1.3.9 this.$bindToContext not working"
Hi,

FYI callbacks wrapped in `this.$bindToContext` return undefined so the callback is never executed. This is probably related to an issue I raised in Angular Meteor Auth. This is after upgrading to 1.3.9 (still on Meteor 1.2).

I hope this is a quick fix and there will be a patch soon. In the meantime, I'm wrapping my callbacks in a `$scope.$apply()` to avoid nasty things happening when I run t

[2016-03-31 04:51] muninn9 commented on #1308
Mine also broke only I received this error, "angular@^1.2.27 not installed".

[2016-03-31 07:28] kamilkisiela commented on #1308
Try to use the latest version which is `1.3.9_2`.

[2016-03-31 08:26] Urigo commented on #1307
in the works!

[2016-03-31 09:09] sean-stanley commented on #1291
Another way then is in your controller where you start the subscription, add an onReady callback.

[code]

Then in your template use:
[code]
Then you won't have pieces of your subscription being rendered in chunks.

Unfortunately, ng-repeat seems to be way weaker than React and Blaze's own {{each}} in terms of efficiently creating and watching DOM nodes. Large collections in ng-repeat really bog d

[2016-03-31 17:17] crstn210 commented on #1308
same here, i have two apps, I've upgraded both to 1.3 and one has broken with the same error, i'm trying  to see the difference

[2016-03-31 17:52] crstn210 commented on #1308
Problem solved, some dependencies where preventing angular meteor upgrade successfully, you have to update the versions manually, look at the log when you update meteor

[2016-03-31 18:43] Urigo commented on #1308
awesome.
closing, please let me know if needs to reopen

[2016-03-31 18:43] #1308 closed

[2016-03-31 18:53] trajano commented on #1291
@sean-stanley interesting approach, I am assuming `subscribe` does an automatic `$scope.$apply` on the callback.  Though this approach from what I can garner would give me a "empty table" until it is ready.  However, I think the UX would be better if the view does not load and show a loading animation until everything I need is ready (I have a used https://github.com/angular-ui/ui-router/wiki#view

[2016-03-31 19:47] dotansimha commented on #1295
@Tallyb @Urigo
Published all Angular 1.5.3 modules to Atmosphere :)

[2016-03-31 19:47] #1295 closed

[2016-03-31 22:08] sean-stanley commented on #1291
I see where you are coming from and using generic view loading code would be more convenient however, I like the little bit more control of my own approach. You can see it in action at http://new.foodcoop.nz Rather than have the entire view display a loading symbol only my catalog has a spinner, this means, the categories, search bar, sort menu and more can all be rendered when they are asynchrono

[2016-04-01 09:44] TWKDreamState commented on #1277
I'm having issues with importing and the same warning..

WARNING: Tried to load angular more than once.

I'm thinking that some of the packages (ie. angular-meteor-auth, angularui:angular-ui-router) means that angular is added as a dependency and appears in my versions file. Is there a way around this?

[2016-04-01 12:26] Tallyb commented on #1295
Cool. However, upgrade failed to 1.5.3 . Seems like an issue with angular-messages.

Back to 1.5.2 works fine. Here is the log:
W20160401-13:41:05.136(3)? (STDERR)
W20160401-13:41:05.138(3)? (STDERR) C:\Users\Tallyb\AppData\Local\.meteor\packages\meteor-tool\1.1.10\mt-os.windows.x86_32\dev_bundle\server-lib\node_modules\fibers\future.js:245
W20160401-13:41:05.139(3)? (STDERR) 						throw(ex);
W201

[2016-04-01 13:19] kamilkisiela commented on #1295
Because of:

@Tallyb @dotansimha I think it's related to this issue https://github.com/meteor/meteor/issues/6618

[2016-04-01 16:17] Tallyb commented on #1295
@kamilkisiela. This is still on 1.2, do I am not sure it is related.

[2016-04-01 16:19] kamilkisiela commented on #1295
The issue is related to the `meteor publish` command.

If you will publish new package using Meteor 1.3, then the client-side code will be also on the server-side.

It works fine on Meteor 1.3 app but it breaks Meteor 1.2 apps.

[2016-04-01 19:03] Urigo commented on #1201
@sean-stanley you are right.  fixed and will be done with next deploy (hopefully tomorrow)

[2016-04-01 19:13] Urigo commented on #1295
yes that's true.
@dotansimha until the next Meteor release you can clone Meteor, go to tag `1.2.1` and run `meteor release` from there..

[2016-04-01 19:13] Urigo commented on #1295
and I think next week there will be a new Meteor version with a fix

[2016-04-02 04:34] jmwierzbicki commented on #1277
@riongull Im afraid that ng-cloak does not help there - after updating to meteor 1.3 my applications render white with index.html navigation buttons visible and unstyled - every button is seen, even those hidden by angular for good second, before application initializes - adding or removing fast render makes no difference, there is ng-cloak in my navigation section - doesn't help

[2016-04-02 07:14] dotansimha commented on #1295
I think it is also possible to run the publish command with specific Meteor version:
`meteor --release METEOR@1.2 publish`

Tried it now with "1.5.3_1" version, @Tallyb, can you test it?

[2016-04-02 12:20] daslicht opened #1310 "Angular 2 Tutorial Bootstrapping fails"
HI,
I am following along this tutorial:
http://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping

The imports seamnot to work properly

```Cannot find module 'angular2/core'.```
```Cannot find module 'angular2/platform/browser'.```

Thats what I get:
![](http://i.imgur.com/JUBubFS.png)

packages:
[code]
What do I miss please?

[2016-04-02 12:37] daslicht commented on #1310
Related:
https://github.com/Urigo/angular2-meteor/issues/144

[2016-04-02 13:35] trajano opened #1311 "angular-templates default export with path"
The current default export in angular-templates just returns an empty object.  Can we add the path name for the template as part of the object so we can refer to it symbolically rather than a string?

<pre>
import editTemplate from './todo-edit.tpl.html'
import listTemplate from './todos.tpl.html'
...
     views: {
          'content@app': {
            templateUrl: listTemplate.url,
...
     view

[2016-04-02 14:52] Urigo commented on #1277
Hi everyone.
Can you please try to new `1.3.9_2` version with Meteor 1.3?
also make sure to update to `angular-meteor-auth` version `1.0.1`.
If it's still not working for you, please provide a reproduction that I can check out.
Thanks

[2016-04-02 15:22] TWKDreamState commented on #1277
@urigo Working perfectly for me from Atmosphere :) Just struggling to get my head around the whole npm thing! Is it best to stick with Atmosphere packages for the time being?

[2016-04-02 15:40] Tallyb commented on #1295
@dotansimha seems to be working ok now. Thanks a lot!

[2016-04-02 15:52] jmwierzbicki commented on #1277
@Urigo There should be invitation to my repository on Your emai. If You could check out why navigation is shown, before code is compiled. It didn't happened before upgrade to meteor 1.3

[2016-04-02 23:42] Urigo commented on #1201
deployed.

[2016-04-03 06:01] longxuanho opened #1312 "(Angular-Meteor Tutorial) Retrieve the lastest document inserted to MongoDB"
In helper, how can I get the lastest document inserted to MongoDB? I have tried:

`
this.helpers({
    newestParty: () => Parties.find({}, {sort: {_id: -1}, limit: 1})
});
`

but it does not work.

[2016-04-03 06:27] longxuanho commented on #1312
Finally I found that we cannot query for the lastest document based on neither _id or $natural key. It should be:
`
this.helpers({ newestParty: () => Parties.find({}, {sort: {createdAt: -1}, limit: 1}) });
`

[2016-04-03 06:27] #1312 closed

[2016-04-03 08:36] trajano commented on #1311
I think the following line gets generated ...

    angular.module('angular-templates').run(['$templateCache', function ($templateCache) {
    $templateCache.put('client/foo/tab-default.html',
    ...

can be changed to

    var templateUrl = 'client/foo/tab-default.html';
    angular.module('angular-templates').run(['$templateCache', function ($templateCache) {
    $templateCache.put(templateUrl,

[2016-04-03 08:46] trajano commented on #1311
I think I have found it in `compileNGTemplate_plugin.js` but I can't find the source anywhere at least Google search for it with quotes yields no results.

The part that needs to change should be
<pre>
function wrapAngularTemplate(id, contents) {                                                                        // 111
  return "angular.module('angular-templates').run(['$templateCache', functi

[2016-04-03 21:59] Urigo commented on #1310
@daslicht I've just deployed a new version of the tutorial update to the new Meteor 1.3 modules.
Please try it again..

[2016-04-03 22:06] Urigo commented on #1312
thanks for updating!

[2016-04-04 08:58] ThomsCass commented on #1312
have you try this : `Parties.findOne({},{sort:{$natural:-1}});`

[2016-04-04 09:06] daslicht commented on #1310
Are those warnings 'normal'?

[code]

[2016-04-04 09:07] daslicht commented on #1310
I still get the following error:

[code]

with this import:
[code]

[2016-04-04 09:16] daslicht commented on #1310
I just started from scratch, looks like something changed how projects are created :
The files no longer get named as the project (probably you like to fix that in teh docs as well:)

![](http://i.imgur.com/bNj9XF6.png)

[2016-04-04 09:23] daslicht commented on #1310
No import errors anymore but this :
[code]

[2016-04-04 09:25] daslicht commented on #1310
Readding the index.html with its content solves the consol errors ! :

[code]

[2016-04-04 09:31] daslicht commented on #1310
The typings files isn't created (after first launch) anymore

[2016-04-04 09:38] daslicht commented on #1310
Now I reached Step 1 of the tutorial :

[code]

![](https://i.imgur.com/Q8tA7Uw.png)

[2016-04-04 09:50] dotansimha commented on #1310
Can you share your "tsconfig.json" file?
Note that you should have `moduleResolution: 'node'` set - Angular 2.0 typings are bundled in it's NPM package, and no longer needed to be imported manually...

[2016-04-04 14:10] ThomsCass opened #1314 "Iron router splash screen when using angular meteor"
Hi guys,

I'm using angular-meteor but for my REST API I use iron router. Everything works great the only problem is that because I suppose I don't use iron-router on client side I get this awful splash screen :

[code]
How can I remove it cause I get it on every single page of my app ...

Thanks a lot

[2016-04-04 17:24] daslicht commented on #1310
It sthe file form the tutorial plus the excludes:

[code]

[2016-04-04 19:34] dotansimha commented on #1310
The `exclude` prevents from your IDE to find the modules under `node_modules`... please try to remove it...

[2016-04-04 19:38] daslicht commented on #1310
Already tried it has no effect,

[2016-04-04 19:42] dotansimha commented on #1310
Just to be sure, did you run `npm install`, and do you have `node_modules/angular2/` directory?

[2016-04-04 19:48] robertlight opened #1315 "FAILS: meteor npm install --save angular2-meteor-accounts-ui"
Step 8 of socially tutorial has a problem - the following fails:

[code]

[2016-04-04 19:55] daslicht commented on #1310
yes see:

![](http://i.imgur.com/kZyb67E.png)

[2016-04-05 01:02] longxuanho commented on #1312
Sorry. It doesn't work. The error is:

`
angular.js:12520 Error: unsupported sort key: $natural
`

It's seems like Meteor MongoDB is quite different to the original one although they said it just a wrap around Mongo cursor. You also cannot chain methods like this:

`
Parties.find().limit().sort() // You cannot do this too
`

[2016-04-05 09:05] ThomsCass commented on #1312
It works for me on server side. I don't know client side

[2016-04-06 02:37] Hongbo-Miao commented on #1315
Refer to https://github.com/Urigo/angular-meteor-docs/issues/24
(Let's put all same issues in one place -> **angular-meteor-docs**)

[2016-04-06 04:30] cglace opened #1316 "Odd Subscription error"
I'm trying to add a sort to a paginated subscription and I keep receiving this error "Expected not to find a document already present for an add" when I change the sort direction.

The relevant code:

[code]

[code]

Is there anything particular I am doing wrong that would cause this?

[2016-04-06 04:53] donedgardo commented on #1233
+1
If I understood correctly is how to use jquery and an external js library(materialize) in your component.js file using import.

I have the same question.

[2016-04-06 08:41] skyboys22 commented on #1233
not in js file @donedgardo, but in ts file
i got solution from there: https://github.com/skyboys22/DefinitelyTyped/tree/master/materialize-css
include file d.ts and call after from your ts file, functions to initialise

[2016-04-06 13:47] robertlight commented on #1315
I'm all for it... I'm just figuring out the relationship between all these repos myself...  thanks for "the glue".

@Hongbo-Miao - do you have any idea why I'm getting the messages:

[code]

It looks like there is a problem in the "install" step of angular2-meteor-accounts-ui package... I'm a noob when it comes to npm, do you have any experience as to what's going wrong?

[2016-04-06 14:26] insidemybrain commented on #1110
@Urigo Everything is fine now! Thank you

[2016-04-06 15:19] itaibs commented on #1309
Having the same issue after updating to Meteor 1.3.

Posted [question](http://stackoverflow.com/questions/36378070/callback-is-not-a-function-with-bindtocontext) on stack overflow as well.

[2016-04-06 17:46] eorengo opened #1317 "angular-meteor-auth"
Hi there,

I'm following the tutorial (whatsapp with ionic and meteor) but I'm can't moved next of the point 4.24, we had to add lib/angular-meteor/dist/angular-meteor-auth.bundle.js but we've never added that library. My current angular-meteor version is 1.3.9 but I tried many others. I also tried downloading angular-meteor-auth as a different package ("bower install angular-meteor-auth") and I t

[2016-04-06 19:40] #1315 closed

[2016-04-06 19:48] robertlight commented on #1315
Now I get the following:

[code]

which leaves me with a node_modules directory with the following in it:
[code]

Is that what I should expect?

[2016-04-06 20:06] Urigo commented on #1315
yes that's good.

[2016-04-06 20:16] Urigo commented on #1314
I think you will find the solution here: http://stackoverflow.com/questions/31035196/iron-router-conflict-with-angular-ui-router
If not, please feel free to re-open

[2016-04-06 20:16] #1314 closed

[2016-04-06 20:17] robertlight commented on #1315
so how should I write my parties-list.ts??

seems like the following is the only thing that passes muster with atom:
[code]

but then it blows up in the browser when it tries to load:
[code]

[2016-04-06 20:34] Urigo commented on #1233
@skyboys22 can we close this issue?

[2016-04-06 20:48] dotansimha commented on #1310
@daslicht Do you use angular2-meteor from Atmosphere?
Can you show me the content of the "typings" directory?

[2016-04-06 20:55] daslicht commented on #1310
I followed exactly this [tutorial](http://www.angular-meteor.com/tutorials/socially/angular2/bootstrapping)

![http://i.imgur.com/x0RshRi.png](http://i.imgur.com/x0RshRi.png)

Anyways , that seams not to be a typing issue :

[code]

[2016-04-06 20:58] daslicht commented on #1310
That might be easier :) ...

I just created a repo with my current progress :

https://github.com/daslicht/angular2-meteor-socially

[2016-04-06 20:59] #1233 closed

[2016-04-06 20:59] skyboys22 commented on #1233
yes @Urigo i forget it ^^ sorry

[2016-04-07 09:34] ThomsCass commented on #1314
@Urigo Thanks for the link but it doesn't help.

In my case I use Iron router only on server side so I don't have any routes on my client and don't want any. It's a problem with iron router if you don't use any routes on the client but then it's not compatible with ui-router and so angular meteor.

this issue is also related https://github.com/iron-meteor/iron-router/issues/976

What I do for a wo

[2016-04-07 09:46] ThomsCass commented on #1314
Beside it slows down the app on mobile as the iron-router logic is run too.

[2016-04-07 17:26] cesargalindo commented on #1104
@Urigo Thanks for the nice tutorial and updating it to Meteor 1.3.

I'm running through the tutorial and am unable to get app step 05 working.  I have a copy of the steop 05 code for meteor 1.2 and that work fine.

Socially Step 05 works with Meteor 1.2.1
https://github.com/cesargalindo/zip_files/blob/master/meteor-angular2.0-socially-step_05_1.2.zip?raw=true

Socially Step 05 does not work with M

[2016-04-07 19:10] cesargalindo commented on #1104
Please ignore my issue.  I added the index.html file and it started working.   This file wasn't required in Meteor 1.2.1 but is for Meteor 1.3.1.

[2016-04-08 13:48] sebakerckhof opened #1323 "Using `replace:true` on a directive, breaks the reactive context"
I have a directive where I use `this.getReactively` which works fine if I don't have `replace:true` defined on the directive.

As soon as I set `replace:true` on the directive, `this.getReactively` does not work anymore (does not trigger an autorun).

[2016-04-08 14:03] #1323 closed

[2016-04-08 14:03] sebakerckhof commented on #1323
I'll investigate this further myself and see what's the root cause

[2016-04-08 15:38] Hadarg1 commented on #831
I just ran into the same problem
I'm using Angular Meteor 1.3
I'm trying to write an object to MongoDB which one of it's propreties is an array.
Doing a console.log just before the insert, I can see that a $$hashkey field was added as a last field to each entry in the array.
I manage to solve the problem with angular.copy
I don't like this solution and I'm looking for a better way to solve it
The

[2016-04-08 17:52] GustavoSaudade commented on #256
I'm trying to step 1 of the tutorial .... but the ng-include don't works for me.

Can you help me?

[2016-04-08 21:52] kokokenada commented on #1300
Is there an example repository showing typescript, angular and Meteor 1.3?  (Ideally with package/ examples.) I've been struggling all day...

[2016-04-09 14:38] kokokenada opened #1324 "Tutorial problems (does not run by following exact steps and missing chapters)"
* I had to deviate from the tutorial instructions and put main.js in the client folder (tutorial said root folder) in order to avoid a build error (ReferenceError: window is not defined)

* Furthermore, as I flip through the chapters 17, 18, 20, 21, 22 the text from the last displayed chapters are displayed. (I was hoping to see if anything has changes to packaging and ionic that are required in M

[2016-04-09 16:34] louiealmeda opened #1325 "Angular-Meteor Seed Project"
Possibly the best way to make more people jump-in to this more easily is to have a seed project that will:

- [ ] implement a simple working project (probably the todo app with user logins, with privacy of items)
- [ ] follows John Papa's style guide?
- [ ] implement `angular 2 Now` for front end
- [ ] implement angular server
- [ ] structured project directory
- [ ] pre-configured meteor app (Bla

[2016-04-09 18:49] benco1967 commented on #1324
+1 chapters 17 18 20 21 22 are not displayed

[2016-04-09 18:57] Tallyb commented on #1325
As of now - this is probably the best place to start:
https://www.meteor.com/tutorials/angular/creating-an-app

[2016-04-09 19:53] dotansimha commented on #1310
@daslicht
Just tried to run in locally - and got blank page.

Also, changed locally in my environment to this package.json:
[code]

Note that I removed the caret sign ("^") from the dependencies, in order to get the specific versions and avoid peer dependencies errors.

The empty page is valid - because you iterate the collection of parties, but it's still empty.

Alos, the Angular 2.0 app bootstr

[2016-04-09 19:53] #1310 closed

[2016-04-09 20:59] Urigo commented on #256
@GustavoSaudade which tutorial are you referring to?

[2016-04-09 21:01] Urigo commented on #1324
those chapters are not updated yet in the Angular 1.x tutorial.  I hope to get them updated this weekend.
the Angular 2.0 chapters are updated until 18

[2016-04-10 01:00] daslicht commented on #1310
what about the errors in atom ?

[2016-04-10 02:52] donedgardo opened #1326 "Running Errors with ngAnnotate Meteor 1.3"
I'm trying to implement uiRouter into my project.
Similar to Angular 1.x Tutorial step 5

[code]
Running into these Errors:

`Error: [$injector:strictdi] config is not using explicit annotation and cannot be invoked in strict mode
http://errors.angularjs.org/1.5.3/$injector/strictdi?p0=config`

Using Meteor 1.3.1 and these is my packages file
[code]

Here is my code on the uirouter branch giving m

[2016-04-10 03:25] donedgardo commented on #1326
Going to Close,
Found that type in line $locationProvider.html5Mode not html5mode

Also started using
config.$inject = ['$locationProvider', '$urlProvider'];

[2016-04-10 08:05] jonmc12 commented on #1316
@cglace you might try using the ```this.subscribe``` syntax as described on the [subscribe docs](http://www.angular-meteor.com/api/1.3.6/subscribe)

[2016-04-10 21:51] Urigo commented on #656
@sean-stanley does that work for you with the latest `1.3.9_2`?
Please let me know so I could close this

[2016-04-10 21:56] Urigo commented on #765
@Tallyb I was referring to this - https://github.com/meteor/tutorial-tools/issues/7

[2016-04-10 22:06] Ben305 commented on #656
For me 1.3.9_2 has solved the problems

[2016-04-10 22:20] Urigo commented on #1028
@Sauermann it is now (just before step 9.4)
Please let me know if you are still not able to see it.

[2016-04-10 22:20] #1028 closed

[2016-04-10 22:21] Urigo commented on #1074
were you able to solve this?

[2016-04-10 22:23] Urigo commented on #1083
@kaihaase can you please try the new version of the tutorial and let me know if it still happens?

[2016-04-10 22:26] Urigo commented on #1104
fixed in the new tutorials

[2016-04-10 22:26] #1104 closed

[2016-04-10 22:29] Urigo commented on #1125
closing as there is no reproduction with the new version.
If it still persists, please re-open and tag me
thanks

[2016-04-10 22:29] #1125 closed

[2016-04-10 22:30] Urigo commented on #1140
closing as there is no reproduction..

[2016-04-10 22:30] #1140 closed

[2016-04-10 22:31] Urigo commented on #1174
Enjoy :)
http://www.angular-meteor.com/tutorials/socially/angular2/angular-material-and-custom-angular-auth-forms

[2016-04-10 22:31] #1174 closed

[2016-04-10 22:31] Urigo commented on #1178
done.
Thank you @kamilkisiela for the huge help and great work!

[2016-04-10 22:31] #1178 closed

[2016-04-10 22:33] Urigo commented on #1180
for specific question please post your repo and then I can provide answers..
Closing but please re-open if you haven't found a solution and if you did, please post that solution here for others to enjoy

[2016-04-10 22:33] #1180 closed

[2016-04-10 22:35] Urigo commented on #1182
with version `1.3.9_2` we've removed the deprecation warnings by default so that you could continue using the old API as long as you wish.
The new API is still recommended because it's more compatible with the rest of the Meteor community and is also more robust and performant.
But I understand your point and that's why I've removed the messages.
Also now there is much more documentation on the ne

[2016-04-10 22:35] #1182 closed

[2016-04-10 22:36] #1184 closed

[2016-04-10 22:36] #1185 closed

[2016-04-10 22:36] Urigo commented on #1187
thank you @kamilkisiela !

[2016-04-10 22:36] #1187 closed

[2016-04-10 22:37] kamilkisiela commented on #1187
@Urigo :+1:

[2016-04-10 22:38] #1204 closed

[2016-04-10 22:39] #1207 closed

[2016-04-10 22:40] Urigo commented on #1208
fixed there as well, closing

[2016-04-10 22:40] #1208 closed

[2016-04-10 22:44] Urigo commented on #1317
Are you using Ionic CLI or Meteor CLI one?
http://www.angular-meteor.com/tutorials/whatsapp/

[2016-04-10 22:45] Urigo commented on #1311
Reviewing

[2016-04-10 22:45] Urigo commented on #1309
Can you try `1.3.10-rc.0` to see if it solves the problem?

[2016-04-10 22:46] Urigo commented on #1307
done - http://www.angular-meteor.com/tutorials/socially/angular1/3-way-data-binding#upgradingtocomponentssyntax

[2016-04-10 22:46] #1307 closed

[2016-04-10 22:48] Urigo commented on #1272
@seanjb should be fixed now.
Please reopen if that isn't the case.
Thanks @kamilkisiela !

[2016-04-10 22:48] #1272 closed

[2016-04-10 22:49] Urigo commented on #1271
@mitiaptest any news?

[2016-04-10 22:50] Urigo commented on #1264
@mattiLeBlanc could you please update about the current situation of the issues you specified?
thanks

[2016-04-10 22:51] Urigo commented on #1260
done.

[2016-04-10 22:51] #1260 closed

[2016-04-10 22:51] Urigo commented on #1215
done

[2016-04-10 22:51] #1215 closed

[2016-04-10 23:28] kokokenada commented on #1300
Thanks @pbastowski for helping me with this example repository https://github.com/kokokenada/tstest2

[2016-04-11 09:58] Sauermann commented on #1028
Looks good. Thanks!

[2016-04-11 11:03] itaibs commented on #1309
So fat seems to be working for me!

Thanks!

[2016-04-11 11:07] mitiaptest commented on #1271
@Urigo We have resolved this issue by injecting module.

Thanks,
Mit

[2016-04-11 11:07] #1271 closed

[2016-04-11 11:08] mitiaptest commented on #1271
Thanks @kamilkisiela

[2016-04-11 11:42] eorengo commented on #1317
I tried both. Meteor works but I wanted to test it in Ionic. Thanks

-------- Mensaje original --------
De: "EXTERNAL:Uri Goldshtein"
Fecha:10/04/2016 06:46 PM (GMT-05:00)
A: Urigo/angular-meteor
CC: ORENGO Emiliano Roy TENARIS
Asunto: Re: [Urigo/angular-meteor] angular-meteor-auth (#1317)

Are you using Ionic CLI or Meteor CLI one?
http://www.angular-meteor.com/tutorials/whatsapp/

—
You are rece

[2016-04-11 14:21] #1309 closed

[2016-04-11 14:27] #1136 closed

[2016-04-11 15:26] Urigo commented on #1325
We've updated Socially to the best practices for Meteor 1.3 and Angular 1.5.
I think it's a good seed project - https://github.com/Urigo/meteor-angular-socially

[2016-04-11 15:26] #1325 closed

[2016-04-11 15:58] mxab opened #1327 "sourcemaps not working in 1.3"
Hi,
it seems that the sourcemaps are not working anymore.

In this project for example https://github.com/Urigo/meteor-angular-socially.git

It only shows the compiled app.js and the main.js, non of the imports are available
<img width="544" alt="screen shot 2016-04-11 at 17 56 34" src="https://cloud.githubusercontent.com/assets/1607547/14433553/f75175dc-000e-11e6-87e5-736ca39d4e4a.png">

[2016-04-11 19:39] fpaboim opened #1328 "autorun not autorunning"
I'm using autorun with the controllerAs syntax. When I use somthing like this in my controller:

[code]

Autorun is not running when I update the Trips collection. If I use this hack and add '.fetch()'

[code]

Then autorun reruns as expected, so I have a bunch of these hacks sprinkled on my controller. Is something in my app broken, is this by design or is it a bug? Thanks!

[2016-04-11 21:33] dtruel commented on #1182
Awesome, thank you so much @Urigo.  You've done great work with this library and I appreciate you listening to everybody.  I agree with you that the new API offers a lot in terms of compatibility, but leaving this in is a real help to me.  Many thanks.

[2016-04-12 01:38] jacobdr commented on #1328
Based on my reading of the docs for collection.find --docs.meteor.com/#/full/find(http://docs.meteor.com/#/full/find)-- the reactivity for a cursor does not begin until you have attempted to retrieve any documents via the fetch map or forEach methods.

You can ignore the return value from such a call if you want -- but it's not the typical case that you'd want just a cursor without some need for i

[2016-04-12 07:55] ShaharLahav commented on #1119
Hi , I have the same error , please help. same loading same everything using the newest API.

[2016-04-12 08:05] ShaharLahav commented on #1317
same problem here

[2016-04-12 21:27] Urigo commented on #656
awesome!

[2016-04-12 21:27] #656 closed

[2016-04-12 21:29] mxab commented on #1327
@pbastowski do you think this is maybe an angular-babel issue?

[2016-04-12 22:13] Urigo commented on #1120
@MilosStanic It is great that you opened this issue and I’m very happy for it.

I haven’t responded so far because I wanted all the Meteor 1.3 things to be done...

First - It’s important to emphasize that the people talking about React are simply community members excited about it, not an official statement from MDG, and everyone has the right to pick their favorite framework.

It looks like our

[2016-04-12 23:16] MilosStanic commented on #1120
Thank you @Urigo for the most extensive and encouraging answer.

My original post was written well before Meteor 1.3 was out, and at that time, as the Meteor community influencers started leaning towards React, more and more packages were converted to Atmosphere to help use React with Meteor, and very few Angular packages were converted to Atmosphere.

Fortunately, Meteor 1.3 took care of that whe

[2016-04-13 00:58] Hongbo-Miao commented on #1120
@MilosStanic keep going with Angular 2. I walk between both Angular2-Meteor and Meteor-React. So I know why people recommend React.

I agree that React is using JavaScript to generate HTML is indeed flexible and I love this too. But this has price. My feeling, it starts to become hard to maintain if you have a over 10k lines of code project.
Then Redux this data pattern comes out to solve that. Bu

[2016-04-13 12:51] ThomsCass opened #1329 "$meteor.forgotPassword other way"
Hi,

Is there an other way to implement this method with the new API :

[code]

In fact this one is really slow because we have to wait the email to be send.

[2016-04-13 15:01] MilosStanic commented on #1314
Just experienced this myself with Meteor 1.3 and Angular2-Meteor.
Using iron:router to load image files from server (because there's hundreds of them and placing them in /public makes node go wild on RAM). So I get this ugly splashscreen.
I saw your workaround @ThomsCass with jquery, but for some reason it doesn't work for me. And you're right, it's ugly.

[2016-04-13 17:22] fpaboim commented on #1328
Ok, thanks for clarifying!

[2016-04-13 17:22] #1328 closed

[2016-04-13 17:52] pbastowski commented on #1327
@mxab I will look into this.

[2016-04-13 18:47] pbastowski commented on #1327
@mxab
You're right.
So, it would appear that Meteor 1.3 changed something to do with Source Maps and I need to fix my package.
To be continued...

[2016-04-13 19:10] mxab commented on #1327
ok thx, let me know if I should test something

[2016-04-14 09:26] ThomsCass commented on #1314
@MilosStanic it's strange.

But yeah it's ugly so what I think of was to make a reimplementation of the iron-router with no splash screen to work with meteor angular.

But as I'm not an expert in rewriting for now here is what I try :

- I cloned the repo of iron router on github
- find the code of the splashscreen and remove it
- modify the package.js and publish it to atmopshere

and voila : `ht

[2016-04-14 09:32] MilosStanic commented on #1314
@ThomsCass maybe you should submit a pull request to iron-router with a fix. They may accept it, as there are many people complaining.
My attempt at your first workaround with jquery failed because I'm using Angular2-Meteor, and I had trouble importing `$` .

[2016-04-14 18:03] mlynch commented on #1120
@Urigo happy to help how we can. Don't really agree that what the ecosystem offers isn't enough, plenty of people being successful with all those tools (including Ionic 2). Of course, tons of room to improve.

[2016-04-14 20:40] pbastowski commented on #1327
@mxab
I have spent a couple of hours looking into the issue and trying things, but no luck yet. I think it will take me a few days to find how to do sourcemaps in m13.

`<whinge warning>`
It's bit of a whinge, I know, but I wish "they" got "their" act together with the core `ecmascript` package and exposed a way for us to add any Babel transformers that we want, like Decorators, for example. Even

[2016-04-14 21:57] mxab commented on #1327
just curious how is everyone else developing angular-meteor applications? not having sourcemaps working takes a bit the fun out or are they working in your projects @pbastowski ?

any ideas/suggestion from @Urigo ?

[2016-04-15 15:26] DrDanRyan commented on #1326
@donedgardo manual annotation looks like this (I haven't got ng-annotate to work either)
[code]

[2016-04-15 15:32] DrDanRyan commented on #1316
Is this a server error or browser console error?  If I had to wildly guess it looks like something is getting confused in the livequery (database <=> mergepool) or the ddp sync between the mergepool and minimongo

[2016-04-15 16:48] kamilkisiela commented on #1326
@donedgardo You're using `ecmascript` package which doesn't include `ng-annotate`, unlike the `pbastwoski:angular-babel`.

[2016-04-15 16:51] mxab commented on #1326
for me it works with the `/** @ngInject **/` on the functions  and for classes on the constructor

[2016-04-15 16:52] mxab commented on #1326
but of course with pbastowski:angular-babel.

[2016-04-15 20:24] Urigo commented on #1120
@MilosStanic why do you think Meteor forums are not crawlable? we use Discourse and it is crawlable..

But I think Stack Overflow is always better for questions, Github Issues are for bugs and feature requests and Meteor Forums for discussion like the one we are having here.

About SSR and fast rendering, it is closer than ever, probably a first working version next week..

@Hongbo-Miao I agree th

[2016-04-15 21:18] pbastowski commented on #1327
@mxab
I've published v1.3.4, which brings back the source maps.
Could you please check if it works also for you?

[2016-04-15 21:25] mxab commented on #1327
Yes Sir, it does so very much! Thank you! :+1:

[2016-04-16 06:00] pacozaa opened #1331 "Code Example in tutorial parse greater than sign error"
http://www.angular-meteor.com/tutorials/socially/angular1/search-sort-pagination-and-reactive-vars

enter this link and search for `&gt;`

you will see the problem

I think it should be `>` instead of  `&gt;`

[2016-04-16 06:40] Tallyb commented on #1331
The functions are shown as =&gt instead of =>
The  components bindings are shown as '&lt' instead of '<'.

[2016-04-16 07:04] kamilkisiela commented on #1331
All the code is displayed by `mdg:tutorial-diff-box`

[2016-04-17 20:15] Hongbo-Miao commented on #1120
@Urigo yeah, that will be great, I can show some cool stuff especially when using Angular 2 with Meteor.

[2016-04-18 08:23] MilosStanic commented on #1120
@Urigo I thought Meteor forums were not crawlable simply because when I search Google for Meteor stuff, they never appear in results. That, and knowing the issues with crawlability of Meteor apps, was the reason I made that conclusion.
Great news about SSR and fast rendering. Can't wait for it!

[2016-04-18 14:19] ryuken opened #1332 "How to disable reactivity?"
I have a question, I'm using angular 1 with meteor.
I'm trying to fetch some data non-reactive, but it's not working it only returns undefined.
I use it like this Orders.findOne({ _id: $stateParams.id }, { reactive : false })
In reactive mode it first returns undefined and then the correct data

[2016-04-18 14:36] cglace commented on #1316
The error is client side. The results are correct server side but end up incorrect on the client. Right now the only workaround is to disable sort on that page.

[2016-04-18 15:10] j127 commented on #1120
Discourse forums are indexable, but maybe don't rank as well as they could. All the content is between noscript tags, which is not ideal for SEO. This is a problem with a lot of newer forum software. (Discourse, NodeBB, Flarum, etc.)

[2016-04-18 15:22] DrDanRyan commented on #1316
Paginating with skip can be tricky because on the client-side it can be difficult to tell which items in the collection came from the publication with `skip` in it (if more than one publication involve documents from the same collection....)

Is this the only publication sending to that collection? If so, your helper query on the client side is not using `skip` correct?

If all else fails, you may

[2016-04-18 15:34] mlynch commented on #1120
@Urigo glad to hear that 😄 👯. And yes, we need to put out more awesome demos, it's a priority for me this year. We started with a conference app demo a few months back (I suppose F8 has validated/overshadowed that now :P) https://github.com/driftyco/ionic-conference-app

Also, we run a popular discourse forum and so far SEO has been solid.

[2016-04-18 16:30] numerized commented on #1317
Same problem here.
Please URGENT. :))))

[2016-04-18 18:39] cglace commented on #1316
There is only one publication using this collection so I am not using skip on the client, just sort.

[2016-04-18 20:00] pauldhawk opened #1333 "issues with step 00 of the tutorial"
tutorial questions:

1. created files is not correct tutorial says
    - socially.css    (delete)
    - socially.html   (delete)
    - socially.js     (delete)
    I get the folder stuructor :
            ├── client
        │   ├── main.css
        │   ├── main.html
        │   └── main.js
        ├── package.json
        └── server
            └── main.js
2. should we  delete the following files?

[2016-04-18 21:25] j127 commented on #1120
You can get indexed and even rank with Discourse, but it's unlikely that it will do as well as a site that renders full HTML. Links within `<noscript>` appear to not pass "link juice" well. SPAs can also be _indexed_ (even without the `_escaped_fragment_` parameter now), but I don't think that they tend to rank well either.

(The distinction is _indexing_ vs. _ranking_ -- a site can be indexed per

[2016-04-18 21:26] pauldhawk opened #1334 "issues with step 00 and 03 of the tutorial"
tutorial questions:

1. created files is not correct tutorial says
    - socially.css    (delete)
    - socially.html   (delete)
    - socially.js     (delete)
    I get the folder stuructor :
            ├── client
        │   ├── main.css
        │   ├── main.html
        │   └── main.js
        ├── package.json
        └── server
            └── main.js
2. should we  delete the following files?

[2016-04-19 09:00] dohomi opened #1335 "is there an ETA for the 1.4 version?"
Hi @Urigo

is there any ETA for the `1.4` version? As there are many code changes it would be great help to know when its a good time starting with the restructure.

Cheers,
Dominic

[2016-04-19 10:45] Urigo commented on #1120
@mlynch I wasn't aware if that app, looks really really nice!

[2016-04-19 10:55] navin10sharma opened #1336 "$parent not working in controller"
I have the following code in form $parent.checkOut is working fine. But once i try to access this Data in conoller {this.$parent.checkOut} but it showing undefiend. Can you please help me how i can access these model Data into my controller.

`  <div class="input-group date">
                                        <input type="datetime" class="form-control" date-time

[2016-04-19 14:48] apuravchauhan commented on #262
@bernardnahas  worked for me as well.

[2016-04-19 17:18] Urigo commented on #1335
so, I've removed the default deprecation messages from the code in 1.3 as I see that version as long term support for all APIs to date.
About 1.4, I think it will take a while as I'm thinking of a new API that will be more generic and similar between Angular 1.x Meteor, Angular 2.0 Meteor and Angular Apollo.
also, because it will be a breaking change when it comes, I will publish it as 2.0 and not

[2016-04-19 17:18] #1335 closed

[2016-04-19 19:31] mxab commented on #1335
... we spent more or less to nearly 2 weeks day and night lifting our code base from 1.2 to 1.3... our hands are bleeding and our heads are ringing... please don't tell me the the 1.3 to 1.4 will again be such a huge change in the api ...ok we switched also a lot of stuff to components, es6 classes and modules and reviewing some code felt good... but still

[2016-04-19 19:48] Urigo commented on #1335
no no, 1.3 is here to stay for a very very long while, I will support it for as long as needed.

When I'm talking about 2.0 (not 1.4) I'm talking about something really really far away into the future, no point about thinking or preparing for it now and in recent months.
I know the 1.3 transition as hard, I won't do that again for you.

[2016-04-19 19:59] mxab commented on #1335
ok :)

[2016-04-19 23:42] dohomi commented on #1335
@Urigo this means that the actual rewrite away from the `$scope.$meteor<service>` services was actually not really necessary? I thought they will be removed sometimes soon as part of `1.4`? I think the current documentation could lead to some confusion.. as I'm confused right now :)

[2016-04-19 23:52] donedgardo commented on #1326
@mxab && @kamilkisiela Thank you it was the compiler, was following first the angular-meteor tutorial on oficial site  of meteor, then jumped on the tutorials of angular-material socially,
Thanks.
Solved

[2016-04-19 23:52] #1326 closed

[2016-04-20 00:10] dohomi opened #1338 "this.subscribe seems not running again without changing arguments"
Hi,

I just had an issue where my `this.subscribe` doesn't execute again if called with the same arguments:

[code]

`this.start` and `this.end` are the same arguments but the subscription doesn't run again. I had to change the `this.subscribe` into `Meteor.subscribe`.

For reproduction: Just set up a tracker which calls the `autorun` again but don't change the subscription arguments. Even the han

[2016-04-20 01:04] robertlight opened #1339 "Socially section 10 - deploying your app (receiving JS error on client)"
I am up to step 10 on the socially tutorial and have deployed my app to Galaxy

It is up and running here:  http://app.mousetomouse.com

It's running localling just fine.  I do get the following when building:

[code]

It is running the serverside code because I am getting the initialization of the database done correctly (I'm using mlab.com)

The javascript console has:
[code]

Any ideas?

Is the

[2016-04-20 12:21] Urigo commented on #1335
I do not recommend the old API.
The new API is better and I recommend you to use it.
If you don't want to update, you can always continue to use the old version, nobody "deletes" 1.2 or 1.3, you can always just keep using old versions, like any other library.

[2016-04-20 15:59] danielflippance opened #1340 "Error: "r" when logging in or resetting password"
Some of my end users are having problems logging in and resetting their password. When I try to do the same using their username and password, the Meteor call returns an error "r". The two methods I'm calling are:

- $meteor.loginWithPassword
- Accounts.resetPassword

Is "r" a code that I can lookup to find the meaning?
I'm running Meteor 1.2.1. My Angular Meteor versions are:

accounts-base@1.2.2

[2016-04-20 16:53] mlynch commented on #1120
@j127 in theory I agree, but in practice we've been nothing but very happy with ranking and Ionic forum posts. I can see it being suboptimal but also "good enough" and a large amount of our traffic comes from search (and a lot of it)

[2016-04-21 01:03] dohomi commented on #1335
ok thanks! Keep up the good work!

[2016-04-21 05:17] juancho559 opened #1341 "Angular-meteor tutorial WhatsApp is not working properly in IOS 9.3"
Hi,
I'm trying to deploy Whatsapp tutorial application shown on this page (http://www.angular-meteor.com/tutorials/whatsapp/meteor/layout) in IOS 9.3, but I'm not able to run properly due to a navigation problem. The behaviour is very weird, you have to click more than one time an action button in order to navigate to other page. Also, the icons in the tab control are not visible.

I appreciate an

[2016-04-21 05:21] Tallyb commented on #1340
This function is probably a minified version of the code. you will need to run in development / debug mode.

[2016-04-21 07:31] Urigo commented on #1120
In other news - my post on the official Angular blog is up - https://twitter.com/angularjs/status/723019578264014848
Would love some social sharing love ;)

[2016-04-21 19:35] kelvinaero commented on #1106
This solved the issue

[2016-04-22 07:50] DAB0mB commented on #1338
@dohomi Why would you use a subscribe inside an autorun scope? The reason why it happens is because `$scope.subscrube()` uses `Meteor.subscribe` inside an autorun, so once there is a subscription in a nested autorun, the outer computation will stop our subscription. Can't you just subscribe outside the autorun?

[2016-04-22 08:20] 1zaak commented on #1331
Yes, should be '<' instead of '&lt;'. I checked and the Angular version in the tutorial is in a different version than the latest one. So maybe it was an old Angular bug that was fixed now. But the tutorial should reflect that to make it easier for people going through it.

[2016-04-22 08:42] dohomi commented on #1338
Thanks for the hint about the `autorun`. But still: even if I use following code the subscription is not running again even the `this.tracker.depend()` is triggert:
[code]

[2016-04-22 09:01] DAB0mB commented on #1338
@dohomi I just don't get you, what exactly are you trying to achieve here?! Why the `this.tracker.depend()`? I think you misunderstood the concept of computations and how they work... Or maybe I'm just having a hard time understanding you.

[2016-04-22 09:13] kamilkisiela commented on #1336
@navin10sharma It's related to `angular` not `angular-meteor` but I don't think it's works this way.

Here's [an explanation](http://stackoverflow.com/questions/21453697/angularjs-access-parent-scope-from-child-controller).

[2016-04-22 12:10] dohomi commented on #1338
The tracker.depend() I’m using because I update the subscription through a method call. And there is more complexity involved because I’m using jQuery full calendar for rendering it. Important for me is: if I trigger the autorun or subscription through a reactive source I await that the subscription runs again - which unfortunately does not happen if I use this.autorun rather than Meteor.autorun.

[2016-04-23 04:30] mattiLeBlanc commented on #1264
These issue have all been resolved.

[2016-04-23 04:30] #1264 closed

[2016-04-24 21:35] lorensr opened #1342 "Blaze 2 Angular 2 Docs"
I didn't see an issue tracking this section of the docs, just a non-functioning "Angular 2" button on this page:

http://www.angular-meteor.com/migration/angular1/intro

I have a Blaze/IR mobile app, and I'd like to put it in an Ionic 2 shell, with a tab bar and iOS swipe-to-go-back navigation. Once there are some basic docs for it, I'd be happy to try them out and do edits/additions. I'd like to

[2016-04-24 22:56] nebiljabari commented on #1294
After some effort I've found a solution. If it interest someone in the community, please be my guess :
https://forums.meteor.com/t/auth-angular-ui-router-resolved/20082

[2016-04-24 22:56] #1294 closed

[2016-04-26 04:30] phucnv206 opened #1343 "Socially - Step 20: graphicsmagick create 0 byte thumbnail"
Same problem when I clone and run latest version.

It works when transform without **gm**

`
transformWrite(readStream, writeStream, fileId, file) {
readStream.pipe(writeStream);
}
`

[2016-04-26 06:09] kamilkisiela commented on #1343
Do you have installed graphicsmagick or imagemagick? It won't work without it

[2016-04-26 06:25] phucnv206 commented on #1343
Oops! I didn't read gm installation. Thank you @kamilkisiela

Hope Angular-Meteor team will improve tutorial about this.

[2016-04-26 06:25] #1343 closed

[2016-04-26 07:07] mxab commented on #1327
@pbastowski it looks like there is still something off in the sourcemaps, while debugging it looks like the breakpoints are one or two lines of

[2016-04-26 08:46] pbastowski commented on #1327
Max, I'm away on vacation for a few days. I'll look into this issue on Sunday or Monday latest.

[2016-04-26 08:48] mxab commented on #1327
No worries, enjoy your vacation :)

[2016-04-26 09:24] kamilkisiela commented on #1331
Urigo/angular-meteor-docs#74 should fix it

[2016-04-26 14:14] kamilkisiela commented on #1340
@danielflippance Any more details? :)

[2016-04-26 15:30] pacozaa commented on #1331
@kamilkisiela The problem still there.

http://www.angular-meteor.com/tutorials/socially/angular1/search-sort-pagination-and-reactive-vars

[2016-04-26 15:33] kamilkisiela commented on #1331
@pacozaa That PR hasn't been accepted yet :) Hold your horses, Mr. pacozaa! :smiley:

[2016-04-26 15:54] kamilkisiela commented on #1329
You can use [`Accounts.forgotPassword`](http://docs.meteor.com/#/full/accounts_forgotpassword)

[code]

Or with [`$bindToContext`](http://www.angular-meteor.com/api/1.3.6/reactive-context) if you need to keep it inside the digest cycle.

As you could see in the example above, `$meteor.forgotPassword` works the same way as `Accounts.forgotPassword` but it has that callback transformed into `Promise

[2016-04-26 16:00] kamilkisiela commented on #1324
@kokokenada @benco1967

Steps (each PR):
- [17-18]
- [19]
- [20-21]
- [22]

are now available! :)

[17-18]: https://github.com/Urigo/angular-meteor-docs/pull/43
[19]: https://github.com/Urigo/angular-meteor-docs/pull/44
[20-21]: https://github.com/Urigo/angular-meteor-docs/pull/61
[22]: https://github.com/Urigo/angular-meteor-docs/pull/69

[2016-04-26 16:04] kamilkisiela commented on #1277
@TWKDreamState Feel free to use npm :+1:

@jmwierzbicki Can you try with latest release which is `1.3.10`?

[2016-04-26 20:26] Ben305 opened #1344 "Inconsistent usage of helpers in tutorial"
The API Reference for `helpers` contains the following sentence:

With this in mind, I was wondering when I was reading step 6 from the tutorial called "Bind one object". In that chapter, a single object called `party` that returns the result from a call to `Parties.findOne` is added to the helpers.

What's right and what's wrong now? Can we use helpers to return results from calls to `Collection.

[2016-04-26 21:42] DAB0mB opened #1345 "`underscore` and `jsondiffpatch` are not specified as bower dependencies"
App may crash if `underscore` or `jsondiffpatch` are not loaded beforehand when importing bower version using `webpack`.

The resulted error is:

[code]

[2016-04-27 11:30] kamilkisiela commented on #999
@ThomsCass You should update packages. It's working with latest releases

[2016-04-27 12:36] kamilkisiela commented on #1092
@sebakerckhof Maybe this is enough for you? [example](https://github.com/kamilkisiela/angular-meteor-1092/blob/master/imports/ui/app.js#L19-L29).

@Urigo I could make a PR that brings `onStart` callback to `subscribe` method.

[2016-04-27 13:56] mgrivera commented on #1092
@kamilkisiela That'd be great ... This is very needed because, that way you can control when a subscription starts ...

[2016-04-27 14:07] sebakerckhof commented on #1092
@kamilkisiela why didn't I think of that :p! very simple and good solution.

[2016-04-27 14:09] kamilkisiela commented on #1092
@sebakerckhof Do you also think that `onStart` it would be a good idea?

Putting stuff in function that returns arguments is quite weird :)

I've already have a working solution for this.

[2016-04-27 14:15] sebakerckhof commented on #1092
Yeah, I'd like onStart. Especially since I like to keep my subscription arguments one-liners ( `() => [this.getReactively(...)]`).
I guess you could just wrap that function in the angular-meteor library if an onStart-callback is defined, which is probably what you had planned.

[2016-04-27 14:17] kamilkisiela commented on #1092
Exactly :)

[2016-04-27 15:37] kamilkisiela commented on #1267
@jamalx31 You can update your app to use `angular-meteor-auth@1.0.2_1` and replacing `$auth.currentUser` with `vm.currentUser` or `currentUser` if you're using it with $scope.

[2016-04-27 15:44] kamilkisiela commented on #1280
[code]

It's working on the latest release :)

[2016-04-27 15:55] kamilkisiela commented on #1291
@trajano I think you can just use `Meteor.subscribe` with `$q`.

[code]

And then:

[code]

[2016-04-27 15:55] kamilkisiela commented on #1291
Let me see how it works for you so we can close this issue :)

[2016-04-27 16:07] kamilkisiela commented on #1292
@mixersoft

Instead of this:

[code]

You can use this:

[code]

And now under `vm.comments` you have fetched data.

---

`ReactiveContext` is just a reference to `vm` so it's basically the same and you don't have to use it like this:

[code]

[2016-04-27 16:49] trajano commented on #1291
@kamilkisiela problem with that approach is the controller becomes responsible for stopping.  Where mine stops it on the `resolve` block

[2016-04-27 16:55] kamilkisiela commented on #1291
@trajano It's just another solution, depends on what you want to achieve :)

You asked about replacement for $meteor.subscribe so here it is :)

If you need reactivity then stopping subscription inside resolve block is not a good idea.

If you want to just fetch data then it's okay to use it your way.

[2016-04-27 18:59] tuxbear opened #1346 "Injection fails on Galaxy"
We have an app that works locally, but when deployed to galaxy, all pages with angular fails with a

Error: [$injector:unpr] Unknown provider: tProvider <- t

I've tried using

Is this a known issue with galaxy?

[2016-04-27 19:13] david-meza commented on #1346
This is most likely an issue with minification. Try injecting your dependency using the array syntax as follows: `['$myProvider`, function($myProvider) {}]`

[2016-04-27 19:15] tuxbear commented on #1346
Yeah that was my first thought, but sadly that only changes the provider that fails

[2016-04-27 19:19] david-meza commented on #1346
Oh, well I'm not sure if that is an issue with Galaxy, but perhaps a code sample on what is triggering the error would be useful.

[2016-04-27 19:43] trajano commented on #1291
I checked my code now, I just took it out since I had issues with reactivity (though it was for some other reason).  As long as the API documentation for meteor subscribe on the angular-meteor gets updated with a sample I think we should be fine to close this.

[2016-04-27 21:03] sean-stanley commented on #1291
Just a quick thought, if you want to receive a bunch of data from the server as a one-off than a subscribe call is really not the best way to do that. Your best off writing a meteor method that does that and returns the cursor.fetch() results. Then you don't have any reactive overhead for your static call.

Unfortunately Meteor.call isn't available as a promise anymore either though as @Urigo poin

[2016-04-27 21:23] sean-stanley commented on #1291
Not trying to criticize or anything but there may be alternative ways of doing whatever it is you want the promises for.

I've read a lot about trends in modern component driven apps. They all want to remove as much as possible data logic from the router. They have some good points on why to do this. So maybe in your case, instead the controller should subscribe and fetch the data it needs and dis

[2016-04-27 23:45] #1331 closed

[2016-04-28 00:41] danielflippance commented on #1340
Turns out the user in question thought they had created an account but they had not. The "r" error message in this case meant: "You do not have an account"

[2016-04-28 00:44] Urigo commented on #1092
@kamilkisiela would love to see a PR on that!

[2016-04-28 00:51] Urigo commented on #1324
thank you @kamilkisiela !

[2016-04-28 00:51] #1324 closed

[2016-04-28 01:49] jmwierzbicki commented on #1277
still same case:
while it loads: https://i.imgur.com/TGP5dQE.png
after all is complete: https://i.imgur.com/oAtGcOV.png

this is my nav bar code:
` <md-toolbar flex="10" >
        <div class="md-toolbar-tools">
            <img src="img/thaumcraft_mirror.png" style="width:110px;">

            <md-button ui-sref="solver">Helper</md-button>
            <md-button href="/editor-list">Version List</m

[2016-04-28 02:57] trajano commented on #1291
I have a while loading event on the template that would be running while data is being loaded in the resolve events for the router.

[2016-04-28 03:33] devntd commented on #831
Ok, thanks for clarifying!
:+1:

[2016-04-28 06:03] kamilkisiela commented on #1340
@Urigo OK, so we can close this issue now

[2016-04-28 10:13] kamilkisiela commented on #1092
Done #1347

[2016-04-28 10:41] kamilkisiela commented on #1277
@jmwierzbicki  Could you send me some repro of this?

[2016-04-28 11:01] kamilkisiela commented on #1277
This may happen because Meteor 1.3 puts `<scripts/>` right before `</body>`, so your app's html is being loaded before javascript. Unlike Meteor 1.2 where all scripts have been inside `<head/>`.

[2016-04-28 11:05] jmwierzbicki commented on #1277
well, is it possible to alter this behavior?

[2016-04-28 11:15] kamilkisiela commented on #1277
@jmwierzbicki You can use [ngCloak](https://docs.angularjs.org/api/ng/directive/ngCloak).

---

But I recommend you to create a main component, let's call it `app`.

So if you have something like this:

[code]

It will become:

[code]

Where a template of `<app/>` component will be:

[code]

---

It's always nice to use `angular.bootstrap`, you have [an working example](https://github.com/Urigo/me

[2016-04-28 11:18] kamilkisiela commented on #1277
About changing this behaviour. Hmm you can check [that PR](https://github.com/meteor/meteor/pull/6375)

[2016-04-28 11:40] jmwierzbicki commented on #1277
not sure why, but im getting angular.module(...).component is not a function

[2016-04-28 11:42] kamilkisiela commented on #1277
`component` is available in AngularJS 1.5+

[2016-04-28 11:46] Tallyb commented on #1092
Now we just need the subscription equivalent of $http.pendingRequests.length...

[2016-04-28 11:53] jmwierzbicki commented on #1277
Thanks, its all working now!

[2016-04-28 14:07] kamilkisiela commented on #1291
If someone needs Promises for `Meteor.subscribe()`, `Meteor.call()` or `Meteor.apply()` you can use [`angular-meteor-promiser`](https://www.npmjs.com/package/angular-meteor-promiser).

[2016-04-28 19:15] Tallyb commented on #1291
@kamilkisiela I have not tried it yet, but you are now officially my hero!

[2016-04-28 21:20] kamilkisiela commented on #1291
Oh, stop it, @Tallyb! It's just a simple wrapper function :) I made it so everyone can maintain the same repository instead of creating their own services.

[2016-04-28 22:35] #1345 closed

[2016-04-30 12:37] kevinfiraguay opened #1349 "Accounts.user is not a function"
Hi,
I use angular application for my client app outside meteor, and use meteor only server side, using angular-client-side to connect to meteor. I have an application with angular-meteor 1.3.2 and it works well that way. I tried to upgrade angular-meteor to version to 1.3.9, upgrade meteor to 1.3.1 and angular-client-side to 1.3.1.

When I run the application, it throws "Accounts.user is not a fun

[2016-04-30 15:46] kevinfiraguay commented on #1349
If it helps, i tried to reproduce the problem with minimal packages.

{
  "name": "test_bundle",
  "description": "",
  "license": "MIT",
  "dependencies": {
    "meteor-client-side": "=1.2.1",
    "accounts-password-client-side": "=0.3.1",
    "accounts-base-client-side": "=0.1.1",
    "angular-meteor": "=1.3.6",
    "angular-meteor-auth": "=0.2.2"
  }
}

Still the same error :

`angular.js:12416

[2016-05-01 09:10] #1340 closed

[2016-05-01 09:28] Urigo commented on #493
@rossmartin thank you for this great answer!
If you think we should elaborate more somewhere in the doc about that solution feel free to PR the docs.

[2016-05-01 09:28] #493 closed

[2016-05-01 09:31] Urigo commented on #519
will be added when Galaxy adds support for LetsEncrypt (Very soon)

[2016-05-01 09:34] jamalx31 commented on #1267
@kamilkisiela @Urigo
it seems like $rootScope.currentUser and $scope.currentUser are not the same object
in $scope.currentUser I miss some of the fields I publish for current user!

[2016-05-01 09:36] Urigo commented on #978
please re-open this issue on Ionic or Blaze

[2016-05-01 09:36] #978 closed

[2016-05-01 09:37] Urigo commented on #999
great.
@ThomsCass feel free to re-open is that's not the case

[2016-05-01 09:37] #999 closed

[2016-05-01 09:37] Urigo commented on #1023
fixed in the new version of the tutorial

[2016-05-01 09:37] #1023 closed

[2016-05-01 09:38] Urigo commented on #1065
we got till 18 now.
soon will finish it all

[2016-05-01 09:38] #1065 closed

[2016-05-01 09:39] Urigo commented on #1074
closed because inactive

[2016-05-01 09:39] #1074 closed

[2016-05-01 09:40] Urigo commented on #1083
fixed with the new version of the tutorial.
please reopen if that's not the case

[2016-05-01 09:40] #1083 closed

[2016-05-01 09:45] Urigo commented on #1101
updated in the version of the tutorial

[2016-05-01 09:45] #1101 closed

[2016-05-01 09:46] Urigo commented on #1111
not related to angular-meteor.
you probably should ask it on Stack Overflow

[2016-05-01 09:46] #1111 closed

[2016-05-01 09:48] Urigo commented on #1120
thanks everyone for the great discussion.
closing, but we can keep on talking ;)

[2016-05-01 09:48] #1120 closed

[2016-05-01 09:50] Urigo commented on #1203
done

[2016-05-01 09:50] #1203 closed

[2016-05-01 09:53] Urigo commented on #1211
with the new Meteor version you can just use npm and import styles from it

[2016-05-01 09:53] #1211 closed

[2016-05-01 09:54] Urigo commented on #1213
@MilosStanic thanks for the ideas!
updated in the new version of the tutorial: http://www.angular-meteor.com/tutorials/socially/angular1/handling-files-with-collectionfs
I guess we should update the new of the chapter :)

[2016-05-01 09:54] #1213 closed

[2016-05-01 10:12] Urigo commented on #1267
released `1.0.3`.  please re-open if it's not fixed for you

[2016-05-01 10:12] #1267 closed

[2016-05-01 10:13] Urigo commented on #1270
keeping track in the related issue - https://github.com/angular/angular/issues/6380

[2016-05-01 10:13] #1270 closed

[2016-05-01 10:14] #1277 closed

[2016-05-01 10:14] #1280 closed

[2016-05-01 10:15] Urigo commented on #1291
yes!

[2016-05-01 10:15] #1291 closed

[2016-05-01 10:16] Urigo commented on #1292
@mixersoft please reopen if that haven't solved your problem

[2016-05-01 10:16] #1292 closed

[2016-05-01 10:18] #1329 closed

[2016-05-01 10:19] Urigo commented on #1333
should be fixed now

[2016-05-01 10:19] #1333 closed

[2016-05-01 10:20] #1336 closed

[2016-05-01 10:21] Urigo commented on #1339
can be tracked here: https://github.com/angular/angular/issues/6380

[2016-05-01 10:21] #1339 closed

[2016-05-01 14:28] kevinfiraguay commented on #1349
ok, after multiples test I found a solution:
I needed to extract a new version accounts-base-client-side through the bash script that comes with the repo.
But it did not worked at first. I had to add thoses dependencies to the concat phase to make it work
cat "$PACKAGES_PATH/modules-runtime.js" >> $OUTPUT_PATH/$NAME.bundle.js
cat "$PACKAGES_PATH/modules.js" >> $OUTPUT_PATH/$NAME.bundle.js
cat "$PA

[2016-05-01 18:03] trajano commented on #1291
I still do not see the document http://www.angular-meteor.com/api/1.2.2/subscribe updated with "old code" vs "new code"

[2016-05-01 18:42] Hongbo-Miao commented on #1211
Oh, yeah, it is working well now using NPM.

[2016-05-01 20:08] Urigo commented on #1291
@trajano you are right, could you try to PR the docs?

[2016-05-02 17:04] bmwertman commented on #1119
I'm getting a similar error.

![screen shot 2016-05-02 at 1 03 16 pm](https://cloud.githubusercontent.com/assets/2573903/14961172/54e67bd6-1066-11e6-940c-a438adf27bfc.png)

[2016-05-02 18:31] bmwertman commented on #1119
Never mind, I resolved it by updating my bower resolutions as follows.

[code]

[2016-05-03 02:17] trajano commented on #1199
https://github.com/Urigo/angular-meteor/pull/1313 actually addresses the issue.

Once it is implemented your module (in this example a UI-router state)

<pre>
import './main.html'

angular.module(module.name)
  .config(($stateProvider) => {
    $stateProvider.state('sign-in', {
      controller: SignInStateController,
      controllerAs: 'signInStateCtrl',
      parent: 'unauthenticated',
      te

[2016-05-03 02:30] trajano commented on #1291
@kamilkisiela now your wrapper package is there for prosperity.

[2016-05-03 08:19] doronsever opened #1350 "Question about the new modular app structure(Angular 1)."
I was going over the new app structure design(meaning each component is now a module).
Even though it will be a drag to update my whole project, the lazy loading is important enough to implement it(For my opinion at least).

1 thing i noticed and i'm not sure how i feel about it is that now, each component has its own config + run functions.
While i understand the goal so that each module keeps it

[2016-05-03 12:51] Tallyb commented on #1311
components with inline html rules! (one woman's opinion, but I found it very convenient)
If the file gets too big, you should probably further componentize it...

[2016-05-03 13:30] trajano commented on #1311
I kind of wish I can do a "lazy load" with my PR, but I am not sure how yet.  Only thing I did was extract and export the template ID.

[2016-05-04 10:28] tomitbe commented on #1341
Hi Juancho,

we are dealing with the same issue.
started the tutorial of angular-meteor. as soon as we add ionic, none of the buttons are tappable.
once we double click (tap), the ng-click action is triggered...

[2016-05-04 10:33] tomitbe opened #1351 "button or nav links not clickable on IOS 9.3"
Hi,
Started the tutorial of angular-meteor with version 1.3. As soon as we add ionic, none of the buttons are tappable on IOS 9.3 device: Once we double click (tap), the ng-click action is triggered... On android and in browser it still works fine. I guess it is a ionic related

[2016-05-04 13:27] trajano commented on #1350
Not sure if this question should be put on Github, it may be best to put it on https://forums.meteor.com/

[2016-05-04 13:43] doronsever commented on #1350
OK
I didn't know about that forum
10x!

[2016-05-04 13:43] #1350 closed

[2016-05-04 23:58] martinothamar commented on #1341
Experiencing the same problem. Substituted `ng-click` with `on-release` for my buttons temporarily.

[2016-05-05 00:04] martinothamar commented on #1351
Sort of duplicate from #1341 I guess, but I've experienced this problem as well. Can be temporarily avoided with Ionic's `on-release` instead of `ng-click`.

[2016-05-05 09:08] tomitbe commented on #1351
@martinothamar thank you for your quick reaction. I will try to replace all ng-click by on-releases; keep you posted on that.

[2016-05-06 15:39] juancho559 commented on #1341
Hi @tomitbe,
Please add to your watch list this page. I'm going to share a solution there. [No icons - double tap on iOS devices](https://github.com/DAB0mB/angular-meteor-whatsapp/issues/12)

[2016-05-06 16:14] tomitbe commented on #1351
@martinothamar the solution with on-release is perfect! thx

[2016-05-06 18:01] tomitbe commented on #1341
Done :-)

Met vriendelijke groeten,

Tom

Op 6 mei 2016 om 17:39 heeft juancho559 <notifications@github.com<mailto:notifications@github.com>> het volgende geschreven:

Hi @tomitbe<https://github.com/tomitbe>,
Please add to your watch list this page. I'm going to share a solution there. No icons - double tap on iOS devices<https://github.com/DAB0mB/angular-meteor-whatsapp/issues/12>

-
You are rece

[2016-05-06 19:04] dotansimha commented on #1334
Step 0:
1. fixed.
2. fixed.
3. Described in step 0.1.
4. Fixed.
5. It's the same - we recommend to use "meteor npm install" so if you do not have "node" installed at all - it will still work.
6. It's the dependencis of Angular 2 - it's no longer needed to be imported in each file - it's there because of some issue with Meteor that already fixed.
7. It's app, but it's still the main endpoint of the

[2016-05-06 19:11] Urigo commented on #1334
deployed

[2016-05-06 19:11] #1334 closed

[2016-05-08 12:43] Urigo commented on #1119
thanks, we've also updated the Ionic CLI tutorial to support the latest versions

[2016-05-08 21:15] benco1967 commented on #1324
Hi,

I try to rebuild my application with the new version it works well, just
fine.

I just need to improve Roles like I did with the previous version.

Your work is awesome.
At work I use to work with Play! and ng 1.3, but I like Meteor and ng 1.5
Explain with your tutorial it's a piece of cake

best

Benoît

Le 9 avr. 2016 23:01, "Uri Goldshtein" <notifications@github.com> a écrit :

[2016-05-09 05:55] tyrelltle commented on #1351
hi on-release dosent work for me, my link is still not clickable on IOS device (have to double click). could you give example how to use on-release?

[2016-05-09 06:09] tomitbe commented on #1351
Hi Tian,

In view

<div class="tabs">
    <a class="tab-item" on-release="$ctrl.logCode()">
        Scan
    </a>

In controller

logCode() {
    var elem = this;
    BarcodeScanner
        .scan()
        .then(function(barcodeData) {
            // Success! Barcode data is here
            // alert(barcodeData.text);
            elem.addTask(barcodeData.text);
        }, function(error) {

[2016-05-09 06:23] tyrelltle commented on #1351
@tomitbe Thanks!
What about all the tabs? currently my tabs look like
<ion-tabs class="bar-dark tabs-stable tabs-icon-top" ng-cloak>
  <ion-tab title="xxx" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="#/tab/business">
    <ion-nav-view name="tab-business"></ion-nav-view>
  </ion-tab>
  <ion-tab title="xxx" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/setti

[2016-05-09 06:26] tomitbe commented on #1351
Yes indeed, you need to use on-release instead of href as well.

@tomitbe<https://github.com/tomitbe> Thanks!
What about all the tabs? currently my tabs look like

ng-click is not used here, and the tabs have the same problem (single click not working). how would you use on-release to fix that? should i replace href='xxx' with on-release ?

Thanks!

-
You are receiving this because you were mentio

[2016-05-09 14:12] martinothamar commented on #1351
Got a little bit of an update, got ng-click to work as usual.

I basically uninstalled `ionic-scripts` installed the official ionic-package for meteor instead.

[code]

![Console output](http://i.imgur.com/isXhCVA.png "Output")

After that you'll have to remove som lines from app.js to ensure you have no duplicates.

My app.js looks like this:

[code]

Tested this on iOS 9.3 simulator. Feedback ap

[2016-05-10 18:48] kamilkisiela commented on #1311
@Urigo #1354 closes it

[2016-05-10 21:53] Urigo commented on #519
just fixed with the new Galaxy automated SSL!
http://info.meteor.com/blog/automated-ssl-reserved-pricing-galaxy-europe

[2016-05-10 21:53] #519 closed

[2016-05-11 08:01] Furqankhanzada commented on #1351
@martinothamar after lot of struggling i adopted your solution. working perfect but with this we can't use npm packages.

[2016-05-11 13:38] trajano commented on #1332
It's best to ask this kind of question on the http://forums.meteor.com or stackoverflow

[2016-05-11 14:02] ryuken commented on #1332
yeah true thanks I'll close the issue =P

[2016-05-11 14:02] #1332 closed

[2016-05-11 18:49] damaoniu opened #1357 "Hi urigo"

[2016-05-12 03:02] trajano commented on #1214
Not quite the same but https://github.com/Urigo/meteor-angular-socially/pull/110/commits/5dff66934de5608f0a87c55dbb7194d3c1d84bd3 uses the Angular 2.0 Upgrade Adapter

[2016-05-12 16:04] Urigo commented on #1214
@trajano that's amazing!
have you done it according to [this](https://github.com/Urigo/meteor-angular-socially/blob/master/EDIT_THIS_TUTORIAL.md)?
email me and let's chat about adding your contribution to the tutorial

[2016-05-12 17:24] #1274 closed

[2016-05-12 23:40] dungthan commented on #1351
`import angular from 'angular';
import angularMeteor from 'angular-meteor';
import uiRouter from 'angular-ui-router';
import ngSanitize from 'angular-sanitize';
import ngAnimate from 'angular-animate';
import 'ionic-sdk/release/js/ionic';
import 'ionic-sdk/release/js/ionic-angular';
import 'ionic-sdk/release/css/ionic.css';

import './carekid.html';
import { name as Login } from '../login/login';

[2016-05-14 18:35] Urigo commented on #1357
hi @damaoniu !

[2016-05-15 12:22] Urigo commented on #1346
I've answered on the Meteor forums and on Stack Overflow as well.
Run you app locally with `strict-di` mode and you will find all the reasons why it's not working :)

[2016-05-15 12:22] #1346 closed

[2016-05-15 12:25] Urigo commented on #1344
updated in the new version of the tutorial

[2016-05-15 12:25] #1344 closed

[2016-05-15 12:26] Urigo commented on #1209
the new Whatsapp tutorials now work with Meteor 1.3

[2016-05-15 12:26] #1209 closed

[2016-05-15 12:26] Urigo commented on #1205
should work now with the new version of the Whatsapp tutorial

[2016-05-15 12:26] #1205 closed

[2016-05-15 12:27] Urigo commented on #874
fixed in the new version of the Whatsapp tutorial

[2016-05-15 12:27] #874 closed

[2016-05-16 05:21] ebbe-brandstrup commented on #1327
Any update on this?

I am on angular-meteor 1.3.10 and Meteor 1.3.4 on OS X and my source maps are off by 1 line. Would greatly appreciate a fix for this :)

Thanks!

[2016-05-16 06:45] MilosStanic commented on #1120
Hi all, @Urigo,

@Hongbo-Miao has pointed out a poll running on Meteor forums [here](https://forums.meteor.com/t/who-uses-what-blaze-angular-react-poll/23130) that reinforces the fears that I expressed in the original post about Meteor community leaning strongly towards React.
The results of the poll reflect the fact that overwhelming majority of people uses React in such a proportion that is not

[2016-05-16 09:23] pbastowski commented on #1327
@ebbe-brandstrup That's a very interesting fix. Does this work for more than one of your transpiled files? If not then let me know and I'll have a look into it.

[2016-05-17 03:17] stubailo commented on #1120
I think this actually reinforces @Urigo's desire to merge the community back into the general Meteor one. If Angular-Meteor stays separated from the regular Meteor forums, etc. then their views won't be represented in that venue. So I encourage more people to post about Angular on the Meteor forum, let your opinions be heard!

I don't think this is a big deal, it could be a fine way to start learn

[2016-05-17 04:58] Hongbo-Miao commented on #1120
@MilosStanic you know I came from React. The more I learn about Angular 2, the more I love it.

**I have a Suggestions for React people at the end. It is fun~**

(At that age, Angular 1 is amazing. After React comes out, compared with React, Angular 1 is bad. Now Angular 2 actually I feel they totally changed a name, because it is too amazing!)

React for me is just one small library, which can be

[2016-05-17 05:29] ebbe-brandstrup commented on #1327
I verified on a colleagues PC today... he had the same issue - breakpoints were off by 1 line in all transpiled files.

For us, the problem was resolved by disabling js source maps in the Chrome dev tools. Then refreshing the page. Then enabling source maps and refreshing again. Now source maps for all transpiled files work correctly.

We've had the off by 1 issue since we upgraded from Meteor 1.2

[2016-05-17 06:43] pbastowski commented on #1327
That's great news. Thank you very much for checking.

[2016-05-17 06:44] pbastowski commented on #1327
@mxab Did you see the solution above? Are you still experiencing problems with your source maps?
Personally, I could not reproduce this problem.

[2016-05-17 18:04] Kak3n opened #1358 "Party list not showing up after finishing 3-Way data binding"
Windows 10 x64
`{
  "name": "hello",
  "private": true,
  "scripts": {
    "start": "meteor run"
  },
  "dependencies": {
    "angular": "^1.5.5",
    "angular-meteor": "^1.3.10",
    "meteor-node-stubs": "~0.2.0"
  }
}
`
After finishing 3-Way data binding part in Angular 1 socially tutorial I got no error but the list didn't render. Everything was ok until i tryed to implement static-templates.
!

[2016-05-18 13:08] Urigo commented on #1120
@MilosStanic I'm sorry but I hate polls and I hope to never base my decisions on those :)

I have a [vision](https://github.com/Urigo/angular-meteor/issues/1120#issuecomment-209125382) that I believe in and if someone sees that now that great.  if not, that's fine as well, most likely they will see it in a few months ;)

As for popularity, I can't assure you we are better than ever, here is a scre

[2016-05-18 13:45] Urigo commented on #1311
you can find the docs here: http://www.angular-meteor.com/api/1.3.11/templates
@kamilkisiela thanks!

[2016-05-18 13:45] #1311 closed

[2016-05-18 14:35] Urigo commented on #1274
@blongstreth now you can set the settings to remove those warnings for your case

[2016-05-18 15:14] #1358 closed

[2016-05-19 09:32] MilosStanic commented on #1120
@Urigo you're a true inspiration for the community. Thank you for all your work.
The only thing I wish was better is having some sort of clear roadmap. Knowing which features are planned, for example testing framework, SSR, angular-universal, progressive web apps, etc. And a loose timeframe for those. Particularly for Angular2-Meteor.

None of us, obviously plans giving up angular2-meteor, because

[2016-05-19 13:15] mariohmol opened #1360 "Cant reproduce install as is in Readme"
In Readme shows that is necessary to install like that:

* meteor create simple-todos
* meteor add angular
* meteor remove blaze-html-templates ecmascript
* meteor

But it gives me an error as you can see the discussion here:

* https://github.com/pbastowski/angular-meteor-babel/issues/8#issuecomment-219898200

My question is, shouldnt have `meteor add modules` in readme instructions?

bests

[2016-05-20 06:12] mxab commented on #1327
hmm currently it seems to work for me, strange was that I did the sourcemap on/off thing already once.

[2016-05-20 14:13] darthrayne commented on #436
yes, should be `$scope.$meteorSubscribe('images').then(function () {
            $scope.images = $meteor.collectionFS(Images, false, Images);
            console.log([$scope.images]);
        });`

[2016-05-20 15:42] Urigo commented on #1327
closing for now but would love to hear others who stumbled on this issue to comment if it works for them

[2016-05-20 16:04] bergben opened #1361 "Tutorial live demo hosting not working (Meteor.com free hosting ended)"
This is a minor issue.
Since the Meteor.com free hosting ended March 25 (please refer [here](https://forums.meteor.com/t/meteor-com-free-hosting-ends-march-25-2016/19308)), the live demos for the tutorial don't work anymore.
An alternative would be to host them on Heroku, I suppose?

[2016-05-22 01:05] sanidkpc opened #1362 "The subscription stopped (randomly)"
I'm using angular-meteor version 1.3.10 with ionic-sdk:1.2.4.
The problem is when i simply create account and login using "accounts-password" and successfully  resolve the route by Meteor.userId() .
But then sometime this.subscribe('posts') is not calling. (inside controller constructor )
and also the server Meteor.publish('posts', function(selector,options) {..}) is not executed.
**Controller:**

[2016-05-22 10:26] sanidkpc commented on #1362
okay, after recheck the subscribe scope,  maybe the problem around in this.subscribe(....) promising timeout for context.
works for me if
Meteor.loginWithPassword(user,pass,function(err,res){
......
       setTimeout(function(){
            _that.$state.go('home');
          }, 200);
})
and
Accounts.logout(function(error){
      setTimeout(function(){
            _that.$state.go('applogin');

[2016-05-24 08:13] davidhestrin opened #1363 "Re-deploy all Socially live demos to Galaxy"
The completed version is linked here: http://socially-step22.meteor.com/ and doesn't work!

[2016-05-24 11:16] osource12345 opened #1364 "Reactivity of handle returned by subscribe not documented"
In the controller function/constructor I write:

    $reactive(this).attach($scope);
    this.handle = this.subscribe('myPub');
    setTimeout(() => {
        this.handle.stop();
    }, 1000);
    this.autorun(() => {
        console.log(handle.ready());
    });

In the console I get:

    false //publication not ready yet
    true  //publication ready, function in autorun runs again
    false //t

[2016-05-24 19:39] Tallyb commented on #1364
It is infact mentioned in the meteor guide: http://docs.meteor.com/api/pubsub.html#Meteor-subscribe
ready()
True if the server has marked the subscription as ready. A reactive data source.

And in the Angular-meteor it is mentioned that the return parameters are exactly as Meteor.subscribe. I guess it does not make sense to copy all of Meteor docs into angular-meteor site.

[2016-05-24 19:53] osource12345 commented on #1364
Ok, thank you very much I was looking in the wrong place then. I agree that it makes no sense to copy the Meteor docs.

[2016-05-24 19:53] #1364 closed

[2016-05-25 12:34] Betrin13 opened #1365 "Socially - 3.3 3-Way data binding"
"3.3  Add some data to the parties collection"
I believe you have made a mistake in html? instead of "=>" you have "= & g t ;" (I have added a space inside of each because html tag actually produces results that are expected in the tutorial "=&gt;")
I am using windows 10, latest version of Google Chrome, however in my opinion that is totally unrelated because i have tried using Mozilla and Microso

[2016-05-25 12:40] Tallyb commented on #1365
https://github.com/Urigo/angular-meteor-docs/issues/123

[2016-05-25 12:43] androniks commented on #1365
Thanks, I didn't see it. Great

[2016-05-25 12:44] Betrin13 commented on #1365
Thanks, great

[2016-05-25 12:46] Tallyb commented on #1365
@Betrin13  since there is an open issue in the docs repo, you may close this issue. Do you agree?

[2016-05-25 12:46] #1365 closed

[2016-05-25 13:23] Urigo commented on #1120
@MilosStanic about a Roadmap, I don't want to duplicate something from Github Issues so I think we would go back to Waffle.io here - https://waffle.io/Urigo/angular-meteor

I will prioritize it and tag issues this week to make it a bit more clear and would love your help in that.

Timelines are hard to estimate but I'll try better at predicting them...

If there are things there that are not speci

[2016-05-25 13:44] erperejildo opened #1366 "Stuck on step 0 with typings"
The problem is trying to use it because I didn't have any problem installing it with `npm install typings --global --save` (also tried just -g).
I can find its folder on my node_modules but I can run it on my console:

I've finished this tutorial before with no problems at all even compiling in my device at the same time:
https://www.meteor.com/tutorials/angular/creating-an-app

So everything is o

[2016-05-25 14:09] Urigo commented on #765
fixed now.

[2016-05-25 14:09] #765 closed

[2016-05-25 14:12] Urigo commented on #846
codemill$50

[2016-05-25 14:14] Urigo commented on #1169
codemill$1500

[2016-05-25 14:16] Urigo commented on #1342
codemill$1000

[2016-05-25 14:17] Urigo commented on #1214
Done and even with video! - http://www.angular-meteor.com/tutorials/socially/angular1/migration-to-angular2
Thanks @kamilkisiela and @trajano

[2016-05-25 14:17] #1214 closed

[2016-05-25 14:19] Urigo commented on #846
@andela-osogunle has been assigned to this task.

[2016-05-25 14:45] #1360 closed

[2016-05-25 16:58] #1366 closed

[2016-05-26 05:22] mixersoft commented on #1292
@kamilkisiela  I understand your comment, but it doesn't really address my question - which is about using `promises` to tell `angular` when something was changed by the `angular-meteor` binding instead of just discovering the change while in the `$digest` loop.

In the example above, I know how to get Comments for a Post.Id. But, I want to know **when** a `Comment` has been added from somewhere e

[2016-05-26 09:58] slyerrr opened #1367 "Help with "No provider for PlatformRef!""
Im trying to add Mongo to angular2meteor application, after adding dependencies i have error in my chrome browser :
reflective_injector.js:776Uncaught No provider for PlatformRef!

ReflectiveInjector_._throwOrNull	@	reflective_injector.js:776
ReflectiveInjector_._getByKeyDefault	@	reflective_injector.js:804
ReflectiveInjector_._getByKey	@	reflective_injector.js:767
ReflectiveInjector_.get	@	reflec

[2016-05-27 17:17] Tallyb commented on #1292
@mixersoft  probably best to move the issue to the meteor forum with an angular tag. It will be great to have that discussion there regarding recommended patterns with angular and so. Ping here when you opened the topic.

[2016-05-28 09:54] Urigo commented on #1169
@DragonK-Olbius has been assigned to this task.

[2016-05-28 10:33] bachly commented on #262
Removing large JS files works for me.

[2016-05-29 16:01] vimes1984 commented on #1120
@MilosStanic @Urigo god I was away on a project for 3 months and I'm back in the meteor landscape and damn stuff is happening.
Polls don't mean anything most people don't participate if they even here about it I run 3 meteor apps in production and a few more in the pipe line using angular2/meteor/angular1 and it's taken nearly 20 days to find that poll, it's not representative of the overall commu

[2016-05-29 21:00] sean-stanley commented on #1064
Hi, I found some new stuff for you, i think you're gonna like it, more info at <http://xicritothu.dandginnovations.com/lnrqw>

Cheers, Sean Stanley

[2016-05-30 01:31] mattiLeBlanc commented on #1064
is this posted by a bot or is this is real URL?

[2016-05-30 04:17] ebbe-brandstrup commented on #1327
Unfortunately, the problem has returned for us now (still on the same versions: Meteor 1.3.4, Angular 1.5.5, Meteor 1.3.10 and pbastowski:angular-babel@1.3.4).

All transpiled files are off by one again now. And disabling source maps, then refreshing the page and re-enabling source maps no longer makes a difference.

[2016-05-30 06:33] dapids commented on #1064
@mattiLeBlanc,

Guess it's a spambot. :/

[2016-05-30 07:10] Urigo commented on #1064
it's great to get massive weight loss though...

I've edited the message so people won't click it..

[2016-05-30 09:32] mxab commented on #1327
also experiencing it again, but I cannot really point out when it started

[2016-05-30 09:36] ozsay commented on #1327
@ebbe-brandstrup @mxab , I encountered many issues with sourcemaps on chrome 51. can you see which version of chrome are you using?