[2015-12-24 14:56] mgrivera commented on #1002
Maybe for a client collection to persist when changing routes, we should just use *meteor* subscription:

Meteor.subscribe(...)

Any thoughts? Thanks and bye ...

[2015-12-24 15:40] pbastowski commented on #988
@super5354 I confirm that on IOS 8.4 the test fails. On IOS 9, however, it works just fine.

@mxab Moving angular-babel to the top of the packages file does indeed fix the problem. Thanks for the workaround. Now, how do we fix it?

[2015-12-24 16:49] super5354 commented on #988
@mxab Thanks! The workaround does work. As long as the angular-babel package is placed before the mongo package, it starts to work probably because it is where the check package gets first reference and forces the check package to use the overridden Number function.

[2015-12-24 17:09] pacozaa opened #1003 "http://www.angular-meteor.com/api/1.3.1/ is not working"
http://www.angular-meteor.com/api/1.3.1/ is not working

I think you didn't redirect this link to http://www.angular-meteor.com/api/1.3.1/helpers

![image](https://cloud.githubusercontent.com/assets/3154089/11996709/841cf50a-aa9b-11e5-8010-d6cba69e0ad0.png)

[2015-12-25 00:57] violetbobo commented on #854
mark

[2015-12-25 05:24] zloirock commented on #988
https://github.com/zloirock/core-js/issues/38#issuecomment-76114855

[2015-12-25 13:22] dotansimha commented on #979
@gjr-qm , 1.3.1 fixes that, just deployed the latest version of step 3 to http://socially-step03.meteor.com.

Thanks!

[2015-12-25 13:22] #979 closed

[2015-12-25 13:28] dotansimha commented on #980
Thanks @gjr-qm! deployed a new version of step 4 with 1.3.1.

[2015-12-25 13:28] #980 closed

[2015-12-25 13:32] dotansimha commented on #997
@gjr-qm , I cant see it in my localhost or in the deployed version.
Just deployed a new version with 1.3.1, can you check it now in the online version?

Thanks.

[2015-12-25 14:39] #997 closed

[2015-12-25 14:40] dotansimha commented on #528
I think that https://github.com/Urigo/angular-meteor/commit/926bdbf4691b6904797ee68722dbf2ec5357bf41 also fixes it... @Urigo

[2015-12-25 15:30] dotansimha commented on #1003
Thanks @pacozaa ,
Fixed it in https://github.com/Urigo/angular-meteor/pull/1006 , waiting for @Urigo  to merge.

[2015-12-25 15:30] #1003 closed

[2015-12-25 16:00] Urigo commented on #528
@mxab Can you check if that's the case?

[2015-12-25 16:06] Urigo commented on #1003
Merged and deployed.

[2015-12-25 16:16] Urigo commented on #987
@vacarsu is it an Angular issue or an CollectionFS issue?
Can you share a repo with the problem?

[2015-12-25 16:16] Urigo commented on #985
@idanwe

[2015-12-25 16:17] Urigo commented on #938
@idanwe

[2015-12-25 18:25] nadavl opened #1007 "v1.3+ on a standalone client"
I'm running a standalone angular app using meteor-client-side, and after upgrading to 1.3 / 1.3.1, angular cannot resolve the `<$reactive>` service:

 Unknown provider: $reactiveProvider <- $reactive

Is there any issue with running v1.3 as a standalone client and not inside a meteor project?

[2015-12-25 22:42] nadavl commented on #1007
OK Seems that when installing v1.3 / 1.3.1 from bower, the dist/bundle doesn't contain a dependency for `angular-meteor.reactive` .

Seems that the bower package is broken.

[2015-12-25 23:26] veeramarni opened #1008 "v1.3.1 RangeError: Maximum call stack size exceeded"
I'm getting below error when i use collections from helpers functions. If i just pull without adding reactivity it works fine.

![130f74a8-ab24-11e5-8494-31c411781abe](https://cloud.githubusercontent.com/assets/3382355/12004596/113f2280-ab34-11e5-9cc1-80b99738e63b.png)

[code]
But if i replace this.images with Images.find().fetch() , i don't have this issue.
[code]

[2015-12-26 09:15] dotansimha commented on #1008
@veeramarni can you provide the actual code in a git repo so I can test and debug it in my localhost?

[2015-12-26 09:16] dotansimha commented on #958
@buitregool ?

[2015-12-26 10:12] dotansimha commented on #1007
Hi @nadavl , this issue is a duplicate of #985.
I think that @idanwe takes care of this issue.

[2015-12-26 10:12] #1007 closed

[2015-12-26 12:26] elmor34 opened #1011 "$reactive not available when used with meteor-client-side"
I'm using

ionicframework 1.2.2
angular-meteor  1.3.1
meteor-client-side 0.2.3

when I use $reactive in controller, I get =>
*Error: [$injector:unpr] Unknown provider: $reactiveProvider <- $reactive <- HomeCtrl*

Regards
Gokhan

[2015-12-26 12:32] dotansimha commented on #1011
Hi @elmor34 , it's a duplication of #985

[2015-12-26 12:32] #1011 closed

[2015-12-26 12:49] ThomsC commented on #999
But that what I did. And I got the problem above

[2015-12-26 13:17] nadavl commented on #1007
Got it, thanks!

On Sat, Dec 26, 2015 at 12:12 PM Dotan Simha <notifications@github.com>
wrote:

[2015-12-26 13:54] Urigo commented on #999
@ThomsC can you share your repo?

[2015-12-26 22:50] justinweinberg commented on #922
This worked for me until something official comes out.  Inject MeteorUserService and change $meteor to MeteorUserService for the promise returning methods.  Aside from these three the regular Meteor methods sufficed.

No warranty expressed or implied...

[code]

[2015-12-26 22:54] webpolis opened #1015 "[Error: regeneratorRuntime is not defined]"
Hi

Below is the list of packages installed

[code]

In my server side code, I cannot create generators for my custom classes.

[code]

As it throws **[Error: regeneratorRuntime is not defined]**. I couldn't test yet with the _ecmascript_ package since I'm dependent on _angular-meteor_, so I'd like to know if there is a workaround considering the dependencies listed above.

Thanks!

[2015-12-26 23:51] opensorceror opened #1016 "website down"
Hi, it seems that http://www.angular-meteor.com is down. I cant even access the ionic + meteor tutorial through google cache.

[2015-12-27 02:00] Sauermann commented on #996
The tutorial seems to be outdated. For me it worked after changing the import statement to:

    import {Component, View} from 'angular2/core';
    import {bootstrap} from 'angular2/bootstrap';

[2015-12-27 03:15] webpolis commented on #1015
It seems I found a workaround for this. First, install _meteorhacks' npm_ package:

 ```meteor add meteorhacks:npm```

A **package.json** should be generated in the app's root folder; then, add ```"babel-polyfill": "6.3.14"``` and run meteor again.

Finally, import the package:

```let polyfill = Meteor.npmRequire('babel-polyfill');```

If there are better workarounds, I'll be glad to know.

[2015-12-27 06:54] anymos commented on #1016
Same here, sounds like running a IIS Windows Server :(

[2015-12-27 07:59] Urigo commented on #1016
Thanks guys for the heads up!
Fixed now

[2015-12-27 07:59] #1016 closed

[2015-12-27 09:10] anymos commented on #1016
Cool thank you a lot !!

[2015-12-27 10:17] pacozaa commented on #1016
@Urigo  still not fixed for me,sir.
![image](https://cloud.githubusercontent.com/assets/3154089/12009853/b26698de-acbd-11e5-8512-ce20ed9d40bf.png)

[2015-12-27 12:29] MilosStanic commented on #1016
works for me.

[2015-12-27 14:42] buitregool commented on #958
Hi @dotansimha. Thank u for taking the time for your detailed explanation. I tried what you suggested but it didn't work out. The reason is because the exception above is been thrown even before the lines you are talking about (i.e: ng-template-compiler.js#L112).  Again, ```templates-handler.js``` works fine. Only the validation/exception is wrong to my criteria.
[code]
I may be to naive, I apolog

[2015-12-27 17:38] opensorceror commented on #1016
@pacozaa Same for me, but worked when I simply refreshed the page.

[2015-12-27 18:57] dotansimha commented on #958
@buitregool
The logic is as follow:
If the template **does not exists** in the `$templateCache` (the return value is not defined), the check if the extension is included in the `templatesFileExtension` (index is bigger than -1) - which means the template **should** exists, but it **does not exists** - then throw the exception...

And in simple words: If there is no template in the `$templateCache`

[2015-12-27 19:01] dotansimha commented on #1015
Hi @webpolis ,
This looks like an issue with https://github.com/pbastowski/angular-meteor-babel/, that maintained by @pbastowski .

[2015-12-27 19:01] #1015 closed

[2015-12-27 19:02] dotansimha commented on #1008
@veeramarni
It was a bug caused by an unnecessary watcher that created.
Fixed, and will be deployed soon in 1.3.2!

[2015-12-27 19:53] pbastowski commented on #1015
@webpolis I will look into this issue.

[2015-12-27 21:00] ThomsC commented on #999
Ok not sure how to do that yet but I will

[2015-12-27 23:11] pbastowski commented on #1015
@webpolis Could you please provide an actual code sample that I can work with or otherwise a link to a repo that I can test with?

[2015-12-28 00:31] Urigo commented on #999
https://help.github.com/articles/adding-an-existing-project-to-github-using-the-command-line/

[2015-12-28 00:32] #938 closed

[2015-12-28 01:49] pacozaa commented on #1016
@opensorceror Now works for me. I think it is about my cache in web browser. yeah refresh fix it.

[2015-12-28 07:43] leizard opened #1021 "1.3.2: best practice for subscribe and helper"
Hi, I now updated successfully to 1.3.2 from Bower (Thank you very much for your work) . But during the migration, I'm a little confuse about new subscribe and helper support.
In the example, you use subscribe and helper like this :

[code]

But it seems not working (for me), because the helper users could not get enough data when the subscribe('users') is not done. So I have to do something like

[2015-12-28 09:17] Urigo commented on #922
With the new `1.3.2` release you can use the new `angular-meteor-auth` package.
Add it to your project, here are the docs: http://www.angular-meteor.com/api/1.3.2/auth

[2015-12-28 09:17] #922 closed

[2015-12-28 09:18] Urigo commented on #938
@leizard it's live in Bower as `1.3.2`

[2015-12-28 09:41] leizard commented on #938
yeah! I saw it on the early morning and have been working on migration till now. I also posted an issue here: https://github.com/Urigo/angular-meteor/issues/1021
Beside that, everything works like a charm!

[2015-12-28 10:10] Urigo commented on #528
Closing, @mxab please reopen is the problem persists

[2015-12-28 10:10] #528 closed

[2015-12-28 10:11] Urigo commented on #960
@vacarsu please use the new `angular-with-auth` package - http://www.angular-meteor.com/api/1.3.2/auth
Reopen if that doesn't work for you

[2015-12-28 10:11] #960 closed

[2015-12-28 10:12] Urigo commented on #968
@eugenious please use the new `angular-with-auth` package - http://www.angular-meteor.com/api/1.3.2/auth
Reopen if that doesn't work for you

[2015-12-28 10:12] Urigo commented on #985
Deployed in `1.3.2`

[2015-12-28 10:12] #985 closed

[2015-12-28 10:12] Urigo commented on #987
Fixed in `1.3.2`

[2015-12-28 10:12] #987 closed

[2015-12-28 10:15] Urigo commented on #991
@tvgrieken why do you need `postsComments` helper if you already have the function?

[2015-12-28 10:15] Urigo commented on #996
@barbatus should we update the tutorial?

[2015-12-28 10:16] Urigo commented on #1008
Deployed

[2015-12-28 10:16] #1008 closed

[2015-12-28 10:17] Sauermann commented on #996
Looks like the tutorial has been updated already.

[2015-12-28 10:20] barbatus commented on #996
Hey guys, the tutorial has been updated for the Angular2 Beta right after its release, I don't know where you find issues like that?

[2015-12-28 11:32] ThomsC opened #1022 "1.3.2 angular-meteor.auth"
Hi,

I've updated angular meteor to 1.3.2

I tried to load the module angular-meteor.auth like this :

[code]

Here is the error I got :

[code]

Am I missing something?

[2015-12-28 11:41] blackpr commented on #1022
you need to add the auth package
`meteor add angular-meteor-auth`

[2015-12-28 12:07] ThomsC commented on #1022
@blackpr Thanks !

[2015-12-28 12:07] #1022 closed

[2015-12-28 12:27] Urigo commented on #996
ok closing

[2015-12-28 12:27] #996 closed

[2015-12-28 12:59] blackpr opened #1023 "Tutorial step 12 - Pagination sort order"
At step 12.14 I think we need to use getReactively for the sort order to work
old
[code]
new
[code]

[2015-12-28 15:00] ThomsC opened #1025 "1.3.2 reactive helpers with Meteor.call"
Hi,

When I do something like this :

[code]

thePeriode is being execute each time reactives values change but the view does not update at all. It's like `thePeriod` was empty.

Is there a good practice to do this king of thing ?

[2015-12-28 15:21] Sauermann opened #1026 "Missing template parameter in tutorial step 3.1"
On http://www.angular-meteor.com/tutorials/socially/angular2/3-way-data-binding
the code of step 3.1 (and following) should be
changed from

    export var Parties = new Mongo.Collection('parties');

to

    export var Parties = new Mongo.Collection<Party>('parties');

[2015-12-28 15:30] Sauermann commented on #1026
Mixed up two zipfiles. Sorry for the noise.

[2015-12-28 15:30] #1026 closed

[2015-12-28 16:22] webpolis commented on #1015
@pbastowski  yes, feel free to clone https://github.com/webpolis/qfx - it's a prototype -.

And this is the file where I implement an iterator: https://github.com/webpolis/qfx/blob/master/server/lib/importers/importer.import.js

[2015-12-28 16:53] Sauermann opened #1027 "Code in Zipfile at the beginning of Tutorial Step 11 does not compile"
The zipfile https://github.com/Urigo/meteor-angular2.0-socially/archive/step_09.zip
available at the top of http://www.angular-meteor.com/tutorials/socially/angular2/running-your-app-on-android-or-ios-with-phoneGap
does not compile.
Error message:

    client/parties-form/parties-form.ts (4, 31): Cannot find module 'angular2/angular2'.

[2015-12-28 17:09] Sauermann opened #1028 "Extension of type declaration missing in tutorial step 9"
In Step 9 (http://www.angular-meteor.com/tutorials/socially/angular2/privacy-and-publish-subscribe-functions) of the tutorial it should be mentioned that the Party type declaration in "typings/party.d.ts" needs to be extended by

    public: boolean

[2015-12-28 17:44] hlehmann opened #1029 "Make this.autorun trigger angular digest"
When operations occur in a autorun, the result isn't digest by angular.

Currently I use it that way but maybe this.autorun should always call $scope.$apply()
[code]

[2015-12-28 17:54] veeramarni commented on #1008
Thanks, i will test it.

[2015-12-28 23:46] pbastowski commented on #1015
@webpolis
I have a branch of angular-babel that should fix the issue you're experiencing. The problem was with babel helpers, such as the browser-polyfill, only being loaded on the client, because, well, the file was called "**browser**-...", so, I didn't think to include it on the server. Stupid, I know, but I have even funnier stories to tell over a drink :)

To test the new branch do this:
1. c

[2015-12-29 09:08] ThomsC opened #1030 "angular-meteor-auth doesn't pass minification"
Hi,

I use the package `angular-meteor-auth`. It works perfectly in local but when I deploy my app crashes because of an undefined provider. When I remove the package everything works great.

So I put the directive `ng-strict-di` to see what is going on and here is the error better explain.

[code]
https://github.com/Urigo/angular-meteor/commit/7c26c5ed04061a8f30a11f26fcfe1de4b48af853#diff-12f582b

[2015-12-29 09:55] michaelszt opened #1031 "Update to 1.3.2 cause "error: connect ECONNREFUSED""
When I update my app to 1.3.2, I get error message:

While downloading angular@1.3.2...:
error: connect ECONNREFUSED

While downloading angular-meteor-data@0.0.9...:
error: connect ECONNREFUSED

While downloading angular-with-blaze@1.3.2...:
error: connect ECONNREFUSED

I tried many times.

[2015-12-29 09:59] ThomsC commented on #1031
I did it and everything worked great...

[2015-12-29 10:50] yobre opened #1032 "How can i do logout callback"
Hi Urigo..
I'm trying to catch the event LOGOUT to perform a redirect on the homepage, nothing exceptional.
For authentication I'm using `<blaze-template name = "loginButtons"> </ blaze-template>`

For now the only thing I could do is to fill in the file that contains the basic routes, the following code:

[code]

But that is read and executed only to refresh later and not immediately.

My questio

[2015-12-29 11:48] kamilkisiela opened #1034 "Digest not running after Accounts.createUser"
I think this is a bug but correct me if I'm wrong.
If so then I can fix it and submit PR.

---

Let's say I have some variable with `false` as initial value and I use `getReactively()` on it.

I'm changing value:
[code]

Then I want to
[code]

Next, it goes back to initial value
[code]

And yes, I could use `undefined` as initial value to avoid this, but it's just a workaround.

It's all about thi

[2015-12-29 12:07] burock opened #1035 "Binding One Object Only"
Hi,
I'm perhaps confused or failed to grasp the main concept. But this line of code used to work before the 1.3 upgrade.
[code]

But after the upgrade without a 'subscribe' i can't get the object from Cashflows..

What did I miss?

Happy xmas and a new year to all..

Cheers,
b

[2015-12-29 12:19] ThomsC commented on #1035
If you query the mini mongo on the client side you need to subscribe to a publish function to get datas.

[2015-12-29 12:20] burock commented on #1035
i thought so, too.. thanks..

[2015-12-29 12:20] #1035 closed

[2015-12-29 12:38] ChrisLasar opened #1037 "Wrong archives linked in tutorial"
Thanks for your great work on angular-2.0 and meteor.

I tried run the tutorial by downloading the archive zips linked at http://ng-meteor.meteor.com/tutorials/angular2/adding-removing-objects-and-angular-event-handling.

As a newbie I run into a couple of small problems. Reasons for these problems are all fixed in the repository (https://github.com/Urigo/meteor-angular2.0-socially). However the t

[2015-12-29 12:43] ThomsC commented on #1032
Can't you do that ?

[code]

[2015-12-29 17:49] ThomsC commented on #1002
you can do the subscription in an abstract route, then your two routes are sub route to the abstract one in this case the subscription will persist.

[2015-12-29 18:06] gaykan opened #1039 "Login problem still goes on in 1.3.2 in spite of"
I can create a user using $meteor.createUser, but cannot login with $meteor.loginWithPassword.
It was told by @idanwe that it was fixed in 1.3.2.

( By the way I 'm using Ionic and meteor-client-side )

Problem is detailed as

I upgraded, but it is still the same, but I get two different messages for login.

**For a previously created I get**

column: 26050
details: undefined
error: 400
errorType:

[2015-12-29 18:47] jsantana90 opened #1040 "ng-repeat with an active class when ng-click does not work"
I'm trying to do a normal angular ng-repeat which has an list of buttons which an user can click.

Each button individually will have a class active when clicked and the others will have the active class removed. In angular alone it works normally, but using angular-meteor seems to not be working.

Here's my code:
[code]

When I click on one of them, it gets the active class but doesn't remove the

[2015-12-29 19:45] tony19 opened #1041 "Angular2 tutorial - step 3.5 (3-way data binding) fails in Windows"
In Windows meteor 1.2.1, when running step 3.5 to bind items reactively, I see the following error. How can I get around this?

[code]

[2015-12-29 19:46] tvgrieken commented on #991
@Urigo I see. I was under the assumption that only the helper methods were reactive.

So, I have some problems understanding the helper concept.
Could you elaborate on the difference between vars defined in the helper function vs. outside?

Thanks a lot

P.s. This did the trick:
[code]

[2015-12-29 20:36] tony19 commented on #1041
I resolved the issue by skipping ahead and running steps 3.7 to 3.9 (in particular, writing `server/load_parties.ts` and overwriting `server/main.ts`). After Meteor server restarted, the error went away and the page loaded correctly.

I had tried deleting `.meteor/local/build/` earlier to no avail, so not sure what the root problem is/was.

[2015-12-29 20:36] #1041 closed

[2015-12-29 23:01] Urigo commented on #1015
@pbastowski ping me when you release a new version so I will update our dependencies as well, thanks!

[2015-12-29 23:16] Deadly0 commented on #1021
@leizard How do you use helper `users`? What the reason to use `onReady` to define helpers? Helpers will automatically update template and trigger autorun function when data arrives.

[2015-12-29 23:21] pbastowski commented on #1015
@urigo sure thing.

[2015-12-30 02:04] #1031 closed

[2015-12-30 04:10] leizard commented on #1021
Yeah indeed. Thanks to your confirmation, I looked again and It s just my subscribe issue. I fixed it and now use helpers and subscribe the old way. Everything now works like a charm and even performance is better.
Thank you very much

[2015-12-30 04:10] #1021 closed

[2015-12-30 04:25] davidbonachera commented on #1039
Yup i have the error on the 1.3.1.
```Exception while invoking method 'login' Error: Match error: Match error: Failed Match.Where validation in field username in field user.username```

[2015-12-30 05:07] davidxiao opened #1043 "tutorial step 4(angular2) doesn't work"
hi

[2015-12-30 07:08] #1043 closed

[2015-12-30 08:19] ThomsC commented on #1039
you can use this : `Meteor.loginWithPassword(vm.user.email, vm.user.password, function (err) { ... }`

http://docs.meteor.com/#/full/meteor_loginwithpassword

[2015-12-30 08:20] blackpr opened #1047 "Angular-Meteor & ionic whatsapp tutorial. Step 4"
Hi,
I see there is an update to the WhatsApp tutorial at https://github.com/Urigo/angular-meteor/pull/1042
Is this live at angular-meteor.com?
There is a problem in step 4.
When you click at "Step 4 - Authentication" only the header change. Not the body.
The content of the body stays the same of your previous selection.

Tried on Chrome and Firefox at Ubuntu

The Chrome dev tools show this error w

[2015-12-30 08:29] ThomsC commented on #1040
- I don't see how activeIndex should increase as the ng-repeat goes on.

- In ng-class it should be string `ng-class="{'active': ...}"`
     Here is a great tutorial on how to use it : https://scotch.io/tutorials/the-many-ways-to-use-ngclass

- You should create a method in ng-click and not do your logic inside the view

[2015-12-30 09:46] gaykan commented on #1039
I already use create with no problem.
But when I try to login with following code which is the same as your advice, I get error

`var email = "serdaronal@letsearn.net";
    var password = "123456";
    $meteor.loginWithPassword(
      email,
      password
    ).then(function() {
        console.log('Login SERDAR success');
      }, function(err) {
        console.log('Login SERDAR error - ', err)

[2015-12-30 10:26] ozsay commented on #1040
This issue is related to `angular` not `angular-meteor`, and it's not really an issue but this is how angular is implemented.

From my understanding, you wanted one place to store `activeIndex` but it doesn't happen this way.

when you use ng-repeat, it will create a scope for each of the DOM elements. If you have 3 elements in the `kits` array then angular will create 3 scopes that will look some

[2015-12-30 10:48] ThomsC commented on #1039
No it is not the same. You use `$meteor`which is deprecated and `.then()` in the link to the official documentation  of meteor I gave you doesn't exist.

Try this :

[code]

[2015-12-30 12:53] gaykan commented on #1039
No difference at all

'Error: Match failed [400]
column: 26050
details: undefined
error: 400
errorType: "Meteor.Error"
line: 1
message: "Match failed [400]"
reason: "Match failed"
sourceURL: "http://localhost:8100/lib/meteor-client-side.bundle.min.js"
stack: "errorClass@http://localhost:8100/lib/meteor-client-side.bundle.min.js:1:26050↵_livedata_result@http://localhost:8100/lib/meteor-client-side.

[2015-12-30 14:17] gaykan commented on #1039
I think there is missing point in sever side that mismatches the client code !

[2015-12-30 14:18] jsantana90 commented on #1040
@ozsay thank you, I'll definitely read more about it, thank you so much for taking the time to explain it.

[2015-12-30 14:18] #1040 closed

[2015-12-30 15:39] gaykan commented on #1039
I have
controlle     ==>  $rootScope
index.html   ==> angular-meteor-1.3.2/dist/angular-meteor-auth.bundle.min.js
                           angular-meteor-1.3.2/dist/angular-meteor.bundle.min.js

app.js         ==>  'angular-meteor', 'angular-meteor.auth',
on server side
.packages           angular-meteor-auth
                            angularui:angular-ui-router
                            dot

[2015-12-30 16:48] bagusflyer opened #1048 "Chapter 4 is totally wrong"
It shows the code for chapter 3.

[2015-12-30 18:20] blackpr commented on #1048
Do you mean the step 4 at Angular-Meteor & ionic?
Maybe the same?
https://github.com/Urigo/angular-meteor/issues/1047

[2015-12-30 20:56] ThomsC commented on #1030
as the pull request has been accepted I close

[2015-12-30 20:56] #1030 closed

[2015-12-31 08:29] gaykan commented on #1039
Problem comes from **okland:accounts-phone** package

[2015-12-31 16:39] a-vasyliev commented on #958
Hi, guys.

I've same issue. I'm building modular application, so each part of the system is in local package.
I'm trying to create parent route /admin where app will have admin interface.
I want to have single Angular application with nested views. So, layouts will be changed for /, /account and /admin parts of the system and "content" will be rendered into each of the "layouts".

./index.html:
[c

[2015-12-31 18:16] pbastowski commented on #1015
@webpolis
I have published v1.0.8 of `pbastowski:angular-babel`.

Could you please test it with your app? It works with mine, but that’s what all developers say :)

The changelog is:

- babel helpers, such as the browser-polufill, are now also added on the server side, which fixes the "not able to create generators on server” errors
- babel-core updated to 5.8.33

[2015-12-31 19:48] bmanturner opened #1050 "getReactively not registering Date() changes past the first change"
$scope.timestamp = new Date();

    $scope.autorun(() => {
        console.log('Autorun!!', $scope.getReactively('timestamp', true));
    });

    $scope.timestamp = new Date(); // this registers

    $scope.timestamp = new Date(); // doesn't register, even if you wait awhile

[2015-12-31 19:50] bmanturner commented on #1050
Was issue with ionic

[2015-12-31 19:50] #1050 closed

[2016-01-01 18:36] jboothe opened #1054 "iOS Not Working on Port !== 3000"
Although the app works properly in the browser, I ran into a strange issue where only part of the app shows in iOS/Android when running meteor on any port other than the default 3000.

For instance, running the following, results in the *Sign in* and *Parties List* portions not showing on iOS:
`meteor run ios --port 3031`

This is easily replicated. Pull down step 12 zip file, then:
[code]
*BTW I

[2016-01-02 15:54] Urigo commented on #991
Vars defined inside a helper are Meteor data sources that you want to connect to the view and update everytime they reactively change.
Any vars that are not from Meteor should stay pure Angular

[2016-01-02 15:54] #991 closed

[2016-01-02 15:54] Urigo commented on #999
Closing until you will provide a reproduction

[2016-01-02 15:55] Urigo commented on #1002
question - closing

[2016-01-02 15:55] #1002 closed

[2016-01-02 15:56] Urigo commented on #1027
@Sauermann I've deployed a new version, can you check if that's still the case?

[2016-01-02 15:57] Urigo commented on #1028
@Sauermann can you check if that is still the case after the new tutorial version deployed today?

[2016-01-02 16:00] Urigo commented on #1032
@yobre you can $watch the current user and change route according to that

[2016-01-02 16:00] #1032 closed

[2016-01-02 16:01] Urigo commented on #1037
@ChrisLasar is that still the case with the new deployed version?

[2016-01-02 16:03] Urigo commented on #1039
@gaykan so can you close that issue and reference the issue you opened?
also it's better if you will provide a reproduction
thanks

[2016-01-02 16:09] Urigo commented on #1047
Can test with the new 1.3.3 version?

[2016-01-02 16:09] Urigo commented on #1048
Can test with the new 1.3.3 version?

[2016-01-02 16:10] Urigo commented on #1048
@bagusflyer Chapter 4 where?

[2016-01-02 16:13] blackpr commented on #1047
The problem is on the site
http://www.angular-meteor.com/tutorials/whatsapp/ionic/methods

When you click at "Step 4 - Authentication" on sidebar only the title of the tutorial changes. Not the content.

[2016-01-02 16:26] ChrisLasar commented on #1037
Dear @Urigo ,
thanks it seems to be fixed now.

[2016-01-02 16:26] #1037 closed

[2016-01-02 16:26] Urigo commented on #1047
ohhh you are right!

@idanwe

[2016-01-02 17:49] webpolis commented on #1015
you rock @pbastowski

[2016-01-02 18:04] #1047 closed

[2016-01-02 18:42] Urigo commented on #1034
I think the reason might be that the callback in running outside of Angular's scope...
In the older implementation we wrapped that callback with a $q promise so it was inside Angular context.

Try to run $digest manually to see if that's the problem.

If so, I wonder what will be the best way to solve that and still stay close to the original Meteor API

[2016-01-02 18:45] #1039 closed

[2016-01-02 22:31] Sauermann commented on #1027
Looks good. Thanks for the update!

[2016-01-02 22:31] #1027 closed

[2016-01-02 22:39] Sauermann commented on #1028
Thanks for your answer.
But the changes did not yet appear on the mentioned page. (To be sure I cleared my browser cache and cookies)

[2016-01-03 04:09] mattiLeBlanc commented on #955
@Urigo I have used the $reactive dependency for a state with the subscribe function.
(sorry for the coffeescript)
[code]
and I am using ControllerAs (vm) in my Ui-Route.
When I want to do a ng-repeat of my events helper, I need to do
[code]
Why do I need to add `context` after my VM?

When I attach the helper directly to the `$scope` it also works without the VM (but I want to avoid using scope).

[2016-01-03 09:50] ThomsC commented on #999
Here is the repo : https://github.com/ThomsC/angular-with-blaze.git,

the template with blaze is in client/index.ng.html

[2016-01-03 10:35] ThomsC commented on #1015
hi,

When I use `angular@1.3.4` with `angular-babel 1.0.8` my app doesn't start anymore here is the error I got :

[code]

Everything works fine with `angular@1.3.2` with `angular-babel 1.0.7`.

Here is the list of package installed:

[code]

[2016-01-03 10:37] kamilkisiela commented on #1034
I forgot to update this issue :)

Few days ago I wrote the service called `UsePromise`.

Usage:

[code]

So yes, @Urigo you're right. `$q` is very helpful.

[2016-01-03 11:10] Urigo commented on #1034
this is interesting, can you share the code?

[2016-01-03 11:18] kamilkisiela commented on #1034
`AssignInjectables` is a class to assign injectables to the object scope.

**UsePromise**:

[code]

**AssignInjectables**:

[code]

[2016-01-03 11:28] pbastowski commented on #1015
@ThomsC

Are you on windows or os x
What browser are you using chrome/firefox/safari?
What browser version?

I have just pushed v1.0.9 of `pbastowski:angular-babel`, with an attempt to fix the problem. Could you please add the package directly to your project:

    meteor add pbastowski:angular-babel

and then try again and let me know the result?

Thanks.

[2016-01-03 13:46] ThomsC commented on #1015
@pbastowski

I'm on os x

With `angular-babel@1.0.9` I got no error.

Thanks!

[2016-01-03 18:40] ronaldso55 commented on #984
I have a Meteor Angular app based on v1.3.4 and I see the same issue, except that the second warning comes from angular-meteor-data.js instead of angular-meteor-user.js.  How do we fix that?

[code]

[2016-01-03 21:15] gaykan opened #1057 "After 1.3.4 ionic-whatsapp nor working"
After 1.3.4 get following messages im ionic.whatsapp with no display on page. Using 1.3.2 or 1.3.4 in bower makes no difference.

	autorun
	(anonymous function)
	invoke
	(anonymous function)
	forEach
	createInjector
	doBootstrap
	bootstrap
	angularInit
	(anonymous function)
	trigger
	eventHandler
[Error] Error: [$rootScope:infdig] 10 $digest() iterations reached. Aborting!
Watchers fired in the la

[2016-01-03 21:19] gaykan commented on #1039
When I forked Ionic-whatsappyo  try to add a loginWithPassword and create user method, 1.3.4 issued and it got inspirational. I created new issue for that. After solving 1.3.4 problem, I will create the case on forked version.
regards

[2016-01-04 14:31] wsjwong opened #1060 "Tutorial's login and sign up pages are broken"
I planned to start doing the tutorial but I found that the login and sign up pages are broken in the demo.
[Login](http://socially-step22.meteor.com/login)
[Sign up](http://socially-step22.meteor.com/register)

EDIT: I only find the pages broken in Safari (on both OS X and iOS).

[2016-01-04 16:57] jboothe commented on #1054
This issue was moved to Urigo/meteor-angular-socially#94

[2016-01-04 16:57] #1054 closed

[2016-01-04 17:15] eugenious commented on #968
Thanks for the great work. I think this is heading in the right direction.

If I understand correctly, I should be able to use the $auth service to replace the Meteor global variable. That sounds like a good approach, so here's what I did:

This is what I had previously (it works fine):
[code]

Using the new $auth service:
[code]

I must be missing something, because I can't get this to work:

* i

[2016-01-04 17:19] eugenious commented on #968
Actually, I don't have enough permission to reopen the issue.

@Urigo perhaps you could advise how to proceed, either reopen this bug, create a new bug, or if you could tell me what I'm doing wrong it would be appreciated!

[2016-01-04 22:15] DAB0mB commented on #1023
Normally your'e right, but for angular-meteor 1.3 this is a valid syntax.
In angular-meteor 1.4 it will be deprecated and the use for 'getReactively' will be necessary.

[2016-01-04 22:30] jboothe commented on #519
Since it's been over 6 months, I proposed this [PR](https://github.com/Urigo/angular-meteor/pull/1062) to change the urls to use http until the cert is addressed.

[2016-01-04 22:32] leoetlino commented on #519
Well, angular-meteor.com is now not available over port 443 anymore, so it doesn't really matter anymore.

Also, LE is now available for free and getting a cert is _really_ easy, so there's no reason (financially at least) this is not done. ;)

[2016-01-04 22:43] jboothe commented on #519
@leoetlino, thanks for the [Let's Encrypt](https://letsencrypt.org) tip. The PR addresses several broken links on the Github home page - https://github.com/Urigo/angular-meteor.

[2016-01-04 22:46] leoetlino commented on #519
My bad. I thought it was about the SSL cert errors (that were present a few months ago). Yeah, that should definitely be fixed until the site is accessible over SSL.

[2016-01-04 22:54] DAB0mB commented on #1025
The `data` returned by `Meteor.call` is not saved anywhere and therefore will not be presented in the view. You should do something like the following instead:

[code]

As you can see there is no need for helpers, `getReactively` and `autorun` does everything you need, once `period` property is changed the calculation method will be called all over again.

[2016-01-05 04:22] wsjwong commented on #846
Will try on this today.

[2016-01-05 10:04] ThomsC commented on #1025
your solution is pretty simple thanks !

Is there a way to call the autorun function again without changing `period` as I click on a button for instance ?

[2016-01-05 10:19] snowping commented on #865
Thanks @Urigo

I tried it with the new API and it seems working but I get a "Maximum call stack size exceeded" error when I'm working with direct image references (e.g. specific image per model).

Now with new API saving an image reference directly works as expected:
[code]
loading image url in view is working but I got the "Maximum call stack size exceeded", also with one time binding option.
[co

[2016-01-05 17:11] eugenious opened #1064 "(v1.3.4) $auth.currentUser doesn't seem to work"
I put some comments in a closed issue which I probably shouldn't have done:
#968

I'm having trouble getting $auth.currentUser to work, I'm not sure if it's a bug or I'm doing something wrong.

I've copy-pasted here the relevant bits:

Thanks for the great work. I think this is heading in the right direction. If I understand correctly, I should be able to use the $auth service to replace the Meteo

[2016-01-05 19:12] NBAlex commented on #1057
I have exactly the same error (Chapter 3 - Ionic WhatsApp Tutorial) using both versions 1.3.2 and 1.3.4 of the angular-meteor library. I have started project from scratch as well as did checkout at chapter 4 using the code provided on the github repo, but the problem is the same.

This error was thrown by *angular-meteor.bundle.js*, at the line **10666**:
[code]
and the reason for throwing this er

[2016-01-06 02:35] cranesandcaff commented on #865
Also getting the maximum call stack size exceeded error.

[2016-01-06 03:03] cranesandcaff commented on #865
I believe the issue is that we're calling a function inside of the template `img.url()` which gets called every time the digest loop runs through.

This is my rough workaround for the issue, inside of a helper.

    var profileImages = ProfileImages.find().fetch()
    this.imgs = profileImages.map(img => img.url())

This kind of works. It's not reactive or anything though.

[2016-01-06 03:57] gaykan commented on #1057
Thanks...
All tutorials are locked with that problem.

[2016-01-06 11:54] Urigo commented on #968
opened, will look on it soon

[2016-01-06 12:09] sirockin opened #1065 "Angular 2 Tutorial (Socially) Missing Parts 17 Onwards"

[2016-01-06 12:11] sirockin opened #1066 "Angular 2 Tutorial (Socially) Incorrect Code Snippet, Part 7.2"
The text refers to replacing Mongo.Collection with generic form, but the code panel shows the non-generic form:

export var Parties = new Mongo.Collection('parties');

[2016-01-06 12:54] sirockin opened #1067 "Angular 2 Tutorial (Socially) Step 8 Zipped Code does not show parties"
The link to the Step 8 zip file at the top of Step 9 works, but when run, no parties are displayed.

I wonder if this is due to 'meteor remove autopublish' (see top of Step 9) having been run before zipping.

[2016-01-06 13:18] snowping commented on #865
Ok, so your are saying since version 1.3.2 you haven't got the issue anymore? I am using version 1.3.4 and still having the issue. My situation is probably slightly different to your as I am using it without a separate image collection.

Thanks for your workaround. I could workaround my situation as follows:

[code]

[2016-01-06 13:26] mabady opened #1068 "Have to restart meteor with new port to see changes in chrome"
Im trying angular2 tutorials using zip files. My browser is not refreshing after any change, either in client or server. I have to restart meteor with new port -e.g. meteor --port=3003 to see my changes. Not an ideal step in dev cycle :) - uri is not doing this in his tutorials though

Updated to latest - 1.2.1 but no effect. Checked on mac osx -elcapitan and centos 6.6 - all same
Do I need to do

[2016-01-06 14:46] Urigo commented on #1023
@DAB0mB he is right, the update sort won't refresh with this syntax, we should update the tutorial

[2016-01-06 14:47] Urigo commented on #1025
@ThomsC you can place the whole logic inside a separate function and place that function inside the autorun and when clicking a button call that function directly

[2016-01-06 14:47] #1025 closed

[2016-01-06 14:51] Urigo commented on #1029
https://github.com/Urigo/angular-meteor/pull/1058 should fix that, can you test with current master?

[2016-01-06 14:51] Urigo commented on #1048
@bagusflyer can you test it now?

[2016-01-06 14:53] Urigo commented on #1065
We are working on it :)
would love help in writing them

[2016-01-06 15:16] cranesandcaff commented on #865
Woah, woah, woah, you can add file objects to a collection?

I'm calling the url method within the template.

Did the workaround work for you?

Yeah, I locked my version a 1.3.2 and I don't get the infinite watchers bug when calling `.url()` within a template. I would recommend adding a check for the subscription completion so that it doesn't throw a reference error.

[2016-01-06 15:28] snowping commented on #865
Yes, indeed. You'll find the official documentation here: https://github.com/CollectionFS/Meteor-CollectionFS#storing-fsfile-references-in-your-objects. In order to get this to work you need to add an additional package: cfs:ejson-file

yeah for the sake of simplicity I did put the line directly under helpers here but yes you are right in my real controller I had put it after subscription is ready

[2016-01-06 16:18] skl opened #1069 "Stuck on 9.12 - search not working"
I've followed the tutorial as best I can and I've double-checked my work, however I'm struggling with the search feature - the client-side collection is not being filtered by location when I search. I know the (click) event is firing and PartiesList::search() is executing, I even checked the value parameter is coming through correctly.

It's just that `this.parties = Parties.find({ location: value

[2016-01-06 18:13] wohlford commented on #984
I'm getting this message too. Not sure why, but it occurred after I ran 'meteor update' recently. Trying to track this down.

[2016-01-06 18:16] dotansimha commented on #865
@cranesandcaff so everything works as you need? can I close this issue?

Thanks.

[2016-01-06 18:35] wohlford commented on #984
Turns out my issue is related to the use of msavin:mongol the "In-App MongoDB Editor." Once I removed that package the warning disappeared. It has a dependency on dburles:mongo-collection-instances which I believe is where the error is being generated. I've readded the msavin:mongol with its dependencies to my meteor project and now the message has gone away. Had planned to submit a bug report, bu

[2016-01-06 19:08] cranesandcaff commented on #865
Good on my end.

[2016-01-06 19:25] #865 closed

[2016-01-06 19:53] dotansimha commented on #1064
@eugenious
Hi, seems like you are right, I think that a bug causes that `$auth.currentUser` is only exposed to the view (in `$scope.$auth` object).
I am checking it now and will update later.

[2016-01-06 21:56] pbastowski commented on #988
@super5354 I have published v1.0.10 of `pbastowski:angular-babel`, which should fix this problem for you. Could you try it and let me know if it does? Thanks.

[2016-01-07 04:04] mabady commented on #1068
Closing this issue as I found it has nothing todo with angular-meteor.

After few hours digging, I found the root cause. Chrome was caching contents coming from 'meteor' preventing us to see the changes. I've found a Chrome  extension called "Cache Killer" which is disabling Chrome content caching. This extension is very helpful in development cycle and addressed a big pain! You may want to disabl

[2016-01-07 04:04] #1068 closed

[2016-01-07 04:41] TheGrayWolf opened #1070 "Blaze template not loading in Step 8"
Hello!

I've been following the tutorial and it's been without issues for now, but now I can't get the "Sign in" button to display at the top of the page (can't get the blaze template to load).

Here's the list of packages I'm using:
[code]

Here's my index.html (where my blaze-template is):
[code]

Everything else works (I get Home, Add/Remove All and I get all the parties listed), but I can't ge

[2016-01-07 14:49] eugenious commented on #968
#1064 describes the current situation better, so I'm closing this one

[2016-01-07 14:49] #968 closed

[2016-01-07 17:19] barbatus commented on #1066
@Urigo fixed in the last version.

[2016-01-07 17:22] Urigo commented on #1066
cool

[2016-01-07 17:22] #1066 closed

[2016-01-07 17:34] barbatus commented on #1067
I downloaded 9th step and verified that search works as expected: I added one test party, tried to find it - it was found, then I searched by Palo Alto - it found correctly two parties.
What version of the package are you using?
I recommend to update to the latest and try it out once more.

[2016-01-07 17:34] barbatus commented on #1069
I downloaded 9th step and verified that search works as expected: I added one test party, tried to find it - it was found, then I searched by Palo Alto - it found correctly two parties.
What version of the package are you using?
I recommend to update to the latest and try it out once more.

[2016-01-07 17:41] barbatus commented on #1069
Ok, I tested you repo as well. It works as expected for the test I described above too.
What's the exact case where it doesn't work for you?

[2016-01-07 18:09] barbatus commented on #1067
right, autopublish got wrongly into the Step 8. I just rebuilt the archive.
@Urigo I think we can close it.

[2016-01-07 23:39] scenaristeur commented on #996
i though I had an error too, and landed to this page.
 Perharps you should mention near "0.5  Create root component"  something like
"Here you got 'Error:
client/app.ts (3, 42): Cannot find module 'angular2/angular2'.'
message in terminal, don't care we will fix it later"

[2016-01-08 00:31] scenaristeur opened #1073 "wrong link"
at the bottom of the angular2 tuto : http://www.angular-meteor.com/tutorials/socially/angular2/dynamic-template
the link "step 3 "in the line "So, let's go to step 3 to learn how to bind our application to the great power of Meteor."
throw to angular1 tuto : http://www.angular-meteor.com/tutorials/socially/angular1/3-way-data-binding
instead of angular2 tuto

--> I was a little bit confused when I

[2016-01-08 02:07] scenaristeur opened #1074 "something wrong with encode in "Initializing Data on Server Side" / 3.7 Load initial parties on server side"
I'm french and in french, there are 'simple quote' and 'éàèù' :

1. in the loadParties() : i wanted to put "l'avion" but there is a problem with the simple quote --> I use double quote instead of simple quote and it's ok --> Does simple & double have the same fonctions, or do i have to escape with backslash ?
2. it seems that the accentued characters (éàèù) work bad with the "loadparties" function

[2016-01-08 02:54] lance-anderson commented on #978
Hi @Urigo. Any chance of this being on your radar in the near future?

[2016-01-08 04:30] TheGrayWolf commented on #1070
For anyone reading this, I fixed the problem by adding `urigo:angular-blaze-template` and I noticed a mistake in my index.html, where I put `<blaze-template src="loginButtons"></blaze-template>`, while it should have been `<blaze-template name="loginButtons"></blaze-template>`.

Here's a complete list of my plugins:

[code]

Hope this helps!

[2016-01-08 04:30] #1070 closed

[2016-01-08 08:40] dawiong commented on #1057
Experiencing the same thing here.

[2016-01-08 09:22] DAB0mB commented on #1023
https://github.com/Urigo/meteor-angular-socially/pull/96

[2016-01-08 09:55] sirockin commented on #1065
Yes I appreciate that. They're very clear and well-written so I can see they take some time to produce. As a complete newbie to both Meteor and Angular I can't help with the writing. I'd be very happy to proof-read and test though.

[2016-01-08 10:39] skl commented on #1069
@barbatus thanks for testing :) Sorry, seems I was confused on a couple of points:

- I didn't realise you had to log in to search
- I didn't realise it had to be an exact match when searching
- I get weird behaviours/duplicate results if I don't delete the parties from the initial `loadParties()` - see http://i.imgur.com/Oa98ATG.gifv

But - following your test and I can confirm the search was wor

[2016-01-08 10:39] #1069 closed

[2016-01-08 14:06] Muffasa opened #1077 "updateValue deprecated from Control?"
angular2 meteor tutorial 4.9

client/parties-form/parties-form.ts (33, 49): Property 'updateValue' does not exist on type 'AbstractControl'.

on debugg I found there is no such function on the this.partiesForm.controls.name object.
I think it might be deprecated.

[2016-01-08 14:07] Muffasa commented on #1077
btw
this.partiesForm.controls.name._value = '';
this.partiesForm.controls.name.value = '';

is not clearing the form, so what are the alternative to the updateValue function?

[2016-01-08 14:13] #1077 closed

[2016-01-08 14:14] Muffasa commented on #1077
sorry it seems i didnt import the Control class:
import {FormBuilder, ControlGroup, Validators} from 'angular2/common';
insted of
import {FormBuilder, Control, ControlGroup, Validators} from 'angular2/common';

[2016-01-08 21:24] simonv3 commented on #958
I'm returning to a project written in an earlier version of Angular-Meteor that uses packages and am stumbling across the same issue.

package.js:
[code]

`client/js/directives/account-buttons.directive.js`
[code]

`clients/js/directives/account-buttons.html`
[code]

I've just pushed these test versions to the package here: https://github.com/simonv3/meteor-running

[2016-01-08 21:35] Urigo commented on #1067
cool

[2016-01-08 21:35] #1067 closed

[2016-01-08 22:58] justingrayston commented on #968
Just to state, I am getting the "TypeError: Cannot read property 'changed' of undefined" error. At the moment I am not convinced it is to do with Meteor.user at all, or #1064 (although I have seem $auth.currentUser not populated, but that was on a different view completely).

Interestingly, this is a controller for a directive not a view, and it is loaded as part of the parent page. I have a $auth

[2016-01-08 23:14] justingrayston commented on #968
Argh. For me it was literally timing and the fact at the top of the controller I had old code that set a default value for the $scope property. I didn't see the 'will be overwritten' warning in the console, because the error happened before that was caused.
[code]

So k must be undefined but it also must know it should be tracking it.

Just removing the declaration at the top of the controller mad

[2016-01-09 00:26] Deadly0 commented on #1029
@Urigo how to test it with current master? Looks like i have the same issue.

[2016-01-09 05:55] HariharanIT opened #1079 "TypeError: Cannot read property 'apply' of undefined...at null.loginWithGoogle"
Hi..i am using angular-meteor with my ionic app..
$meteor object having method name like loginWithGoogle,LoginWithFacebook..etc
but Meteor object does have this method...it only have loginWithPassword and token method for login.
Meteor.loginWithPassword working fine...The social login method undefined..in the Meteor object..

While trying $meteor.loginWithGoogle will cause the TypeError: Cannot re

[2016-01-09 12:38] #1057 closed

[2016-01-09 12:50] Urigo commented on #1064
@eugenious why would you need to use `$auth.currentUser` in scope helpers and not just `Meteor.user` ?

[2016-01-09 13:45] sirockin opened #1080 "Angular 2.0 Tutorial Step 12 Incomplete Instructions for Anti:Fake"
Step 12 provides a code snippet for generating 27 parties from Anti:Fake but does not give instructions for:
1/ Where to put the snippet (presumably server/load_parties.ts)
2/ How to install the anti:fake package: 'meteor add anti:fake'
3/ How to import the 'Fake' class

There is also no evidence of anti:fake in the zip download for Step 12.

[2016-01-09 18:40] DAB0mB commented on #978
@lance-anderson There is a certain conflict between `ionic` and `blaze`, the following flow describes it:

- `ionic` adds the element `div.list` to every `ion-list` being defined.
- `blaze` iterates the list using `#each` helper, and uses the parent node to insert a new item.

You would expect `ion-list` to be the parent node, but no, the parent node is actually `div.list`, because of how `ionic`

[2016-01-09 20:34] lance-anderson commented on #978
Thanks for sharing the info. I agree with your observations. Unfortunately, I have not found a solution and I'm exploring alternative approaches to using Ionic and Blaze together.

[2016-01-09 22:16] MilosStanic commented on #1064
I confirm that $auth.currentUser is only exposed to view, but not to controller. In controller it's undefined.
Is this going to be fixed in next release?

[2016-01-09 23:41] MilosStanic opened #1081 "Getting a single object from DB"
Hi all,

I may be totally getting everything wrong, but I have to ask this simple question.
I have a page that is supposed to display user profile information for any username given in url like this:
`mysite.com/someuser`
This should open a page with controller that will load user data for particular user like this:

[code]
But instead, the console is printing undefined for user data.

Is there so

[2016-01-10 00:53] gaykan commented on #1081
By default, AngularJS will route URLs with a hashtag For Example:
[code]

So if you want to remove hashtag

1. use     **$locationProvider.html5Mode(true)**  in routings part in config as .

[code]
2.  In html head add base tag
[code]
Hope, it is sufficient...

[2016-01-10 01:50] super5354 commented on #988
@pbastowski It seems that the latest version is v1.0.9 not v1.0.10 but it still works like a charm. Thanks very much!

$ meteor update pbastowski:angular-babel

Changes to your project's package version selections from updating package
versions:

pbastowski:angular-babel  upgraded from 1.0.7 to 1.0.9

[2016-01-10 04:32] keithn opened #1083 "Problem at Angular 2 Tutorial Step 4.9"
I've got to this step, creating the form, it displays ok, I click Add and nothing happens.

It doesn't seem to be triggering the event handler... I've copied your code for the party form ts and html, doesn't seem to work either.

No errors in either browser or meteor terminal

If I put a break point on the submit handler for the form, it ends up in an angular event handler, but doesn't seem to mak

[2016-01-10 07:46] pbastowski commented on #988
@super5354 you are correct. Apparently 1.0.10 is not published on Atmospherejs yet. I'll do that on Tuesday when I get back home.

[2016-01-10 12:27] Tallyb opened #1084 "State object between controllers / components"
Hi,
Had this question once again, and it probably different with v1.3 onward.
What is the recommended method to do this?
Specifically - does it make sense to work with Session and angular context?

[2016-01-10 16:19] MilosStanic commented on #1081
Thanks @gaykan, but the point is not at all in parsing the $stateParams.
It works perfectly fine.
The point is getting a single object from database. It returns undefined.

[2016-01-10 21:27] austingayler commented on #958
@a-vasyliev try `templateUrl: "'admin.html'"`, instead of `templateUrl: 'admin.html'`

[2016-01-11 04:02] gaykan commented on #1081
Ok.
What you do is ok.
But you need to publish the collections, you are using on server side, so that you may use on client side,
with something like

    return Meteor.users.find( {  search string or none ) }, {fields: {profile: 1, emails:1, username:1}});
  });

for replicating your user data to your local database.

regards

[2016-01-11 09:42] longxuanho opened #1086 "Using angular-meteor with kendo ui grid"
Does anybody have an idea how I can using Kendo UI Grid with angular-meteor? It drives me crazy when trying to find out what the dataSource for kendo grid is.

[2016-01-11 10:17] MilosStanic commented on #1081
Thanks, it also seems I need to subscribe as well.

[2016-01-11 10:17] #1081 closed

[2016-01-11 13:51] michaelszt commented on #1086
I am using ui-grid,(http://ui-grid.info ), it works good for me.

[2016-01-11 14:33] eugenious commented on #1064
@Urigo I was thinking that using $auth was better than relying on a global Meteor object. (For ease of unit testing, for example). To quote the [documentation](http://www.angular-meteor.com/api/1.3.2/auth):

So I thought I would try it because further down on the page, the documentation reads:

But I couldn't get it to work.

[2016-01-11 15:47] skl commented on #1080
This is what I ended up doing to get it working:

Install package, as you say: `meteor add anti:fake`

*new file* `typings/fake.d.ts`:
[code]

*modify file* `server/load_parties.ts`:
[code]

Then `meteor reset` and `meteor` to clear all data and restart the app.

N.B. From what I've read this appears to be a TypeScript specific approach to working with this package, by default with Meteor you can

[2016-01-11 15:52] skl commented on #1083
@keithn when this happened to me I had to move `addParty()` to `PartiesForm`, see https://github.com/skl/learn-angular2-meteor/commit/50a718c98df122e94a085d5c6bb0d24bdf952565

[2016-01-11 15:56] skl commented on #1079
Did you `meteor add accounts-facebook`?

[2016-01-11 16:00] HariharanIT commented on #1079
Yeah.. I added that needed package..
On 11 Jan 2016 21:26, "Stephen Lang" <notifications@github.com> wrote:

[2016-01-11 16:47] Fauphi opened #1087 "Pass parameter to helper function"
How can I pass a parameter to a helper function?

This was possible with Blaze:
[code]
[code]
How can I do something like that with Angular Meteor?

This is not working:
[code]

[2016-01-11 18:00] MilosStanic commented on #1087
You can define `imageId` on the scope, then inside the helper function do:
[code]
So, when you change `this.imageId` in the controller, the helper will autorun and apply new value to the parameter of `findOne` inside helper.

[2016-01-11 18:14] Fauphi commented on #1087
Yes, that would work if the getImage helper is only used on one image. But as soon as there are two or more images using the helper every image is the same.

[2016-01-11 18:36] MilosStanic commented on #1087
In that case you don't need a helper function, you need an ordinary controller function to get image whenever you need one, as many times as you need. Maybe if you posted how and where you intend to use the `getImage` function, I could understand better and help you.

[2016-01-11 18:39] mgrivera commented on #1086
You can also use *mquandalle:bower* to download and install ui-grid via bower ...

[2016-01-11 18:56] Fauphi commented on #1087
It is basically just a ng-repeat with img:

[code]

workModal.work.images is an array of image-IDs. I have to different collections: Work and Images. The Work collection contains items with name, description, image-id-array,... . The Image collection contains items with image-id and image-url.

While I am writing this I found a solution...

The problem was that the Image subscription was not ready

[2016-01-11 18:57] canac opened #1088 "Support $watchCollection in getReactively"
In my application it would be helpful if I could tell getReactively to use $watchCollection under the hood. Passing `objectEquality=true` to getReactively works, but it is far too slow for my application. I would be happy to try to put together a pull request if you are willing to include this feature.

[2016-01-11 19:37] mgrivera commented on #1087
Hi @MilosStanic,

Could you please explain when to use a *helper function* and when to use an *ordinary controller function*?

Aren't helpers, in new version of angular-meteor, supposed to create bindings between the view and your data?

By the way ... can I use a helper function to bind an ordinary value, I mean, not a minimongo collection (find) or object (findOne)?

Thanks and bye ...

[2016-01-11 20:07] MilosStanic commented on #1087
@mgrivera
Using helper functions is for the so called three-way-binding, i.e. creating reactive resources for your view-model. You use helper functions when you need Meteor.autorun to update the view-model whenever the datasource changes. For example, you create a helper that returns a set of users with their online status, or nicknames, or avatars. You use this helper to populate the view-model a

[2016-01-12 05:42] ShMcK commented on #1080
I've proposed the following [changes](https://github.com/ShMcK/angular-meteor/commit/9ceb9b894b7e612b54b4bcd98789d525dec0f8f9) for the tutorial here:

[code]

[2016-01-12 05:44] ShMcK commented on #1080
However, once Meteor 1.3 hits I think it would be better to load [Faker.js](https://github.com/marak/Faker.js/) from NPM. That way data can look more realistic (for example, real location names).

[2016-01-12 05:46] ShMcK commented on #1073
You're right, all of the tutorial links are linking to Angular 1.

I'll put together a quick fix now.

[2016-01-12 05:53] ShMcK commented on #1073
[This commit](https://github.com/ShMcK/angular-meteor/commit/19dcfe60e60aa3e0ce91466968df9757190ddb07) should fix the issue of links pointing to the wrong tutorial.

[2016-01-12 05:56] ShMcK commented on #1060
I'm not having any issue on my computer/phone.

Could you try it again, or provide more system details?

[2016-01-12 05:59] ShMcK opened #1091 "Move tutorials into submodules"
Moving the Angular 1 & 2 tutorials into [submodules](http://git-scm.com/book/en/v2/Git-Tools-Submodules) would make it much easier to make future edits.

It would also focus issues & pull requests away from angular-meteor itself.

[2016-01-12 09:57] Fauphi commented on #1087
Hi @MilosStanic ,

thanks for all the explanations and insights!
But I still have a question: Is it possible to create reactive functions which accept parameters?

I ask this because I still have a problem with my app. If you remember the "Work" collection is used for the ng-repeat:

[code]
[code]

While the ng-repeat is rendered it also calls the getImage controller function to get a image-url wi

[2016-01-12 10:25] MilosStanic commented on #1087
Hi @Fauphi ,

I'm really not sure I understand what is happening here.
You have a list of work items and a list of images. So, you render work items, and for each you retrieve an image from Images collection. That is clear.
So when you change an image that is related to work item, you want it to be re-rendered in work items list.
I don't know. This is software design issue. Maybe you should consid

[2016-01-12 10:31] MilosStanic commented on #1087
A shortcut that might do the trick for you is to define an association between collections of work items and images.
Please read this: http://guide.meteor.com/collections.html#associations

I am **guessing** that if you have this sort of association, it will reflect reactively to work items list when you change in associated images collection.

[2016-01-12 11:22] Fauphi commented on #1087
I don't think it is a design issue, just a different design. And it works with Blaze :)

One solution I found is to get the Images already in the helper:

[code]
This works fine and is basically the same as my previous approach, only combined in one function.

Just out of interest, is there a specific reason why a helper function doesn't accept any parameters?

Thanks for the tip with the collecti

[2016-01-12 13:31] mgrivera commented on #1087
Hi @Fauphi, I'm just digesting the syntax of the new version and comparing to the one we have had until now.

When you say helper functions don't accept parameters, which do you refer to? Look at this code from the tutorials:
[code]
the function *removeParty* is accepting *party* as a parameter ...

[2016-01-12 13:34] mgrivera commented on #1087
Wow, now I know what you are talking about. The function *removeParty* is not part of helpers ...

[2016-01-12 13:34] Fauphi commented on #1087
Hi @mgrivera ,

with helper functions I mean those inside this.helpers({}). In your example that is only "parties".

The removeParty function is a normal controller function which is not reactive.

[2016-01-12 14:58] gaykan commented on #1087
Hi @Fauphi, @mgrivera,
using this tools in real life applications, dealing with complex structures, other than users and simple additional data  needs some more guidelines. We are after 3 way bindings. But what will be the limit?

Even for this parties application, if there are large number of users, will holding a local copy of users data be feasible and possible just to see the avatar changing l

[2016-01-12 15:02] sebakerckhof opened #1092 "Act on subscription update"
let's say I have a chat message component (directive) which takes a message id, so something like `<chat-message message-id="vm.messageId"></chat-message>`

The controller subscribes to the message data:
[code]

Now I'd like to have a variable that indicates whether the data is loading, how could I do this?

I can use the `onReady` function to know when the subscription returned and set `this.load

[2016-01-12 15:21] sirockin opened #1093 "Support Angular 2 Dependency Injection API"
The MeteorComponent implementation closely couples the angular component with the server implementation, making it difficult to implement unit testing.

Would it be possible to incorporate the Angular 2 dependency injection API into the Angular Meteor architecture?

See also my post here:
https://forums.meteor.com/t/angular-2-meteor-dependency-injection/16216

[2016-01-12 16:48] MilosStanic commented on #1087
@gaykan
Yes, you're absolutely right.
Real world application of angular-meteor goes well beyond samples that we have been able to see on the main site.
Display of users list is a particular problem that took me a couple of weeks solving until someone helped me here in github issues.
Also, getting url's from freshly uploaded images presented a separate problem until I discovered there's a 'bug' in

[2016-01-13 11:00] a-vasyliev commented on #958
@austingayler Thanks, I've found solution. It is required to provide template url with package name:
[code]

It is not obvious and there is not so much information about Meteor packages, AngularJS integration and modular apps...

[2016-01-13 15:54] ThomsC opened #1097 "Guide line"
What is the best solution to do this king of thing :

[code]

Obviously I don't want to use $meteorObject but helpers don't modify the database when I change the object in the view. Or am I missing something ?

[2016-01-13 17:18] sebakerckhof commented on #1092
Yeah, that's using the onReady function I mentioned, but I need something when the subscription is being called (to set `this.animation` to true)

[2016-01-13 19:37] mgrivera commented on #1092
Hi @sebakerckhof,

I have never used *traker.autorun* but ... isn't it just to do something when a *reactive source* changes state?

This is from angular-meteor's doc:
[code]

*this.autorun* is just a wrapper of metor's *traker.autorun*.

This is from meteor's doc:
[code]

Could you just check and see if this helps you? ...

[2016-01-14 09:40] sklink commented on #1029
I have `1.3.4` and am experiencing the same issue.

[2016-01-14 11:16] #1086 closed

[2016-01-14 13:04] Deadly0 commented on #1097
@ThomsC, autobind is deprecated and will be removed in 1.4. Now you should update data in collection by yourself.

Also the second argument of `this.subscribe` not an onReady callback. This function should return array of arguments for subscription. Check the docs http://www.angular-meteor.com/api/1.3.2/subscribe

[2016-01-14 13:35] ShMcK opened #1101 "Angular2 Tutorial: Clarify Attribute / Property binding"
In step 15 and and several other places of the Angular 2 tutorial, I believe there is _some confusion over_ **attribute & property binding**. I may be wrong, but my understanding is:

- attribute binding (`<my-component foo="stringValueOnly">`)

Using regular attributes in HTML

- property binding (`<my-component [foo]="anyValue">`)

Binding any value to an HTML property

Quotes from [this article

[2016-01-14 13:41] Deadly0 commented on #1092
@sebakerckhof i use this way to display loadbar
[code]

[2016-01-14 14:27] ThomsC commented on #1097
somehow it is working, should I do this instead:

[code]
?

Could you give me an example on how it should be update now please?

[2016-01-14 14:49] barbatus commented on #1101
Here http://www.w3schools.com/tags/att_global_hidden.asp it says otherwise.
As I understand there is no any agreement on this yet. I'd seen those articles you pointed before started writing that step. Angular 2 team might prefer one terminology, but `attribute`, as I believe, is what most of developers are used to think of about this construction, that's why I chose it. I don't no.

[2016-01-14 14:54] Deadly0 commented on #1097
@ThomsC, yes, it's correct. But be ready for `$scope.$meteorObject` will be removed in 1.4

[2016-01-14 15:03] ThomsC commented on #1097
I understood but how do we do now?

[2016-01-14 15:11] Deadly0 commented on #1097
@ThomsC I guess you have to read this article http://info.meteor.com/blog/angular-meteor-1.3 . It explains how to migrate from old API to new API with a lot of examples.

To replace autobind you should catch when your doc hav been changed and call MyCollection.update function (meteor native API)

[2016-01-14 15:19] ThomsC commented on #1097
ok thanks

[2016-01-14 16:59] yobre opened #1102 "Angular-meteor & i18n"
What is the correct method to handle i18n?

I tried using tap:i18n but not working.
With angular-translate can translate correctly.

However what is the best package to manage the internationalization?

Thanks

[2016-01-15 04:50] sean-stanley commented on #1064
+1 Meteor.user() did work though

[2016-01-15 04:56] sean-stanley opened #1103 "getReactively returns undefined"
Hi, I think getReactively is returning undefined for an object containing keys that all evaluate to undefined.

here is my quick example

[code]
I would expect `params.category` to evaluate to undefined instead of throwing an error.

[2016-01-15 11:34] ThomsC commented on #1097
ok like this :

[code]

but if I don't want a save button, do I need to $watch every field of my form, how  can I reproduce the behavior of autobind ?

[2016-01-15 11:58] Deadly0 commented on #1097
@ThomsC, you can use deep watch to watch entire document or use ng-change on inputs if it's possible.

[2016-01-15 12:00] ThomsC commented on #1097
which one is better?

[2016-01-15 12:00] ThomsC commented on #1097
cause i did it with ng-change for now

[2016-01-15 12:05] Deadly0 commented on #1097
@ThomsC i guess ng-change is better because deep watch may consume a lot of resources. Also you can look at $watchCollection but ng-change is more clear way.

[2016-01-15 12:06] ThomsC commented on #1097
ok thank you so much

[2016-01-15 12:06] #1097 closed

[2016-01-15 13:55] Deadly0 commented on #1103
@sean-stanley first argument for `getReactively` a variable name in current scope, not an object.

[2016-01-15 14:09] mgrivera commented on #1103
Hi, this is the angular-meteor doc for *getReactively*:
[code]

[2016-01-15 15:48] ThomsC commented on #1102
+1

[2016-01-15 16:27] barrymoo opened #1104 "Chapter 5 Challenge and Chapter 6 "Party Details" Form View Not Working"
@Urigo Thanks for the nice tutorial.

My "Party Details" page (in the browser)  will not change from the original `<header>...</header>` style in Chapter 4/5.  I tried:
-  `meteor reset` - Resetting my MongoDB shouldn't do anything, but I tried it anyway.
- `rm -r typings` - I suppose this deletes the compiled ES5 javascript

My current [code base](https://github.com/barrymoo/angular2-meteor-socia

[2016-01-15 16:49] Urigo commented on #1103
thanks for the help guys

[2016-01-15 16:49] #1103 closed

[2016-01-15 16:52] Urigo commented on #1087
Looks like you got your answer :)

[2016-01-15 16:52] #1087 closed

[2016-01-15 16:54] Urigo commented on #1080
Thanks @ShMcK

[2016-01-15 16:54] #1080 closed

[2016-01-15 16:55] Urigo commented on #1073
Thanks again @ShMcK !

[2016-01-15 16:55] #1073 closed

[2016-01-15 16:57] #1048 closed

[2016-01-15 17:00] Urigo commented on #988
Hi Paul, I want to release a new version and update the dependency, is the new version of angular-babel out?  thanks!

[2016-01-15 17:00] Urigo commented on #988
@pbastowski

[2016-01-15 17:02] Urigo commented on #958
@a-vasyliev where do you think we can update the docs to reflect this?
Would love want to create a pull request to update the docs to make them better?

[2016-01-15 17:03] pbastowski commented on #988
@Urigo I have checked and 1.0.9 is indeed the latest version for Meteor 1.2+. I got confused with 0.1.10, which is for Meteor 1.1 :)

[2016-01-15 17:03] DAB0mB commented on #1064
Here are three alternatives to do so:

[code]

There is no need to define `currentUser` on `$auth` service since you can get it using `Meteor.user`.

[2016-01-15 17:04] Urigo commented on #1064
Thanks @DAB0mB

[2016-01-15 17:04] #1064 closed

[2016-01-15 17:26] #988 closed

[2016-01-15 17:43] Urigo commented on #1029
Fixed in `1.3.5`

[2016-01-15 17:43] #1029 closed

[2016-01-15 19:42] sean-stanley commented on #1064
Hang on, can helpers return non cursor values? The documentation says that
a helper function must return a MongoDB cursor. Maybe it should be updated
if the suggested workarounds are best practice methods.

On Sat, 16 Jan 2016 at 06:04 Uri Goldshtein <notifications@github.com>
wrote:

[2016-01-15 20:10] sean-stanley commented on #1103
Right my bad. For clarity: I need to use the variable name as a string, and it is possible to deep watch a variable that is an object according to the docs but I forgot to list the object name as a string in `getReactively`'s arguments.

[2016-01-15 20:28] Deadly0 opened #1105 "getReactively doesn't work properly with directive scope"
In `subscribe` `getReactively` will be called only once with initial value. When `filter` changed nothing happened with subscription.

If use getReactively without deep watch it will throw error when `filter` changed.
![2016-01-15_232531](https://cloud.githubusercontent.com/assets/4887213/12364402/6595d322-bbdf-11e5-8752-f8816d8f4a0b.png)

[code]

Is directive scope not a reactive context or this

[2016-01-15 20:44] TWKDreamState opened #1106 "WebStorm"
Hi,

This is not an issue particularly with angular-meteor (I'm liking the changes that have been made).

Just out of interest, in my version of WebStorm, all of the new code I am using is causing errors in WebStorm and perhaps someone else can help to advise on this as it makes the code quite hard to work with! Feel free to close if not the place to discuss (fairly new to GitHub).

As an example.

[2016-01-15 20:51] TWKDreamState commented on #1106
<img width="490" alt="capture" src="https://cloud.githubusercontent.com/assets/8638987/12364970/bd35ed76-bbc9-11e5-8889-fe386b7db954.PNG">

Screen shot might help highlight the issue.

[2016-01-15 21:19] Deadly0 commented on #1106
@TWKDreamState you can enable ES6 support in settings:
![2016-01-16_001825](https://cloud.githubusercontent.com/assets/4887213/12365594/d4f98fd6-bbe6-11e5-8fe7-a992756539a0.png)

[2016-01-15 21:25] Urigo commented on #1106
Thanks @Deadly0

[2016-01-15 21:25] #1106 closed

[2016-01-15 22:04] TWKDreamState commented on #1106
Thank you :) Appreciate it.

[2016-01-16 11:31] ThomsC opened #1108 "angular-meteor 1.3.5 log in"
After upgrading to 1.3.5 I got some problems with the current user.

Just after log in I do a `state.go` and the state is running some subscriptions but as they need the current user in server side to protect the data I got no result.

I need to refresh the page to get the datas which is not very convenient but sometimes it doesn't work...

The tricky part was when the state's controller was loadi

[2016-01-16 12:02] ThomsC commented on #1074
Quel problème as tu exactement avec les accents?

De mon côté tout fonctionne très bien je n'ai pas fait d'encodage spécial.

[2016-01-16 15:15] burock commented on #1108
+1

[2016-01-16 15:55] lekev commented on #644
Hi I have the same issue, It seems that angular package use [dburles:mongo-collection-instances](https://github.com/dburles/mongo-collection-instances) as depency
`api.use('dburles:mongo-collection-instances@0.3.4', 'client'); // For getCollectionByName `
[PackageFile](https://github.com/Urigo/angular-meteor/blob/7febfed399a360fd906999044b775262eb1b2c9c/package.js#L45)

the workaround to list angu

[2016-01-17 05:51] cranesandcaff opened #1109 "Please limit deprecation warnings"
I appreciate the first warning but after that my console can quickly fill up with an excessive amount of warnings. The latest update puts a deprecation warning on every helper method, even when I'm using the `getReactively` method. It makes it really difficult to identify my own console logs.

[2016-01-17 07:40] DerekFong1004 commented on #1109
+ 1 The warnings are quite annoying and make debugging really difficult.

[2016-01-17 16:45] DerekFong1004 opened #1110 "Proper way of using helpers?"
I am trying to follow the [`helpers` API](http://www.angular-meteor.com/api/1.3.2/helpers) example but when I try to do something like this in my `controller`

[code]

Client console keeps giving me this warnings:

`defining 'apples' value helper, note that this feature will be deprecated in 1.4 in favor of using 'getReactively' - http://www.angular-meteor.com/api/1.3.1/get-reactively`

`overridin

[2016-01-17 16:56] DerekFong1004 commented on #1110
Update:

Same code running on `1.3.4` perfectly however on `1.3.5` it shows the warnings (see screenshot below) as soon as the value of `fruitFactory.getAllApples()` changed and it eventually killed the browser.

![screen shot 2016-01-18 at 00 50 33](https://cloud.githubusercontent.com/assets/10300650/12378594/a29f3656-bd7d-11e5-9f34-7c01840a6dc0.png)

[2016-01-17 19:48] Tallyb commented on #1110
what is the code in fruitFactory?

[2016-01-17 23:21] jacobdr commented on #1110
Design question: why do you want a scope variable on your helpers that isn't being used by meteor? 

Helpers are supposed to be a bridge from meteor collections to your application. 

The only times I think it is appropriate to put a scope variable inside of helpers is when you need to update a subscription or meteor collection query with a scope variable that is fluid. 

—
Sent from mobile

On Su

[2016-01-18 03:08] eugenious commented on #1064
@DAB0mB, these are all reasonable *workarounds*, however they are not ideal because:
1. relies on a global Meteor variable, not great
2. relies on a $scope.$auth variable, which as far as I can tell, isn't documented and possibly shouldn't even be there. ($auth is a service, not a variable automatically added to the root scope??, see clarifying comment below)
3. this one is kinda funky

As far as

[2016-01-18 04:30] #1060 closed

[2016-01-18 04:58] DerekFong1004 commented on #1110
@Tallyb Below is the 'simplified' version of `fruitFactory`. For example `getAllApples()` returns result from `FruitsCollection.find()`

[code]

@jacobdr I am trying to use `apples` in my view with `ng-repeat`.

Sorry this question might not make any sense as I am new to both angular and meteor. The codes that I have written might be incorrect therefore I would like to know how angular-meteor user

[2016-01-18 08:36] MilosStanic commented on #1064
@Urigo @DAB0mB  I completely agree with @eugenious .

The point of the `$auth` service is having the universal source of truth when it comes to testing whether user is logged in and what are his/her properties. Therefore, existence of `$auth.currentUser` available through `$auth` service is very useful.

Finally, let me quote the docs:

Things should be exactly as the above quoted sections of docs

[2016-01-18 12:59] mgrivera commented on #1110
Hi,

Well, the only thing that I can see differently in your code is that you are getting your mongo collection via a angular factory. I haven't seen, as yet, a sample or tutorial that uses a factory to get the mongo collection and I haven't use one myself. But it should be Ok, as it just returns the mongo collection to the helper function.

Aside from that, your code looks well and is the same as

[2016-01-18 15:05] Tallyb commented on #1110
I am wondering if what @mgrivera wrote is accurate. I think that moving the helper call to a factory makes it no longer a reactive source, unless it is handled explicitly.

How does reactivity work? check out this explanation: https://www.discovermeteor.com/blog/reactivity-basics-meteors-magic-demystified/

To summarize we need 2 parts:
the reactive source (the dog) and the reactive context (the o

[2016-01-18 15:22] Tallyb commented on #1110
Having written all above, I am trying to look into the actual need of using a service for querying a collection. Being myself a great fan of John Papa style guide,  I specifically I looked into the section about separating data services:
https://github.com/johnpapa/angular-styleguide#style-y060:
Refactor logic for making data operations and interacting with data to a factory. Make data services re

[2016-01-18 15:24] eugenious commented on #1064
A small idea, now that I think about it, maybe currentUser shouldn't be a property but rather a function, thus:

    $auth.currentUser() is a getter function of the $auth service

[2016-01-18 15:41] burock commented on #1110
Hi,
Is my case the same I wonder. I try below code:
[code]

and i receive these warnings:
[code]

[2016-01-18 15:41] MilosStanic opened #1111 "Server-side 301 redirects"
Hello,

Is it possible to do server-side 301 redirects on root path?
Namely, I have a profile page that is http://example.com/<username>
I want to check on server, before AngularJS app gets rendered, if the username in path exists, and only if it does, I want to render the AngularJS profile page, if not, I want to send back 301 and then reroute to home page and render AngularJS app.

[2016-01-18 15:44] MilosStanic commented on #1064
In my opinion, it would be better if it were a reactive property.
For example, what if the user record contains user's online status. I want to be able to reactively check on that.
In fact, there can be both a getter function and a reactive property.

[2016-01-18 15:50] skyboys22 opened #1112 "meteor.call and session"
why we must use $session to get result from callback of meteor.call, not clair
i prefere to use zone.bind but i have error if i use zone.run (NgZone as argument in fonction)

[2016-01-18 17:43] Tallyb commented on #1110
Regarding having services as reactive, I think @netanelgilad  answered it on the meteor forum:

You could actually use the $reactive service to do something like this:

$reactive(MyService).helpers({
  myParty : () => Parties.findOne(partyId)
});
We made the $reactive service so that you can get the reactivity features into any context, and not just those of $scope or a controller.

[2016-01-18 23:40] iain17 opened #1113 "Error: argument 2 must be a function when using the new subscribe syntax on 1.3.5"
Just updated to version 1.3.5 and tried to adjust to the new subscribe syntax. However even just the example on: http://www.angular-meteor.com/api/1.3.1/subscribe doesn't work. It expects a function on argument 2, when clearly the example also states that you can send arguments along when you subscribe.

The old methode $scope.$meteorSubscribe works perfectly fine.

[2016-01-19 00:06] MilosStanic commented on #1113
Works without second argument with 1.3.4

[2016-01-19 06:45] jonmc12 commented on #958
@simonv3 thank you - very helpful to look up the template location using ```$templateCache.put()``` in compiled package js.

[2016-01-19 09:40] sirockin commented on #1093
I realise I posed this as a question. Nonetheless, it does appear to be a necessary feature since without it a key facet of the Angular 2 framework is broken.

[2016-01-20 06:13] patrickdevivo commented on #958
Anyone have the status of this issue? Seeing the same error as initially posted.

[2016-01-20 14:15] sebakerckhof opened #1116 "Meteor call not running digest"
If I modify something in the callback of a Meteor.call function, these changes often do not appear if I don't manually start a digest cycle.

This wasn't a problem with the old $meteor service before.

[2016-01-20 16:35] simonv3 commented on #958
Hey @patrickdevivo have you tried what I went through?

[2016-01-20 16:44] patrickdevivo commented on #958
@simonv3 it seems like that's for code that's been included as a package though, no? I have my templates directly in client/templates of my app. Unless I'm misunderstanding?

[2016-01-20 17:37] simonv3 commented on #958
@patrickdevivo hmm, you're right, though I suspect it's the same error. Can you investigate your compiled templates file? You can do this by looking in the `<head>` of your local instance and I think (though I don't have an instance running right now to check) it'll probably be in your-app.js name, and then do a find for templateCache.

[2016-01-20 18:08] patrickdevivo commented on #958
@simonv3 thanks for the tip, I checked all the places where `$templateCache.put` is called, and the keys match all the places I use `templateUrl`. This could be a problem with Ionic? https://github.com/driftyco/ionic/issues/4766 which I'm using as well.

[2016-01-20 18:09] DmitryEfimenko commented on #1110
+1. Getting warnings in the console.
I don't think @mgrivera answered the question posted by OP (you'll get warnings just like all of us).

I think @Urigo should quickly clarify the question: What's the correct way of declaring Meteor collections  in the angular app so that you don't get a warnings?

[2016-01-20 18:29] Deadly0 commented on #1105
Nobody faced the same problem? Maybe someone can correct my code? Can't update to 1.3.5

[2016-01-20 18:38] patrickdevivo commented on #958
I just fixed it...and I feel very foolish. Just needed to include `angular-meteor` before `ionic` in the app dependencies!

[2016-01-20 22:14] sferoze opened #1117 "Trying to make an angular app inside a package and am getting: Uncaught ReferenceError: Template is not defined"
I am making an angular app inside a meteor package and I keep getting the error:

`Uncaught ReferenceError: Template is not defined`

[code]

Those are the packages my package depends on

[2016-01-20 22:24] kamilkisiela commented on #1117
One of those packages probably uses `Template`. Track it down or create the reproduction so we could help you.

[2016-01-20 22:25] sferoze commented on #1117
The package that is using it is ngMeteor which is requred by angular-meteor

[code]

Why is this depending on Template? I dont want to use blaze.

[2016-01-20 22:27] kamilkisiela commented on #1117
Try to set `angular` package to at least 1.2 version

`angular@1.2`

[2016-01-20 22:31] sferoze commented on #1117
@kamilkisiela just added the version, but no change in the error. Still Template is not defined

[2016-01-20 22:32] kamilkisiela commented on #1117
Paste here `.meteor/versions`

[2016-01-20 22:34] sferoze commented on #1117
[code]

Keep in mind, my angular app is inside a package though

[2016-01-20 22:36] sferoze commented on #1117
Why is `urigo:ngmeteor@0.2.1` included in my packages.

I cannot find why this is included. Am I not using the new version of angular for meteor?

[2016-01-20 22:38] kamilkisiela commented on #1117
One of packages uses it. You have to check it. I will help you in few minutes.

[2016-01-20 22:43] kamilkisiela commented on #1117
driftyco:ionic has a dependency `urigo:cancel-fastclick` which contains `urigo:ngmeteor`

[2016-01-20 22:54] mixersoft opened #1118 "1.3.5 with ionic breaks $urlRouterProvider.otherwise() routing using john papa style"
I've been using the Angular Style Guide by John Papa for my ionic project (see: https://github.com/johnpapa/angular-styleguide#routing) and have recently been playing with `angular-meteor`. It works fine with `v.1.3.3` but I noticed that John Papa-style "otherwise" routing no longer works when I update to `angular-meteor#1.3.5`

I created a sample app using `ionic start myApp sidemenu` and added `

[2016-01-20 23:00] sferoze commented on #1117
I do not see ngmeteor as dependency of cancel-fastclick

https://github.com/Urigo/cancel-fastclick/blob/master/package.js

[2016-01-20 23:03] kamilkisiela commented on #1117
Could you create reproduction so I can check it?

[2016-01-20 23:14] sferoze commented on #1117
hi @kamilkisiela i added you as a collab to a test branch I setup for this problem.

I started with a blank meteor project. and then added angular and ionic packages.

I am developing the entire angular app in the packages folder.

Please let me know if you have any questions! Really appreciate your help with this

[2016-01-20 23:42] kamilkisiela commented on #1117
@sferoze `netanelgilad:angular-file-upload` is causing a problem. You're using v0.0.1 but v1.1.5 is the latest.

[As you can see](https://github.com/netanelgilad/meteor-angular-file-upload/blob/master/package.js#L8-L14), there is no ngmeteor dependency anymore.

[2016-01-20 23:50] sferoze commented on #1117
@kamilkisiela thanks for your help!

Can I ask how you were able to know this?

Also, why did meteor automatically choose the oldest version?

Typically when you add a package to the root meteor app, it picks the latest version.

I assumed the latest version would be added of each package I depended on.

But I will go through the list and add @versionNumber to each package that is required.

Thank

[2016-01-20 23:56] kamilkisiela commented on #1117
I've just used `meteor update` and saw that version of `netanelgilad:angular-file-upload` is suspiciously low. Then I've checked package.js for  v0.0.1 and found ngmeteor.

[2016-01-20 23:57] kamilkisiela commented on #1117
Also, there is a requirement for using versions when you want your package to be published. So keep it on mind.

[2016-01-21 07:30] mixersoft opened #1119 "1.3.5 auth problem with ionic project"
I'm trying to upgrade to `angular-meteor#1.3.5` in an project using the ionic CLI that worked fine with `1.3.0`.

I get an error in ` angular-meteor-auth.bundle.js` on bootstrap
[code]

These are the steps I took:

from ionic project folder
[code]

added module to angular
[code]

loading angular-meteor files in this order
[code]

[2016-01-21 08:15] DerekFong1004 commented on #1110
Sorry for the late reply guys I have been busy at work.

@Tallyb +1 for John Papa style guide :+1: The reason I am using `factories`  is because (I think) the controllers' job is really to control the presentation and gathering of information for the view and it could be easier to present the flow if the implementation details is put into `factories`, especially when I have multiple views in a mod

[2016-01-21 09:20] MilosStanic opened #1120 "The Future of Meteor, and what to do about it."
Hi @Urigo, @barbatus  et al.,

Since we don't have a forum or some better way to exchange ideas, I thought this would be an appropriate place to do it. If you think otherwise, please direct me to where I should repost this for discussion.

I read today a pretty disturbing article that regards the future of our sub-community of Meteor.
Sacha Greif wrote a highly opinionated article about Meteor's f

[2016-01-21 09:37] Tallyb commented on #1120
@MilosStanic  I think it is a good discussion for the forums.meteor.com. We should also increase our presence there.

[2016-01-21 09:57] MilosStanic commented on #1120
I see there's already a topic about Sacha's article with a flamewar going on over there at https://forums.meteor.com/t/the-state-of-meteor-part-2-what-happens-next/16766

But I thought we need a place to make a strategy to counter the React initiative. It's not that I have anything personal against React, but they may steal the community away from us.

[2016-01-21 11:11] barbatus commented on #1120
@MilosStanic I’ve heard that MDG ditched ideas of Blaze2 based on React in favor of supporting Blaze, React, and Angular2 all together. I believe MDG still decides where to go not just famous people in the community even if they are Sacha or Arunoda.

[2016-01-21 12:39] dapids commented on #1102
Hi @yobre,

I personally use angular-translate for quite a long time and I'm very satisfied with it. ;)

Cheers,
David

[2016-01-21 12:46] yobre commented on #1102
Thanks David!

[2016-01-21 12:54] kamilkisiela commented on #1102
Same here, `angular-translate` works really well for me.

[2016-01-21 12:55] yobre commented on #1102
Thanks to all guys!

[2016-01-21 13:32] MilosStanic commented on #1120
Maybe angular-meteor site needs a forum, and/or blog. Forum would be needed for discussions like this, and blog would be nice for publishing articles about best practices and real-world use-cases.
Also, it would be nice of @Urigo and @barbatus to keep us a little more informed about the plans for the future of angular2-meteor.
I believe most of us are working on real-life angular-meteor applicatio

[2016-01-21 14:12] kamilkisiela commented on #1120
[code]
@MilosStanic I think [angular category](https://forums.meteor.com/c/angular) at meteor's forum is enough.

About blog, that is a good idea. Something like `guide.meteor.com` would be great. Especially with support from angular-meteor's community.

[2016-01-21 14:26] jacobdr commented on #1120
Happy to see this conversation going on. 

I think we should separate the topic of angular advocacy in the meteor community from an internal discussion of ways to improve our own angular-meteor community -- be that through new features on the website, meet ups, voting, etc. Strong work on the latter empowers the former. 

So on that topic I would like to propose: 

- Creation of email list for "us

[2016-01-21 14:41] plantsmiles commented on #1108
I've experienced a very similar thing. If i do the normal flow, login -> redirect to other page -> and then ask for Meteor.user() or Meteor.userId() it `usually` works.  But when i'm doing testing on that page where the page gets refreshed a lot, those methods don't work.  I realize I'm just testing...but its not *that* far fetched that a user would just do a simple refresh on that page, which wou

[2016-01-21 14:44] plantsmiles commented on #1112
Which version are you using?  I'm do this to get the callback result:

`Meteor.call('someSweetMethod', this.someParameter, (error, result) => {
});`

[2016-01-21 14:51] plantsmiles commented on #1120
Agreed, a place for us _cool_ people would be great.  I've tried a combination of posting stuff between stack overflow and the meteor forums in regards to angular help but it feels like they just get buried and forgotten.

Even though MDG has stated they want angular to be a big part of this community, it doesn't really feel like it sometimes.  Which is sort of scary for us using this for producti

[2016-01-21 14:56] skyboys22 commented on #1112
i'm using v 1.2.1
you're method don't work for me, i must add
zone.bind (error, result) => { })
but if i use after zone.run , i will have error

[2016-01-21 14:58] #1117 closed

[2016-01-21 14:58] plantsmiles commented on #1112
Ah right, I think the api changed...I'm using 1.3.1.

[2016-01-21 17:27] Tallyb commented on #1110
@DerekFong1004 After looking at all the recent issues, I am quite worried about moving to 1.3.5, Will probably wait for 1.3.6....
Good to know that your pattern worked in 1.3.4. I will consider adopting it.

[2016-01-21 17:42] elmor34 commented on #1119
My app work with following versions

[code]

When I change angular-meteor to 1.3.4  or 1.3.5 or meteor-client-side to 1.2.1, my app did not work.
I opened issue 's but, did not get any response.

I always selected, 1.4.8 when there is a conflict in versions, although Ionic is working with 1.4.3.

[2016-01-21 18:38] agnelnieves opened #1122 "yo angular-meteor: directive myDirective (GENERATOR HAS ALREADY BEEN RUN)"
Greetings,

I'm trying to use the yo directive generator to make a new directive but it says:
[code]
Here's what I typed:
[code]
I tried closing and re-openning the cmd, also tried to Install generator-angular-meteor (update), computer restart, and still has the same error.

What could be happening and how can I fix it?

Thanks in advace

[2016-01-21 19:13] kamilkisiela commented on #1122
I think you should post an issue [here](https://github.com/ndxbxrme/generator-angular-meteor/issues)

[2016-01-21 20:09] sferoze opened #1123 "While building package app-core: error: No plugin known to handle file 'client/index.html'."
I am getting this error in the console each time I try and run my app

I am starting with a blank meteor app and am trying to bootstrap an angular app within a package.

`While building package app-core:
   error: No plugin known to handle file 'client/index.html'. If you want this
   file to be a static asset, use addAssets instead of addFiles; eg,
   api.addAssets('client/index.html', 'client').

[2016-01-22 04:03] jessonjoy opened #1124 "How to find out when subscriptions are ready?"
Hello,

Looking to find out how to find out if subscriptions are ready similar to Template.subscriptionsReady?

Thanks

Jesson

[2016-01-22 08:29] ThomsC commented on #1124
[code]
http://www.angular-meteor.com/api/1.3.2/subscribe

[2016-01-22 13:03] MilosStanic commented on #1124
@ThomsC not correct, the third argument to `subscribe` is an object with `onReady` and `onStop` methods.

[code]
from the same page.

[2016-01-22 13:18] kamilkisiela commented on #1124
@MilosStanic

https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/modules/angular-meteor-reactive-scope.js#L40

So it can be `object` (`{ onReady() {}, onStop() {} }`) and `function` (only onReady callback)

[2016-01-22 16:04] MilosStanic commented on #1124
Ah, okay, I didn't know that, I apologize @ThomsC @kamilkisiela

[2016-01-22 18:10] agnelnieves commented on #1122
@kamilkisiela Will do! Thanks man!

[2016-01-22 22:35] kokokenada commented on #878
How did this end up? When I step into package code, it shows the wrong line of code for me.  I've addded pbastowski:angular-babel@1.0.7 but I can't debug.  Is there a work around?  (Also running Windows...)

[2016-01-22 22:55] mgrivera commented on #878
Hi @kokokenada,

This is how this issue ended up. Note that this is a work around but worked *really* well for me (from that time to this moment). I don't know if @pbastowski  has released a new version of angular-babel that solved this. In the meantime, just have a look at issue #11 in angular-meteor-babel. This is the link:

https://github.com/pbastowski/angular-meteor-babel/issues/11

Hope this

[2016-01-22 23:45] kokokenada commented on #878
Thanks very much.  For anybody having the debugging problem, unticking "Enable JavaScript source maps", worked around the problem where the debugger showed the wrong line...

[2016-01-23 11:10] muehle28 opened #1125 "Query with sort - Variable undefined after update"
Hello,

I'm using Angular2 with Meteor. I do a query with sort followed by an update of the sortOrder variable of one Item, so that it flips position with another. Then I'm getting following error: Cannot read property 'name' of undefined. If the position stays the same and the sortOrder variable changes everything works fine. Also Inserts are working correctly.
[code]
[code]
[code]
Thanks
Michael

[2016-01-23 13:05] ralphbert opened #1126 "$rootScope._throttledDigest is not a function"
I have the following problem. I use the $auth package to wait for the current user in my routes like this:

    resolve: {
        currentUser: ['$auth', function($auth) {
            return $auth.requireUser();
        }]
    }

This fails with the following error:

[code]

Any ideas what's going wrong here?
Thanks!

[2016-01-23 16:55] MilosStanic opened #1127 "Server Side Rendering and SEO"
The age old question with Angular apps, and also, from what I see, with Meteor apps.

So, is it possible to use the [meteorhacks:ssr](https://github.com/meteorhacks/meteor-ssr), and how to do it? Any recipe?

[2016-01-23 20:31] mxab commented on #1127
Hi,
we use prerender.io for it. you can also run prerender on your own if you like

[2016-01-23 21:05] MilosStanic commented on #1127
@mxab
Thanks for answering.
I will consider that option.

What I actually want to do is the following:
I have an index.html for my angular app like this:

[code]

I want to be able to populate the section tag inner HTML with content from DB on the server. It would be static content in the sense there will be no variables to parse.
Is that possible?
In the outcome, the server will serve prerendered

[2016-01-23 22:46] mxab commented on #1127
I used this once
https://github.com/meteorhacks/meteor-inject-initial

[code]

[2016-01-23 23:30] MilosStanic commented on #1127
Thanks a lot @mxab
I will investigate.

[2016-01-23 23:30] #1127 closed

[2016-01-24 15:26] TWKDreamState opened #1130 "Meteor.call callback"
I've got the following code ...

    this.graphData = {};

    this.onclick = function (id){
        Meteor.call('mymethod', id, function (error, result) {
            if (error) {
                console.log('failed', error);
            } else {
                console.log('success', result);
                this.graphData = result;
            }
        });
    };

But the result does not get a

[2016-01-24 15:59] kamilkisiela commented on #1130
Try to assign `this` to variable out of callback (let's say `vm = this` and then use `vm.graphData`

[2016-01-24 16:53] TWKDreamState commented on #1130
I'm using...

    $reactive(this).attach($scope);

..at the start of the controller code. Weirdly, all seems ok in a normal function, just not within the Meteor.call. I must be missing something obvious ..!

[2016-01-24 17:12] TWKDreamState commented on #1130
OK. Even odder. If I use the following variation...

        this.onclick = (id) => {
        Meteor.call('mymethod', id, (error, result) => {
            if (error) {
                console.log('failed', error);
            } else {
                this.graphData = result;
                console.log('success', result);
            }
        });
    };

...it works, but only on the second click.

[2016-01-24 22:30] TWKDreamState commented on #1130
I've tried moving my code from a directive to a controller, removing 'this' and using '$scope' instead, I've tried to set 'vm = this' but from what I can tell, the Meteor.call callback does not seem to update the scope. It seems the data IS returned and assigned to the variable 'this.graphData' as the second click seems to update the $scope (assuming with the data returned from the first click!).

[2016-01-24 22:41] kamilkisiela commented on #1130
Now I see what the problem is. I was a little tired so didn't think clearly :)

Callback is not out of angular's scope.

Try to use `$q` promise and change `this.graphData` inside `.then()`.

In my projects I have service for wrapping `Meteor.call` in promise, it's very helpful.

[2016-01-25 01:09] Urigo commented on #1124
thanks everyone :)

[2016-01-25 01:09] #1124 closed

[2016-01-25 01:10] #1122 closed

[2016-01-25 01:14] #1102 closed

[2016-01-25 08:18] TWKDreamState commented on #1130
Hi, thank you for this. I struggled last night (also tired) but with fresh(ish!) mind the following works...

    function exampleController($scope, $reactive, $q) {
        var vm = this;
        $reactive(this).attach($scope);

        vm.graphdata = {};

        this.onclick = (id) => {
            getData(id).then(function(data){
                vm.graphdata = data;
            })
        };

[2016-01-25 08:23] stubailo commented on #1120
Personally, I think the Meteor forum would be an awesome place to have this discussion - I don't think the Angular-Meteor community is heard enough by the other people in the general Meteor community, so the place seems a bit skewed.

[2016-01-25 08:49] TWKDreamState commented on #1130
Final edit in case it helps anyone else...thanks for your help.

[code]

[2016-01-25 08:49] #1130 closed

[2016-01-25 08:50] TWKDreamState commented on #1116
This looks similar to my issue - hopefully it will help you.

https://github.com/Urigo/angular-meteor/issues/1130

[2016-01-25 09:16] skyboys22 commented on #1112
thank you for reply :) i will upgrade to 1.3.1

[2016-01-25 09:16] #1112 closed

[2016-01-25 10:06] atoftegaard commented on #1109
Please provide a way to suppress these annoying warnings, something like: `$provide.decorator('$angularMeteorSuppressWarning', function () { return true; });`

[2016-01-25 20:55] canac commented on #1088
@Urigo I patched angular-meteor to add getCollectionReactively for my application, but it seems like that is something that other users could benefit from. Is that a feature that you would be interested in including in angular-meteor? If so, I would be happy to submit a pull request for it.

[2016-01-26 02:28] dtruel opened #1133 "MongoError: The dollar ($) prefixed field '$slice' in '$slice' is not valid for storage"
Hello,

I am having a pretty basic issue with adding an element to an angular-meteor object array using angular@1.3.1.  Sample object  `$scope.customer` looks like this:

[code]

If I do $scope.contact.emails.push({id:"ajfhKEHfkhJKEi34"}), and then `$scope.contact.save()` I get the error `MongoError: The dollar ($) prefixed field '$slice' in '$slice' is not valid for storage`

I know that arrays i

[2016-01-26 04:18] anymos commented on #1126
+1, I have the same issue, it s not happening each time on my case, only when there is a loginIn in progress

[2016-01-26 05:16] dtruel commented on #1133
Sorry, it was an issue with something I had written in a collection hook!  Not meteor's fault.

[2016-01-26 05:16] #1133 closed

[2016-01-26 09:15] skyboys22 opened #1134 "update to Meteor 1.3.1"
Hello everyone,
i want to upgrade my meteor (1.2.1) to 1.3.1 but i don't find how to do it.
someone can help me ?
i'm in windows and when i write meteor update meteor, i got: you have the latest version
thank you

[2016-01-26 09:18] #1134 closed

[2016-01-26 13:05] sauliuni opened #1135 "Right usage of helpers or is it a bug"
Im having problems understanding how i need to use helpers, since the info outputs in console are misleading.

My use case: Im getting a cursor from a collection, and i extend it (similar to project) with a special attribute, that is needed to use jsTree:

[code]

Later in view i pass the 'tree' to the jstree (as e.g. vm.tree). If i preview this on chrome 47, the jsTree can build up the components

[2016-01-26 14:03] Deadly0 commented on #1088
Useful function, +1

[2016-01-26 14:29] saulide commented on #1135
Seems to be simmilar to https://github.com/Urigo/angular-meteor/issues/1110

[2016-01-26 17:28] kokokenada opened #1136 "Can't bower install"
Trying to add this to a new ionic instance:

[code]
Here is the environment:
[code]

[2016-01-26 19:06] sferoze opened #1137 "New Project Angular & Ionic getting WARNING: Tried to load angular more than once"
I am getting the warning in console `WARNING: Tried to load angular more than once`

The app still works just fine, but I do want to solve this issue.

I am developing this angular app inside a meteor package.

Here is how I am bootstrapping. I have an index.html

Then I bootstrap angular in app.js with code

[code]

If I comment out the bootstrapping code above the angular app does not work and s

[2016-01-26 20:07] Urigo commented on #1088
@canac want to create a pull request to add that function?

[2016-01-26 22:41] sebakerckhof commented on #1116
Yes, it is, but I believe it may be filed as a bug.

[2016-01-26 23:03] sferoze opened #1138 "Meteor Angular, Ionic and Cordova, apps open to white screen"
I am creating a new app with meteor angular, ionic and cordova.

I added platform iOS.

The app works perfectly fine in the browser

But when I do `meteor run ios` the iOS simulator opens to a white screen.

I inspected the dom in the simulator and noticed that angular has not bootstrapped.

I am using this code to bootstrap:

[code]

Notice the log statement in the onReady function. It is run, so

[2016-01-27 08:38] ThomsC commented on #1138
where have you put your `fonction onReady` it should be in `client/lib/app.js'

try to remove mobile-config.js and see what os going on you don't need it to run the simulator

`WebSocket connection to 'ws://localhost:3000/sockjs/297/cku0xuqw/websocket' failed: WebSocket is closed before the connection is established.`this happens sometimes when you don't have any subscriptions running it's not an

[2016-01-27 08:42] ThomsC commented on #1137
`WARNING: Tried to load angular more than once` it's a route problem. Sometimes the cache doesn't clean well so it is a nightmare to debug.
Try to isolate the route which is wrong one by one ...

[2016-01-27 09:38] yobre opened #1140 "How to call less.modifyVars() from angular controller?"
I'm using angular-meteor and [flemay:less-autoprefixer](https://atmospherejs.com/flemay/less-autoprefixer) for compile my less file.
I would implement color picker for change dinamically the bootstrap color of my template but the 'less' global variable is not exposed in my app.
How can call less.modifyVars() method?

Thanks

[2016-01-27 10:00] ozsay commented on #1137
I came across this warning when I had dependencies issues (not on an angular-meteor project though).

it happens when the angular script (`angular.js`) loads more than once.

example:

[code]

In meteor though, it manages the insertions of the scripts tags for you.
Can you check on the developer tools if the DOM contains more than one reference of the angular script?
Also, if you can share your re

[2016-01-27 10:22] SimoneGatti opened #1142 "ng-repeat weird behavior"
Hi all!
I created my first meteor app and I chose to use angular package.
I have 2 simple page: the first that lists items and allows to add and remove one of them, the second that shows item details. When the first page is loaded I see all items correctly. After I visited the details page, then ng-repeat show only one item duplicated many time. How you can see below (name - id).

<img width="1143

[2016-01-27 10:32] yobre commented on #1142
Hi Simone, i've the same problem.
Any ideas?

[2016-01-27 12:29] ozsay commented on #1116
With the new api that was introduced in the latest releases of `angular-meteor` which is closer to the regular `meteor` api, `angular-meteor` doesn't wrap Meteor calls anymore. So when you write `Meteor.call`, the actual `meteor` function is called without any wrap. And the callback function is not called in the angular scope, so you must call $digest yourself. Another solution is to do what @TWKD

[2016-01-27 12:39] ozsay commented on #1142
Can you provide the full app as a repository? (include all views and controllers)

[2016-01-27 12:54] sebakerckhof commented on #1116
yeah, I get why this happens, but I'd argue that a library that wants to integrate angular with meteor should provide this. Especially since it's not a large chunk of code to maintain.

[2016-01-27 13:01] bartvanremortele opened #1143 "ng-repeat and dburles:collection-helpers"
I have an issue with collection-helpers inside an ng-repeat. It works fine when working with a single object e.g.: book.author() but the same does not work inside of an ng-repeat. This behaviour is already described here: https://forums.meteor.com/t/does-dburles-collection-helpers-work-with-angular-meteor/12800/5 but as far as I can tell there is no solution for this yet.

[2016-01-27 13:09] yobre commented on #1143
the same problem in this issue: [#1142](https://github.com/Urigo/angular-meteor/issues/1142)

[2016-01-27 14:46] SimoneGatti commented on #1142
@ozsay @yobre Feel free to contribute <a href="https://github.com/SimoneGatti/track">here</a>.
The GitHub repo url is: https://github.com/SimoneGatti/track.git

[2016-01-27 15:10] sferoze commented on #1138
@ThomsC Hi, yes the onReady is in client/lib/app.js

Still it does not seem to bootstrap the app. What else could I try?

[2016-01-27 15:26] ozsay commented on #1142
I upgraded angular-meteor version to the latest (1.3.5) and everything worked fine.

try to change to `angular@1.3.5` in the packages file

[2016-01-27 16:10] SimoneGatti commented on #1142
@ozsay It works also for me. Thank you!
Follow up some questions:
Why command "meteor add angular" download 1.3.4*, but <a href="https://atmospherejs.com/meteor/angular">here</a> show that last release is 1.3.5? Isn't 1.3.5 a stable version yet?

[2016-01-27 17:12] SimoneGatti commented on #1142
OK, finally I got it!
Use angular 1.3.5 instead of 1.3.4* doesn't matter. The most important thing is upgrade to angular-meteor-data@0.1.0, so you can use also angular-with-blaze 1.3.4 with urigo:angular-blaze-template 0.3.0.
Cool!!

[2016-01-27 22:13] kusmierz commented on #1108
+1

[2016-01-27 22:20] veeramarni commented on #1110
I'm getting same warnings even in 1.3.4.

[2016-01-27 23:30] DmitryEfimenko commented on #1110
For what it worth, I'll show how I managed to get rid of warning messages. The message says that `helpers({...})` will be deprecated in 1.4, so here is a way to write code without helpers. Example in TypeScript:
[code]
Not sure if that's the right way to do it, but it gets rid of warnings.

[2016-01-28 10:46] ozsay commented on #1108
@ThomsC Can you provide a repository for reproduction?

[2016-01-28 10:49] ozsay commented on #1143
@bartvanremortele Can you check if [this](https://github.com/Urigo/angular-meteor/issues/1142#issuecomment-175688417) helps

[2016-01-28 11:03] kusmierz commented on #1108
dunno if the problem is the same, but I've the issue even in tutorial app

[code]

Use case:

1. register
1. create at least one private party
1. logout
1. login (it should redirect you to /parties page)

works perfect. Now update things.

[code]

ok, now do the same:

1. register
1. create at least one private party
1. logout
1. login again (it should redirect you to /parties page)
1. on /parties

[2016-01-28 11:03] kamilkisiela commented on #1108
@ThomsC Could you look into developer tools (`Network` tab in Chrome) and check websocket connection?

Make a quick scan, check if there is `SUB` action for proper subscription (exactly the same as you mentioned, that one with `this.userId` condition.

[2016-01-28 11:04] kamilkisiela commented on #1108
@kusmierz I think a little workaround for that would be wrapping `this.subscribe()` in `$timeout`.

Could you say if it solves a problem?

[2016-01-28 11:41] ozsay commented on #1108
@kamilkisiela I didn't have to logout and login. I registered, created a private party and it didn't show up. Can you check if register and create a private party works for you (after update).

[2016-01-28 11:45] kamilkisiela commented on #1108
@ozsay Ok, i'm going to look at it in a moment.

[2016-01-28 11:55] bartvanremortele commented on #1143
after upgrading to 1.3.5 `meteor add angular@1.3.5` this issue seems to be resolved. Thank you.

[2016-01-28 11:55] #1143 closed

[2016-01-28 11:57] kamilkisiela commented on #1108
@ozsay Doesn't work.

[2016-01-28 12:48] ozsay commented on #1108
It looks like in the newer version there are alot of `unsub` messages to the server. Will check what is going on

[2016-01-28 12:55] kamilkisiela commented on #1108
@ozsay I'm currently looking into it. I can't work right now because of it :)

Tracker computation of subscription is `invalidated` and i'm seeking the reason.

[2016-01-28 13:44] kamilkisiela commented on #1108
@ozsay Subscriptions work fine but only when there is no cursor in helpers.

Something like this won't work.

[code]

But this will.
[code]

[2016-01-28 14:07] Hongbo-Miao opened #1144 "Customize signup/login (angular 2.0 tutorial)"
The tutorial uses ng2-meteor-accounts-ui. Is it possible to add a part in the tutorial to introduce how to customize signup/login?

1. How to sign up with both **profile name** and **email** together (in Step 8 - User accounts, authentication and permissions). Because people usually prefer show their profile name instead of their own email.
2. Style (this may be added later in the Step 17 - CSS)

[2016-01-28 16:36] Philip-Nunoo commented on #1123
@sferoze try adding the "templating" package as part of your dependency packages. :)

[2016-01-28 16:44] sferoze commented on #1123
@Philip-Nunoo thanks but actually angular should be handling the templating. The code I pasted works now. I think there was some error in the build process before. I think the old package.js was not updating. Anyways it is working now without any change.

[2016-01-28 16:44] #1123 closed

[2016-01-28 17:16] SimoneGatti opened #1147 "From Meteor reactivity to view through method callback"
Hi all!

I need to show/use in view some data resulting from the execution of a Meteor method (async), the latter fired by a change in mongo collection. (If a document change, then I can see evidence in another browser tab).

First I used simple scope variable
<pre>
angular.module 'trackerApp'
.controller 'UsersCtrl', ($scope) ->

  $scope.usersClosed = []

  $scope.getClosed = () ->
    Meteor.ca

[2016-01-28 17:27] pacozaa opened #1148 "subscription is not working after using $state.go()"
I have two pages
first it is login page
second it is customer data page

then after login success
I use
$state.go('customer');
to redirect to customer page but the collection in helper in customer page is not return anything
but
if I press refresh or type in url direct in the browser
the collection in helper in customer page will return everything I expected.

1. Everything in helper is works fine

[2016-01-28 20:13] Urigo commented on #1116
will be fixed in the next version

[2016-01-28 20:22] TWKDreamState commented on #1120
I do not know if this is relevant, but I'd thought I'd add it. I'm currently a leaner in all things Angular and Meteor.

I work in education and logged in to my schools Microsoft Education Office 365 account where I was greeted with a notice that I could test their new Admin Console. Interestingly, it all seems they have moved to Angular. It's a beta so I guess this might change....

But, it got m

[2016-01-28 22:46] Hongbo-Miao commented on #1144
Just found it in the tutorial. So now just need wait Step 17 - CSS
http://www.angular-meteor.com/tutorials/socially/angular2/using-and-creating-angularjs-filters

[2016-01-28 22:46] #1144 closed

[2016-01-29 04:26] leizard opened #1154 "$scope.getReactively always returns undefined"
Hi,
I use angular-meteor package on Bower.
In my app, I use $scope.getReactively like this:

[code]

The subscribe always fail because $scope.getReactively always return undefined. However,  `$rootScope.getReactively('companyId')` still working. I tried some ways like

[code]

But `$scope.getReactively('startPoint')` always return undefined. Do I get it wrong somewhere ?

[2016-01-29 08:14] mixersoft commented on #1119
same. I'm using `angular-meteor#1.3.3` at the moment.

[2016-01-29 08:44] atoftegaard commented on #1110
It's the same damn drill after every minor update. Spending hours on debugging, cause some breaking change was introduced. This project is way too unstable. Testing before releasing? No? Anyone?

[2016-01-29 11:29] kamilkisiela commented on #1148
I think it's related to #1108

[2016-01-29 11:36] kazkis commented on #1125
Hi,
I think I have run into the same problem. I tried to look for help about two weeks ago [here](http://stackoverflow.com/questions/34818585/angular2-meteor-variable-undefined-after-a-find-with-sort-in-a-subscribe-fun) on Stackoverflow but no one has been able to help me ( I also included a sample project to replicate the problem).

[2016-01-29 12:18] pacozaa commented on #1108
+1 looking forward for solution.

Should I switch back to 0.0.9?

[2016-01-29 12:23] kamilkisiela commented on #1108
I switched back to 0.0.9 and it works fine

pt., 29.01.2016, 13:18 pacozaa użytkownik <notifications@github.com>
napisał:

[2016-01-29 12:50] pacozaa commented on #1108
@kamilkisiela I don't have angular-meteor-data package. so which one I should switch back?
![stategoissue](https://cloud.githubusercontent.com/assets/3154089/12675996/2171f5e4-c6c1-11e5-8ac2-4fdefd5425d0.PNG)

[2016-01-29 12:53] pacozaa commented on #1108
@kusmierz  I follow your instruction

`    setTimeout(function(){
               $state.go('somestate');
             }, 200);   `

and it works fine!

[2016-01-29 15:44] Hongbo-Miao opened #1156 "Please explain this argument in the this.subscribe"
In the [tutorial](http://www.angular-meteor.com/tutorials/socially/angular2/privacy-and-publish-subscribe-functions), step 9.3, the function `this.subscribe` has an argument `true`. And if I change it to false or remove it, the progrom will not work well sometimes, which means here needs this `true`.
[code]
However, I didn't find any information from the [API document](http://www.angular-meteor.co

[2016-01-29 18:36] Urigo commented on #1142
Thanks @ozsay

[2016-01-29 18:36] #1142 closed

[2016-01-29 18:45] ozsay commented on #1147
The reason the callback doesn't rerender the view is because `$scope.$digest` is not running after the callback. Read my comment [here](https://github.com/Urigo/angular-meteor/issues/1116#issuecomment-175592538).

I'm not sure what you tried to do next, so I hope this solves your problem.

[2016-01-29 19:15] dotansimha commented on #1135
Hi @sauliuni
The return value of the helper function should be Cursor in order to create the **function** helper you wish to create.
In this case, the return value of `Trees.find()` is a `Mongo.Cursor` which is great, but running map will return another return value (`Array`) so in this case, you will create a **value** helper.
If you wish to do some of your own logic to the return values, use `tr

[2016-01-29 19:15] #1135 closed

[2016-01-29 19:30] Urigo commented on #1113
@kamilkisiela fixed that in the docs, the example should work now

[2016-01-29 19:30] #1113 closed

[2016-01-29 20:33] Deadly0 commented on #1110
@atoftegaard 100% agree, a lot of critical issues in 1.3 which block developing and still no fixes.

[2016-01-29 20:55] DrDanRyan opened #1159 "Angular 1.5"
I know there are some breaking changes in Angular 1.5, but I am eager to start using the new `component` directive. Is angular-meteor going to start using 1.5 soon after it is released, or is there a plan to take it slow because of the breaking changes?

Is there an easy way to swap out the angular dependency and give it a go before the project officially switches it's dependency?

[2016-01-29 23:47] #1088 closed

[2016-01-30 00:38] DmitryEfimenko opened #1161 "subscribe onReady is called before Client-side collection is updated"
It appears I'm running into the the exact behavior that is described in the new Meteor Guide's section [Publication behavior when arguments change](http://guide.meteor.com/data-loading.html#publication-behavior-with-arguments), and I'm wondering if this could be improved for angular developers. Here is my simplified code (TypeScript):
**Server**
[code]

**Client Controller**
[code]
Please see the

[2016-01-30 11:27] mervynteo commented on #978
Im having this problem too using meteoric which has no angular at all, so I can confirm that issue is as what @DAB0mB has mentioned. However adding <div> works for some but not all. It only happened when I upgraded my meteor to 1.2+. Let me know of the solution if any ...perhaps would post it to meteor devs too.

[2016-01-30 18:11] Hongbo-Miao opened #1163 "No meteor.d.ts file in typings folder"
Before there is a **typings/meteor/meteor.d.ts** file.

After updating from 0.3.7 to 0.4.0. The program does not download **meteor.d.ts** by itself.

So when run the app, it shows:

**EDIT: es6-promise.d.ts and es6-shim.d.ts are also not downloaded.**

[2016-01-30 18:41] Tallyb commented on #1163
+1

On Sat, Jan 30, 2016, 20:11 Hongbo Miao <notifications@github.com> wrote:

[2016-01-31 05:21] Splaktar commented on #1163
I saw this as well and opened https://github.com/Urigo/meteor-angular2.0-socially/issues/41 to track it and provide some workarounds.

[2016-01-31 06:03] Splaktar commented on #1120
Thanks for the link to the [Angular-Meteor forums](https://forums.meteor.com/c/angular)! I wish that it was more prominently featured as a primary link on the angular-material.com site and in Uri's ngConf/AngularConnect/etc presentations.

[2016-01-31 06:06] Splaktar commented on #1137
This can also happen if your routing gets messed up. I had this issue recently and fixed it by adding `.html` to the end of all of my templateUrl definitions.

[2016-01-31 08:02] dotansimha commented on #1110
https://github.com/Urigo/angular-meteor/issues/1110#issuecomment-176645131

Looks like there are a few misunderstandings here.
Let’s start with @DerekFong1004 problem because that’s what the issue is about.

So let’s understand what `helpers` possible values are:
You can create a **Function helper**, by providing a Cursor, or function, inside the return value of the helper method, for example:
[co

[2016-01-31 08:06] jessonjoy commented on #1138
same issue here. runs on browser but not in ios device... onReady doesnt get called on angular bootstrap

[2016-01-31 08:57] barbatus commented on #1163
Yes, most typings are available on [DefinitelyTyped](http://definitelytyped.org/), so the right way will be to install them from there. From other side, typings created specially for packages or declaration files that are distributed via NPM packages (like in case of Angular 2) will be still installed by Angular2-Meteor and related packages.

In order to install Meteor typings, you will need to ru

[2016-01-31 09:17] Urigo commented on #1163
deployed the new changes

[2016-01-31 09:17] #1163 closed

[2016-01-31 10:07] Tallyb commented on #1163
@barbatus  tsd is marked as deprecated, and typings should be installed.

[2016-01-31 10:52] DerekFong1004 commented on #1110
@dotansimha Thanks for the detail - I had a read on the example code and in [Step 12.18: Add the helper and update the parties subscription](https://github.com/Urigo/meteor-angular-socially/blob/e04ea9c8e4aa6b42ee7c6d8d0f1a70974fd2339a/client/parties/parties-list/parties-list.component.js):

[code]

If `helpers` expects a return of `Mongo.Cursor` object then why `partiesCount` returns a value?

Al

[2016-01-31 11:42] Hongbo-Miao commented on #1163
thanks!

[2016-01-31 12:27] doronsever commented on #1110
It's really too bad that you are doing these kind of changes on a 'patch' level upgrade...
This is a very big change(And a breaking one) and should had been noticed before...

Any way, i'm trying to fix the 'deprecated' notice with out any help...
The code below still makes this notice.
`
  this.agreementID = $state.params.agreementID;
  this.helpers({
    assetAgreement: () => {
      return Asse

[2016-01-31 17:44] DmitryEfimenko commented on #1110
@dotansimha I can confirm that returning am instance of `Mongo.Cursor` gives warning. Is it possible we are on some old unfixed version?

[2016-01-31 18:33] barbatus commented on #1163
@tally right, I am fixing it already. thx for pointing that out.

[2016-02-01 00:38] Urigo opened #1169 "Update videos for tutorial chapters"
Request for help from the community to screencast yourself explaining and performing the updated Angular1-Meteor-Socially chapters.
It can be even one chapter for each contributor.

So that we won't have outdated videos very soon you should use the [Angular1-Meteor 1.4.0-beta release with Npm support](https://github.com/Urigo/angular-meteor/milestones/1.4.0-beta.1).

List of chapters to keep track

[2016-02-01 01:14] Urigo commented on #958
OK just to summarize the solution.
If adding a template from a package, use:

    templateUrl: "/packages/your_package_name_here/client/template.html"

Also look at the detailed answer here: https://github.com/Urigo/angular-meteor/issues/958#issuecomment-166897834

[2016-02-01 01:14] #958 closed

[2016-02-01 07:33] pacozaa opened #1170 "can not use this.$emit?"
I've try to used this.$emit  in the some.component.js
`this.$emit('myCustomEvent', 'Data to send');`
but the browser show the error that
`$emit is not a function`
then I end up using
`$scope.$emit('myCustomEvent', 'Data to send');`

[2016-02-01 08:36] kamilkisiela commented on #1170
Reactive component has only meteor-mongo related things. Why it should also contain `$emit`, `$broadcast` and `$on`?

It works in different direction, `Scope` is extended by `ReactiveScope`, not the other way.

[2016-02-01 10:30] pacozaa commented on #1170
@kamilkisiela Thank you. I'm trying to send data from $mdDialog(angular material) to their parents.
Do you know how to do it?

[2016-02-01 10:48] nunof07 commented on #1110
Returning a cursor also gives the warning for me.

But what about the following examples, that don't return cursors, but were also easily done with helpers. If this is going to be deprecated, how should it be done instead?

[code]

None of these return a cursor, but we need another way to do this.

[2016-02-01 11:06] SimoneGatti commented on #1147
@ozsay Thank you for your answer!

About <a href="http://www.angular-meteor.com/api/1.3.2/autorun">autorun</a>:
Can it be used like <a href="http://docs.meteor.com/#/full/tracker_autorun">tracker autorun</a>? <i>- ...you can monitor a cursor (which is a reactive data source).. -</i>
Because code below doesn't work
<pre>
$scope.autorun (computation) ->
    Reports.find()
    Meteor.call('reports.ge

[2016-02-01 11:44] Deadly0 commented on #1170
@pacozaa look at the example https://material.angularjs.org/latest/demo/dialog
To send data back you can use ```$mdDialog.hide(answer)``` . ```answer``` is your data.

[code]

[2016-02-01 11:46] pacozaa commented on #1170
@Deadly0  Thank you :)

[2016-02-01 13:21] dotansimha commented on #1110
@nunof07 @DmitryEfimenko
Can you please provide your `.meteor/versions` file?

[2016-02-01 13:34] nunof07 commented on #1110
@dotansimha here is the complete file I'm using in an app.

[code]

[2016-02-01 13:55] sauliuni commented on #1110
I have the same problem about the warnings. The only helper i use is:
[code]
Strangly i can work with the data provided by this function in Chrome/Safari, but it breaks in Firefox

[2016-02-01 16:56] DmitryEfimenko commented on #1110
@dotansimha here is my `.meteor/versions` file:
[code]

[2016-02-01 21:41] TWKDreamState opened #1173 "Dependency injection"
Can I just check? After many hours bug hunting...

The only way I can get a production (ie. minified version) following the tutorial advice (but in my own app) and trying to use best practice with controllerAs and Components is to inject into the directives....

    selectSurveyController.$inject = ['$scope', '$reactive'];

...is this correct?

[2016-02-02 05:38] leizard commented on #1154
I update angular-meteor to 1.3.5 and it work again. don't know why but i'm happy it work, took me 1 days :(.

[2016-02-02 05:38] #1154 closed

[2016-02-02 09:09] skyboys22 opened #1174 "any update to use angular material 2 ?"
hello,

is there possibility to use angular material 2 with angular2-meteor ?

version of angular2 used is not complete, someone can guide me to fixe it !

thank you

[2016-02-02 09:44] fancyer opened #1175 "How to distinguish between logout by other client and and logout by myself?"
I need to alert current client when logged out by other client.
I know that watch $rootScope.currentUser or use autorun can catch a logout, but how do I know it is from other client or "myself"?

Is there "event:logoutByOtherClients" or something can catch?

[2016-02-02 10:23] cubitworx commented on #1030
@ThomsC Could you please reference the pull request you are referring to in your last comment. Thanks!

[2016-02-02 10:24] cubitworx commented on #1030
Hopefully the following will help someone else...

I was adding the `angular` package to my meteor application expecting `ng-annotate` to be automatically included so that I did not have to provide annotations; as per [the tutorial](http://www.angular-meteor.com/tutorials/socially/angular1/dynamic-template).

However, I was still coming up against the same `explicit annotation` error as listed abo

[2016-02-02 10:39] dotansimha commented on #1110
@nunof07 @DmitryEfimenko
Hi, just verified and you are right. we have a little bug with the latest version.
As I said before, your code looks fine.. we used the method that printed those `deprecated` warnings inside our code.
Sorry for all the confusion.. For the moment, keep your code the same, your code is fine and the `deprecated` warning will be gone in the next version!

[2016-02-02 10:49] pacozaa opened #1177 "Can not subscribe CollectionFS"
I have try to subscribe CollectionFS but still not working. I will show what I've try to do so far.

First in my model folder

[code]
Second in my server folder
[code]

Third in my component

[code]
I use code above to to print exist row which should print (there is a file in the collection)
`Autorun!! 1` but I still got `Autorun!! 0`
So you may wondering why I sure that there is a file in the col

[2016-02-02 12:50] Urigo opened #1178 "Release Angular1Meteor through Npm"
- [ ] expose Angular1Meteor through Npm as default.
- [ ] use it in an Atmosphere package to be compatible with Meteor versions before 1.3.
- [ ] expose old legacy code to Npm as well as older version 1.2

[2016-02-02 13:00] kamilkisiela commented on #1178
Only things that could be exposed in npm are: `angular-meteor-data` and `angular-meteor-auth`.
Compilers stays in atmosphere.

Names in npm:
`angular-meteor-data` as `angular-meteor`
`angular-meteor-auth` stays the same

What you all think about using webpack?

I prepared an example how it would be look like.
https://github.com/kamilkisiela/angular-meteor/tree/v1.4.x-npm/packages/angular-meteor-da

[2016-02-02 13:55] #1148 closed

[2016-02-02 13:56] #1170 closed

[2016-02-02 14:34] introrse commented on #1126
I had the same bug, but when I upgraded to the latest version of angular-meteor it went away.

Just before that I had the suspicion that throttledDigest() was supposed to run the $digest angular inner loop at some limited frequency, but didn't test it before the upgrade.  Good luck!

[2016-02-02 14:58] cubitworx commented on #958
Just to add to the post about the templateUrl being:

    templateUrl: "/packages/your_package_name_here/client/template.html"

If your package has a prefix then you need to include the prefix before the package name with a semicolon as a separator within the url as follows:

    templateUrl: "/packages/your_prefix_here:your_package_name_here/client/template.html"

I seem to remember somewhere tha

[2016-02-02 20:16] TyrionGraphiste opened #1179 "Issue when starting an application"
Hi, I'm new with angular-meteor and just get an issue that I don't understand.
I'm trying to run meteor after linked angular 2 to my app, but when I meteorize I get this issue :

                                                throw(ex);

So I added Angular 2 with **meteor add urigo:angular2-meteor**, I removed **Blaze** and **ecmascript**, but it's not working as wanted.

I'm following exactly th

[2016-02-03 00:00] Deadly0 commented on #1177
@pacozaa, try to return mongo cursor instead of number in helper.

[code]

By the way, there are a lot of bugs with reactivity and helpers in 1.3.5. Wait for 1.3.6, i guess, it will be fixed soon.

[2016-02-03 06:36] niketaB opened #1180 "How to integrate Ground db in angular-meteor app"
I need some guidelines to integrate ground DB with Angular-ionic type of application.
What exactly, i am doing is,
1. I have ionic-angular application
2. I am using angular-meteor package in to Ionic application, to get meteor packages and functionality.
Now I want to use GroundDB, which is meteor package in to my App.
Is the ground db package available with angular-meteor package ?
Please let us

[2016-02-03 09:06] iguissouma commented on #1119
Maybe the session package is missing, can you try to add it!

`meteor add session`

[2016-02-03 13:26] ozsay commented on #1105
Hi, we are currently working on 1.3.6 which is a whole refactor to the code.

Can you test your project with the version from https://github.com/ozsay/angular-meteor/tree/1.3.6?

[code]

and follow the [instructions](https://github.com/Urigo/angular-meteor/blob/master/CONTRIBUTING.md#run-local-angular-meteor-in-your-project) for loading the local copy of `angular-meteor`.

[2016-02-03 13:31] ozsay commented on #1108
@kamilkisiela @pacozaa @ThomsC @burock

The issues with `socially` seems to be fixed with 1.3.6.

Can you test it in your projects to see if any other issues raise?

we haven't published it yet so you'll need to run it locally (I explained it [here](https://github.com/Urigo/angular-meteor/issues/1105#issuecomment-179228637)).

Thanks

[2016-02-03 13:49] Deadly0 commented on #1105
@ozsay got error ```Error: [$injector:unpr] Unknown provider: $meteorProvider```

[2016-02-03 14:06] ozsay commented on #1105
Can you share your repository ?

If not please show the `versions` files located in `.meteor` folder

[2016-02-03 14:16] Deadly0 commented on #1105
After cloning angular 1.3.6 repo my dependencies were updated from ```angular@1.3.4``` to ```angular@1.3.5``` but not 1.3.6. Maybe i did something wrong?

[code]

[2016-02-03 14:32] ozsay commented on #1105
we haven't updated the versions in the repo yet, but I see the problem now. `$meteor` was deprecated since 1.3.0. In 1.3.6 we removed it accidentally. I will talk with @Urigo about that.

[2016-02-03 14:43] ozsay commented on #1175
by "other clients" you mean the same user logs in from 2 different devices?

[2016-02-03 15:23] Deadly0 commented on #1105
@ozsay ok, i have replaced ```$meteor``` with ```Meteor``` and now it works.

Now this example hangs up the browser
[code]

Interesting that if use deep watch it just not works. ```getCollectionReactively``` hangs up the browser too.

[2016-02-03 15:31] jsantana90 commented on #1154
that was weird, I was having the same problem and updated angular to 1.3.5 and it fixed it. Thanks!

[2016-02-03 23:31] DmitryEfimenko commented on #1110
The question regarding returning Cursor is clarified. Thanks for that.
Now it's only unclear what to do in the cases specified by @nunof07.
Any pointers regarding that?

[2016-02-04 00:34] Hongbo-Miao opened #1181 "Hmm.. the website angular-meteor.com is down"
I am not sure whether this is place to report. But the website [angular-meteor.com](http://www.angular-meteor.com/) has been down a while.

[2016-02-04 01:09] Deadly0 commented on #1181
Can't open website too.

[2016-02-04 02:34] BradleyFaught commented on #1181
Website is still down, just so you guys know. Great Tutorial btw.

[2016-02-04 03:07] fancyer commented on #1175
yes, and the new client will logout old

[2016-02-04 08:09] berkaey commented on #1181
yeap same here

[2016-02-04 08:57] ozsay commented on #1175
Well I don't think that there is an official implementation (not in `angular-meteor`nor `meteor`) since it's looks to me like a specific need. Maybe there is a package for it in `atmosphere`.

[2016-02-04 09:13] fancyer commented on #1175
thanks for your comment.
unfortunately I haven't find package for this yet. I will try client-side solution again.

[2016-02-04 09:17] berkaey opened #1182 "Any other way to update easily?"
hey after a day trying to figure how can update a document with the new api. I did this
[code]

with old api I could do this in few lines with autobind etc. in this case, is my approach is correct or what should I do?

[2016-02-04 09:22] ozsay commented on #1175
In the users collection meteor keeps all the login tokens under `user.services.resume.loginTokens` (each logged in client has a login hash). You can publish that data to the clients and then observe the changes in this array to detect user logouts in different clients.

[2016-02-04 12:21] Deadly0 commented on #1182
@berkaey if you asking about this line ```Settings.update({"_id":id},{$set: update})``` than yes, it's  correct approach.

[2016-02-04 12:22] Deadly0 commented on #1105
@ozsay please, let me know if you can/can't reproduce the bug.

[2016-02-04 12:27] ozsay commented on #1105
@Deadly0 sorry for the wait. I will be able to test this maybe only in a few hours.

It would be best if you share the repository / create a new project that will produce the bug.

[2016-02-04 12:40] berkaey commented on #1182
I mean the whole thing. for example while subscribing I cant give null to second paramater so it could be more readable or like before is there a way to autobind things? and also I cant save before removing the id from updated obj. is it happens to me only or is this also normal?

[2016-02-04 12:48] rafaelb commented on #1181
@Urigo angular-meteor.com is down

[2016-02-04 13:15] jacobdr commented on #1175
That sounds like security vulnerability city to me. 

@fancyer, in the future please provide a much more detailed question and also walk through the user story. It is much easier for the community to help when they are provided context. 

One alternative (maybe) is that you could use the user-agent provided by the browser to try to implement this feature. While the user is logged in you could send

[2016-02-04 13:39] davidmoret commented on #1181
Indeed..
Is there another place to see the lastest api doc ?

[2016-02-04 14:16] Deadly0 commented on #1182
@berkaey in most cases you no need to use $watch and onReady handler, but i cant suggest you anything because not enough code published. What is ```Schemas``` and ```slug``` ? Why do you use ```$rootScope```. Why do you use ```$reactive(this).attach($scope)``` and ```$scope``` together?

[2016-02-04 14:17] Urigo commented on #1181
Fixed.
I'm keeping it open because there is something I need to do to make it more permanent..

[2016-02-04 14:37] davidmoret commented on #1181
Thanks !

[2016-02-04 14:58] fancyer commented on #1175
@jacobdr Thanks for your advice, I will do better next time.

It seems there is no simple client-side way for this, I will try your suggestion.

Thanks for you all.

[2016-02-04 15:06] #1181 closed

[2016-02-04 15:06] ozsay commented on #1175
@jacobdr All these tokens are available to the client without this publication. meteor saves them in the `localStorage` and uses them to perform auto-login when you refresh the page\ reopen the app (in a later time).

[2016-02-04 15:22] jacobdr commented on #1175
@Oz you're solution was clever, and you are right about availability of the
tokens.

However, but I wouldn't call the Meteor security situation impressive by
any means. The fact that passwords are sent unencrypted (hashed, but
unencrypted) over the wire by default is really not ideal. These tokens
also seem like a ripe attack vector.

On Thu, Feb 4, 2016 at 10:06 AM, Oz Sayag <notifications@github

[2016-02-04 21:42] berkaey commented on #1182
this is a code from a private meteor package and the real app has the Schemas obj. and when it loaded. it should trigger this so $scope.form be filled with necessary information. I'm using $rootScope because now $scope has the settings object so I need to trigger that saveSettings in some other view so I use it like this.

basically I wanted to do
1. Get Settings with specific "slug" (it is like u

[2016-02-05 09:01] berkaey commented on #1110
what about this ?
[code]
I'm getting this
[code]
this returns object not a Cursor but still valid(proper) way to get data on Meteor right?

[2016-02-05 09:32] Urigo commented on #1116
We will add a `this.call` which has the same API as `Meteor.call` but it will run a digest cycle after the callback has fired

[2016-02-05 09:34] Urigo commented on #1105
@Deadly0 can you please share a repo with a reproduction?
It looks like that there is a good possibility that it relates to other parts of the code and it would be easier to find and fix it with a full app

[2016-02-05 09:37] sebakerckhof commented on #1116
Sounds good

[2016-02-05 09:39] Urigo commented on #1109
good idea, will be added in the next version

[2016-02-05 09:41] Urigo commented on #1126
@ralphbert does it happen to you with 1.3.5?
if so, does it happen to you with the current [master](https://github.com/Urigo/angular-meteor/issues/1105#issuecomment-179228637)?

[2016-02-05 09:47] Urigo commented on #1175
@fancyer I'm not sure about your use case, does `[Meteor.Meteor.logoutOtherClients](http://docs.meteor.com/#/full/meteor_logoutotherclients)` answers your use case?

[2016-02-05 09:48] Urigo commented on #1138
@sferoze can you share a reproduction?
also, what machine are you running on?

[2016-02-05 09:55] Urigo opened #1183 "Run socially on 1.3.6 branch and make sure it works properly"

[2016-02-05 09:56] Urigo opened #1184 "Release 1.3.6-beta.1 and check all existing issues"
- [x] Run `bundle-min.sh` to create the bundle
- [x] Upgrade versions of the packages
- [x] Publish `angular-meteor-auth` to bower https://github.com/Urigo/angular-meteor-auth/issues/1
- [x] Make sure socially works with the published packages
- [x] Update docs to correct source code lines

[2016-02-05 09:57] Urigo opened #1185 "Fix all Bithound issues"

[2016-02-05 09:58] Urigo opened #1186 "Double check docs for 1.3.6"
Make sure no breaking change from 1.3.5 and that all the needed info is there (by issues opened as questions)

[2016-02-05 10:23] Urigo commented on #1178
@kamilkisiela sounds great.
It's also aligned with Angular2-Meteor where the process will be:

[code]
so in Angular1-Meteor it might look like:
[code]

we also are using Webpack there so Webpack sounds great.

[2016-02-05 10:32] kamilkisiela commented on #1178
@Urigo May I do something in that direction so we can already work on it in `v1.4`?

`v1.4.x` branch is rapidly updated so should I still wait? Or may I prepare PR so everybody could switch into angular1-meteor with build process (`webpack`)?

[2016-02-05 10:35] kamilkisiela commented on #1178
@Urigo And I think we should use some code standards to keep code clean also to prevent silly mistakes like using not defined variables etc. My proposal is to use `eslint` with `airbnb`'s rules with few changes.

We're using eslint in `angular2-now` and it works great :)

[2016-02-05 10:50] fancyer commented on #1175
@Urigo Let's make a "user story".

I have one iPhone, so do my girlfriend, both of them installed "WhateverApp".

I have logged in on my phone. My girl knows the password. One day she login with my account on her phone, and my "whateverApp" logged out by her login.

What I want is the App should ALERT me when I'm logged out by her, not just delete my login state silently.

So the technical problem

[2016-02-05 11:38] Urigo commented on #1178
@kamilkisiela I think that this weekend we will close a beta for 1.3.6 and then use your change in 1.3.7.
So let's wait for Sunday for the Npm branch.
About the code cleanup I think that's a great suggestion.
Can you open it as a separate issue to track?
also, do you think we could connect it to Bithound?

[2016-02-05 11:38] Urigo commented on #958
@cubitworx do you think the current docs are enough?
would you add/change something about this?

[2016-02-05 11:47] ozsay commented on #1109
@Urigo In 1.3.5 there was a mistake with the warnings as @dotansimha explained [here](https://github.com/Urigo/angular-meteor/issues/1110#issuecomment-178502477).

In 1.3.6 the deprecation warnings are only on 1.2.x API. Is is sufficient or we still need to limit the warnings ?

[2016-02-05 12:13] kamilkisiela commented on #1178
Ok

[2016-02-05 12:40] ozsay commented on #1186
@Urigo I added the api for Meteor methods: `this.call` and `this.apply`. Should we add 1.3.6 to the API list?

[2016-02-05 12:42] cubitworx commented on #958
@Urigo If you are referring to the [Meteor-Angular Socially App Tutorial](http://www.angular-meteor.com/tutorials/socially/) then I think the more information the better :)

My preferred suggestion (but more work) would be to change the tutorial to include a prefix; since I am a firm believer that all apps & packages should always be prefixed in order to future proof them against namespace conflic

[2016-02-05 12:44] jacobdr commented on #1110
I think that it is as long as slug is reactive. 

If it is not reactive then there is no reason to do this in helpers -- just make a find one call outside of angular-meteor on the meteor collection in the Dom. 

To ensure slug is reactive, make your object {"slug": $scope.getReactively(slug)}, possibly using deep watch option. 

As always, a reproduction of these issues in a codepen/meteorpad help

[2016-02-05 12:46] kamilkisiela commented on #1178
Bithound supports ESLint do yeah, it is possible

[2016-02-05 12:51] a-vasyliev commented on #958
My suggestion is to add tutorial which explains how to build modular apps with Meteor. This topic is much bigger than it appears: how to create packages, recommendations, best practices, examples how to use it with other packages, etc. I think it is necessary to create such tutorial. It took hours from me to understand how to build the same tutorial app, but using packages... (originally I'm PHP d

[2016-02-05 12:52] Urigo commented on #1175
sounds like a nice feature that not only the Angular Meteor community will benefit from but the whole Meteor community.
I would create a package for that and post it on the Meteor forums to get feedback.
Closing as it's not related to Angular Meteor in my mind, but please feel free to re-open and correct me if I'm wrong

[2016-02-05 12:52] #1175 closed

[2016-02-05 13:02] cubitworx commented on #958
@a-vasyliev Although I do agree that would be useful. However, I don't think it is limited to the angular-meteor package and so would be a tutorial applicable to the meteor community as a whole. It is a methodology that is starting to gain a lot of traction in the meteor community but I can see this being reversed if meteor decides to implement some ability to define load order to files in the roo

[2016-02-05 13:09] Urigo commented on #1109
I think it's still good to have the ability to remove those message if you really want to.

[2016-02-05 13:10] Urigo commented on #1186
yes

[2016-02-05 13:11] kamilkisiela opened #1187 "Linting utility for Angular1Meteor"
I suggest to use [`ESLint`](http://eslint.org/) because of its simplicity and it is much more human-friendly than `jsHint`. ESLint supports meteor environment so it's a additional cons :)

with

[`eslint-config-airbnb/base`](https://github.com/airbnb/javascript/blob/master/packages/eslint-config-airbnb/base.js) - has ES6 support

As part of build process #1178

[2016-02-05 13:12] kamilkisiela commented on #1187
@Urigo Issue created, as you said :)

[2016-02-05 13:12] Urigo commented on #1110
@berkaey yes you are correct.
The simple solution is to not use `findOne` but just use `find` with query for the one you want.
or use `getReactively`.

[2016-02-05 13:13] Urigo commented on #1187
also add it to Bithound checks - https://github.com/Urigo/angular-meteor/issues/1185

[2016-02-05 13:18] Urigo commented on #958
great ideas.
Would love some PRs as well :)

[2016-02-05 13:19] cubitworx commented on #958
@Urigo I'm not sure this warrants a feature request so I'll just make a comment here in case you think there is something to it...

One thing I was surprised about is that you chose to stick with absolute path references considering that meteor is geared around finding templates in files regardless of where they are located. Is there nothing we can do to declare templates inside files instead of b

[2016-02-05 13:22] a-vasyliev commented on #958
@cubitworx +1 :)

[2016-02-05 13:29] Urigo commented on #958
@cubitworx interesting.
Best way is to open it as a PR and start discussing it there.

[2016-02-05 13:55] mattiLeBlanc opened #1189 "removing jquery package, angular has jqLite"
Hi,

Not an issue unless I remove the jquery package.
Because I am using template cache, Meteor tries to bootstrap the body with $ which is not available after removal.
However, Angular normally reverts to JQLite if I am correct.
Anyway way we can ditch jQuery when using Angular + Meteor?

( i did notice jquery was still loaded as a dependency by another package...not really sure which one, but it

[2016-02-05 14:20] Urigo commented on #1189
great question :)
https://github.com/meteor/meteor/pull/6105

[2016-02-05 14:20] #1189 closed

[2016-02-05 14:22] Deadly0 commented on #1105
@ozsay @Urigo

Demo with bug is here: http://angular-meteor-bug-1.meteor.com/ Change date to reproduce the bug.
Repo: https://github.com/Deadly0/angular-meteor-bug-1

[2016-02-05 15:16] #1156 closed

[2016-02-05 15:41] johnba2012 commented on #1110
@urigo
Hi,
If using find instead of findOne, is there a way to access the single row in the template without recourse to ng-repeat?
Thanks

[2016-02-05 16:29] kamilkisiela commented on #1110
@johnba2012 Maybe just `[0]` ?

[2016-02-05 16:39] DmitryEfimenko commented on #1110
that's ugly if that's the way it'll be done to handle `findOne`

[2016-02-05 18:17] donedgardo opened #1191 "1.3.2 auth syntax error in docs"
[code]
after the `return $auth.requireValideUser((user)=>{);` there is a semicolon, im not sure if this is intended.

[2016-02-05 18:26] nunof07 commented on #1110
There are other situations that are reactive but don't return a cursor.

[code]

Alternatives for these?

[2016-02-05 18:41] DmitryEfimenko commented on #1110
I'll also throw in another use case.

How should I handle a situation when I need to modify returned collection after it came in based on the condition that is only known in the client code (the use of `transform` on the collection definition is not an option)?

It seems that using `.forEach()` on the cursor is wrong because it return `void`, therefore cannot be used in the `helper()`.

Currently

[2016-02-05 21:13] abj27 commented on #853
@Urigo can we use angular-with-blaze with the ionic meteor package?

[2016-02-05 21:17] Urigo opened #1192 "Try to remove the need of angular-babel in Meteor 1.3"
Try to add all the features angular-babel has to the official ecmascript package so that we won't need to add it anymore in Meteor 1.3.
If not released in Meteor 1.3, update angular-babel to use the latest Babel as similar as possible to Meteor's.

Need to add "es7.decorators" and add babelHelpers like in here: https://github.com/Urigo/angular2-meteor/blob/feature/meteor1.3/tests/packages/babel-ru

[2016-02-05 22:20] j127 commented on #1120
React has a problem because of its PATENTS file in Facebook's repos. If you use React/Immutable/etc. It appears to give Facebook the right to infringe on your company's patents while not giving you the same position in return. Software patents suck, but this creates a power imbalance. I think that it would be a bad decision to put React into Meteor, because it would cause some companies to avoid M

[2016-02-05 22:38] lscordilis opened #1193 "Silence warnings on pre-1.3.0 releases"
I understand both Angular and Angular-meteor are evolving quickly, and you want people to get the best use out of the frameworks by keeping updated. However, your changes between 1.2 and 1.3 are very drastic and updating to 1.3+ involves a huge amount of work on large projects in production. Any serious developer would be aware of new releases and changes going on in the open source frameworks the

[2016-02-05 23:37] stubailo commented on #1120
We aren't putting React into Meteor.

[2016-02-06 02:06] mattiLeBlanc commented on #1189
Thanks buddy.

[2016-02-06 06:32] mattiLeBlanc opened #1194 "Using ReactiveComponent with Angular1.4"
https://github.com/dotansimha/angular-reactive-component/issues/3

I was able to make ReactiveComponent work without using angular2-now and reaping small benefit of not having to bind this to reactiveContext.

[2016-02-06 06:41] mattiLeBlanc opened #1195 "defining 'invoices' value helper, note that this feature will be deprecated in 1.4 in favor of using 'getReactively'"
Hi,

I am not really sure what you mean with this warning:
defining 'invoices' value helper, note that this feature will be deprecated in 1.4 in favor of using 'getReactively' - http://www.angular-meteor.com/api/1.3.1/get-reactively

I am only setting up a helper in my controllers's constructor
[code]

What will be deprecated about this.helpers? Reading the 1.32 docs It seems to be the valid way t

[2016-02-06 07:33] pbastowski commented on #1192
@Urigo

We could also recommend that people use TypeScript instead of `angular-babel` / `ecmascript` packages, because:

1. it already supports Decorators, and
2. in most cases TypeScript can be used as a direct drop-in replacement for Babel (this is especially easy if the user does not care about type checking, just transpiling to ES5)

People would have to use the `.ts` extensions instead of `.j

[2016-02-06 08:39] mattiLeBlanc commented on #1194
Well, I just noticed that if I do not use ReactiveComponent but run `$reactive( this ).attach( $scope );` in the constructor it works the same and I don't need a reactiveContext.

What is the proper way right now, there seems to be multiple ways to do the same thing.

[2016-02-06 09:52] mattiLeBlanc opened #1198 "Subscription stoppped after state change in success login promise handler"
okay...that subject was a mouthful....

Anyway, the core issue is that my subscription is created and immediately stopped on state render.
But only when it is followed after a login process.

So I am using Angular-Meteor 1.35 and angular-ui-router 0.2.15. I code in TypeScript.

Test case 1:

[code]

So when I login, and the promise has been resolved and I call $state.go to my dashboard I end up wi

[2016-02-06 10:27] cubitworx opened #1199 "Replace absolute URLs with template declarations"
This is a feature request to allow templates to be referenced by their declarations instead of file names.

One thing I was surprised about is that angular-meteor uses absolute path references instead of referencing templates by there declared name; if you consider that meteor is built around the idea of finding templates regardless of which files they are in or where those files are located.

I r

[2016-02-06 10:35] ozsay commented on #1193
Are you referring [those](https://github.com/Urigo/angular-meteor/blob/b32a9d59ce4fa26d7ccf3d84b9924f84709f7ddb/packages/angular-meteor-data/modules/angular-meteor-camera.js#L9) warnings ?

[2016-02-06 10:39] ozsay commented on #1195
There is an issue with this specific deprecation warning. It will be removed in the next version.

You can read [this](https://github.com/Urigo/angular-meteor/issues/1110#issuecomment-178502477) comment of @dotansimha in another issue.

I'm closing since it's a duplicate.

[2016-02-06 10:39] #1195 closed

[2016-02-06 10:46] ozsay commented on #1198
Hi,

I believe that this issue is related to another one. Please read my comment [there](https://github.com/Urigo/angular-meteor/issues/1108#issuecomment-179232141).

I would appreciate if you test your code with 1.3.6 (which isn't released yet). In the comment I explained how to do this.

Thanks

[2016-02-06 11:05] mattiLeBlanc commented on #1195
okay, no worries.

[2016-02-06 11:08] mattiLeBlanc commented on #1198
Yes, it looks to be another duplicate. Sorry for that. I though mine was pretty specific and unique. It is not. :)

[2016-02-06 11:36] ozsay commented on #1109
Hi everybody,

here is the commit with the changes: https://github.com/ozsay/angular-meteor/commit/120b7064488d46f0ecec60300e59c91e93cabe4f

The API for suppressing warnings is as follows:
[code]

[2016-02-06 11:49] atoftegaard commented on #1109
Maybe warnings about overriding helpers should not be suppressable. Those warnings mean something should be fixed in the current version. Deprecation warnings are relevant for future warnings.

[2016-02-06 12:00] ozsay commented on #1109
I agree, but It looks like there are plenty of these warnings on socially. I think it's good for the beta until we investigate these overrides.

[2016-02-06 13:29] Urigo commented on #1109
still, when you remove the warnings it means that you are being explicit and aware of what you are doing, so I think it should remove all warnings.

[2016-02-06 13:50] Urigo commented on #1192
@pbastowski that's a good idea.
I think we should provide the 2 options though, and specifically make the ES2015 option easier.

On the Typescript point, what package do you use today?  please have a look at this discussion about adding an official `typescript` package - https://github.com/Urigo/angular2-meteor/issues/102

[2016-02-06 14:56] Urigo opened #1200 "Document how to create and edit tutorials"
http://info.meteor.com/blog/step-by-step-tutorials-with-git
https://github.com/meteor/tutorials
https://github.com/meteor/tutorial-tools
https://github.com/meteor/git-patch-parser

[2016-02-06 15:08] dotansimha commented on #1159
You can use it right now, it already published in Atmosphere.
In order to use it right now, you need to update `angular:angular` package manually:
[code]

You might also need to update some packages that uses `angular:angular`, such as `angular:angular-sanitize` and other extensions of Angular, so use the same command.

Note that when Meteor release it's new version, 1.3, you'll be able to install

[2016-02-06 15:08] #1159 closed

[2016-02-06 15:11] Urigo opened #1201 "Move `angular-meteor-auth` into a seperate repo"

[2016-02-06 15:11] Urigo commented on #1201
Moved here - https://github.com/Urigo/angular-meteor-auth

[2016-02-06 15:11] #1201 closed

[2016-02-06 15:12] Urigo opened #1202 "Make sure 1.3.6 works with angular2Now"

[2016-02-06 15:33] Urigo opened #1203 "Socially with Meteor 1.3"
Make a version of Socially where all external dependencies come from Npm instead of Atmosphere

- [x] Make sure this is in - https://github.com/Urigo/meteor-angular-socially/pull/96#event-510169741
- [x] Give a good answer here - https://forums.meteor.com/t/help-with-angular-tutorial/15751
- [x] https://forums.meteor.com/t/angular-meteor-tutorial-doesnt-match-example-file/15182

[2016-02-06 15:37] Urigo opened #1204 "Update simple-todos-angular to Meteor 1.3"
- [x] Use Npm and ES2015 modules
- [x] https://github.com/meteor/simple-todos-angular/commit/f7271f737a1852fd445bd7622c0b4aa692e2f6c4#commitcomment-14398420
- [x] https://github.com/meteor/simple-todos-angular/commit/536a1e25561a9bd9e243e820144d2dc3b271ee62#commitcomment-15121438
- [x] https://github.com/meteor/simple-todos/pull/35/files

[2016-02-06 15:38] Urigo opened #1205 "Make sure Whatsapp clone tutorial with Ionic bundle works with 1.3.6"
- [ ] https://forums.meteor.com/t/build-a-whatsapp-clone-with-meteor-and-ionic-meteor-platform-version/12139/31
- [ ] https://forums.meteor.com/t/build-a-whatsapp-clone-with-meteor-and-ionic-meteor-platform-version/12139/35
- [ ] https://forums.meteor.com/t/meteor-agular-ionic-ddp-problem/14441

[2016-02-06 16:07] Urigo opened #1206 "Cleanup - Update all Stack Overflow questions to 1.3 syntax"
http://stackexchange.com/filters/186790/angular-meteor

[2016-02-06 16:15] Urigo opened #1207 "Cleanups before releasing 1.3.6"
- [x] Document all scenarios of helpers - https://github.com/Urigo/angular-meteor/issues/955#issuecomment-168457682
- [x] https://github.com/Urigo/angular-meteor/issues/1105
- [x] https://github.com/Urigo/angular-meteor/issues/1108
- [x] Make sure this is documented - https://github.com/Urigo/angular-meteor/issues/1088
- [x] Make sure this is working - https://github.com/Urigo/angular-meteor/issue

[2016-02-06 16:38] DrDanRyan commented on #1159
That's great! Thanks for the help.

[2016-02-06 17:31] kokokenada opened #1208 "this.userId is null on server, populated on client"
The fix will be in a different repository, but what do people think about this issue?

https://github.com/idanwe/meteor-client-side/issues/12

[2016-02-06 17:34] ozsay commented on #1186
Docs have been updated. After the merge to master I need to update the links in them

[2016-02-06 17:36] ozsay commented on #1202
Socially is running properly and it uses angular2now. Is it a proper check for this?

[2016-02-06 17:55] ozsay commented on #1116
This feature has been added in 1.3.6.

[2016-02-06 17:55] #1116 closed

[2016-02-06 18:01] ozsay commented on #1147
No unfortunately it can't, since a result of a meteor method is not a reactive data source.

In 1.3.6 There will be an api for making this:

for example:
[code]

I'm closing since the API has been added.

[2016-02-06 18:01] #1147 closed

[2016-02-06 19:01] matthewyt commented on #1138
I am receiving the same issue. I upgraded to the Meteor 1.3 Cordova Beta and now receive the issue above. In my case it does fire onReady(), but it just loads to a blank screen so it looks like there is an issue with angular.bootstrap(document, ['']);

[2016-02-06 21:44] sferoze commented on #1138
Hi All,

The issue is not occurring anymore. To be honest I am not 100% sure what I did to fix the issue. I was just cleaning out unnecessary code and removed any packages I did not need.

I also specified in the package to use angular 1.3.0. I actually think this might have done it. Before I did not specify an angular version in the package. In the `api.use` in `package.js` file I specify angular

[2016-02-06 21:44] #1138 closed

[2016-02-06 22:35] Urigo opened #1209 "Whatsapp clone tutorial with Meteor 1.3"
Bring everything from Npm

[2016-02-06 23:00] Urigo opened #1210 "Auto-changelog generator"
Create an auto-changelog generator like the Angular repo

[2016-02-06 23:37] kamilkisiela commented on #1210
My proposal is to use [`commitizen`](https://www.npmjs.com/package/commitizen) with `cz-conventional-changelog` (same as angular's convention) to make commit process a lot easier for contributors.

And [`conventional-changelog`](https://github.com/stevemao/conventional-changelog-cli) as the auto-changelog generator. Which is used by angular team.

I can work on it beside build process.

[2016-02-06 23:54] Urigo commented on #1210
Cool!  so does that means that the `commitizen` badge will test each PR?

[2016-02-07 00:40] mattiLeBlanc commented on #1064
Hi,
I might have a related issue that my controller's constructor is not consistent in resolving the currentUser.
Some reloads I get a current user, and some it is undefined. It must be a timing issue of the Users subscription but I am using several approaches like promise, Reactive variable and a resolve on the router. All display the same behaviour.

See console output:
[code]

My constructor:
[

[2016-02-07 01:35] Hongbo-Miao opened #1211 "How to repackage Angular2 packages on Atmosphere"
Hi, @Urigo and everyone, can you give us, especially the author of [ng2-bootstrap](https://github.com/valor-software/ng2-bootstrap), [ng2-charts](https://github.com/valor-software/ng2-charts), [ng2-file-upload](https://github.com/valor-software/ng2-file-upload) @valorkin some directions for repackaging these Angular2 style packages on [Atmosphere](https://atmospherejs.com/) to let them be reused i

[2016-02-07 01:45] Urigo commented on #1211
@Hongbo-Miao please read this chapter of the tutorial and let me know if that worked for you - http://www.angular-meteor.com/tutorials/socially/angular1/3rd-party-libraries

[2016-02-07 01:49] Urigo commented on #1179
@TyrionGraphiste can you please share a repo with your problem?

[2016-02-07 01:50] Urigo commented on #1174
yes we have it working on the next version on Socially 2.0 with Meteor 1.3.
Will be updated in the tutorial when Meteor 1.3 will be out

[2016-02-07 01:51] Urigo commented on #1173
I'm not sure what is your question..

[2016-02-07 01:52] Urigo commented on #1137
@sferoze did any of the suggestions worked for you

[2016-02-07 08:22] kamilkisiela commented on #1210
My point of view on it:

We can help him on the very first stage by providing `commitizen`.
He can use `npm run commit` command which opens sort of interactive commiting process with guidelines as you can see [here](https://github.com/commitizen/cz-cli/raw/master/meta/screenshots/add-commit.png).

We can use here [`ghooks`](https://github.com/gtramontina/ghooks) with [`validate-commit-msg`](https:

[2016-02-07 11:54] #1179 closed

[2016-02-07 11:55] TyrionGraphiste commented on #1179
Hi, I stopped to use this repository.

[2016-02-07 12:19] TWKDreamState commented on #1173
@Urigo Hi, sorry for not explaining. I've been writing the app previously with out DI manual declaration (as per step 2.3 in the tutorial) and not had any issues. Recently, I've been trying to change to controllerAs and Components and noticed it wouldn't work in production mode without DI although step 3.8 in tutorial doesn't declare them either so I'm a bit confused if I've missed something somew

[2016-02-07 12:39] mattiLeBlanc opened #1212 "Current user Resolve not always resolving. Displaying inconsistent behaviour"
Hi,
I might have a related issue that my controller's constructor is not consistent in resolving the currentUser.
Some reloads I get a current user, and some it is undefined. It must be a timing issue of the Users subscription but I am using several approaches like promise, Reactive variable and a resolve( that's currentUser dep) on the router. All display the same behaviour.

I am running UI-Rout

[2016-02-07 12:47] valorkin commented on #1211
@Urigo thx for link, I will read it
but you suggestion about consuming 3rd party
what about automatic packaging 3rd party libraries?
if I want to publish my ng2 libraries in atmosphere

[2016-02-07 12:48] valorkin commented on #1211
my bad seems solution #1 is what we need

[2016-02-07 14:44] ozsay commented on #1034
We chose an API that is closer to the Meteor API for meteor methods.

In 1.3.6 to call a meteor method you will do:
[code]
This will call the `add` meteor method and set `$scope.result` in a digestion cycle.

I think it would be best to fix this issue similarly:
[code]

This should update `this.foo` properly.

[2016-02-07 14:52] ozsay commented on #1193
I'm closing since it's a duplicate and already been fixed in 1.3.6 https://github.com/Urigo/angular-meteor/issues/1109#issuecomment-180741235

[2016-02-07 14:52] #1193 closed

[2016-02-07 14:58] ozsay commented on #1194
if you extend ReactiveComponent, you don't need to attach the scope to the reactive context. It does it for you.

Both ways do the same.

[2016-02-07 15:04] ozsay commented on #644
@Urigo The new API doesn't use this package. It's just for legacy code. Should we do something?

[2016-02-07 16:47] TWKDreamState commented on #1173
Ok, I think it's related to ng-annotate

Seems similar to this https://github.com/olov/ng-annotate/issues/54

I am separating my directive into a function so that might be interfering with the automatic DI.

ie.

[code]

so I need to write in the DI.

[2016-02-07 16:47] #1173 closed

[2016-02-07 16:59] ozsay commented on #1105
Hi, I found out what seems to be the issue here. Since `filter` is an `object` you need to specify that we do a deep watch like this:

[code]

Hopefully this solve your main issue

[2016-02-07 17:27] Deadly0 commented on #1105
@ozsay looks like the fix for 1.3.6 branch. But not work with 1.3.5. Behaviour without deep watch looks strange, trust you will fix it. Will wait for 1.3.6 release to update in my app.

[2016-02-07 17:58] ozsay commented on #1212
can you share your repository so we can reproduce this?

[2016-02-07 23:03] mattiLeBlanc commented on #1212
Uhm, well its a company project, in development, so I probably have to make an extraction see if it that displays the same behaviour. I hope to have time for this before I go on leave this week,

[2016-02-07 23:15] mattiLeBlanc commented on #1194
Yes, I realised that.

[2016-02-07 23:15] #1194 closed

[2016-02-08 03:27] pbastowski commented on #1192
I agree, that Meteor's own ecmascript package should either provide decorators by default or allow us to easily add optional Babel components.

As far as typescript goes, I use my `pbastowski:typescript` package in my projects. It works exactly the same as my angular-babel package, except that it uses the TypeScript compiler instead of Babel. Also, it does not ng-annotate, but I think we don't nee

[2016-02-08 07:46] leizard commented on #1154
glad it helped you :smile: . I'm curious about the use case you use angular-meteor through bower ? Are you developing a meteor mobile client ?

[2016-02-08 10:00] ozsay commented on #1119
I tried without ionic (should not matter) and it worked fine. This is my setup:

bower.json
[code]

index.html
[code]

[2016-02-08 10:39] Urigo commented on #1192
About Typescript - look in the [issue](https://github.com/Urigo/angular2-meteor/issues/102) - this one - https://github.com/barbatus/ts-compilers

[2016-02-08 11:48] kazkis commented on #1125
Updating the angular2-meteor package to the latest version (currently 0.4.2) fixed this issue for me.

[2016-02-08 13:15] Urigo commented on #1202
Will test that in the code review

[2016-02-08 13:17] Urigo commented on #1173
thanks for updating

[2016-02-08 16:22] Urigo commented on #1034
Maybe we should still continue to have something like this - https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/modules/angular-meteor-user.js#L70-L84
but with callbacks instead of promises so it will be with a digest cycle but more similar to Meteor's accounts API.
We could use the same solution as we use in `this.call`

[2016-02-08 16:23] Urigo commented on #1034
The problem with this is that every time there is a new Accounts solution (for instance - Accounts phone number), we have to update it here, would love to hear nice ways of making that part easier

[2016-02-08 16:31] Urigo commented on #1193
@ozsay add a note about how to silent warnings in the warnings themselves

[2016-02-08 16:34] Urigo commented on #1110
We are releasing `1.3.6-beta.1` very soon and we will release an example for each use case mentioned in this issue and link it here

[2016-02-08 16:41] Urigo commented on #1161
@DmitryEfimenko thank you for your question.
With Angular-Meteor 1.3 we are trying to stay as close to the rest of the community as possible.
That means the we want the `onReady` to fire exactly when Meteor's fire `onReady`.
and that means that Angular-Meteor best practice will be exactly like Meteor's best practices which means you should count on the data to be there.
So you should initialize `t

[2016-02-08 16:43] Urigo opened #1213 "Find a better solution for Socially upload photos chapter"
CollectionFS is not maintained anymore so we should refactor the chapter

[2016-02-08 16:49] Urigo opened #1214 "Add angular2now step to Socially"

[2016-02-08 17:03] Urigo opened #1215 "Change Socially to new angular-meteor-auth package API"

[2016-02-08 17:22] ozsay commented on #1034
Another possible API:

[code]

[2016-02-08 19:08] DmitryEfimenko commented on #1161
This issue popped up is due to the confusion about proper way of using `.helpers`: Issue #1110. Since I was getting warnings all over, I thought not using `.helpers` is the way to go. Thanks to your comments on both this issue and issue #1110 I now understand, that using `.helpers` is the right way.
I am only now uncertain about some use cases when using `.helpers`, which, as you pointed out in #1

[2016-02-08 19:08] #1161 closed

[2016-02-09 11:33] Ben305 commented on #656
@Urigo I'm sorry, but this is still not working with Angular Meteor 1.3.

I have created a sample project to show the problem. This project contains two controllers, one controller is using Angular Meteor with ne new <helpers> syntax to fetch the data, the other controller is only using Angular.

Even though <track by> is used, the whole list is regenerated when the helper runs.

You can find the

[2016-02-09 12:17] mattiLeBlanc commented on #1147
Can't wait to use the new api. I am running in some reference issue with executing a Meteor.call.
In my callback success, the `this` doesn't reference back to the this before the Meteor call.
So I can't stop a spinner from spinning for example. The new Api would hopefully fix this?

[2016-02-09 12:19] mitiaptest opened #1218 "Showing warnings in browser console for auth and helper"
Hello Guys,

Updated angular package giving warnings in browser console?

Deployed server Name: http://angularmeteordemo.meteor.com/
Code pushed on : https://github.com/mitiaptest/angular-meteor-demo-code.git

**Warnings are:
[angular-meteor.$rootScope.currentUser/loggingIn] Please note that this functionality has migrated to a separate package and will be deprecated in 1.4.0.  For more info: http

[2016-02-09 12:22] nunof07 commented on #1147
@mattiLeBlanc just use a variable for that, example:

[code]

[2016-02-09 12:23] mattiLeBlanc commented on #1147
You would think so. However it lost its reactivity. So update of variable doesn't work it's way back up
So I need to kick the baby somewhere.

[2016-02-09 12:27] nunof07 commented on #1147
Can't say without seeing your code, but I use this all the time for spinners and similar without issue.

Are you using scope directly or attaching the scope to this?

[2016-02-09 12:31] mattiLeBlanc commented on #1147
[code]

This is not my full class of course. But the point is that in the callback I need to execute apply to make it update.
Running Angular Meteor 1.3.5 on TypeScript compiler

[2016-02-09 12:45] nunof07 commented on #1147
Hmm, I don't usually work with TypeScript, but maybe it could be related with how the code is translated to JavaScript.

What does it log for "that"?

If I was to write that in JS I would do it like this, which is what I usually use and usually works for me:

[code]

[2016-02-09 13:10] mattiLeBlanc commented on #1147
That would be the this object. So setting the var works as a workaround for now. Maybe it is the compiler (pbastowski:typescript). Maybe not.

[2016-02-09 13:29] nunof07 commented on #1147
I hadn't noticed before that you mentioned that calling the $scope.$apply() made it work for you.

I still think it's a bit strange you need to call $apply() for it to work, but at least you got it working.

[2016-02-09 22:23] mattiLeBlanc commented on #1147
Yes, it strange. It think it is somehow cut of from angulars 2 way binding? Or just running after the digest maybe. Cause it is an async call.

[2016-02-10 01:17] Hongbo-Miao commented on #1211
@Urigo Sorry, I failed after some tries... I think it needs put some d.ts files in typings automatically after downloading the package, but I don't know how to create those files. How about creating a tutorial Step `3rdParty Libraries` for angular 2 [here](http://www.angular-meteor.com/tutorials/socially/angular2/3rd-party-libraries) first using  [ng2-bootstrap](https://github.com/valor-software/n

[2016-02-10 01:58] mattiLeBlanc opened #1220 "subscription stopping sometimes on pages reload"
Hi,

I am having an issue where my subscription sometimes stops after a page reload during development in Meteor.
Sometimes it does load, sometimes it doesn't.
I use Typescript.

My subscription setup is standard as in docs:
[code]

In my server console I see the subscription always loaded with a userId
[code]

My subscription looks like
[code]

I am not seeing any error. I my Chrome console I jus

[2016-02-10 03:45] mattiLeBlanc commented on #1147
Seriously...it stopped working and I tried $digest which no works....I am a bit scared of this behaviour.

[2016-02-10 04:54] Lenin7 commented on #1039
Hey gaykan, are you using meteor 1.3 by any chance?

[2016-02-10 08:10] arvidkastel commented on #1220
+1

[2016-02-10 10:21] ozsay commented on #1034
We chose the last comment as the implemented API. already been done to 1.3.6

[2016-02-10 10:21] #1034 closed

[2016-02-10 10:29] kamilkisiela commented on #1034
@ozsay Great :+1:

[2016-02-10 10:51] MilosStanic commented on #1213
Really? How do you know it is not being maintained anymore? I see last commit 12 days ago, but last release in March 2015. :/
The only fresh and relatively popular package I could find on Atmosphere is [vsivsi:file-collection](https://github.com/vsivsi/meteor-file-collection/).

[2016-02-10 11:55] ozsay commented on #1218
Hi,

In 1.3.6 you will be able to suppress those warnings as explained here https://github.com/Urigo/angular-meteor/issues/1109

I'm closing since it's a duplicate

[2016-02-10 11:55] #1218 closed

[2016-02-10 11:58] ozsay commented on #1220
Hi,

It might be related to #1108. Can you test you project with the current 1.3.6 ? I explained how to do that here https://github.com/Urigo/angular-meteor/issues/1105#issuecomment-179228637

Thanks

[2016-02-10 19:12] kamilkisiela commented on #1187
It might look similar to this
https://github.com/Urigo/angular-meteor/compare/v1.4.x...kamilkisiela:v1.4.x

Based off of [Airbnb's Style Guide](https://github.com/airbnb/javascript/blob/master/README.md)

Basically, angular-meteor's code on `1.4.x` branch looks great and matches these airbnb's rules in most cases.

[2016-02-10 20:50] gooor opened #1221 "getReactively executes on every collection change"
Hi,

I have one specific problem with getReactively. Having this code:
[code]
And it's ok - someCollection is filled, if anything added to it it updates, and `test` appears only once.

Bad things happen when `this.someField` changes or when I make:
[code]
First of all `test` prints on every change to SomeCollection (even if query does not match!). What is even worse - adding another helper:
[code]

[2016-02-10 21:33] ozsay commented on #1221
I believe that this issue is related to #1108. We are going to release the new version tomorrow with a fix. Hopefully, it will help you.

[2016-02-10 21:50] kamilkisiela commented on #1178
I'm impatient so I pulled down `1.3.6` branch and added build process (webpack) with linting utility (eslint).

You can see it here:
https://github.com/kamilkisiela/angular-meteor/tree/v1.3.7/packages/angular-meteor-data

---

**Testing**

To run tests in watch mode so velocity can receive changes and wepack can rebuild output file:

[code]

To run tests in **CI mode**:

[code]

---

**Building**

[2016-02-11 00:35] j127 commented on #1120
Great :)

[2016-02-11 10:08] ozsay commented on #656
@Ben305 We identified the issue and hopefully will fix it on 1.3.6 final release.

The issue is as @netanelgilad described it and has not been changed in 1.3.

[2016-02-11 12:51] renandf opened #1222 "Issue deploying app to meteor (tutorial - step 10)"
Using angular2-meteor 0.4.2

On [step 10 of the tutorial](http://www.angular-meteor.com/tutorials/socially/angular2/deploying-your-app), when I deployed my app to meteor using `meteor deploy renan-socially.meteor.com`, I get a blank page with the following showing up in the console:

![screen shot 2016-02-11 at 11 35 52 pm](https://cloud.githubusercontent.com/assets/1684478/12976613/85e3bfdc-d119-

[2016-02-11 13:02] #1222 closed

[2016-02-11 13:03] renandf commented on #1222
Closing it here and opening the issue on the angular2-meteor repository

[2016-02-11 13:11] renandf commented on #1222
Issue on the proper (angular2) repository: [https://github.com/Urigo/angular2-meteor/issues/145](https://github.com/Urigo/angular2-meteor/issues/145)

[2016-02-12 09:01] cubitworx opened #1226 "Reactivity understood"
I am hoping that someone can shed some light on my problem. I have to confess that I'm totally lost with reactivity whilst using the following in combination with each other:
- `controllerAs` (`this` instead of `$scope`)
- The `$reactive` service
- Sharing data between controllers using `angular.services`

I have the following concept which I'm trying to get working:

[code]

What I have so far...

[2016-02-12 11:05] lorenzogm opened #1227 "Blaze Templates"
I'm trying to add Blaze Templates in my angular-meteor app and I get this error:

`meteorTemplate: There is no template with the name 'home'`

home.html
[code]

The "loginButtons" template works perfectly, but the "home" (which is defined as below) is not included in the available template.

templates/home.html
`<template name="home">test</template>`

Those are my packages:

[code]

I am not sure

[2016-02-12 11:18] Urigo opened #1228 "Remove duplicate html-compilers of angular-templates and angular-blaze-templates"
packages/angular-blaze-templates-compiler/plugin/ng-html-scanner.js

packages/angular-templates/plugin/ng-html-scanner.js

[2016-02-12 15:02] Urigo commented on #1227
In order to use them both, you have to give one type of file extension to each type of file.
Meaning - `.ng.html` for Angular and `html` for Blaze.
Then you should use `angular-with-blaze` instead of `angular`.
That's it.  you have to do that because of how Meteor compilers works.
I would love if you could tell me how to improve the docs to make it more clear for developers.
Thank you

[2016-02-12 15:02] #1227 closed

[2016-02-12 15:09] Urigo commented on #1221
@ozsay I'm not sure if that's the case or that it is just a question about how Helpers work.

@gooor the helper will re-run on every change of the Collection and also on every change of reactive vars inside it, like any parameter using `getReactively`. that how helpers work and how reactivity work in Meteor.
If you don't want the helper to change when `this.someField` changes, you should use it di

[2016-02-12 15:13] Urigo commented on #1125
@kazkis thanks for updating.
Closing, please re-open or comment and tag me if the problem persists.

[2016-02-12 15:36] kazkis commented on #1125
@Urigo Just to be sure I tried again today with the same project I posted on stackoverflow and the problem is sadly still here (I didn't notice there was still a workaround in the original code). I'm sorry for the confusion.

[2016-02-12 23:33] ThomsC commented on #1120
+1

[2016-02-12 23:54] Urigo commented on #1034
`angular@1.3.6-beta.1` was released.
Please check and let me know if that fixed the issue.

[2016-02-12 23:55] Urigo commented on #1105
@Deadly0 `angular@1.3.6-beta.1` was released.
Please check and let me know if that fixed the issue.

[2016-02-12 23:56] Urigo commented on #1108
`angular@1.3.6-beta.1` was released.
Please check and let me know if that fixed the issue.

[2016-02-12 23:56] Urigo commented on #1109
`angular@1.3.6-beta.1` was released with that feature like @ozsay described.
Please check and let me know if that worked for you.

[2016-02-13 00:15] Urigo commented on #1110
`angular@1.3.6-beta.1` was released that should fixed the original issue.
@DerekFong1004 Please check to see if that works for you.

@burock about your scenario, here is how it should look:
[code]
The reason I don't recommend value helpers and just Cursor helpers is because of handling nested reactive variables which is a pain in Meteor. take a look on that issue for more info - https://github.com

[2016-02-13 00:15] Urigo commented on #1116
`angular@1.3.6-beta.1` was released.
Please check the new `this.call` to see if that works for you.

[2016-02-13 00:20] DmitryEfimenko commented on #1110
Awesome! Could someone quickly point a noob (me) to the docs on how to run a custom meteor build locally?

[2016-02-13 00:22] Urigo commented on #1147
`angular@1.3.6-beta.1` was released.
Please check the new `this.call` to see if that works for you.

[2016-02-13 00:22] Urigo commented on #1161
`angular@1.3.6-beta.1` was released.
Please check if that works for you.

[2016-02-13 00:24] #1186 closed

[2016-02-13 00:24] Urigo commented on #1193
`angular@1.3.6-beta.1` was released.
Here is the API on how the silence warnings - http://www.angular-meteor.com/api/1.3.6/settings

[2016-02-13 00:25] Urigo commented on #1212
`angular@1.3.6-beta.1` was released.
Please check if that works for you.

[2016-02-13 00:26] Urigo commented on #1218
`angular@1.3.6-beta.1` was released.
@mitiaptest Please check if that works for you.

[2016-02-13 00:26] Urigo commented on #1220
`angular@1.3.6-beta.1` was released.
@mattiLeBlanc Please check if that works for you.

[2016-02-13 00:28] Urigo commented on #1126
@ralphbert `angular@1.3.6-beta.1` and `angular-meteor-auth@0.2.0-beta.1` was released.
Can you please test that it's working for you with the new API - http://www.angular-meteor.com/api/1.3.6/auth

[2016-02-13 00:29] Urigo commented on #1119
@mixersoft `angular@1.3.6-beta.1` and `angular-meteor-auth@0.2.0-beta.1` was released.
Can you please test that it's working for you with the new API - http://www.angular-meteor.com/api/1.3.6/auth

[2016-02-13 00:30] Urigo commented on #1110
@DmitryEfimenko you don't need to - just specify the version in your `.meteor/packages` file:
like - `angular@1.3.6-beta.1`

[2016-02-13 07:02] ralphbert commented on #1126
Sorry for the late response!
Yes, with the newest version it is working. Thank you :-)

[2016-02-13 07:02] #1126 closed

[2016-02-13 10:17] ThomsC commented on #1108
It is not fixed.

Just after loggin I get no data from any subscriptions. But I can go inside the application.

When I try to go to an other page and check in the resolve if there is a user. This function get call every time. So I can't move in my application. Always redirect me in the loggin page..

[code]

I can't share a repo as if it's a company application... Go back to 1.3.4

[2016-02-13 11:41] Urigo commented on #1108
@ThomsC what version of the [angular-meteor-auth](http://www.angular-meteor.com/api/1.3.6/auth) package are you using?

[2016-02-13 11:41] Urigo commented on #1108
also, can you show me your routes file?

[2016-02-13 11:53] lokewate commented on #1110
@Urigo Can someone please update the tutorial at http://www.angular-meteor.com/tutorials/socially so new comers to angular-meteor don't get unnecessarily confused. autorun should be explained and used instead of the non-cursor based helpers. Thanks!

[2016-02-13 12:54] ThomsC commented on #1108
I did a meteor update so I had everything to the last version I suppose.

Here is the type of subscription I use juste after loggin which doesn't work with 1.3.6 :

[code]

I've juste check the documentation http://www.angular-meteor.com/api/1.3.6/auth

For now I use $auth.requireUser() but maybe I should rewrite it

[code]

I prefer to use `resolve` to check if an user has any right instead of do

[2016-02-13 13:58] sebakerckhof commented on #1221
@Urigo I think there are 2 things here:
1. The find on someCollection is re-executed when an element of the someCollection changes. E.g. each time an object is added to the collection, the whole query is re-run (and since minimongo doesn't have indexes, this can be very expensive on larger collections). However, I think that's indeed just how Meteor works, but it could be done much, much more effi

[2016-02-13 14:06] Urigo commented on #1221
@gooor , is what @sebakerckhof suggests true?  I would like to see a reproduction with the new `angular@1.3.6-beta.1` to examine it.
The helper re-runs, but inside we do smart nested diff that changes only the things that had really changed - https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/modules/reactive.js#L148-L167

[2016-02-13 14:12] Urigo commented on #1108
`meteor update` is not enough yet because the version is still in beta.
you should do `meteor update angular@1.3.6-beta.1` in order to use the new version.
some with `angular-meteor-auth` - `meteor update angular-meteor-auth@0.2.0-beta.1`

About using un the `resolve` yes you can still do that and I should add it to the docs - just use [$$Auth.$awaitUser](http://www.angular-meteor.com/api/1.3.6/au

[2016-02-13 14:13] Urigo commented on #1110
@lokewate yes, I hope to get to it really soon.
first I want to make sure the beta works for everyone

[2016-02-13 14:21] ThomsC commented on #1108
What part exactly are you interested in the routes file?

Because I don't have one config.route.js file I use the John papa guide so I have multiple files.

Ok I'll redo a test with your recommandation.

And what about the subscription ?

[2016-02-13 14:22] Urigo commented on #1108
I'm interesting in the Login route definition.
the subscription should work, isn't it?

[2016-02-13 14:31] ThomsC commented on #1108
With 1.3.4 the subscription works not with 1.3.6

Here is a part of my route file with the abstract route then every other route use the resolve method I show before.

[code]

[2016-02-13 14:33] sebakerckhof commented on #1221
I'm throwing together a repro, since I've also been seeing some similar stuff.

[2016-02-13 14:33] Urigo commented on #1221
awesome!

[2016-02-13 14:39] Urigo commented on #1108
yes thank you.
let's try to solve one problem at the time.
Can you create a simple reproduction to each problem?:
1. subscription doesn't work
2. All routes resolves with `$stateChangeError`, even when you are logged in
Am I missing a scenario?

@kamilkisiela is your use case works with `1.3.6-beta.1`?

[2016-02-13 14:42] ThomsC commented on #1108
Ok I'm sorry when I see this line `angular@1.3.6-beta.1 was released.` I thought meteor update would be enough but it's not... I was not using the good packages...

No you are not missing a scenario.

But wait probably a noob question but look

[code]

...?

[2016-02-13 15:00] sebakerckhof commented on #1221
@Urigo Here's a quick and dirty repro that tests some stuff:
https://github.com/sebakerckhof/angular-meteor-data-repro

The bad news is: the problems described by @gooor are true
The good news is: the problems seem to be solved in `1.3.6-beta.1` (the version in the repo uses that, you can switch back to 1.3.5 to see what @gooor describes).

There is however one thing left that bothers me even with

[2016-02-13 15:53] Urigo commented on #1221
that's great @sebakerckhof ! I will have a look in a few hours

[2016-02-13 15:55] Urigo commented on #1108
can you try going into the `.meteor/packages` files and change `angular` to `angular@1.3.6-beta.1`?

[2016-02-13 16:33] vinaynb opened #1229 "Unnecessary Meteor.isServer if condition in meteor methods tutorial ?"
Hello,
I found this while going through the docs. In [this](http://www.angular-meteor.com/tutorials/socially/angular1/meteor-methods) link for Meteor Methods tutorial we put the code sending a mail in an if block while checking for Meteor.isServer.

Now as this whole file is under /server directory why do we need that condition checking Meteor.isServer while sending a mail ? Won't this whole code

[2016-02-13 16:56] kamilkisiela commented on #1108
@Urigo I'm going to create repo with reproduction so expect it in a few minutes.

[2016-02-13 17:52] kamilkisiela commented on #1108
@Urigo
Here's reproduction.

https://github.com/kamilkisiela/angular-meteor-auth-repro/commits/master

Latest commit contains `angular@1.3.6-beta.` and everything work. :+1:
Second latest contains `angular@1.3.5` and you should see there is a problem with subscription. :-1:

Sorry for the mess but I'm short on time.

[2016-02-14 01:12] mattiLeBlanc commented on #1220
I can check next week when I am back from my holiday.
Cheers
On 13 Feb 2016 8:26 am, "Uri Goldshtein" <notifications@github.com> wrote:

[2016-02-14 04:01] maximsko opened #1231 "Angular-Meteor weirdly loading every master template"
Please have a short look at the following ui-router definition:

[code]

Now, the weird thing is that if I enter master.interiors_index or centered.interiors_create I will have two (!!!) nav views in my compiled website, actually resulting in two navs. If I look at the html code I can see that for some weird reason the master templates (client/layouts/application.ng.html and client/layouts/applica

[2016-02-14 13:44] TWKDreamState commented on #1110
Do we still need to manually call a digest (or use $q) for a Meteor.call?

On Sat, Feb 13, 2016 at 2:13 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2016-02-14 13:46] Urigo commented on #1110
@TWKDreamState no, you can use `this.call` - http://www.angular-meteor.com/api/1.3.6/call

[2016-02-14 14:01] TWKDreamState commented on #1110
@Urigo I'm getting a 'TypeError: this.call is not a function' error? I've possibly mucked up somewhere as I'm updating old code to the new syntax but it all looks OK to me?

[2016-02-14 14:05] TWKDreamState commented on #1110
@Urigo Sorry, my mistake - I used the following instead....

`
var vm = $reactive(this).attach($scope);
vm.call....
`

I had it within a 'parent' function so guess this is needed.

[2016-02-14 14:35] ozsay commented on #1221
@sebakerckhof

Your current setup is deprecated. Our best practice setting `foo` as a reactive variable is with `autorun` (not with `helpers`. The right way to set `foo` as a reactive variable is:

[code]

This basically will do the same, and it will replace `foo` whenever the `autorun` will run.

You can do this differently in order to avoid the replacement:

[code]

[2016-02-14 16:19] ThomsC commented on #1108
ok so here is my list of package

[code]

But when I try to test if everything work, all my `$state.go()` has no effect of routing anymore. so I'm block in the loggin page ... ???

I then type the URL like 'localhost/home' because even if the `$state.go()`doesn't work meteor as log me. Once the page is loaded I got a blank page, no messages  at all in the console.

So I'm wondering if there is som

[2016-02-14 16:27] Urigo commented on #1108
@ThomsC could you try to create a separate simple repo that reproduce that scenario?
I believe that with something like that I can solve it very quickly

[2016-02-14 17:07] ozsay commented on #1079
Hi, sorry for the late comment..

Can you provide a repository with a reproduction ?

[2016-02-14 17:24] ozsay commented on #1118
Can you try it with the new version, `1.3.6-beta.1`?

If it's not working, can you share your repository for reproduction ?

[2016-02-14 17:36] ozsay commented on #1177
Can you try to upgrade to `angular-meteor` 1.3.6-beta.1?

Also, setting a number (`Prints.find({}).count()`) as helper is deprecated. You should use `autorun` instead:

[code]

[2016-02-14 17:46] ozsay commented on #1198
Hi,
we released 1.3.6-beta.1 to atmosphere. Can you test your app with it?

Thanks

[2016-02-14 17:55] ozsay commented on #1231
Can you test if it's happening with `angular-meteor` 1.3.6-beta.1 ?

If it does, can you share your repository for reproduction ?

Thanks

[2016-02-14 20:11] Deadly0 commented on #1105
@Urigo @ozsay i have tested new beta release with my bug repo and my 2 apps. New release works fine with my bug repo but still not works in my apps.

I have found another bug: reactivity not working if i change object field which name starts with "$" sign. For example this code:
[code]

I use it as mongo db query.

I have updated my repo with new bug and use case. https://github.com/Deadly0/angula

[2016-02-14 20:18] Urigo commented on #1229
@vinaynb because this file is not sitting in the server folder but in the `model` folder which means it's being loaded both on the client and the server

[2016-02-14 20:18] #1229 closed

[2016-02-14 20:20] Urigo commented on #1231
@maximsko also, does it happen in a regular Angular app or only in an Angular Meteor app?

[2016-02-14 20:34] Urigo commented on #1110
@TWKDreamState without doing `var vm = ` it didn't work for you?
can you provide a reproduction for that scenario?  it suppose to work without that

[2016-02-14 21:39] ozsay commented on #1105
well I looked into it and it seems like an angular issue.

Check this codepen: http://codepen.io/anon/pen/WrmNrV

unfortunately, angular ignores properties with `$` in properties name:
https://github.com/angular/angular.js/issues?q=is%3Aissue+watch+dollar+is%3Aclosed

[2016-02-14 23:16] Deadly0 commented on #1105
@ozsay, thank you, didn't know about it. Any ideas how to deal with it?

[2016-02-15 05:15] vinaynb commented on #1229
@Urigo oh okay. I missed that.

[2016-02-15 07:20] mitiaptest commented on #1218
Ok @Urigo I will check and let you know.

[2016-02-15 07:24] burock commented on #1108
Hi,
I did upgrade to 1.3.6 beta, this time my subscriptions don't return anything at all.. They are actually pretty forward classic subscriptions, nothing special.
When I downgrade to 1.3.5, subscriptions work, but first time login there's no data (as what this topic is about), so I have to refresh the page.
When I downgrade to 1.3.4 all works great..

fyi,
thanks
burak.

[2016-02-15 08:24] ThomsC commented on #1108
@Urigo Ok I'll try to do it this week