[2015-07-20 20:41] #525 closed

[2015-07-20 21:27] boomfly commented on #517
There already local package named "bower" where all bower dependencies defined

https://github.com/boomfly/AngularCrazyDirtyCheck/blob/master/packages/bower/package.js#L34

And if there i define angular.js file then i got this warning:

[code]

<img width="1440" alt="2015-07-21 2 37 43" src="https://cloud.githubusercontent.com/assets/3257268/8787836/3572d438-2f58-11e5-8cc5-8d3e7c34e44c.png">

[2015-07-20 23:03] mxab opened #528 "getReactively returns no value in initial run"
Hi,
if I init a variable with initial default value and then use getReactively in a reactive function the value is not returned

for example
[code]

maybe the reactive function should run after the first digest I guess

[2015-07-22 15:51] suman-mits opened #532 "Can single field can be passed to $meteor.collection objects save function?"
I have made
`$scope.newObj = $meteor.collection(function() {
     return Users.find({_id:  Meteor.userId()})
})`

Can I just update single field instead of the entire document?

[2015-07-22 16:11] ccortezia commented on #532
Take a look at #349 and #521

[2015-07-22 16:15] suman-mits commented on #532
i know it can be done with $meteor.object, I wanted to know if it can be done with $meteor.collection as I need it for auto saving feature

[2015-07-22 18:53] Tallyb commented on #502
![image](https://cloud.githubusercontent.com/assets/7386255/8834286/f48cfc5e-30bb-11e5-81a5-6b1aefa3fd3f.png)
Starting to work it out...

[2015-07-23 05:06] #532 closed

[2015-07-23 16:41] dagatsoin commented on #491
Back to earth. I love the @idanwe way !
@Urigo
1 - Yes, could be a part of the new redesign part to serve a better UX.
2 - Use the force.

[2015-07-23 16:41] #491 closed

[2015-07-23 18:06] Urigo commented on #516
@marcusreese sorry I haven't had a chance to look at your question, can you publish it again?

[2015-07-23 19:57] marcusreese commented on #516
Okay thanks, I just put something up there. I'm not very familiar with the
conventions, so feel free to guide me.

On Thu, Jul 23, 2015 at 12:06 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-07-23 22:25] cupideias opened #536 "Publish Meteor.users always return currentUser"
I'm trying to get a user by the username, when I use `Meteor.users.findOne`, it always return the current user. And if I user `Meteor.users.find`, it returns all current user document, and the `profile.firstName`and `profile.lastName` of the right matched username.

[code]

How can I get only the user that match with the username?

[2015-07-23 22:34] stubailo commented on #536
"How can I do this?" questions are best posed on [StackOverflow](http://stackoverflow.com/questions/tagged/meteor) or the [Meteor forums](https://forums.meteor.com/), not our bug tracker. Good luck!

[2015-07-23 22:34] #536 closed

[2015-07-23 23:08] tgienger opened #537 "limit the initial collection, but allow the local collection to grow."
I'm sure this is more of a meteor question rather than angular-meteor specific, but since I'm using angular-meteor ...

Is there a way to set a limit of say 25 for a collection, but then have the client side collection grow when a new one is added rather than getting the latest 25 again?

For instance, get the last 25 comments from the server. When a new comment is added send that one new (or howe

[2015-07-23 23:33] ccortezia commented on #537
Have you tried to use two different publications ?

1. publication 1 would provide the initial 25, and would not provide any more data after data. If you dont' know how to limit records on a cursor you can read about it on mongo and meteor docs.
2. publication 2 would provide the latest comments, and would cause the client collection to grow.

Since meteor collections automatically merge data from

[2015-07-23 23:41] ccortezia commented on #536
@cupideias, I believe the publication ```userByUsername``` is raising a server-side error when a subscription takes place. Publications must return a cursor, or use lower level functions to control the publication behavior. Your function is returning a single record, or undefined in case no user record is found.

[2015-07-24 12:42] cupideias commented on #536
Sorry about the post. I starting with Angular Meteor and was just a beginner mistake, what I needed was a method, not a publish. Thanks for the help.

[2015-07-27 04:00] funkytaco commented on #450
@kwk where should you put your collections in your app directory structure (for security)?

[2015-07-27 05:18] funkytaco commented on #450
Also, I'm not sure how to convert the meteor code to AngularJS-Meteor compatible code:

For:

                              {{> quickForm collection="Books" id="insertBookForm" type="insert"}}
                            </template>

I tried:

                              <meteor-include src="quickForm" collection="Books" id="insertBookForm" type="insert"></meteor-include>

[2015-07-27 05:24] ambujpunn opened #541 "Date object not being saved correctly using .save()"
I've noticed that if I create a document which has a date field and use the ```save()``` to save it to the collection, the date never ends up getting saved in Mongo. It comes out as empty in Mongo: ```date: ()```, but if I use the native Meteor ```insert()``` for the Collection, the date is saved correctly in Mongo. Is there a reason why this is happening?

```$scope.collection.save({date: new Dat

[2015-07-27 07:06] funkytaco commented on #450
One last question, is there any way I can pass the hook for the submitted form back to Angular's scope? I'd like to keep as much Blaze/Meteor out of the project as possible, outside of the stack.

I'm pro bono consulting for a non-profit and have a Meetup.com group that may be helping out on Tuesday. The hackathon will be only 2.5 hours, so I'd rather stick to Angular because I won't have time to

[2015-07-27 07:16] kwk commented on #450
I generally went with the directory structure generated by yeoman. You might want to give it a try and see how yeoman lays out the structure in a fresh project:

[code]

I've put the meteor template files right next to `*.ng.html` files.

I'm sorry but I cannot tell out of my mind how to pass the hook back to angular.

[2015-07-27 07:24] funkytaco commented on #450
Great, thanks!

[2015-07-27 08:19] funkytaco commented on #450
I thought about it for a bit and as far as the autoform speaking to angular, I think I could do a Meteor.call() and somehow get the data to Angular that way.

But on a side note, I'm starting to think this is a bit too much work, though. I don't see why Angular-Meteor is better than just using a MEAN stack. I need to be able to hand off this application to the non-profit, and I think they're going

[2015-07-27 19:23] ppotoplyak opened #544 "$meteor.camera on Android 5.0 & Chrome not working properly"
Hi,

On Android 5.0 & Chrome, the modal is auto taking the picture without giving the user the choice to take a snapshot at a desired time.  i.e. when the modal pops up, the snapshot is already taken and the modal is populated.

The same code base is working fine on Ubuntu Chrome.

``$ find . | grep mdg_camera
./.meteor/local/build/programs/server/packages/mdg_camera.js
./.meteor/local/build/progr

[2015-07-27 20:52] Urigo commented on #459
is anyone else experience the same numbers with a new project?

[2015-07-27 20:58] Urigo opened #545 "Internationalization"
Hi!
I want to add Internationalization support for the tutorial...
anyone wants to help in that?
also, I'm thinking about adding translations to the videos or even add voice overs for other languages...
thanks!

[2015-07-27 22:43] funkytaco commented on #241
The step_08 tutorial URL is now

http://angular-meteor.com/tutorials/angular1/user-accounts-authentication-and-permissions

[2015-07-27 23:35] funkytaco opened #546 "/tutorial/step URL's do not work anymore"
The tutorial URL's are still referenced, but don't point to anything anymore.

e.g.
http://angular-meteor.com/tutorial/step_06 - 404
http://angular-meteor.com/tutorial/step_08 - 404

If there's a referer, it seems to just redirect to the home page sometimes

[2015-07-28 13:47] ppotoplyak commented on #544
After a little digging, my previous description is not quite right.  There is no auto taking of the picture, it just appears that way as the video stream is just a single frame as opposed to being a real video stream.
i.e. On my Galaxy S4, when the modal pops up, you see a single still frame as opposed to a live video stream.

It's as if the ``video.play();`` in mdg_camera.js is a nop on my Androi

[2015-07-28 14:22] ppotoplyak commented on #544
Adding autoplay, see last line, appears to be a workaround or a real fix in my situation:

.meteor/local/build/programs/web.browser/packages/mdg_camera.js:

Template["viewfinder"] = new Template("Template.viewfinder", (function() {                                      // 64
  var view = this;                                                                                              // 65
  retur

[2015-07-29 01:20] marcusreese commented on #516
I found one resource: https://github.com/meteor-velocity/velocity-examples/blob/master/leaderboard-jasmine/tests/jasmine/client/integration/LeaderboardSpec.js
Is that example appropriate for an angular-meteor project?

[2015-07-29 08:11] lungkuteo opened #550 "Angular 2 meteor don't import template url in @View"
Hi! I'm using angular 2 with meteor. But when i use `templateUrl` to import file `list.ng.html`, it not working. Code in my file `main.ts`:
[code]
But i use `template: '\<h1\>My app\</h1\>'`, it OK. Please help me, thank all!

[2015-07-29 08:38] sumanla13a opened #551 "Date object converted to {} on meteor collection auto save"
I am passing new Date() from controller to my collection that is set to auto. The date is being converted to {}.
I saw the issue on collection.save function, could this be related?

[2015-07-29 09:27] shankar-mits commented on #551
@Urigo +1

[2015-07-29 15:53] Urigo commented on #546
thanks, will redirect them now...
where are they referenced?

[2015-07-29 17:39] Urigo commented on #551
Thanks for the issue.
I have 2 requests:
1. Can you please create a failing test for that scenario?
2. Can you please test against the master branch and also against that pull request (https://github.com/Urigo/angular-meteor/pull/539) and let me know if it happens there as well?

[2015-07-29 21:58] Urigo commented on #546
fixed

[2015-07-29 21:58] #546 closed

[2015-07-29 21:59] Urigo commented on #541
Thanks for the issue.
I have 2 requests:
1. Can you please create a failing test for that scenario?
2. Can you please test against the master branch and also against that pull request (#539) and let me know if it happens there as well?

[2015-07-30 00:14] ShMcK commented on #550
Just a quick check:
- `list.ng.html` is definitely located in the client folder. Paths must be exact from the folder roor.

And what happens if your template targets: '<h1>My app</h1>` without escaping?

[2015-07-30 01:06] lungkuteo commented on #550
I found error. Because chrome save cache, meteor get file from cache if file's name not change each reload. Try disabled cache of chrome, issue was resolved

[2015-07-30 01:06] #550 closed

[2015-07-30 01:14] ShMcK commented on #550
I've also experienced the same frustrating error. I'll add a warning about it in the tutorial. Thanks!

[2015-07-31 06:19] amsimaganti opened #557 "Issue in using node-mysql without enabling bin-log in Meteor"
HI
I wanted to use mysql database in meteor application. As I don't have an option for enabling binlog of mysql in Hosting server to use numtel:mysql and my application doesn't require reactive queries  I decided to use node mysql  using patrickocoffeyo:mysql .Here is my code
//Server side
Meteor.methods({
    'employees': function(listing_filters){
     connection.query(
           'SELECT * from

[2015-07-31 15:45] ccortezia opened #558 "Potential performance problem on updateAngularCollection"
An application with some collections, each holding a few thousand documents showed performance problems after some seemingly unrelated actions to those collections (calls to meteor methods targeting other collections). Looking at the profiler chart (attached) showed a bottleneck inside a Tracker computation.

![perf-problem](https://cloud.githubusercontent.com/assets/1430769/9011036/25991294-3781-

[2015-07-31 18:05] sali1982 opened #559 "Folder Structure issue"
I put my collection in a file in Folder Model:

var Owners = new Mongo.Collection("Owners");

Since the controler JS code is  in client folder, and runs before it, it gives error that is not defined yet. Why it is happening to me?

[2015-08-01 05:19] Tallyb commented on #559
Remove the var. The model should be global.

[2015-08-02 13:46] SJKool commented on #256
facing similar issue... please checkout the link: https://github.com/SJKool/socially/tree/local

and screenshot with the issue -- https://raw.githubusercontent.com/SJKool/socially/local/screenshot.jpg

[2015-08-02 14:55] SJKool opened #560 "closing... was just a typo error"
I'm following your tutorial on angular-meteor. For some reason, the index.ng.html file does not get included into index.html

please checkout the link: https://github.com/SJKool/socially/tree/local

and screenshot with the issue -- https://raw.githubusercontent.com/SJKool/socially/local/screenshot.jpg

![Image of Issue]( https://raw.githubusercontent.com/SJKool/socially/local/screenshot.jpg)

[2015-08-02 15:36] skihappy commented on #256
I got my issue resolved. Thanks, though. It was just a matter of a simple mistake on my part.

                           Dmitry Shusterman

Date: Sun, 2 Aug 2015 06:47:04 -0700
From: notifications@github.com
To: angular-meteor@noreply.github.com
CC: skihappy@hotmail.com
Subject: Re: [angular-meteor] have problems with ng-include (#256)

facing similar issue... please checkout the link: https://gi

[2015-08-02 18:39] #560 closed

[2015-08-03 09:55] amsimaganti commented on #557
Solved it by using Meteor call methods with promises
Thanks

[2015-08-03 09:55] #557 closed

[2015-08-04 01:28] YooJaSung opened #561 "http-call-client error"
i want to upload and download images using gridfs..

and now i an following tutorials step 20. compiles are not error but i get client

error  http-client-call.js (The provided value 'undefined' is not a valid enum value of type XMLHttpRequestResponseType.) when save method..

i really didn't know why this error occur..

[2015-08-04 23:57] cleor41 commented on #374
Did you find a solution to this yet?

I'm not sure I understand your issue exactly but maybe you could attach the Meteor property isCordova to the $rootScope. If you put all of your html inside of directives you could conditionally include the appropriate directive.

An issue with this approach might be that you get all of the client code for each scenario when you don't need half of it.

[2015-08-05 00:06] cleor41 opened #565 "Current User missing profile properties after logging in"
Meteor Accounts is supposed to publish the entire profile object by default. After I log a user in, certain properties are missing from the profile object but if I refresh the page, the entire profile object is there.

I solved this issue by subscribing to a pub that exposed the profile object directly after a user logs in. Has anyone experienced this before?

[code]

Specifically, the profile kep

[2015-08-05 09:31] piranha66 opened #567 "problem with new items instead of updating current one with meteor collection"
First I want to say hello and that I really love this project, currently building my first app with angular-meteor after having worked through the tutorial, it's a developer dream to work with ang-met.
Second, I'm not sure if I'm supposed to write questions here or if there is another ang-met forum which is more for questions rather than bug reporting?

To my question:
The problem I have is that I

[2015-08-07 18:02] abcd-ca commented on #513
@jasonaibrahim @Urigo Mine wouldn't upgrade either at first when meteor server was running. I had to stop meteor then run the update command and then it did work, FYI.

[2015-08-08 06:28] joeyhipolito opened #573 "Receive data from another service"
Is it possible for this angular-meteor setup to receive a data from another service? a webhook perhaps?

[2015-08-10 20:18] sali1982 opened #576 "subscribe issues on angular-meteor"
I do see strange behaviours.

1. I removed the autopublish
2. added this in my server js file:
Meteor.publish("assets", function () {
  return Assets.find({});
});

3. subscribed it in my js controller:
 $scope.assets =  $meteor.collection(Assets).subscribe('assets');

I do not see any assets! I am very very confused. What is the issue? Please help....

[2015-08-10 20:19] sali1982 commented on #559
Thanks. I removed it. It did not work. What I had to do is to remove it from a model folder, instead I repeat it once in Server file, once in client file. Is this okay to have it like that?

I do not understand why it happens. Please help.

[2015-08-10 21:18] sali1982 commented on #576
I realized the reason it was not happening is my Server files runs before NEWing the Collection. So it gives error that Assets is undefined.

When I moved my server code to the root js file, and added that inside:
if(Meteor.isServer){}
and defining the Assets before, my list was populating...

Then my main issue is that Server file runs before the collection file. But why? it is not in the client

[2015-08-10 21:26] dszczyt commented on #528
+1

[2015-08-11 14:09] sebakerckhof commented on #491
Sorry to post in a closed issue, but I think another common problem not tackled here is how to redirect to the route that the user requested. In case you use $meteor.requireUser() in the resolve object of a state.

[2015-08-11 22:14] blogui91 commented on #90
I got the same error, finally i realized templateURL route was wrong. that's why.

[2015-08-12 02:07] cranesandcaff commented on #565
Is that event one you set up yourself or is it included in this package?

[2015-08-12 02:13] cleor41 commented on #565
I set the event up myself. After the accounts-password login promise resolves I fire the 'logged-in' event above.

[2015-08-12 02:15] cranesandcaff opened #578 "requireValidUser undefined?"
Below is an example state. I logged the method from the `$meteor` object but the log is undefined, it doesn't throw an `undefined is not a function` error though so not sure what's up with that. Possibly Angular eating exceptions as it is sometimes wont to do.

It doesn't redirect to anything or fire a `$stateChangeError` event.

    .state('main', {
        url: '/',
        templateUrl: 'client/

[2015-08-12 02:19] cranesandcaff commented on #565
Are you using a standard Accounts UI package or a custom one?

[2015-08-12 02:26] cleor41 commented on #565
I'm using the standards one, this is what I have for logging in. Not optimal yet but it does the trick

[code]

[2015-08-12 02:31] cleor41 commented on #565
I think I should be using the $meteor implementation for consistency though, I just never changed it for this prototype

[2015-08-12 02:33] cranesandcaff commented on #565
That might be your issue, try using the `$meteor` service and see if it fixes the required traits. It might be a `$scope` issue. I'm trying it now because I want to check if a user is set up on log in and the `requireValidUser` function doesn't seem to be working. If it works with `$meteor` I'll let you know.

[2015-08-12 02:56] cleor41 commented on #565
Yep that fixed it for me, thanks! You said requireValidUser wasn't working for you?

[2015-08-12 02:57] cranesandcaff commented on #565
Yeah, I created an issue on here. It's undefined when logged and calling it in a state resolve method doesn't return or throw an error.

[2015-08-12 03:00] #565 closed

[2015-08-12 03:02] cleor41 commented on #578
I don't think you can log requireValidUser it just returns a promise. Let me check something real quick

[2015-08-12 03:06] cranesandcaff commented on #578
I wasn't logging the return value, just `console.log($meteor.requireValidUser)` which should log the function itself.

It was throwing the not a function error but I wasn't logging the error in the state change event watcher.

[2015-08-12 03:07] cleor41 commented on #578
Ahh I see, I overlooked that

[2015-08-12 03:09] cleor41 commented on #578
Can you use resolve like that? I thought you could only use key value pairs

[2015-08-12 03:12] cranesandcaff commented on #578
I'm using Babel for ES6, it's the same as `currentUser: function($meteor)` but shorter.

![Imgur](http://i.imgur.com/QkximKf.png)

This is the `console.log()` of `$meteor`. I don't seem to have that method, maybe it's a version issue. I have to figure out how to check the version of angular meteor being used. Probably just that. I did just start this repo though so I don't know why it wouldn't hav

[2015-08-12 03:14] cranesandcaff commented on #578
Yep. For some reason I was on `0.8.4`.  Fixed and closed.

[2015-08-12 03:14] #578 closed

[2015-08-12 03:14] cleor41 commented on #578
Glad you found your issue, I'll check out babel

[2015-08-12 03:16] cleor41 commented on #578
Looks like I'm late to the party 8000+ stars hahaha

[2015-08-12 03:20] cranesandcaff opened #579 "$rootScope change on auth change?"
When a user logs in or out there isn't an event fired for that, so their state doesn't change. If they were on a page for unauthed users they stay there instead of being redirected. Is there a way to listen to changes to auth?

[2015-08-12 03:21] cranesandcaff commented on #578
I really love ES6 and Babel makes it super easy. There is an Angular Babel package for running both Babel and Ng-min(or whatever it's called...). Super cool.

[2015-08-12 20:59] sali1982 opened #580 "Server side paging + CSV file"
Thanks for your great tutorial about making tables and so on.

I added a CSV functionality to convert the whole data to CSV.
As you know, we have subscribe on server to only give us 10 records, I need to get the whole data for the CSV file.

What approach you would take to do this?
What I did was adding another subscribe, which gives all the data, but in this case the pagination won't work, as it

[2015-08-12 21:55] dszczyt commented on #528
It seems to be related to #246

[2015-08-14 18:00] dhobla007 commented on #493
@Siyfion i am also facing same issue but not in first call of router but instead in second call of router.
ex.
Call 1--
Router.route('/', {
  name: 'Login'
  });

call 2--
Router.route('/Dashboard', {
  name: 'Dashboard'
  });

Dashboard template calls another template which is having ng-include and not getting loaded.

if i make Dashbaord as first call then it is loading perfectly.

Please let me

[2015-08-14 20:16] phaggood opened #585 "angular-meteor app fails on startup with "unknown provider $$asyncCallbackProvider""
I haven't changed any app code but I did do 'meteor update' after which my app ceased to startup.

Here's the browser console output:

app.ng.js?e999ad7257a2d60cd9fc4de2b25e2b6e9dfe322a:13 non-cordova init
app.ng.js?e999ad7257a2d60cd9fc4de2b25e2b6e9dfe322a:4 initalizing angular
angular.js:68 Uncaught Error: [$injector:unpr] Unknown provider: $$asyncCallbackProvider <- $$asyncCallback <- $animate <

[2015-08-14 20:53] phaggood commented on #579
perhaps $rootScope.loggingIn or $meteor.waitForUser() ?

http://angular-meteor.com/api/auth

[2015-08-14 20:57] phaggood commented on #573
You could have a regular angular service that connects via ajax to an external service; this could then be used with meteor functions to create mongo docs that are auto replicated.

[2015-08-15 11:43] DAB0mB commented on #585
The latest angular:angular-mocks package does not work with angular:angular@1.4.1. I fixed it in pull request #587 by specifying  angular:angular-mocks version.

[2015-08-15 16:24] MartinDesigner commented on #502
![imghome](https://cloud.githubusercontent.com/assets/13809960/9289329/0bef602c-436c-11e5-80fc-3ec07f82dd8d.jpg)
So, as a supplement, however as a main point try this amazing free app. Createer.com is an online software for easily designing online ads, responsive landing pages and print materials such as flyers, posters, covers, invitations and more. Createer lets you easily share your designs on

[2015-08-16 17:13] murid opened #589 "Helpers and Templates for collection-helpers"
Doesn't seem to work with https://github.com/dburles/meteor-collection-helpers

[code]

    <li ng-repeat="book in books">{{book.name}} by {{author.name}}</li>

What's missing?

[2015-08-16 20:23] vimes1984 opened #590 "What admin to user"
Hello there,
I've been reseaching admin interfaces, but all seem to use Iron router do you  have any suggestions uising UI router?

[2015-08-16 23:34] Urigo commented on #576
@sali1982 can you please share a repo with this problem, then I think I could more easily understand what's the problem.
In the meantime, have you read the Meteor file load order documentation here?
http://docs.meteor.com/#/full/structuringyourapp

[2015-08-16 23:40] Urigo commented on #580
Hi @sali1982
Yes that's the answer - creating another subscription for the CSV file.

But in order to keep your pagination working, you have to close this subscription right after.
You can read more about that in the tutorial section that talk about stopping the subscription:
http://angular-meteor.com/tutorials/angular1/search-sort-pagination-and-reactive-vars#stoppingasubscription

There is also

[2015-08-16 23:40] #580 closed

[2015-08-17 03:17] sali1982 commented on #580
But in the first link it has this line:
$scope.party = $meteor.object(Parties, $stateParams.partyId);
Which is to close subscription.
Please note that in my case I do have only one controller. my table and CSV are in the same controller.
Can I still do close it somehow?

then in my case which I have only one controller, should I do this:

subscribe to the csv_one
then generate the csv,
right after

[2015-08-17 04:06] sean-stanley commented on #585
I had a very similar error with angular@1.4.4 after adding angular-animate@1.4.4

I also got the familiar 'You've tried to launch Angular twice' error. It resolved after removing angular-animate.

I guess I'll wait until angular-animate is supported to fancy up my project with some animations.

[2015-08-17 10:00] Urigo commented on #580
It closes the subscription but when the controller closes.
If you want to close it before you need to get the subscription handle and call the stop function.

You can look at the example here: http://angular-meteor.com/api/subscribe

[2015-08-17 12:21] Urigo commented on #585
@dotansimha I think it might be that not all of our dependencies are updated to the latest Angular version?  (angular-mocks)?

[2015-08-17 12:24] Urigo commented on #590
There are many Angular Bootstrap Admin themes out there, much more then there are Blaze and Iron Router ones...
Here is an example of one which suppose to have angular-meteor integration as well:
https://wrapbootstrap.com/theme/angle-bootstrap-admin-app-angularjs-WB04HF123

[2015-08-17 12:24] #590 closed

[2015-08-17 12:26] Urigo commented on #589
I think that collection helpers expose functions...
so:

     author.name()

no?

[2015-08-17 12:27] vimes1984 commented on #590
Thank you for taking the time to find one, I hadn't thought about going done that route I was search atomosphere and couldn't stumble across one...
Sorry for opening an issue, regarding just this...

[2015-08-17 12:28] Urigo commented on #573
Yes, you can use any data source you want, $http, $resource, Firebase....

[2015-08-17 12:28] #573 closed

[2015-08-17 12:31] Urigo commented on #579
There are a few ways to do that.
I think the most common way to do that with Meteor and Blaze is to use Tracker.autorun, so in our case, maybe the best option will be to `$watch` the currentUser and respond to it

[2015-08-17 12:31] #579 closed

[2015-08-17 12:37] Urigo commented on #559
@sali1982 can you please share a repo?

[2015-08-17 12:40] Urigo commented on #590
thanks for opening and feel free to open any issue you want

[2015-08-17 12:41] Urigo commented on #349
@cnelson711 can you test again against the latest changes in master?

[2015-08-17 12:43] Urigo commented on #483
@shadysayed can you please test this issue against the latest master?

[2015-08-17 12:52] Urigo commented on #561
@YooJaSung can you share your repo?

[2015-08-17 13:19] phaggood commented on #585
So, should I attempt to merge #587 locally or assume it's going to be merged into mainline soon?

[2015-08-17 13:57] murid commented on #589
This worked for me:

    $scope.author = function (book) {
        return $meteor.object(Authors, book.authorId, false);
    }

and the view:

    <li ng-repeat="book in books">{{book.name}} by: {{author(this.book).name}}</li>

[2015-08-17 13:57] #589 closed

[2015-08-17 14:00] vimes1984 commented on #590
I'm goign to roll my own :D
https://github.com/vimes1984/foundation-angular-admin

On 17 August 2015 at 14:40, Uri Goldshtein <notifications@github.com> wrote:

[2015-08-17 17:05] vimes1984 commented on #590
and since I'm building it...
I've run into a small issue when inlcuding a ng.html file in the package.js file it doesn't include in the front end:
https://github.com/vimes1984/foundation-angular-admin/blob/master/package.js
Line 22..
Called here https://github.com/vimes1984/foundation-angular-admin/blob/master/public/js/routes.js
including the template as raw html works template: '<h2>Admin view</

[2015-08-17 18:14] vimes1984 commented on #590
anddd I fixed it...
      templateUrl: 'vimes1984_foundation-angular-admin_client/templates/admin.ng.html',
is the correct syntax...
Sorry and thanks for listening!

[2015-08-17 19:57] Urigo commented on #585
No, please try to current master branch

[2015-08-17 21:32] dagatsoin opened #592 "Using typescript."
Hello,

I plan to use typescript for a new project. Both to prepare Angular 2 and meteor 1.2 and because I prefer to use typed (even super set) language.

Question: is their any known issues/requirements with typescript + meteor + angular-meteor?

[2015-08-18 07:54] ilantoren opened #593 "ui-bootstrap dropdowns"
I'm trying to migrate a project using angular to angular-meteor and I see that my dropdown buttons are no longer functional (i.e.  click but no drop down, content stays hidden).  I assume that the libraries are the issue.  The libraries in https://github.com/Urigo/angular-meteor/issues/496 are not sufficient, Are there any working examples?

Here is my non-working example  https://github.com/ilant

[2015-08-18 14:03] phaggood commented on #585
sorry, I'm really confused here.  So I should check out angular-meteor master, merge PR 587, build my own package locally, uninstall the angular-meteor package from atmosphere then install my local package so I can have the correct angular version to run my angular meteor app?

[2015-08-18 16:46] Urigo commented on #585
no no, just take the current master and run it locally.  without PR 587.
You can see instruction here: https://github.com/urigo/angular-meteor#user-content-run-local-urigoangular-in-your-project

[2015-08-18 17:44] phaggood commented on #585
Followed instructions in the link to fork and use local package; on startup I'm still getting the same problem - Uncaught Error: [$injector:unpr] Unknown provider: $$asyncCallbackProvider <- $$asyncCallback <- $animate <- $compile

[2015-08-19 17:15] Urigo commented on #589
@murid do you think you can add a test for this scenario with a pull request?
it would be great to make sure it will always keep working...
thanks!

[2015-08-19 17:16] Urigo commented on #592
I don't know, I only tried TypeScript with Angular 2.0 but I think it's a good direction.
Let me know how it works for you.
Also, you should probably check out this library (based on Babel):
https://github.com/pbastowski/angular2-now

[2015-08-19 17:18] Urigo commented on #593
Why are you adding bootstrap with bower and not from Atmosphere?

[2015-08-19 17:31] phaggood commented on #585
I'm at wits end - I rolled back to a previous version and angular launches with no problem; the angular launcher in app.js is *exactly* the same between this version and my old vesion.  Uri, if you're interested I've added you as a collaborator, the app in question is called 'makerActive'.

[2015-08-19 19:16] ilantoren commented on #593
I don't see that I used bower.  I took an early stage of the tutorial and pasted in a drop-down button menu as  done in the ui-angular page.

[2015-08-19 23:04] tgienger commented on #592
Typescript compiles to plain javascript, so there should be zero issues. I've been using it with vscode and love it. I'm really loving intellisense.

[2015-08-19 23:11] tgienger commented on #541
`$scope.collection.save({date: new Date()});`

[2015-08-19 23:23] tgienger commented on #567
I suggest [stack overflow](http://stackoverflow.com/questions/tagged/angular-meteor)

[2015-08-21 19:33] cranesandcaff commented on #483
I'm on `0.9.3`, it's still throwing on incorrect docs.

[2015-08-21 19:52] IgorMinar opened #608 "Socially 2 app reloads when an exception happens - obscuring the exception"
*steps to repro*:
1. follow http://angular-meteor.com/tutorials/angular2/adding-removing-objects-and-angular-event-handling
2. make a typo (e.g. instead of `this.partiesForm.controls.name.updateValue('');` type `this.partyForm.controls.name.updateValue('');`
3. open the app and add a new item

*expected result*: the app breaks and exception is visible in the console (or better yet a compile time e

[2015-08-22 10:33] DAB0mB commented on #349
See [this](https://github.com/DAB0mB/angular-meteor/commit/75fc5543133c8114d312e22ed03736711b4905bd) commit, soon to be merged

[2015-08-22 17:55] vimes1984 opened #613 "using ng-repeat in a blaze template?"
Why when I do this:
[code]
Does the ng-repeat run but I am not able to echo out the values using {{page.title}} ?

[2015-08-22 17:59] vimes1984 commented on #613
answered my own question i need to configure angular to use [[ ]] instead and all went well...

[2015-08-22 21:58] JohnAReid commented on #459
I have switched from windows 8.1 to Ubunto, the initial start time is about the same BUT any changes made and saved are updated on the browser in less than 2 seconds. My only regret is in not changing from windows 8.1 earlier.

[2015-08-22 22:05] cellulosa commented on #450
hey @kwk, how did you solve this at the end? I'm having the same issue whether I can only retrieve the working object to be updated using the helper (as you did in you original example). Any hint?

    /* book-detail.html */
    <template name="bookDetailTemplate">
        {{> quickForm collection="Books" id="updateBook" doc=book type="update"}}
    </template>

    /* book-detail.ng.html */
    <

[2015-08-22 22:14] #613 closed

[2015-08-24 01:24] AmitThakkar opened #619 "Angular2 Model throwing Error Path reservation conflict: app/model/parties.js"
Hello,

I am following `Angular2` tutorial from [angular-meteor site](http://angular-meteor.com), but on [3rd step](http://angular-meteor.com/tutorials/angular2/3-way-data-binding), its asking to create a model with name **parties** in model name folder parallel to client/server. And as I try to add model **meteor** app throws error and crashed with below error:

[code]

[2015-08-24 06:41] jalapagos opened #620 "Arrays hashkeys?"
Not sure if I'm allowed to ask a question here but I've been experiencing the same problem that was discussed here : https://github.com/Urigo/angular-meteor/issues/299

I thought I'd bring it your attention to give you a heads up. Here is a more specific explanation of what I'm experiencing in particular : http://stackoverflow.com/questions/32173465/error-key-hashkey-must-not-start-with-angularjs

[2015-08-24 16:38] mrtruko opened #626 "Character encoding UTF-8 not working in ui-view"
This is the code im using on windows 10 i tried inserting the meta on top of everything with meteorhacks:inject-initial but didn't work. I got the same problem using template instead of ui-view. here is an example grafica123.meteor.com
I Tried it on a mac and works fine here is an example http://graficaeje.meteor.com/ the problem is on windows
And only when i create the proyect on windows i can st

[2015-08-24 22:23] #620 closed

[2015-08-25 00:11] ShMcK commented on #619
What might be happening is that the `meteor-typescript-compiler` is compiling the `test.ts` file to `test.js`, and your text editor is doing the same, thus creating a path conflict.

If so, you can just turn off compiling in your editor and erase the old `test.js` file.

[2015-08-25 00:21] ShMcK commented on #608
Meteor-Angular2 needs an improved typescript compiler.

Currently, `sclausen:angular2-typescript` is a better fit, but only runs on the client and throws errors for any server side `.ts` files. I've posted [this question](https://github.com/Microsoft/TypeScript/issues/4269) to the Typescript community to try to address this problem.

[2015-08-25 03:47] AmitThakkar commented on #619
Yes, you are right @ShMcK , That was the culprit.  Thanks a ton for your response.

[2015-08-25 03:47] #619 closed

[2015-08-25 04:11] mirstan commented on #585
+1

[2015-08-25 10:01] batjko commented on #286
I am getting this same error with the example app, and apparently I am on the latest version(s), though on Windows:
![image](https://cloud.githubusercontent.com/assets/7287076/9464000/697ab3a0-4b18-11e5-9d33-86906d55b0d2.png)
![image](https://cloud.githubusercontent.com/assets/7287076/9464020/8dc5de38-4b18-11e5-87fb-f52c3a901b27.png)

The insert of the new todo task seems to succeed, but the error

[2015-08-25 16:00] mrtruko commented on #626
Well the problem was with the IDE the index.html was on Utf8 and the html being render on ui-view was on some other encoding

[2015-08-25 16:00] #626 closed

[2015-08-26 14:43] dpdonohue commented on #490
I vote for @sebakerckhof adding more documentation on how to do Angular-Meteor in a package-based archtiecture!  I agree this is the best practice for Angular-Metero apps!

Having seen the documentation here
http://angular-meteor.com/tutorial/step_05#routesdefinition
I still am having problems getting this thing to work.

I made an issue on StackOverflow:
http://stackoverflow.com/questions/3220916

[2015-08-26 21:29] mpkorstanje opened #629 "Can helpers create AngularMeteorObjects?"
I have an object model with helper functions from `dburles:collection-helpers` to get and set related objects.

[code]

The authors and books are put into scope by the controller.

[code]
And looping over the books, the `book.author()` function is used to fetch the author of the book. The author is then used as the model of an drop down which lets us pick from all the available authors.

[code]

T

[2015-08-27 13:30] dpdonohue commented on #490
I found a way to inject Angular into Meteor via packages, and documented it here
http://stackoverflow.com/questions/32209160/angular-meteor-how-can-i-include-ng-template-in-package-based-design/32250748#32250748

[2015-08-27 18:36] estaub commented on #191
I see the same issue, FWIW.  Adding the underscore works.  I wonder if there's leading-underscore adding/stripping somewhere in Spacebars or related.

[2015-08-27 18:46] marioaleogolsat opened #630 "Can't use expression {{...}} at the index.html"
Hey, I've been playing around with meteor-angular for a while and I've got something wierd: I can use expressions like {{ text }} at any TEMPLATE.ng.html. "Well, maybe the angular.js is not loading...", that's what I thought, but if I use something like <p ng-bind="{{ text }}"></p> it works like a charm.
Even simple expressions like {{ 1 + 2 }} doesn't work, it trows "Indentifier Expected" .

Is t

[2015-08-27 22:36] jonmc12 opened #631 "Bump Version #?"
I ran into some issues related to issue #349 and wanted to test if some of the recent commits fixed the problem.  However, running a 'meteor update' failed to get the latest version of "urigo:angular" package.  I noticed that while several updates were made to the package, the version # in package.js was not updated, so I don't think there is any way I can download that latest via meteor package s

[2015-08-27 23:38] AnjirHossain opened #633 "Passing selectors from client for inexpensive DB querying"
I'm trying to specify selectors for the meteor [collection.find](http://docs.meteor.com/#/full/find) in order to implement search functionality in my app. I know 'how to' questions are best for SO but I got nowhere there.

1st attempt:

    // inside on of the controllers (Client)

    var selectors = {"make.name":"Toyota"}
    var test = Listings.find(selectors);

    var test2 = Listings.findOne

[2015-08-28 00:37] sean-stanley commented on #629
+1

[2015-08-28 04:53] Tallyb commented on #633
I think you flipped your logic. The server publish code should be
if (selectors), or if (!!selectors).

[2015-08-28 05:37] AnjirHossain commented on #633
Thank you so much for the response! if (selectors) is actually what I have, it was a typo I made posting the issue. I'm still getting the entire db, could it be that I'm timing the $meteor.subscribe  call incorrectly? or passing the selecters var in the wrong place? I'm able to get around this issue if I try something like Meteor.subscribe('listings', selectors) but this feels hacky, and it breaks

[2015-08-28 07:21] Tallyb commented on #633
I would suspect that there is another subscription which get the full listing, and in this case the collection gets everything. try and remove the return Listings.find();
If you want to further discuss it - I suggest to go on gitter.

[2015-08-28 07:32] AnjirHossain commented on #633
That ^ + $or syntax did the trick; thanks!

[2015-08-28 13:58] JohnAReid opened #635 "Meteor 1.2 - Official support for React and Angular as view layer alternatives to Blaze"
The documentation for Meteor has the following regarding version 1.2:

Official support for React and Angular as view layer alternatives to Blaze.

Would you care to explain what this means!

[2015-08-28 14:45] mpkorstanje commented on #629
Created [minimal example of problem](https://github.com/mpkorstanje/angular-meteor-helpers-issue). Example is somewhat different from the code above. That way I could avoid using ui-select. The example breaks at `ng-repeat="book in selected.author().books()` which returns a new array each time `author.books()` is invoked.

[2015-08-28 19:03] mpkorstanje commented on #629
Looked into the problem some more but I don't think it can be properly solved right now.

1. To look up meteor documents  we need to go through $meteorCollection or $meteorObject. This is the easy part. The helper functions can be declared as factories that produce the actual function with $meteorCollection and $meteorObject in their scope. E.g. something like this:

[code]

And with some addition

[2015-08-28 20:14] JohnAReid commented on #631
The following might explain it (atken from https://github.com/Zodiase/meteor-mdl/issues/17#issuecomment-135857184)

That might be the issue with meteor package manager. I follow the package versioning instruction and use mainVersion-revision format but somehow meteor package manager considers 1.0.1 more up-to-date than 1.0.1-1 for example. I tested and found even with 1.0.2-1 released, using meteo

[2015-08-28 21:07] jonmc12 commented on #631
Thx @JohnAReid, but in this case it does not look like the version # has been bumped since [July 20](https://github.com/Urigo/angular-meteor/commit/6b837e621f03c3aab2289f90764449d91cde02d3), and atmosphere lists latest version as [August 13](https://atmospherejs.com/urigo/angular), even though there have been dozens of commits since that date.  As far as I understand, there is know way to get the

[2015-08-29 03:33] Urigo commented on #631
Hi guys,  sorry that it took a while, I had many things I wanted to push in the next version and I just kept postponing it!
Right now I'm testing the current master against my own apps and tutorials (even though we have great test coverage) and will release a new version in a few days.
Also, the next version will be the last one on `urigo:angular` and from then on we will move to the new and offic

[2015-08-29 05:37] jonmc12 commented on #631
@Urigo - very cool!  congrats on the official package.  Personally I have found the project very empowering between docs, support, tutorials and quality of library - so I'm not surprised it was adopted by Meteor.

I didn't realize you used master branch to keep unreleased commits - all makes sense.  I'm using the release candidate and seems to be working great.

[2015-08-29 16:20] leoetlino commented on #635
That means that Meteor now officially supports Angular as another client frontend in addition to their homegrown Blaze. This in turn means that `urigo:angular` will become `meteor:angular` (or simply `angular`) in the future.

As far as I am aware, the official support shouldn't bring any breaking changes.

[2015-08-29 16:27] leoetlino commented on #519
I wouldn't recommend StartSSL. While they offer free certificates, revocations aren't free, and this stays true even if [a widespread, critical security bug is affecting most sites and revoking is the only way to keep your HTTPS site secure](https://en.wikipedia.org/wiki/Heartbleed). [1] [2] [3] [4] [5]

[1] https://raim.codingfarm.de/blog/2014/04/12/distrusting-startssl/
[2] https://www.startssl.

[2015-08-29 16:31] leoetlino commented on #519
There are alternatives:
- [Let's Encrypt](https://letsencrypt.org/) (coming in Q4 2015)
- CloudFlare's free SSL service

But either they are not available yet (*Let's Encrypt* is coming in Q4 2015) or they do not support websockets (CF's free plan does not supports WS), so I would suggest GlobalSign's [free certificate for open source projects](https://www.globalsign.com/en/ssl/ssl-open-source/).

[2015-08-29 16:45] ccortezia commented on #558
Sorry for taking so long to return here.

1) The bottleneck is still there on 0.9.x
2) It is activated any time a underlying data change occur, and trigger the observer callbacks.
3) The bottleneck can be avoided when data is being added to an empty array instead of updating an already populated one.

Initially I went the worked around it by dropping every single element from the collection array

[2015-08-29 17:55] simonv3 commented on #545
@Urigo I can help with Dutch - do you have any idea how to do this with Angular / JS in general? I've only ever done it with Ruby / Python apps.

[2015-08-29 19:25] JohnAReid commented on #635
@leoetlino Many thanks

[2015-08-29 19:25] #635 closed

[2015-08-29 20:39] divramod opened #639 "meteor-include not showing after upgrade to meteor 1.2-rc.7"
Hey, i included my password template like:

[code]

after updating meteor to meteor 1.2-rc.7 the template wont show up anymore.

i tried different templates at different locations but angular seemes to ignore the meteor-include directive now?

angular module

[code]

meteor list

[code]

[2015-08-29 20:53] divramod commented on #639
i also tried it with urigo:angular

meteor list

[code]

[2015-08-30 09:50] vacarsu commented on #561
Same problem here.

[2015-08-30 11:17] Urigo commented on #558
@ccortezia thanks and very interesting points.

My guess is that the reasons are that we deep check when collection is updatedAt.
This is probably why when you remove everything it won't go through it and just do to addedAt.

I wonder if using a non nested diff makes your scenario better?
You can do it like we do in CollectionFS:
https://github.com/Urigo/angular-meteor/blob/master/modules/angular-

[2015-08-30 17:52] simonv3 commented on #630
Hey @marioaleogolsat, if you're following the tutorial you'll see this disclaimer:

Which might be what's going on in your case.

To get around it, from the tutorial:

And add

[code]

to `index.html`.

Let me know if that fixes your problem!

[2015-08-30 18:29] #639 closed

[2015-08-30 18:51] Urigo commented on #639
@divramod thanks for the catch!
The problem is not in Meteor 1.2 but in the new release of angular-meteor.
So I took the opportunity to refactor the code as well, also fixing notes from @stubailo code review and separated this functionality to a separate package:
https://github.com/Urigo/angular-blaze-template
http://angular-meteor.com/api/blaze-template

[2015-08-31 06:20] divramod commented on #639
hey, thx for your fast reply. even on sunday :-)

good idea to seperate it.

its solved for me now.

[2015-08-31 09:16] quetzalcoatl commented on #516
@marcusreese: have you been using sanjo:jasmine when this problem occurred?

[2015-08-31 11:32] sebakerckhof commented on #633
Btw, be sure to check your selectors on the server, to avoid stuff like: http://blog.east5th.co/2015/08/10/dos-your-meteor-application-with-where/

[2015-08-31 12:21] ccortezia commented on #558
Well, actually in both cases my execution flow went through updateAt. The difference was in this conditional [check](https://github.com/Urigo/angular-meteor/blob/0.9.3/modules/angular-meteor-collections.js#L134)

This [gist](https://gist.github.com/ccortezia/387fafce1f8d14dd482c) shows the simplified meteor collection I was talking about. See that I didn't need to perform any deep comparison. Perh

[2015-08-31 13:04] marioaleogolsat commented on #630
Thanks, works perfectly for me!

[2015-08-31 13:04] #630 closed

[2015-08-31 14:09] shinrox commented on #545
I can help with brazilian portuguese

[2015-08-31 21:17] Brasilikum commented on #559
Had the same issue, the solution @Tallyb proposes totally works.

[2015-08-31 22:01] vacarsu commented on #561
I'm in a bit of a hurry to get this issue sorted out, any insight would be greatly appreciated.

[2015-08-31 23:12] Urigo commented on #559
Closing.
@sali1982 please reopen if @Tallyb solution doesn't work for you

[2015-08-31 23:12] #559 closed

[2015-09-01 08:04] hojas opened #643 "$meteor.collection(Posts).subscribe('posts') or $scope.$meteorSubscribe('posts') ?"
What is the difference between

[code]

and

[code]

?

[2015-09-01 08:13] batjko commented on #643
Well, according to the [API reference](http://angular-meteor.com/api/subscribe):

...which indicates this will not be the case, if you use the other version.

[2015-09-01 08:14] Tallyb commented on #643
The latter allows you to use a function to fetch only part of the data in the local minimongo.

Take a look here: https://medium.com/angular-meteor/coll-pub-sub-with-angular-meteor-cb13fe48f570
(and forgive the self promoting, but I think you may find it useful)

[2015-09-01 10:28] mxab opened #644 "angular-meteor conflicts with meteor-job-collection when included after"
Hi,

I just noticed that the angular-meteor package in combination with the meteor job collection throws an error if included in the wrong order
[code]

I guess this is a related issue
https://github.com/vsivsi/meteor-job-collection/issues/58

I cannot really see where some Mongo.Collection shadowing is happening, maybe in one of the dependencies does it

Not sure if there is anything that can be

[2015-09-01 10:34] mxab commented on #644
A very simple workaround for now is to make sure that the angular packages is listed before the job collection in the _packages_ file

[code]

[2015-09-01 10:49] alexanderzeillinger commented on #502
I like the draft of @markleusink :+1:

[2015-09-01 11:55] Tallyb commented on #639
@Urigo The logic behind removing it from the core package is understandable.
With the new official support for angular / react - will they have "native" ui-accounts?

[2015-09-01 15:55] #629 closed

[2015-09-01 19:50] Urigo commented on #633
thanks everyone!

[2015-09-01 19:50] #633 closed

[2015-09-01 20:00] #643 closed

[2015-09-01 20:04] Urigo commented on #639
@Tallyb if someone will take the initiative and do that then we will have those :)
I actually don't think it's a good idea that Meteor are the ones supporting the Blaze one....

[2015-09-01 20:14] Tallyb commented on #639
Well, they support blaze. Angular should not be a lesser child...

[2015-09-01 21:02] Urigo commented on #639
yes, I'm saying that by supporting Blaze, they shouldn't support the accounts-ui package, I don't think it's a core package

[2015-09-02 15:58] Urigo commented on #286
@batjko can you share your repo?

[2015-09-02 16:42] ppotoplyak commented on #544
This is an issue with the underlying mdg:camera package and not angular-meteor.  Sorry about the noise, closing bug.

[2015-09-02 16:42] #544 closed

[2015-09-02 17:48] batjko commented on #286
@Urigo I'm afraid it's not on Github. Let me know what you'd like to see.

[2015-09-02 18:02] Urigo commented on #544
@ppotoplyak thanks for the persistence and the updates!

[2015-09-02 20:33] Urigo commented on #286
can you send it to my personal mail?

[2015-09-02 21:02] DAB0mB commented on #561
For me it is just showing the warning above, but it doesn't show any error. Infect the files seem to be saved properly. Anyways for me it doesn't seem like an angular-meteor issue but more like gridfs issue. Have you tried using the latest version of angular-meteor? Note that `urigo:angular` is now deprecated and you should add `angular` package instead.

[2015-09-02 22:49] vacarsu commented on #561
Yes it's just a warning I managed to get everything working find. This is an issue with CollectionFS I think as I get this warning with the file system store as well.

[2015-09-03 09:02] batjko commented on #286
So I've tried it again, after a laptop reboot and restarting Meteor in the project... I no longer see this error.
It's a bit strange that it turned up in the first place, since all the packages were on the latest version, but apparently it's all good now.

[2015-09-04 11:40] DAB0mB commented on #483
As for version `1.0.0` there isn't any digestion problem. Obviously the promise won't be resolved since it's being rejected by the schema, but the funny thing is that the promise is rejected with the bound result instead of the received error. I [fixed](https://github.com/DAB0mB/angular-meteor/commit/f0e6a71f5625f916b98bf92870a59bab48c0edf5) it, hopefully enough it will be merged soon :-D

[2015-09-04 13:01] DAB0mB commented on #517
@boomfly can you please create a more concise repository that demonstrates your issue? (This)[https://github.com/boomfly/AngularCrazyDirtyCheck] repository doesn't seem to work.

[2015-09-04 21:31] DAB0mB commented on #558
@urigo @ccortezia As for version `1.0.0-rc4`, to test this issue I used the following piece of code:

[code]

And this was my profiling result:

![image](https://cloud.githubusercontent.com/assets/7648874/9694746/2315c7ca-5364-11e5-8e7d-f6ef6da32e4c.png)

It seems that there are 2 bottlenecks:
- `Meteor._debug` - caused mostly by silly debug logs.
- `AngularMeteorCollection._upsertDoc` - which doe

[2015-09-05 02:45] jdmswong opened #649 "Adding to array deletes all others"
Stackoverflow synopsis here:
http://stackoverflow.com/questions/32409003/modifying-a-collections-objects-attribute-removes-all-other-attributes

I submitted it as a question, but I think I may have found a bug.

[2015-09-05 14:52] maximedubois opened #650 "Can't use <div ng-controller="MyCtrl"> outside <div ui-view>"
If I use
`<div ng-controller="TestController">{{test}}</div>` in index.html beside `<div ui-view></div>` and I declare my scope variable in my controller the value is never shown on the page.

[2015-09-05 17:06] maximedubois commented on #650
it seems like there's a conflict between angular and meteor using {{}}. If I use <span ng-bind="test"></span> it's working well..

[2015-09-05 23:13] Urigo commented on #650
yes, as of today, `html` files are rendered by `Blaze` and not `Angular` and only `ng.html` files are rendered by `Angular`.
Soon this will be changed in the new Meteor 1.2 release where there is a better separation, my plans are to make `angular@1.0.0` support all `html` files by Angular.
In the meantime you can keep using `.ng.html` or use this `angular-meteor-platform` package:
https://github.c

[2015-09-05 23:13] #650 closed

[2015-09-05 23:31] Urigo commented on #561
@vacarsu can we close this for now?

[2015-09-05 23:31] Urigo commented on #561
@YooJaSung can we close this for now?

[2015-09-06 07:01] Unavi opened #652 "Stopping a subscription"
I just completed [Angular Tutorial Step 12](http://angular-meteor.com/tutorials/angular1/search-sort-pagination-and-reactive-vars) and it seems like the last part, Stopping a subscription, isn't working.

It says I have to use
`$scope.$meteorSubscribe(name, publisherArguments)` instead of
`$meteor.subscribe(name, publisherArguments)`,
but even with the change it is not reacting to any search or pa

[2015-09-06 11:33] michelalbers opened #653 "Nested cursors in $meteorCollection"
I was playing with Astronomy and Relationships (https://github.com/jagi/meteor-astronomy/wiki/Relations) which works great but unfortunately breaks $meteorCollection. The result of a fetch would be:

[code]

When I now try to access object.images I get the following error:

[code]

Followed by digestion loop errors.

Any ideas on this? I forked angular-meteor myself and will try to fix that. Any h

[2015-09-07 11:19] Urigo commented on #644
@mxab can you check if that happens by one of the package dependencies?

[2015-09-08 06:51] #510 closed

[2015-09-08 13:03] kongaraju opened #656 "collections are not updated correctly in reactive contexts"
I would like use "track by" to prevent rerendering. but its not working...

[code]

html

`<div ng-repeat="task in tasks track by task._id" >`

I am updating the session item to increase the limit, its regenerating the whole list since track by is not working.

am doing wrong anywhere?

http://stackoverflow.com/questions/32443688/angular-meteor-track-by-not-working

[2015-09-09 18:31] Urigo commented on #278
I think this feature should go in a separate package..
I would love to accept any pull requests that will provide that new package an easier API.
Closing for now

[2015-09-09 18:31] #278 closed

[2015-09-09 18:31] Urigo commented on #349
Fixed in 1.0.0-rc.5

[2015-09-09 18:31] #349 closed

[2015-09-09 18:32] Urigo commented on #367
thanks everyone for all the help, our current state is much better!

[2015-09-09 18:32] #367 closed

[2015-09-09 18:33] Urigo commented on #483
@shadysayed looks like it's fixed in `angular@1.0.0-rc.5`.
Please test and let me know if it works for you.

[2015-09-09 18:33] #483 closed

[2015-09-09 18:34] Urigo commented on #487
@alecperkey closing for now. If you can provide more feedback please reopen

[2015-09-09 18:34] #487 closed

[2015-09-09 18:40] Urigo commented on #504
@markoffk If it's still relevant, you should re-open that issue on this repository as we deprecated `meteor-include` in favor of `blaze-template`:
https://github.com/Urigo/angular-blaze-template

[2015-09-09 18:40] #504 closed

[2015-09-09 18:41] Urigo commented on #517
@boomfly please provide an updated example?
Closing for now

[2015-09-09 18:41] #517 closed

[2015-09-09 18:41] Urigo commented on #521
Fixed in `angular@1.0.0-rc.5`

[2015-09-09 18:42] #521 closed

[2015-09-09 18:42] Urigo commented on #527
Yes, you just need to:

    meteor add angular:angular@1.2.0

To you app as a hard dependency.

[2015-09-09 18:42] #527 closed

[2015-09-09 18:45] Urigo commented on #537
@tgienger what you described is how it is supposed to work.
Can you please provide an example where it isn't the case?

[2015-09-09 18:45] Urigo commented on #541
Fixed in `angular@1.0.0-rc.5`

[2015-09-09 18:45] #541 closed

[2015-09-09 18:46] Urigo commented on #545
I'm closing for now as providing the infrastructure is too expensive.. :(
Would love to get PR though...

[2015-09-09 18:46] #545 closed

[2015-09-09 18:46] Urigo commented on #551
Fixed in `angular@1.0.0-rc.5`

[2015-09-09 18:46] #551 closed

[2015-09-09 18:47] #561 closed

[2015-09-09 18:47] Urigo commented on #567
Should be fixed in `angular@1.0.0-rc.5`
@piranha66 can you please test and provide feedback?

[2015-09-09 18:47] #567 closed

[2015-09-09 18:48] #576 closed

[2015-09-09 18:48] Urigo commented on #585
Fixed in `angular@1.0.0-rc.5`
Please let me know if that's not the case

[2015-09-09 18:48] #585 closed

[2015-09-09 18:49] Urigo commented on #592
@tgienger are you using it with `angular-meteor`?

I would love to see an example and maybe even add it to the tutorial!

[2015-09-09 18:50] Urigo commented on #631
Just released `angular@1.0.0-rc.5`.
Let me know if everything works for you!

[2015-09-09 18:50] #631 closed

[2015-09-09 18:55] Urigo commented on #649
@jdmswong that looks like an interesting `autobind` problem.
My first response would be to recommend not to use `autobind` because it's not best practice, but in anyway we need to solve it.
Do you think that you can provide a failing test that I could look into?

[2015-09-09 18:57] Urigo commented on #652
Have you tried comparing your code to the current state of the tutorial?
https://github.com/Urigo/meteor-angular-socially/tree/step_12

[2015-09-09 18:58] Urigo commented on #656
Can you please share a repo with the publication as well?

[2015-09-09 21:06] Unavi commented on #652
Yes no difference. In step 16 the subscription section changes suddenly to:

    var subscriptionHandle;
    $meteor.subscribe('parties').then(function (handle) {
        subscriptionHandle = handle;
    });
    $scope.$on('$destroy', function () {
        subscriptionHandle.stop();
    });
but even with that change no improvement.

[2015-09-09 21:29] jdmswong commented on #649
Hi @Urigo I'll see if I can whip one up for you.  Can you elaborate on ```autobind```? I don't see it explicitly used here.

[2015-09-09 21:47] Urigo commented on #649
`autobind` (http://angular-meteor.com/api/meteorObject) means that every change you made to the object, it will automatically be saved. like 3 way data binding.
The when you `push` to an array, we `$watch` that, find out what changed and then save it to Meteor.

The best practice is to not use that, pass `false` in the third parameter and use the `save` function to save your changes.

[2015-09-09 21:52] jdmswong commented on #649
Is it best practice because using save makes one call to the server, instead of many smaller ones?

[2015-09-09 22:03] Urigo commented on #649
No, it's because it's better to use 1 way data binding then 2 way data binding.
It's better for performance and less error prone.
React, Blaze and Angular 2.0 work in that way

[2015-09-09 23:47] tgienger commented on #592
Sure thing. I can just re-write a tutorial in typescript if you like.

[2015-09-10 00:03] tgienger commented on #537
@Urigo If you set a limit of 25, the local collection will always be 25. What I was wanting was to be able to grab the latest 25 out of the collection and then allow the local collection to grow beyond that. I can't recall what I ended up doing, but basically what @ccortezia mentioned works. Grab a subscription that gives you the latest 25, then stop it so it no longer updates, then have another s

[2015-09-10 02:22] zakmandhro opened #662 "Angular Animate (ngAnimate) not working with angular-meteor-1.0.0-rc5"
It looks like Angular Animate (official v1.4.5) is not working when loaded in the context of angular-meteor. The [basic animate example from Angular docs](https://docs.angularjs.org/api/ng/directive/ngSwitch#animations) is failing with no error but no animation either.

Here's a plain [Meteor project repo](https://github.com/zakmandhro/meteor-angular-animate) to reproduce it.

Did I miss something

[2015-09-10 04:48] DevinXian commented on #191
`<meteor-include src="loginButtons"></meteor-include>`
or
`<meteor-include src="_loginButtons"></meteor-include>`
not works.
However,`<blaze-template name="_loginButtons"></blaze-template>` is OK :)

[2015-09-10 05:37] adrianbj commented on #263
I was having a horrible time with getting an external API today and had no luck with angular's $http, but using meteor's HTTP package seems to have solved it - might be a useful tip for others.

[2015-09-10 11:28] kongaraju commented on #656
Source @  https://github.com/kongaraju/simple-todos-angular
Deployed @ http://angularmeteortodostrackby.meteor.com/

Login and add more than 10 todos
click on loadmore to see  more
on each load more it is rerendering the whole list, expected to be render only the next 10 records since we are using track by

Thanks for your quick response and support.

[2015-09-10 13:33] vsheyanov opened #664 "Angular 2 tutorial, step 5 (Routing) not loading"
http://angular-meteor.com/tutorials/angular2/routing-and-multiple-views

From console:
```Uncaught Error: Multiple files in patch. Must specify filename which is one of: client/app.ts, client/parties-list/parties-list.ts```

[2015-09-10 14:11] mackbrowne commented on #662
@zakmandhro just tried your example and can confirm the issue.  Am able to reproduce it... couldn't figure out what was wrong.

[2015-09-10 17:27] vacarsu opened #665 "Collection FS $digest error when reactive save set to true"
When I set the reactive save to true on a FS collection Angular explodes with the following.

[code]

[2015-09-10 18:29] vacarsu commented on #665
It seems this actually happens when using object.url() in a template and having reactive updates set to true.

[2015-09-10 20:24] zakmandhro commented on #662
@Urigo not sure what's going on but we should probably check this before bumping to 1.0 final, in case the root issue has implications on other JS libraries.

[2015-09-10 20:27] vacarsu commented on #652
if you can't get $meteor.subscribe you can try $scope.$meteorSubscribe() this will stop the subscription when the scope is destroyed.

[2015-09-10 22:44] Unavi commented on #652
@vacarsu that's what I it was original but doesn't work.

[2015-09-10 23:12] marcusreese commented on #516
Yes, I have been using sanjo:jasmine, and it was loaded after angular-mocks.
As you suggested, I solved the "module not defined" problem by the following:
`meteor remove angular:angular-mocks`
`meteor add angular:angular-mocks`
I appreciate your disclaimer: "Meteor can in fact load them in any order, and this trick doesn't guarantee anything, it can change with different Meteor versions. It just h

[2015-09-11 13:33] raza2022 opened #669 "routes not resolve the collection"
i am trying to resolve my Mails collection for two routes (inbox & sent). with two different quires but got the same mails collection. here is my code for routes config.
[code]
and in both controllers mail bind with these i.e
[code]
and here is simple server code
[code]
Any help is greatly appreciated !

[2015-09-12 02:49] Unavi commented on #652
Finally figured out why it is not subscribing anymore...
![picture](http://i.imgur.com/J3Ki78L.jpg)
Removed this part in `routes.ng.js` and now it's working.

Why should I subscribe with `$meteor.subscribe` bzw why do we start with this in the tutorial?
Is there any advantage?

[2015-09-12 04:23] jonmc12 commented on #631
@Urigo I've been on ```angular@1.0.0-rc.5```, generally working well, but I'm actually seeing the #349 type problem again.

I have a form where the user updates 3 fields on a model - which then reveals a 4th field.  I do a batch update on the 3 fields, and it works.  But then when I try to update the value of the 4th field, and it does not update to the DB.  Its reproducible that it seems to lose

[2015-09-12 06:34] Tallyb opened #671 "ENOENT error when trying to build docs locally"
When running meteor / meteor update  I get ENOENT on both of those packages:

mdg:tutorial-diff-box
mdg:tutorial-step-diff-compiler

Error: ENOENT, mkdir 'D:\dev\angular-meteor\.docs\angular-meteor\packages\tutorial-step-diff-compiler\.npm\plugin\mdg:tutorial-step-diffs-plugin-new-8fezek'

On windows 10.

[2015-09-12 14:09] Urigo commented on #652
@Unavi Ohh I see now!
Maybe we should rephrase it...
Can you maybe suggest a pull request to the docs that will make it more understandable?

[2015-09-12 18:41] DAB0mB commented on #653
For me it works.

Iv'e tested it using the following peace of code:

[code]

Can you please show an example usage? Maybe it's a specific scenario.

[2015-09-12 18:59] Tallyb commented on #459
I am on windows 10 and loading time are totally insane...

![image](https://cloud.githubusercontent.com/assets/7386255/9833280/8a0bcb24-5999-11e5-8453-ff6b1c22815e.png)

[2015-09-12 20:30] JohnAReid commented on #459
I am so pleased I do not wait for Windows 10 - I also remember reading a post on the Meteor main forum that the start time on Windows 10 was slow.

[2015-09-12 20:55] Urigo commented on #502
We have new designs thanks to @hlandao and @dotansimha !!
Check out the Bootstrap version here: http://socially-step17.meteor.com/
and the `angular-material` version here: http://socially-step18.meteor.com/

More improvements and pull requests are welcomed.

Thanks everyone for the great help and suggestions

[2015-09-12 20:55] #502 closed

[2015-09-12 20:58] Urigo commented on #671
@Tallyb can you see if it's a problem with the tutorial plugin?
If so, it's better to open it as in issue in the package itself:
http://info.meteor.com/blog/step-by-step-tutorials-with-git

[2015-09-12 21:03] Urigo commented on #669
@raza2022 yes, that's how publication works.  You will have to close one of them before turning on the other.
There is a great article about it linked in the tutorial here: http://angular-meteor.com/tutorials/angular1/privacy-and-publish-subscribe-functions#understandingmeteorspublishsubscribe

@Tallyb wrote a great article explains that, which I asked her to add to the tutorial and she didn't :)

[2015-09-12 21:03] #669 closed

[2015-09-12 21:04] Urigo commented on #664
not again :(
@vsheyanov thanks for that.
@ShMcK could you have a pick?
thank you both!

[2015-09-12 21:08] Urigo commented on #592
that can be cool!

[2015-09-12 21:14] Urigo commented on #516
@quetzalcoatl amazing answer!
As right now we are the ones publishing the `angular:`angular-mocks` package, we can add a `weak` dependency to `sanjo:jasmine`.  not the cleanest solution but might save a lots of headaches to people..

@dotansimha what do you think?

Closing as we have a solution for that but let's keep the conversation

[2015-09-12 21:14] #516 closed

[2015-09-12 21:15] Urigo commented on #490
Do one of you want to add a chapter to the tutorial on changing the structure to package based?

[2015-09-13 00:02] ShMcK commented on #664
I've made [a pull request with a patch update](https://github.com/Urigo/angular-meteor/pull/672).
Sorry for the trouble.

[2015-09-13 02:28] mikemorris46 commented on #461
Hi,
Have been following the tutorial, which is great by the way, but hit some problems on Step 20. Any chance of adding the files for the completed app? Files only go as far as step 19.

[2015-09-13 03:47] #671 closed

[2015-09-13 03:47] Tallyb commented on #671
https://github.com/meteor/tutorial-tools/issues/7

[2015-09-13 04:02] Tallyb commented on #669
@Urigo  - hey, the link is in the summary section for a long time...
Anyway - reworked the wording and moved it to the understanding section, with a preface note at the top of the tutorial.

[2015-09-13 18:14] vishalmanchanda opened #676 "unable to add bootstrap package"
This can be specific to meteor(or some setting on my side )but adding here as I could not find any answers from my google search. I'm able to add angular, angular-ui-router, less and many other packages where as unable to add bootstrap or angular-ui-bootstrap. Tried with multiple package authors but getting timeout error -whereas connection doesn't time out for many other packages

 => Errors whil

[2015-09-13 20:45] dotansimha commented on #516
@Urigo
Sure it's not a problem to add the weak dependency and I think this is the right solution - it will not install `sanjo:jasmine`, but it will load after it.

So, to add & publish?

[2015-09-14 12:00] raza2022 opened #679 "collection not seems to bind with template"
i have a collections named Mails. now i trying to bind single mail (let's suppose currentMail) with template but it doe's working within scope. am tried both methods by following examples given@ http://angular-meteor.com/api/meteorObject and here is my code in controller
[code]
i also tried
[code]
the Question is that, is necessary to subscribe the $scope with collection to retrieve one collection

[2015-09-14 14:51] Urigo commented on #516
@dotansimha yes

[2015-09-14 16:18] ThomsC commented on #665
I've got the same error!

[2015-09-14 16:51] Urigo commented on #664
Fixed

[2015-09-14 16:51] #664 closed

[2015-09-15 07:23] DAB0mB commented on #662
Ok, it took me some time but i finally figured it out. The short answer is **no**, there's nothing wrong with angular-meteor. Here's a little break down. angular-animate will only animate elements under the right scope, it means that elements outside `ng-app` or elements that are detached from the DOM won't be animated. That's exactly how angular-animate works, it takes a specific node as a parame

[2015-09-15 11:11] suhail-ansari-apconic opened #680 "Creating packages with angular"
I would like to create some packages with angular the same way we can do with blaze. I am unable to find any documentation as to create packages that provide a functionality like blaze with angular. I would like to create a full user management module with angular and include in my various applications.

With blaze it was quite easy. I would create a template and can include my templates with incl

[2015-09-15 13:35] suhail-ansari-apconic commented on #680
I was able to solve the problem by reading your route tutorial portion correctly. What is needed though for tutorial is how to write a package using angular instead of blaze.

The whole angular thing is working nicely for now but some more tutorials and few package from angular universe will make this whole angular-meteor a great success story.

Thanks

[2015-09-15 16:11] zakmandhro commented on #662
@DAB0mB Thank you for investigating and the explanation. Makes sense!

I verified this behavior outside of Angular-Meteor (http://embed.plnkr.co/Yq5dvSp7Je5ldktgHZtc) and confirmed this is not a blocker.

[2015-09-15 16:11] #662 closed

[2015-09-15 22:09] nspangler opened #681 "Adding More Items To meteor.Collection using infinite scroll."
I have an collection defined as:

    $scope.someItems = $scope.$meteorCollection( function () {
         return Items.find({}, {limit :  $scope.getReactively('limit')});
     });

   where

    $scope.limit = 10;

   In my html I have:

       <ion-infinite-scroll
                ng-if = "canLoadMore()"
                on-infinite="loadMore()"
                distance="1%">
        </ion-infinite

[2015-09-16 01:03] mattiLeBlanc commented on #452
I must say this is kind of a surprise. After building my app locally with Meteor Angular and experiencing such a smooth development process.
When I used Meteor Up to deploy and ran my app in production, seeing the Unknown provider message and not app is kind of a downer.
I followed the tutorial of Angular Meteor and automatically used the annotate syntax.
Of course the issue is Coffeescript in thi

[2015-09-16 02:01] dtruel opened #682 "Publish more fields in $rootScope.currentUser"
Hello,

I'd like to send some more fields over besides just the email of the user.  Is there a way I can attach more things to send in $rootScope.currentUser than just email and _id?  The docs say do this,

[code]

and on client

[code]

But I get a strange error in ddp when I do that.  Any ideas?

THANKS!

[2015-09-16 02:22] dtruel commented on #682
Found it!

I put `Meteor.subscribe("userData")` on both client and server - and that was messing it up.  There might still be an easier way to do this.

[2015-09-16 02:48] dtruel commented on #682
I'm reopening this issue because there has to be an easier way to do this.  This should be one of those things that is really easy to do because it's such a common feature.  I know it's easy to talk, and if I really mean action, I need to submit a pull request.  But before I go there, I'd like to see if there is an easier way already that I haven't found.

[2015-09-16 03:16] #682 closed

[2015-09-16 03:17] dtruel opened #683 "403 Error on profile update"
When I write the following code, and it executes, I get a 403 error.  It says I can only update

[code]

The error is `Untrusted code may only update documents by ID. [403]`

[2015-09-16 03:52] dtruel commented on #683
Solved!  By default you are not allowed to write to any other field than `profile` for the user db

[2015-09-16 03:52] #683 closed

[2015-09-16 03:52] nutanlade opened #684 "Unable to redirect to intended page after login"
Hi All,

I'm trying to redirect to messages page after FB login. Somehow it is not working. Please correct or provide any other alternative.

angular.module("jaarvis").run(["$rootScope", "$state", "$meteor", function($rootScope, $state, $meteor) {

   $meteor.autorun($rootScope, function(){
      if (! Meteor.user()) {
        console.log('user');
        if (Meteor.loggingIn()) {
          consol

[2015-09-16 09:06] lanmower opened #685 "Textangular issues"
I have no idea where else to post this, looks like fraywing:text-anuglar on github is the original project and its not clear who maintains it on meteor.

http://meteorpad.com/pad/eedqTbamxnyHKcAK6/Textangular

Textangular gives the following error when included.

WARNING: Tried to load angular more than once.

[2015-09-16 16:24] jonmc12 opened #686 "Collection Save no longer returns ID of inserted object"
Problem:
[code]

I corrected this locally by updating [angular-meteor-collection.js, line 85](https://github.com/Urigo/angular-meteor/blob/master/modules/angular-meteor-collection.js#L85) from:

[code]
to:
[code]
I'm not sure if this fix is comprehensive enough for pull request, and probably needs a test added to spec, but has solved the issue for me temporarily.

[2015-09-16 21:29] alekhurst opened #687 "Displaying Angular-Meteor uploaded files?"
I have followed step 20 of the meteor angular tutorial you've provided, and I'd like to thank you for this tutorial because it was extremely helpful and has converted me to using angular & meteor for my projects.

One problem I'm facing is how to display the images that have been uploaded? In the "Display Uploaded Images" section of step 20 from the tutorial, this snippet is provided to push the i

[2015-09-17 06:18] dtruel opened #688 "Untrusted code may only update documents by ID."
The following code fails with the following error:` Error: Not permitted. Untrusted code may only update documents by ID. [403]`.

[code]

I read up on the docs, and it looks like the update must use the _id property to update only.  I tried to debug the code and I think that when angular-meteor does the update, it tries to use the original selector.  To fix it, I think we would need to write code

[2015-09-17 08:17] Cygnx opened #689 "Splicing an element of an array that is binded to an object in a collection"
I'm currently trying to splice an array that is part of an object and am running into an error.

In my angular controller, I used the  $meteor.object call (with the default autoupdate param set to true )to get a cursor to an object that looks like this:
{
'roomID': 1 ,
'users': [a,b,c,d,e,f,g,h,i]
}
now when the scope of this controller dies I want to remove element g from the users array.
the cod

[2015-09-17 12:36] shinrox commented on #685
yeah, I didn't find a good package too.. you can try creating your own package following this steps http://angular-meteor.com/tutorials/angular1/3rd-party-libraries

[2015-09-17 14:39] Urigo commented on #669
thanks @Tallyb !

[2015-09-18 16:01] jonmc12 commented on #689
+1, I have been seeing this as well since rc5.  For me mongo db on server is updating correctly, but minimongo is having issues on client and gives similar error in browser console.

[2015-09-18 22:38] Lavan commented on #681
I assume that you have an ion-list with an ng-repeat attribute somewhere before the ion-infinite-scroll tag. In that case you I think it's enough if you add a "track by item._id" so that angular can map all the new items to the old ones.

[2015-09-18 23:02] ntrp opened #691 "$meteor.loginWithFacebook causes "Service not configured""
I am trying to custom login with facebook on angular-meteor but I can't get past this error... It keeps saying "Service not configured" but login-buttons is working correctly..

On the client
[code]

On the server:
[code]

[2015-09-19 00:14] #688 closed

[2015-09-19 06:10] Urigo commented on #680
@suhail-ansari-apconic thanks for the feedback!
What would you add to this chapter?
http://angular-meteor.com/tutorials/angular1/3rd-party-libraries

[2015-09-19 06:14] Urigo commented on #686
@jonmc12 would you want to create a pull request with added tests??
That could be a first step and then I can review it and add notes

[2015-09-19 08:48] aguegu opened #692 "save() would empty $meteor.object / $scope.$meteorObject, when called with no field changed"
I was going through the official tutorials. In step 6: http://angular-meteor.com/tutorials/angular1/bind-one-object

After implement the code fragment 6.5/6.6,

If I click the save button without any modification, the name/description fields would be emptied. these fields are gone from the object or scope.

If I click the save button with a little modification, it works fine.

But in either case,

[2015-09-19 09:32] josemejiasji commented on #686
+1 on this.

When I change the line you suggested, promise returns _id but not the action.

[2015-09-19 10:55] liekkas opened #693 "how can i use two different accounts at a time?"
in tutorial step-9,it says
```Log in with 2 different users in 2 different browsers.```
so I did, but when I logined with one account,the another client also logined automatically,how can i use two different account at a time?

[2015-09-19 14:58] Tallyb commented on #693
a. Use another browser (e.g. Chrome and firefox)
b. open an anonymous browser - e.g. incognito mode in Chrome.

[2015-09-19 16:30] nspangler commented on #681
@Lavan thanks for the comment! I do have an ion-list with an ng-repeat before the ion-infinite-scroll tag. Could you expound on what what you mean by "track by item._id"? I'm quite sure what the implement would like.

[2015-09-19 23:07] Chidan commented on #635
This is awesome, thanks

[2015-09-20 03:32] jonmc12 commented on #686
@Urigo I've submitted a pull request, would welcome any notes

[2015-09-20 06:32] #676 closed

[2015-09-20 06:33] vishalmanchanda commented on #676
Not facing this anymore - still couldn't understand what caused it.

[2015-09-20 13:02] ntrp commented on #691
I am sorry, was using loginWithFacebook instead of loginWithGoogle... need to sleep more..

[2015-09-20 13:02] #691 closed

[2015-09-20 23:00] Unavi commented on #652
Made a pull request ... hopefully^^ :smile:
So why use `$meteor.subscribe`  and not `$scope.$meteorSubscribe` in the first place?

[2015-09-21 04:37] liekkas commented on #693
thank u

[2015-09-21 04:37] #693 closed

[2015-09-21 09:01] idanwe commented on #272
@keyvanfatehi @jamgold take a look at [idanwe/meteor-client-side](https://github.com/idanwe/meteor-client-side)

I exposed the client side of meteor-platform (without blaze) to bower

Give you the ability to use all Meteor API's and DDP protocol from the original implementation

[2015-09-21 11:59] Urigo commented on #272
And don't forget of course that now you can get `angular-meteor` with Bower as well!  (https://github.com/Urigo/angular-meteor#meteor-client-side---with-bower)
So here are a few examples:
https://github.com/idanwe/angular-socially-client-side
https://github.com/idanwe/meetup-NY-meteor-ionic-chat

We are going to release a blog post about that to the Ionic blog and I'll link to it here soon.

I'm h

[2015-09-21 11:59] #272 closed

[2015-09-21 12:06] idanwe commented on #272
Awesome!!! :)
On יום ב׳, 21 בספט׳ 2015 at 14:59 Uri Goldshtein <notifications@github.com>
wrote:

[2015-09-21 15:37] gonengar opened #698 "Add ability to get Meteor.currentDate()"
Currently, in order to work with dates synchronized among all the clients - there is a need to create a simple function called 'date' which returns new Date(); on the server and this method should be called by the clients using meteor methods.
Maybe there might be a more elegant solution.

[2015-09-21 19:46] jeje87 commented on #692
Hello, I have the same problem. When I return to an earlier version (urigo:angular), it works again...

[2015-09-21 20:27] sebakerckhof commented on #490
I'd be up for that, but currently a bit swamped with work...
On Sep 12, 2015 23:16, "Uri Goldshtein" <notifications@github.com> wrote:

[2015-09-21 21:22] nspangler commented on #656
@kongaraju I have run into a similar problem ( https://github.com/Urigo/angular-meteor/issues/681#issuecomment-141685588) .  Have you solved the problem?

[2015-09-22 03:47] muliyul opened #699 "Undefined check function"
I'm getting this error when splicing a collection array on client side:

ReferenceError: check is not defined
    at Array.angularMeteorCollection.factory.AngularMeteorCollection.remove (angular.js:662)
    at Array.angularMeteorCollection.factory.AngularMeteorCollection._saveChanges (angular.js:836)...

the call to check():
check(keys, [Match.OneOf(String, Mongo.ObjectID)]);

What's up? :D

[2015-09-22 15:41] jacobdr commented on #656
I don't think that this is an issue of the angular-meteor framework, but rather you trying to use a query on the collection object to handle view re-rendering, which is an anti-pattern in angular. You should be using filters to achieve your purpose.

I have submitted a [PR](https://github.com/kongaraju/simple-todos-angular/pull/1) on your repo which I believe fixes your issue.

One additional sugg

[2015-09-22 15:52] jacobdr commented on #681
Can you provide a MeteorPad or github repo to reproduce?

Not sure this is an angular-meteor issue, but rather the [expected behavior of ng-repeat](https://docs.angularjs.org/api/ng/directive/ngRepeat) when the indexes of a collection change.

Also please check out the changes that I suggested on [this PR](https://github.com/jacobdr/simple-todos-angular/commit/b9c8e402644d926ce25db2b0526857122b2c2

[2015-09-22 18:38] nspangler commented on #681
@jacobdr thanks works perfect! I completely took out the `limit:` in my `js` and instead used the angular `limitTo: limit track by item._id` in the `ng-repeat`.

[2015-09-22 18:38] #681 closed

[2015-09-22 19:25] jacobdr commented on #699
Can you please provide a MeteorPad or link to a repo in order to reproduce?

[2015-09-22 19:26] jacobdr commented on #698
@Urigo Not sure that this has anything to do with Anguar-Meteor, can we close?

[2015-09-22 20:10] muliyul commented on #699
What's a MeteorPad? and I don't have a repo set up because I'm testing capabilities for maybe future projects.

[2015-09-22 20:24] jacobdr commented on #699
[MeteorPad](http://meteorpad.com/pad/c5DEtSksntAB7Zmku/Leaderboard) is like jsFiddle for Meteor -- allows you to write Meteor code and share it with others.

Generally its not a good practice to create a ticket for an issue without providing the code context and information about the environment in which the unexpected behavior occurred. Otherwise how can someone from the project re-produce the er

[2015-09-22 20:27] ericmcgregor commented on #699
@jacobdr 'meteor add check' worked for me.  I didn't realize that was something i needed to have installed.  Might be a good idea to add that package as a dependency?  Thank you!

[2015-09-22 20:31] muliyul commented on #699
That 'meteor add check' and 'meteor add ejson' did the trick. thank you.

[2015-09-22 20:31] #699 closed

[2015-09-22 20:32] jacobdr commented on #699
I don't see what that has to do with Angular-Meteor -- its a stand-alone Meteor standard package, just like Accounts (hesitant to use the word base since that's not really true anymore as of version 1.2).

Did you see `check()` used somewhere in one of the tutorials? If that is the case, then maybe it should be mentioned as a pre-requisite step.

[2015-09-22 20:40] muliyul commented on #699
No I didn't see check(). I did however see it was used when I spliced the collection.

[2015-09-22 20:46] jacobdr commented on #684
This is a re-post from a [StackOverflow issue](http://stackoverflow.com/questions/32552029/redirect-after-login-angularjs-meteor/32556900#32556900) that I already resolved.

@Urigo Please close

[2015-09-22 20:58] ericmcgregor commented on #699
Yes, i was using the angular-meteor-generator to test a few things out and it threw an error when trying to remove an item.  it calls check() as part of the AngularMeteorCollection.  Also, good catch @mullyul, it also threw an exception looking for ejson as well.  adding both of those in worked.

[2015-09-22 20:59] jacobdr commented on #679
@raza2022 You do need to subscribe to the collection -- either in a parent scope or in the current scope -- before you try to query the MiniMongo database using a $meteor.object or $meteor.collection call.

Terrible analogy that might be helpful:
Think of `subscribing` as filling the well with water, and Angular-Meteor's `.collection` and `.object` methods as tools to draw buckets of water from th

[2015-09-22 21:13] jacobdr commented on #699
What version of Meteor are you running?

[2015-09-22 21:19] jacobdr commented on #699
[Line 123 in angular-meteor-collection.js](https://github.com/Urigo/angular-meteor/blob/master/modules/angular-meteor-collection.js#L123)

Also not sure if it got updated as a [dependency in the latest rc](https://github.com/Urigo/angular-meteor/blob/48586cd13c0594b4ee5f6de21c53f5c7b2f37293/package.js)

Sorry @muliyul you may have been on to something

[2015-09-22 23:44] nigel-dewar opened #701 "TypeError: idStringify is not a function"
Hi Following through your tutorial, getting this error
at angular_angular.js:12458 TypeError: idStringify is not a function whilst following through your awesome tut for socially. I did this tutorial a few months ago and had no issues, so I assume Im getting this error because something has changed in meteor ( v1.2) that does not work with your package. My assumption anyway. here is the addtional

[2015-09-23 00:34] muliyul commented on #699
Sorry for the late response. I was using the latest version of angular server along with the latest version of meteor

[2015-09-23 07:43] sclausen opened #702 "simple-todos-angular doesn't work"
I initally filed this issue at meteor/meteor/issues/5250, but now I think the last problem could be a angular-meteor specific error.
The first Problem is, that ng-include in the body tag leads to:
[code]
which throws an error, because of the two singlequotes around todos-list.ng.html. @gjr-qm filed it here [here](meteor/meteor/issues/5232).
In the current meteor release, this can be fixed with mov

[2015-09-23 07:54] gjr-qm commented on #702
I think you have to:
- meteor remove urigo:angular
- meteor add angular

And then change:
`<meteor-include src="loginButtons"></meteor-include>`
into:
`<blaze-template name="loginButtons"></blaze-template>`
in todos.list.ng.html

At least those steps worked for me :-)

[2015-09-23 07:56] ruslanchek commented on #701
Have the same issue. I think it's because of some incompatibility with new Meteor 1.2.x.

[2015-09-23 08:03] sclausen commented on #702
I didn't added `urigo:angular`, it was the new `angular` package, but neither using `blaze-html-templates` nor `static-html` together with `<blaze-template name="loginButtons"></blaze-template>` fixed it for me. Sorry, that I have been too lazy to create an example repository, I will catch up on this!

[2015-09-23 08:06] gjr-qm commented on #702
Ooops, forgot to mention that you also have to include urigo:angular-blaze-template. That together with the steps mentioned above did the trick for me

[2015-09-23 08:08] nigel-dewar commented on #701
I rekon ur right there bro. I was trying to figure out how to download and run older version.

Sent from Samsung Mobile

<div>-------- Original message --------</div><div>From: Ruslan Shashkov <notifications@github.com> </div><div>Date:23/09/2015  15:56  (GMT+08:00) </div><div>To: Urigo/angular-meteor <angular-meteor@noreply.github.com> </div><div>Cc: nigel-dewar <nigeldewar@live.com> </div><div>S

[2015-09-23 08:22] sclausen commented on #702
Aaaaaah! With `blaze-html-templates` and `urigo:angular-blaze-template` and `<blaze-template name="loginButtons"></blaze-template>` it finally works!
Maybe someone should make a pull request for the simple-todos-angular example accordingly to your suggestions. Do you wan't to do it, or am I allowed to make a pull request with your fix?

[2015-09-23 08:22] #702 closed

[2015-09-23 08:38] gjr-qm commented on #702
Be my guest with the pull request. You already forked and fixed it

[2015-09-23 08:40] sclausen commented on #702
Sorry I have been faster than your approval, that was very rude.

[2015-09-23 08:57] cellulosa opened #703 "Upgrade to Meteor 1.2.0.1 breaks the app"
[code]

The app is built following the [Getting started angular-meteor tutorial](https://angular-meteor.com/tutorialIntro).

[code]

[code]

[code]

[2015-09-23 10:21] dpdonohue commented on #490
I could help but not sure if my approach is the best way to do it.  I described the details here
http://stackoverflow.com/questions/32209160/angular-meteor-how-can-i-include-ng-template-in-package-based-design/32250748#32250748

[2015-09-23 14:46] h4de5 commented on #701
i had the same error on the angular example app on meteor.com.  updating your package helped:
[code]
helped.

[2015-09-23 19:03] veekungx commented on #703
You forgot "injection array"

angular.module("myApp")

to

angular.module("myApp",[])

[2015-09-23 20:52] BrianLichliter commented on #701
I tried the same solution as @h4de5 but it created a new one for me.

I ended up getting this error when following both the https://www.meteor.com/tutorials/angular/creating-an-app tutorial and the http://angular-meteor.com/tutorials/angular1/bootstrapping tutorial.

ReferenceError: check is not defined
    at Array.AngularMeteorCollection.remove (angular.js:662)
    at Array.AngularMeteorCollecti

[2015-09-23 21:11] nigel-dewar commented on #701
I'd like to think meteor would be useful one day.

Sent from Samsung Mobile

<div>-------- Original message --------</div><div>From: Brian Lichliter <notifications@github.com> </div><div>Date:24/09/2015  04:52  (GMT+08:00) </div><div>To: Urigo/angular-meteor <angular-meteor@noreply.github.com> </div><div>Cc: nigel-dewar <nigeldewar@live.com> </div><div>Subject: Re: [angular-meteor] TypeError: idSt

[2015-09-23 21:17] ruslanchek commented on #701
I'll remove urigo:angular, and then just install a official angular package (meteor add angular). That will help!

[2015-09-23 21:25] aleksander351 opened #704 "Step 20: Bootstrap, angular-material and handling files"
I went through the tutorials and skipped step 18. - angular-material, because I like the Bootstrap version better.

Now at step 20, there are instructions only for angular with material. For example:
20.4  Add usage of file uploader - seems to be dependent on material specific tags (<md-dialog>, md-dialog-content)

More general instructions would be appreciated.

[2015-09-23 23:08] BrianLichliter commented on #701
@ruslanchek I did that too but it didnt help :( maybe ill make a separate issue for my "check is not defined bug"

[2015-09-24 02:14] nigel-dewar commented on #701
Thanks this worked a treat!!! :)

From: h4de5 [mailto:notifications@github.com]
Sent: Thursday, 24 September 2015 2:47 AM
To: Urigo/angular-meteor <angular-meteor@noreply.github.com>
Cc: nigel-dewar <nigeldewar@live.com>
Subject: Re: [angular-meteor] TypeError: idStringify is not a function (#701)

i had the same error on the angular example app on meteor.com. updating your package helped:

meteor

[2015-09-24 06:32] veekungx commented on #704
[ng-file-upload](https://github.com/danialfarid/ng-file-upload) just a directive (but very cool)
You can learn about it from the link

if you love bootstrap version here a little example

HTML
[code]

CSS
[code]

[2015-09-24 07:46] Svenskunganka commented on #701
@BrianLichliter you gotta install the `check` package: `meteor add check`

[2015-09-24 10:30] Urigo commented on #699
Hi, thanks for the good catch.
Just release a new version with the required `check` dependency: `angular@1.0.0-rc.7`
Please let me know if that helped

[2015-09-24 10:33] Urigo commented on #701
Hi everyone and sorry for that bug.
I've fixed it now and released a new version `angular@1.0.0-rc.7`
Please test it out with the latest Meteor and let me know if that helped

[2015-09-24 10:35] Urigo commented on #698
@gonengar that seems like a nice idea.
I'm trying to make `angular-meteor` is agnostic as possible to Meteor and adding minimum APIs on top of the Meteor API.
That way it will be easier to switch between frontend frameworks and also the whole Meteor community will benefit from your suggestion.
I advise you to open a feature request on Meteor issues
thank you for the suggestion

[2015-09-24 10:35] #698 closed

[2015-09-24 10:44] Urigo commented on #684
Great!  thank you!

[2015-09-24 10:44] #684 closed

[2015-09-24 11:57] muliyul commented on #699
did you include ejson too?
can't test this because I already resolved the issue on my end.

On Thu, Sep 24, 2015 at 1:30 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-09-24 12:17] lanmower commented on #685
Thanks Shinrox, looks like I have some learning to do :)

[2015-09-24 12:23] Urigo commented on #699
`check` depends on `ejson` so there is no need..

[2015-09-24 14:09] thuanmaster commented on #686
+1 @jonmc12  I changed directly in `angular.js` file in .meteor packages and it works as normally.. Many thanks!

[2015-09-24 14:11] markleusink commented on #483
Latest version fixed it for me!

(after updating the package name from urigo:angular to angular ;-)

[2015-09-24 14:29] shantanubhadoria commented on #703
I am facing the same error. The whole load order seems to be broken. Even though my app.js is inside client/lib it still doesn't load before other files in client/

The new Meteor Package has lot of changes. I am not sure you will get the same result all by a straight upgrade of a existing meteor code as the default package names have changed.
meteor-package is changed to meteor-base among other n

[2015-09-24 14:58] lanmower opened #705 "Error when removing items from an array."
I have tried many things today to try and work with an array of strings through angular-meteor.

This illustrates the primary thing I would expect to work:

http://meteorpad.com/pad/5r9Xz4ceRFaXfBgLb/Array-Error

If you click around the select a bit removing an item will cause a long error in the console.

I tried forcing the data in mongodb to be an array, since it more often than not, but interm

[2015-09-24 18:10] damirkusar opened #706 "UI not updating when removing item from a collection"
In your Tutorial (http://angular-meteor.com/tutorials/angular1/adding-removing-objects-and-angular-event-handling) under point 4.7, when we introduce the `$scope.parties.remove(party);`, the UI is not getting updated. But the item is removed from the collection when checking the DB. When refreshing the page manually, the item is gone. Also tested to use urigo:angular instead and with it, it works

[2015-09-24 19:36] luisreyes commented on #262
**This issue seems to have come back with 1.2**
I cannot have a large JS library file outside the public folder.
for example I had a *kendo.all.min.js* file in `client/lib/scripts` --> App wouldn't build.

**Solution**: move the file to the public folder `public/scripts` and referenced it in the head with a `script` tag

In previous meteor versions I was allowed to include large lib files in the c

[2015-09-25 00:18] Svenskunganka commented on #701
@Urigo awesome work as always! Just switched from `angular-meteor` to `angular@1.0.0-rc.7`. Really happy to see your work officially supported by Meteor.

[2015-09-25 03:01] cranesandcaff commented on #692
Same issue here. @jeje87 what version were you on?

[2015-09-25 03:10] nigel-dewar commented on #701
Thanks Uri, it works PERFECT!!!!!!!!!

Cheers SOOO MUCH!

From: Uri Goldshtein [mailto:notifications@github.com]
Sent: Thursday, 24 September 2015 10:34 PM
To: Urigo/angular-meteor <angular-meteor@noreply.github.com>
Cc: nigel-dewar <nigeldewar@live.com>
Subject: Re: [angular-meteor] TypeError: idStringify is not a function (#701)

Hi everyone and sorry for that bug.
I've fixed it now and released

[2015-09-25 03:45] nigel-dewar commented on #639
Hi So Im confused here. Does on still need to add the angular-blaze-template package or not?

Eitherway, blaze templates are not displaying since Meteor 1.2

[2015-09-25 03:46] fxckdead commented on #706
I was facing the same error, but it's simple, you need to add the EJSON package to your meteor project

``meteor add ejson``

Maybe it must be added to the list of dependencies @Urigo  ?

Duplicated in #705

[2015-09-25 03:54] nigel-dewar opened #707 "<meteor-include src="loginButtons"></meteor-include> does not work"
Hi There

Not sure why, but since meteor 1.2 meteor-include directive displays nothing.

[2015-09-25 04:10] shantanubhadoria commented on #703
Correction the update does replace the meteor-package with meteor-base as well. I just upgraded my pre-1.2.0 app and face the same error. I think this has something to do with load error. Because as soon as I upgrade to 1.2.0 the client/lib js files don't load before the other ng.js files anymore. Downgrading restores the load order for the files.
Hope that helps

[2015-09-25 05:34] shantanubhadoria commented on #703
Ok I just figured out what breaks my application. In the older version my app.js routes.js and directives.js files were loaded before all the ng.js controller files because they were in client/lib/ folder. In the newer meteor version, all ng.js files get loaded before everything else inspite of the other js files being in lib/ folder. Once I rename my app.js, routes.js, directives.js to app.ng.js,

[2015-09-25 08:44] Urigo commented on #707
Yes, it has been deprecated in favor of `blaze-template`:  http://angular-meteor.com/api/blaze-template
You only need to do:

    meteor add urigo:angular-blaze-template

    <blaze-template
        name="loginButtons">
    </blaze-template>

[2015-09-25 08:44] #707 closed

[2015-09-25 08:59] Tallyb opened #708 "colon in folder name"
The repo cannot be cloned to windows due to the urigo: folder name. colon is not supported in folder names in windows.
same as was with:
https://github.com/Urigo/angular-meteor/issues/337

[2015-09-25 09:19] nigel-dewar commented on #707
Thanks Uri,

My bad. You do have thus in your instructions here

http://angular-meteor.com/tutorials/angular1/user-accounts-authentication-and-permissions

but just so you know in code snippet, 8.1 the old method is still included as well.

Cheers bro. love your work.

From: Uri Goldshtein [mailto:notifications@github.com]
Sent: Friday, 25 September 2015 8:45 PM
To: Urigo/angular-meteor <angular-m

[2015-09-25 09:36] Urigo commented on #703
@shantanubhadoria that is interesting...   so `.ng.js` files are loaded before `.js` no matter what?

[2015-09-25 10:07] shantanubhadoria commented on #703
Yep, That seems to be the case. I can say atleast client/lib/*.js gets loaded after client/abc/*.ng.js

[2015-09-25 10:12] Urigo commented on #692
yes I can confirm that, looking at it now

[2015-09-25 10:22] netanelgilad commented on #703
Well I made a quick reproduction and opened an issue to the guys at meteor here https://github.com/meteor/meteor/issues/5285. For the mean time, we can document that somewhere...

[2015-09-25 10:36] #692 closed

[2015-09-25 11:18] uriva opened #710 "Add blaze-html-templates package to deps, since it can now be removed"

[2015-09-25 11:21] Urigo commented on #685
@netanelgilad I think you have created one as well right?

[2015-09-25 11:21] #685 closed

[2015-09-25 11:22] Urigo commented on #680
@suhail-ansari-apconic
Waiting for your feedback

[2015-09-25 11:22] #680 closed

[2015-09-25 11:23] Urigo commented on #679
thanks @jacobdr for the great answer

[2015-09-25 11:23] #679 closed

[2015-09-25 11:26] Urigo commented on #653
Thanks @DAB0mB closing until another reproduction

[2015-09-25 11:26] #653 closed

[2015-09-25 11:28] Urigo commented on #652
Just because I think that in the routes you can't get access to the `$scope` but maybe I'm wrong?

[2015-09-25 11:28] #652 closed

[2015-09-25 11:31] Urigo commented on #644
I think I had the same thing with his files package..
I'm closing unless someone would like to investigate this package

[2015-09-25 11:31] #644 closed

[2015-09-25 11:44] netanelgilad commented on #685
yes I think you can also use my package here: https://github.com/netanelgilad/meteor-textAngular.
If you have problems with it, don't hesitate to open an issue

[2015-09-25 12:38] thomas-cabral commented on #689
Also running into this. If I push to the array there is no problem saving. It appears to be just when splicing and saving.

[2015-09-25 14:28] shantanubhadoria commented on #706
yeah i face the same issue on update to 1.2.0 perhaps ejson can be added as a dependency?

[2015-09-25 15:50] glasser commented on #703
Hey folks, see my comment over there:  it looks like the angular plugin had code in it that triggers an obscure feature of Meteor designed for exactly this purpose (putting template files before everything else), but due to a bug in old Meteor that line was being ignored. Just remove the line and it should be good!

[2015-09-25 19:07] #703 closed

[2015-09-25 19:09] Urigo commented on #686
Fixed in `1.0.0-rc.10` , thanks to @jonmc12

[2015-09-25 19:09] #686 closed

[2015-09-25 19:09] Urigo commented on #701
Fixed in `1.0.0-rc.10`

[2015-09-25 19:09] #701 closed

[2015-09-25 19:09] Urigo commented on #703
Fixed in `1.0.0-rc.10`

[2015-09-25 19:09] Urigo commented on #705
Fixed in `1.0.0-rc.10`

[2015-09-25 19:09] #705 closed

[2015-09-25 19:09] Urigo commented on #706
Fixed in `1.0.0-rc.10`

[2015-09-25 19:09] #706 closed

[2015-09-25 19:09] Urigo commented on #708
Fixed in `1.0.0-rc.10`

[2015-09-25 19:09] #708 closed

[2015-09-25 19:45] jeje87 commented on #692
thanks !!

[2015-09-25 20:21] Urigo commented on #689
OK so we are waiting for the pull request in Meteor to fix that.
Just a question, is downgrading to Meteor 1.1 resolve your problems?

[2015-09-25 20:51] suhail-ansari-apconic commented on #680
I think a better way would be to have a tutorial to write a package like accounts fully in angular.  Since most people use accounts-UI they already have the familiarity. This would show how to write end to end functionality in angular using meteor package.

[2015-09-25 21:06] jeje87 opened #713 "$stateChangeError : 6 parameters instead of 4"
Hello,

I would point out to you that the $stateChangeError event have six callback parameters (instead of 4).

$rootScope.$on("$stateChangeError", function(event, toState, toParams, fromState, fromParams, error) {

}

Step 8 need to be updated.

Thanks for this great job !

[2015-09-25 21:08] damirkusar commented on #706
Hi Guys,

thanks for the fast replies. @fxckdead, your tip did the job. Thanks.

[2015-09-25 21:09] Urigo commented on #680
Ohh I understand, so like a full package with logic and everything.
Why would that be different then a tutorial on regular Meteor package?

[2015-09-25 21:33] Urigo commented on #262
@luisreyes can you share a reproduction?
it might be related to loading order?

[2015-09-25 21:37] MikkoA opened #714 "collectionFS save not returning _id?"
After upgrading to Meteor 1.2 my uploads are not working.
Save method is returning undefined _id?

Result:

Object
_id: undefined
action: "inserted"
...

[2015-09-25 21:47] MikkoA commented on #714
Upgrading to angular@1.0.0-rc.10 fixed it!

Thanks for the good job, Urigo!

[2015-09-25 21:47] #714 closed

[2015-09-25 22:05] Urigo commented on #706
@damirkusar just using `angular@1.0.0-rc.10` wasn't enough?

[2015-09-25 23:19] damirkusar commented on #706
@Urigo actually no, still had to add ejson. Maybe I did something wrong, its late :) i removed the package and added it again with 'meteor add angular@1.0.0-rc.10'. And also checked in '.meteor/packages' and found this entry: 'angular@1.0.0-rc.10'.

Working on Mac 10.9.5, do you need more infos?

[2015-09-26 00:57] Urigo commented on #706
@damirkusar sorry, I think I've missed something, can you please try again with `angular@1.0.0-rc.11`?

[2015-09-26 08:34] damirkusar commented on #706
@Urigo yep, your latest changes solved the problem. Great work.
Must say, meteor with angular makes fun, and with such a support its much more awesome :)
Thank you very much

[2015-09-26 10:04] suhail-ansari-apconic commented on #680
The thing is that there are developers with various skill set. As a manager when i have to tell them to use angular instead of blaze some of them have no clue how to create a package with controllers, view template and service using angular. After a while with lack of documentation they just abandon the whole thing altogether and stick with blaze. That is why i think a package written with angular

[2015-09-26 12:48] Urigo commented on #680
I think @simonv3 is working on something like that.
Maybe he can also create a tutorial out of it

[2015-09-26 12:49] Urigo commented on #706
A missing dependency.......
happy you are happy!  keep the feedback coming

[2015-09-26 12:53] Urigo commented on #713
Thanks!  will update shortly, now focused on releasing 1.0.0 (waiting for a Meteor pull request to be shipped...)

[2015-09-26 13:25] MilosStanic commented on #459
I can confirm slow loading and refresh times on Windows 10, about as much as @Tallyb said, even running in a virtual box with Ubuntu. But when I tried to install fresh ubuntu on my laptop, it died on me :(, so I'm still waiting for service to fix it.

[2015-09-26 13:27] Urigo commented on #459
Now I'm focused on releasing version 1.0.0 with the current build process so it will support older versions of Meteor.
Right after that (waiting for a pull request in Meteor to be included and shipped) I will release version 1.2 which supports the new build process with caching and hopefully it will improve build times.

[2015-09-26 14:32] Tallyb commented on #459
@MilosStanic Did you also encounter the phenomenon that when closing the dev tools - the app loads like charm?

[2015-09-26 20:32] lanmower commented on #689
I could not figure out how to downgrade meteor

My meteorpad demonstration of the error does not seem to produce an error anymore
http://meteorpad.com/pad/5r9Xz4ceRFaXfBgLb/Array-Error
It does however still produce the error for me with my local software (on the updated meteor)

[2015-09-26 20:33] lanmower commented on #705
I think this issue is different from #706.

It does however seem to be the same as #689

[2015-09-26 20:42] Urigo commented on #705
Have you try to see if the pull request fixes that for you?
On Sat, Sep 26, 2015 at 11:33 PM lanmower <notifications@github.com> wrote:

[2015-09-26 20:43] Urigo commented on #689
Yes it looks like it changed Meteor 1.2.
Have you try to see if the pull request fixes that for you?
On Sat, Sep 26, 2015 at 11:32 PM lanmower <notifications@github.com> wrote:

[2015-09-26 20:43] lanmower commented on #705
Thanks for the response Uri.

No luck, the meteorpad seems to be fixed, however the problem is still
happening locally.

Is this possibly because meteorpad is not 1.2 yet?

On Sat, Sep 26, 2015 at 10:42 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-09-26 21:35] lanmower commented on #689
Do you mean is my angular-meteor updated?

I'm currently running 1.0.0-rc.11

[2015-09-27 01:49] vacarsu commented on #703
@Urigo I seem to be having this issue in Cordova on android-device. All of my .ng.js files are loading before my /lib folder. I am using RC10.

[2015-09-27 07:43] netanelgilad commented on #656
@jacobdr points are valid but there is still an issue with angular-meteor here which is caused by the cursor changing.

When you change the limit on the session, it causes a re-computation of the reactive function that returns the cursor. When the cursor changes angular-meteor removes all of the elements from the array and starts observing the new cursor and re-adding all of the documents that fit

[2015-09-27 07:56] netanelgilad commented on #528
Hey @mxab ,
What exactly is vm? is it a reference to the controller or the $scope? If I remember correctly $scope.getReactively can only get properties on the $scope...

By looking at the code of getReactively, it doesn't seem like there should be a reason it would return different values on initial or afterwards, cause eventually the function always does `return getValue(self);`

[2015-09-27 09:30] MilosStanic commented on #459
@Tallyb I'm not sure. I know that opening dev tools seems to generally slow things in the browser. Especially if you're low on RAM. I can't try as my laptop is still in service.

[2015-09-27 19:22] nikunjchapadia commented on #701
Verified your fix (version 1.0.0-rc.11), it works for me thanks.
meteor remove urigo:angular
meteor add angular

[2015-09-27 20:38] fdcastel commented on #370
I made a minimal reproducible case here:

http://meteorpad.com/pad/Cr373mB7jWN8qzqzt/angular-meteor-issue-370

This same problem was encountered here:

https://github.com/formly-js/angular-formly/issues/320

[2015-09-27 21:32] Deadly0 opened #720 "Problem with collection transform"
I have 2 collections: Sports and Leagues. It's convenient to use transformations to get all leagues belong to sport: `sport.getLeages()`

[code]

It's works well when I use Blaze as template engine. But after migrating to angular I have lost reactivity for `Leagues` collection in this case. I think it's because I use `Leagues.find()` instead of `$meteor.Collection()`. But `$meteor` variable doesn'

[2015-09-28 15:46] mxab commented on #528
Hey @netanelgilad,
sorry for the 'incomplete' example it is inside a controller with the __controllerAs__ mechanism and the controller is named 'vm'

[2015-09-28 16:17] netanelgilad commented on #528
So what your problem is that getReactively only works with properties on the $scope. If the property is on the controller you cannot you $scope.getReactively to get it.
You should put your lang prop on $scope and then use getReactively, like so:
[code]

[2015-09-28 17:39] #713 closed

[2015-09-28 18:08] simonv3 commented on #680
I am! @suhail-ansari-apconic have a look at https://github.com/simonv3/meteor-running/

The *basic* functionality is all there. Once you install it you get log in / registration / password reset and an admin panel (and a setup for creating an admin account with any email address). There's also an admin panel which lists users, groups, and the site details. No editing yet though (that's next step).

[2015-09-28 18:13] mxab commented on #528
Yes but if you use the controllerAs mechanism the controller will be in the scope.

[2015-09-28 18:38] netanelgilad commented on #528
You are totally right. I missed that about controllerAs.
So I tried it out and it seemed to work for me.. even if I used it right after initializing the value on the vm. Can your share a reproduction that I may have a look?

[2015-09-28 19:04] mxab commented on #528
yes I'm also trying to make it reproducible in a test, I have this issue in a controller used via a state from the ui router

[2015-09-28 20:28] muliyul opened #722 "add-platfrom doesn't work on windows?"
![image](https://cloud.githubusercontent.com/assets/8338082/10147725/7f48d820-6638-11e5-8b37-93bfc52322b2.png)

version 1.2.0.1

[2015-09-28 22:40] Urigo commented on #707
@nigel-dewar thanks!  I've just fixed the tutorial and pushed a new update.

[2015-09-28 22:47] Urigo commented on #713
thanks @jeje87 for the great feedback, fixed and deployed.
Sorry for the delay

[2015-09-28 22:53] Urigo commented on #710
@uriva in the Meteor 1.2 branch of angular-meteor I'm working on a new build process that will replace that package and it could be removed.
First step is that I'm releasing `angular@1.0.0` right after `meteor 1.2.0.2` with the current build process to support all versions of Meteor and right after I'll release a new `angular@1.2.0` that will support the new build process and then `blaze-html-temp

[2015-09-28 22:53] #710 closed

[2015-09-28 22:56] Urigo commented on #639
@nigel-dewar if you want to use `blaze-template` then yes

[2015-09-28 23:56] Urigo commented on #722
@muliyul I think this issue should go on the Meteor repo: https://github.com/meteor/meteor/issues
Also add more info about your project like packages you are using etc..

[2015-09-28 23:56] #722 closed

[2015-09-29 01:12] Urigo commented on #705
Hi @lanmower can you please try now with Meteor 1.2.0.2 ?

[2015-09-29 01:13] Urigo commented on #689
@Cygnx could you please try again, this time with the new Meteor 1.2.0.2?

[2015-09-29 01:53] thomas-cabral commented on #689
Didn't spend a bunch of time retesting, but with meteor 1.2.0.2 I am getting this "update failed: MongoError: Cannot update 'members.0' and 'members' at the same time undefined". Don't know if that is a my code problem or if this error has renamed itself :P.

I can still add items to the array, still just deleting that is causing the error.

NOTE: I did try creating a brand new object and got the

[2015-09-29 02:43] Urigo commented on #689
@thomas-cabral can you please share a reproduction?

[2015-09-29 03:15] Urigo commented on #680
@Tallyb also look at this package

[2015-09-29 03:18] Urigo commented on #704
I'm not sure I want to make a different example for each CSS Framework.
@veekungx thanks for the example

[2015-09-29 03:18] #704 closed

[2015-09-29 03:24] thomas-cabral commented on #689
Below is what I am using, addMember works fine removeMember does not. I have not tried to change anything since I ran into the first error (I have just been living with it). So there is a chance my remove method is simply not valid. I can mess around with removeMember in the morning and see if I can get somewhere.

$scope.project = $scope.$meteorObject(Projects, $stateParams.id).subscribe('project

[2015-09-29 04:44] aleksander351 commented on #704
Not different for every css framework, but one that is more general and
works for all frameworks would be best.

Thank you veekungx!

V tor., 29. sep. 2015 05:18 je oseba Uri Goldshtein <
notifications@github.com> napisala:

[2015-09-29 04:50] aleksander351 commented on #704
"A more general example." With that I mean, at least for the file upload
tutorial.

V tor., 29. sep. 2015 05:18 je oseba Uri Goldshtein <
notifications@github.com> napisala:

[2015-09-29 07:49] AnjirHossain opened #723 "$meteor.autorun and $scope.getReactively not getting full reactivity"
I'm prototyping [this](http://traversodebug.meteor.com) and the search functionality involves an address and many other properties all baked into a single object called `searchFodder`. I'm trying to listen for user changes and update results reactively (yes exactly like Angular ng-repeat filters) via $meteor.autorun(...):

        $meteor.autorun($scope, function(){
            $scope.$meteorSubsc

[2015-09-29 09:43] mxab commented on #528
@netanelgilad @Urigo
I managed to create a test case to show case the behaviour
https://github.com/Urigo/angular-meteor/compare/master...mxab:initial_get_reactively

[2015-09-29 10:07] mxab commented on #528
ok i just realised that the problem comes from the angular side as __vm__ is not initially set on the scope only after the first digest.

Would it be an idea to run the "reactive aware" functions after the initial digest or within a $timout?

[2015-09-29 13:05] cmddavid commented on #687
As said on stack overflow, after the then function is triggered the image hasn't been processed yet. To be able to show the image you need to check if it already exists. I have fixed this for S3 with the following code:
[code]

[2015-09-29 13:46] netanelgilad commented on #528
Are you suggesting running the function in a $timeout inside the creation of reactive aware functions? or the user of those functions would wrap their call with a timeout?
I'm not sure about this, but I think running these functions in a $timeout always, is not a good idea, as that may be counter-intuitive for the user of those functions. But I could be wrong here.. need to think it through.

In y

[2015-09-29 14:36] mxab commented on #528
I haven't used it sofar with $timeout, I setup a test which indicates that is would work
https://github.com/mxab/angular-meteor/compare/initial_get_reactively...mxab:initial_get_reactively_timeout

currently in my application I use this workarround
```var lang = $scope.getReactively('vm.lang') || vm.lang;```

[2015-09-30 09:14] klenis opened #724 "ES2015 features not transpiled in ng.js files"
Hi!

The transparent functionality of transpiling `.js` files with the `ecmascript` package in Meteor 1.2 works with `.js` files but it doesn't work with `.ng.js` files.

It would be awesome if this functionality would work for `.ng.js` files seamlessly without adding other babel packages or additional configuration.

[code]

Thanks!

[2015-09-30 10:09] Urigo commented on #689
@jonmc12 has the new version fixed that for you?

[2015-09-30 10:52] Kreeg commented on #688
hi! That's the solution @dtruel

[2015-09-30 12:06] Urigo commented on #724
Will be coming soon in `angular@1.2`

[2015-09-30 12:07] Urigo commented on #724
In the meantime, use can use this package:
https://github.com/pbastowski/angular-meteor-babel/

[2015-09-30 12:32] klenis commented on #724
Cool, thank you!

[2015-09-30 14:53] thomas-cabral commented on #689
Just a quick update, I am still getting the same error. Using "$scope.project.members = [];" in place of the splice gives the same error "update failed: MongoError: Cannot update 'members.0' and 'members' at the same time undefined".

[2015-09-30 19:07] jonmc12 commented on #689
@Urigo I'm on ```angular@1.0.1``` and currently I can not reproduce the bug on any of my client-side ```splice``` methods, so this is definitely an improvement in my app.  I haven't seen the ```error: documentMatches...``` error recently, fortunately.

However, I am still seeing the ```update failed: MongoError: Cannot update 'member_ids.0' and 'member_ids' at the same time``` error in a case wher

[2015-10-01 09:12] jalapagos opened #730 "Aligning login buttons"
Hi,

From looking through the issues, I have found out that

    <meteor-include src="loginButtons"></meteor-include>

has been depreciated for :

    <blaze-template
 	   name="loginButtons">
    </blaze-template>

This works, however, the default dropdown is to the right. I wish to make it dropdown to the left.
I attempted using :

    align="left"

Didn't work so I thought I'd ask here if there

[2015-10-01 12:32] cmddavid opened #731 "how to disallow createUser"
I'm trying to disallow the creation of new users(using $meteor.createUser), i came up with the following:

Meteor.users.allow({
    insert: function (userId) {
        var user = Meteor.users.findOne(userId);
        if(user.role == 'admin'){
            return true;
        } else {
            return false;
        }
    }
});

So only when you are admin, you can create users. But for some reaso

[2015-10-01 14:40] adriangordon1231 commented on #731
That is pretty odd. This looks to me like it should work. I am interested to find out why not ... for future reference

[2015-10-01 14:52] jacobdr commented on #731
Can you please throw in some debug statements so that we can help track down the issue?

Not sure if your issue stems from the userId being malformatted, or the Meteor.users call returning an object that doesn't contain the keys that you are looking for.

Finally, have you removed `insecure` and `autopublish` from your project yet? If need be, you can run the `meteor list` command in order to find

[2015-10-01 17:13] raza2022 opened #732 "Strange behavior on route change"
i am facing strange meteor behavior in collection subscribing. i am have one abstract route mailbox and have three route beneath this. Inbox, sent, and singleMail (which is showing details of one mail from both). now the issue is when i resolve the mails collection in single mail route it bind the same mails collection for both inbox and sent, despite am publishing different collection for both.
N

[2015-10-01 19:18] Tallyb commented on #732
This seems like the correct behavior, since collections are being aggregated in the client, even if they are from different publications, unless they are stopped. Check out this post and the sample at the end. https://medium.com/angular-meteor/coll-pub-sub-with-angular-meteor-cb13fe48f570

[2015-10-01 22:09] Urigo commented on #730
Good question, you can read how here:
http://angular-meteor.com/api/blaze-template#passingargumentstoblazetemplate

[2015-10-01 22:09] #730 closed

[2015-10-01 22:11] Urigo commented on #732
Thanks @Tallyb !

[2015-10-01 22:11] #732 closed

[2015-10-01 22:50] sleekvick opened #733 "TypeError: idStringify is not a function"
Since i made the recent update, i keep seen this bug.

TypeError: idStringify is not a function
    at http://localhost:3000/packages/urigo_angular.js?afe8984e5688748b37dc02d2f183ac165b948269:391:12
    at Array.forEach (native)
    at Function._.each._.forEach (http://localhost:3000/packages/underscore.js?fa590de5090ceb4a42555b48562fd8f8e7035758:157:11)
    at diffArray (http://localhost:3000/pac

[2015-10-02 06:36] raza2022 commented on #732
but my questions is about subscription in different routes. am trying to know why in one route subscription also subscribe for others. since it should destroyed after scope destroyed

[2015-10-02 10:57] raza2022 commented on #732
@Tallyb Thanks i got it and solved this storing the subscription handle. used it to unsubscribe the data (i.e. subscription_handle.stop() ) on template.destroyed(). however another issue is that it loads the mails after milliseconds (i.e if i am going from inbox to sent, it shows the inbox mails approximate half miliseconds and then update with to sent mails and also vise vrsa)

[2015-10-02 17:05] Tallyb commented on #459
@MilosStanic It is embarrassing, but just in case anyone did the same thing: apparently I was throttling at some point and did not turn it off, so no wonder loading with dev tools open took ages...

[2015-10-02 18:15] jonmc12 opened #734 "$meteor.call causing ReferenceError on server"
I've been using angular@1.0.1, and today received an error when using ```$meteor.call```.  This error does not appear when calling ```Meteor.call``` from either the client or the server.

[code]

I have resolved the error locally by changing API usage in [package.js](https://github.com/Urigo/angular-meteor/blob/master/package.js#L33).  It works when I change

[code]
to
[code]

[2015-10-02 18:40] Tallyb opened #735 "Reactive parameters to subscription"
This relates to https://github.com/Urigo/angular-meteor/issues/732

I think there is actually a problem here, but I am not quite sure what it is.
I created a sample app running here http://ng-leaderboard-3.meteor.com.

Click on top / first players. There is an initial limit value. If you go above it the subscription updates correctly. If you go bellow the original number - it remains with the orig

[2015-10-02 23:59] #723 closed

[2015-10-03 00:01] mgrivera commented on #735
Wow, this is fantastic! I never do subscribe using *$meteorCollection().Subscribe()* because I can't use parameters to limit the subscription. Now you are saying it is, indeed, possible. Could you please elaborate?

Thanks ....

[2015-10-03 01:23] AnjirHossain opened #736 "angular-meteor search performance"
I have the following setup in [this](https://github.com/AnjirHossain/Traverso) repository.

Server:
    Meteor.publish('listings', function( searchProps ) {

	check(searchProps, Object);
	Listings._ensureIndex({"loc":"2d","make.name":1,"price":1,"year":1,"milage":1});

	var selectors = {};

	// find a better way to store all specificity than just if elses
	if ( searchProps.address ) {
		selectors[

[2015-10-03 11:58] Tallyb commented on #735
Apparently it is calling the $subscribe with all parameters: https://github.com/Urigo/angular-meteor/blob/master/modules/angular-meteor-collection.js line 57.

[2015-10-04 08:55] uriva opened #737 "Tutorial / example app should run with strict dependency injection mode"
Like so:
`angular.bootstrap(document, ['myApp'], {strictDi: true});`

Otherwise one might encounter very hard to debug error messages on production which do not replicate locally.

[2015-10-04 11:02] Urigo commented on #737
Good point, will update soon!

[2015-10-04 11:06] Urigo commented on #733
Can you please share you `.versions` file?

[2015-10-04 15:22] jacobdr opened #738 "Angular-Meteor + Ionic + Typescript"
I am hesitant to post this as a bug -- rather its more of a call out to the community to see where we stand when we combine these three bleeding-edge frameworks (Angular-Meteor + Ionic + Typescript).

I was successfully able to clone @netanelgilad's [meteor-ionic-example](https://github.com/netanelgilad/meteor-ionic-example), update it to Meteor 1.2, swap out `urigo:angular` for the now-standard n

[2015-10-05 08:35] netanelgilad commented on #735
Hey @Tallyb,
This is quite a simple mistake :smile:.
You create the controller twice, once by using ng-controller, and once by using it on the state with ui-router. So what happens is you always have another subscription in the background running for the default limit. Try removing the ng-controller from the templates and see the magic happens :wink:

[2015-10-05 08:42] Tallyb commented on #735
Hola @netanelgilad  - back from your travels?
You mean - a really stupid mistake... well spotted. Surely does the magic.
Anyway - is it true that we can use $scope.$meteorCollection().Subscribe() with parameters?

[2015-10-05 08:42] #735 closed

[2015-10-05 08:50] netanelgilad commented on #735
Yes, I'm back to business :)
And yep, $meteorCollection.subscribe is just a shortcut for the regular subscribe function, so all arguments are passed through.

[2015-10-05 09:42] sleekvick commented on #733
I fixed the problem already...i updated to the latest release.

[2015-10-05 14:51] adriangordon1231 commented on #738
+1

[2015-10-05 15:02] mgrivera commented on #735
Now this are *really* fantastic news ...

[2015-10-06 01:00] Urigo commented on #734
Are you using the `check` package or function somewhere?

[2015-10-06 01:12] Urigo commented on #734
In anyway we use `check` in the code just on the client side so I'm pushing a fix.

[2015-10-06 01:12] #734 closed

[2015-10-06 01:15] jonmc12 commented on #734
Thank for fix!  I wasn't sure if needed on server or would have provided pull request

[2015-10-06 08:03] Rian0702 opened #741 "How to display Loading"
Could you please provide a best practice how to display a loading bar if a collection is loaded from the server ?

[2015-10-06 15:04] adriangordon1231 commented on #741
I don't know if this is standard, but this is how I would do it:

Controller.js
[code]

Then you simply display a gif in your template only when showPreloader == true.

Template.ng.html
[code]

[2015-10-06 16:18] Svenskunganka opened #742 "$rootScope.currentUser is not acting like a Reactive Data Source"
Hey!

I've got this code:

[code]

But the `$rootScope.currentUser` variable is not re-running the function when it updates as I have this code in Meteor:

[code]
and this code in a `.run` function in my app:
[code]

If I create a never ending loop with a 1 second wait, I can see that after one second or so the `completedGuides` property shows up in the `$rootScope.currentUser` object, but the `$s

[2015-10-06 17:07] mxab commented on #742
You should use Meteor.user() for your use case.
[code]

There is no way the autorun could detect that you are accessing a property.

[2015-10-06 19:04] Svenskunganka commented on #742
Ah that worked like a charm! Thanks a bunch!

[2015-10-06 19:53] #742 closed

[2015-10-07 02:41] estaub commented on #370
@fdcastel See my comment on issue 320.  Consider use of AngularMeteorObject.getRawObject().

[2015-10-07 04:48] Urigo commented on #742
I wonder if we could make $rootScope.currentUser reactive...

[2015-10-07 06:53] Rian0702 commented on #741
thank you but i think this shows the loading if the collection is loaded because you set it true in the "then" promise. am i right or do i understand something wrong here?

[2015-10-07 07:56] mxab commented on #741
to ensure that it stops spinning incase an error occurs, I use it in the finally method of the promise

[code]

[2015-10-07 08:57] justingrayston opened #744 "Strange Max Call Error when saving $scope item"
Firstly, meteor and in particular Angular Meteor is brilliant. I stumbled across it researching for a project.
I went through the tutorial and then to embed some of the concepts and understanding I created my own little test app.

It is a simple CRUD app. However when editing and updating an item more than once, I was getting the following error.

[code]

Now, it is highly likely it is something s

[2015-10-07 13:26] Tallyb commented on #741
@Rian0702 from the documentation: $meteor.subscribe()
returns: promise(subscriptionHandle)
The promise solved successfully when subscription is ready. The success promise holds the subscription handle.

[2015-10-07 13:40] mgrivera commented on #741
@Rian0702 ... well, you should set it true *before* calling the subscription, then, as @mxab suggests turn it off in finally method ... that way the spinner will be off whatever is the result of the promise (success or failure) ...

[2015-10-07 14:50] adriangordon1231 commented on #741
@RichardLitt Yes. that was an error on my part.It should be the other way around

[2015-10-07 15:55] jacobdr commented on #744
@Urigo Maybe a problem with the base case in the recursive [stripDollarPrefixedKeys](https://github.com/Urigo/angular-meteor/blob/3e0dc78a0178e1b58f842b6e1e119a1a39a16d27/modules/angular-meteor-utils.js#L28)?

If I have some time later I'll try to transpose @justingrayston's code into a test case

[2015-10-07 16:06] justingrayston commented on #744
Thanks @jacobdr

I figured thats where the problem is, I just didn't want to dive in if I was missing something obvious.

On initial scan I thought the cause could be the _serverBackup property. It isn't a string value and it doesn't start with $ and looking at the object (in console it logs the object being sent to the save method) the _serverBackUp object seems to recurse, which would lead to th

[2015-10-07 18:40] jonmc12 commented on #734
@Urigo I'm really having trouble with this bug.  I've tried various things, and every time it is fixed for a short period of time and then re-appears.

Yesterday, I fixed by removing the use of the check method in the angular-meteor method and other places in my code.  However, this morning the error reappeared.

Today, the error seems to have temporarily disappeared as I ran ```meteor remove chec

[2015-10-07 20:02] jonmc12 commented on #734
Update: I believe I have found a way to work around this issue permanently by finding an alternative to the ```path``` command.  My apologies for all the 'issue spam', but I believe this issue will come up for other users as time goes on and it is changing the way I need to write code within my Meteor Methods.

[2015-10-07 23:59] RichardLitt commented on #741
Pretty sure you mean @Rian0702...?

[2015-10-08 00:59] Urigo commented on #370
@estaub could you share the link here?  I can't find it

[2015-10-08 00:59] Svenskunganka commented on #742
How about making `$rootScope.currentUser` a method instead that simply calls `Meteor.user()` and return its value? Don't know if that works reactively as it's another layer that the Tracker has to monitor.

An example:

[code]

[2015-10-08 02:41] Urigo commented on #733
great!

[2015-10-08 02:41] #733 closed

[2015-10-08 02:49] estaub commented on #370
@Urigo - sorry, the link to that issue was in @fdcastel 's comment:  https://github.com/formly-js/angular-formly/issues/320
I didn't mention getRawObject() there; I found it later.
FWIW, I decided that it's best to assume that the MongoDB rendition of a model is likely to be different from that best-used by formly, so I always map between them.  That incidentally avoids the AngularMeteorObject pro

[2015-10-08 04:35] Urigo commented on #689
Could you please check if the new pull request fixed the problem for you?

[2015-10-08 04:54] Urigo commented on #734
@jonmc12 can you elaborate on this issue and your code?

[2015-10-08 05:08] jonmc12 commented on #689
For me, yes, appears fixed.  Thx @netanelgilad

[2015-10-08 05:27] mxab commented on #742
I think you simply should stick to using Meteor.user() in the autorun. As far as I see it the currentUser is more supposed to be used in the templates, not functions

[code]

You wouldn't gain anything by adding the currentUser as a function to the rootScope.

I guess you could play around with Object.defineProperty to make it reactive, but still you wouldn't have gained anything besides having a

[2015-10-08 07:43] JohnAReid opened #747 "Tutorial - ng-annotate and .ng.js"
To save confusion and make it easier to read; would it not be better to show all the examples of the controllers using the ng.js method as in  section 2 .

Also I would suggest making ng-annotate part of the Meteor Angular package as Meteor will perform minification when deployed.

[2015-10-08 12:19] dyaa opened #749 "How can i make a reactive Join between two Collections"
I have two Collections `Articles` and `Categories` let's say their documents are like this

**Article**

    {
       "_id": "blabla",
       "title" : "title",
       "description" : "description",
       "categoryId" : "catId"
    }

**Category**

    {
       "_id": "catId",
       "title" : "category",
       "description" : "description"
    }

I want to make a subscription to make them like

[2015-10-08 14:59] adriangordon1231 commented on #749
+1

[2015-10-08 15:59] jonmc12 commented on #734
@Urigo I've attempted to show a reproduction of the underlying cause of this issue [in a fork meteor-angular-socially](https://github.com/jonmc12/meteor-angular-socially).  At this point, I believe its a Meteor issue, and not necessarily an Angular Meteor specific bug.

[code]

from client:  ```Meteor.call('testPath')``` and ```$meteor.call('testPath')``` - both will trigger the error above:

[cod

[2015-10-08 18:04] MilosStanic commented on #749
I also tried using publish-composite in the past, without success. So I'm also interested in the answer.
Meanwhile you have @Deadly0 answered your question on stackoverflow and he referenced his past issue #720

[2015-10-08 19:19] mbeaudru opened #750 "API blaze-template and project structure issues"
Hi,

Following instructions of this page, http://angular-meteor.com/api/blaze-template , i've been able to use a blaze-template inside my project, which is already great.

But now, i'd like to move my templates definitions which are below the body tag for lisibility purposes. In fact, the only way for me to make templates working well has been to define them below the body tag and nowhere else and

[2015-10-09 04:21] Urigo commented on #750
@mbeaudru can you please share a reproduction of your problem?

[2015-10-09 05:05] AlexeyMK commented on #262
Can confirm I'm experiencing this issue with 1.2.  With me, removing a giant vendor JS file (https://atmospherejs.com/gnomathibus/meteor-phaser) fixed the problem.

Reinstalling Meteor didn't help. Removing .meteor/local didn't help. My coding partner didn't have this problem (we're both on OS X, I'm on 10.9 and he's on 10.10).

[2015-10-09 08:20] mbeaudru commented on #750
Sure, thank you for your fast reply !

Here is my actual structure (truncated) :
[code]
The blaze-template integration works when it is defined below the body tag like this :
index.html
[code]

I would like to have a more readable code in storing this template definition somewhere else. Or, if not possible, just store it in addActuality.ng.html located here for instance :

[code]
And then call thi

[2015-10-09 12:05] sebakerckhof opened #752 "Why concatenate first directory inside package with underscore instead of slash?"
Referencing to this line: https://github.com/Urigo/angular-meteor/blob/master/plugin/handler.js#L20

Why are templates cached like: 'author_packagename_path/to/file.js' instead of 'author_packagename/path/to/file.js' which IMO makes more sense?

[2015-10-09 17:04] isibz opened #753 "Undefined when i refresh the navigator"
Hi,

When i refresh the navigator i print into the console $scope.web._id and prints UNDEFINED but when i print $scope.web prints the Object.
Any solution to print the value?

CODE:

angular.module('App')
.controller('WebDetailCtrl', function($scope, $stateParams, $meteor , $location) {

  $scope.web = $meteor.object(Webs, $stateParams.webId,false);
    var subscriptionHandle;
    $meteor.subscrib

[2015-10-10 21:08] Urigo commented on #734
@jonmc12 please try to create a reproduction of this error without the `angular` package and open it as in issue in Meteor.
I'm not merging your pull request as I think the new version of `check` came after Meteor 1.2 and I don't want version 1.0 to be dependent on that.
What do you think?

[2015-10-10 21:11] Urigo commented on #753
@isibz that's probably because the subscription has not finished yet.

You can try to change your code to this:

    var subscriptionHandle;
    $meteor.subscribe('webs').then(function(handle) {
      subscriptionHandle = handle;
      $scope.web = $meteor.object(Webs, $stateParams.webId,false);

      console.log ($scope.web); //On navigator refresh SubObject (...)
      console.log ($scope.web._

[2015-10-10 21:11] #753 closed

[2015-10-10 21:14] Urigo commented on #752
@sebakerckhof I agree.
Can you make a pull request that will make that consistent with the new build process of Meteor and the way we bring package assets?
thank you for the great suggestion

[2015-10-10 21:16] Urigo commented on #750
@mbeaudru is `addActuality.ng.html` contains Blaze templates?
If so, it has to be named `addActuality.html`

[2015-10-10 21:17] Urigo commented on #747
@JohnAReid Agree with your first point.
will update soon.
about the second point - it already is...

[2015-10-10 21:18] sebakerckhof commented on #752
@Urigo Should I way till PR #719 lands? Also, this will break current packages. So maybe we should think about backwards compatability and support both cases but print a deprecation message?

[2015-10-10 21:29] Urigo commented on #689
Fixed in 1.0.2

[2015-10-10 21:29] #689 closed

[2015-10-10 21:33] Urigo commented on #752
You don't need to wait for #719 but I know it will create a breaking change.
This is why I will release it only as part on version 1.2 that will break things anyway...

[2015-10-10 21:53] JohnAReid commented on #747
thanks

[2015-10-10 21:53] #747 closed

[2015-10-11 08:09] mbeaudru commented on #750
Of course ! This was so easy, thank you very much !

By the way, I really appreciate your work you've done an amazing job.

[2015-10-11 08:10] #750 closed

[2015-10-11 12:56] EyalRonel commented on #689
this post is a life saver ;) thanks!

[2015-10-12 00:33] alecperkey commented on #701
this same error is happening with angular 1.0.2 (latest)
I am able to continue the angular-meteor tutorial at http://angular-meteor.com/tutorials/angular1/search-sort-pagination-and-reactive-vars by downgrading

meteor remove angular
meteor add angular@=1.0.0-rc.10

Thanks for teaching me so much Uri!

[2015-10-12 00:48] Urigo commented on #701
@alecperkey can you share a reproduction?
I will look on it
thanks

[2015-10-12 14:57] alecperkey commented on #701
@Urigo I couldn't reproduce it this morning with the zip from step 10. I may have just made a mistake in the tutorial.

[2015-10-12 20:53] aaronroberson commented on #183
Sorry to comment on a closed issue but the [http://angularjs.meteor.com/api/meteorCollection]($meteorCollection documentation) no longer exists. I thought I read in the tutorial that `$meteorCollection` is preferred over `$meteor.collection` because `$meteorCollection` will end the subscribe when the controller is destroyed. I can't find a reference to `$meteorCollection` in the tutorials though.

[2015-10-12 20:55] aaronroberson commented on #183
Never mind I found it here http://angular-meteor.com/api/meteorCollection

[2015-10-12 20:59] Urigo commented on #183
yes!  you can see an example here: https://github.com/Urigo/meteor-angular-socially/blob/step_12_controller_as_vm/client/parties/controllers/partiesList.ng.js

[2015-10-12 21:18] aaronroberson commented on #183
So instead of injecting `$scope` into the controller and using `$scope.meteorCollection` like this:
[code]
I instead have to to provide `$meteor.collection` with a closure that returns the Parties directly and then use `$meteor.subscribe` from within a `$meteor.autorun` callback like below:
[code]
I'm feeling like these examples are not a 1:1 comparison or I have some wrong assumptions about the u

[2015-10-12 21:31] Urigo commented on #183
the subscribe is just because it is a more advanced example.

this should still work
`vm.parties = $meteorCollection(Parties.collection).subscribe('parties', {sort: vm.sort});`

[2015-10-13 04:50] jonmc12 commented on #734
@Urigo all sounds good to me.. I filed a [meteor issue](https://github.com/meteor/meteor/issues/5415) today using the todos example

[2015-10-13 04:51] borisfeldmann commented on #191
@DevinXian: Thanks for pointing this out.

But when I user '<blaze-template name="_loginButtons"></blaze-template>' the '<blaze-template>' tag is included in the rendered output, between my '<ul>' and loginButton's '<li>' tag.

Is there a way to prevent this and get a clean '<ul><li>' strutcture?

[2015-10-13 11:19] borisfeldmann opened #756 "<blaze-template> tag included in rendered output"
Hi there,

when I use `<blaze-template name="_loginButtons"></blaze-template>` the `<blaze-template>` tag is included in the rendered output, between my `<ul>` and loginButton's `<li>` tag.

Is there a way to prevent this and get a clean `<ul><li>`strutcture?

Here's my package list.

[code]

Thanks for your help and your contribution!
Boris

[2015-10-14 04:45] Urigo commented on #756
@borisfeldmann that's a a good idea and I think it's pretty easy to do.
We should use the `replace: true` option inside the directive.
It might be a better default behavior actually for the `<blaze-template>` directive.
Because this is relatively simple, I would love to get a pull request, here is the file that needs to be changed:
https://github.com/Urigo/angular-blaze-template/blob/master/angula

[2015-10-14 10:57] Rian0702 opened #757 "Maximum Callstack exceeded - Meteor transform"
Hello,
everytime i try to use transform i get the "Maximum Callstack Exceeded Errror"

member is just an array of userIds

My Code:
[code]

[2015-10-14 10:59] mxab commented on #757
Don't add a MongoCursor to your object this will result in strange things if you try to serialize that

you could add a .fetch() at the end after your find

[2015-10-14 11:00] Rian0702 commented on #757
okay. Sorry i am completely new to Mongo and just tried something like a join. Could you provide a small example or a link ?

[2015-10-14 11:06] mxab commented on #757
maybe something like this
[code]

Depending what you want to do you could also have a look at this
https://github.com/englue/meteor-publish-composite/

[2015-10-14 11:12] Rian0702 commented on #757
Thank you very much! This works. :+1:

Really dont understand why but i will have a look at your link and at the fetch function soon :)

[2015-10-14 11:12] #757 closed

[2015-10-14 12:03] borisfeldmann commented on #756
Hello Uri,

I’d really like to fix this and send you a pull request, but I do not know how to do this. I tried the „replace: true“ option, but it seems to be deprecated: http://stackoverflow.com/questions/24194972/why-is-replace-deprecated-in-angularjs and it is not documented in the latest developer guide https://docs.angularjs.org/guide/directive.

Sorry, Boris

Am 14.10.2015 um 06:46 schrieb Ur

[2015-10-14 12:51] Furqankhanzada opened #758 "Need to update version of angularjs:angular-animate"
@Urigo i don't know where i need to request fro this :)

[angularjs](https://atmospherejs.com/angularjs) packages have updated version ```1.3.15``` except ```angularjs:angular-animate```. it has ```1.3.13``` thats why its giving me error with latest angularjs version.

[2015-10-14 16:21] Urigo commented on #758
@dotansimha

[2015-10-14 18:28] mxab commented on #758
@Furqankhanzada I think you are using the wrong namespace
angular:angular should be very up to date
https://atmospherejs.com/angular/angular

[2015-10-14 19:36] Urigo commented on #758
ohh that's right, haven't noticed that in your issue.
thanks @mxab

[2015-10-14 19:36] #758 closed

[2015-10-14 23:53] Urigo commented on #608
Fixed thanks to the great work of @barbatus who created a new [Typescript package for Meteor](https://github.com/barbatus/typescript) , updated the [Angular2.0-Meteor package](https://github.com/Urigo/Meteor-Angular2) and the [tutorial](http://angular-meteor.com/tutorials/angular2/bootstrapping).

[2015-10-14 23:53] #608 closed

[2015-10-15 07:42] Furqankhanzada commented on #758
Thanks @Urigo and @mxab :)

[2015-10-15 11:58] simonbonjean opened #761 "Update scope first and meteor on background."
My angular app create controls on a canvas and we can move it with keyboard arrow.

I create link between my angular model and meteor. After that, moving is very slow.
I think view is update after meteor mongo server.

There is a bouncing  solution ?

**Before meteor**
![motion quick](https://cloud.githubusercontent.com/assets/708696/10512756/1f00b8d0-7343-11e5-8fcf-e2528e7f6f04.gif)
**After meteo

[2015-10-15 14:14] zenonn37 opened #762 "Cannot get $scope to work ngMaterial directives"
Good Morning,
I cannot use $scope from a parent or child controller, with ngMaterial. For example, if I try to use a toolbar directive with $scope.title = "Title" for the brand it will not render. This example failed in the angular-meteor.com tutorial as well. This example works fine out of meteor, with all angular and ngMat versions. Thanks for your help in advance.

Chris

[2015-10-15 17:28] shankar-mits commented on #665
+1

[2015-10-15 19:15] JohnAReid opened #763 "Array item updated in client is shown as null in server"
This is really strange, I m just doing a quick and dirty display/update of static data stored on the server. The main table is loaded on the client using $meteor.subscribe and $meteor.collection just as the$meteor.subscribe / $scope.$meteorSubscribe API example.
The data is bit difiicult to follow but an example is:

{
    "_id" : "vets1",
    "description" : "animal vets test",
    "level" : 2,

[2015-10-16 09:52] simonbonjean commented on #761
GroundDB I thought could help me, but it changes nothing.

[2015-10-16 11:15] batm4n commented on #262
Confirmed on same issue, hangs on `Building the application                  \` when large library added.

[2015-10-16 13:21] gscalise commented on #191
@borisfeldmann I'm having the same problem as you. Were you able to fix it?

[2015-10-17 16:49] nickbenes opened #765 "Windows-incompatible filenames in docs"
I recently had to switch to a Windows machine and bumped into an annoying quirk yesterday that prevented me from cloning angular-meteor in Windows.

Windows file/folder names are not allowed to have colons (`:`) in them, since they reserve that for drive names. Right now, angular-meteor has a folder called
[code]
Looks like this is a dev version of the standard [mdg:tutorial-step-diff-compiler](ht

[2015-10-17 17:07] dotansimha commented on #747
@JohnAReid
Done!

[2015-10-17 19:24] dotansimha commented on #737
@Urigo @uriva
Done!

[2015-10-17 21:13] Urigo commented on #765
@Tallyb I think you opened an issue on the tutorial tool repo on that no?

[2015-10-17 21:17] Urigo commented on #737
@dotansimha are you sure?   I did changed it to use `ng-annotate` with `.ng.js` but I think you haven't added `, {strictDi: true}`

[2015-10-17 21:17] Urigo commented on #747
Awesome @dotansimha !

[2015-10-17 23:32] nickbenes opened #770 "Current getUpdate spec reporting incorrect errors"
I just ran the test suite and got two errors that aren't really errors: "getUpdates module functionality should get updates when null-field is assigned a array-object" and "... when null-subfield is assigned a array-object".

The spec was expecting `{$set: {'a.0': 1, 'a.1': 2, 'a.2': 3}}`, but updating with that when `a` is null results in the error
[code]
I'm submitting a PR that fixes the spec.

[2015-10-18 01:29] Namek commented on #205
another workaround:
[code]

[2015-10-18 03:11] nickbenes opened #772 "Bug with upserting docs with ObjectIds"
I noticed a problem while going through the Update and Remove step of the meteor.com [Meteor-Angular Tutorial](https://www.meteor.com/tutorials/angular/update-and-remove). I kept seeing
[code]
in the console, and tracked it down to a step during `AngularMeteorCollection._upsertDoc` where it calls `stripDollarPrefixedKeys`. During this step, a document with `ObjectID("12345") for its `_id` value wo

[2015-10-18 04:43] dotansimha commented on #737
@urigo
In the beginning I use ng-strict-di and only when we change the ng-app to angular.bootstrap,  I changed it to strictDi: true

[2015-10-18 05:15] Urigo commented on #737
ohhhhh  ok cool!
thanks

[2015-10-18 05:15] #737 closed

[2015-10-18 12:23] Tallyb commented on #765
I thought I did, but I cannot find it.
This issue exists on this repository: https://github.com/Urigo/angular-meteor/issues/708

[2015-10-18 14:58] nickbenes commented on #765
Great -- thanks!

[2015-10-18 19:06] nickbenes opened #777 "Missing packages "mongo-id" and "diff-sequence" in 1.0.2 distribution via bower"
I was following the ionic tutorial for angular-meteor, which includes client-side installation via bower rather than `meteor add`. Installing this way, 1.0.2 crashes because it can't load `Package['mongo-id'].MongoID` or `Package['diff-sequence'].DiffSequence`. For now I'm just using 1.0.1 and that works fine (looks like they load via minimongo).

[2015-10-18 19:11] dotansimha commented on #756
Hi @borisfeldmann @Urigo
Just fixed it:
https://github.com/Urigo/angular-blaze-template/pull/1

[2015-10-18 19:20] borisfeldmann commented on #756
Great, thanks!

Von meinem iPhone gesendet

Am 18.10.2015 um 21:11 schrieb Dotan Simha <notifications@github.com<mailto:notifications@github.com>>:

Hi @borisfeldmann<https://github.com/borisfeldmann> @Urigo<https://github.com/Urigo>
Just fixed it:
Urigo/angular-blaze-template#1<https://github.com/Urigo/angular-blaze-template/pull/1>

-
Reply to this email directly or view it on GitHub<https://git

[2015-10-18 19:32] dotansimha commented on #593
@ilantoren  @Urigo
Hi
First, why do you use both `bootstrap3-less` and `twbs:bootstrap` ? you should use one of them, otherwise it loads the Bootstrap library twice!
I just removed `bootstrap3-less` from you project, and used the original Bootstrap dropdown example from it's docs:
[code]

And it works great:
<img width="254" alt="screen shot 2015-10-18 at 22 30 55" src="https://github-cloud.s3.ama

[2015-10-18 21:12] mh-github opened #778 "Blank client screen after step 3.4"
Ref: http://angular-meteor.com/tutorials/angular1/3-way-data-binding

I have been doing the tutorial at angular-meteor.com.
After step 3.4, I don't see anything in the browser.

I am on Ubuntu & Firefox.

My meteor version is 1.2.0.2

Update
---------
I downloaded meteor-angular-socially-step_03 zip file, unzipped it and ran meteor.
It downloaded meteor-tool@1.1.8 and showed an error in index.html

[2015-10-18 22:08] JohnAReid opened #779 "Authentication login existing user"
If I use the urigo:angular-blaze-template, then if the user is  logged in, then on restarting the template will show the user as being logged in.

If I remove the loggin template and follow step 18 of the tutorial  on authentication forms - then the user is not automatiicaly logged back in.

Is there a procedure to send the login data in the local storage  regarding login to the server and log the

[2015-10-18 22:14] Namek commented on #749
@dyaa probably won't solve your problem but I've read that you shouldn't use `findOne()`, but instead `find()` so it gets a cursor. I'm fighting with Angular and `publish-composite` too.

[2015-10-18 22:39] Namek commented on #749
OK, I did something! After first debugging it seems like it's reactive.

I assume that Article is supposed to contain many Categories here. So let's make a change so there is no `Article.categoryId` field, instead there's `Category.articleId`.

On the client-side you won't get joined data but you can query for Categories more efficiently because of server-side compositions which we're gonna subscr

[2015-10-19 01:17] MurWade commented on #205
@Namek  adding ignoredDependencies to the bower.json

i get

    While building the application:
    error: Syntax error in bower.json
    packages/bower/plugin/handler.js:18:1: Cannot read property 'dependencies' of undefined (compiling        bower.json)
    at bowerHandler (packages/bower/plugin/handler.js:18:1)
    at Package (packages/bower/plugin/handler.js:262:1)

[2015-10-19 09:58] JohnAReid commented on #779
Sorry I now undertsand that $meteor.waitForUser() does what I wanted.

[2015-10-19 09:58] #779 closed

[2015-10-19 14:10] adriangordon1231 commented on #749
@Namek

Yess. Thank you. This works

[2015-10-19 15:53] kvsm commented on #778
I just came across this too. It looks like the server is not parsing *.ng.js files. If you move the Meteor.isServer block into another file, say server.js, it works as expected.

[2015-10-19 16:12] dennishu001 commented on #680
I think it will be sufficient if you can point out the way angular-meteor looks up template files in a package in your existing tutorials. By looking at the meteor-running package, I just found out you need to use 'author_package-name_client/templates' to properly point to 'client/templates' in your package. Other than that, I didn't find anything peculiar using angular-meteor in a local package.

[2015-10-19 21:46] simonv3 commented on #680
Yeah, there's absolutely nothing special about Angular Meteor packages in regards to meteor packages - you just have to include them in the angular app as well if they're an angular library.

[2015-10-19 21:55] mh-github commented on #778
I did a quick check to see if the error is platform specific. Even on Windows 8+ that I use, I got
the same problem.

As suggested by kvsm, I moved the server side code (if Meteor.isServer) to a new file "server.js" and it works. Thanks for the tip Kevin.

Shouldn't the tutorial be updated?

[2015-10-19 22:14] Namek commented on #749
maybe @Urigo can help us about the `filter` part? How we do it server-side?

[2015-10-20 04:50] Urigo commented on #756
Will be release on the next major version

[2015-10-20 04:51] Urigo commented on #593
Thanks @dotansimha

[2015-10-20 04:51] #593 closed

[2015-10-20 06:39] borisfeldmann commented on #756
Great, thanks!

Am 20.10.2015 um 06:50 schrieb Uri Goldshtein <notifications@github.com<mailto:notifications@github.com>>:

Will be release on the next major version

—
Reply to this email directly or view it on GitHub<https://github.com/Urigo/angular-meteor/issues/756#issuecomment-149432729>.

---
Werkdigital GmbH
Boris Feldmann, Dipl.-Ing. (FH)
Geschäftsführender Gesellschafter

---
Fon: +49 272

[2015-10-20 09:15] suryaiiit opened #781 "$meteor.loginWithPassword not working with Ionic"
Hi,

I'm trying my hands on Ionic Meteor using this: http://angular-meteor.com/ionic-tutorial
I'm not able to get $meteor.loginWithPassword working, I tried this at the 4th Step (http://angular-meteor.com/tutorials/ionic/authentication).

Anything missing for that to work.

Thanks.

[2015-10-20 09:40] suryaiiit commented on #781
Looks like there is another library not added in Step-3 but there in Step-4 (may be the documentation is missed is Step-3).
<script src="lib/accounts-base-client-side/dist/accounts-base-client-side.bundle.min.js"></script>

But then I get a different error:
TypeError: Cannot read property 'apply' of undefined
    at null.loginWithPassword (http://localhost:8100/lib/angular-meteor/dist/angular-mete

[2015-10-20 12:06] phaggood commented on #781
what does your 'meteor list' say?  I use the same syntax for
meteor.loginwithpassword and have the following when i list packages:

accounts-password   1.1.1* Password support for accounts

aldeed:collection2  2.5.0  Automatic validation of insert and update
operations on the client and server.

driftyco:ionic      1.1.0_2  Ionic Framework official Meteor package

insecure            1.0.3* Allow

[2015-10-20 12:31] suryaiiit commented on #781
As I wrote, I'm trying to do this using Ionic CLI .. as I already have a web application with Meteor.
hence meteor list is not valid, I think. But if you are asking me about the meteor list in my web app below is the list (loginWithPassword is working fine on the web app):

accounts-password                          1.1.3  Password support for accounts
alanning:roles                             1.

[2015-10-20 14:34] suryaiiit commented on #781
Got it, I should add 'accounts-password-client-side'

Thanks.

[2015-10-20 14:34] #781 closed

[2015-10-20 17:41] dotansimha commented on #778
Hi @mh-github

Just checked it and you are right, but let me explain some things first:
- The `.ng.js` extension uses for indicating Meteor that this file contains an AngularJS code and should be annotated (to fix angular di issue with minification) and also load it ONLY in the client side.
- The ng-strict-di forces the client to use this type of DI (the output of the `.ng.js` compiler).
- The cod

[2015-10-20 18:24] dotansimha commented on #778
Fixed in the socially repo, also added a note and updated tutorial:
https://github.com/Urigo/angular-meteor/pull/782
@Urigo

[2015-10-20 22:27] #777 closed

[2015-10-20 22:45] Urigo commented on #778
Done and deployed.
Thanks @dotansimha

[2015-10-20 22:45] #778 closed

[2015-10-21 03:36] PublicVar opened #784 "Can't add angularutils:pagination"
Hi, I can't add the angularutils:pagination.
[code]

[2015-10-21 11:27] rgnevashev commented on #763
confirm +
My doc looks http://clip2net.com/s/3paq7v0 after i delete images.$
modifier = {$unset:{'images.2':true}}

[2015-10-21 13:58] #784 closed

[2015-10-23 05:55] netanelgilad commented on #738
Hey @jacobdr ,
do you have a repository setup where I can take a look on what's going on when all of these packages are used together?
I would have assumed that using angular-meteor with typescript would be the problem (because of file extension problems) and adding ionic should not affect anything, but that does not seem to be the case by what you're expressing. I would be interested in knowing w

[2015-10-24 06:29] netanelgilad commented on #770
You are totally right.
@Urigo this is due to my change in the way arrays are saved to mongo when first created, in my PR I didn't fix the expectations of these specs. :wink:

[2015-10-24 06:35] netanelgilad commented on #763
Hey @JohnAReid , @rgnevashev ,
What version of meteor and angular package are you using? There was an issue with this in meteor prior 1.2.0.2 and also in the angular package.
If you can,  share your code so I can take a look and see what the problem is.
Thanks.

[2015-10-24 06:38] netanelgilad commented on #761
This seems like an interesting case @simonbonjean.
What do you mean by creating a link between angular model and meteor? Have you used $meteorObject? What parameters have you given it?
If you can share your code, that would be great.

[2015-10-24 06:42] netanelgilad commented on #752
In the new build process for templates it now uses forward slash: https://github.com/Urigo/angular-meteor/blob/feature/meteor1.2/plugin/ng-caching-html-compiler.js#L7

[2015-10-24 06:53] netanelgilad commented on #720
Hey @Deadly0 ,
Where are you calling sport.getLeagues? Without seeing the code, I can assume that when blaze was used it was called inside a template helper or something of the like, which are run inside a reactive context, so blaze keeps your templates reactive in that way. In angular-meteor if you want to keep the reactivity that the `find` method of a collection offers, then you need to make su

[2015-10-24 06:58] netanelgilad commented on #749
@Namek solution is good and it seems there is no better solution. The thing is that publish-composite creates reactive joins by making sure that the collections on the client will contain all the needed documents for a certain parent document, but it does not connect them in any way. Because of that the filter on the client is needed.
publish composite made sure all the Comments documents that bel

[2015-10-24 07:11] netanelgilad commented on #744
Hey @justingrayston,
I'm trying to run your code and get the error but it doesn't seem to happen to me.
I have cloned your repo and run the code, no error. I went to the saveBook method and changed it to:
`$scope.book.save().then(...)` but that also doesn't get me the error. What am I missing here?

[2015-10-24 07:14] netanelgilad commented on #741
@Rian0702 Did the answers resolve your issue?

[2015-10-24 07:29] netanelgilad commented on #736
I tried going through the code in the repo and seeing where the problem could be, but I couldn't get it running in a scenario which will return listing so I could experience the problem. If you could tell me how exactly to reproduce the scenario, I could help.
A wild guess from just seeing the code would be to move this line: https://github.com/AnjirHossain/Traverso/blob/master/client/find/find.js

[2015-10-24 09:00] JohnAReid commented on #763
If i run meteor update I get:  "This project is already at Meteor 1.2.0.2, the latest release."
but if I look in the folder versions under .meteor I it says  meteor@1.1.9 and angular@1.0.1
angular:angular@1.4.7

[2015-10-24 10:21] JohnAReid commented on #763
I have put a version on the meteor deploy site: http://angularnullarray.meteor.com

Do you want the source  - if so where?

[2015-10-24 10:26] netanelgilad commented on #763
So the fix for splicing arrays in angular-meteor landed in 1.0.2 as you can see here: https://github.com/Urigo/angular-meteor/releases/tag/1.0.2. By your version file, you are using 1.0.1. try updating angular: `meteor update angular`, and see if that helps.
If that doesn't work, then please the source and i'll have a look (deployed versions are minified and uglified so not much help there)

[2015-10-24 10:43] JohnAReid commented on #763
Confused about the version issue as the test package was created new less than a hour ago - so it should have been up to date. Did meteor update angular - but no difference.

Link to source here; http://1drv.ms/1GxLN5U

[2015-10-24 11:04] Tallyb commented on #762
Well, it is probably something very specific to your repo. Material works really well with angular-meteor . here is a demo http://angular-meteor-material.meteor.com/ and the repo is here https://github.com/Tallyb/angular-meteor-material

[2015-10-24 11:09] justingrayston commented on #744
Hi @netanelgilad

You should be able to replicate at http://bookish-666.meteor.com/

Apologies I should have put the breaking code in a branch.

Change the save function to this...

[code]

It is saving the object with the _collection_ rather than the loaded _object_ itself that causes the error. I can confirm that $scope.book.save() works without issue. The function above replicates locally for m

[2015-10-24 11:28] JohnAReid opened #787 "New projects - this is not an issue - more of an request"
Having to create a test version on another issue, I created a new meter project, added angular, deleted the sample files and added new client server and model folders, then added app.ng.js, main and index files.

Would it not be possible to have a meteor createAngular call which would all this for us?

[2015-10-24 13:32] Urigo commented on #738
also, I think the new typescript compiler used in the Angular 2.0 Meteor package might be better

[2015-10-24 13:36] Urigo commented on #770
@netanelgilad I wonder why the Travis tests still pass

[2015-10-24 13:37] #770 closed

[2015-10-24 13:37] Urigo commented on #770
Merged, but still thinking about the travis tests

[2015-10-24 15:12] Tallyb commented on #787
@JohnAReid
If you are fond of material (I am!) - here is an opinionated  boiler plate with material account (login, logout, register) windows you can copy.
It has a todos app to point where to start.

https://github.com/Tallyb/angular-meteor-material

[if you like it - please star...]

[2015-10-24 19:06] alecperkey commented on #490
Hi, @dpdonohue, have you refined your approach at all? I am going to make a ui-accounts package to simplify and extend the angular-meteor auth functionality, but it is my first package so I am researching best patterns.

@Urigo do you have any helpful links to existing packages, or pattern guidelines for packages extending angular-meteor?

Thanks

https://trello.com/c/3iLcMnaf/55-account-ui-angula

[2015-10-24 19:25] AnjirHossain commented on #736
Thank you for the response, the repo is actually deprecated and I thought I had taken it down. I fixed the problem by replacing ng-repeat with blaze's #each.

[2015-10-24 19:25] #736 closed

[2015-10-24 19:42] Tallyb commented on #490
@alecperkey The blaze template directive is an extension of the angular-meteor package: https://github.com/Urigo/angular-blaze-template (was removed from core on angular-meteor 1.0 / meteor 1.2).

Do you plan to build the UI using material design or bootstrap?

[2015-10-24 19:58] JohnAReid opened #790 "Problem with fonts - base64"
This problem which I have had for a few weeks (possibly after upgrading to 1.2) is driving me round the bend: Below is the error message I am getting in the chrome console window.

![image](https://cloud.githubusercontent.com/assets/7714810/10712311/53909a54-7a8f-11e5-83e0-d6be14593bd0.png)

The problem is that I cannot isolate the error - I have started a new project, added the packages one by on

[2015-10-24 20:15] Namek commented on #749
Thanks @netanelgilad I thought it fetches all Comments ever existing and then filters them on the client side for certain parent Post but I made few little tests by looking at meteor's websocket communication and it seems reliable (or I tested it wrong).

[2015-10-24 20:41] alecperkey commented on #490
Good point-- that is definitely the package I should look at for understanding. I prefer angular material, though many people use bootstrap. So I will start with material. Might it be preferable to support both via options, or is it preferable to have separate packages for each to reduce file size?

sort of unrelated I put this together in case its useful for anyone
https://docs.google.com/spreads

[2015-10-25 00:31] dpdonohue commented on #490
Hi @alecperkey I have extended my method to support directives, services, controllers, and routes.  So a Meteor package can plug Angular directives, services, controllers, or routes using this approach.  I could not find a way that a package could contribute one of those things to the central Angular application without this approach.  The approach is basically for the package to add the info to a

[2015-10-25 01:07] alekhurst commented on #687
I believe the problem for me was not subscribing to the collection. I solved it by supplying my query to a meteor subscribe callback:

		$scope.$meteorSubscribe( 'images' ).then( function() {
			$scope.images = $meteor.collectionFS( Images, false, Images )
		});

[2015-10-25 01:07] #687 closed

[2015-10-25 02:24] Tallyb commented on #790
Disable chrome extensions to eliminate the criminal.

On Sat, Oct 24, 2015, 22:58 JohnAReid <notifications@github.com> wrote:

[2015-10-25 03:49] Tallyb commented on #490
@alecperkey check out this one: https://github.com/Tallyb/angular-meteor-material.
If you are using material - you may want to use some of the ui parts from it.
Bootstrap is probably less critical as a blaze package exists for it.

[2015-10-25 06:08] juniobranco commented on #262
+1 Same issue

[2015-10-25 07:48] JohnAReid commented on #790
@Tallyb Thanks - you have stoppped me going round in circles!

[2015-10-25 09:20] Tallyb commented on #790
@JohnAReid  share if you found anything...

[2015-10-25 09:24] maxfriedmann opened #791 ""Cannot read property 'apply' of undefined" when clicking on a button with $meteor.loginWithFacebook()"
Hi there,
since a couple of days the promise behind $meteor.loginWithFacebook and $meteor.loginWithGoogle don't work anymore in one of my project and I don't know why.

Simple Button with a simple ng-clicked controller call that does $meteor.loginWithFacebook() produces this error message :

[code]

I am using v.1.0.3.

[2015-10-25 10:52] JohnAReid commented on #790
To be honest I started the computer this morning and I was going to clear the extensions one by one to see what was causing the error. The only problem is bizarrly the error did not come up again. I have no doubt it will come back again at some point which is why I haven't closed this issue.

[2015-10-25 14:04] JohnAReid commented on #790
It makes less and less sense - problem came back with error reported in Chrome console window - opened a new window (not incognito) linked to the local host and the problem does not appear! Two normal chrome windows opened - one reports the error - the other does not!

[2015-10-25 18:26] JohnAReid commented on #787
Thank @Tallyb the boiler plate looks good but if I read it correctly the user would still have to create meteor then add the pakages for Angular and other items - I am suggesting this could be done in the Meteor create stage.

[2015-10-25 19:04] Tallyb commented on #787
right...

[2015-10-26 08:42] Rian0702 commented on #741
Yes, sorry for my late response:)

[2015-10-26 08:42] #741 closed

[2015-10-26 12:50] dagvonkr commented on #262
+2 Same issue, and node is constantly using 100% ++ of my CPU and computer is getting hot!

[2015-10-26 17:12] #749 closed

[2015-10-27 12:36] alecperkey commented on #490
@Tallyb, thanks. I tried to use your config and provider initially in the package, but thought that was causing me errors, so I just put the options config into each of the controllers which used it for experimenting purposes.

@dpdonohue, it seems the controller of a package can be used with controller as syntax in ui router, but only if the routes are also defined in the package, rather than the

[2015-10-27 23:30] piotrraczynski commented on #791
I got the same error for loginWithPassword function, v.1.0.3

[2015-10-28 00:11] piotrraczynski commented on #791
I got this resolved. @maxfriedmann, install accounts-password-client-side then include accounts-password-client-side.bundle.js and accounts-pase-client-side.bundle.js

[2015-10-28 13:00] MarkPhillips7 opened #793 "Mongo error saving subarray splice"
This issue seems very similar to https://github.com/Urigo/angular-meteor/issues/763 but might be different.

When I call save on my $meteor.object that has had a subarray spliced I get this error in the console:

Here is what the mongo profile shows for this update attempt:

[code]

[2015-10-28 15:33] Rian0702 commented on #592
Would love to see that too

[2015-10-28 15:57] MarkPhillips7 commented on #793
Here is a repo demonstrating the issue: https://github.com/MarkPhillips7/angular-meteor-issue-793

[2015-10-28 18:20] cranesandcaff commented on #665
Confirming issue, I get a different issue if reactivity is set to false.

Turning off reactivity results in:
<img width="901" alt="screen shot 2015-10-28 at 2 20 20 pm" src="https://cloud.githubusercontent.com/assets/1912168/10798636/0b175284-7d7f-11e5-9b51-37906a22e0a4.png">

[2015-10-28 18:27] cranesandcaff commented on #665
I got around this by creating a blaze template wrapping my image and then used `angular-blaze-templates`. That seemed to work. Not ideal, but not really a big deal either.

[2015-10-28 19:59] danimbrogno commented on #90
Yeah, I think what happens is if the templateUrl is wrong then the request for the template returns the entire meteor page again (aka the 404 response). This means your index file gets injected into your inject file. Hence the double bootstrap problem.

[2015-10-28 22:23] daguangli opened #796 "Autobind flag doesn't work as expected"
The scenario is simple.
        $scope.categories = $scope.$meteorCollection(Categories, false).subscribe("categories");
        $scope.categories.push({ name: 'abc' });
though the autobind is set to 'false', angular-meteor will still create a new doc in Mongo with push.
I am using the latest release, it behaved the same in previous releases.

[2015-10-29 08:19] JohnAReid commented on #787
I beleive this would make Angular easier to work with Meteor - but as no one else is interested I have closed this issue.

[2015-10-29 08:19] #787 closed

[2015-10-29 14:35] adriangordon1231 commented on #592
+1

[2015-10-29 18:08] Urigo commented on #796
@daguangli can you please create a repo with an example of that?

[2015-10-29 18:09] Urigo commented on #791
Thanks @piotrraczynski

[2015-10-29 18:09] #791 closed

[2015-10-29 18:09] #772 closed

[2015-10-29 18:23] jacobdr commented on #796
*@daguangl*i when you say that there is a new document in Mongo, are you
referring to:

   1.  the server's Mongo database
   2.  the browser's Minimongo store (e.g. Categories.find({"name":
   "abc}).count() > 0)
   3. the $scope.categories Collection array?

If the first, looks like a good bug candidate. If the last, I think that
that is the expected behavior given the API
<http://angular-meteor

[2015-10-29 20:44] cantoine opened #800 "Possible Object/Autosave Bug"
I think I've hit on a bug(or I'm being completely stupid and missing something) in the $meteorObject/autosave functionality. I've created a reproduction here: https://github.com/cantoine/autosave-reproduction

The basics of it are that as soon as a route is loaded if $scope.$meteorObject is used there will be an update triggered which can be seen from the collection hook before event being fired o

[2015-10-29 22:44] daguangli commented on #796
The new doc was created in the server's Mongo database. The expected behavior is it won't be saved until you call Collection.save(), as the autobind was set to false. In some use cases, Collection.save() won't be called at all as there is no need.
@Urigo I don'k know how to create a repo the demo that. The problem can be reproduced easily just by running a simple meteor app.

[2015-10-30 13:37] leoetlino commented on #90
This is not actually what caused the issue for the OP and me, but yes, an invalid templateUrl can cause the app to bootstrap more than once.

[2015-10-30 13:38] pvmeijel commented on #262
+1 I have the same issue with the (quite big) Kendo UI library.

[2015-10-30 22:34] Urigo commented on #592
we are now using a great Typescript package in the Angular 2.0 tutorial.
Would love it if someone will create a version of socially with that package

[2015-10-30 22:50] iambrian7 opened #804 "Opening new browser window automatically signs user on"
With additional window sign-on is not independent of other windows. With different browsers it's ok, but with 2nd tab in either Chrome or FireFox uses previous sign-on.

[2015-10-31 01:14] jacobdr commented on #592
I think I may actually take up the task of doing this given my increasing comfort with Typescript.

This is slightly outside the scope of this particular issue, but what is now considered the canonical Meteor typescript compiler? (@netanelgilad @pbastowski)

I have been using the ([popular](https://atmospherejs.com/?q=typescript)) [meteortypescript package](https://github.com/meteor-typescript/met

[2015-10-31 06:23] dai-shi opened #806 "An issue in angular2 tutorial step3"
http://angular-meteor.com/tutorials/angular2/3-way-data-binding

The example does not work until we add the `main.ts` file because the server side collection is not loaded, probably.

[2015-10-31 09:14] netanelgilad commented on #262
Hey guys, has anyone tried putting their large files inside a clean meteor project and see if the problem still occurs? This may be a meteor issue and not angular-meteor...

[2015-10-31 09:18] juniobranco commented on #262
I have done it without angular-meteor and you are right seems to be an
issue with Meteor itself

On Sat, Oct 31, 2015, 17:14 Netanel Gilad <notifications@github.com> wrote:

[2015-10-31 11:37] Tallyb commented on #804
use incognito window

[2015-10-31 12:32] #762 closed

[2015-10-31 12:32] Urigo commented on #762
@zenonn37 please let us know if you found the bug

[2015-10-31 14:22] DAB0mB commented on #796
@daguangli I can't seem to reproduce this problem. There has been some few changes to angular meteor since you opened this issue, can you please check again?

[2015-10-31 15:18] iambrian7 commented on #804
thanks Tallyb

[2015-10-31 15:18] #804 closed

[2015-10-31 21:09] barbatus commented on #806
I guess the example means downloaded zip archive?
If yes then each link at the top point to the beginning of the current state, so doesn't contain code below.
If you want complete code go to the next step and download.

[2015-11-01 00:12] dai-shi commented on #806
No, I meant the tutorial itself. Sorry for the confusion.

I went through the tutorial carefully from the beginning without downloading the archive,
and at step 3 it didn't work as explained, specifically when inserting data from the console.

Has anyone experienced this before?

[2015-11-01 04:46] barbatus commented on #806
Ok, now I see. You are saying that it didn't work at Inserting Parties from the Console.
Yeah, i guess paragraph says to create main.ts and import collection should go before.

[2015-11-01 11:59] dai-shi commented on #806
Yeah, thanks for helping the clarification. At first, I tried to "improve the doc", and found out that it was not trivial. I would like someone to take part in it.

[2015-11-01 13:42] evanplaice opened #811 "Angular2 Documentation Errata - as of angular@2.0.0-alpha.45"
**Angular2 step .05**
 - `routerInjectables` has been changed to `ROUTER_PROVIDERS`
 - `routerDirectives` has been changed to `ROUTER_DIRECTIVES`
 - `bind` has been changed to `provide`
 - `@inject` is no longer used. The new `RouteData` and `RouteParams` were introduced
 - `HTML5LocationStrategy` has been changed to `PathLocationStrategy`

**Angular2 step .06**

- `@inject` is no longer used. The

[2015-11-01 13:55] pbastowski commented on #592
@jacobdr I have a TS version here https://github.com/pbastowski/meteor-angular-socially/tree/feature/step-17-ng2now-ts.

This version just uses the TS compiler (and SystemJS) instead of Babel, without any regard to type annotations. So, if you are after a full TS refactor then this is not it. Have a look. Let me know what you think.

[2015-11-01 14:03] evanplaice opened #812 "I18n Broken @ angular.meteorhub.org?"
For some reason, the first 5 Angular1 tutorials are rendering as Chinese.

![angular-meteor-chinese1](https://cloud.githubusercontent.com/assets/303159/10869236/0f17f7bc-805e-11e5-9d2d-ec09182fd6eb.png)

![angular-meteor-chinese2](https://cloud.githubusercontent.com/assets/303159/10869235/08ffff14-805e-11e5-9083-0ee125bf72ca.png)

I doubt this has anything to do with it but here's the Chrome conso

[2015-11-01 17:50] jargot opened #813 "Double curly braces never rendered, ng-bind always working"
I'm actually not sure if this is a straight up Angular problem or an Angular-Meteor one, but extensive Google-ing didn't help me at all, so I'm assuming it might be caused by this combination...

My problem is simple:

I want to use Angular expression rendering to generate URLs within an ng-repeat like so:

    <li ng-repeat="category in myCategories" class="nav-header">
        <a ng-href="/categ

[2015-11-01 21:22] daguangli commented on #796
One thing is worth to mention is I am still using insecure package in my app, that probably makes insert from client possible when you do pushing.
@DAB0mB I am using the latest 1.0.3 release.

[2015-11-01 21:53] otporsad commented on #689
Hello, i have meteor angular 1.0.3 package and still have a problem with update. I have a $meteor.object. Then i try to remove an array element with splice. When i do .save() error appears:
update failed: MongoError: Cannot update 'treatments.6' and 'treatments' at the same time. Meteor version is: 1.2.1.

[2015-11-01 23:55] Urigo commented on #812
haha, does anybody else gets that?

[2015-11-01 23:55] Urigo commented on #813
Are you using an `html` file instead of `.ng.html` file by chance?

[2015-11-01 23:59] pbastowski commented on #738
@jacobdr @Urigo have a look at this https://github.com/pbastowski/meteor-ionic-example/tree/feature/typescript. Clone it. Run it.

This shows how to use my typescript package without SystemJS, as a replacement for Babel / ecmascript.

Although, I'd recommend using it with SystemJS, as shown in this example https://github.com/pbastowski/meteor-angular-socially/tree/feature/step-17-ng2now-ts.

Let m

[2015-11-02 01:07] evanplaice commented on #812
It's really bizarre. If I use Google Translate it's perfectly valid English.

It reminds me of:
http://www.theonion.com/article/china-unable-recruit-hackers-fast-enough-keep-vuln-51719

[2015-11-02 09:45] jargot commented on #813
Yup. That nailed it.

Thank you very much :)

[2015-11-02 09:45] #813 closed

[2015-11-02 09:59] Urigo commented on #452
We've added the `strict-di` flag to the start of the tutorial so you will encounter it from the start.
I don't want to reference coffescript specifically, I think this is more general

[2015-11-02 10:01] Urigo commented on #490
The issue @alecperkey mentioned is fixed and you can check out how to work package based in the new tutorial here: http://angular-meteor.com/tutorials/angular1/mobile-support-and-packages-isolation

Let me know if you want to add more stuff to the chapter (or just pull request)

[2015-11-02 10:01] #490 closed

[2015-11-02 12:55] Urigo commented on #790
@JohnAReid are you sure it's an angular-meteor issue?

[2015-11-02 12:57] Urigo commented on #731
@cmddavid closing until you can provide a runnable reproduction.
thanks

[2015-11-02 12:57] #731 closed

[2015-11-02 12:58] #558 closed

[2015-11-02 13:00] Urigo commented on #374
We added a full tutorial step to show how to do it:
http://angular-meteor.com/tutorials/angular1/mobile-support-and-packages-isolation

[2015-11-02 13:00] #374 closed

[2015-11-02 13:22] JohnAReid commented on #790
I am totally not sure - as I cannot pin point the source of the error.
The error only appears with Meteor apps local host - and only when the app gets more complex - i.e. create a new meteor app and it is OK.

As I seem to be the only one to have reported this problem I will close this issue - it is most likey due to one of the packages I am using.

[2015-11-02 13:22] #790 closed

[2015-11-02 13:41] Urigo commented on #793
Fixed in 1.0.4

[2015-11-02 13:41] #793 closed

[2015-11-02 13:41] Urigo commented on #763
Fixed in 1.0.4

[2015-11-02 13:41] #763 closed

[2015-11-02 14:20] Urigo commented on #689
@otporsad can you please test it out with the new 1.0.4 version?

[2015-11-02 14:52] otporsad commented on #689
I did not have time for a detailed testing, but so far when i splice array item there is now a null instead of spliced element.
Something like this:
    [Item1, Item2,null,null,null]

[2015-11-02 18:07] ralphbert commented on #665
+1

[2015-11-02 18:36] wickY26 opened #817 "Angular Material Styles"
When I add angular-material to my angular-meteor project everything was fine. Then I need to put md-tabs component into my project then I realized the current order of styles are not correct for my project. I run same code with the examples and yes problem is not related with angular-material.

I am new to meteor so could not find a way to solve it any suggestions?

![wrong_css](https://cloud.gith

[2015-11-02 19:47] MilosStanic commented on #817
Hi,
I can confirm I have the same problem with active tab styling.
I didn't have a clue it would be about order of styles.
I can also report a problem with angular-material input box wrappers.
I have a gray artefact on md-input-container
![screenshot](http://s7.postimg.org/gl4kyp6ln/Screenshot_from_2015_11_02_17_14_36.png)

The html code is simple:
[code]
And the theming is also simple:
[code]
I'm

[2015-11-02 23:02] Urigo commented on #689
@otporsad this is strange, I've tested it again and it seems to work.
Can you share a repo with the problem?

[2015-11-03 02:20] scrapcupcake commented on #223
So, it sounds to me like this could most profitably be solved by just fixing the behavior of the server that meteor runs when you start it up; 404s should 404. Then angular will return the correct (or at least a much MORE correct) error when you've specified an incorrect templateUrl, rather than this very surprising (read: awful, very bad, no good user experience) behavior.

[2015-11-03 03:43] scrapcupcake opened #818 "Synchronous XMLHttpRequest on the main thread is deprecated + WARNING: Tried to load angular more than once"
Tried to create a super simple application but getting this issue. I've uploaded a repo here, which exhibits the issue:
https://github.com/scrapcupcake/angular-meteor-routing-issue

[2015-11-03 08:32] otporsad commented on #689
Hello, i made a new repo (I am new at this so i replicated, updated to 1.0.4 and adapted this repo: https://github.com/MarkPhillips7/angular-meteor-issue-793) to test this specific issue and now it works fine. Because of that i think my initial problem with null elements is caused by something else. Sorry for the confusion and thank you.

[2015-11-03 09:55] Urigo commented on #689
@otporsad so just to make sure - now it's working for you and there is no other problem?

[2015-11-03 11:25] otporsad commented on #689
Yes, so far I do not have any problems concerning splice() and save().

[2015-11-03 20:32] JohnAReid commented on #459
I am closing this issue as it is old and last comment last over a month ago!

[2015-11-03 20:32] #459 closed

[2015-11-03 20:51] ozsay commented on #817
There was a similar issue in angular-material that was fixed in a later version.
running 0.11.4 -> http://codepen.io/anon/pen/dYjQwx
latest version -> http://codepen.io/anon/pen/QjBJYM

It's probably it. what version on angular-material are you using?

[2015-11-03 21:56] MilosStanic commented on #817
I'm using 0.11.4, that's the latest packed for meteor (at least it was two days ago)

[2015-11-03 22:36] ozsay commented on #817
It's a bug that introduced in 0.11.4, so 0.11.3 is fine for that matter

[2015-11-04 16:29] Urigo commented on #756
Released in version 0.1.0

[2015-11-04 16:29] #756 closed

[2015-11-05 10:28] aceymer opened #822 "Step 8 not working"
I have followed your guide step by step and its awesome.
But at step 8 I do not get a dropdown on the login.
I cannot login/create account or anything.
I copied all your code and ran it but its still not working. I am not getting errors or anything.

Package list:
accounts-password             1.1.4  Password support for accounts
accounts-ui                   1.1.6  Simple templates to add login w

[2015-11-05 18:24] torayeff commented on #707
not sure why but when I include <blaze-template name="loginButtons"></blaze-template> and press it the dropdown does not show the login menu.  Instead {{> loginButtons}} just works fine. Maybe there is issue in meteor 1.2.1?

[2015-11-05 20:27] wickY26 commented on #817
@ozsay @MilosStanic yes it is issue in the 0.11.4 version of angular-material we still don't have latest version at atmosphere so better to run 0.11.3 or wait for new version.

[2015-11-05 20:27] #817 closed

[2015-11-05 22:40] Urigo commented on #822
there is a problem with the new `urigo:angular-blaze-template` version, can you try downgrading it to version `0.0.1` ?

[2015-11-05 23:30] aceymer commented on #822
Yes.. Will try it first thing tomorrow..

[2015-11-05 23:59] Urigo commented on #707
@torayeff it might be the new `urigo:angular-blaze-template` package version.
Try to downgrade to `0.0.1` for now and let me know if that helped

[2015-11-06 00:08] Urigo commented on #649
@jdmswong in the new 1.0.5 version does it still happening for you?

[2015-11-06 00:12] jdmswong commented on #649
Hi @Urigo I took your advice and used 1 way data binding.  I can't speak into whether this issue still occurs, but it is no longer a problem for me!

[2015-11-06 00:12] #649 closed

[2015-11-06 00:14] Urigo commented on #649
ohh I'm happy it's working for you.
In version 1.3 I'm going to loose 3 way data binding from the code as it's not a good practice

[2015-11-06 00:18] jdmswong commented on #649
since you're here @urigo I was wondering if you're committed to developing Angular Meteor in the long term, or does the project have an expiry date? thanks!

[2015-11-06 00:23] Urigo commented on #649
I'm committed for the long term.
It is obvious to me that the relevance and popularity of this solution is growing each day both for Angular 1.x and Angular 2.0

[2015-11-06 01:36] eveningkid opened #828 ""update failed: Access denied" using meteor object/collection"
Hey everyone,

I have been playing a bit with angular-meteor before and it worked all well. Today, I just updated Meteor using now the 1.2 version. After a few changes, an issue has unfortunately appeared... :disappointed:

Basically, I have one collection called `Videos` and I am trying to retrieve the whole collection on a page. This is what I had first: `update failed: Access denied`.

Using:
[

[2015-11-06 03:03] Tallyb commented on #649
@urigo what does loosing 3 way days binding means in practice?

On Fri, Nov 6, 2015, 02:23 Uri Goldshtein <notifications@github.com> wrote:

[2015-11-06 05:14] torayeff commented on #707
@Urigo yes the problem was with the new version. I downgraded and now it is fine. But after updating angular package (1.0.4 => 1.0.5) I started receiving this error in browser console:
```update failed: Access denied. In a restricted collection you can only update documents, not replace them. Use a Mongo update operator, such as '$set'.```

I am following angular-meteor tutorial, step 8.

[2015-11-06 06:43] CoreTea-Solution opened #829 "Failed to instantiate module angular-meteor"
I was trying to follow the tutorial and build app using ionic cli, but it does not work for me. I'm getting following errors:

[code]

I guess the 2nd error is result of 1st one, but I cannot figure out how to include ecmascript into the project

[2015-11-06 07:06] aceymer commented on #822
Yeah version 0.0.1 seems to work! Will test some more!

[2015-11-06 08:54] Urigo commented on #649
that it will be the same as sending `false` in the autobind flag always

[2015-11-06 08:58] MilosStanic commented on #817
Meanwhile I discovered that the artifact I was having with input fields was due to `md-default-theme` in one of the container divs.

[2015-11-06 10:14] dotansimha commented on #822
@aceymer you are right, 0.1.0 had a small bug that unattach the jquery element from it's data.
Fixed in 0.1.1, https://github.com/Urigo/angular-blaze-template/pull/3

[2015-11-06 12:14] wapacz opened #830 "autopublish is not working correctly with angular@1.0.5"
I was going through the tutorial: http://angular-meteor.com/tutorials/angular1/folder-structure
And noticed problem with Mongo and Collection - after adding document to database directly (CLI, RoboMongo) or with web app all document data are cleared - only _id lefts.

Somehow I was able to add angular@1.0.5 with: 'meteor add angular' command.
I've found that when I downgrade to angular to 1.0.4 ve

[2015-11-06 14:44] ThomsC opened #831 "Object $hashKey"
Hi,

I think I found a bug quite same as #299, if the object has an Object instead of an array this time it will give this error.

Exception while invoking method 'OperationAdd' Error: key $$hashKey must not start with '$'.

[2015-11-06 16:02] Urigo commented on #707
@torayeff can you share your code in a repo?

[2015-11-06 16:23] Urigo commented on #831
can you please share you code in a repo?

[2015-11-06 16:23] Urigo commented on #829
yes we need to send a new bower version with those dependencies, @idanwe is already on it

[2015-11-06 16:24] Urigo commented on #822
I've released the new version, @aceymer let me know if the problem persists.

[2015-11-06 16:24] #822 closed

[2015-11-06 16:36] CyrilSabbagh commented on #828
Have the same issue ! @Urigo need help :)

[2015-11-06 19:51] amor87 commented on #828
Im having the same issues, but after updating my project dependencies: here is listed what the meteor upgrade command changed:

accounts-base           upgraded from 1.2.1 to 1.2.2
accounts-oauth          upgraded from 1.1.7 to 1.1.8
accounts-password       upgraded from 1.1.3 to 1.1.4
autoupdate              upgraded from 1.2.3 to 1.2.4
check                   upgraded from 1.0.6 to 1.1.0
ddp-com

[2015-11-06 19:56] Urigo commented on #828
Can you please try `1.0.6`?

[2015-11-06 20:19] CyrilSabbagh commented on #828
works for me :) Thanks!

[2015-11-06 20:31] Urigo commented on #830
can you please try updating to `1.0.6`?

[2015-11-06 20:39] wapacz commented on #830
thanks, it's working fine with 1.0.6.
what causing problem?

[2015-11-06 20:46] eveningkid commented on #828
Works for me too. Is there any Meteor1.2-compatible fix planned soon?

By the way, if someone's having the same issue that we had, go into your `.meteor/versions` file, and edit the line regarding the `angular` package: `angular@1.0.6`. :smiley:

[2015-11-06 21:47] amor87 commented on #828
It worked great, thanks

[2015-11-07 03:54] torayeff commented on #707
Now everything is working for me with angular package 1.0.6 and urigo:angular-blaze-template package 0.1.1. Thanks.

[2015-11-07 05:30] aaronroberson commented on #828
@Urigo Can you please keep an eye on the gitter chat, this same problem was raised on Oct 29 but has gone unanswered and it cost me an entire day of development.

[2015-11-07 05:32] aaronroberson commented on #800
It is definitely a bug. See https://github.com/Urigo/angular-meteor/issues/828

[2015-11-07 06:46] CoreTea-Solution commented on #829
Ok thanks, i'm waiting for a new bower, i have look his repo but nonew update about that...

Thanks....

[2015-11-07 10:05] cyrus-za opened #840 "Feature: Progressive saving (such as Angular Breeze)"
If you check out this video (https://youtu.be/JLij19xbefI) at ng-conf 2014 where John Papa talks about Angular-Breeze and progressive saving, you will see why this is a great feature to add to the angular-meteor stack. Breeze traditionally works with C# .NET entities and has plugins for visual studio to directly talk between the server and the client, as opposed to using angular's $http or $resour

[2015-11-07 13:05] cantoine commented on #800
I updated my repo to use 1.0.6 and I'm still seeing the same behavior.

Thanks!
Chris

[2015-11-07 13:20] Urigo commented on #800
I think those are different bugs.
sorry for not responding, I saw this bug and hopefully will get to that soon.