[2015-11-07 13:21] Urigo commented on #828
@aaronroberson you are right, I haven't checked the gitter is a while.
I keep my eyes more on the forums.
I'll make sure to check that out more frequently.
So it looks like I can close this issue

[2015-11-07 13:21] #828 closed

[2015-11-07 13:38] cantoine commented on #800
@Urigo Not a problem, from my toying around it seems that the 'not using $set' error happens upon load but then after that it doesn't occur anymore so I think if the initial autosave issue is resolved it will take care of the other part, that is if I'm understanding the other issue correctly. If you need anything from me to help test or find the issue let me know.

Thanks!
Chris

[2015-11-07 13:39] Urigo commented on #840
Interesting.
I wonder if [GroundDB](https://github.com/GroundMeteor/db) can help you create something like that?

[2015-11-07 14:00] Urigo commented on #800
@cantoine if you could pull request a failing test for this scenario it will be the best thing ever

[2015-11-07 15:32] aaronroberson commented on #828
I would re-open it actually. The problem is not solved and is still occurring in 1.0.6.

[2015-11-07 15:42] Urigo commented on #828
@aaronroberson are you sure you are talking about the same issue everyone else in this thread are talking about?
or maybe it's the issue you linked?
can you share a reproduction?

[2015-11-07 18:51] triniwiz commented on #829
I'm getting the same error :( just started using meteor

[2015-11-07 19:40] aaronksaunders commented on #806
I still cannot get this code to work... even after downloading the code from the tutorial page... any guidance would be appreciated

[2015-11-08 00:23] MarkPhillips7 commented on #763
I actually just encountered this issue using 1.0.7. I noticed that the problem only sometimes occurs. I suspect that the problem is due to $unset and $pull updates being executed in parallel. If $unset executes before $pull it works (null entries are removed from the subarray), but if $pull executes first it has no null entries to remove since they have not been $unset yet.

[2015-11-08 01:27] MarkPhillips7 commented on #763
After further investigation my problem was actually caused by the same mongo error from #793. I'll add a comment over there.

[2015-11-08 01:28] #830 closed

[2015-11-08 01:29] Urigo commented on #830
I've added release notes to show the changes

[2015-11-08 01:38] MarkPhillips7 commented on #793
I have encountered this in 1.0.7. Here is mongo profiler output demonstrating the error:
[code]
It looks like it is not enough to issue a $pull update separate from $unset. I guess the $pull needs to be separated further if it includes a key contained within another key like how 'templates' is contained in 'templates.9.templateSettings'. So this $pull update needed to be broken into 2 $pull update

[2015-11-08 01:39] Urigo commented on #793
@MarkPhillips7 do you think you can make a failing test for that?
and then maybe pull request a fix???

[2015-11-08 04:27] MarkPhillips7 commented on #793
I spent some time trying to make a failing test but have been unsuccessful. Are there any test examples of capturing mongo exceptions or waiting for updates from mongo to confirm that data was not updated? I could create a test covering _updateParallel but don't know how to capture the end to end scenario.

[2015-11-08 21:38] DAB0mB commented on #763
@MarkPhillips7 It's wierd that the $pull operation is performed before the $unset operations, because we have a mongo modifer builder called `getUpdates` which takes to objects as arguments and finds the diffrences between them, and then it produces an update object out of it. Take a look at [this](https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/lib/get-updates.js#

[2015-11-08 21:40] DAB0mB commented on #763
Just to make it clear the update operations are performed parallely by their order in the `updates` object.

[2015-11-08 21:59] rosswaycaster commented on #829
Any update on this?

[2015-11-08 22:03] MarkPhillips7 commented on #763
@DAB0mB My suspicion was wrong. The $unset indeed was performed before the $pull. The real cause of my issue was that the $pull contained an array as well as an array nested within the first array,which caused a mongo exception. I added details at #793.

[2015-11-08 22:52] rosswaycaster commented on #829
Until this is fixed, I have a temporary solution at https://gist.github.com/rosswaycaster/9585844e03f99625507e

[2015-11-08 22:54] idanwe commented on #829
@rosswaycaster I work on a solution will be available soon when @Urigo will release 1.2

[2015-11-08 23:00] #829 closed

[2015-11-08 23:14] Urigo commented on #724
`angular@1.2.0` has been released

[2015-11-08 23:14] #724 closed

[2015-11-08 23:17] Urigo commented on #806
I've just deployed @barbatus recent changes, please let me know if it's working for you now

[2015-11-08 23:17] Urigo commented on #811
Please check out the new updated tutorial with @barbatus and let me know if it's working for you

[2015-11-08 23:18] Urigo commented on #752
@sebakerckhof I've just released `angular@1.2.0` with the new build process.
Let me know if that works for you

[2015-11-08 23:41] Urigo commented on #829
angular 1.2.0 has been released, let me know of that fixed your problem. thanks @idanwe

[2015-11-09 00:45] dai-shi commented on #806
Cool. Thanks! @barbatus @Urigo

[2015-11-09 00:45] #806 closed

[2015-11-09 02:01] cantoine commented on #800
@Urigo I attempted a failing test for this but I have to admit I'm not completely confident it's the correct way to go about testing this scenario so I apologize ahead of time if I screwed it up.

Take a look and let me know if that works, if it doesn't then if you could give me some guidance I'd appreciate it.

Thanks!
Chris

[2015-11-09 02:05] triniwiz commented on #829
works great on my end :)

[2015-11-09 02:10] MarkPhillips7 commented on #793
I updated https://github.com/MarkPhillips7/angular-meteor-issue-793 to demonstrate how issue still occurs.

[2015-11-09 07:07] CoreTea-Solution commented on #829
thanks, works great bro... ;)

but why data not save on server meteor,

i have create server meteor outside ionic project folder, works great but data not saved to my meteor server... :(

[2015-11-09 09:59] sebakerckhof commented on #752
Yeah, I was already using rc2 and no problems so far.

[2015-11-09 09:59] #752 closed

[2015-11-09 13:00] JohnAReid opened #846 "Tutorial - all in one page"
Would it be posible to add an extra link on the tutorial page which would show all the 23 pages of the tutorial in one mega page - it is just that I find it a pain in a neck when I am trying to locate some details and keep jumpng  back and forward  between pages. If all the pages were combined into one I could then use the find facitily to jump to the required section.

[2015-11-09 13:45] kimberger opened #847 "Angular 2 Step 3 app.ts status"
When following the tutorial the `app.ts` file is different to what the documentation is suggesting it should be at that stage.

[2015-11-09 13:58] vimes1984 opened #849 "Unable to load Angular templates in routes."
Ok I've just created a new meteor 1.2 app.
And I'm using a set up that worked before..
I've included my routes and templates like so :
[code]
But Iv'e noticed meteor is now loading my templates from /app and it's now ripping out the .html  and repfxing it with template.
this is a comparison between a older version and a newer version :
[code]
I can't seem to get the template to load in the route..

[2015-11-09 14:05] blntylmn commented on #849
same here just updated my project with meteor update command and getting this errors :

 While determining active plugins:
   error: conflict: two packages included in the app (pbastowski:angular-babel and ecmascript) are both trying to handle *.js
   error: conflict: two packages included in the app (templating and angular-templates) are both trying to handle *.html

[2015-11-09 14:07] vimes1984 commented on #849
yeah I got that aswell had to remove blaze html templates to get around it  :D

[2015-11-09 14:08] blntylmn commented on #849
if I remove ecmascript and blaze-html-templates everything works

[2015-11-09 14:09] vimes1984 commented on #849
yup same as me well bar the html template issue...

[2015-11-09 14:17] blntylmn commented on #849
blaze-template not working after update. Do you have this issue ?

[2015-11-09 14:18] vimes1984 commented on #849
we dont' need it : https://github.com/Urigo/angular-meteor/releases

[2015-11-09 14:19] vimes1984 commented on #849
Ok I think my template issue was from a template cache :dancer:

[2015-11-09 14:21] vimes1984 commented on #849
I have just run into the blaze-template issue .... It's not rendering my templates..

[2015-11-09 14:25] vimes1984 commented on #818
I just ran into this same issue:
you need to remove the .ng from the html file and the refernce to it then empyt your template cache :D

[2015-11-09 14:27] Urigo commented on #849
no need for `.ng.html` anymore, just regular `.html` will do the work

[2015-11-09 14:28] Urigo commented on #846
That's a nice idea, maybe you can pull request the site to create something like that?
shouldn't be too hard

[2015-11-09 14:28] blntylmn commented on #849
But we have to use blaze-template for meteor native templates ?

[2015-11-09 14:29] vimes1984 commented on #849
yup just read the release and figured it out :D
I think both me and @bintylmn are running into the same <blaze-template > issue which doesn't seem to want to work...

[2015-11-09 14:29] blntylmn commented on #849
It gives me an error starting with these lines :
ReferenceError: Template is not defined
    at link (http://localhost:3000/packages/urigo_angular-blaze-template.js?73310390455b784def963671fb677b5eaa30ee4d:34:11)
    at invokeLinkFn

[2015-11-09 14:32] vimes1984 commented on #849
I'm gettting:
Errors prevented startup:

While determining active plugins:
error: conflict: two packages included in the app (angular-templates and templating) are both trying to handle *.html

While determining active plugins:
error: conflict: two packages included in the app (angular-templates and templating) are both trying to handle *.html

Your application has errors. Waiting for file change.

[2015-11-09 14:32] Urigo commented on #849
what packages use `templating` ?

[2015-11-09 14:34] vimes1984 commented on #849
blaze-html-templates
which comes bundled with the latest release of meteor when you run meteor create.

[2015-11-09 14:36] vimes1984 commented on #849
and:
https://github.com/Urigo/angular-meteor/blob/master/packages/angular-templates/package.js

[2015-11-09 14:37] Urigo commented on #849
yes, with the new version you should remove both `blaze-html-templates ` and `ecmascript` : http://angular-meteor.com/tutorials/angular1/bootstrapping

[2015-11-09 14:39] vimes1984 commented on #849
the problem is if I remove that my blaze templates don't work...

[2015-11-09 14:40] Urigo commented on #849
ohh so you work with Blaze and Angular?

[2015-11-09 14:40] Urigo commented on #849
why?

[2015-11-09 14:40] vimes1984 commented on #849
yeah I do usually it's nice to have both...

[2015-11-09 14:42] vimes1984 commented on #849
some packages I use such as matthew:foundation5-sass use blaze templates generated by the package to initiate js in the files...
I also use Aldeed's autoforms which uses blaze templates to work aswell....

[2015-11-09 14:42] vimes1984 commented on #849
https://github.com/aldeed/meteor-autoform

[2015-11-09 14:45] Urigo commented on #849
we can acttually take the old build process and create a package out of it (for `.ng.js` and `.ng.html`)
it means to copy the same come and include the `angular-meteor-data` package.
want to give it a shot?

[2015-11-09 14:47] vimes1984 commented on #849
I'd love to take shoot, would that mean putting .ng back on all the angular files?
Would that allow us to use the <blaze-template name="top"></blaze-template> tag again?

[2015-11-09 14:47] Urigo commented on #849
you need to decide which engine you want to compile `html`

[2015-11-09 14:48] Urigo commented on #849
if you want that to be Blaze then yes, it will be exactly like previous versions

[2015-11-09 14:49] vimes1984 commented on #849
ok say I'd want to use a package like autoforms which requires blaze would I have to go down the .ng route?

[2015-11-09 14:49] Urigo commented on #849
yes

[2015-11-09 14:50] Urigo commented on #849
there is also this route - https://github.com/dotansimha/accounts-ui-angular  by @dotansimha
which is interesting to make it a general one

[2015-11-09 14:52] vimes1984 commented on #849
uuuu doesn't that render the new angular meteor version a little un compatible with a lot of the other meteor packages?
Isn't that forcing a splintering of the community the ones that use angular/meteor the ones that use blaze/meteor?

[2015-11-09 14:52] vimes1984 commented on #849
isn't dotansimha's approach what we had with < blaze-templates >

[2015-11-09 14:55] Urigo commented on #849
it's a bit different because it's rendering Blaze templates without adding the dependency on `templating`

[2015-11-09 14:56] vimes1984 commented on #849
I don't mind building a package using the old build process to use .ng and .html so people can choose.
Ahhhh but it uses blaze-html-templates which does depend on templating:
https://github.com/dotansimha/accounts-ui-angular/blob/master/package.js

[2015-11-09 15:01] Urigo commented on #849
I think it doesn't add the build process to it, can you test it?

[2015-11-09 15:01] vimes1984 commented on #849
sure

[2015-11-09 15:02] vimes1984 commented on #849
that doesn't add the templating to the buidl propcess...

[2015-11-09 15:04] vimes1984 commented on #849
I assume it's becuase it add's blaze-html-templates on the client only is that right?

[2015-11-09 15:23] blntylmn commented on #849
Ok I just renamed all file extensions to .ng.html to .html.
Over 600 files (dont do this me again :)
meteor update
meteor reset
everything works but blaze-template. it still says :

ReferenceError: Template is not defined
    at link (http://localhost:3000/packages/urigo_angular-blaze-template.js?73310390455b784def963671fb677b5eaa30ee4d:34:11)
    at invokeLinkFn (http://localhost:3000/packages/an

[2015-11-09 15:24] vimes1984 commented on #849
See the discussion above blaze-template is no longer supported in angular-meteor...

[2015-11-09 15:28] blntylmn commented on #849
So we have to leave the community packages advantage if we the decide go further :(

[2015-11-09 15:29] vimes1984 commented on #849
not to sure what you mean..

[2015-11-09 15:30] blntylmn commented on #849
I mean with blaze-template ---> urigo:angular-blaze-template directive not native blaze template of meteor

[2015-11-09 15:35] vimes1984 commented on #849
from what I've been reading and after talking to Urigo it seems like there has been a decision to move away from blaze so it's now blaze OR angular's templating (@urigo please correct me if I'm wrong) which renders quite a few atmosphere packages useless...
urigo:angular-blaze-template requires blaze to be installed something that the latest 1.2 release of meteor angular doesn't support...

[2015-11-09 15:43] blntylmn commented on #849
Ok if I not misunderstand we need to make our own packages for angular meteor if we need some third party packages which is renders with blaze.  So if I want to use fullcalendar what is the correct way ?

[2015-11-09 15:50] Urigo commented on #849
I will make sure to add a package that support the old build process very soon.
In the meantime, you can keep using `1.0.7`.
that way you can choose what way you want to use.

About choosing, if you need Blaze templates just because of login buttons, you can use `dotansimha:accounts-ui-angular` instead - https://github.com/dotansimha/accounts-ui-angular

[2015-11-09 16:09] vimes1984 commented on #849
for anybody finding this uirgo is suggesting to do this:
meteor remove angular
meteor add angular@=1.07
then changing the files back to ng.html/ng.js

[2015-11-09 16:10] vimes1984 commented on #849
@urigo I'll take a crack at the package to support the old build version tomorrow if thats ok with you?

[2015-11-09 16:45] Urigo commented on #849
sounds good

[2015-11-09 16:45] Urigo commented on #849
thank you for that

[2015-11-09 20:06] DAB0mB commented on #763
@MarkPhillips7 can you please try this version: https://github.com/DAB0mB/angular-meteor/tree/v1.0.x
and tell me if it works for you? Make sure you use branch v1.0.x

[2015-11-09 22:27] Urigo commented on #849
OK, I've released `angular-with-blaze@1.2.0` that replace `angular` in case you want to use the old build process like before and use blaze templates like before.
I've updated the `<blaze-template>` example so you can see (just updated the packages, the code stayed the same:
https://github.com/Urigo/angular-meteor/tree/master/examples/blaze-template

Thanks @dotansimha for the help

[2015-11-09 22:27] #849 closed

[2015-11-09 22:32] Urigo commented on #818
You should remove `blaze-html-templates` and `ecmascript` and change all `.ng.html` to `html`.
or instead, if you want to keep using `.ng.html` and keep using Blaze as the HTML parser, just replace the `angular` package with the `angular-with-blaze` package.

[2015-11-09 22:32] #818 closed

[2015-11-10 00:27] Urigo commented on #829
@CoreTea-Solution can you share a repo with your problem?

[2015-11-10 00:49] Urigo commented on #847
Merged and deployed
thank you @kimberger

[2015-11-10 00:49] #847 closed

[2015-11-10 00:53] vimes1984 commented on #849
christ that was quick....

[2015-11-10 00:53] vimes1984 commented on #849
didn't have a chance to take a a crack at iit maybe next time :D

[2015-11-10 01:28] CoreTea-Solution commented on #829
I did not change anything from your repository, I just run and build android application, before I build, I change the ip and port that I use for the file meteor meteor-runtime.confige.js

[code]

this my local ip address

when I want to start a new chat with the user who previously had done a chat, a new chat that does not fit into the same chat room but create a new chat room with the same user

[2015-11-10 03:45] thuanmaster opened #851 "Meteor template on angular-meteor@1.2.0?"
After upgrade angular to 1.2.0 i can't use `{{> sAlert}}` in `index.html`. I tried write directive like `dotansimha:accounts-ui-angular` but `Blade is not defined`. How can i use template from package `https://github.com/juliancwirko/meteor-s-alert` in `index.html`?

[2015-11-10 04:24] triniwiz opened #852 "How to use collectionFS in a no Meteor app's frontend?"
Trying to set up an ionic app using the ionic cli method and I noticed i can setup a regular collection in any of the js files and it would work
[code]
then from anywhere in the app use the collection
[code]
If i try using collectionFS like in most of the examples
[code]
I'm getting this error

FS is not defined

[2015-11-10 05:13] Acostan commented on #849
Thanks for this.... I've been stuck trying to get a template to render from a package.  Whats the correct way to reference the ng.html file in the package based on this is my file structure.
[code]

Here's the contents to routes.ng.js:
[code]

Currently, its not finding this path '/packages/meteor-package/views/index.ng.html', which yields this error:

"Synchronous XMLHttpRequest on the main threa

[2015-11-10 07:49] burock opened #853 "Conflict: two packages included in the app (pbastowski:angular-babel and ecmascript)"
Hi,
After upgrading recently to 2.1 i now have the below error ( I also tried removing ecmascript with angular@1.2.0-rc.5 but did not help):
[[[[[ ~/Meteor/super ]]]]]

=> Started proxy.
=> Started MongoDB.
=> Errors prevented startup:

   While determining active plugins:
   error: conflict: two packages included in the app (pbastowski:angular-babel
   and ecmascript) are both trying to handle *.

[2015-11-10 08:12] davidfsmith commented on #853
Updated meteor yesterday and I'm getting the same issue (with an added in HTML fail for good measure)

This was after completing Step 7 - Folder Structure.

[code]

So I ran the following which appears to have resolved the issue

[code]

Running ````meteor list```` now outputs the following:

[code]

Hope this helps.

[2015-11-10 08:20] mbeaudru opened #854 "$meteor.collectionFS with progress event"
Hi,

Simple quesrion, is there a way to render a progress bar using $meteor.collectionFS when doing a save operation ?

Thank you !

[2015-11-10 08:39] burock commented on #853
I tried that, too.  Unfortunately then it crashes with below errors:

====
Babel compiling files:
  server/publishers.js
W20151110-10:37:35.649(2)? (STDERR)
W20151110-10:37:35.650(2)? (STDERR) /home/burak/.meteor/packages/meteor-tool/.1.1.10.pax6pr++os.linux.x86_64+web.browser+web.cordova/mt-os.linux.x86_64/dev_bundle/server-lib/node_modules/fibers/future.js:245
W20151110-10:37:35.650(2)? (STDERR)

[2015-11-10 10:10] Urigo commented on #738
@pbastowski awesome!

[2015-11-10 10:10] #738 closed

[2015-11-10 10:10] Urigo commented on #592
@pbastowski amazing

[2015-11-10 10:10] #592 closed

[2015-11-10 10:30] burock commented on #853
Interesting.. After a couple of hours of tries I moved my "super/lib/app.ng.js" file from there to under "super/client/app.ng.js" it started to work.
for all that bumps into.. why, though, i dunno..
cheers,
b

[2015-11-10 10:33] Urigo commented on #849
what packages and versions are you using?

[2015-11-10 10:43] blntylmn opened #855 "angular-meteor@1.2.0 cannot find SOME paths"
after upgrade to 1.2.0 I get this error only on some paths:
WARNING: Tried to load angular more than once.
Error: only one instance of babel/polyfill is allowed
    at Object.eval (eval at <anonymous>
forexample
this is WORKING
ng-include src="'client/views/companies/accidents/new/menu.html'"
this is not WORKING
ng-include src="'client/views/companies/almost/new/menu.html'"
the content of menu.htm

[2015-11-10 10:44] burock commented on #853
I somehow changed my app.js module initiator location from "super/lib/app.js" to under "super/client/lib/app.js" and it worked...
I dunno why though..

[2015-11-10 10:45] #853 closed

[2015-11-10 10:46] Urigo commented on #851
If you want to use Blaze templates, replace the `angular` package with the `angular-with-blaze` package:
https://github.com/Urigo/angular-meteor/issues/849#issuecomment-155218952

[2015-11-10 10:46] #851 closed

[2015-11-10 10:47] Urigo commented on #855
maybe one of the files is still `ng.html`?

[2015-11-10 10:50] blntylmn commented on #855
No I double checked everything..
changed every .ng.html to .html..
removed blaze-heml-templates and ecmascript..
reset meteor..
create new project and move files to that..
none of them figure it out..

[2015-11-10 10:51] Urigo commented on #855
hmmm can you share your repo?

[2015-11-10 10:54] blntylmn commented on #855
how can I share it.. is it okey to share with meteor deploy ?

[2015-11-10 10:54] Urigo commented on #855
I mean the code itself

[2015-11-10 10:54] blntylmn commented on #855
oh you mean on github..

[2015-11-10 10:56] Urigo commented on #855
yes

[2015-11-10 11:17] blntylmn commented on #855
Ok here it is
 https://github.com/blntylmn/share-with-urigo

[2015-11-10 11:27] blntylmn commented on #855
Forexample
These routes working .
 http://localhost:3000/company
 http://localhost:3000/accidents
These not :
 http://localhost:3000/new-accident
 http://localhost:3000/edit-accident

[2015-11-10 11:47] blntylmn commented on #855
any progress ?

[2015-11-10 11:48] blntylmn commented on #855
btw everything was working before update 1.2.0

[2015-11-10 13:49] MarkPhillips7 commented on #763
@DAB0mB Branch v1.0.x did 6 the issue for me. Thanks!

[2015-11-10 14:00] blntylmn commented on #855
did you find anything ?

[2015-11-10 14:30] adriangordon1231 commented on #855
@blntylmn lol. Give the man some time.

[2015-11-10 15:27] Deadly0 opened #856 "Information about release 1.2"
Hi, where can I find information about 1.2 release?

[2015-11-10 15:42] Deadly0 commented on #852
@triniwiz, did you install CoffectionFS package? https://atmospherejs.com/cfs/standard-packages

[2015-11-10 16:56] Acostan commented on #849
meteor-base             # Packages every Meteor app needs to have
mobile-experience       # Packages for a great mobile UX
mongo                   # The database Meteor supports right now
blaze-html-templates    # Compile .html files into Meteor Blaze views
session                 # Client-side reactive dictionary for your app
jquery                  # Helpful client-side library
tracker

[2015-11-10 17:27] triniwiz commented on #852
yes it installed on the server but i'm trying to access it from a non meteor app

[2015-11-10 21:16] evanplaice commented on #811
@Urigo @barbatus Did a read-through of the changes and everything looks good to me.

If I get some time, maybe I can try creating the sample app following the updated directions.

[2015-11-10 21:26] DAB0mB commented on #800
@cantoine can you please try this version: https://github.com/DAB0mB/angular-meteor/tree/v1.0.x
and tell me if it works for you? Make sure you use branch v1.0.x

[2015-11-10 21:28] evanplaice commented on #812
Wait, is angular.meteorhub.org associated with angular-meteor.com? If not, I think I stumble on a half-assed clone of the official site.

Looks like it came from: https://github.com/MeteorHub/meteor-doc-cn

[2015-11-10 21:57] Urigo commented on #849
ohh now I see what you are trying to do.
First, you don't need to include the packages in your client folder as well.
second, the paths links are like so: 'author_packagename_path/to/file.js'  (in the old build process which you are using because of `angular-with-data`
Here is a related issue for more information: https://github.com/Urigo/angular-meteor/issues/752
it can be nice if someone can pul

[2015-11-10 22:06] Urigo commented on #763
Released in `angular@1.0.8` and will soon be release in `angular@1.2.1`

[2015-11-10 22:22] Urigo commented on #811
great, closing

[2015-11-10 22:22] #811 closed

[2015-11-10 22:23] Urigo commented on #812
ok, closing here, if you want you can reopen there

[2015-11-10 22:23] #812 closed

[2015-11-10 22:28] Urigo commented on #856
Good question.
I'm planning to release a blog post in Meteor very soon.
until then, I think the main changes are in the first chapter of the tutorial and in chapter 8

[2015-11-10 22:52] Urigo commented on #855
Hi sorry I haven't had the time to look on it yet...
Would love some help from others as well to take a pick on that

[2015-11-10 23:13] blntylmn commented on #855
Somehow it looks like a kind of cache problem but I couldn't figure it out. When I change the entire content of html file it works fine !

[2015-11-10 23:35] cantoine commented on #800
1.2.1 solves the issue, thanks for all the help @Urigo @DAB0mB

[2015-11-10 23:35] #800 closed

[2015-11-11 02:22] Acostan commented on #849
Hey @Urigo I've posted the project files here:

[https://github.com/Acostan/test-angular-meteor] (https://github.com/Acostan/test-angular-meteor)

I tried to change the path to 'test_package_packages/test-package/lib/index.ng.html', but no success. I'm sure I'm doing something wrong. Please advise. Thanks in advance!

[2015-11-11 12:58] blntylmn commented on #855
I have make small changes in every html template then it worked normally. I think there is a strange caching problem..

[2015-11-11 16:07] benderunit opened #859 "TypeError: Cannot read property 'then' of undefined at Scope.$scope.save"
With the latest version of angular-meteor (1.2.1) I can't use calling save().then(...).

I get an error message in the console:

[code]
I've tried to use the classic save and cancel buttons like in step 6 of the tutorial
http://angular-meteor.com/tutorials/angular1/bind-one-object

[2015-11-11 16:21] edoardo849 opened #860 "Angular 2.0 tutorial step 5.7 missing code"
Hello, just noticed that in this step

http://angular-meteor.com/tutorials/angular2/routing-and-multiple-views

at the point 5.7

instead of
[code]

should be

[code]

I think it's an error because later on you mention "Notice also that we've added one line template:".

Ciao

[2015-11-11 16:45] Urigo commented on #856
Here it is: http://info.meteor.com/blog/angular-meteor-1.2.0

[2015-11-11 16:45] #856 closed

[2015-11-11 16:47] amadeus-m commented on #859
I have same issue. I guess the keyword 'return' in the file /packages/angular-meteor-data/modules/angular-meteor-object.js line 62 is not necessary

[2015-11-11 17:28] edoardo849 opened #861 "Tutorial angular2 step 7 is missing"
Cannot find the seventh step "Folder Structure": the page has the text of the previously visited page:

http://angular-meteor.com/tutorials/angular2/folder-structure

[2015-11-12 08:24] abcd-ca commented on #223
saw in the official angular package changelog that we could now ditch `.ng.html` in favour of simply, `.html`. At first I was getting the error, "Tried to load angular more than once.". Like artitw, I had forgotten to rename my template paths to match the new name change. This fixed it, not obvious but might help someone so I'm mentioning it.

[2015-11-12 09:27] Urigo commented on #223
http://info.meteor.com/blog/angular-meteor-1.2.0

[2015-11-12 09:38] Tallyb commented on #223
I did not try it but .ng.html should be a valid file name for any build process, doesn't it?

[2015-11-12 09:48] abcd-ca commented on #223
@Tallyb I didn't mean to confuse the issue but .ng.html should work fine, it's just no longer necessary to distinguish between angular and blaze templates.

[2015-11-12 12:19] Urigo commented on #855
cool, sorry I haven't had time to look on it myself

[2015-11-12 12:19] #855 closed

[2015-11-12 13:00] isibz commented on #859
I have the same issue

[2015-11-12 13:18] cyrus-za commented on #855
Hi, I had the same problem. It would work in one directory but then moving the file to a deeper directory it doesn't work (even with the router config updated). changing the actual html template content fixes is. So it's definitely some cache issue.

[2015-11-12 13:33] El4a commented on #223
We just searched for a solution for over an hour, in my situation :
1) it wasn't bower related
2) the route path was correct
3) I did not forget .html or had no typos
4) adding .ng didn't help

The issue was that the views weren't wrapped in a div. So changing :
<p> My content </p>

to :

<div>
<p>My content <:p>
</div>

completely solved everything. Is this Angular's intention or a bug? Afterall,

[2015-11-12 15:44] martinoosthuizen commented on #48
Hi @mmuenster. You're probably not working on this issue any more, but for anyone else, I'm pretty sure the source of your problem is the scope of your angular app. For example if your ng-app is defined on the <body> tag, the injector on the document element will be undefined. You can use a selector like $('body') for example to get a handle on the injector within the scope of your angular app. Ho

[2015-11-12 16:05] #859 closed

[2015-11-12 16:07] Urigo commented on #859
Released in 1.2.2 , thanks @DAB0mB

[2015-11-12 18:47] snowping opened #865 "Reference FS.File directly to an object"
Dear community,

I am a beginner with meteor and angular meteor, but it has been a pleasure to work with so far. So maybe my following issue is an obvious one. When I try to reference a FS.File directly to a property of an object as I read in the API documentation here: https://github.com/CollectionFS/Meteor-CollectionFS, I get an error saying ""TypeError: Cannot convert undefined or null to objec

[2015-11-12 20:43] danimbrogno commented on #433
I'm struggling with the same concept. An example of how to properly implement reactive variables within an angular service and then access them via a controller would be very helpful. I'm not quite following what you are suggesting @netanelgilad. Any help would be appreciated.

[2015-11-12 20:48] Neftedollar commented on #854
as I know ypu should use this:
[code]

[2015-11-13 03:41] canac opened #867 "Reactive function in $meteor.object"
Is there a technical reason why `$meteor.object` does not support a reactive function as the first parameter? If not, it would be useful in my application if it did, and it would make `$meteor.object` consistent with `$meteor.collection`. Right now I am having to do something like this:

[code]

It would be a lot cleaner if I could simply do this:

[code]

Thanks for all the time and effort you ha

[2015-11-13 05:08] maartenbusstra opened #868 "renamed all files to .html but templateUrl still requires .ng.html suffix"
Updated to the new way of naming the files for the build system to pick up on the templates. But, whenever I try to rename the `templateUrl`s it doesn't work. (Angular tried to load more than once, etc.) :(

[2015-11-13 05:11] maartenbusstra commented on #868
Oh, I just edited one of those renamed files and now it works. I guess it's a caching issue.

[2015-11-13 05:14] triniwiz opened #869 "Cannot convert undefined or null to object at keys"
[code]

[code]

So i'm trying to load the user's profile image once they visit their setting page it works but i get the error below i even tried to set another image while the profile image is still loading and loading the collection before the view :cry:

[code]

[2015-11-13 07:47] lance-anderson commented on #849
I've updated the <blaze-template> example so you can see (just updated the packages, the code stayed the same:
https://github.com/Urigo/angular-meteor/tree/master/examples/blaze-template

@Urigo THANK YOU. This is wonderful. It seems like the crutch I need to transition from Blaze to Angular (wanting to leverage angular-ionic... love the WhatsApp demo!).

I'm wondering if there are any drawbacks o

[2015-11-13 12:41] Neftedollar commented on #869
i've catch same error.

but, when i do this, there is no error:
[code]

[2015-11-13 13:36] dagatsoin commented on #855
I have also this problem with all my ng-include
[code]
However the included templates are rendered in the browser. I can't get what is going wrong.

[2015-11-13 13:40] dagatsoin opened #870 "ng-include causes `Error: only one instance of babel/polyfill is allowed`"
Since upgrade to 1.2 and passed ng.html/js to .html/js all my ng-include directive cause this error.
[code]
However the included templates are rendered in the browser. I can't get what is going wrong. I tried the workaround [here](https://github.com/Urigo/angular-meteor/issues/855#issuecomment-155777199)

[2015-11-13 18:57] steltz opened #872 "AngularMeteor Tutorial"
I'm interested in AngularMeteor and was going through the tutorial and I keep getting this error when I install the Angular package:

It appears the packages are fighting with each other. Did I do something wrong? I followed all the instructions in the tutorial.

Thanks

--Nic

[2015-11-13 19:25] steltz commented on #872
Found this...

https://github.com/Urigo/angular-meteor/issues/849

It appears the tutorial is out of date.

[2015-11-13 19:46] dotansimha commented on #849
Hi @vimes1984 ,
Just answer a question related to this, please read my comment here:
https://forums.meteor.com/t/meteor-angular-tutorial-step-9-2-adding-user-accounts/10260/16?u=dotansimha

[2015-11-13 19:49] dotansimha commented on #872
It's in the tutorial - step 0, in the "Adding Angular 1" step:
http://angular-meteor.com/tutorials/angular1/bootstrapping

[2015-11-13 19:52] dotansimha commented on #870
Hi @dagatsoin,
Usualy all the errors and warning the related to multiple loading of packages is related to the way that Meteor handles 404 pages.
If you try to load an HTML that does not exists, you will get 404 and Meteor will give you the main page instead of error.

I think in this case you changed the file names to `.html` instead of `.ng.html` and you did not change it in the routes defintion

[2015-11-13 19:55] #872 closed

[2015-11-13 19:56] dotansimha commented on #868
@maartenbusstra
Next time you can also try to `meteor reset` in your project root.

[2015-11-13 20:00] canac commented on #870
@dagatsoin, I am having the same problem with `angular-meteor` version 1.2.2. Based on my limited understanding, it seems that two different plugins are trying to load babel/polyfill. I think that one of them is `angular-meteor` (or one of its dependencies) and the other is `ecmascript` (or one of its dependencies). I removed the `ecmascript` package from my project, but it still appears in `.mete

[2015-11-13 20:00] #868 closed

[2015-11-13 20:04] dotansimha commented on #870
@canac - can you also share you project's code?

[2015-11-13 20:23] canac commented on #870
@dotansimha, here you go: https://github.com/canac/meteor-test. Obviously, that is not my real my application, just a stripped down example with just enough code to reproduce the error. Thanks for looking at it!

[2015-11-13 20:56] dotansimha commented on #870
Thanks @canac.

It is just as I described in my previous comment.
You want to include your file `template.html` inside your `index.html`, so you used:
[code]

But Meteor compiler saves each template on it's own path, ignoring the `index.html` location, so the actual code should be:
[code]

So when you try to load `template.html`, you actually get 404 which leads to the main page in Meteor so you g

[2015-11-13 21:10] canac commented on #870
@dotansimha, thank you so much for looking at my code. Unfortunately, the change you suggested did not work for me. Did it work for you with my code? I pushed it to the [client branch](https://github.com/canac/meteor-test/tree/client) of my repo if you want to check that I made the change that you meant.

By the way, I did not mention this at first, but I am also getting the `WARNING: Tried to loa

[2015-11-13 21:36] dotansimha commented on #870
@canac - Yes, the AngularJS warning is related, it also loaded twice.

Just `git clone`ed your project again and it works for me, this is the result:
<img width="545" alt="screen shot 2015-11-13 at 23 33 27" src="https://cloud.githubusercontent.com/assets/3680083/11158158/f4718792-8a5e-11e5-97b8-83e099a43ed1.png">

Please try to `meteor reset` and then run your project again, also make sure you br

[2015-11-13 21:43] benlegault opened #873 "Extending LoginServices"
Hi, I'm new to meteor and...angular-meteor.  I have a package that was created to use a login service others that the default ones.  It's working fine under Meteor, using blaze and default features of Meteor but...how would I go about making this working with angular-meteor?  Let's say that I wish to login with a third party? Is there a way to extend the default ones?  Thank you people for your gr

[2015-11-13 21:52] canac commented on #870
@dotansimha The `meteor reset` worked for me! Thank you so much for your help! Does running that command solve your problem as well, @dagatsoin?

[2015-11-13 23:55] triniwiz commented on #869
I've updated my code to use a directive
[code]
Now i only see this error
[code]

[2015-11-14 00:16] Acostan commented on #849
I got it working finally using this path:
templateUrl: '/packages/test_package/lib/index.ng.html'
Apparently, "-" dashes get replaces with "_" underscores!

[2015-11-14 02:14] triniwiz commented on #865
if your still using the autopublish package you should be able to do something like this

[code]
and in the template get the image with
[code]

[2015-11-14 02:27] maartenbusstra commented on #868
@dotansimha I ended up just removing the build files, but the shortcut is nice.

[2015-11-14 15:39] p3r4f089 commented on #873
check this http://angular-meteor.com/tutorials/angular1/user-accounts-authentication-and-permissions

[2015-11-14 16:21] dagatsoin commented on #870
`meteor reset` did not work for me. So I clean up the `.meteor/packages` and manually remove `ecmascript` and `accounts-ui`
It works fine now.

[2015-11-14 16:21] #870 closed

[2015-11-14 21:17] kunalkamble commented on #223
@Urigo I am having issue with angular meteor app, I am just following steps from your demo socially app.
`WARNING: Tried to load angular more than once.`
I am not sure whats going on, after adding `ui.router` it started happening.

[2015-11-15 03:32] mixersoft opened #874 "Tutorial - step 4, settings not loaded unless TWILIO.SID is non-null"
`Accounts._options.adminPhoneNumbers` is only loaded if `Meteor.settings.TWILIO.SID` is not null. The tutorial doesn't work with the `settings.json` provided

[code]

[2015-11-15 11:13] doronsever commented on #853
I still have this issue even though my app.js is sitting under client/lib/app.js

[2015-11-15 11:21] doronsever commented on #853
Ok, i had to remove and it worked

`meteor remove blaze-html-templates
meteor remove ecmascript`

But `meteor remove blaze-html-templates` is important and should not be removed... any way to workaround this?

[2015-11-15 15:39] Urigo commented on #849
@Acostan can you have a look at the docs and pull request the best place to add documentation about that?

[2015-11-15 15:49] vimes1984 opened #875 "When using $meteor Object fails on save if selector isn't the _id"
when using:
[code]
when it's modified and saved angular-meteor-collection.js line 127:
[code]
gets passed the customvalue NOT the _id which casues mongo to fail with:
[code]
Chris

[2015-11-15 15:53] vimes1984 commented on #875
the work around I found was to first find it then use th id of the found collection to use as the updater:
[code]

[2015-11-15 18:27] MilosStanic opened #876 "logout route/function crashes server"
Hi guys, my app is crashing on `$meteor.logout()`, like in the socially example, here:
[code]
The server crashes on `return $meteor.logout()...` after the console log message in previous line gets printed, then the server restarts, and then it enters the `.then()` branch, and prints the `logged out` to console, and finishes `$state` change.

The error I'm getting when the server crashes is:

[code

[2015-11-15 23:47] MilosStanic commented on #394
Any sample on how to manage roles in angular-meteor app?
I need to create an admin user, and restrict some routes only to admin. How do I do that? Do I have to install some of Meteor's router packages?

[2015-11-16 00:26] vimes1984 commented on #394
Hey @MilosStanic I tend to use the amazing https://github.com/alanning/meteor-roles package
to set up a Admin role
Then I use:
[code]

[2015-11-16 08:34] MilosStanic commented on #394
Thanks again @vimes1984 , got it on Gitter.

[2015-11-16 12:05] master-7 opened #877 "Tutorial is broken"
Page not work http://angular-meteor.com/tutorials/angular1/mobile-support-and-packages-isolation

[2015-11-16 17:10] mgrivera opened #878 "debugging souce maps"
Hi all,

I upgraded angular package to new 1.2 and, as advised in the meteor blog post, remove default ecmascript package, because now angular itself uses babel to transpile javascript code.

My question is:

When debugging, I can see the transpiled code in the debugger and not my original javascript code. Why? Evidently, there is something I'm missing here but, what?

I can see the check-marks fo

[2015-11-16 17:18] batjko opened #879 "Step 5, Router not routing properly"
Hi there,
I have updated my Meteor project to 1.2.1, and started yesterday with this tutorial.
Everything seems to be fine, until Step 5 where I am getting our good old friend the "Tried to load Angular more than once" error, which I understand often happens if the router can't find the template:
![image](https://cloud.githubusercontent.com/assets/7287076/11189044/c57888ae-8c85-11e5-8a37-7c95c8b95

[2015-11-16 20:33] sferoze opened #882 "Angular Meteor development inside a package"
@Urigo Hi urigo,

I want to follow up on your answer to my stack overflow question here: http://stackoverflow.com/questions/33399744/meteor-ionic-angular-app-inside-a-package-how-do-you-link-to-the-template/33475179#33475179

This solution works great for keeping the Angular templates clean (our original solution involved wrapping templates in `<body>` and `<script>` tags, adding them as files and

[2015-11-16 21:47] sferoze commented on #882
Actually we found out that the issue was google chrome caching the templates it seems.

We fixed this issue by going into the chrome dev tools settings and checking the box `Disable cache (while DevTools is open)`

Now the hot code push seems to work each time. Gonna keep testing and will confirm later.

[2015-11-17 06:00] snowping commented on #865
Thanks for your answer, I thought there is another way to get the actual image without going through the images collection.

[2015-11-17 08:59] batjko commented on #879
(sorry, I referred to the wrong step. I meant step 5 in the tutorial. That's corrected above now.)

[2015-11-17 09:04] batjko commented on #879
I tried to change my controllers to use the old array notation for DI (I hadn't before):
i.e.:
[code]

But that just complains even louder:
![image](https://cloud.githubusercontent.com/assets/7287076/11206960/351c0d28-8d0a-11e5-9702-fa9576d305f2.png)

[2015-11-17 16:13] robwatkin commented on #855
The work around didn't work for me either. In desperation I did

    $ rm -rf my_project/.meteor/local
    $ meteor

and that seems to have fixed it.

[2015-11-17 21:27] Urigo commented on #879
can you share your repo?

[2015-11-17 22:09] batjko commented on #879
Ok, I'll put it on Github tomorrow if I can.

[2015-11-17 23:30] HasanKeyf commented on #879
Yep, after upgrading to newest meteor-angular, in my app routing is not working anymore,  to make sure I also download and extract the zip files from your tutorial and found same issue(I did not change anything in it  but just did not work too). I tried newngrouter , it seems fine so far  . but ui-router  has some issue , could not get templates. I also tried to include templates in directives tha

[2015-11-18 09:51] batjko commented on #879
Yea that does sound like there's a genuine issue here, rather than something with our own projects/repos.

[2015-11-18 12:00] stevenlivz commented on #223
I also get this on a brand new Meteor + Meteor-Ionic app (using code that was working fine before). Tried upgrading an existing code base as well as creating a new one.

If I do not call my file .ng then it tries to load angular twice and also the message "only one instance of babel/polyfill is allowed" appears. Using .ng files fixes it immediately. Everything is at their latest versions and I hav

[2015-11-18 15:18] mgrivera commented on #878
Hi, well nobody is answering here ... but I'm going to ask again:

Can I expect the use of source-maps when debugging client (mainly) and server javascript code via Google Chrome? As I said before, I'm removed ecmascript default package when upgraded to angular 1.2.

Any ideas?

Thanks and bye ...

[2015-11-18 15:44] kunalkamble commented on #223
@stevenlivz I had same issue with my angular-meteor app,
could you please share `.meteor/packages` file content?
for me it was lodash library, it was injecting angular.

[2015-11-18 19:30] cesargalindo commented on #861
You can select if from the Tutorials drop-down menu at
http://angular-meteor.com/tutorials/angular2

for now...

[2015-11-18 19:34] cesargalindo commented on #877
You can access it from the Tutorial drop-down menu at
 http://angular-meteor.com/tutorials/angular1

for now...

[2015-11-19 12:57] Urigo commented on #877
It should work now, please let me know if it doesn't

[2015-11-19 12:57] #877 closed

[2015-11-19 13:44] master-7 commented on #877
Now tutorial is works. Thanks

[2015-11-19 17:40] EvilJohnny opened #886 "After update to Meteor 1.2 getting WARNING: Tried to load angular more than once, just for one template"
Ok, I know this is weird, and I don't even know under what exact circumstances this is happening. I'll try to explain the best I can.

So  I have a module with a ui-router $state defined like this:

[code]

This was working perfectly ok, but after upgrading to Meteor 1.2, when going to this 'manager.events.newevent', I get the following errors:

[code]

So for me, the ```WARNING: Tried to load ang

[2015-11-19 18:14] stevenlivz commented on #223
@kunalkamble Yep. Here it is. I added bower as well but I was getting this issue before that. Still getting it but changing to x.ng.y makes it work ok.

# Meteor packages used by this project, one per line.
# Check this file (and the other files in this directory) into your repository.
#
# 'meteor add' and 'meteor remove' will edit this file for you,
# but you can also edit it by hand.

meteor-bas

[2015-11-19 23:27] MilosStanic opened #887 "Pagination -- subscription not updating within $meteor.autorun()"
I made an app with almost identical example to angular-meteor-socially for pagination.
However, it doesn't work.
When I clone angular-meteor-socially and run it on my local machine it works
When I copy the search-pagination example code from socially to my app, it doesn't work.

Here's the relevant snippets:

[code]

And here's the server part:

[code]

You can see the whole app in a repo:
https:/

[2015-11-20 00:01] MilosStanic commented on #887
btw, the app won't run unless you first clone a small package to your /packages dir
so cd to /packages and run
`git clone https://github.com/rclai/meteor-lodash-replace-underscore.git`
Then create an user, and make it admin by editing the /server/roles.js and replacing the two _id fields with your newly created user's _id.
Then when you login as admin, you'll see ADMIN in top bar on the right. Cli

[2015-11-20 00:19] MilosStanic commented on #886
I'm getting it too....

[2015-11-20 05:11] torayeff commented on #707
Hi @Urigo . For this:
[code]

If I provide templateUrl: 'client/parties/views/parties-list.html', I receive this error:
```WARNING: Tried to load angular more than once.```

My repo is here https://github.com/torayeff/angular-meteor-bootstrap

[2015-11-20 09:02] Acostan commented on #849
Sure @Urigo what branch should I compare it to? Are you referring to these docs (https://github.com/Urigo/angular-meteor)?

[2015-11-20 11:11] sebakerckhof opened #888 "Caching problem with renamed and duplicate templates"
What I've done: renamed template `institutes.ng.html` to `choose.ng.html` and created a new `institutes.ng.html`

Angular complains the template can't be found and I find this in the source code:
[code]

As you can see, this template is still put in the angular template cache with the old name. (template.choose.ng.js  <-> /packages/barco:admin/client/institutes/view/institutes.ng.html )

Might be

[2015-11-20 11:33] MilosStanic commented on #886
Definitely a problem with not recognizing location of templates.
In my case, it was a strange problem. In one of the templates i had `<a href="/login">login</a>`, and when I changed `href` to `ui-sref="login"` it worked.

[2015-11-20 11:35] MilosStanic commented on #888
Definitely caching compiler issue. I've seen terribly weird behaviour on changing files extensions. I almost gave up. Is there a quick fix to force emptying cache? `meteor clean` or something?

[2015-11-20 11:50] sebakerckhof commented on #888
Okay, I think I have a solution.
What appears to happen is that the caching compiler in angular-meteor extends from `CachingHtmlCompiler` which has the following code:
[code]

If you rename a file, the cache key doesn't change. A solution would be to use both the filename and the source hash as cache key.

I can make a PR but I don't know if this should be done in the `NgCachingHtmlCompiler` here

[2015-11-20 11:59] Urigo commented on #849
Yes, on the `docs` directory there is the source code for the angular-meteor.com site

[2015-11-20 12:01] mxab commented on #888
you can try to ```rm -rf .meteor/local/plugin-cache```

[2015-11-20 12:02] MilosStanic commented on #888
We will have to wait for @Urigo to comment. But I guess this is a good find.

[2015-11-20 12:15] sebakerckhof commented on #888
I figured it made sense to fix this in meteor core, since other compilers might also need this.

[2015-11-20 12:35] sebakerckhof commented on #888
I created the PR here, since changing this in meteor core would trigger cache invalidations that are not always necessary for people not using angular-meteor.

[2015-11-20 12:42] thecodinghouse commented on #886
I am having the same issue. I have two applications. It is working for one but not for another.
I checked the templates cached in below folder structure for the app which is working but there are not template cache files for the app which is not working.
* .meteor
   * local
     * build
        * program
           * web.browser
              * app
                 * client
                    *

[2015-11-20 16:07] brendanscarano opened #890 "Directive 'vm' conflict"
I'm working on a single page application in Meteor/Angular where I have two directives in my index.html on my global scope. I am using controllerAs: 'vm' for both directives and it seems that they are overwriting one another.

[code]

[code]

I am placing both directives within my index.html
[code]

When I run meteor and open my localhost I expect to see:
testing date time component
testing weathe

[2015-11-20 20:00] jakerad1979 commented on #886
Same here

[2015-11-20 21:04] MilosStanic commented on #887
If I change the code by stopping subscription on each autorun, I get for a moment a glimpse of correct results, but then subscription resets to only the logged in user.

Here's how I stop subscription:

[code]
Any ideas? Please help!!!

[2015-11-20 21:31] MilosStanic commented on #887
I figured out, using `msavin:mongol` that when I turn off all subscriptions in the controller, I'm still subscribed to `users` and the subscription contains only one document -- the currently logged in user. I can't find that I ever subscribed to it. Is it something angular-meteor does automatically? I'm betting this subscription is messing with my pagination and autorun.

[2015-11-20 21:32] canac commented on #688
I am running to this issue as well. Is there any chance of the change suggested by @dtruel getting implemented?

[2015-11-20 21:57] mgrivera commented on #205
Hi,

this is my bower.json file:
[code]
Even if I stated that angular should not be downloaded, it was. I saw the message from bower when running my meteor app:

*bower: angular v1.4.8 successfully installed*

I can see it was downloaded at: *myApp/.meteor/local/bower/angular* directory.

The message: *Tried to load angular more than once* is now gone because, I think, angular (from bower) is not

[2015-11-20 23:52] Namek commented on #205
@mgrivera why do you even care? `.meteor/local` shouldn't be in your repo anyway.

But if you're asking I've done a small research. That may be a bug of bower itself: https://github.com/bower/bower/pull/1394 But by looking at https://github.com/mquandalle/meteor-bower/blob/master/package.js it seems there's bower `1.5.2` while the feature landed in `1.6.2` (look at the last comment in issue 1394).

[2015-11-21 07:51] EvilJohnny commented on #888
I was hoping that was some kind of cache problem, but I think is not the case, at least for #886

I just did what @mxab suggested, and I have the exactly same results. I also created a new fresh Meteor 1.2 proyect, copied over de code, installed needed packages, etc... and once again, the same result :cry:

[2015-11-21 08:08] EvilJohnny commented on #886
Just commenting what I already said in #888 about template caching, that I think the problem is not there.
I created a new Meteor 1.2 fresh project, copied over the code and installed the needed packages, and de result was exactly the same.

I am wondering if there is some way of maintaining Meteor 1.1 way of parsing templates, while using the new angular package. Just as a workaround until we don

[2015-11-21 10:22] mgrivera commented on #205
@Namek Wow, thanks for your comments on this issue, they are much appreciated. I already thought that if angular was not there, ui-grid was going to complain about it and produce loading errors because, in the end, maybe it was going to load first than angular from *angular package* and was going to expect angular being there. So, I'm going to just let angular (from *bower*) be there and forget th

[2015-11-21 11:26] westor21 commented on #888
Currently I have the problem, if I just change one character in my template, I also get the message: "Tryed to load angular more then ones". I noticed in the network panel a full index page load under the name of the template instead of just the template.

[2015-11-21 17:30] jeff10278 commented on #223
@El4a: You are correct, not wrapping in div is the cause of this error.. Anyone have a clue why that is?

[2015-11-21 18:45] MilosStanic commented on #887
Don't know what I did... I removed some other things from my controller, and now the search filter works, but pagination doesn't work yet.
Will see how things turn out.

[2015-11-21 19:34] JefferE commented on #18
Why has this been closed - is it done and I just can't find it? Still struggling to find angular-meteor testing information.

[2015-11-21 20:24] faraazc opened #892 "since minimongo is in-memory data store.It has limitations on mobile device.solution?"
is there any way to make minimongo or any alternate solution to make it persistent.
Something like websql?

Actually my datasets are very huge possibly it may more than 10GB..how to handle?

[2015-11-21 22:53] MilosStanic commented on #890
You shouldn't name controller aliases the same for both controllers, or any two controllers for that matter. As you properly concluded, now you have one single `vm` variable in the global scope, and whichever is declared last overwrites the `vm` variable.

You may have been confused by following instructions on page http://www.angular-meteor.com/api/getReactively

Where it gives example of naming

[2015-11-21 22:58] MilosStanic commented on #887
There's definitely some lurking subscription to `users` and it kills the joy of pagination and search.
Is it possible that listing of users can't be done due to some internal restriction in angular-meteor? @Urigo please help!

[2015-11-22 02:16] longxuanho opened #893 "Can not access to angular-meteor.com"
Recently I can't access to angular-meteor.com. It looks like the website went down. Can you tell me the reason? Thank.

[2015-11-22 13:10] Urigo commented on #887
angular-meteor doesn't subscribe to anything without you explicitly asking it..
maybe you have an unclosed subscription on another controller?

[2015-11-22 14:40] brendanscarano commented on #890
This makes sense - Thank you for the help. I'm going to refactor my controllers taking this into consideration.

[2015-11-22 14:48] mxab commented on #890
I assume you don't want to access the global controller from inside your directive, therefore you should isolate the scope of your directive so you can also both name 'vm'.

To isolate use
[code]
if you don't put the scope attribute there it will have access to outer scope which usually is more dangerous then helpful

[2015-11-22 16:27] MilosStanic commented on #890
@mxab true, I totally overlooked that.

[2015-11-22 20:53] max2mx commented on #689
Encountered the same problem but with updating to the latest version it's resolved now.

[2015-11-22 21:19] sebakerckhof commented on #886
You guys should take a look in the javascript files to see what templates are being put in the template cache. You should see blocks of code similar to:

[code]

Maybe the file does get processed and included, but with a wrong filename.
There might be more issues than only the caching issue for renamed files.

[2015-11-22 21:24] ghiscoding commented on #886
I was wondering if I was the only one having this problem and found this open issue... As it's mentioned earlier, this seems to be happening since latest 1.2 version.

**Here is what worked for me:**
Instead of using `templateUrl: 'client/parties/views/parties-list.html'`, I completely remove the path and just kept the template name `parties-list.html` and it worked!

[2015-11-23 07:49] EvilJohnny commented on #886
Hhmmm.. interesting @sebakerckhof

In my case, the "template cache file", which is named **template.newevent.ng.js** it is in fact storing a different template! This is the content of the file:

[code]

So it is storing the template **client/manager/events/editevent/editevent.ng.html**, which of course is not the one I need :stuck_out_tongue:

[2015-11-23 08:03] EvilJohnny commented on #886
OK, I think I know what the problem is! (At least in my case :stuck_out_tongue: )

So the two templates in conflict in my case **editevent.ng.html** and **newevent.ng.html** have something in common. Well, they have everything in common, except the name: the content of the file is the same. (This is because some TODOs and that the directive used there behaves different depending on the $stateParam

[2015-11-23 08:29] sebakerckhof commented on #886
@EvilJohnny Then it's the same issue as: https://github.com/Urigo/angular-meteor/issues/888

It's because the caching only looks at the source code to generate the cache key. Should be fixed with this PR: https://github.com/Urigo/angular-meteor/pull/889

[2015-11-23 10:49] EvilJohnny commented on #886
@sebakerckhof You are right!

Sounds good to me :smiley:

[2015-11-23 13:39] MilosStanic commented on #887
Dear @Urigo , et al.

I have solved the main problem. It was stupid as usual. I sent an extra parameter to limit fileds returned from document to `Meteor.users.find()` together and before the `options` parameter, coming from Angular. It was the `{fields: {username: 1, emails: 1, profile: 1}}`. So I removed that from params on server, and put it into subscription function on client, together with `

[2015-11-23 14:52] mxab commented on #887
@MilosStanic calling stop on an meteor object has nothing todo with the subscription http://www.angular-meteor.com/api/AngularMeteorObject

[2015-11-23 15:03] mxab commented on #887
Just as a side note, I think it is actually not possible to model a correct paging mechanism with meteor publish/subscribe as long as you cannot enforce only a single subscription of collection. For a correct paging you might should consider a more classical "request a page via a method call"

[2015-11-23 15:20] MilosStanic commented on #887
@mxab okay. I know it hasn't anything to do with a subscription, however, without stopping the meteor object, it doesn't work. And I explained how it behaves. I wish someone could explain why this happens.

Pagination works as it is. And it works fine, so far. At least as far as I can see.

Feel free to look at my source code at the link from the first post.

Thank you very much.

[2015-11-23 16:59] sebakerckhof commented on #892
Some thinks to consider:
-Even webSQL doesn't allow very large databases (and it's deprecated).
-Other local storage solutions are also limited to a couple of tens of megs.
-Do you really need all of that data on the client at all time?
-Minimongo doesn't support indexes, so queries would be unacceptable slow anyway.
-Even on desktop, sending 10GB to the client will crash the browser.

So there's

[2015-11-23 19:04] #882 closed

[2015-11-23 19:50] Mklueh commented on #879
Same problem. No routing anymore, and no errors

[2015-11-24 06:07] pavanputhra opened #895 "Browser hangs with loading spinner infinitely spinning"
This issue is specific to version 1.2.2 of angular-meteor release.

When I try to open the app in browser (chrome) whole app freezes and chrome loading icon will be infinitely loading.

As chrome loading icon was shown, I thought chrome may be trying to load some resource without success. When I checked network tab, I saw chrome was unable to load following resource.

[code]
Only way I could able

[2015-11-24 11:27] mxab commented on #890
@brendanscarano can you close this issue? I think it is really unrelated to the meteor angular project

[2015-11-24 12:44] brendanscarano commented on #890
@mxab sure, I'll close it! Thank you guys for the help

[2015-11-24 12:47] mxab commented on #895
What happens if you open the url in a seperate tab?

[2015-11-24 13:00] brendanscarano commented on #890
Hey Max,

I'm having some trouble closing the issue in GitHub. I've never done this
before and from my understanding I need to make a commit such as, "Close
#890", or a pull request to close the issue. I'm confused because I can't
seem to push any commits from my terminal, and I'm not sure what branch to
compare to master to make a pull request in.

I would appreciate any information!

Thanks,
Bre

[2015-11-24 15:57] pavanputhra commented on #895
@mxab I reinstalled angular 1.2.2, so that I can test as you specified. Surprisingly it's working now! It's strange! I will close this bug for now.

[2015-11-24 15:57] #895 closed

[2015-11-24 16:04] mxab commented on #890
Don't you see a close button at the end of this issue?

[2015-11-24 16:09] #890 closed

[2015-11-24 16:09] brendanscarano commented on #890
Well I was certainly making that much more complicated that it had to be!
Thanks for the help - it's closed now

On Tue, Nov 24, 2015 at 11:05 AM, Max Bruchmann <notifications@github.com>
wrote:

[2015-11-24 21:08] ajblk opened #896 "Windows OS - Folder Restructuring - pops WARNING: Tried to load angular more than once."
In [step 7 - angular-meteor Tutorial (Folder structure)](http://www.angular-meteor.com/tutorials/socially/angular1/folder-structure)

When using Windows 7 machine to build, i get error in Javascript Console

`Error: only one instance of babel/polyfill is allowed
[2]</<@http://localhost:3000/packages/jquery.js?1015953f785c9b76503e2ecb391507dce965f357 line 365 > eval:2963:1
[2]<@http://localhost:300

[2015-11-24 21:14] ajblk commented on #896
Initial build won't give me any ouput but if i make some tiny html changes to the templates in views folder then it builds and output correctly

[2015-11-24 22:24] MilosStanic commented on #896
It's a template caching problem, see #886 and #888

[2015-11-25 17:51] JeremyShubert commented on #870
@dotansimha I had the same issue, after correcting my routes files I was still receiving the error and warning regarding loading Angular twice...meteor reset worked for me!  Thanks so much

[2015-11-26 06:46] jessonjoy opened #897 "Data not loading reactively from backedn"
Hi,

I am not able to reactively see my collections changed whenever the data in the backend mongo remote server is modified. It works one way - from device to server but not the other way. What could be wrong?

[code]

[code]

Thanks

JJ

[2015-11-26 09:26] JackyXiong commented on #870
I had the same error with my code. And `meteor reset`  is works for me. But I am confused about this.  @dotansimha Can you describe it? Thanks.

[2015-11-26 10:09] hazboun commented on #223
I faced the same and while debugging I noticed that the injection to $templateCache used old paths even after moving the files!

***/.meteor/local/build/programs/web.browser/app/client/parties/views/template.parties-list.js***
[code]

Isn't suppose to re-inject/re-build? am I missing something here?

[2015-11-26 10:28] hazboun commented on #223
I see my issue also reported here [#888] (https://github.com/Urigo/angular-meteor/issues/888)

[2015-11-26 16:56] dotansimha commented on #870
@JackyXiong - `meteor reset` just resets your project. It also clears your entire data from the Mongo, so actually I think that `meteor rebuild` might solve the problem aswell without removing the data.

[2015-11-26 20:49] mgrivera commented on #878
Hi all,

when building my project, I have errors if a add this file (to root folder):
[code]
with name **.babelrc** or **babel.json**.

So I have to remove the file for everything to function properly; off course no source maps are generated or generated correctly, so that chrome can show my original javascript code (ie: es6) when debugging.

I think I'm close to fixing this issue; however, I can'

[2015-11-26 21:50] mgrivera commented on #878
Hi all,

1. I created a new meteor project, no angular. It includes *ecmascript package* by default. When debugging client code, source maps work; you can see your es6 code in the browser. Perfect!

2. In my original project (with angular-meteor 1.2.2):
    * **server code:** *map files* (ie: .js.map) are added for each js file. *sourceMappingURL directive* added at the end of transpiled code. How

[2015-11-27 02:31] JackyXiong commented on #870
@dotansimha Thank you.But there is no command named `meteor rebuild`.In your opinion, is `meteor rebuild` means `meteor build` again？

[2015-11-27 02:35] louisrli opened #898 "Improve this doc link broken"
To replicate:
1. Go to http://www.angular-meteor.com/tutorials/socially/angular1/routing-and-multiple-views
2. Try to improve the doc in top right corner

[2015-11-27 08:36] Tallyb commented on #887
@MilosStanic  any luck?

[2015-11-27 08:39] Tallyb commented on #897
A wild guess will be that user is moved or not properly updated hence the record is not going to the client. Is the data updated locally and just not displayed, or not returning to the client at all?
[tip: I have learned about this development time `msavin:mongol` package for viewing local client data, but did not try it myself yet.]

[2015-11-27 08:54] mxab commented on #897
What exactly do you mean by see that is reactively modified, can you maybe explain "how you look at the data" and how you modify it?

[2015-11-27 11:03] MilosStanic commented on #887
No, I've given up... I'll do as @mxab says, I'll do some alternative pagination methods. I mean, the pagination works, it's just I'm totally unable to filter out the current user from each page. I could hack it, but that's not a solution.
However, now I'm facing some problems with uploading images and getting their urls immediately after upload. I'll open a new issue about that.

[2015-11-27 13:00] mrtruko opened #899 "Edit String inside Array makes a refres on view using autoClientSave"
Im having a problem with arrays and autoClientSave, everytime someone edits something inside an array there is a refresh in the table and you lose focus of the input you were editing and its almost imposible to write with autoClientSave on true, with autoClientSave on false everything works fine.
i have something like this, In this case its imposible to edit description with autoClientSave on true

[2015-11-27 20:38] jessonjoy commented on #897
@mxab : So if i modify an item in the list, it updates that document on my local mini mongo and on my remote mongo server - which is what i mean by reactive updates. However, the reverse doesn't work; whenever the data in the backend mongo remote server is modified, I cannot see the change happening on the client without refreshing or resubscribing. I imagined that this 3 way binding should work w

[2015-11-27 20:57] dotansimha commented on #870
@JackyXiong I meant `meteor rebuild`, it does not documented in the Meteor docs, be it exists, just try :)
You can find a discussion about this issue here: https://github.com/meteor/meteor/issues/5328

[2015-11-27 22:53] braginteractive opened #900 "Step 8 - Folder Structure Fix"
Step 3 & 4 should be server.js instead of app.js if you are following the tutorials.

Also at the end of the tutorial you should probably have people run 'meteor rebuild', I was getting the following error: Error: only one instance of babel/polyfill is allowed

I found the solution here: https://github.com/Urigo/angular-meteor/issues/870

[2015-11-27 22:59] mxab commented on #897
Hmm strange as far as I know this should work, do you stop the subscription by any chance? Can you show how you modify the document front/back and how you display it?

[2015-11-27 23:18] jacobdr commented on #899
You probably should provide way more context if you are expecting a thoughtful and helpful response. 

With that said, it sounds like you should probably denounce the input (i.e. Don't update on every key press but after a certain amount of time after the initial input focus) or use a package that has an intermediate edit box that has a submit function, and only update the meteor collection of int

[2015-11-28 03:25] mrtruko commented on #899
Well im working on a school proyect and tried to make an online quiz app where more than 1 teacher could add questions and edit a quiz at the same time but every time someone makes an small change to an element inside an object array on the exam all the elements inside the ng-repeat rerenders for all teachers connected to the same quiz so its imposible to write a full sentence since it will rerend

[2015-11-28 12:33] marcianosr commented on #849
Hmm still could not get it to work... I installed `angular-with-blaze@1.2.0` and tried the example from the angular docs, but still no succes. Getting the error `Uncaught ReferenceError: Template is not defined`. Running the newest meteo version. Have I missed something?

[2015-11-28 12:48] #888 closed

[2015-11-28 15:54] carlosbaraza commented on #900
:+1:

Indeed, this have cause me an hour headache!

Thank you @braginteractive !

[2015-11-28 17:27] Urigo commented on #888
Released in 1.2.3

[2015-11-28 20:46] wormyy commented on #223
I have just spent a good amount of time on this. Simple `meteor reset` solved the problem. Probably some cache issues.

[2015-11-28 22:43] dagatsoin opened #902 "modularize an app cause [$injector:nomod] errors due to folder strcture"
My main app uses two modules: core and dashboard. Here are the declaration:

**client/lib/app.js**:
[code]
**client/shared/core.module.js**
[code]
**client/dashboard/dashboard.module.js**
[code]
**client/map/map.module.js**
[code]
**client/widgets/widgets.module.js**
[code]

At loading I have errors:

[code]

I think it is due to the load order of Meteor. It seems to not fit at all with Angular re

[2015-11-29 12:52] pinalbhatt commented on #870
I was also getting similar error after step-7(Folder structure) of the angular-meteor tutorial (http://www.angular-meteor.com/tutorials/socially/angular1/folder-structure)  And was fixed after meteor rebuild command.

[2015-11-29 15:48] EntraideCommunityGitHubManager commented on #665
+1

[2015-11-29 18:33] matthieuh opened #903 "Can't insert using collection2"
When using aldeed:collection2 i got this error: "When the modifier option is true, validation object must have at least one operator" when i try to add object.

[code]

[code]

[2015-11-29 18:36] #903 closed

[2015-11-29 18:37] matthieuh opened #904 "Can't insert using collection2"
When using aldeed:collection2 i got this error: "When the modifier option is true, validation object must have at least one operator" when i try to add object.

[code]

[code]

This is a angular-meteor problem or mine ?

Thanks for help

[2015-11-29 20:51] MilosStanic commented on #665
+1

[2015-11-29 22:05] MilosStanic opened #905 "CollectionFS doesn't resolve object fully after saving to collection"
Additionally to problems with saving files to CollectionFS firing $digest on url() calls, as described in other issues, it appears it is so, because the saved object doesn't fully resolve upon saving to CollectionFS.

Namely, immediately after saving like so:

[code]
returns `null` or `undefined`. If I log the whole object to the console, it collects everything needed, including the `url` function

[2015-11-29 22:06] dagatsoin commented on #870
Indeed it seems appears each time we move a bunch of files into another folder.

[2015-11-30 07:52] EvilJohnny commented on #886
Fixed in 1.2.3

[2015-11-30 07:52] #886 closed

[2015-11-30 09:53] shantanubhadoria commented on #905
I see you have a long list of issues, and to avoid duplication I will put my issue here as well since its possibly a duplicate.
I am not able to retrieve a file saved using gridFS example in angular-meteor tutorial.

i.e. when I use image.url() in my angular template to get the url for the uploaded image and it gives me a file not found error.
I can see a record for the file that I upload when I d

[2015-11-30 10:23] MilosStanic commented on #905
@shantanubhadoria
Using `image.url()` in your template in ng-repeat will give you a digest loop, until `image.url()` resolves, and only then it will display the image after successfully retrieving the image's url. If you use only one `image.url()` it will probably try and fail on first digest, and you will not get the image. At least I suspect so.
To fix that, try assigning a scope variable to you

[2015-11-30 12:11] vasanthns commented on #791
Hi,

I am getting the exact same error while trying $meteor.loginWithFacebook()

[code]

[2015-11-30 18:06] DrDanRyan commented on #370
I think I can provide more insight on this issue. I am using angular-meteor 1.2.3 and formly 7.3.4. If I try to use an AngularMeteorObject obtained with `$scope.$meteorObject` as a formly model, I get a ton of errors that are kicked off by:
`Error: [ng:cpws] Can't copy! Making copies of Window or Scope instances is not supported.`

However, if I use `$meteor.object` to create the object, I do not

[2015-12-01 01:19] estaub commented on #370
@DrDanRyan Yes, IIRC it blew up trying to copy the scope.  However, I'd check the object returned by $meteor.object to see everything that's being copied.  While it may work, I think I recall that there was also a huge chunk of mongo that got copied with every object, making it take many times more space and time than it should.

[2015-12-01 03:02] shantanubhadoria commented on #905
@MilosStanic
Thanks for the suggestion.
How do you resolve the situation if its a array of images in a ng-repeat loop?

[2015-12-01 04:38] gentunian commented on #849
Having the same issue, `Template is not defined`

[2015-12-01 04:39] gentunian commented on #849
having the same issue, `Template is not defined`

[code]

[2015-12-01 04:46] lance-anderson commented on #849
@gentunian @marcianosr I had a bit of trouble resolving that issue myself. I found the [blaze-template](https://github.com/Urigo/angular-meteor/tree/master/examples/blaze-template) example in this repo _very_ helpful. I recommend cloning this repo, navigating to the ```examples/blaze-template``` folder and run ```meteor run```. It's likely a working example of what you're looking for. From there y

[2015-12-01 07:55] boomfly commented on #893
+

[2015-12-01 08:03] #893 closed

[2015-12-01 09:46] MilosStanic commented on #905
@shantanubhadoria
let's assume you have your documents in a collection `$scope.imgDocuments` then, you would do in your controller:
[code]
and in your html view:

[code]

[2015-12-01 09:52] JackyXiong commented on #870
If you run `meteor rebuild`, but still get the error in some page.Check your template path is right again.

[2015-12-01 12:46] quanganh206 commented on #840
A day with it. I think that would help.

https://github.com/quanganh206/anguar-meteor-offline-contacts

[2015-12-01 15:01] gentunian commented on #849
@lance-anderson thanks for the reply and hints. Anyway, shouldn't the object `Template` be availble at global scope despite that all html files?

[2015-12-01 15:45] dagatsoin commented on #902
I managed to load the app.map module by renaming it 0-map.module.js
Is there an other way, it is a bit crappy.

[2015-12-01 15:52] jacobdr commented on #849
I also had some difficulties here, but by installing all of the below
packages I got things to work well together:

   - angular-with-blaze
   - blaze-html-templates
   - urigo:angular-blaze-template

On Tue, Dec 1, 2015 at 10:01 AM, Sebastian <notifications@github.com> wrote:

[2015-12-01 17:30] gentunian commented on #849
@jacobdr  so you don't have angular installed and your are using blaze for parsing .html files.

`blaze-html-templates` (because of `templating` conflicts with `angular` as far as I know.

[2015-12-01 17:42] gentunian commented on #849
Ok to avoid confusion and to be helpful to anyone that was as confused as I was.

My confusion: have `angular`, `angular-with-blaze` and `urigo:angular-blaze-templates` installed and `blaze-html-template` removed (as the first post)

It turns out that I needed to remove `angular` and have `urigo:angular-blaze-template`, `blaze-html-templates` and `angular-with-blaze` installed as @jacobdr says.

A

[2015-12-01 19:16] gentunian commented on #849
Interesting... maybe this is not the place but I will share what leads me to use blaze templates with angular.

Performance. Using blaze `{{#each item}}` to populated an `ion-list` is way faster that using `ng-repeat="item in collection"`. I guess that is because the binding between angular and `$meteorCollection`.

When I said way faster I meant: There's no apparent difference while using a web b

[2015-12-01 19:20] jacobdr commented on #849
Interesting to hear. Are you emulating or is that a native build running on
device?

@urigo do we have any benchmarks of angular vs angular2 vs blaze
performance?

On Tue, Dec 1, 2015 at 2:16 PM, Sebastian <notifications@github.com> wrote:

[2015-12-01 20:37] gentunian commented on #849
In the web app only. Accesing the web app vía mobile browser (e.g. opening chrome to `http://myip:3000`)

I've tried to reproduce this in a simple repo: https://github.com/gentunian/gevo-angular which is basically the tool I'm just playing with.

I used 180 items in a collection to note the difference in the browser from PC. It's notorious at sight with that quantity. The quantity is just for test

[2015-12-01 21:27] luisreyes commented on #223
I had a one character typo in the ng-include path... which after correcting fixed my issue.

[2015-12-02 08:15] dinesh36 commented on #791
+1 @piotrraczynski

[2015-12-02 17:04] mikepc commented on #18
I gave up on this issue months ago, went with a standard MEAN solution
since I already know how to test that. It's obvious the community isn't too
keen on testing, which wouldn't be a good fit for my company's platform.

On Saturday, November 21, 2015, Jeff Leigh <notifications@github.com> wrote:

[2015-12-03 11:26] MilosStanic commented on #905
Dear all, especially @dotansimha @netanelgilad , to demonstrate the issue,
I have created a clone of the simple collectionfs-thumbnail example here:
https://github.com/MilosStanic/angular-meteor-collectionfs

It only prints to console the returned object after saving image to collection, and demonstrates that the `url()` function returns `null`. However, in the template, the very same function is

[2015-12-03 19:18] jmwierzbicki commented on #887
I have issue with angular-meteor, i'm trying to make use of $scope.count = $meteor.object(Counts, 'numberOfItems', false) with autorun, this object seems to be reactive, because i can see how its updating with {{count.count}} however i would like to do some logic whenever this value change, and i literaly can't force it to init autorun - Can anyone tell me how to achieve such task?

[2015-12-03 21:34] MilosStanic commented on #887
@jmwierzbicki
I'm not sure I understood, but you can watch for changes of `$scope.count` with `$scope.$watch` like this:
[code]

[2015-12-03 21:56] carlosbaraza opened #908 "Broken "Socially > Angular 1 > Ionic" route"
Hi @Urigo,

Just let you know that the Angular 1 route for Ionic is broken: `http://www.angular-meteor.com/tutorials/socially/angular1/ionic`.

Cheers,
Carlos.

[2015-12-04 08:24] MilosStanic commented on #902
Why do you have two `app.dashboard` modules declared in two files `client/map/map.module.js` and `client/dashboard/dashboard.module.js` ?

[2015-12-04 13:15] JohnAReid opened #910 "Can I still use .ng.js for java script files?"
I know that version 1.2 did away with the need to the .ng. requirement in the java script files - but I was just wondering if I could still use this - as I find it a very quick way of knowing if I am working on a server or client java script file.

[2015-12-04 13:31] kamilkisiela commented on #910
Yes, of course. You can name your files whatever you want.

"ng.[extension]" suffix was the way to identify which files needed to be compiled.

[2015-12-04 13:35] sebakerckhof opened #911 "Angular-material package out of date"
The official meteor package for angular material ( angular:angular-material, https://atmospherejs.com/angular/angular-material ) is faulty.
Version 1.0.0-rc6 exists, but if you inspect the code in the package it's actually the code of 1.0.0-rc4

[2015-12-04 13:37] sebakerckhof commented on #911
Same for 1.0.0-rc5!

[2015-12-04 13:52] mxab commented on #911
I have a look

[2015-12-04 13:56] dohomi commented on #911
@sebakerckhof just updated the source, its now published and version number is ```1.0.6-rc6_1```. Thanks for reporting

[2015-12-04 14:11] sebakerckhof commented on #911
Great, thanks for the fast solution

[2015-12-04 14:11] #911 closed

[2015-12-04 14:26] JohnAReid commented on #910
@kamilkisiela thanks!

[2015-12-04 14:26] #910 closed

[2015-12-04 17:01] mitiaptest opened #912 "Push.send({}) not working in meteor + angularJS + raix:push"
Meteor + AngularJS with raix:push not working.

We are facing issue in following method:

Push.send({
from: 'Test',
title: 'Hello',
text: 'World',
badge: 12,
query: {}
});

This method not working throws 'Error: Match error: Expected g in field badge'.

We have tested this with meteor simple example only added
raix:push
angular

If we ran APP without angular package raix:push works but not sure wh

[2015-12-04 19:59] jboothe commented on #908
I noticed the same but selecting "22. Ionic" would display the Ionic title on the page but the body was the content from "21. Mobile Support & Packages Isolation".

There also seems to be an issue with the router. I've found selecting a tutorial from the megamenu at the top of angular-meteor.com pulls up a blank page although the url is correct. Hitting the browser refresh is needed to then load t

[2015-12-04 22:14] MilosStanic commented on #905
Can anybody please spare some time to take a look at this?
@Urigo, this is very important thing to make work. Uploading files without being able to immediately fetch their URL is really a problem. I don't want to subscribe to files collection on each controller where I need to view images. I want to store image urls in other collections, so I don't have to load images collection, too.
Thank you ve

[2015-12-04 23:56] dyaa commented on #18
@Urigo cam u just tell us the best tools for testing and i'll try to search and help u writing this chapter since its the most thing that the community is searching for... PLEASE

[2015-12-05 22:12] DAB0mB commented on #904
Can you please show how does 'newEvent' object looks like? Maybe it has to do something with the data you are trying to save.

[2015-12-06 09:57] jmwierzbicki opened #913 "Memory leak, on Autorun $meteorSubscribe()"
Hello, i'm developing new project for learning purposes, and i found out that my app is getting slow overtime, whenever i change state in router, there is large chain of diggest created. And since i'm new, to Angular-meteor i have no idea how to find source of this, however developer tools shows that there is something angular-meteor related: https://i.imgur.com/7042CWq.png.

I isolated the case a

[2015-12-06 14:48] #913 closed

[2015-12-06 22:21] gentunian commented on #849
I would like to hear about the performance too. Are those test wrong in their essence? Has anyone tried that using a smartphone? How can I measure the real time spent, at least in the PC browser?

Cheers.

[2015-12-07 07:58] dagatsoin commented on #902
@MilosStanic  Typo. Edited.

[2015-12-07 10:59] abhaykumar1415 commented on #872
1. meteor remove blaze-html-templates
2. meteor remove ecmascript

Run the following commands to remove meteor's  default ecmascript package  .
Now the app should run fine .

[2015-12-07 16:25] mitiaptest commented on #912
@Urigo Can you please help me on this?

[2015-12-07 21:48] carlosbaraza commented on #849
I am facing the issue that inside a package and using `angular-with-blaze` and `.ng.js` files, the code is not transpiled using Babel. I have tried adding `ecmascript` package, but it does not seem to work. If I remove the `.ng`, then `ng-annotate` does not work properly.

Anyone faced a similar issue?

[2015-12-07 22:13] carlosbaraza commented on #849
I am doing some tests and it seems that even just using `angular` without anything relating to blaze, it still does not transpile without `ecmascript`. With `ecmascript` it does transpile but the ng-annotate does not work.

[2015-12-07 22:40] carlosbaraza commented on #849
Ok, my fault, after installing the latest version of `angular`, both transpiling and ng-annotate work. However, now I am in the same situation than people were commenting before. If I want to use one of the multiple Meteor packages using Blaze, I can not do so without porting them.

In my case, one of the packages I am using with Blaze is: https://github.com/ianmartorell/meteor-accounts-ui-bootstr

[2015-12-07 22:44] MilosStanic commented on #905
It appears this is a problem with CollectionFS.
Described here https://github.com/CollectionFS/Meteor-CollectionFS/issues/323
I will investigate alternatives, since this is shameful and debilitating lack of feature.

[2015-12-07 22:44] #905 closed

[2015-12-08 02:23] dtruel opened #916 "Can't delete object in array in angular meteor object"
Hello,

I've built an application that makes heavy use of the angular meteor object.  I have run into a situtation, however, that is not good at all.  I have a model such that each angular-meteor object is composed of a couple fields, one of which is an array of objects.  When I add objects to that array, then save, I have no issue.  When I try to delete one of them, however, there is an error:

[

[2015-12-08 02:33] dtruel commented on #916
Looks like this is addressed here:

https://github.com/Urigo/angular-meteor/issues/763

[2015-12-08 02:36] #916 closed

[2015-12-08 02:49] dtruel opened #917 "Prevent Sync After Save"
Hello,

I'm building an application that has a contact info page.  On the page, you can input emails.  Instead of an "add new email" button, I'm pushing an empty object to the end of the emails list so that people don't have to click an 'add new' button, just like in gmail contacts.  Before saving, I quickly check if the last email item is empty - if it is, I delete it, then save, then add it agai

[2015-12-08 03:09] carlosbaraza commented on #849
Just in case this would be useful for someone, I have created an Angular wrapper without the need for Blaze of `ian:accounts-ui-bootstrap-3`. https://github.com/carlosbaraza/accounts-ui-bootstrap-3-angular

[2015-12-08 03:20] carlosbaraza commented on #191
@borisfeldmann @gscalise I just created a small wrapper around `ian:accounts-ui-bootstrap-3` that does not require the use of Blaze or `templating` in your main package. Hopefully, this will help you with your issue or give you an idea of how I solved it.

https://github.com/carlosbaraza/accounts-ui-bootstrap-3-angular

[2015-12-08 03:22] carlosbaraza commented on #455
@ruchevits I just created a small wrapper around `ian:accounts-ui-bootstrap-3` that does not require the use of Blaze or `templating` in your main package. Hopefully, this will help you with your issue or give you an idea of how I solved it.

https://github.com/carlosbaraza/accounts-ui-bootstrap-3-angular

[2015-12-08 07:11] leizard commented on #272
Hi, @Urigo @idanwe , thank you for your awesome packages.
Can you explain to me what is superior when using  meteor-client-side and angular-meteor instead of Asteroid ? Could Asteroid resolve the reactive problem by on.("changed") event ?
Thank you.

[2015-12-08 08:18] MilosStanic commented on #917
Yes, you have to remove the `autopublish` package from your app by typing:
`meteor remove autopublish`

Also when binding a collection to AngularJS, you should use `false` as the second argument, to prevent autosaving.

Please read on here: http://www.angular-meteor.com/api/meteorCollection

[2015-12-08 15:07] jacobdr commented on #849
Don't you use angular with blaze in your package.json dependencies? And I see calls to blaze and spaceship in source, which I'm not fully familiar with, but don't feel angular "native". 

So pleased to have someone finally release a package like yours! But am curious to hear more about its implementation... Learning from its development could inform development of material design wrapper, and othe

[2015-12-08 15:55] carlosbaraza commented on #849
No, I don't use `angular-with-blaze`. The idea is to use Blaze templates within the package to do the rendering and then link the angular scope to the rendered DOM. This way in the project/package importing the package, it is not required to have blaze-html-templates and the extension html can be freed to be handled by angular-templates in the parent package.

About SpacebarsCompiler, it was an at

[2015-12-08 17:46] dtruel commented on #917
Hi Milos,

Thank you for responding.  Unfortunately I already have removed the autopublish package, and am using false as the second argument to prevent autosaving.  I'm actually publishing the object on page load (for an edit, not a new object), and subscribing like this:

[code]

This is how I get the original data onto the page.  However once I get it on the page, I no longer need it. Unfortuna

[2015-12-08 20:15] dtruel commented on #917
Closing this issue because I resolved my problem by updating how the client-side logic runs.  If anybody else has this issue and can't find a workaround, it may be worth looking into.

[2015-12-08 20:15] #917 closed

[2015-12-08 22:36] JohnAReid opened #919 "problem when updating to 1.2.3 - Uncaught Error: use "new" to construct a Mongo.Collection"
I finally got round to updating (from 1.0.5 to 1.2.3 - a moderate size app with 176+ files) - however having taking the plunge - I am having a problem with Ground.DB - I am using the same version of ground.DB as in the old app but in the new updated app the following code:

(function(){var GroundLabels = new Ground.Collection('labels', { connection: null });
var GroundSimpleStatements = new Ground

[2015-12-09 01:26] #875 closed

[2015-12-09 07:26] mitiaptest commented on #912
Facing this issue after updating angular@1.0.7 to angular@1.2.2

[2015-12-09 17:38] Urigo commented on #849
Short note, after [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) , the blaze-template example moved here: https://github.com/Urigo/angular-meteor/tree/master/examples/1.2/blaze-template

[2015-12-09 17:39] Urigo commented on #855
Is the caching problem still happening for people after the [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3)?

[2015-12-09 17:40] Urigo commented on #860
@barbatus I think it's fixed now right?

[2015-12-09 17:40] Urigo commented on #856
And here is about the [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3)

[2015-12-09 17:40] Urigo commented on #861
Both links for now

[2015-12-09 17:40] #861 closed

[2015-12-09 17:42] Urigo commented on #223
I think that in the new [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) you should get a better error message of typos in paths.
It it working for you?

[2015-12-09 17:52] Urigo commented on #867
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) the way we work with objects has improved a lot.
No need for Angular wrappers anymore and you can simply use `findOne`.
Check it out and let me know how did it worked for you here or in the post's comments

[2015-12-09 17:52] #867 closed

[2015-12-09 17:53] Urigo commented on #868
I think that in the new [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) we do caching validations better so there should be less of those problems happening

[2015-12-09 17:53] Urigo commented on #869
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) the way we work with CollectionFS has improved a lot.
No need for Angular wrappers anymore.
Check it out and let me know how did it worked for you here or in the post's comments

[2015-12-09 17:53] #869 closed

[2015-12-09 17:59] Urigo commented on #870
I think that in [Angular Meteor 1.3](http://info.meteor.com/blog/angular-meteor-1.3) we handle caching better and it does not suppose to happen anymore.
Please let me know if that helped

[2015-12-09 18:02] Urigo commented on #873
Great question! :)
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) the way we work with Meteor account is much better. No need for Angular wrappers anymore.
Check it out and let me know how did it worked for you here or in the post's comments

[2015-12-09 18:02] #873 closed

[2015-12-09 18:15] barbatus commented on #860
@Urigo yes

[2015-12-09 20:09] JohnAReid opened #922 "Version 1.3 replacement for $meteor.waitForUser()"
The $meteor.waitForUser() is deprecated in versin 1.3 -  but I cannot find a Meteor’s API for this method.

If I use Meteor.user() it returns undefined, but if I wrap within a $meteor.waitForUser() it returns the users details.

[2015-12-09 20:17] Urigo commented on #853
In case you want to work with `Blaze` you should use `angular-with-blaze` package instead of `angular`.
check out the example here: https://github.com/Urigo/angular-meteor/tree/master/examples/1.2/blaze-template

[2015-12-09 20:19] Urigo commented on #875
So, it's fixed in 1.3 but it's also not the best practice anymore, so you should start migrating to the `helpers` API with `findOne`.
Check out the new changes here:
http://info.meteor.com/blog/angular-meteor-1.3

[2015-12-09 20:21] Urigo commented on #876
@MilosStanic with the new Angular Meteor 1.3 you should use the regular Meteor API for accounts.
Check out the new changes here: http://info.meteor.com/blog/angular-meteor-1.3
Once you will migrate we can more easily check if the problem is in Angular or Meteor

[2015-12-09 20:24] Urigo commented on #879
Can please try with the new tutorial and [version 1.3](https://github.com/Urigo/angular-meteor/issues/878)?

[2015-12-09 20:25] Urigo commented on #882
Great, also I think caching validation is much better in the new [1.3 version](http://info.meteor.com/blog/angular-meteor-1.3)

[2015-12-09 20:35] pbastowski commented on #878
@mgrivera I'm working on this right now.

[2015-12-09 21:06] Urigo commented on #887
Well, maybe now with the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) it would be easier as you can use the regular Meteor API without wrappers.
Check out the new pagination chapter updated to 1.3 - http://www.angular-meteor.com/tutorials/socially/angular1/search-sort-pagination-and-reactive-vars and let me know if the issue is still an Angular Meteor issue or a

[2015-12-09 21:06] #887 closed

[2015-12-09 21:07] Urigo commented on #707
Looks like a typo in path or a caching problem.
The caching problem should be solved in the new [1.3 version](http://info.meteor.com/blog/angular-meteor-1.3)

[2015-12-09 21:11] Urigo commented on #890
by the way, the updated tutorial is written in controllerAs syntax for helping people use best practices

[2015-12-09 21:13] Urigo commented on #688
Using `Meteor Object` and `save` is not a best practice anymore.
Please read the [1.3 release docs]()http://info.meteor.com/blog/angular-meteor-1.3 and use the native Meteor API for that

[2015-12-09 21:20] Urigo commented on #892
I think it's a good question but it should be posted on the Meteor forums as it's not Angular-Meteor specific - forums.meteor.com

[2015-12-09 21:20] #892 closed

[2015-12-09 21:24] Urigo commented on #896
The caching issue was fixed with the new [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3)

[2015-12-09 21:24] #896 closed

[2015-12-09 21:26] Urigo commented on #897
@jessonjoy Please try to use the new API introduced in the [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) and re-open if that won't work for you.

[2015-12-09 21:26] #897 closed

[2015-12-09 21:35] MilosStanic commented on #876
Sorry I didn't update this issue, the problem was with an external lib `peerlibrary:server-autorun`, but the author fixed the bug, and now it works okay.

[2015-12-09 21:35] #876 closed

[2015-12-09 21:39] MilosStanic commented on #911
someone, please update package to rc7.
Rc6 had an ugly bug that rendered md-menu totally unusable.
Thanks!

[2015-12-09 21:46] Urigo commented on #898
thanks for the finding!
Fixed and deployed

[2015-12-09 21:46] #898 closed

[2015-12-09 21:47] mxab commented on #911
@MilosStanic done

[2015-12-09 21:48] Urigo commented on #899
@mrtruko we are moving away from `autobind` with the new [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) as it is not a best practice. more details inside the article.
Please try to move to the new `helpers` syntax and let me know if that works for you.
Uri

[2015-12-09 21:48] #899 closed

[2015-12-09 21:49] Urigo commented on #900
Both (file names and caching problem) should be fixed with the new [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3).
Please re-open if it's not the case

[2015-12-09 21:49] #900 closed

[2015-12-09 21:54] MilosStanic commented on #911
@mxab wow, fast, thanks :beers:

[2015-12-09 22:15] Urigo commented on #902
@dagatsoin here is the way Meteor depends the load order: http://docs.meteor.com/#/full/structuringyourapp
You can use naming or a certain folder structure.
But the best thing is, that with the new version of Meteor (1.3, a first beta should be out today or tomorrow) you can use ES2015 modules and they will determine the load order

[2015-12-09 22:15] #902 closed

[2015-12-09 22:16] Urigo commented on #665
Hi and sorry for the late response.
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) the way we work with CollectionFS has improved a lot.
No need for Angular wrappers anymore.
Check it out and let me know how did it worked for you here or in the post's comments

[2015-12-09 22:16] #665 closed

[2015-12-09 22:18] Urigo commented on #903
@matthieuh have you figured it out?

[2015-12-09 22:19] Urigo commented on #904
The `save` syntax will be depracated in favor of the new `helpers` syntax in [Angular Meteor 1.3](http://info.meteor.com/blog/angular-meteor-1.3).
Please try to migrate and tell me if it worked for you

[2015-12-09 22:19] #904 closed

[2015-12-09 22:20] Urigo commented on #905
In anyway, with the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) the way we work with CollectionFS has improved a lot.
No need for Angular wrappers anymore.
Check it out and let me know how did it worked for you here or in the post's comments

[2015-12-09 22:21] Urigo commented on #791
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) the way we work with Meteor accounts has improved a lot.
No need for Angular wrappers anymore.
Check it out and let me know how did it worked for you here or in the post's comments

[2015-12-09 22:25] Urigo commented on #840
I also think it shouldn't be related to Angular Meteor alone but as a Meteor feature.
Definitely with the new [angular Meteor 1.3 syntax](http://info.meteor.com/blog/angular-meteor-1.3)

[2015-12-09 22:25] #840 closed

[2015-12-09 22:30] dyaa commented on #912
@mitiaptest I Think i can help. Can you post the code there and tell us how you're implementing `Push` ?

[2015-12-09 22:36] Urigo commented on #908
I believe it is fixed now
Thanks!

[2015-12-09 22:36] #908 closed

[2015-12-09 22:39] Urigo commented on #912
@mitiaptest Please try updating to the new [1.3 release](http://info.meteor.com/blog/angular-meteor-1.3).
It uses a `helper` syntax with pure Meteor API so Angular shouldn't be in your way when using regular Meteor packages.
Let me know if that helped and if it is still related to the Angular package please re-open

[2015-12-09 22:54] Urigo commented on #272
@leizard Asteroid uses it's own implementation of the whole client side with a different syntax.
That means you can't use any of the Meteor packages that works on the client.

[2015-12-09 22:57] Urigo commented on #919
We released [Angular Meteor 1.3](http://info.meteor.com/blog/angular-meteor-1.3) because it is much easier to work with 3rd party Meteor packages.
No need for any special wrappers anymore.
Please check it out and let me know if that worked for you.

[2015-12-09 22:58] carlosbaraza commented on #908
Awesome! :)

[2015-12-09 23:00] MilosStanic commented on #887
I just reimplemented the thing in angular-meteor 1.3, and the results are mixed.

It does work better, it draws limited user sets, based on perPage number.

However, the reactive searchText is not really reactive, I don't see it sending the search parameter to server to refine dataset. Maybe I have some bug, I'll keep at it and report.

The issue with the ghost current user appearing on each page

[2015-12-09 23:01] Urigo commented on #485
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3), we do not recommend using $meteorObject but to use the new `helpers` syntax with the `findOne` function.
Please let me know if that works for you

[2015-12-09 23:01] #485 closed

[2015-12-09 23:02] Urigo commented on #528
How does this works for you with the new `helpers` syntax?

[2015-12-09 23:04] Urigo commented on #537
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) we are using the regular Meteor API so that question becomes a regular Meteor question and should be posted on the [Meteor forums](forums.meteor.com) or Meteor issues

[2015-12-09 23:04] #537 closed

[2015-12-09 23:05] Urigo commented on #656
@kongaraju I'm happy to say that this issue should be resolved when using the new `helpers` syntax in [Angular Meteor 1.3](http://info.meteor.com/blog/angular-meteor-1.3).
Please let me know if it's not the case

[2015-12-09 23:06] Urigo commented on #720
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) and the `helpers` syntax, we don't wrap the regular Mongo Collections anymore so any Meteor package should work like you were using Blaze.
Let me know if that is not the case

[2015-12-09 23:06] #720 closed

[2015-12-09 23:08] Urigo commented on #744
This issue shouldn't happen with the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3) and the `helpers` syntax.
Let me know if that is not the case

[2015-12-09 23:10] Urigo commented on #761
closing as there wasn't a response.
Also, we significantly changed our API in [Angular Meteor 1.3](http://info.meteor.com/blog/angular-meteor-1.3) so it won't be an Angular specific problem

[2015-12-09 23:10] #761 closed

[2015-12-09 23:13] Urigo commented on #796
As of [Angular Meteor 1.3](http://info.meteor.com/blog/angular-meteor-1.3) we do not recommend using `autobind`. please read inside for more details on why we decided that and how to migrate to the new `helpers` API

[2015-12-09 23:13] #796 closed

[2015-12-09 23:14] Urigo commented on #831
With the new [Angular Meteor 1.3](http://info.meteor.com/blog/angular-meteor-1.3) we don't use hashkeys anymore.
Please try to new `helpers` syntax and let me know what you think about it

[2015-12-09 23:14] #831 closed

[2015-12-09 23:15] Urigo commented on #852
With the new [Angular Meteor 1.3 release](http://info.meteor.com/blog/angular-meteor-1.3), there is no need to wrap CollectionFS anymore.
So there is nothing Angular specific about that.
Please try to migrate to the new `helpers` syntax and let me know what you think

[2015-12-09 23:15] #852 closed

[2015-12-09 23:16] #860 closed

[2015-12-09 23:17] Urigo commented on #879
I've tested it and it works.... please re-open of it's not working for you

[2015-12-09 23:17] #879 closed

[2015-12-09 23:20] Urigo commented on #922
If you look at the implementation you can see that this is because it's wrapped in an autorun.
There are 2 choices:
1. Simply copy that logic into your app
2. Create a package that does that and publish it for everyone to enjoy

If you choose option number 2, think if that package should be Angular Meteor specific or you create create something that the whole Meteor community can benefit from

[2015-12-09 23:22] Urigo commented on #887
@MilosStanic maybe that means it's not an Angular specific problem?

[2015-12-09 23:36] triniwiz commented on #852
@Deadly0  everything was installed on the server but wasnt able to access FS but the 1.3 looks like it might work

[2015-12-09 23:54] pbastowski commented on #878
Ok, I think I have it fixed now, with inline sourcemaps.

Please add angular-bebel explicitly to your project, like this

    meteor add pbastowski:angular-babel@1.0.7

Then restart your Meteor project and let me know if that helped.

[2015-12-09 23:56] jacobdr commented on #796
Thanks for the informative post.

I may be out of the loop since I am not a core contributor, but I do
participate on the issues discussions and StackOverflow questions tagged
with angular-meteor. With that as context, do we have a "developers" email
list or forum of communication (IRC, etc.)?

The news in the blog post is great and I am so happy with the progress of
the project and its awesome st

[2015-12-10 00:04] kamilkisiela opened #926 "Missing ReactiveComponent used in tutorial blog post"
**ReactiveComponent** from *dotansimha:angular-reactive-component* is missing.

Mentioned here:

https://github.com/Urigo/angular-meteor/blob/master/docs/angular-meteor/client/content/api-reference/1.3.0/api.reactive.html

and here:

http://info.meteor.com/blog/angular-meteor-1.3

[2015-12-10 00:30] Urigo commented on #796
I agree.
The point of that version was to make it unnecessary as possible to have a separate place for Angular Meteor developers to talk about things. now they can talk about it with [the rest of the Meteor community](https://forums.meteor.com/) and we will all be aligned.
About the release - my first plan was to do it as a forum post for a release candidate, but then I thought that there are stil

[2015-12-10 00:35] cyrus-za commented on #840
I agree with you, but it is mainly a UI component. Yes, there is a lot of services to bind the UI and bakcend in breeze, but the actual progressive saving is mainly on the UI, with the backend just fovusing on storing the progressive saving, either in session or in the DB.

Although Blaze could have some solution for it, I don't think it would ever be a package that just works for both angular and

[2015-12-10 04:28] triniwiz opened #928 "Errors after changing to new helpers"
After i changed my code to use the helpers i'm getting errors all over :disappointed:

TypeError: Cannot read property 'preventDefault' of undefined

[code]

I was wondering is it still possible to use a controller by setting it in the config ?
[code]

or like in the examples
[code]

I prefer the 1st one :tongue:

[2015-12-10 04:57] Urigo commented on #928
@triniwiz maybe I should have explained `helpers` better.
`helpers` are only for functions that return a value to the view.
Your `helper` functions don't return anything to the view so there is no reason to place them inside a helpers but you should just place them inside a regular scope function like before

[2015-12-10 04:57] Urigo commented on #928
about routing, there shouldn't be change

[2015-12-10 05:00] Urigo commented on #878
@mgrivera let me know if that solved your problem and then I'll update the dependency version for the next Angular Meteor version

[2015-12-10 07:21] bmanturner opened #929 "$scope.subscribe doesn't support arguments w/ callbacks"
Or if it does it is unclear how. I can get _only_ arguments to work and I can get _only_ callbacks to work, but not both.

I'm looking for the new equivalent of:
[code]

[2015-12-10 07:25] netanelgilad commented on #929
Check out my answer here:
https://forums.meteor.com/t/angular-meteor-1-3-now-closer-to-the-standard-meteor-api/14588/21?u=netanelgilad

Hope it clarifies..

On Thu, Dec 10, 2015, 09:21 Brendan Turner <notifications@github.com> wrote:

[2015-12-10 07:29] bmanturner commented on #929
It does. Thank you very much. Maybe I'm just a dullard, but I think an example should be added to the documents.

[2015-12-10 07:29] #929 closed

[2015-12-10 07:45] netanelgilad commented on #929
You tottaly correct. @Urigo let's add an example.

[2015-12-10 07:56] JohnAReid commented on #919
I have checked and it still does not work with version 1.3!

[2015-12-10 08:08] JohnAReid commented on #922
@Urigo - this leaves me speechless - I am faced with hours and hours  of work changing and checking that my codes works in 1.3. To make major changes and to not provide complete documentation on how to make the changes is not right -

to reply "with look at the implementation"  is no help at at all - what are you taking about - where is the implementation?

It is bad enough having to makes these c

[2015-12-10 08:14] mitiaptest commented on #912
@dyaa Please find attached code. In this code I have added raix:push and angular package after that added "config.push.json" with GCM apiKey and projectNumber (Please add yours in attached code config.push.json file) after that on click of button called function i.e sendMessage inside of this added following code:

 var pushId = Push.send({
            from: 'Test',
            title: 'Hello',

[2015-12-10 08:14] JohnAReid commented on #846
I have no idea what a pull request is.

[2015-12-10 08:16] mitiaptest commented on #912
@dyaa
Error: Match error: Expected Number in field badge
Error
    at check (http://meteor.local/packages/check.js?9c4972d3f4fe56cd455d3022e70b5195e642fc41:61:15)
    at _validateDocument (http://meteor.local/packages/raix_push.js?27a49e0d3cdc02231f5d60989aea2035cbffffed:249:3)
    at PushHandle.Push.send (http://meteor.local/packages/raix_push.js?27a49e0d3cdc02231f5d60989aea2035cbffffed:329:3)

[2015-12-10 08:20] JohnAReid opened #930 "Issues are getting closed to early"
I have posted two issues over the last few days - both have been closed by Urigo without a chance for me to reply!

The issues I raised are important to me and perhaps to other as well - I expect to be taken seriously!

[2015-12-10 09:20] dagatsoin commented on #930
![image](https://49.media.tumblr.com/tumblr_m4j0lzgA8i1qio4rko1_400.gif)
You need to reopen it if the proposed solution does not work for you.

[2015-12-10 09:48] westor21 opened #932 "Tutorial - angular 1 - Step 14 missing Information"
In Step 14 you promised:

In this step we will learn how to use Meteor methods and how angular-meteor enhances them with the support of promises.

But I do not find information about using $meteor.call and using of promises, especially how to handle errors.

[2015-12-10 09:50] westor21 opened #933 "Tutorial - angular 1 - Step 15 does not load"
I cannot load Step 15. The headline changes, but the content stays the same like the referring page.

[2015-12-10 09:52] JohnAReid commented on #930
Can't find any option to reopen a closed issue

[2015-12-10 09:57] Urigo commented on #919
@JohnAReid can you share your code?
It might sound like it's a GroundDB problem and not an Angular problem

[2015-12-10 10:02] Urigo commented on #922
@JohnAReid I'm sorry, I mean, in 1.3 your old code still works so I can improve the docs and help you out.
What I meant in look at the implementation is this:
https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/modules/angular-meteor-user.js#L17-L28

As you can see, it's a reasonable code to write in your app without using a package.
I do get the benefit of using it as

[2015-12-10 10:03] Urigo commented on #912
@mitiaptest can it be a `raix:push` problem?
how does Angular relates to your code?

[2015-12-10 10:08] mitiaptest commented on #912
@Urigo If I remove angular package and use raix:push only then its works.

[2015-12-10 11:19] JohnAReid commented on #919
@Urigo GroundDB works fine in the normal version of Meteor - it is because Angular Meteor is no longer sitting on top of Meteor but is now a different version of Meteor.

[2015-12-10 11:56] MilosStanic opened #934 "(v1.3) Failing to get object from collection, double this.helper runs, etc."
Hi @Urigo,

Again, with my problems :)

I have a controller that looks like this:
[code]
So, when I have the subscription block, the browser console looks like this:

![WithSubscription](http://s11.postimg.org/mm5upjwir/Log_With_Subscribe.png)

As you can see, `this.helpers` is invoked twice. And only after the second call the model is ready.

On the other hand, when I comment out the block:
[code

[2015-12-10 12:02] triniwiz commented on #928
Changed the code so only functions which return value are in the helpers.

Thanks :smile:

[2015-12-10 12:02] #928 closed

[2015-12-10 12:48] MilosStanic commented on #934
Furthermore, when I navigate to the users list (which is one page back), I see `this.helpers` from the user details called two more times, although the user detiails controller should have been destroyed.
Then, navigating between users list and user details multiple times, there seems to be a buffer of user id's of previously visited user details.
So, on the 3rd visit to random user's details page

[2015-12-10 15:26] #930 closed

[2015-12-10 15:27] LuchoPipe commented on #262
The solution posted by luisreyes works for me!

[2015-12-10 17:30] Urigo commented on #919
@JohnAReid can you share a reproduction? maybe in a separate repo?

[2015-12-10 17:33] Urigo commented on #930
Hi @JohnAReid please link those issues here and I'll re-open them.
I'm sorry, it was like a spring cleaning after the new version and I might have gone to fast...

[2015-12-10 17:45] dotansimha commented on #933
@westor21
Can your provide your `.meteor/versions`?
Also, does this works for you? http://socially-step15.meteor.com/parties
Thanks

[2015-12-10 17:46] canac commented on #867
@Urigo Yes, it worked great! Thanks for addressing this use-case in the 1.3 release.

[2015-12-10 18:22] dotansimha commented on #933
Fixed in https://github.com/Urigo/angular-meteor/pull/935
@Urigo  please merge

[2015-12-10 18:24] dotansimha commented on #932
Hi,
Changed the description in https://github.com/Urigo/angular-meteor/pull/935
Note that in the new API of angular-meteor (1.3), we removed the `$meteor` service, in order to use the original Meteor API for thing like that.

[2015-12-10 18:25] dotansimha commented on #926
Hi @kamilkisiela , you are right, I will deploy it ASAP.

[2015-12-10 18:58] Urigo commented on #933
Merged and deployed, thanks @westor21 and @dotansimha

[2015-12-10 18:58] #933 closed

[2015-12-10 18:58] Urigo commented on #932
Merged and deployed, thanks @westor21 and @dotansimha

[2015-12-10 18:58] #932 closed

[2015-12-10 19:10] dotansimha commented on #926
@kamilkisiela Done!
You can now install it using `meteor add dotansimha:angular-reactive-component`

[2015-12-10 19:10] #926 closed

[2015-12-10 19:45] Deadly0 commented on #934
@MilosStanic what wrong with it? `currentUser` called first time when no users data loaded, and second time, when meteor loaded users data from server.

[2015-12-10 20:00] MilosStanic commented on #934
@Deadly0 Okay, I understand, seems logical. But I shouldn't need to subscribe to `users` at all. Should I?
`Meteor.users.findOne()` should return a non-empty object, even without subscription.

Also why is `currentUser` called repeatedly when I leave the page, as shown in my second post? And not only that, it calls it several times in reverse order of my previous visit to user details page.

[2015-12-10 20:42] Deadly0 commented on #934
Of course you should subscribe to users . If you not subscribed `Meteor.users.findOne` will return `undefined` every time. Remember, data about current logged in user loading automatically without subscription.

About second post. It's hard to say certainly, but when you navigate through pages it's changes some reactive sources, subscriptions, or destroy controller and `currentUser` method needs t

[2015-12-10 21:45] MilosStanic commented on #934
@Deadly0 this fact that you stated that data about current logged in user is loading automatically without subscription may be the resolution to my problem that I stated in #887

**Please** take a look at that issue (never mind the first few posts, start from the end). It appears that I have current logged in user data mixed into my `users` subscription no matter what I do. This reflects on the fa

[2015-12-10 23:08] triniwiz commented on #922
@JohnAReid from taking a quick look at the code  you can create it

[code]

[code]

[2015-12-11 00:48] Urigo commented on #846
It's a very important concept - it let's you help the community and suggest your changes to code. it's the heart of open source:
https://help.github.com/articles/using-pull-requests/

[2015-12-11 01:08] Deadly0 commented on #934
@MilosStanic is your problem current logged in user appears everywhere? I know the solution for the problem.

[2015-12-11 07:10] MilosStanic commented on #934
@Deadly0 Yes, that's my problem. Thanks.

[2015-12-11 08:40] JohnAReid commented on #922
Thanks all - I think my real grip is documentation -  I expected waitForUser to be documented in the Meteor  documentation page and it was not!

[2015-12-11 09:31] vacarsu opened #937 "(v1.3) exception in queued task error being caught."
[code]
It happens when the component loads and when I change the sort variable. When the sort variable changes the subscription doesn't reload data.
[code]

[2015-12-11 10:11] leizard opened #938 "add extra info to returned list"
Hi,
Normally I could return a reactive meteor collection like this :

[code]

But what if I want to add some extra info to my returned chat list, something like this :

[code]

which will return issue :
[code]

seem like it can only return Collection cursor, not array.

How could I resolve this ?
Thank you.

[2015-12-11 11:50] hlehmann opened #939 "Should properties be reactive too ?"
I want to load data depending on a property of my object

with 1.2

    $scope.data = loadData() //$scope.$meteorObject(...)
    $scope.$watch('data.category', category=> loadCategoryDetails(category))

with 1.3

    $scope.helpers({
      data() {
        return loadData() //findOne ...
      }
      category() {
        return loadCategoryDetails($scope.data.category)
      }
    })

`$scope.dat

[2015-12-11 12:27] mgrivera commented on #878
Wow, happy to have an answer to this issue. I've been waiting for this with lots of interest.
Sadly, I'm on vacations now (very short vacations). I don't have access to my PC here but we'll return home on next Tuesday. I'll check as soon as I can.

If another person can answer before my arriving home, it'd be fine ... anyway I'll check on next Tuesday.

Many thanks for this  and bye ...

[2015-12-11 12:38] MilosStanic commented on #937
did you do `$reactive(this).attach($scope)` ?

[2015-12-11 12:40] vacarsu commented on #937
I'm using angular2-now and extending the reactive component class. Perhaps there is something wrong with that package.

[2015-12-11 12:40] MilosStanic commented on #938
There is not enough code quoted.
What is in line 10 of your chat-list-controller.js ?

[2015-12-11 12:41] magbeat commented on #937
I also get this error. I tracked it down to angular-meteor-data.js file and line 2387. The ```propertyChanged``` function gets called each time a new document is added to the collection which is used as a property in the controller.

[code]

and then later on:

[code]

I am using the controllerAs convention.

[2015-12-11 12:45] MilosStanic commented on #937
@vacarsu
why don't you do like this:
[code]

In your code you have `this.sort` declared, and then in `this.helpers` you declare it again. It's selfreferencing.

[2015-12-11 12:47] vacarsu commented on #937
It has nothing to do with that. It has to do with the $digest not being applied. It resubscribe but the view does not get updated properly.

[2015-12-11 12:54] magbeat commented on #937
@vacarsu could you try this:

[code]

My coworker had the same problem, when he 'initialized' the var outside the helper block.

[2015-12-11 12:57] vacarsu commented on #937
@magbeat no dice. Still not working properly.

[2015-12-11 13:54] burock opened #940 "stateProvider resolve and new helpers fail for binding one object"
Hi,

In the below code if i try to bind and retrieve one object using $reactive and helpers, I get the below exception whatever I tried (ofcourse the old method works).

[code]
Can anyone advice what am I doing missing?

Cheers and thanks,
b
[code]

[2015-12-11 14:32] Deadly0 commented on #939
@hlehmann looks strange. Did you tried use deep watch (send to `$watch` 3rd param `true`) or use $watchCollection instead?

[2015-12-11 14:48] Urigo opened #941 "Add getCollectionReactively back"

[2015-12-11 14:50] Urigo commented on #922
I'm re-opening as I would love to think about a prepared solution, whether Angular specific or a general Meteor one

[2015-12-11 14:54] Deadly0 commented on #887
@Urigo this is not a bug.
@MilosStanic to solve your problem you need:

1) Create client only collection (call it 'userList'). To do it place this code in /client folder (i prefer in /client/lib/collections/user-list.js).
[code]

2) Make custom publish method.
[code]

2) Now you are ready to use the data.
[code]
All other code should be the same.

[2015-12-11 14:55] netanelgilad commented on #878
Seems to work for me with the new version..

On Fri, Dec 11, 2015, 14:28 mgrivera <notifications@github.com> wrote:

[2015-12-11 15:02] hlehmann commented on #939
well it works well using $scope.$watch but not with the helper.
The question is more : is it appropriate to use the helpers when it is combine with angular changes (like in a form)

[2015-12-11 15:03] sebakerckhof opened #942 "Execution order problems"
Here's some pseudo code:
[code]

Subscribing to userDetails results in some fields of that user being published to the client.

The problem is that if I execute the code above I get:
`undefined` (from `console.log(Users.findOne(userId));`)
`ready` (from `console.log("ready");`)
`{...userobject...}` (from `console.log(Users.findOne(userId));`)

Is this correct behavior? I would expect the order to

[2015-12-11 15:09] sebakerckhof commented on #934
@MilosStanic pagination in Meteor is non-trivial because results from multiple publications are combined. This is not only a problem for user pagination. More in depth article: https://www.discovermeteor.com/blog/pagination-problems-meteor/

One solution is to use this package: https://atmospherejs.com/percolate/find-from-publication

[2015-12-11 15:13] sebakerckhof commented on #939
+1

[2015-12-11 15:23] Deadly0 commented on #939
@hlehmann it should work with form. If you want to watch helper use `this.autorun(() => {/* your helper here */})` It's works for me.

[2015-12-11 15:27] netanelgilad commented on #942
To me it makes sense. I think what happens is that the data arrives from
the subscription and the onReady gets called in one execution frame and the
findOne gets invalidated. But the autorun of the helper runs in the next
execution frame because that is when the Tracker flushes.
If you'll try to access the subscription data on the onReady callback, I
believe it will be there..

On Fri, Dec 11, 201

[2015-12-11 15:44] sebakerckhof commented on #942
Well, I have never used Blaze, I always used angular-meteor, so I should read up on how tracker works.

Thing is I have a lot of code that looks like:
[code]

[code]

In 1.2, when the promise was resolved, this.data was already updated. Using the onReady function in 1.3 it's not (I guess for the reason you mentioned). But that's a problem in the code above.
Now I just wrap the onReady function in

[2015-12-11 15:50] jboothe commented on #908
Thanks for your incredible effort. From here it doesn't look like you slept this week. ;)

[2015-12-11 16:07] canac commented on #939
I am also having trouble getting changes in my scope properties to update my helpers. @Deadly0, could you give a more complete example of using autorun? Because `$scope.autorun(() => $scope.helpers({ ... }) );` is still not working for me. Is that what you meant?

[2015-12-11 16:42] magbeat opened #943 "Problems with using uiGrid (or anything that is using "Scope" in a string in the controller)"
We are getting the following error when using the 'Scope' string anywhere in our controller:

[code]

We are using the controllerAs syntax and therefore:

[code]

The constructor of ReactiveContext in the built angular-meteor-data.js file consists of the following line:

[code]

On the other hand we are using uiGrid and the ng-click attribute in the controller:
[code]

The condition evaluates to t

[2015-12-11 18:25] eugenious commented on #942
I suppose that you shouldn't be relying on execution order at this fine level of detail.

The intention of "on ready" is to indicate that the subscription is initialized, it doesn't (necessarily) indicate that all reactive variables have finished reacting (if that makes sense).

Perhaps something like this could work for you:
[code]

Basically, only show if there's a valid user object.

[2015-12-11 18:53] MilosStanic commented on #887
Thank you! I will try this and report back results.

[2015-12-11 19:48] Deadly0 commented on #940
@burock not enough code to say something.

[2015-12-11 20:09] canac commented on #943
I am running into this exception as well. I don't have a firm grasp on what the code is trying to do, but if the goal of that test is to check whether `this` is an AngularJS scope, maybe instead of testing `(this.context.constructor || angular.noop).toString().indexOf('Scope') > -1` you could test `(this.context.constructor || angular.noop) === $rootScope.constructor`.

[2015-12-11 20:16] cranesandcaff opened #944 "(v 1.3) Error in Meteor.user() in helpers"
$scope.helpers({
      currentUser(){
        return Meteor.user()
      }
    })

Inside of a controller throws error `TypeError: Cannot read property 'changed' of undefined'`

Returning other reactive stuff like `return Meteor.users.find()` seems to work though.

[2015-12-11 20:25] Deadly0 commented on #944
@cranesandcaff not familiar with new js syntax, but helper should looks something like this:
[code]
or in old js
[code]

Last example work in my app.

[2015-12-11 20:28] canac commented on #943
Looking through the code, it appears that this may have already been fixed in #923 (which did not make it into the 1.3 release). So hopefully this particular exception will disappear in the 1.3.1 release.

[2015-12-11 20:45] cranesandcaff commented on #944
I'll give the second a try but the new syntax should have it compile to the same thing.

[2015-12-11 20:50] Deadly0 commented on #944
@cranesandcaff ok, got it. But your example work for me. Are you sure the problem in this helper?

[2015-12-11 20:55] cranesandcaff commented on #944
Removing it removes the error, I'm reworking the auth to comply with the updated API. I'll update if I have further info.

[2015-12-11 21:15] magbeat commented on #943
@canac that would explain why I could not find the code in question when checked out from Github. Thanks for the info!

[2015-12-11 21:28] cranesandcaff commented on #944
It's possible I had the old version when I tested that...did the previous version have `$scope.helpers`? It's working now either way.

[2015-12-11 21:28] #944 closed

[2015-12-11 21:33] Deadly0 commented on #944
@cranesandcaff no, it's 1.3 new feature.

[2015-12-11 21:35] cranesandcaff commented on #944
Interesting. I had

    app.controller('AppVM', function($scope){
      $scope.helpers({
        profiles(){
          return Profiles.find()
       },
      currentUser(){
        return Meteor.user()
      }
    }

Profiles worked fine, but if I left `currentUser` in it threw that error, took currentUser out no more error. Weird but working now.

[2015-12-11 22:53] Urigo commented on #908
Lucky for me @dotansimha @netanelgilad @idanwe @DAB0mB also haven't been sleeping this week so I've got a lot of help :)

[2015-12-12 00:41] Deadly0 commented on #939
@canac `selectedId` should be helper

[code]

[2015-12-12 01:36] canac commented on #939
@Deadly0 Yes, that works, both in that contrived example and in my actual application! Thank you so much for your help!

Regarding @hlehmann's original question, I found that helpers are not deeply reactive. For example, given the following helpers:

[code]

executing `$scope.selectedId.id = 'someid'` does not cause the selectedItem to update, while executing `$scope.selectedId = { id: 'someid' }`

[2015-12-12 03:47] leizard commented on #938
sorry. I just copy the the error from another version of the code. the point is if I convert Collection cursor to array like this:

[code]

it would return the same error:

[code]

line 10 is :

[code]

[2015-12-12 04:55] shantanubhadoria commented on #939
+1
Facing the same issue. This is a bigger problem when the value of the property in a subscription is updated using a ng-model in the template.

      this.helpers({
        partyOptions: {
          tags: []
        }
      });
      this.subscribe('parties', () => {
        return [
          this.partyOptions.tags
        ]
      });

Then in my view if I have a ng-model in a ui-select tied in

[2015-12-12 06:31] orangeRat opened #945 "Redundant warnings in v1.3"
Guys, can I switch off the 'deprecated' warnings in settings? I rewrote my code to compatibility with new version, but I still see the warnings in JS console and it's annoying, because I should to find important messages between this messages after each page reload

[2015-12-12 08:36] buitregool commented on #849
I copied/paste this code from angular 1.3 (angular-meteor.js). I used to have all my templates with '.ng.html' extension, now I renamed them to '.html' and I get the below exception for each path. I wonder if the ' if (templatesFileExtension.indexOf(fileExtension) > -1)' is right? Cheers!

[code]

[2015-12-12 08:45] Tallyb opened #946 "Waffle.io"
Am I the only one who does not know this tool?
@Urigo  Feel like adding it to angular-meteor?
check out the sample...
https://waffle.io/urigo/angular-meteor

[2015-12-12 09:00] MilosStanic commented on #938
@leizard sorry, but I can't see the line where you call `name` which is undefined.

[2015-12-12 09:02] MilosStanic commented on #946
looks very nice.

[2015-12-12 09:59] leizard commented on #938
yeah I don't either. it seems like a variable in some package file, which happened because I returned an array.
Thank you for spending your time.

[2015-12-12 11:10] Deadly0 commented on #939
@shantanubhadoria @canac have the same issue too! Quick solution is to use `$scope.getReactively('var_name', true)` but looks like it doesn't work if you use `this.subscribe` API. No ideas how to do when getReactively will be removed in 1.4

@canac you can use $scope.getReactively
[code]
At least it works for me in subscription.

[2015-12-12 11:18] dotansimha commented on #945
Hi @orangeRat ,
Actually @Urigo  just fixed that in this commit https://github.com/Urigo/angular-meteor/commit/a83c26b377767d3265043074ea547f82f102e8c1
I think he will publish it in the next version (1.3.1) with several fixes.

[2015-12-12 11:20] westor21 commented on #932
Thank you for your fix and you advice of removing the meteor service. That is a pity, I liked the idea of using promises here. And it seems I have to rewrite some of my code to replace all the $meteor.subscribe stuff - I'm not so happy with this.
Could you consider to drop a deprecation note to the console as early as you know, the API will change? That would be great and helpful, especially if yo

[2015-12-12 11:20] dotansimha commented on #943
@magbeat
Sorry for the inconvenience, AS @canac  said, it already been fixes, and will be released soon in 1.3.1

[2015-12-12 11:23] Deadly0 commented on #938
@leizard this is not the core of your problem, but you can use transform http://docs.meteor.com/#/full/mongo_collection
[code]

[2015-12-12 11:24] dotansimha commented on #940
@burock Can you provide the actual code in a git repo so I can run it locally? Thanks.

[2015-12-12 12:27] mbeaudru commented on #854
I'II check it out soon, I've been busy these last days. Thank you guys !

PS : Is there a risk that the update of angular-meteor breaks my app ? :smile:

[2015-12-12 12:35] MilosStanic commented on #831
I just had this error with v1.3
[code]
Here's how I make it happen:

[code]

Interestingly, when I press save again (i.e. call this method again), immediately after calling it the first time, it saves without error.

[2015-12-12 12:37] orangeRat commented on #945
Great! Problem is solved. Thank you :)
12 дек. 2015 г. 17:18 пользователь "Dotan Simha" <notifications@github.com>
написал:

[2015-12-12 13:44] shantanubhadoria commented on #939
@Deadly0
How do you mean it works for you in a subscription?
Are you not using a property of a object as a parameter in your subscription?
Thanks

[2015-12-12 13:58] Deadly0 commented on #939
@shantanubhadoria
Here is working example where helper is an object. But, as i say before, i'm not sure will it works if you use `this.subscribe`
[code]

Also have a bug with 1.3 after `leaguesEnabled` changed it's updates the subscription, meteor loads new data, but angular do not update the view (html) until some other changes happen. Has someone faced this problem?

[2015-12-12 14:07] canac commented on #939
In case it helps someone else, my solution was to use a `$watch`, something like this (I am sure that `$scope.getReactively` would work, but I would like to avoid using deprecated APIs as much as possible):

[code]

I make a separate helper for the inner property, make my other helpers depend on that helper, and then automatically keep that helper in sync with the original object through a `$scope

[2015-12-12 14:09] canac commented on #939
@Deadly0 It sounds like you might need a call to [$scope.$apply](https://docs.angularjs.org/api/ng/type/$rootScope.Scope#$apply) to inform Angular that you have made changes to your scope properties.

[2015-12-12 14:28] shantanubhadoria commented on #939
@Urigo Will there be a fix for this issue so we can do this elegantly in the code? I am not keen on doing intermediate hacks/workarounds in my codebase as long as the patch is imminent.
Thanks

[2015-12-12 14:56] snowping commented on #939
I have the same problem and yes the proposed workaround works fine. I've used a different approach though.
Using
[code]
I observe changes on all properties of my object and once a autorun is required I just define the dummy var to a new string to retrigger autorun.

Of course, I would prefer a less hacky solution and since I am using controllerAs design I prefer not too have $scope variables withi

[2015-12-12 16:31] MilosStanic commented on #887
@Deadly0 **THANK YOU VERY VERY MUCH!!!!**

You totally saved me with this.

However, there's one tiny error you have: in point 1. there shouldn't be `var`, so just:
`UserList = new Mongo.Collection('userList');`

Regarding pagination, I only have to add that the publish counts package works normally.
Reading on the docs for Meteor.publish http://docs.meteor.com/#/full/meteor_publish led me to how

[2015-12-12 17:50] dotansimha commented on #939
We are thinking about providing the ability to use `ReactiveVar` as helpers.
The second argument of `ReactiveVar` is the object equality function, just like in AngularJS `$watch`.

This would provide the ability to create an advanced helpers like:
[code]

[2015-12-12 17:59] longxuanho opened #949 "How to reset party (from Angular-meteor tutorial)"
From the tutorial, in version 1.2, I can use:
[code]
But in version 1.3, with new helpers, how can I imply this method? Thanks.

[2015-12-12 18:16] dotansimha commented on #949
Hi @longxuanho,
Since we do not use Auto-bind in Angular-Meteor 1.3, there is no need to perform `reset` anymore.
The object you get on your context (`this` or `$scope`) is just a clone of the real object, and in case of update from the server it will override the object you have now.
If you still want to modify the object and have the ability to reset it, you can clone it (using `angular.copy` or

[2015-12-12 18:19] dotansimha commented on #937
Can you provide a git for your project?
Thanks

[2015-12-12 18:57] #949 closed

[2015-12-12 19:04] MilosStanic commented on #937
@vacarsu is right.
I just started facing the same issue when I switched one of my components/controllers from v1.2 to v1.3.
There are 25 documents in a collection I'm subscribing to, and when each doc is added to subscription, this error is fired.

[2015-12-12 19:10] vacarsu commented on #937
@dotansimha I don't have time to create a reproduction at this time. I reverted the component I was testing on back to the old syntax for now. I was also having issues with components not even loading after notification. No errors being thrown in that case.

[2015-12-12 20:11] magbeat commented on #943
@dotansimha thanks for the info, the fix and your work on the project. I'll wait for the fix in 1.3.1 then.

[2015-12-12 20:35] MilosStanic commented on #937
this seems like the same error as in #943

[2015-12-13 01:36] DmitryEfimenko commented on #939
+1. Please add support for reactive properties on the object. It would reduce the need for unnecessary hacks tremendously and make the whole thing as beautiful as a unicorn! :)

[2015-12-13 07:21] longxuanho commented on #939
+1

[2015-12-13 07:47] longxuanho commented on #939
With the code from @Deadly0  but when I use this instead of $scope, it is not reactive.

[code]

selectedItem will not run when selectedId change. But things works well with $scope.
Now I think the $reactive not as good as I expected before.

[2015-12-13 09:37] ThomsC commented on #831
I didn't have $$hashKey anymore. But when I use angular material I got $$mdSelectId but maybe there is nothing to do with angular-meteor.
I juste remove it by doing : delete object.$$mdSelectId;

[2015-12-13 10:13] burock commented on #940
it's https://github.com/burock/superintendent
thanks
b

[2015-12-13 13:53] #945 closed

[2015-12-13 15:45] lukovnikov opened #953 "Docs say almost everything is deprecated and will be removed in v1.4"
Every page in the angular-meteor docs except $reactive and ReactiveContext are saying they are deprecated since v1.3 and will be removed in v1.4. However, I could not find any docs or plans for v1.4.

Could someone please elaborate on the future or is this a bug in the docs?

[2015-12-13 16:12] Deadly0 commented on #953
@lukovnikov ReactiveContext is oll you need now. Read the article about new realease http://info.meteor.com/blog/angular-meteor-1.3

[2015-12-13 16:15] lukovnikov commented on #953
Thanks for the link, I was thinking 1.3 was still the old version and was looking for 1.4 docs.

[2015-12-13 16:15] #953 closed

[2015-12-13 18:32] Urigo commented on #528
For 1.3.1 we should make sure it's working fine with the new `$scope.reactiveProps` syntax

[2015-12-13 18:34] #878 closed

[2015-12-13 18:36] Urigo commented on #922
Added to the 1.3.1 milestone where we will bring back the functions from before, just in a separate package

[2015-12-13 18:37] dohomi commented on #528
Hi @Urigo
the 1.3 version is not fully compatible with 1.2 - we still investigate which change breaks our app. Will get back to this issue asap. Cheers

[2015-12-13 18:49] Urigo commented on #939
Thanks everyone for finding that out and for the solutions/workarounds.
We will release a fix for that later today to master and then release it with 1.3.1 very soon.
Sorry for the inconveniences, I hope that 1.3.1 will solve the main issues with the new version:
https://github.com/Urigo/angular-meteor/milestones/1.3.1

[2015-12-13 19:04] MilosStanic commented on #934
I think I'll close this as I got my answer from @Deadly0 in #887 about pagination, and thank you too, @sebakerckhof .

Regarding the original issue, @Deadly0 says this is okay, and I should subscribe to collection, even though I need only one object. Even though, I think I remember I didn't really need subscription for $meteor.object(). But I'm not sure.

@Urigo please reopen if you think this is

[2015-12-13 19:04] #934 closed

[2015-12-13 19:14] Urigo commented on #946
cool, I've create a milestone for 1.3.1 so probably you can look at it there as well:
https://waffle.io/urigo/angular-meteor?milestone=1.3.1
I'm not sure what's the benefit though...

[2015-12-13 19:17] Urigo commented on #942
I agree with @eugenious on this.
@sebakerckhof what do you think?

[2015-12-13 19:18] Urigo commented on #941
also check if it makes sense to add this option to the new reactiveProps code

[2015-12-13 19:20] #946 closed

[2015-12-13 19:29] sebakerckhof commented on #942
@eugenious Yeah, I've thought of that, but the problem is that there are already some fields of vm.user available from another subscription. So then I'd have to start looking for specific fields being present which gets ugly.

@Urigo Yeah, it surely isn't a bug if the system was designed like this. It's just that in my use cases it made sense that onReady was called after the reactive vars have up

[2015-12-13 19:40] Deadly0 commented on #934
@MilosStanic you need to be subscribed to use `$meteor.object()`. The exception is **current logged in user** because accounts-base package already have this subscription.

[2015-12-13 20:05] MilosStanic commented on #934
@Deadly0 thanks again, it may very well be that I don't remember correctly, or have simply overlooked the fact.

[2015-12-13 21:17] #942 closed

[2015-12-13 21:20] sebakerckhof commented on #922
@Urigo I could provide a PR for this, but what should happen with $meteorUtils?

[2015-12-13 21:45] jacobdr commented on #922
+1 

Love the leaner angular core but maintenance of old APIs through additional packages. 

The 1.2 upgrade threatened to break my code but the angular-with-blaze saved me. This resolution of this issue similarly helps me to maintain my legacy code bases. 

Break work @coreCommiters

—
Sent from mobile

On Sun, Dec 13, 2015 at 4:20 PM, Seba Kerckhof <notifications@github.com>
wrote:

[2015-12-14 01:33] leizard commented on #938
@Deadly0 thank you, that looks great. I really don't know Meteor supports a transform inside Mongo.Collection.
@Urigo with angular-meteor 1.3.1 and new helper support, could I do something like this (like I usually do in Blaze) :

[code]

and chatList would be still reactive ?

[2015-12-14 04:28] shantanubhadoria commented on #939
Just to add a context on further issues this might create. I am stuck with broken reactive joins as well.

      let vm = $reactive(this).attach($scope);

      vm.helpers({
        myshelf: () => {
          return Shelfs.findOne({_id: 'abcdefgf'});
        },
        books: () => {
          return Books.find({_id: { $in: vm.myshelf.books}});
        }
      });

This too doesn't work, because w

[2015-12-14 06:02] Tallyb commented on #946
It adds visibility, and because you can see this:
[![Throughput Graph](https://graphs.waffle.io/urigo/angular-meteor/throughput.svg)](https://waffle.io/urigo/angular-meteor/metrics)

[2015-12-14 08:55] shantanubhadoria commented on #905
Hi @Urigo ,
I am using the new release now. I just finished rewriting my code base in the new Meteor like spec as suggested in the release blog post. I used FileSystem() storage for CollectionFS and can confirm that the file is uploading properly. However for some reason I am still not able to download the file from the url when I call document.url() on my image object.

In my Model:

    document

[2015-12-14 11:19] MilosStanic commented on #905
@shantanubhadoria no, definitely, it's a CollectionFS problem, and it's been described in several issues on their repo. So there's only hacks that you can use to try to solve this problem.
In your case, if you're storing to filesystem, it should be fairly easy to reconstruct the URL yourself?
Personally, I'm using GridFS, and I have two server methods to check file upload progress and if the uploa

[2015-12-14 16:36] burock commented on #940
I still dunno why i get that error but I changed the resolve with the below code and.. oila!! I'd appreciate though if anyone can I explain what I did wrong on the previous code..
[code]

[2015-12-14 17:58] suryaiiit commented on #744
I still see this issue.

[2015-12-14 19:20] Urigo opened #955 "How to handle reactive properties - discussion"
Hello,
In version 1.3 we introduced the `helpers` syntax which can take 2 types of values:

1. Functions - The function return value will be binded to scope and re-run reactively
2. Primitives - A primitive we be binded to scope and will trigger a reactive change every time it will change (reactive var). It's purpose is the same as [getReactively](http://www.angular-meteor.com/api/1.3.0/getReactiv

[2015-12-14 20:14] dyaa opened #956 "TypeError: Cannot read property 'categoryId' of undefined"
Well, I was updating to Version 1.3 and i have an error that i cant solve

`TypeError: Cannot read property 'categoryId' of undefined`

Here's my code

[code]

The problem is `article` cannot be resolved before getting `Category`.

Anybody can help me ?

[2015-12-14 20:19] Deadly0 commented on #955
@Urigo I like new API, especially that fact that we don't use collections wrappers anymore. In my app, where alot of data loading on one page, i see significant performance increase.

I guess we should stay with helpers and add deep reactive to non-function properties. IMHO, the main use of helpers is to receiving data from collection. If you use primitives in helpers it's should be not so huge to

[2015-12-14 20:32] Deadly0 commented on #956
@dyaa take a look at helpers. It should fix your problem.

[code]

Also, use can't check 404 page in this way in meteor, because data may be not loaded at this point of code, subscribe is asynchronous function.

[2015-12-14 20:38] dyaa commented on #956
@Deadly0 Thank you ...

I've updated my code to.

[code]

Should i make it a `Meteor.method` directly ? It'll solve this problem but it wont be reactive.

[2015-12-14 20:45] Deadly0 commented on #956
Thy this, article my be undefined, it's not a bug.
[code]

[2015-12-14 22:47] Urigo commented on #946
Graphs, number one cause of doing nothing....

[2015-12-15 02:28] shantanubhadoria commented on #955
I was using the old syntax i.e getReactively in my code and I moved over to helpers syntax only to realise midway that it doesn't do a deep watch.

To be honest I prefer the front-end data binding to be done by angularJs code as much as possible, because thats what its good at, so I preferred the old syntax. That way everything worked in a angularjs way. If we wanted blaze syntax we would have jus

[2015-12-15 09:37] sebakerckhof commented on #955
At first I was with @shantanubhadoria on this. Now that I've converted a part of my application, I found cases where I prefer the old API and cases where the new API is more useful. In a lot of other cases both are pretty equal and it comes down to a matter of taste.

About the 4 options you propose:

1. If this can be done in a performant way, but I can't think of any way without deep watching. T

[2015-12-15 15:00] dyaa commented on #956
@Deadly0 Sorry for my late answer.

No the ``article`` is defined am sure, The problem is the `article` data wasn't ready when the `Categories` Collection is called. That's why `article.categoryId` wasn't defined because sometimes it work and always not.

[2015-12-15 15:42] Deadly0 commented on #956
@dyaa did you try my example? Is it works?

[2015-12-15 16:48] dyaa commented on #956
Nope, But i made a router resolve to resolve the subscription and it's finally worked

[2015-12-15 16:48] #956 closed

[2015-12-15 17:20] activeperception commented on #763
Hi,

I just found out that my project (latest meteor@1.2.1 and angular-meteor@1.3.0) is effected by this bug too.

I add / remove an object to a subarray of a $meteor.object on ng-change and clicking rapidly the checkbox causes this exact issue (the remove sets the element to Null instead of stripping it from the DB).

I'll try to put together a toy project, see if I can replicate the problem, and

[2015-12-16 04:55] buitregool opened #958 "angular-templates v0.0.2 / templates-handler.js-L15 / Error: [angular-meteor][err][404] ... 'HTML template does not exists!'"
I review the file 'templates-handler.js' and I have the impression that the 'if' in L15 it's wrong. It should be the opposite case. Would be nice if someone could confirm it. Thank you!

[code]

[2015-12-16 10:39] JohnAReid commented on #919
@Urigo I am closing this as  have decided not to use Meteor anymore!
I do not need 3 way data binding, and my app builds times was getting painfully long (10 - 15 seconds) - I have switched back to node with express and the build times are almost instant.

The most deciding factor has been the on going discussioins about Galaxy and hosting sites - I am using Bluemix and the procedure is so easy wi

[2015-12-16 10:39] #919 closed

[2015-12-16 10:44] phund commented on #912
I have a same issue. Any idea here. Thank you!

[2015-12-16 10:54] sebakerckhof commented on #922
@Urigo what about:
-Split of `meteorUtils` to a separate package (e.g. `angular-meteor-utils`), remove deprecated messages
-Split of `meteorCollection/meteorObject` to a separate package which depends on the `angular-meteor-utils` package (e.g. `angular-meteor-data-legacy`), leave deprecated messages
-Split of `meteorAccounts` to a separate package which depends on the `angular-meteor-utils` packa

[2015-12-16 16:22] mitiaptest commented on #912
@phund I am able to help you.can you please explain what exactly you are doing ?

[2015-12-16 20:26] mgrivera commented on #878
@pbastowski

1. I upgraded *pbatowski:angular-babel@1.0.6* to *pbastowski:angular-babel@1.0.7*
2. this is my code (es2015):
[code]
3. this is what I get in *chrome debugger*:
[code]
4. Additionally, I receive this warning message in chrome debugger (console):

Evidently, I'm missing something ... but what?

Currently, I have *angular@1.2.3*. Do I have to upgrade *angular* package to a newer versio

[2015-12-16 20:52] Urigo commented on #955
Thank you so much for the valuable feedback!

I've also have offline and online talks with @yyx990803 @stubailo @netanelgilad @dotansimha

Looks like the direction for 1.3.1 will be what @sebakerckhof has suggested.

`getReactively` seems like the cleanest and less intrusive solution of them all.
It means that defining properties in Angular will stay exactly the same and only when we write Meteor

[2015-12-16 21:29] vacarsu opened #960 "Helpers not logging correct values in production (minifaction?)"
[code]
On localhost the two values log the user object, and true respectively. However on the production host I'm getting undefined for the user object, and false for isAdmin.

[2015-12-16 21:31] danielflippance commented on #85
"This is currently impossible with angular-ui-router" - Is this still the case? Is there any way to configure angular-u-router to pass on unhandled routes to the server?

[2015-12-16 21:50] Urigo commented on #922
@sebakerckhof that a good idea.
Hopefully by the end of the day we will have a separate accounts package and the rest later this week.
I will also love some help in that and maybe you can create the rest of the packages and pull request the `angular` to direct to that?

[2015-12-16 23:01] sebakerckhof commented on #922
Okay, i'll look into that.

[2015-12-16 23:29] DmitryEfimenko commented on #955
*TLTR*:
I think the new api is great! ... with just the exception that properties of objects placed in the `.helpers()` are not reactive.

*Details*:
For me it all really boils down to the following example written in TypeScript:

[code]

This code assumes that .`this.helpers()` actually make sub-properties of the `searchCriteria` object reactive too (which isn't currently working in 1.3.0).

It w

[2015-12-16 23:56] pbastowski commented on #878
@mgrivera
Your angular version is fine, but as you say, evidently something is still not working for you.

We should set up a remote debug session through hangouts, perhaps tomorrow, and then I can have a look at your code to see what is going on in there. How does that sound?

[2015-12-17 02:59] phund commented on #912
@mitiaptest
I use meteor 1.2.1, angular 1.2.2,  raix:push@3.0.2.
config.push.json:
{
  "gcm": {
    "apiKey": "xxxxxxxxxxxxxxxxxxxx",
    "projectNumber": xxxxxxxxxxx
  },
  "production": true
}
Push.send({
from: 'Test',
title: 'Hello',
text: 'World',
badge: 12,
query: {}
});
When I run in android simulator, it work properly. But when i build a .apk file and install on my phone, It doesn't work. N

[2015-12-17 07:28] #912 closed

[2015-12-17 07:30] mitiaptest commented on #912
@phund Get raix push git clone and include it into local packages folder I have resolved that issue and raix merged it into git but not published that changes yet.

[2015-12-17 07:32] phund commented on #912
@mitiaptest I will do it. Thank you very much :+1:

[2015-12-17 10:04] Urigo commented on #744
@justingrayston @suryaiiit I've tested it now and it works for me.
Can you please share a reproduction?

[2015-12-17 10:10] Urigo commented on #849
@buitregool can you share your code?

[2015-12-17 10:29] justingrayston commented on #744
I will update the original example app later tonight. My take on Uri's
comment was that as this API will be deprecated as of 1.4 the issue can be
closed as the core problem won't be an issue is you use helpers. I'll
branch a version using the helpers API, which should highlight any issues.

On Thu, 17 Dec 2015, 10:04 Uri Goldshtein <notifications@github.com> wrote:

[2015-12-17 13:05] tomtastico commented on #955
I agree with @DmitryEfimenko that the most intuitive way is to have helpers be deep by default. I think it is what most people expect and what will be needed in 90% of the cases. For the 10% of not using deep for performance, how about choosing it through the helper function? Have an argument that would set if the helper is deep or not. So solution 1 with an extra "deep" argument, defaulting to tr

[2015-12-17 14:28] Urigo commented on #919
@JohnAReid I'm very sorry to hear that.
I've forward your message inside the Meteor team.
It looks like in Meteor 1.3 there are going be improvements to build process performance and build process time is on the weekly agenda so I hope we will have more to share soon.

Besides that, does anyone experience the issue above with GroundDB as well?

[2015-12-17 15:25] netanelgilad commented on #940
@burock The code you used to fix your issue may indeed fix it, but the b property will not be reactive so you lose that.
I tried running your app to get to see the error and debug it, but I couldn't create the data to reach the point in the code that causes the issue.
Can you create some sample data in the server and explain the process to get to the error? you can also send me an email...

[2015-12-17 15:28] netanelgilad commented on #938
@leizard The code you wrote for 1.3 would work and would keep your helper reactive. We will release angular-meteor to bower with 1.3.1 version (which should be coming soon). Have fun!

[2015-12-17 15:32] leizard commented on #938
@netanelgilad thanh you very much for the great works :)

[2015-12-17 15:33] Urigo commented on #905
@MilosStanic thanks for the answer, can you also add a link to the existing issues on CollectionFS so that people will know where to refer to?

[2015-12-17 15:35] leizard commented on #938
I reopen it for anyone with similar issue could see. For now, I am using angular directives with $meteorAutorun to transform my returned list and keep it reactive. Looking forward 1.3.1 with new helper support and make my life easier :)

[2015-12-17 15:37] Urigo commented on #942
@sebakerckhof how would a Meteor developer who use Blaze would handle your use case?
Maybe we can add back something?

[2015-12-17 16:27] buitregool commented on #849
Yes sure. I opened an issue #958.

[2015-12-17 16:32] Urigo commented on #955
@DmitryEfimenko good points (and I love your use of Typescript) but I wonder if that's really more code to use `getReactively`.
We will solve the nested problem in helpers anyway in 1.3.1 but I want to have one way of doing things.
If you declare variables exactly like use would with Angular then just add reactivity when needed then it is more clean and easier to migrate to Angular 2.0.
In your so

[2015-12-17 16:43] Urigo commented on #849
thanks @buitregool , waiting for your code

[2015-12-17 17:19] mgrivera commented on #878
@pbastowski
Hi, I created a very small repository just for you to check out what is happening to me ... I live in a country (Venezuela) where Internet connection is not good. So I think having a Google hangout won't be a good idea.

This is what I did:
1. I created a *new* meteor project
2. Briefly modified the original meteor code to add a very few es2015 statements
3. Run the app in the browser

[2015-12-17 17:22] DmitryEfimenko commented on #955
@Urigo Yea, I'm all for removing code duplication. So if you think the `getReactively` case would be cleaner I'll only support it. If the code would look something like the below, I'm all for it:
[code]
This actually does look cleaner! Not only that, it would probably solve the @shantanubhadoria's concerns regarding having one subscription depend on the results of another... (or would it?) I'm als

[2015-12-17 17:48] DmitryEfimenko commented on #955
I just realized, angular's `$watch` takes a string, so I think the `getReactively` approach that you are thinking about would look like:
[code]
That's kind of unfortunate because of the magic string situation. Is there a way to make it work like in my previous comment?

[2015-12-17 18:18] burock commented on #940
@netanelgilad  yep, you're right, i loose the reactivity.. so still working on it.

well, there's no "specific" data. i just create a "building" on the first page by clicking on the + and then a second. And then when I pick one and try to see its details. when i go back to apartments and then pick the or other i get the error and can no longer see the details state.
i'll try to mongodump..
cheers

[2015-12-17 18:34] MilosStanic commented on #905
@Urigo
Yes, the issue at CollectionFS is best described here: https://github.com/CollectionFS/Meteor-CollectionFS/issues/323

[2015-12-17 18:51] Deadly0 commented on #960
@vacarsu data may be not loaded when you try to log it. Use $watch/autorun to be sure that data was loaded.

[2015-12-17 19:57] Urigo commented on #955
mmm maybe, that might be a good idea, care to have a look at the code? https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/modules/angular-meteor-reactive-scope.js#L22-L44

About your example, right now it will look like that:

    this.subscribe('parties', () => ['getParties', this.getReactively('searchCriteria', true)]).then(()=> {
        let params = queryConstruct

[2015-12-17 22:25] DmitryEfimenko commented on #955
I looked at the code and I see why it's problematic to make `getReactively()` accept the property itself rather than a property name... mostly because of [this line](https://github.com/Urigo/angular-meteor/blob/master/packages/angular-meteor-data/modules/angular-meteor-reactive-scope.js#L32)... that's how Tracker.Dependency array is managed... by the property name.
It's a shame we have to keep mag

[2015-12-17 23:28] mgrivera opened #961 "No such template '_resetPasswordDialog' when running my app in another machine"
Hi all,

I copied my project to another PC. I moved everything, except the directory *local* in *.meteor*. I saw that this was the only file (ie: dir) in *.gitignore*, so I ignored it when copying files from one PC to another.

Then I did a 'meteor run' in the other PC and everything worked fine. I run my app in the browser and everything worked. However, I got this message in debugger whenever my

[2015-12-18 03:37] sean-stanley commented on #955
Just to be part of the discussion I would prefer the API to have helpers of type Object be deeply reactive by default without having to call $getReactively or similar. I admit I don't know if there is likely to be a huge performance hit but I want to watch reactively an object with only about 6 string properties.

I did actually write a workaround for this issue by the way. I use a string primitiv

[2015-12-18 06:01] mattiLeBlanc commented on #955
Quesiton: how the Reactivity going to work with a model change?
For example, having a datepicker
[code]
When the user selects a date, now I get a notification of that by using autorun:
[code]

Is this going to be 'bad practice'? A helper doesn't seem to make sense because a helper (in Blaze) is mainly there to print stuff in templates, right?
So a model update doesn't fit in that category.
Still i

[2015-12-18 14:26] Koda1004 commented on #262
Same issue with the viz.js library. Ideally I want this code to run on the server, and I don't think the solution of putting it in /public works with that.

[2015-12-18 15:50] torayeff opened #965 "Using arrow functions"
Hi @Urigo. This is not real issue but a misunderstanding. I am following angular-meteor tutorial, and in some places you use arrow functions syntax and in some places normal functions syntax. For example:
[code]
or

[code]

If I use arrow function syntax in Meteor.methods or in directive constructor it will not work. Can you please explain when and where I can use arrow functions syntax?

[2015-12-18 17:00] mgrivera commented on #965
Hi,
Maybe I'm wrong, but I think you can use arrow function wherever you want. In the end, they will all be transpiled by babel to normal functions and will be all the same in that respect ...

[2015-12-18 17:01] eugenious opened #968 "(v1.3) TypeError: Cannot read property 'changed' of undefined"
I'd like to report a subtle bug which I tracked down to this point:

In my ui-router state definition I have:
[code]

When there is no logged in user:

**Expected**
currentUser to be undefined

**Actual**
I got a console error:
TypeError: Cannot read property 'changed' of undefined
    at ReactiveContext._propertyChanged (http://localhost:3000/packages/angular-meteor-data.js?

It is a subtle bug b

[2015-12-18 20:43] danielflippance commented on #85
I discovered that you *can* have angular-meteor on the client and IronRouter on the server at the same time with this little trick.

Add IronRouter.
On the client, add a global route for IronRouter that does nothing:

    if (Meteor.isClient) {
    	//We do not use IronRouter on the client
    	//but we need to have this route to prevent an iron router message being added to our page
    	Router.r

[2015-12-18 21:51] Tallyb commented on #965
Almost. Arrow functions do not change your "this"

[2015-12-18 23:02] jacobdr commented on #965
*tldr;* arrow functions are awesome because of their conciseness (syntactic
sugar) and ability to bind enclosing 'this' in a way that makes sense for a
majority of use cases, but can also lead to issues with libraries that
manipulate context regularly in their course of business

To expand on Tally's answer a little bit more, arrow functions
<https://developer.mozilla.org/en-US/docs/Web/JavaScript

[2015-12-18 23:38] justingrayston commented on #744
I modified the failing code to the 1.3 helpers API.

https://github.com/justingrayston/meteorjs-bookish/tree/max-call-stack-1.3

It is rough and ready, but it clearly doesn't have the max call stack error. It may exist in the old API still, but as that is under deprecation warning and people should move to the helpers API as per @Urigo stated. I would no longer class this a bug in this version of

[2015-12-18 23:38] #744 closed

[2015-12-19 02:04] Urigo commented on #955
@DmitryEfimenko The thing is that with your approach, you are making `searchCriteria` always reactive.
What happens if we use it in another `autorun` and there we don't want it to trigger a rerun?
The goal to use `getReactively` is to define reactivity only when and where it is needed so it will be very obvious to the developer what is happening and why things are triggering reruns.

@sean-stanley

[2015-12-19 02:16] Urigo commented on #262
@Koda1004 looks like this is a Meteor issue, there is a new thread on the Meteor forums to help us test build times on the new Meteor 1.3 beta, please review and comment there:
https://forums.meteor.com/t/help-us-test-build-times-in-meteor-1-3/15031

[2015-12-19 02:49] Urigo commented on #965
@jacobdr great answer, I've also linked to it from the [SO question](http://stackoverflow.com/a/34366429/1426570)

[2015-12-19 02:49] #965 closed

[2015-12-19 03:48] Urigo commented on #932
@westor21 I've added your suggestions to the docs, will be published after 1.3.1 will be released (hopefully tomorrow)

[2015-12-19 03:53] Urigo commented on #941
is anything using `getCollectionReactively` at all?

[2015-12-19 04:07] Urigo commented on #854
@mbeaudru Tomorrow I'm hopping to release 1.3.1 and then no :)

[2015-12-19 04:10] Urigo commented on #953
I've updated the messages and the docs on 1.3.1, hopefully will be out this weekend

[2015-12-19 04:13] Urigo commented on #960
Probably related to #968

[2015-12-19 05:13] torayeff commented on #965
@Urigo @jacobdr Thanks for short and simple explanations.

[2015-12-19 08:12] DmitryEfimenko commented on #955
uh, I just really don't like how verbose it becomes... hard to read code. Even have to horizontally scroll your example (and we know that's never good) to see the whole thing.

But would I be correct in assuming that I could write something like this:
[code]

[2015-12-19 11:22] pbastowski commented on #878
Thanks for providing a test repo. I cloned it and for me it works as expected. That is, when the debugger statement executes in the browser I actually see the ES6 code, see below:

![image](https://cloud.githubusercontent.com/assets/5649024/11912721/8ec3c902-a64a-11e5-9ec3-5edd14d0fcbe.png)

And here is a screenshot of my `meteor list`

![image](https://cloud.githubusercontent.com/assets/5649024/1

[2015-12-19 12:34] mgrivera commented on #961
Hi, just to say that this issue was fixed when I upgraded angular meteor package to the new version.
Thanks and bye ...

[2015-12-19 12:42] mgrivera commented on #878
@pbastowski
Wow, excellent to see *angular-babel* works as expected. Now I don't know what to check in my case. I can see (suppose) you are on a mac. I'm on Windows. Maybe I have to check my google chrome settings?
What is strange to me is that, in my case, the same scenario, but using core ecmascript package works perfect  for me.
Anyway, thanks for your help and bye ...

[2015-12-19 13:11] pbastowski commented on #878
You make a good point re Mac vs Windows. I have access to a windows machine at the moment, so, I'll try it on windows and see what results I get.

[2015-12-19 18:56] atoftegaard commented on #968
I receive the same error, however in a slightly different scenario. If I refresh my browser on the faulty page, and it does a full page refresh, there is no error. If I reload the browser on a different page, and then navigate to the faulty page, I get the error. It seems related to Meteor.user(), but it happens even though I am logged in. My directive looks like this:

    .controller('TeamDetail

[2015-12-19 19:12] pbastowski commented on #878
I just tried the same repo under Meteor for Windows 7 and the result was the same - I see the ES6 code, not the transpiled code.

[2015-12-19 20:28] Urigo commented on #961
thanks for updating

[2015-12-19 20:28] #961 closed

[2015-12-20 00:51] eugenious commented on #968
There's too much code here, try and see if you can narrow it down to one line. I can guess that maybe it's the Meteor.user().profile.invites which is giving the error. Maybe when everything starts up, Meteor.user() *starts* by being undefined and you should handle that case in your code?

Just guessing.

[2015-12-20 02:32] Urigo commented on #528
Please check out the new `getReactively` in 1.3.1 version and let me know if that still happens to you

[2015-12-20 02:34] Urigo commented on #937
Fixed in the new [1.3.1 release](https://github.com/Urigo/angular-meteor/releases)

[2015-12-20 02:34] #937 closed

[2015-12-20 02:35] Urigo commented on #938
I've released the new [1.3.1 version](https://github.com/Urigo/angular-meteor/releases), I will publish it to Bower in about 2 days

[2015-12-20 02:36] Urigo commented on #939
Fixed in the new [1.3.1 release](https://github.com/Urigo/angular-meteor/releases).
But as I've said in the discussion, I've added a message that you should move to use [getReactively](http://www.angular-meteor.com/api/1.3.1/get-reactively) when you want to make a regular variable reactive.

[2015-12-20 02:36] #939 closed

[2015-12-20 02:37] Urigo commented on #940
Any news on that issue?  can you try with the new [1.3.1 release](https://github.com/Urigo/angular-meteor/releases)?

[2015-12-20 02:38] Urigo commented on #941
Closing as I don't think anyone really needs that

[2015-12-20 02:38] #941 closed

[2015-12-20 02:38] Urigo commented on #943
Fixed in the new [1.3.1 release](https://github.com/Urigo/angular-meteor/releases)

[2015-12-20 02:38] #943 closed

[2015-12-20 02:42] Urigo commented on #955
I've released the new [1.3.1 version](https://github.com/Urigo/angular-meteor/releases).
It has the API like I've said before - fixes the nested problem on helpers but recommend you to use [getReactively](http://www.angular-meteor.com/api/1.3.1/get-reactively).
You gave really good points, but I think that the risks of making reactivity implicit when running a large scale app are greater then the

[2015-12-20 02:42] #955 closed

[2015-12-20 02:42] leizard commented on #938
Wow. Such a good news on a Sunday morning. Cheers!

[2015-12-20 02:42] Urigo commented on #958
@buitregool any news or reproduction?

[2015-12-20 02:43] Urigo commented on #960
@vacarsu have you tried changing `currentUser` to `currentUser1` ?
Did it help?

[2015-12-20 03:24] rizqevo commented on #958
+1 for issue, my case was load html using ui-router
[code]
@Urigo 1.3.1 still have this, updates
[code]
to
[code]
it fixes me

[2015-12-20 03:30] Urigo commented on #940
Is there a chance that this is the same issue as here?  https://github.com/Urigo/angular-meteor/issues/968

[2015-12-20 05:46] buitregool commented on #958
HI @urigo. Sorry for my delay. I did the same amend that @rizqevo and works perfectly. I'm also using ui-router but my templates are inside packages. Anyway, this is my environment:

**Packages:**
accounts-password               1.1.4  Password support for accounts
angular                         1.3.0+ Everything you need to use AngularJS in your Meteor app
angular:angular-material        1.0.0

[2015-12-20 06:29] lance-anderson opened #978 "Getting error Failed to execute 'insertBefore' on 'Node' when trying to use Ionic directives inside of a Blaze template (example repo included)"
Forgive me if this is the wrong place to post this; I'm not sure where it should go. The issue seems to be at the intersection of Blaze+Angular+Ionic.

Building upon the [blaze-template](https://github.com/Urigo/angular-meteor/tree/master/examples/1.2/blaze-template) example from this repo, I created an [example repo](https://github.com/lance-anderson/blaze-template-using-ionic) that illustrates w

[2015-12-20 11:38] gjr-qm opened #979 "Tutorial - Angular 1 - Step 3 shows no parties"
On my local machine it runs ok, but http://socially-step03.meteor.com/ shows no parties...

Developertools in Chrome show the parties are in the partiesList, but somehow angular is not aware of that.

[2015-12-20 11:47] gjr-qm opened #980 "Tutorial - Angular 1 - Step 4 database updates have to be triggered to get on screen"
Same as Step 3: Initially parties are not loaded and updates from other clients are not visible until you trigger them with a digest cycle (typing a character in one of the inputs for example).

I didn't try this on my machine, but http://socially-step04.meteor.com/ shows the issue.

[2015-12-20 15:10] michaelszt opened #981 "(v1.3.1)Data change not be saved to MongoDB when using ui-grid!"
After I moved my code from v1.2.3 to v1.3.1 , I always can not make my ui-grid work correctly. Here is my code:

    angular
        .module('Aries')
        .controller('TPSCtrl', TPSCtrl);
    TPSCtrl.$inject = ['$scope', '$reactive'];
    function TPSCtrl($scope, $reactive){
        $reactive(this).attach($scope);
        $scope.subscribe('termparams');
        $scope.helpers({
            tps:

[2015-12-20 16:00] burock commented on #940
Hi,
In fact, I no longer get the same error. This time it is:
[code]
And the return from the resolve object is always the first chosen--it never changes..
Cheers,
b

[2015-12-20 16:33] burock commented on #940
No, my mistake sorry. After the upgrade it started working. I changed the code as this:
[code]
Thanks very much..
b

[2015-12-20 17:46] hlehmann commented on #528
looks like `$scope.getReactively` is defined by `angular-meteor.reactive` instead of `angular-meteor.reactive-scope`.

[2015-12-20 17:50] #940 closed

[2015-12-20 18:05] mgrivera commented on #878
Hi @pbastowski,

Many thanks for all your help. I will check this a little more tomorrow to see if I find out something. I really want to make this work. I'll keep you informed. Thanks again and bye ...

[2015-12-20 18:54] hlehmann opened #983 "1.3.1 reactive-context override reactive-scope"
`$scope.getReactively` and `$scope.helpers` are defined by reactive-context causing unexpected results only after 1.3.1

[2015-12-20 19:06] jacobdr commented on #955
+1 

Great community discussion. Looking forward to more of these as our community matures. 

—
Sent from mobile

On Sat, Dec 19, 2015 at 9:42 PM, Uri Goldshtein <notifications@github.com>
wrote:

[2015-12-20 22:05] Urigo commented on #528
@hlehmann it's defined in both so you would be able to use in both on $scope and both on `this` when using controllerAs syntax (or any other object as context)

[2015-12-20 22:12] Urigo commented on #978
I haven;t looked at it deeply yet, but can you check if it's working better when using version 1.2.1 of angular-with-blaze?

[2015-12-20 22:13] Urigo commented on #979
I think the deployed version is not updated yet, will try top update it tomorrow

[2015-12-20 22:14] Urigo commented on #980
Might be that the deployed version in not updated.
Can you please try to run locally?

[2015-12-20 22:16] Urigo commented on #981
First thing is that if you are in a regular $scope syntax, you don't need to add `$reactive(this).attach($scope);` but I'm not sure if that's your problem.
Can you please share a full repo I can play with?

[2015-12-20 22:17] Urigo commented on #983
The goal is to make both `$scope.getReactively` and `this.getReactively` work.
Can you please share what is that a problem you are experiencing?

[2015-12-20 22:27] MilosStanic opened #984 "(v1.3.1) Two warnings unrelated to app code"
Hi all,

I've made a total move to v.1.3.1 in my app, and everything works perfectly, as far as I can see.
The new `this.getReactively` syntax works fantastic, and is a perfect fit for both using `$scope` and using `controllerAs` syntax.

However, I'm getting two warnings about deprecated methods, even though I eliminated all old stuff from my code:

[code]
I'm totally positive I don't use `Meteor

[2015-12-20 23:53] hlehmann commented on #983
I reuse your example but with `$scope`
[code]
Problem: `$scope.getReactively('myUser.id')` return undefined.

I find that `$scope.getReactively` is pointing to the method defined in reactive-context and not in reactive-scope.

[2015-12-20 23:54] hlehmann commented on #983
By the way, I have no issue with the `this` version

[2015-12-20 23:55] lance-anderson commented on #978
Thanks for getting back to me; I appreciate it. I've tried `angular-with-blaze@1.2.0`, `angular-with-blaze@1.2.1`, and `angular-with-blaze@1.3.1` all with the same result.

[2015-12-21 10:18] leizard opened #985 "Not success update to 1.3.1 from Bower"
Hi, is Angular-meteor updated to 1.3.1 in Bower. I saw the updated status in Bower a dozen hours ago and start updating Angular-meteor in my project with

[code]

which returns:

[code]

in the package folder, the version in .bower.json file changed to 1.3.1 but in bower.json it still 1.2.1
Finally, when I use new api such as helpers:

[code]

I had error:

[code]

It seem like I haven't updated t

[2015-12-21 12:23] Urigo commented on #983
Ohhh, you need to change

    $scope.myUser: {
        id: 10
    };

to

    $scope.myUser = {
        id: 10
    };

Where is the example so I can update it as well?

[2015-12-21 14:31] michaelszt commented on #981
@Urigo ,I create a demo repo, https://github.com/michaelszt/demo
In file "client/term/controllers/termParams.js", the current code can not work correctlly, and the commented code below is my original code based on v1.2.3, which can save data change to MongoDB after edit ui-grid.

[2015-12-21 14:38] Urigo commented on #984
mmmm about collection extensions, I have no idea, we don't use it anywhere (https://github.com/rclai/meteor-collection-extensions)

About the `currentUser/loggingIn` warning, I think I will remove it because if I'll place it somewhere else, it will pop up every time the user will change and that is too much

[2015-12-21 14:39] Urigo commented on #985
it is not yet updated because the bundle is not out....

[2015-12-21 14:39] Urigo commented on #985
sorry for the confusion

[2015-12-21 14:40] rizqevo commented on #958
-1 for issue, my folder structure needs rearrange. running 1.3.1 as default. Thanks @Urigo and team

[2015-12-21 14:41] hlehmann commented on #983
Well unfortunately no...
Here a little repo that show what looks like an issue, it's the same example but the result is `10` and not `29`.
https://github.com/hlehmann/angular-meteor-demo/blob/master/client/hello.js#L10

[2015-12-21 14:42] MilosStanic commented on #984
I recieved a warning about some dep package needed to be updated manually when I was moving to v1.3.1, so maybe this package uses collection extensions. Unfortunately I didn't write it down.
And this seems like a Meteor core warning.

[2015-12-21 14:42] #984 closed

[2015-12-21 14:44] Urigo commented on #958
@buitregool looks like you are using the `angular` library but the templates are `ng.html`.
and if you want to use `ng.html` instead of `html` you need to use the `angular-with-blaze` package instead..

[2015-12-21 14:51] hlehmann commented on #983
After a timeout it seems to work
[code]
console:
[code]

[2015-12-21 14:51] buitregool commented on #958
I just left the extension '.ng.html' because it's an old project. If you rename all the file extensions to '.html' you will have the same issue. There is no blaze code inside. And if you look at the code L13 in 'templates-handler.js', you would realize that it doesn't matter because the code pops the last element from the split witch is 'html':
[code]
I hope this helps. Cheers.

[2015-12-21 16:10] leizard commented on #985
Ok. just want to hear a confirmation to make sure I didn't do anything wrong.
It would be awesome if you could inform here whenever the bower version is ready to update.
Thank you :smile:

[2015-12-21 19:36] mbeaudru commented on #854
I solved my problem with the "old" Angular Meteor release thank's to this post : http://errors.site/scope-upload-function-file-images-insert-file-file-function/1707556

And there is my (ugly) code which solved the problem for me :

[code]

[2015-12-21 20:08] dyaa opened #986 "Cannot handle 404"
Hey All,

I'm using Angular-meteor using the AngularUI Router and i cannot handle the `404` errors, I'm wondering if anybody had to deal with that specially it's `ABC` for SEO.

Currently i'm redirecting any not found entities to the route `/404` but with status code is `200`.

For more information i'm also using Meteor's `spiderable` package for rendering the page.

Also i found [Prerender.io][1]

[2015-12-22 02:21] vacarsu opened #987 "Maximum Call stack size exceeded when using CollectionFS url() - 1.3.1 syntax"
[code]
It still displays the image but going to the route takes a bit longer than it should while it logs maximum call stack size exceeded several times. It also seems to log it every digest cycle.

[2015-12-22 09:35] super5354 opened #988 "Match.check(1, Number) throws an exception in iOS Chrome or desktop Safari"
Match.check(1, Number) throws an exception in iOS Chrome or desktop Safari causing operations like below fails to run
[code]
because it fails to validate the type of the limit argument as Number

I suspect that the pbastowski:angular-babel package, which angular-meteor depends on, is doing something funny with the Number constructor

Any idea how to get this working please?

[2015-12-22 09:41] MilosStanic commented on #987
If you've just switched from v1.2 to v1.3.1, check in your code if you still have old style searching for image records with underscore. If you do, it will cause Max Call stack size exceeded error.
From v1.3 all searches, writes, etc, should be executed directly upon collection.

[2015-12-22 10:15] dagatsoin opened #989 "ngForward or Angular2Now?"
Which one to use with angular:angular?

[2015-12-22 11:23] tvgrieken opened #991 "Reactive function breaks after upgrading to 1.3.1"
Although below example is something you could achieve with a filter too, this used to work. I use this in a setting where I join collections in combination with the publish composite package.

Controller:
[code]

[2015-12-22 15:07] activeperception commented on #981
+1 same problem

[2015-12-22 19:22] dotansimha commented on #991
Hi @tvgrieken , can you provide the actual repository so I try it on my local meteor?

Also, what is your purpose with returning the method inside the helper? It looks like nothing in your code needs to be reactive.. am I wrong?

Please provide more information. Thanks!

[2015-12-22 19:23] dotansimha commented on #989
Hi @dagatsoin,
We recommend using @pbastowski 's angular2-now, you can use the examples with `components` and `controllerAs` code styles, and use `@Component` syntax, then call `$reactive(...)` inside the component constructor.

[2015-12-22 19:23] #989 closed

[2015-12-22 19:25] dotansimha commented on #988
Hi @super5354,
Can you provide a running example?

Also, did you try to check `pbastowski:angular-babel`, for known issues?

Thanks.

[2015-12-22 19:28] dotansimha commented on #987
@MilosStanic is right, Angular-Meteor 1.2 CollectionFS wrapper breaks the 1.3.
Also, please try to return the `.url()` value of the image you try to fetch.

[2015-12-22 19:31] dotansimha commented on #986
Hi @dyaa ,
The 404 issue is a Meteor's issue, and not Angular-Meteor.
Also, we recommend using AngularJS routers (such as `ngRouter` or `angular-ui-router`) which eliminates the need to handle routes on the server side.

You can also try to use `iron-router` inside a package, load it only in the server side, and create a route for 404 with the correct header.
For more information about Meteor and

[2015-12-22 19:31] #986 closed

[2015-12-22 19:34] dotansimha commented on #981
Hi @michaelszt, do you mean the you used the auto-bind feature in 1.2.x? because it does not available in 1.3...

[2015-12-22 21:41] 7immy opened #996 "client/app.ts (3, 42): Cannot find module 'angular2/angular2'."
Trying to go through your angular2 tutorial and constantly keep hitting this road block.
 Does anyone know how I can resolve this?

Error:
client/app.ts (3, 42): Cannot find module 'angular2/angular2'.

The code in question:
[code]

[2015-12-22 22:33] gjr-qm opened #997 "Tutorial - Angular 1 - Step 5 and up: Maximum call stack size exceeded"
While i was debugging my own application using the tutorial as a guide, i discovered that from step 5 onwards, there is a 'Maximum call stack size exceeded' when you select the body tag in devtools Chrome. At first i saw the message on my local machine, but the online version http://socially-step05.meteor.com/parties also has this error/message.

The stack message is:
[code]
This also happens on m

[2015-12-22 22:34] gjr-qm commented on #979
On my local machine with 1.3.1. it's ok!

[2015-12-22 22:35] gjr-qm commented on #980
A local run (with 1.3.1) doesn't have this problem.

[2015-12-22 23:03] danielflippance opened #998 "Using ES6 on server alongside angular-meteor on client"
To use the new ES6 features on the server side I see that we need to have the ecmascript package installed. This was one of the packages removed during the installation of angular-meteor and when I re-install it, I see the following conflict with angular-babel:

    error: conflict: two packages included in the app (pbastowski:angular-babel and ecmascript) are both trying to handle *.js

I see tha

[2015-12-22 23:04] jacobdr commented on #996
Maybe the leading slash on typing is looking in your root directory. You may want to just try:

/// <reference path="typings/angular2-meteordts" /> i

Or some other variety of path modification

—
Sent from mobile

On Tue, Dec 22, 2015 at 4:41 PM, James <notifications@github.com> wrote:

[2015-12-22 23:29] vacarsu commented on #987
I have updated the entire app to the new syntax, but I am still getting this error.

[2015-12-23 00:01] super5354 commented on #988
The problem can be reproduced using the simple-todo example (https://www.meteor.com/tutorials/blaze/creating-an-app) with below modifications.

simple-todos.html
[code]
simple-todos.js
[code]
packages
[code]

The left screen is desktop safari with the wrong result. You will find the same if you view the page with iOS chrome with iPhone.
![screenshots](https://cloud.githubusercontent.com/assets/163

[2015-12-23 03:43] michaelszt commented on #981
@dotansimha ,thank you for your help, do you know how to use ui-grid in 1.3.1?

[2015-12-23 08:32] gjr-qm commented on #997
Did some further investigation: The problem appears directly after including the angular package in step 0.5 and disappears again in step 11 when module initialization is changed.

To see the error message:

* follow tutorial up to the 'meteor add angular'
* in devtools select html tag and check the $scope

Looks like there is an infinite loop in angular_angular.js when the app isn't setup 'proper

[2015-12-23 08:51] MilosStanic commented on #987
@vacarsu as a personal insight: I'm not using FS.File methods from templates anymore. One of the main reasons was that I figured out that .url() method is not ready immediately upon upload and I wasn't able to fetch images' urls to write them to my other collections. So when I upload, I ping the server to ask if file isStored() and then when it is, I fetch the url from server, and write it in my c

[2015-12-23 11:08] ThomsCass opened #999 "blaze template"
I try to use this package with angular-meteor : 255kb:meteor-status

It has a template to import called meteorStatus

So what I did is this :

`meteor add urigo:angular-blaze-template`

`<blaze-template name="meteorStatus"></blaze-template>`

Here is the error I got :

`ReferenceError: Template is not defined
    at link (http://localhost:3000/packages/urigo_angular-blaze-template.js?e5e45916605fd

[2015-12-23 12:49] Urigo commented on #988
@pbastowski

[2015-12-23 12:58] Urigo commented on #999
You should use `angular-with-blaze` package instead of the `angular` package in case you want to work also with Blaze templates

[2015-12-23 13:14] pbastowski commented on #988
Guys, I will look into this in a few hours.

[2015-12-23 13:19] ThomsC commented on #999
Ok but then you can't use angular template. I thought it was possible sometimes to combine both..

[2015-12-23 13:36] dotansimha commented on #958
Hi @buitregool ,
Just a quick brief about `templates-handler.js`:
Angular-Meteor takes all the `.html` files and put them in `$templateCache`, which means that every `.html` that you'll try to load (via $http, `template:`, or `templateUrl:`) should come from the `$templateCache`, so this means that if a template does not exists in the `$templateCache` - it does not exists in your project.
By defau

[2015-12-23 13:53] Urigo commented on #999
It is possible, that's why it's called `angular-with-blaze`...

[2015-12-23 14:10] mgrivera commented on #998
Hi @danielflippance ,
Do you think *angular-babel* is not transpiling "server code"? ...

[2015-12-23 14:44] dotansimha commented on #983
@hlehmann , fixed in https://github.com/Urigo/angular-meteor/commit/d42a1853807c1604b4391f030115bf9ab7679ee6

@netanelgilad @Urigo, please review it

[2015-12-23 14:47] dotansimha commented on #998
@pbastowski

[2015-12-23 14:54] kamilkisiela commented on #998
@danielflippance I'm using angular-babel for both sides, server and client in my project.

[2015-12-23 15:18] michaelszt commented on #981
@Urigo , do you have any solution for using ui-grid in 1.3.1?

[2015-12-23 15:23] dotansimha commented on #981
@michaelszt , you need to create a server side method that will update your data in the MongoDB.
Start by using `Meteor.methods` in the server side, and the call your function using `Meteor.call` in the client side.
You can use ui-grid's API to know when the user changes the data, I think this feature called `afterCellEdit`.
Please re-open if you have any further questions.

[2015-12-23 15:23] #981 closed

[2015-12-23 15:33] pbastowski commented on #998
I already have this feature working in a separate branch and even with SystemJS. I'm out shopping right now, but have a look at this: https://github.com/pbastowski/angular-meteor-babel/tree/feature/server-systemjs

[2015-12-23 15:35] pbastowski commented on #998
I haven't completed testing this new branch, which is why it's not released yet.

[2015-12-23 15:46] tvgrieken commented on #991
Hi @dotansimha !

I implemented the suggestions here to achieve reactive joins: https://github.com/Urigo/angular-meteor/issues/749

This part specific:

[code]
Modified to 1.3 API and working as expected, achieving reactivity:

[code]

[2015-12-23 16:25] torayeff commented on #983
@Urigo What does this mean:
```[angular-meteor][helpers] Your tried to create helper for primitive 'searchText', please note that this feature will be deprecated in 1.4 in favor of using 'getReactively' - http://www.angular-meteor.com/api/1.3.1/get-reactively```

Do we need to use again:
``` this.getReactively('searchText') ```
instead of defining in helpers?

[2015-12-23 18:49] pbastowski commented on #988
@super5354

Could you please post your `.meteor/versions` file here?

I just tried `Match.test(1, Number) ` in my Chrome 47.0.2526.80 console and it works fine, see below. Yes, I know you mentioned Chrome on IOS, but I needed a baseline :)

![image](https://cloud.githubusercontent.com/assets/5649024/11982655/644a10f8-a9ad-11e5-9258-878fdca36def.png)

In Safari 9.0.2 on OS X it also works fine

![i

[2015-12-23 18:50] pbastowski commented on #988
@super5354

It would help if you could upload a repo to github that reproduces the issue. Then, I can examine the exact same code and configuration as you are experiencing problems with.

[2015-12-23 18:55] pbastowski commented on #998
@danielflippance

I just tested server side ES6 JS compilation and it works for me with the published `pbastowski:angular-babel@1.0.7`. What version are you using?

Can you please post your `.meteor/versions` file here?

[2015-12-23 19:03] danielflippance commented on #998
Here it is:

    accounts-base@1.2.2
    accounts-password@1.1.4
    accounts-ui@1.1.6
    accounts-ui-unstyled@1.1.8
    alanning:roles@1.2.14
    angular@1.2.3
    angular-meteor-data@0.0.6
    angular-templates@0.0.2
    angular:angular@1.4.8
    angularui:angular-ui-router@0.2.15
    autopublish@1.0.4
    autoupdate@1.2.4
    babel-compiler@5.8.24_1
    babel-runtime@0.1.4
    base64@1.0.4

[2015-12-23 19:08] pbastowski commented on #998
ok, that's a whole lot of packages there. I see you have `ecmascript` in there also. I will try to help you resolve this issue.

First, you need to

    meteor remove ecmascript

Then

    meteor update pbastowski:angular-babel

I expect it to be updated to 1.0.7.

What do you get now when do the below?

    meteor list

Was angular-babel updated to 1.0.7?

[2015-12-23 19:38] pbastowski commented on #998
If it's still not working then I'll need to look at your repo or a repo that reproduces the problem. That will enable me to help you the quickest. We could do a hangouts screen-sharing session, for example.

[2015-12-23 19:43] danielflippance commented on #998
Yeah, strangely I have already removed ecmascript, but it still shows up in .meteor/versions

    $ meteor remove ecmascript
    ecmascript is not in this project.

It's also not in my ./meteor/packages file:

    # Meteor packages used by this project, one per line.
    # Check this file (and the other files in this directory) into your repository.
    #
    # 'meteor add' and 'meteor remove' wil

[2015-12-23 19:45] pbastowski commented on #998
OK. Cool.

Let's do a google hangouts right now. Are you able to?

[2015-12-23 19:57] danielflippance commented on #998
I've actually worked around the problem at the moment without having use use Proxy so it's no longer an issue for me at this time. I kept the conversation going in case there was an obvious answer for the community. If you think that a quick investigation of the issue might be useful to the community in general I'd be happy to Hangout, otherwise, I'm OK with leaving it here for now.

[2015-12-23 19:58] pbastowski commented on #998
Let's leave it for now, then. Let me know if you need further help.

[2015-12-23 19:59] danielflippance commented on #998
OK great, thanks for the support @pbastowski

[2015-12-23 20:46] #998 closed

[2015-12-23 23:33] #983 closed

[2015-12-23 23:42] super5354 commented on #988
@pbastowski here you go https://github.com/super5354/check-number.git

Sorry, I should be more specific. Chrome Windows works fine for me too; while Safari Windows 5.1.7, iOS Chrome and iOS Safari do not work. I am using angular-meteor for web/mobile app development. I found this issue when testing it with iPhone using browsers.

[2015-12-24 00:07] pbastowski commented on #988
Windows Safari 5.1.7 is not supported, sorry.

What IOS version are you testing with?

[2015-12-24 06:26] blntylmn opened #1002 "Collection empty when changing route"
I am following the angular 1 tutorial with meteor-angular 1.3.1. In Step 9 when I change the route from parties list to party detail Parties collection (i mean client side) is empty if I not subscribe again in the party details controller. I think this should not the normal behaivour. Am I doing some thing wrong or is this a bug ?
Edit: I also downloaded your step 10 zip file and commented out "th

[2015-12-24 08:14] ozsay commented on #999
@ThomsC you can.

All you need to do is save angular templates with `.ng.html` and blaze templates with `.html`.

This way angular and blaze won't collide.

[2015-12-24 08:31] super5354 commented on #988
iOS: 8.3 (12F70)
iOS Chrome: 47.0.2526.107

[2015-12-24 13:22] mxab commented on #988
this maybe related to this one: https://github.com/pbastowski/angular-meteor-babel

[2015-12-24 13:27] mxab commented on #988
@super5354 can you check if the error disappears if you add the pbastowski:angular-babel package before the other packages (put it on top of the packages file)

[2015-12-24 14:43] mgrivera commented on #1002
Hi @blntylmn,

I absolutely think you should control if subscription stops or no (when changing routes). This doesn't seem so in the new api.

In the previous angular-meteor api:

1. **$meteor.subscribe**: won't stop the subscription if you change routes
2. **$scope.$meteorSubscribe**: will stop the subscription always, when $scope is destroyed

I've not used the new api yet, but according to what